{% extends 'FDCCourtMetrageBundle::base.html.twig' %}

{% block main %}

    <div id="main" class="single-movie loading">
        <span id="addtext">Ajouter à ma sélection</span>
        <div id="canvasloader" class="canvasloader"></div>
        <div class="content-movie">
            {% include 'FDCCourtMetrageBundle:Movie:partials/nav.html.twig' with ({
                    film_format: '156x206',
                })
            %}
            <span id="plx"></span>
            {% include 'FDCCourtMetrageBundle:Movie:partials/banner.html.twig' with ({
                    film: movie,
                    film_format: '975x535',
                    film_image_default: 'bundles/fdccourtmetrage/img/palmares/film_w293.jpg'
                })
            %}
            <div id="nav-movie">
                <div class="container">
                    <ul>
                        {% if movie.associatedMediaVideos|length > 0 %}
                            {% set firstVideo = null %}
                            {% for video in movie.associatedMediaVideos if firstVideo is null %}
                                {% set video = video.mediaVideo %}
                                {% set trans = video.findTranslationByLocale(app.request.locale) %}
                                {% if trans is not null and trans.jobMp4State == 3 %}
                                    {% set firstVideo = video %}
                                {% else %}
                                    {% set trans = video.findTranslationByLocale('fr') %}
                                    {% if trans is not null and trans.jobMp4State == 3 %}
                                        {% set firstVideo = video %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if firstVideo is not null %}
                                <li><a href="#videos">videos</a></li>
                            {% endif %}
                        {% endif %}
                        {% if movie.getActors()|length > 0 or movie.getCredits()|length > 0 %}
                            <li><a href="#casting">crédits & casting</a></li>
                        {% endif %}
                        {% if movie.getMedias()|length > 0  or movie.selfkitImages|length %}
                            <li><a href="#photos">photos</a></li>
                        {% endif %}
                        {% if articles|length > 0 %}
                            <li><a href="#news">actualites</a></li>
                        {% endif %}
                        {% if movie.associatedMediaAudios(app.request.get('_locale'))|length > 0 %}
                            <li><a href="#audios">audios</a></li>
                        {% endif %}
                        <li><a href="#press">infos presse</a></li>
                    </ul>
                    {% set secondTitle = null %}
                    {% if movie|trans_fallback_movie('title') is not empty and movie|trans_fallback_movie('title') != movie.titleVO %}
                        {% set mainTitle = movie.titleVO %}
                        {% set secondTitle = movie|trans_fallback_movie('title') %}
                    {% else %}
                        {% set mainTitle = movie.titleVO %}
                    {% endif %}
                    {% set directorsName = '' %}
                    {% for director in movie.getDirectors() %}
                        {% set directorsName = directorsName ~ ' ' ~ director.person.fullName %}
                    {% endfor %}
                    <div class="buttons square">
                        <a href="http://www.facebook.com/dialog/feed?app_id=1198653673492784&link={{ url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}&picture={% include 'FDCEventBundle:Global:components/film.poster.share.html.twig' with ({ film: movie, film_format: '293x397', display_film_path: true, film_image_default: fdc_event_scheme ~ '://' ~ fdc_event_domain ~ '/bundles/fdccorporate/media/images/film_w256.jpg',}) %}&name={{ mainTitle|url_encode(true) }}%20-%20{{ directorsName|url_encode(true) }}&caption=&description={{ movie|trans_fallback('synopsis')|url_encode(true) }}&redirect_uri=http://www.festival-cannes.com/fr/sharing&display=popup" rel="nofollow" class="button facebook">
                            <i class="icon icon_facebook"></i>
                        </a>
                        <a href="https://twitter.com/intent/tweet?text={{ ('#Cannes' ~ movie.festival.year )|url_encode(true) }} {{ mainTitle|url_encode(true) }} {{ directorsName|url_encode(true) }} {{ url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" rel="nofollow" class="button twitter">
                            <i class="icon icon_twitter"></i>
                        </a>
                        <a href="#" class="button self"><i class="icon icon_link"></i></a>
                        <a href="#" class="button email self"><i class="icon icon_lettre"></i></a>
                        <a href="#" onclick="javascript:window.print()" class="button print"><i class="icon icon_print"></i></a>
                    </div>
                </div>
            </div>

            {% include 'FDCCourtMetrageBundle:Movie:partials/videos.html.twig' with { videos: movie.getPublishedAssociatedMediaVideos(app.request.get('_locale')) } %}

            <div class="container">
                {% include 'FDCCourtMetrageBundle:Movie:partials/casting.html.twig' %}

                {% include 'FDCCourtMetrageBundle:Movie:partials/photos.html.twig' with { 'photos' : movie.medias, 'selfkits' : movie.selfkitImages } %}
            </div>
            <div class="news" data-section="news">
                <div class="articles center">
                    <div id="slider-news" class="owl-carousel">
                        {% for article in articles %}
                            {% include 'FDCCourtMetrageBundle:Movie:partials/article.html.twig' with {'article' : article} %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if movie.associatedMediaAudios is not null %}
                <div class="container">
                    <div class="audios {% if movie.associatedMediaAudios|length < 2 %}single-article{% endif %}" data-section="audios">
                        {% for associatedMediaAudio in movie.associatedMediaAudios %}
                            {% include 'FDCCourtMetrageBundle:Movie:partials/audio.html.twig' with { 'mediaAudio': associatedMediaAudio.mediaAudio } %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% include 'FDCCourtMetrageBundle:Movie:partials/press.html.twig' %}
            {% include 'FDCCourtMetrageBundle:Movie:partials/competition.html.twig' %}

        </div>
        <span class="anim"></span>
    </div>
    <!-- POPIN MAIL SHARE -->
    <div class="popin-mail popin">
        <div class="contain-popin popin">
            <strong class="theme-article popin">Cinéma de la plage</strong><span class="date-article popin">18.05.15 . 09:00</span>
            <h2 class="title-article popin">Enragés, polar hybride d'Éric Hannezo</h2>
            <div class="chap-article popin">Ancien journaliste devenu producteur et cinéastre, Éric Hannezo s'aventure pour son premier film sur les routes nord-américaines et signe un polar hybride à l'affiche duquel on retrouve Lambert Wilson et Franck Gastambide.</div>
        </div>
        <form action="" id="form" class="popin">
            <input class="popin" type="text" placeholder="Email des destinataires*" name="email-dest" data-error="L'adresse email du destinataire n'est pas valide" required><span class="complet-infos popin">Séparez les adresses par des virgules</span>
            <input type="email" placeholder="Votre adresse email*" class="popin" name="email-user" data-error="Votre adresse email n'est pas valide" required>
            <span class="complet-infos popin">
              <input type="checkbox" class="popin" id="mail-copy" name='mail-copy'>
              <label for="mail-copy" class="popin">M'envoyez une copie par email</label>
            </span>
            <textarea placeholder="Votre message" name="message" class="popin"></textarea>
            <span class="complet-infos newsletter popin">
              <input type="checkbox" class="popin" id="newsletter-mail" name='newsletter-mail'>
              <label class="popin" for="newsletter-mail">Je souhaite recevoir la newsletter du Festival de Cannes</label>
            </span>
            <span class="detail popin">* Champs obligatoires</span>
            <input type="submit" value='envoyer' class='popin'>
            <div class="errors popin">
                <ul class="popin">
                </ul>
            </div>
        </form>
        <div class="info-popin popin">
            <p class="popin">
                En application de la loi n° 78-17 du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers et aux libertés, l’internaute dispose des droits d'opposition (art. 38 de la loi), d'accès (art. 39 de la loi), de rectification et de suppression (art. 40 de la loi) des données le concernant. Pour exercer ces droits, l’internaute doit s’adresser à : Direction juridique OGF, 31 rue de Cambrai 75946 PARIS cedex 19, ou à l’adresse électronique suivante informatiqueetlibertes.dj@ogf.fr, accompagné d’une copie d’un titre d’identité.
                <br> OGF a déclaré les fichiers décrits ci-dessus à la CNIL et enregistrée sous le n° 1607719.
            </p>
        </div>
    </div>
    <!-- END POPIN MAIL SHARE -->

    <!-- POPIN MAIL SHARE -->
    <div class="popin-mail media popin">
        <div class="contain-popin popin">
            <strong class="theme-article popin">Cinéma de la plage</strong><span class="date-article popin">18.05.15 . 09:00</span>
            <h2 class="title-article popin">Enragés, polar hybride d'Éric Hannezo</h2>
        </div>
        <form action="" id="form" class="popin">
            <input class="popin" type="text" placeholder="Email des destinataires*" name="email-dest" data-error="L'adresse email du destinataire n'est pas " required><span class="complet-infos popin">Séparez les adresses par des virgules</span>
            <input type="email" placeholder="Votre adresse email*" class="popin" name="email-user" data-error="Votre adresse email n'est pas" required>
            <span class="complet-infos popin"><input type="checkbox" class="popin" id="mail-copy" name='mail-copy'><label for="mail-copy" class="popin">M'envoyez une copie par email</label></span>
            <textarea placeholder="Votre message*" name="message" data-error="Votre message n'est pas renseigné" class="popin"></textarea>
            <span class="complet-infos newsletter popin"><input type="checkbox" class="popin" id="newsletter-mail" name='newsletter-mail'><label class="popin" for="newsletter-mail">Je souhaite recevoir la newsletter du Festival de Cannes</label></span>
            <span class="detail popin">* Champs obligatoires</span>
            <input type="submit" value='envoyer' class='popin'>
            <div class="errors popin">
                <ul class="popin">
                </ul>
            </div>
        </form>
        <div class="info-popin popin">
            <p class="popin">
                En application de la loi n° 78-17 du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers et aux libertés, l’internaute dispose des droits d'opposition (art. 38 de la loi), d'accès (art. 39 de la loi), de rectification et de suppression (art. 40 de la loi) des données le concernant. Pour exercer ces droits, l’internaute doit s’adresser à : Direction juridique OGF, 31 rue de Cambrai 75946 PARIS cedex 19, ou à l’adresse électronique suivante informatiqueetlibertes.dj@ogf.fr, accompagné d’une copie d’un titre d’identité.
                <br> OGF a déclaré les fichiers décrits ci-dessus à la CNIL et enregistrée sous le n° 1607719.
            </p>
        </div>
    </div>

{% endblock %}