<div id="accordion-conf" class="conferences">
    <div class="conferenceMenu">
        <ul>
            <li>
                {% for day in programDays %}
                    <div class="open">{{ day.date|localizeddate('long', 'short') }}<span class="openPlus">+</span><span class="openMinus">-</span></div>
                    <div class="content">
                        <div class="parent">
                            {% for event in programDaysEvents[day.id] %}
                                <div class="box events">
                                    <div class="conf70">
                                        <span class="customClass1">{{ event.title }}</span><br>
                                        <h6 class="confDetails confDetailsTop">{{ event.subTitle }}</h6>
                                        {{ event.description }}
                                        <div class="confPeople">
                                            <hr>
                                            <h6 class="confDetails">Intervenants</h6>
                                            <div class="quarterWidth">
                                                <img src="/img/intervenant1.png">
                                                <div class="name">
                                                    <h6 class="customClass1">Bernardo Arellano de la Cruz</h6>
                                                </div>
                                                <div class="name">
                                                    <p>FUEGO NEGRO AUDIOVISUAL</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="conf30Sharp">
                                        <div>
                                            <span>type d'accès</span>
                                            <p>{{ event.eventAccessType }}</p>
                                        </div>
                                        <div>
                                            <span>heure</span>
                                            <p>{{ event.eventHour }}</p>
                                        </div>
                                        <div>
                                            <span>lieu</span>
                                            <p>{{ event.eventPlace }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>
