{% if homepage.displayedPopin == false %}
<!-- POPIN LANDING evenemential -->
<div class="popin-landing-e vFlexAlign" class="">
    <div class="vFlexAlign">
        <div class="logo">
            <a href="{{ path('fdc_corporate_default_home') }}"><img src="{{ asset('bundles/fdccorporate/img/header/palme.svg') }}" alt="Festival de Cannes" class="palm"></a>
            <h1><a href="{{ path('fdc_corporate_default_home') }}"><img width="170" src="{{ asset('bundles/fdccorporate/img/header/logo.svg') }}" alt="Festival de Cannes"></a></h1>
            <h2><a href="{{ path('fdc_corporate_default_home') }}">17-18 Mai 2017</a></h2>
        </div>
        <span class="compteur" data-date="{{ homepage.festivalStartsAt|date('Y-m-d') }}T{{ homepage.festivalStartsAt|date('H:i:s') }}"><span class='day'>12</span> : <span class="hour">06</span> : <span class="minutes">34</span> : <span class="secondes">57</span></span>
        <strong class="description">{{ homepage|trans_fallback('popinSubtitle1') }} <span class="color">{{ homepage|trans_fallback('popinSubtitle2') }}</span></strong>
    </div>
</div>
<!-- POPIN LANDING evenemential -->
{% endif %}