{% trans_default_domain 'FDCCorporateBundle' %}
<!-- POPIN LANDING evenemential -->
<div class="popin-landing-e vFlexAlign" class="">
    <div class="vFlexAlign">
        <div class="logo">
            <a href="/"><img src="{{ asset('bundles/fdccorporate/img/header/palme.svg') }}" alt="Festival de Cannes" class="palm"></a>
            <h1><a href="/"><img width="170" src="{{ asset('bundles/fdccorporate/img/header/logo.svg') }}" alt="Festival de Cannes"></a></h1>
            <h2><a href="/">11-22 Mai 2016</a></h2>
        </div>
        <span class="compteur" data-date="{{ date|date('Y-m-d') }}T{{ date|date('H:i:s') }}"><span class='day'>12</span> : <span class="hour">06</span> : <span class="minutes">34</span> : <span class="secondes">57</span></span>
        <strong class="description">{{ popinSubtitle1 }} <span class="color">{{ popinSubtitle2 }}</span></strong>
    </div>
</div>
<!-- POPIN LANDING evenemential -->