{% trans_default_domain 'FDCCorporateBundle' %}
<nav>
    <ul class="main">
        {% for menu in menus %}
            {% if menu.route != 'fdc_corporate_press_show' and menu.route != 'fdc_corporate_participate_inscription' %}
                <li{% if menu.route == 'fdc_corporate_default_home' %} class="actu"{% endif %}>
                    {% if menu.route == '#' and menu.enabled == true %}
                        <a href="#">
                            {{ menu.transName|trans }}
                        </a>
                    {% elseif menu.route == 'fdc_corporate_news_getarticles' and menu.enabled == true %}
                        <a href="{{ path('fdc_corporate_news_getarticles', {'year': currentYear}) }}"
                           {% if route =='fdc_corporate_news_getarticles' %}active{% endif %}>
                            {{ menu.transName|trans }}
                        </a>
                    {% elseif menu.route == 'fdc_corporate_editions_retrospective' and menu.enabled == true %}
                        <a href="{{ path(menu.route) }}"
                           class="{% if route =='fdc_corporate_editions_retrospective' %}active{% endif %}">
                            {{ menu.transName|trans }}
                        </a>
                    {% elseif menu.route == 'fdc_corporate_whoarewe_show' and menu.enabled == true %}
                        <a href="{{ path(menu.route) }}"
                           class="{% if route =='fdc_corporate_whoarewe_show' %}active{% endif %}">
                            {{ menu.transName|trans }}
                        </a>
                    {% elseif menu.route == 'fdc_corporate_default_home' and menu.enabled == true %}
                        {% if menu.route != '#' %}
                            <a href="{{ path(menu.route) }}"
                               class="{% if route == 'fdc_corporate_default_home' %}active{% endif %}">
                                {{ menu.transName|trans }}
                            </a>
                        {% elseif menu.route == '#' %}
                            <a href="#">
                                {{ child.transName|trans }}
                            </a>
                        {% endif %}
                    {% elseif menu.route == 'fdc_corporate_media_index' and menu.enabled == true%}
                        {% if menu.route != '#' %}
                            <a href="{{ path(menu.route) }}"
                               class="{% if route == 'fdc_corporate_media_index' %}active{% endif %}">
                                {{ menu.transName|trans }}
                            </a>
                        {% elseif menu.route == '#' %}
                            <a href="#">
                                {{ child.transName|trans }}
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if menu['__children'] is defined and menu['__children']|length > 0  %}
                        <ul class="tcenter">
                            {% for child in menu['__children'] %}
                                {% if child.enabled %}
                                    <li>
                                        {% if child.route != '#' %}
                                        <a href="{{ path(child.route) }}"
                                           class="{% if route == child.route %}active{% endif %}">
                                            {{ child.transName|trans }}
                                        </a>
                                        {% elseif child.route == '#' %}
                                        <a href="#">
                                            {{ child.transName|trans }}
                                        </a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <ul class="user">
        {% for menu in menus %}
            {% if menu.route == 'fdc_press_news_home' or menu.route == 'fdc_corporate_participate_inscription' %}
                {% if menu.route == 'fdc_press_news_home' and menu.enabled == true %}
                    <li>
                        <a href="{{ path(menu.route) }}" class="press">
                            <i class="icon icon-pencil"></i>{{ menu.transName|trans }}
                        </a>
                        {% if menu['__children'] is defined and menu['__children']|length > 0  %}
                            <ul>
                                {% for child in menu['__children'] %}
                                    {% if child.enabled %}
                                        <li>
                                            {% if child.route != '#' %}
                                            <a href="{{ path(child.route) }}">
                                                {{ child.transName|trans }}
                                            </a>
                                            {% elseif child.route == '#' %}
                                            <a href="#">
                                                {{ child.transName|trans }}
                                            </a>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% elseif menu.route == 'fdc_corporate_participate_inscription' %}
                    {% if menu.enabled == true %}
                        <li class="participate-wrapper hasSubNav">
                            <a href="{{ path(menu.route) }}" {% if route in ['fdc_corporate_participate_inscription','fdc_corporate_participate_guide','fdc_corporate_participate_accredit'] or route == 'fdc_corporate_participate_getpage' %}style="color: #c8a461;"{% endif %} class="participate"">
                                <i class="icon icon-marker-black"></i>{{ menu.transName|trans }}
                            </a>
                            {% if menu['__children'] is defined and menu['__children']|length > 0  %}
                                <ul>
                                    {% for child in menu['__children'] %}
                                        {% if child.enabled %}
                                            {% if loop.index0 == 0 %}
                                                <li><a {% if route == 'fdc_corporate_participate_inscription' %}style="color: #c8a461;"{% endif %} href="{{ path('fdc_corporate_participate_inscription') }}">{{ 'header.nav.inscription'|trans }}</a></li>
                                            {% elseif loop.index0 == 2 %}
                                                <li><a {% if route == 'fdc_corporate_participate_guide' %}style="color: #c8a461;"{% endif %} href="{{ path('fdc_corporate_participate_guide') }}">{{ 'header.nav.guide'|trans }}</a></li>
                                            {% elseif loop.index0 == 1 %}
                                                <li><a {% if route == 'fdc_corporate_participate_accredit' %}style="color: #c8a461;"{% endif %} href="{{ path('fdc_corporate_participate_accredit') }}">{{ 'header.nav.accredit'|trans }}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for k,child in participateMenu %}
                                            {% if child.level2 %}
                                                <li><a href="{{ path('fdc_corporate_participate_getpage', {'slug': child|trans_fallback('slug') }) }}"> {{ child|trans_fallback('title') }}</a></li>
                                            {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>