{% trans_default_domain 'FDCEventBundle' %}
{% set searchClass = 'artist' %}
{% extends 'FDCEventMobileBundle:Search:base.html.twig' %}
{% block content %}
    {% for artist in items %}
        <div data-id="artist-{{ artist.id }}" class="thumb {{ loop.index == 1 ? 'active' : '' }}">
            <a href="{{ path('fdc_eventmobile_artist_get', {'slug': artist.slug }) }}">
                {% set artistImage = artist|person_image(true) %}
                {% if artist.portraitImage and artist.portraitImage|trans_fallback('file') %}
                    <div class="img-container" style="background-image:url({% path artist.portraitImage|trans_fallback('file'), 'search' %})"></div>
                {% elseif artistImage %}
                    {% if artist.presidentJuryImage and artist.presidentJuryImage|trans_fallback('file') %}
                        <div class="img-container" style="background-image:url({% path artist.presidentJuryImage|trans_fallback('file'), 'search' %})"></div>
                    {% elseif artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                        <div class="img-container" style="background-image:url({% path artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first, 'search' %})"></div>
                    {% elseif artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                        <div class="img-container" style="background-image:url({% path artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first, 'search' %})"></div>
                    {% elseif class(artistImage) == 'FilmMedia' %}
                        <div class="img-container" style="background-image:url({% path artistImage.file, 'search' %})"></div>
                    {% else %}
                        <div class="img-container" style="background-image:url({% path artistImage, 'search' %})"></div>
                    {% endif %}
                {% else %}
                    {% set media = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                    {% if media is empty %}
                        {% set media = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PERSON'))|first %}
                    {% endif %}
                    {% if media is empty %}
                        {% set photo = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                    {% endif %}

                    {% if media is not empty %}
                        <div class="img-container" style="background-image:url({% path media, 'search' %})"></div>
                    {% else %}
                        <div class="img-container" style="background-image:url({{ asset('bundles/fdcevent/img/jurys/member.jpg') }})"></div>
                    {% endif %}
                {% endif %}
                <div class="info">
                    <p>
                        {%- if artist.asianName -%}
                            {{- artist.lastName ~ ' ' ~ artist.firstName -}}
                        {%- else -%}
                            {{- artist.fullName -}}
                        {%- endif -%}
                    </p>
                    {% set profession = artist|trans_fallback('profession') %}
                    {% if profession %}
                    <p class="job">
                        {{ artist|profession_gender('profession') }}
                    </p>
                    {% endif %}
                    <p class="countrie">{{ artist.nationality|trans_fallback('name') }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}