{% trans_default_domain 'FDCEventBundle' %}
{% set searchClass = 'event' %}
{% extends 'FDCEventMobileBundle:Search:base.html.twig' %}
{% block content %}
    {% for event in items %}
        <div data-id="event{{ event.id }}" class="thumb {{ loop.index == 1 ? 'active' : '' }}">
            <div class="img-container" style="background-image: url({% path event.header|trans_fallback('file'), '976x615' %})">
                <a class="linkImage" href="{{ path('fdc_eventmobile_event_get', {'slug': event|trans_fallback('slug') }) }}"></a>
            </div>
            <div class="info">
                <div class="top-info">
                    <a class="category" href="#">{{ event.theme|trans_fallback('name') }}</a>
                </div>
                <a href="{{ path('fdc_eventmobile_event_get', {'slug': event|trans_fallback('slug') }) }}"><h2>{{ event|trans_fallback('title') }}</h2></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}