{% trans_default_domain 'FDCEventBundle' %}
{% set searchClass = 'film' %}
{% extends 'FDCEventMobileBundle:Search:base.html.twig' %}
{% block content %}
    {% for film in items %}
        <div data-id="film-{{ film.id }}" class="thumb {{ loop.index == 1 ? 'active' : '' }}">
            <a href="{{ path('fdc_eventmobile_movie_get', {'slug': film.slug}) }}">
                <div class="img-container" style="background-image: url(
                {% include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({
                display_film_path: true,
                film: film,
                film_format: 'search',
                film_image_default: 'bundles/fdcevent/img/palmares/film_w181.jpg'
            }) %})"></div>
            </a>
            <div class="info">
                <a href="{{ path('fdc_eventmobile_movie_get', {'slug': film.slug}) }}">
                    {% if film|trans_fallback('title') != null and film.titleVo != null and film|trans_fallback('title')|lower != film.titleVo|lower %}
                        <p>{{ film.titleVo }}</p>
                        <p>({{ film|trans_fallback('title') }})</p>
                    {% else %}
                        <p>{{ film|trans_fallback('title')?:film.titleVo }}</p>
                    {% endif %}
                </a>
                {% if film|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                    {% set directors = film|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                    {% for key,director in directors %}
                        {% if director %}
                            <p class="director">De <strong>{% include 'FDCEventBundle:Movie:widgets/check_asian_name.html.twig' with {'person': director, 'link': false} %}{{ loop.last == true ? '' : ',' }}</strong></p>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    {% endfor %}
{% endblock %}