{% trans_default_domain 'FDCEventBundle' %}
{% set searchClass = 'media' %}
{% extends 'FDCEventMobileBundle:Search:base.html.twig' %}
{% block content %}
    {% for media in items %}
        {% if class(media) == "MediaImage" %}
            {% set title = media|trans_fallback('legend') %}
            {% set format = 'photo' %}
            {% set link = path('fdc_eventmobile_news_getphotos') ~ '#pid=' ~ media.id %}
        {% elseif class(media) == "MediaVideo" %}
            {% set title = media|trans_fallback('title') %}
            {% set format = 'video' %}
            {% set link = '' %}
            {% if media.displayedAll == true %}
                {% set link = path('fdc_eventmobile_news_getvideos') ~ '#vid=' ~ media.id %}
            {% elseif media.displayedTrailer == true and media.associatedFilms|length > 0 %}
                {% set link = path('fdc_eventmobile_television_gettrailer', {slug: media.associatedFilms[0].association.slug, video: media.id }) %}
            {% elseif media.displayedWebTv == true and media.webTv is not empty %}
                {% set link = path('fdc_eventmobile_television_getchannel_1', {slug: media.webTv.findTranslationByLocale(app.request.locale).slug, videoId: media.id }) %}
            {% endif %}
        {% elseif class(media) == "MediaAudio" %}
            {% set title = media|trans_fallback('title') %}
            {% set format = 'audio' %}
            {% set link = path('fdc_eventmobile_news_getaudios') ~ '#aid=' ~ media.id %}
        {% endif %}


        <div data-id="media-{{ media.id }}" class="thumb item {{ media.publishedAt|date('dmY') }} {{ media.theme ? media.theme.slug : '' }} {{ format }} {{ loop.index == 1 ? 'active' : '' }}">
            <div class="img-container">
                {% set trans = media.findTranslationByLocale(app.request.locale) %}
                {% set transImage = null %}
                {% set amazonImage = null %}

                {% if trans is null or trans.file is null %}
                    {% set trans = media.findTranslationByLocale('fr') %}
                {% endif %}

                {% if media.header is not null %}
                    {% set transImage = media.header.findTranslationByLocale(app.request.locale) %}
                    {% if transImage is null or transImage.file is null  %}
                        {% set transImage = media.header.findTranslationByLocale('fr') %}
                    {% endif %}
                {% elseif media.image %}
                    {% set transImage = media.image.findTranslationByLocale(app.request.locale) %}
                    {% if transImage is null or transImage.file is null %}
                        {% set transImage = media.image.findTranslationByLocale('fr') %}
                    {% endif %}
                {% elseif class(media) == 'MediaVideo' and  media|trans_fallback('imageAmazonUrl') %}
                    {% set amazonImage = s3_server_video ~ media|trans_fallback('imageAmazonUrl') %}
                {% endif %}

                {% if transImage or amazonImage %}
                    <img src="{% if transImage is not null %}{% path transImage.file , '976x615' %}" alt="{{ transImage|trans_fallback('alt') }}{% elseif amazonImage is not null %}{{ amazonImage }}" alt="{% endif %}">
                {% elseif trans is not null %}
                    <img src="{% path trans.file , '976x615' %}" alt="{{ trans|trans_fallback('alt') }}">
                {% endif %}
                <span class="picto"><i class="icon icon_{{ format }}"></i></span>
                <a class="linkImage" href="{{ link }}"></a>
            </div>
            <div class="info">
                <div class="top-info">
                    <a class="category" href="#">{{ media.theme|trans_fallback('name') }}</a>
                    <span class="date">{{ media.publishedAt|date('d.m.y') }}</span> . <span class="hour">{{ agenda_leftbar_translate_hour(media.publishedAt|date('H:i'), true, true) }}</span>
                </div>
                <a href="{{ link }}"><h2>{{ title }}</h2></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}