{% if actualiteIsActive == 1 %}
    <div class="our-news">
        <h3>{{ 'ccm_news'|trans }}</h3>
        <div class="innerWrapper">
            {% if actualites is defined and actualites is not null and actualiteIsActive == 1 %}
                {% for actualite in actualites %}
                    {% set actualiteTranslation = actualite.findTranslationByLocale(app.request.locale) %}
                    {% if actualite.displayedHome == 1 %}
                        <a href="{{ path('ccm_news_detail',{'slug':actualiteTranslation.slug}) }}">
                            <div class="articles">
                                {% if  actualite.translatable.image is not null %}
                                    <div class="articles-img"><img src="{% path actualite.translatable.image|trans_fallback('file'), 'reference' %}"></div>
                                {% endif %}
                                {% if  actualite.translatable.header is not null %}
                                    <div class="articles-img"><img src="{% path actualite.translatable.header|trans_fallback('file'), 'reference' %}"></div>
                                {% endif %}
                                <div class="articles-content">
                                    <span>
                                        {{ actualite.theme.name }}
                                        <br><span class="article-date">{{ actualite.publishedAt|date("d M Y") }}</span>
                                    </span>
                                    <h6>{{ actualiteTranslation.title }}</h6>
                                    <p>{{ actualite.description(app.request.locale)|striptags|raw }}</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endif %}
