<div class="our-news">
    <h3>{{ 'ccm_news'|trans }}</h3>
    <div class="innerWrapper">
        {% if actualites is defined and actualites is not null and actualiteIsActive == 1 %}
            {% for actualite in actualites %}
                {% set actualiteTranslation = actualite.findTranslationByLocale(app.request.locale) %}
                {% if actualite.displayedHome == 1 %}
                    <a href="{{ path('ccm_news_detail',{'slug':actualiteTranslation.slug}) }}">
                        <div class="articles">
                            <div class="articles-content">
                                <span>
                                    {{ actualite.theme.name }}
                                    <br><span class="article-date">{{ actualite.publishedAt|date("d M Y") }}</span>
                                </span>
                                <h6>{{ actualiteTranslation.title }}</h6>
                                <p>{{ actualite.description(app.request.locale) }}</p>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
