{% for push in pushes %}
    <div class="item">
        <div class="title">
            <a href="{{ push.url }}"><h5>{{ push.goldenTitle }}</h5></a>
            <a href="{{ push.url }}"><h4>{{ push.whiteTitle }}</h4></a>
        </div>
        <a href="{{ push.url }}" {% if fdc_court_metrage_scheme in push.url %}target="_blank"{% endif %}><img src="{% path push.translatable.image|trans_fallback('file'), '455x348' %}"></a>
    </div>
{% endfor %}
