<div class="bandeau-list-img bandeau-head vCenter" style="background-image:url({% path sejour.translatable.image|trans_fallback('file'), 'reference' %})">
    <a href="{{ sejour.url }}"><div class="contact-box" id="contact-box">
            <div class="contact-details">
                <span>{{ sejour.title1 }}</span>
                <h3>{{ sejour.title2 }}</h3>
                <a href="{{ sejour.url }}"><div class="participateBtn">{{ sejour.button }}</div></a>
            </div>
        </div>
    </a>
</div>
