{% set mediaUrl = url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
{% for id, media in medias %}
    {% if media.type is not null %}
        {% if class(media) == 'FilmFestivalPoster' %}
            {% set mediaPid = 'ffp' ~ media.id %}
        {% elseif class(media) == 'FilmPersonMedia' %}
            {% set mediaPid = 'fpm' ~ media.id %}
        {% elseif class(media) == 'FilmFilmMedia' %}
            {% set mediaPid = 'ffpm' ~ media.id %}
        {% else %}
            {% set mediaPid = media.id %}
        {% endif %}
        {% if class(media) == 'FilmFestivalPoster' %}
            {% set file = media.file %}
        {% else %}
            {% set file = media.media.file %}
        {% endif %}
        {% dump(media) %}
        {% dump(file) %}
        {% if file %}
            {% set title = '' %}
            {% if media.film is defined and media.film %}
                {% set title = media.film.titleVO %}
                {% if title is defined and title is not null %}
                    {% if media.film|trans_fallback('title') != null and title != media.film|trans_fallback('title') %}
                        {% set title = title ~ ' (' ~ media.film|trans_fallback('title') ~ ')' %}
                    {% endif %}
                {% endif %}
                {% set dateMedia = media.film.festival.year %}
            {% elseif media.person is defined and media.person %}
                {% set title = media.person.firstname ~ ' ' ~ media.person.lastname %}
                {% set dateMedia = '' %}
            {% elseif class(media) == 'FilmFestivalPoster' %}
                {% set title = media|trans_fallback('title') %}
                {% set dateMedia = media.festival.year %}
            {% endif %}
            {% set format = file.width > file.height ? 'paysage' : 'portrait' %}
            {% set legend = '' %}
            {% if app.request.locale == 'fr' and media.media.titleVf is defined %}
                {% set legend = media.media.titleVf %}
            {% elseif class(media) == 'FilmFestivalPoster' %}
                {% set legend = media|trans_fallback('title') %}
            {% elseif app.request.locale != 'fr' and media.media.titleVa is defined %}
                {% set legend = media.media.titleVa %}
            {% endif %}
            {% if app.request.locale == 'fr' and media.media.copyright is defined %}
                {% set copyright = media.media.copyright %}
            {% elseif class(media) == 'FilmFestivalPoster' %}
                {% set copyright = file.copyright %}
            {% endif %}
            <article class="card card-01 item photo img shadow-bottom date-{{ dateMedia }} all {{ title }} {{ format }}"
                     data-format="photo"
                     data-theme="{{ title }}" data-time="1455909420" data-end="false" data-date="date-{{ dateMedia }}">
                <div class="item-inner">
                    <a href="#" class="linkAllCover"></a>
                    <div class="image">
                        <div class="image-wrapper">
                            {% set resolution =  file.width > file.height ? '640x404' : '320x404' %}
                            <img src="{% path file, resolution %}" alt="" data-id="pid={{ mediaPid }}"
                                 data-credit="copyright"
                                 data-title="{{ title }}"
                                 data-label="{{ legend }}" data-date="{{ dateMedia }}"
                                 data-facebookurl="http://www.facebook.com/dialog/feed?app_id=1198653673492784&link={{ app.request.uri ~ '#pid=' ~ mediaPid }}&picture={% path file, file.context ~ '640x404' %}&name=&caption=&description={% if copyright is not empty %}{{ 'slider.credit_image'|trans }} : {{ copyright }}{% endif %}&redirect_uri=http://www.festival-cannes.com/fr/sharing&display=popup"
                                 data-twitterurl="https://twitter.com/intent/tweet?text={{ app.request.uri ~ '#pid=' ~ mediaPid }}"/>
                        </div>
                        <a href="{% path file , 'reference' %}" class="linkImage"></a>
                    </div>
                    <div class="info vFlexAlign">
                        <span class="picto"><i class="icon icon-photo"></i></span>
                        <div class="contain-txt">
                            <div>
                                <a href="#" class="category">{{ title }} </a><span class="date">{{ dateMedia }}</span>
                            </div>
                            <strong><a href="{% path file, file.context ~ '_big' %}">{{ legend }}</a></strong>
                        </div>
                    </div>
                </div>
            </article>
        {% endif %}
    {% else %}
        {% include "FDCCorporateBundle:Media:components/media.html.twig" with {"media": media} %}
    {% endif %}
{% endfor %}