{% set mediaUrl = url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
{% for id, media in medias  %}
    {% if media.type is not null %}
        {% if media.media.file is not null %}
            {% set title = '' %}
            {% if media.film is defined %}
                {% set title = media.film.titleVO  %}
                {% if title is defined and title is not null %}
                    {% if media.film|trans_fallback('title') != null and title != media.film|trans_fallback('title') %}
                        {% set title = title ~ ' (' ~ media.film|trans_fallback('title') ~ ')' %}
                    {% endif %}
                {% endif %}
                {% set dateMedia = media.film.festival.year %}
            {% elseif media.person is defined %}
                {% set title = media.person.firstname ~ ' ' ~ media.person.lastname %}
                {% set dateMedia = '' %}
            {% endif %}
            {% set format = media.media.file.width > media.media.file.height ? 'paysage' : 'portrait' %}
            {% set legend = '' %}
            {% if app.request.locale == 'fr' and media.media.titleVf %}
                {% set legend = media.media.titleVf %}git status
                
            {% elseif app.request.locale != 'fr' and media.media.titleVa %}
                {% set legend = media.media.titleVa %}
            {% endif %}
            <article class="card card-01 item photo shadow-bottom date-{{ dateMedia }} all {{ title }} {{ format }}" data-format="photo"
                     data-theme="{{ title }}" data-time="1455909420" data-end="false" data-date="date-{{ dateMedia }}">
                <a href="{% path media.media.file, media.media.file.context ~ '_big' %}" class="linkAllCover"></a>
                <div class="image">
                    <div class="image-wrapper">
                        <img src="{% path media.media.file, media.media.file.context ~ '_big' %}" alt="" data-id="pid={{ id }}" data-credit="{% if media.media.copyright is not empty %}{{ 'slider.credit_image'|trans }} : {{ media.media.copyright }}{% endif %}" data-title='<span class="category">{{ legend }}</span><span class="date">{{ dateMedia }}</span><h2>{{ legend }}</h2>' data-label="{{ legend }}" data-date="{{ dateMedia }}" data-facebookurl="http://www.facebook.com/dialog/feed?app_id=1198653673492784&link={{ app.request.uri }}&picture={% path media.media.file, media.media.file.context ~ '640x404' %}&name=&caption=&description={% if media.media.copyright is not empty %}{{ 'slider.credit_image'|trans }} : {{ media.media.copyright }}{% endif %}&redirect_uri=http://www.festival-cannes.com/fr/sharing&display=popup" data-twitterurl="https://twitter.com/intent/tweet?text={{ app.request.uri }}" />
                    </div>
                    <a href="{% path media.media.file , 'reference' %}" class="linkImage"></a>
                    <!--<a href="#" class="read-later"><i class="icon icon-read-latter"></i><span>Ajouter à ma sélection</span></a>-->
                </div>
                <div class="info vFlexAlign">
                    <span class="picto"><i class="icon icon-photo"></i></span>
                    <div class="contain-txt">
                        <div>
                            <a href="#" class="category">{{ title }} </a><span class="date">{{ dateMedia }}</span>
                        </div>
                        <strong><a href="{% path media.media.file, media.media.file.context ~ '_big' %}">{{ legend }}</a></strong>
                    </div>
                </div>
            </article>
        {% endif %}
    {% else %}
        {% include "FDCCorporateBundle:Media:components/media.html.twig" with {"media": media} %}
    {% endif %}
{% endfor %}