{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
<div id="main" class="single-article single-evenement loading">
    <div class="content-article">
        <div class="container">
            <a href="{{ path('fdc_event_event_get', {'slug': article.prev.slug}) }}" class="nav prev"><i class="icon icon_flecheGauche"></i></a>
            <a href="{{ path('fdc_event_event_get', {'slug': article.next.slug}) }}" class="nav next"><i class="icon icon_fleche-right"></i></a>
            <div class="info">
                <span class="category">{{ article.theme }}</span>
                <span class="date">{{ article.publishedAt|date('d.m.y') }}</span> . <span class="hour">{{ article.publishedAt|date('H:i') }}</span>
                <span class="update">{{ 'event.single.label.miseajour'|trans }}</span>
                <span class="date">{{ article.updatedAt|date('d.m.y') }}</span> . <span class="hour">{{ article.updatedAt|date('H:i') }}</span>
            </div>
            <h2 class="title-article">{{ article.title }}</h2>
            <div class="buttons">
                <a id="share-article" href="#" class="button"><i class="icon icon_share"></i>{{ 'event.btn.partager'|trans }}</a>
                                <a href="#" onclick="javascript:window.print()" class="button print"> <i class="icon icon_print"></i>{{ 'event.btn.imprimer'|trans }}</a>
            </div>

            {#{% include 'FDCEventBundle:News:widgets/single-photo.html.twig' with {'photo' : article.mainImg  } %}#}

            {% for widget in article.widgets %}
                {% if widget.type == "quote" %}
                    {% include 'FDCEventBundle:News:widgets/quote.html.twig' %}
                {% endif %}
            {% endfor %}

            {% for widget in article.widgets %}
                {% if widget.type == "text" %}
                    {% include 'FDCEventBundle:News:widgets/text.html.twig' %}
                {% endif %}
            {% endfor %}

            <div class="small-container">

                {% for widget in article.widgets %}
                    {% if widget.type == "image" and widget.photos|length > 1 %}
                        {% include 'FDCEventBundle:News:widgets/slideshow.html.twig' %}
                    {% endif %}
                {% endfor %}

            </div>

            {% for widget in article.widgets %}
                {% if widget.type == "audio" %}
                    <h2 class="title">{{ widget.title }}</h2>
                    {% for widget in widget.podcast %}
                        {% include 'FDCEventBundle:News:widgets/audio.html.twig' %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

        </div>
        <div class="share">
            <p>{{ 'event.text.partagerlarticle'|trans }}</p>
            <div class="buttons square">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('fdc_event_news_index') }}" rel="nofollow" class="button facebook">
                    <i class="icon icon_facebook"></i>
                </a>
                <a href="https://twitter.com/intent/tweet?url={{ url('fdc_event_news_index') }}" rel="nofollow" class="button twitter">
                    <i class="icon icon_twitter"></i>
                </a>
                <a href="#" rel="nofollow" class="button link self"><i class="icon icon_link"></i></a>
                <a href="#" rel="nofollow" class="button email"><i class="icon icon_lettre"></i></a>
                <a href="#" rel="nofollow" onclick="javascript:window.print()" class="button print"><i class="icon icon_print"></i></a>
            </div>
        </div>
    </div>
</div>
{{ render(controller('FDCEventBundle:Global:shareEmail',
    {'section': article.theme,
        'detail': article.publishedAt|date('d.m.y'),
        'title': article.title,
        'description': article.introduction
    }))
}}
{{ render(controller('FDCEventBundle:Global:shareEmailMedia',
    {'section': article.theme,
        'detail': article.publishedAt|date('d.m.y'),
        'title': article.title,
        'description': article.introduction
    }))
}}
{% endblock body %}