{% spaceless %}
    {% if link is defined and link == false %}
        {% if person.asianName %}
            {{person.lastName ~ ' ' ~ person.firstName}}
        {% else %}
            {{person.fullName}}
        {% endif %}
    {% else %}
        {% if person.asianName %}
            <a href="{{ path('fdc_corporate_artist_get', {slug: person.slug }) }}">
                <span class="names-a">{{- person.lastName|trim ~ ' ' ~ person.firstName|trim -}}</span>
            </a>
        {% else %}
            <a href="{{ path('fdc_corporate_artist_get', {slug: person.slug }) }}">
                <span class="names-a">{{- person.fullName|trim -}}</span>
            </a>
        {% endif %}
    {% endif %}
{% endspaceless %}