{% if app.security.token and is_granted('ROLE_BASE_ADMIN_FDC_PAGE_FOOTER_ADMIN') %}
    {% set active = false %}
    {% set pages = ['admin_base_core_fdcpagefooter_edit','admin_base_core_fdcpagefooter_list','admin_base_core_fdcpagefooter_create',
    'admin_base_core_faqtheme_list','admin_base_core_faqtheme_edit','admin_base_core_faqtheme_create','admin_base_core_faqpage_list',
    'admin_base_core_faqpage_edit','admin_base_core_faqpage_create'] %}

    {% if app.request.get('_route') in pages %}
        {% set active = true %}
    {% endif %}

    <li class="treeview {% if active %}active{% endif %}">
        <a href="#">
            <i class="fa fa-folder"></i>
            <span>{{ 'dashboard.link.pages'|trans({}, 'BaseAdminBundle') }}</span>
            <i class="fa pull-right fa-angle-left"></i>
        </a>
        <ul class="treeview-menu {% if active %}active{% endif %}">
            <li class="{% if app.request.get('_route') == 'admin_base_core_fdcpagefooter_edit' or
                app.request.get('_route') == 'admin_base_core_fdcpagefooter_list' or
                app.request.get('_route') == 'admin_base_core_fdcpagefooter_create' %} active{% endif %}">
                <a href="{{ path('admin_base_core_fdcpagefooter_list') }}">
                    <i class="fa fa-angle-double-right"></i>
                    {{ 'dashboard.link.pages_libre'|trans({}, 'BaseAdminBundle') }}
                </a>
            </li>
            <li class="{% if app.request.get('_route') == 'admin_base_core_faqtheme_create' or
                app.request.get('_route') == 'admin_base_core_faqtheme_list' or
                app.request.get('_route') == 'admin_base_core_faqtheme_edit' %} active{% endif %}">
                <a href="{{ path('admin_base_core_faqtheme_list') }}">
                    <i class="fa fa-angle-double-right"></i>
                    {{ 'dashboard.link.FAQTheme'|trans({}, 'BaseAdminBundle') }}
                </a>
            </li>
            <li class="{% if app.request.get('_route') == 'admin_base_core_faqpage_create' or
                app.request.get('_route') == 'admin_base_core_faqpage_list' or
                app.request.get('_route') == 'admin_base_core_faqpage_edit' %} active{% endif %}">
                <a href="{{ path('admin_base_core_faqpage_list') }}">
                    <i class="fa fa-angle-double-right"></i>
                    {{ 'dashboard.link.FAQ'|trans({}, 'BaseAdminBundle') }}
                </a>
            </li>
        </ul>
    </li>
{% endif %}