{% if is_granted('ROLE_BASE_ADMIN_FDC_PAGE_FOOTER') %}
    <li class="treeview">
        <a href="#">
            <i class="fa fa-folder"></i>
            <span>Pages</span>
            <i class="fa pull-right fa-angle-left"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{{ path('admin_base_core_fdcpagefooter_edit', {id: admin_fdc_footer_confidentialite_id}) }}">
                    <i class="fa fa-angle-double-right"></i>
                    {{ 'dashboard.link.confidentialite'|trans({}, 'BaseAdminBundle') }}
                </a>
            </li>
            <li>
                <a href="{{ path('admin_base_core_fdcpagefooter_edit', {id: admin_fdc_footer_mentions_legales_id}) }}">
                    <i class="fa fa-angle-double-right"></i>
                    {{ 'dashboard.link.mentions_legales'|trans({}, 'BaseAdminBundle') }}
                </a>
            </li>
            <li>
                <a href="{{ path('admin_base_core_fdcpagefooter_edit', {id: admin_fdc_footer_credits_id}) }}">
                    <i class="fa fa-angle-double-right"></i>
                    {{ 'dashboard.link.credits'|trans({}, 'BaseAdminBundle') }}
                </a>
            </li>
        </ul>
    </li>
{% endif %}