{% if is_granted('ROLE_BASE_ADMIN_GROUP_SEO_ADMIN') %}
    {% set activePages = [
    'admin_base_core_fdcpagewebtvchannels_edit',
    'admin_base_core_fdcpagewebtvtrailers_edit'
    ] %}
    <li class="treeview{% if app.request.attributes.get('_route') in activePages %} active{% endif %}">
        <a href="#">
            <i class="fa fa-folder"></i>
            <span>{{ 'dashboard.group.seo'|trans({}, 'BaseAdminBundle') }}</span>
            <i class="fa pull-right fa-angle-left"></i>
        </a>
        <ul class="treeview-menu{% if app.request.attributes.get('_route') in activePages %} active{% endif %}">
            {% if is_granted('ROLE_BASE_ADMIN_FDC_PAGE_WEB_TV_CHANNELS_ADMIN') %}
                <li>
                    <a href="{{ path('admin_base_core_fdcpagewebtvchannels_edit', {id: admin_fdc_page_web_tv_channels_id}) }}">
                        <i class="fa fa-angle-double-right"></i>
                        {{ 'dashboard.link.fdc_page_web_tv_channels'|trans({}, 'BaseAdminBundle') }}
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_BASE_ADMIN_FDC_PAGE_WEB_TV_TRAILERS_ADMIN') %}
                <li>
                    <a href="{{ path('admin_base_core_fdcpagewebtvtrailers_edit', {id: admin_fdc_page_web_tv_trailers_competition_id}) }}">
                        <i class="fa fa-angle-double-right"></i>
                        {{ 'dashboard.link.fdc_page_web_tv_trailers_competition'|trans({}, 'BaseAdminBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_base_core_fdcpagewebtvtrailers_edit', {id: admin_fdc_page_web_tv_trailers_certain_regard_id}) }}">
                        <i class="fa fa-angle-double-right"></i>
                        {{ 'dashboard.link.fdc_page_web_tv_trailers_certain_regard'|trans({}, 'BaseAdminBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_base_core_fdcpagewebtvtrailers_edit', {id: admin_fdc_page_web_tv_trailers_hors_competition_id}) }}">
                        <i class="fa fa-angle-double-right"></i>
                        {{ 'dashboard.link.fdc_page_web_tv_trailers_hors_competition'|trans({}, 'BaseAdminBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_base_core_fdcpagewebtvtrailers_edit', {id: admin_fdc_page_web_tv_trailers_seances_speciales_id}) }}">
                        <i class="fa fa-angle-double-right"></i>
                        {{ 'dashboard.link.fdc_page_web_tv_trailers_seances_speciales'|trans({}, 'BaseAdminBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_base_core_fdcpagewebtvtrailers_edit', {id: admin_fdc_page_web_tv_trailers_cinefondation_id}) }}">
                        <i class="fa fa-angle-double-right"></i>
                        {{ 'dashboard.link.fdc_page_web_tv_trailers_cinefondation'|trans({}, 'BaseAdminBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_base_core_fdcpagewebtvtrailers_edit', {id: admin_fdc_page_web_tv_trailers_courts_metrages_id}) }}">
                        <i class="fa fa-angle-double-right"></i>
                        {{ 'dashboard.link.fdc_page_web_tv_trailers_courts_metrages'|trans({}, 'BaseAdminBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_base_core_fdcpagewebtvtrailers_edit', {id: admin_fdc_page_web_tv_trailers_cannes_classics_id}) }}">
                        <i class="fa fa-angle-double-right"></i>
                        {{ 'dashboard.link.fdc_page_web_tv_trailers_cannes_classics'|trans({}, 'BaseAdminBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_base_core_fdcpagewebtvtrailers_edit', {id: admin_fdc_page_web_tv_trailers_cinema_plage_id}) }}">
                        <i class="fa fa-angle-double-right"></i>
                        {{ 'dashboard.link.fdc_page_web_tv_trailers_cinema_plage'|trans({}, 'BaseAdminBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_base_core_fdcpagenewsarticles_edit', {id: admin_fdc_page_news_articles_id}) }}">
                        <i class="fa fa-angle-double-right"></i>
                        {{ 'dashboard.link.fdc_page_news_articles'|trans({}, 'BaseAdminBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_base_core_fdcpagenewsaudios_edit', {id: admin_fdc_page_news_audios_id}) }}">
                        <i class="fa fa-angle-double-right"></i>
                        {{ 'dashboard.link.fdc_page_news_audios'|trans({}, 'BaseAdminBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_base_core_fdcpagenewsimages_edit', {id: admin_fdc_page_news_images_id}) }}">
                        <i class="fa fa-angle-double-right"></i>
                        {{ 'dashboard.link.fdc_page_news_images'|trans({}, 'BaseAdminBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_base_core_fdcpagenewsvideos_edit', {id: admin_fdc_page_news_videos_id}) }}">
                        <i class="fa fa-angle-double-right"></i>
                        {{ 'dashboard.link.fdc_page_news_videos'|trans({}, 'BaseAdminBundle') }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </li>
{% endif %}