{% trans_default_domain 'FDCPressBundle' %}

<div class="contain-title-pg">
    <h3 class="title-pguide ">
        <span class="logo">
            {% image '@FDCEventBundle/Resources/public/img/press/svg/rendez-vous-des-medias-grey.svg' %}
            <img src="{{ asset_url }}" class="svg" alt="{{ section.title }}" />
            {% endimage %}
        </span>
        {{ section.title }}
    </h3>
    <span class="plus"></span>
</div>

{% for article in section.article %}
    <div class="contain-article">
        <div class="aside">
            {% for image in article.image %}
                <img src="{{ image.path }}" alt="">
            {% endfor %}
        </div>
        <div class="texts">
            {{ article.content|raw }}
        </div>
    </div>
{% endfor %}