{% extends 'FDCMarcheDuFilmBundle::base.html.twig' %}

{% block main %}

    <div id="main" class="home loading">
        <div class="text-presentation calendar mdf customClass1Bckg">
            <div class="bigContainer">
                <h3>{{ globalEventsPage.title }}</h3>
            </div>
        </div>
        <div class="text-presentation greyBckg minPadding">
            <div class="bigContainer">
                {# Formated in BO #}
                {{ globalEventsPage.body|raw }}
                {# End #}
            </div>
        </div>
        <div class="bigContainer">
            <div id="accordion-conf" class="conferences">
                <div class="dropdown">
                    <span>AFFICHER</span>
                    <div id="eventSelector">
                        {% for theme in themes %}
                            <div class="selectText" id="{{ theme.slug }}">{{ theme.title }}{% if loop.last ==false %},{% endif %}</div>
                        {% endfor %}
                    </div>
                    <div class="dropArrow">
                        <i class="icon icon_flecheGauche"></i>
                    </div>
                </div><br>
                <div class="selector">
                    <div class="purpleBtn selectbtn confBtn customClass1" id="all">Tous</div>
                    {% for theme in themes %}
                        <div class="selectbtn confBtn" id="{{ theme.translatable.id }}" rel="{{ theme.slug }}">{{ theme.title }}</div>
                    {% endfor %}
                </div>
                <div class="conferencesMenu">
                    {% include 'FDCMarcheDuFilmBundle::programme/partials/days.html.twig' with { 'days': globalEventsDays, 'events' : globalEventsSchedules, 'themes' : themes } %}
                </div>
            </div>
        </div>
    </div>

    <div class="floatingButtonLeft">
        <div class="arrow showLeft">
            <i class='icon icon_flecheGauche'></i>
        </div>
        <a href="#">
            <div class="floatingButtonText showLeft">conférences</div>
        </a>
    </div>
    <div class="floatingButtonRight">
        <div class="arrow showRight">
            <i class='icon icon_flecheGauche reverse'></i>
        </div>
        <a href="#">
            <div class="floatingButtonText showRight">intervenants</div>
        </a>
    </div>

    {% include 'FDCMarcheDuFilmBundle::partials/accreditationBlock.html.twig' %}
    {% include 'FDCMarcheDuFilmBundle::partials/contactBlock.html.twig' with { 'contact': contact } %}

{% endblock main %}