{% extends 'FDCMarcheDuFilmBundle::base.html.twig' %}

{% block main %}

    <div id="main" class="home loading">
        <div class="text-presentation calendar mdf customClass1Bckg">
            <div class="bigContainer">
                <h3>{{ globalEventsPage.title }}</h3>
            </div>
        </div>
        <div class="text-presentation greyBckg minPadding">
            <div class="bigContainer customClass1">
                {# Formated in BO #}
                {{ globalEventsPage.body|raw }}
                {# End #}
            </div>
        </div>
        <div class="bigContainer">
            <div id="accordion-conf" class="conferences">
                <div class="dropdown">
                    <span>{{ 'display'|trans }}</span>
                    <div id="eventSelector">
                        {% for key, item in conferences %}
                            {% set conferenceTitle = '' %}
                            {% if item == 'form.mdf.label.conference_producers_workshop' %}
                                {% set conferenceTitle = 'conference_title.producers_workshop'|trans %}
                            {% elseif item == 'form.mdf.label.conference_producers_network' %}
                                {% set conferenceTitle = 'conference_title.producers_network'|trans %}
                            {% elseif item == 'form.mdf.label.conference_doc_corner' %}
                                {% set conferenceTitle = 'conference_title.doc_corner'|trans %}
                            {% elseif item == 'form.mdf.label.conference_next' %}
                                {% set conferenceTitle = 'conference_title.next'|trans %}
                            {% elseif item == 'form.mdf.label.conference_mixers' %}
                                {% set conferenceTitle = 'conference_title.mixers'|trans %}
                            {% elseif item == 'form.mdf.label.conference_goes_to_cannes' %}
                                {% set conferenceTitle = 'conference_title.goes_to_cannes'|trans %}
                            {% endif %}
                            <div class="selectText" id="{{ key }}">{{ conferenceTitle }}{% if loop.last ==false %},{% endif %}</div>
                        {% endfor %}
                    </div>
                    <div class="dropArrow">
                        <i class="icon icon_flecheGauche"></i>
                    </div>
                </div><br>
                <div class="selector">
                    <div class="purpleBtn selectbtn confBtn" id="all">{{ 'filter_all'|trans }}</div>
                    {% for key, item in conferences %}
                        {% set conferenceTitle = '' %}
                        {% if item == 'form.mdf.label.conference_producers_workshop' %}
                            {% set conferenceTitle = 'conference_title.producers_workshop'|trans %}
                        {% elseif item == 'form.mdf.label.conference_producers_network' %}
                            {% set conferenceTitle = 'conference_title.producers_network'|trans %}
                        {% elseif item == 'form.mdf.label.conference_doc_corner' %}
                            {% set conferenceTitle = 'conference_title.doc_corner'|trans %}
                        {% elseif item == 'form.mdf.label.conference_next' %}
                            {% set conferenceTitle = 'conference_title.next'|trans %}
                        {% elseif item == 'form.mdf.label.conference_mixers' %}
                            {% set conferenceTitle = 'conference_title.mixers'|trans %}
                        {% elseif item == 'form.mdf.label.conference_goes_to_cannes' %}
                            {% set conferenceTitle = 'conference_title.goes_to_cannes'|trans %}
                        {% endif %}
                        <div class="selectbtn confBtn" id="{{ key }}" rel="{{ key }}">{{ conferenceTitle }}</div>
                    {% endfor %}
                </div>
                <div class="conferencesMenu">
                    {% include 'FDCMarcheDuFilmBundle::programme/partials/days.html.twig' with { 'days': globalEventsDays, 'events' : globalEventsSchedules } %}
                </div>
            </div>
        </div>
    </div>

    {{ render(controller('FDCMarcheDuFilmBundle:Transverse:sliderAccreditation')) }}
    {% include 'FDCMarcheDuFilmBundle::partials/contactBlock.html.twig' with { 'contact': contact } %}

{% endblock main %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var noFilterForGlobalMessage = "{{ 'no_filter_global_events_selected'|trans }}";
        var noAvailableGlobalMessage = "{{ 'no_available_events'|trans }}";
    </script>
{% endblock %}