{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
<div>
    {% if object.status == constant('FDC\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_DRAFT') %}
        {{ 'news.status.draft'|trans({}, 'FDCAdminBundle') }}
    {% elseif object.status == constant('FDC\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_PUBLISHED') %}
        {{ 'news.status.published'|trans({}, 'FDCAdminBundle') }}
    {% elseif object.status == constant('FDC\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_TRANSLATION_PENDING') %}
        {{ 'news.status.translation_pending'|trans({}, 'FDCAdminBundle') }}
    {% elseif object.status == constant('FDC\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_TRANSLATION_VALIDATING') %}
        {{ 'news.status.translation_validating'|trans({}, 'FDCAdminBundle') }}
    {% elseif object.status == constant('FDC\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_DEACTIVATED') %}
        {{ 'news.status.deactivated'|trans({}, 'FDCAdminBundle') }}
    {% endif %}
</div>
{% endblock %}