{% trans_default_domain 'FDCEventBundle' %}

<div class="main-image">

    {% set media = '' %}
    {% set format = '' %}
    {% if movie.imageCover %}
        {% set media = movie.imageCover %}
        {% set format =  'media_image_simple_1280x808'%}
    {% else %}
        {% set mainImg = movie|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_MAIN'))|first %}
        {% set filmImg = movie|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_FILM'))|first %}
        {% if mainImg %}
            {% set media = mainImg %}
            {% set format =  'film_main_highres' %}
        {% elseif filmImg %}
            {% set media = filmImg %}
            {% set format = 'film_film_highres' %}
        {% endif %}
    {% endif %}
    <div class="img" style="background-image: url({% path media, format %})"></div>
    <div class="links">
        <div class="container">
            <a class="movies" href="{{ path('fdc_event_movie_selection') }}"><i class="icon icon_flecheGauche"></i>{{ 'movie.nav.btn.touslesfilms'|trans }}</a>
            <a class="programmation" href="{{ path('fdc_event_agenda_scheduling') }}"><i class="icon icon_programmation"></i>{{ 'movie.nav.btn.voirlaprogrammation'|trans }}</a>
        </div>
    </div>
    <div class="trailer">
        {% if movie.videoMain is not null %}
        <div class="video-container state-init video"
             data-file='[{"file":"{{ s3_server_video ~ movie.videoMain|trans_fallback('webmUrl') }}"},{"file":"{{ s3_server_video ~ movie.videoMain|trans_fallback('mp4Url') }}"}]'
             data-vid="{{ movie.videoMain.id }}"
             {% if movie.imageCover %}
             data-img="{% path media, format %}"
             {% else %}
                 {% set videoImage = '' %}
                 {% if movie.videoMain.image %}
                     {% set videoImage = media_public_url(movie.videoMain.image|trans_fallback('file'), '1280x808') %}
                 {% elseif video|trans_fallback('imageAmazonUrl') %}
                     {% set videoImage = s3_server_global ~ movie.videoMain|trans_fallback('imageAmazonUrl') %}
                 {% endif %}
             data-img="{{ videoImage }} %}"
             {% endif %}>
            <div id="video-movie-trailer" class="video-player"></div>
            <div class="video-overlay"></div>
            <div class="infos-bar">
                <div class="picto"><i class="icon icon_video"></i></div>
                <div class="info">
                    <div class="vCenter">
                        <div class="vCenterKid">
                            <a href="#" class="category">XXX</a><span class="date">18.05.15</span> . <span class="hour">09:00</span>
                            <p>XXX</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="container container-top">
    {% set hasVideo = false %}
    {% if movie.imageMain %}
        {% set hasVideo = true %}
    {% elseif movie.videoMain is not null and movie.videoMain.image and movie.videoMain.image.file %}
        {% set hasVideo = true %}
    {% elseif movie.videoMain is not null and movie.videoMain|trans_fallback('imageAmazonUrl') %}
        {% set hasVideo = true %}
    {% endif %}

        <div class="poster video">
            {% if hasVideo == true %}
            <a href="#" class="picto"><i class="icon icon_video"></i></a>
            {% endif %}
            {% if hasVideo == true %}
                {% if movie.imageMain %}
                    {% media movie.imageMain|trans_fallback('file'), 'media_image_simple_588x784' %}
                {% elseif movie.videoMain is not null and movie.videoMain.image and movie.videoMain.image.file %}
                    {% media movie.videoMain.image.file, 'media_image_2560x1620' %}
                {% elseif movie.videoMain is not null and movie.videoMain|trans_fallback('imageAmazonUrl') %}
                    <img src="{{ s3_server_global ~ movie.videoMain|trans_fallback('imageAmazonUrl') }}">
                {% endif %}
            {% else %}
                {% set posterImg = movie|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_POSTER'))|first %}
                {% set mainImg = movie|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_MAIN'))|first %}
                {% set filmImg = movie|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_FILM'))|first %}

                {% set media = null %}
                {% set format =  'big' %}
                {% if posterImg is not empty %}
                    {% set media = posterImg %}
                {% elseif mainImg is not empty %}
                    {% set media = mainImg %}
                {% elseif filmImg is not empty %}
                    {% set media = filmImg %}
                {% endif %}
                {% if media is not empty %}
                    {% media media, format with {'data-object-fit': 'cover'} %}
                {% else %}
                    <img src="{{ asset('bundles/fdcevent/img/palmares/film_w293.jpg') }}" alt="Affiche film" />
                {% endif %}
            {% endif %}
        </div>
    <div class="info-film">
        <div class="categories">
            <span>{{ movie.selectionSection|trans_fallback('name') }}</span>
            {% if 'Ouverture' in movie.galaName %}
                <span>{{ 'movie.fdc_open'|trans }}</span>
            {% elseif 'Fermeture' in movie.galaName %}
                <span>{{ 'movie.fdc_close'|trans }}</span>
            {% endif %}
        </div>
        {% set secondTitle = null %}
        {% if movie|trans_fallback('title') is not empty %}
            {% set mainTitle = movie.titleVO %}
			{% set secondTitle = movie|trans_fallback('title') %}
        {% else %}
            {% set mainTitle = movie.titleVO %}
        {% endif %}
        <h2>{{ mainTitle }}</h2>
        {% if secondTitle and mainTitle != secondTitle %}
            <div class="title-original">({{ secondTitle }})</div>
        {% else %}
            <div class="title-original"></div>
        {% endif %}
        <p>
            {{ 'movie.label.realisepar'|trans }} :
            {% set directors = movie|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
            {% for director in directors %}
                <a href="{{ path('fdc_event_artist_get', {slug: director.slug }) }}">{{ director.fullName }}</a>{% if loop.index != directors|length %}, {% endif %}
            {% endfor %}
        </p>
        <p class="information-movie">
            {% if movie.productionYear is not null and movie.productionYear != 0 %}
                {{ 'movie.label.anneedeproduction'|trans }} : <span>{{ movie.productionYear }}</span>
            {% endif %}
            {% if movie.countries|length > 0 %}
                {{ 'movie.label.pays'|trans }} : {% for country in movie.countries %}{% if loop.index != movie.countries|length %}<span id="TetiereMovieCountry">{{ country.country|trans_fallback('name')|replace({' ': ""}) }}, </span>{% else %}<span>{{ country.country|trans_fallback('name')|replace({' ': ""}) }}</span>{% endif %}
            {% endfor %}
            {% endif  %}
            {% if movie.duration is not null and movie.duration > 0 %}
                {% set duration = movie.duration|split('.') %}
                {{ 'movie.label.duree'|trans }} : {% if duration|length >= 1 %}<span>{{ duration[0] }} {{ 'movie.duration.minutes'|trans }}</span>{% endif %}
            {% endif %}
            {%  if movie.publishedAt is not null %}
                {{ 'movie.label.datedesortie'|trans }} : <span>{{ movie.publishedAt|localizeddate('long', 'none', app.request.locale) }}</span>
            {% endif %}
        </p>
    </div>
	{% if movie.awards|length > 0 %}
    <div class="palmares">
        {% set awardsUnique = [] %}
        {% for movieAward in movie.awards %}
            {% if movieAward.award and movieAward.award.prize %}
                {% if movieAward.award.id not in awardsUnique %}
                    {% set awardsUnique = awardsUnique|merge([movieAward.award.id]) %}
                    <div class="palmares-item"><i class="icon icon_palme"></i><p>{{ movieAward.award.prize|trans_fallback('title') }}, {{  movieAward.award.festival.year }}</p></div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
	{% endif %}
    <div class="info-film">
        <div  class="synopsis">
            <h3 class="title-section">{{ 'movie.title.synopsis'|trans }}</h3>
            <p>{{ movie|trans_fallback('synopsis')|nl2br|raw }}</p>
        </div>
    </div>
</div>