<div class="main-image">
    <div class="img" style="background-image: url({{ movie.image.banner }})"></div>
    <div class="links">
        <div class="container">
            <a class="movies" href="{{ path('fdc_event_movie_selection', {'slug': "competition"}) }}">{{ 'movie.nav.btn.touslesfilms'|trans }}</a>
            <a class="programmation" href="#">{{ 'movie.nav.btn.voirlaprogrammation'|trans }}</a>
        </div>
    </div>
    <div class="trailer"></div>
</div>
<div class="container container-top">
    <div class="poster video">
        <a href="#" class="picto"></a>
        <img src="{{ movie.image.cover }}" alt="" />
    </div>
    <div class="info-film">
        <div class="categories">
            {% for category in movie.categories %}
            <span>{{ category.name }}</span>
            {% endfor %}
        </div>
        <h2>{{ movie.title }}</h2>
        <div class="title-original">({{ movie.titleVO }})</div>
        <p>{{ 'movie.label.realisepar'|trans }} : <a href="{{ path('fdc_event_artist_get', {'slug': movie.author.slug }) }}">{{ movie.author.fullName }}</a></p>
        <p>{{ 'movie.label.anneedeproduction'|trans }} : <span>{{ movie.productionYear }}</span>
            {{ 'movie.label.pays'|trans }} : <span>{{ movie.author.from }}</span>
            {{ 'movie.label.duree'|trans }} : <span>{{ movie.duration }}</span>
            {{ 'movie.label.datedesortie'|trans }} : <span>{{ movie.releaseYear }}</span></p>

        <div  class="synopsis">
            <h3 class="title-section">{{ 'movie.title.synopsis'|trans }}</h3>
            <p>
                {{ movie.synopsis|raw }}
            </p>
        </div>
    </div>
</div>