{% trans_default_domain 'FDCEventBundle' %}

<div class="main-image">

    {% set media = '' %}
    {% set format = '' %}
    {% if movie.imageCover %}
        {% set media = movie.imageCover %}
        {% set format =  'media_image_simple_1280x808'%}
    {% else %}
        {% set mainImg = movie|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_MAIN'))|first %}
        {% set filmImg = movie|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_FILM'))|first %}
        {% if mainImg %}
            {% set media = mainImg %}
            {% set format =  'film_main_highres' %}
        {% elseif filmImg %}
            {% set media = filmImg %}
            {% set format = 'film_film_highres' %}
        {% endif %}
    {% endif %}
    <div class="img" style="background-image: url({% path media, format %})"></div>
    <div class="links">
        <div class="container">
            <a class="movies" href="{{ path('fdc_event_movie_selection', {'slug': "competition"}) }}">{{ 'movie.nav.btn.touslesfilms'|trans }}</a>
            <a class="programmation" href="#">{{ 'movie.nav.btn.voirlaprogrammation'|trans }}</a>
        </div>
    </div>
    <div class="trailer">
        {% if movie.videoMain is not null %}
        <div class="video-container state-init video"
             data-file='[{"file":"{{ s3_server_video ~ movie.videoMain|trans_fallback('webmUrl') }}"},{"file":"{{ s3_server_video ~ movie.videoMain|trans_fallback('mp4Url') }}"}]'
             data-vid="{{ movie.videoMain.id }}"
             {% if movie.imageCover %}
             data-img="{% path media, format %}"
             {% else %}
                 {% set videoImage = '' %}
                 {% if movie.videoMain.image %}
                     {% set videoImage = media_public_url(movie.videoMain.image|trans_fallback('file'), '1280x808') %}
                 {% elseif video|trans_fallback('imageAmazonUrl') %}
                     {% set videoImage = s3_server_global ~ movie.videoMain|trans_fallback('imageAmazonUrl') %}
                 {% endif %}
             data-img="{{ videoImage }} %}"
             {% endif %}>
            <div id="video-movie-trailer" class="video-player"></div>
            <div class="video-overlay"></div>
            <div class="infos-bar">
                <div class="picto"><i class="icon icon_video"></i></div>
                <div class="info">
                    <div class="vCenter">
                        <div class="vCenterKid">
                            <a href="#" class="category">Bande-annonce</a><span class="date">18.05.15</span> . <span class="hour">09:00</span>
                            <p>The Lobster</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="container container-top">
        <div class="poster video">
            <a href="#" class="picto"><i class="icon icon_video"></i></a>
            {% if movie.imageMain %}
                {% media movie.imageMain|trans_fallback('file'), 'media_image_simple_588x784' %}
            {% elseif movie.videoMain is not null and movie.videoMain.image and movie.videoMain.image.file %}
                {% media movie.videoMain.image.file, 'media_image_2560x1620' %}
            {% elseif movie.videoMain is not null and movie.videoMain|trans_fallback('imageAmazonUrl') %}
                <img src="{{ s3_server_global ~ movie.videoMain|trans_fallback('imageAmazonUrl') }}">
            {% endif %}
        </div>
    <div class="info-film">
        <div class="categories">
            {% for category in movie.categories %}
            <span>{{ category.name }}</span>
            {% endfor %}
        </div>
        <h2>{% if movie|trans_fallback('title') is not empty %}{{ movie|trans_fallback('title') }}{% else %}{{ movie.titleVO }}{% endif %}</h2>
        <div class="title-original">({{ movie.titleVO }})</div>
        <p>
            {{ 'movie.label.realisepar'|trans }} :
            {% for director in movie|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                <a href="{{ path('fdc_event_artist_get', {slug: director.slug }) }}">{{ director.fullName }}</a>
                {% if loop.index != director|length %}
                    ,
                {% endif %}
            {% endfor %}
        </p>
        <p>
            {% if movie.productionYear is not null and movie.productionYear != 0 %}
                {{ 'movie.label.anneedeproduction'|trans }} : <span>{{ movie.productionYear }}</span>
            {% endif %}
            {% if movie.countries|length > 0 %}
                {{ 'movie.label.pays'|trans }} : {% for country in movie.countries %}<span>{{ country.country|trans_fallback('name') }}</span> {% endfor %}
            {% endif  %}
            {% if movie.duration is not null and movie.duration > 0 %}
                {{ 'movie.label.duree'|trans }} : <span>{{ movie.duration }}</span>
            {% endif %}
            {%  if movie.publishedAt is not null %}
                {{ 'movie.label.datedesortie'|trans }} : <span>{{ movie.publishedAt|localizeddate('long', 'none', app.request.locale) }}</span>
            {% endif %}
        </p>
    </div>
    <div class="palmares">
        <i class="icon icon_palme"></i>
        <p>Prix Un Certain Regard - Fondation Groupama Gan pour le Cinéma , 2010</p>
    </div>
    <div class="info-film">
        <div  class="synopsis">
            <h3 class="title-section">{{ 'movie.title.synopsis'|trans }}</h3>
            <p>{{ movie|trans_fallback('synopsis')|raw }}</p>
        </div>
    </div>
</div>