{% trans_default_domain 'FDCEventBundle' %}

<div class="press" data-section="press">
    <div class="info-press">
        <div class="wrapper">
            <div class="vCenter">
                <div class="vCenterKidTop">
                    <h3 class="gold">{{ 'movie.presse.title.infospresse'|trans }}</h3>
                    {% set medias = movie|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PRESS_PDF'), true) %}
                    {% if medias|length > 0 %}
                        <div class="folder">
                            <div class="vCenter">
                                <div class="vCenterKid">
                                    {% include 'FDCEventBundle:Global:components/film.poster.html.twig' with
                                    ({
                                    film: movie,
                                    film_format: '300x400',
                                    film_attrs: {
                                    alt: movie|trans_fallback('title')?:movie.titleVO,
                                    id: 'infosPressImageFilmPoster'
                                    },
                                    film_image_default: 'bundles/fdcevent/img/palmares/film420x560.jpg',
                                    film_image_default_attrs: ''
                                    }) %}
                                    <h3>{{ 'movie.presse.title.dossierdepresse'|trans }}</h3>
                                    {% for media in medias %}
                                        <a download
                                           href="{% path media.file, 'reference' %}">{% if app.request.locale == 'fr' %}{{ media.titleVf }}{% else %}{{ media.titleVa }}{% endif %}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if movie.website or movie.facebook or movie.twitter %}
                        <div class="links">
                            <p class="sub">{{ 'movie.presse.label.liens'|trans }}</p>
                            {% if movie.website %}
                                <a href="http://{{ movie.website }}"
                                   target="_blank">{{ 'movie.presse.liens.website'|trans }}</a>
                            {% endif %}
                            {% if movie.facebook %}
                                <a href="{{ movie.facebook }}"
                                   target="_blank">{{ 'movie.presse.liens.facebook'|trans }}</a>
                            {% endif %}
                            {% if movie.twitter %}
                                <a href="{{ movie.twitter }}"
                                   target="_blank">{{ 'movie.presse.liens.twitter'|trans }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="buttons">
                        <p class="sub">{{ 'movie.presse.label.plusdinformations'|trans }}</p>
                        <a href="{{ path('fdc_press_news_home') }}"
                           class="button">{{ 'movie.presse.btn.espacepresse'|trans }}</a>
                        <a href="{{ path('fdc_press_agenda_scheduling') }}"
                           class="button">{{ 'movie.presse.btn.voirlaprogrammation'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contacts">
        <div class="wrapper">
            <div class="vCenter">
                <div class="vCenterKidTop">
                    {% if movie.contacts|length > 0 %}
                        {% if movie.selectionSection and movie.selectionSection.id == constant('Base\\CoreBundle\\Entity\\FilmSelectionSection::FILM_SELECTION_SECTION_CINEFONDATION') %}
                            <h3>{{ 'movie.contact.title.contacts'|trans }}</h3>
                            {% set hasProd = false %}
                            {% for contact in movie.contacts %}
                                {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_PRODUCTION_COMPANY') %}
                                    {% set hasProd = true %}
                                {% endif %}
                            {% endfor %}
                            {% if hasProd == true %}
                                <div class="prod">
                                    {% set first = true %}
                                    {% for contact in movie.contacts %}
                                        {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_PRODUCTION_COMPANY') %}
                                            {% if first %}
                                                {% set first = false %}
                                                <p class="sub">{{ 'movie.contact.label.production'|trans }}</p>
                                            {% endif %}
                                            <div class="contact-reduce-line-height contact-increase-padding-bottom">
                                                <p>
                                                    {% set displayContact = [] %}
                                                    {% if contact.companyName %}
                                                        {% set displayContact = displayContact|merge([contact.companyName]) %}
                                                    {% endif %}
                                                    {% if contact.address %}
                                                        {% set displayAddress = contact.address.street ~ ' ' ~ contact.address.postalCode ~ ' ' ~ contact.address.city %}
                                                        {% if contact.address.country %}
                                                            {% set displayAddress = displayAddress ~ ' ' ~ contact.address.country|trans_fallback('name') %}
                                                        {% endif %}
                                                        {% if displayAddress|trim %}
                                                            {% set displayContact = displayContact|merge([displayAddress]) %}
                                                        {% endif %}
                                                        {% if (contact.address.phone or contact.address.mobilePhone) %}
                                                            {% if contact.address.phone?:contact.address.mobilePhone %}
                                                                {% set displayContact = displayContact|merge(['T: ' ~ (contact.address.phone?:contact.address.mobilePhone)]) %}
                                                            {% endif %}
                                                            {% if contact.address.fax %}
                                                                {% set displayContact = displayContact|merge(['F: ' ~ contact.address.fax]) %}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if contact.address.email %}
                                                            {% set displayEmail = '<a href="mailto:' ~ contact.address.email ~ '">' %}
                                                            {% set displayEmail =  displayEmail ~ contact.address.email ~ '</a>' %}
                                                            {% set displayContact = displayContact|merge([displayEmail]) %}
                                                        {% endif %}
                                                        {% if contact.address.website %}
                                                            {% set displayWebsite = '<a href="http://' ~ contact.address.website ~ '" target="_blank">' %}
                                                            {% set displayWebsite = displayWebsite ~ contact.address.website ~ '</a>' %}
                                                            {% set displayContact = displayContact|merge([displayWebsite]) %}
                                                        {% endif %}
                                                    {% endif %}
                                                    {{ displayContact|join(' - ')|raw }}
                                                </p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% set first = true %}
                                    {% for contact in movie.contacts %}
                                        {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_FRENCH_DISTRIBUTION') %}
                                            {% if first %}
                                                {% set first = false %}
                                                <p class="sub">{{ 'movie.contact.label.distribution'|trans }}</p>
                                            {% endif %}
                                            <div>
                                                <p>
                                                    {% set displayContact = [] %}
                                                    {% if contact.companyName %}
                                                        {% set displayContact = displayContact|merge([contact.companyName]) %}
                                                    {% endif %}
                                                    {% if contact.address %}
                                                        {% set displayAddress = contact.address.street ~ ' ' ~ contact.address.postalCode ~ ' ' ~ contact.address.city %}
                                                        {% if contact.address.country %}
                                                            {% set displayAddress = displayAddress ~ ' ' ~ contact.address.country|trans_fallback('name') %}
                                                        {% endif %}
                                                        {% if displayAddress|trim %}
                                                            {% set displayContact = displayContact|merge([displayAddress]) %}
                                                        {% endif %}
                                                        {% if (contact.address.phone or contact.address.mobilePhone) %}
                                                            {% if contact.address.phone?:contact.address.mobilePhone %}
                                                                {% set displayContact = displayContact|merge(['T: ' ~ (contact.address.phone?:contact.address.mobilePhone)]) %}
                                                            {% endif %}
                                                            {% if contact.address.fax %}
                                                                {% set displayContact = displayContact|merge(['F: ' ~ contact.address.fax]) %}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if contact.person and contact.person.email %}
                                                            {% set displayEmail = '<a href="mailto:' ~ contact.person.email ~ '">' %}
                                                            {% set displayEmail =  displayEmail ~ contact.person.email ~ '</a>' %}
                                                            {% set displayContact = displayContact|merge([displayEmail]) %}
                                                        {% endif %}
                                                        {% if contact.address.website %}
                                                            {% set displayWebsite = '<a href="http://' ~ contact.address.website ~ '" target="_blank">' %}
                                                            {% set displayWebsite = displayWebsite ~ contact.address.website ~ '</a>' %}
                                                            {% set displayContact = displayContact|merge([displayWebsite]) %}
                                                        {% endif %}
                                                    {% endif %}
                                                    {{ displayContact|join(' - ')|raw }}
                                                </p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% set first = true %}
                            {% for contact in movie.contacts %}
                                {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_SCHOOL') %}
                                    {% if first %}
                                        {% set first = false %}
                                        <p class="sub">{{ 'movie.contact.label.ecole'|trans }}</p>
                                    {% endif %}
                                    <div>
                                        <p>
                                            {% set contactInfos = [] %}
                                            {% if contact.companyName %}
                                                {% set contactInfos = contactInfos|merge([contact.companyName]) %}
                                            {% endif %}

                                            {% if contact.address %}
                                                {% set displayAddress = contact.address.street ~ ' ' ~ contact.address.postalCode ~ ' ' ~ contact.address.city %}
                                                {% if contact.address.country %}
                                                    {% set displayAddress = displayAddress ~ ' ' ~ contact.address.country|trans_fallback('name') %}
                                                {% endif %}
                                                {% if displayAddress|trim %}
                                                    {% set contactInfos = contactInfos|merge([displayAddress]) %}
                                                {% endif %}
                                            {% endif %}

                                            {% if contact.address and (contact.address.phone or contact.address.mobilePhone) %}
                                                {% set contactInfos = contactInfos|merge(['T:' ~ contact.address.phone?:contact.address.mobilePhone]) %}
                                                {% if (contact.address.phone or contact.address.mobilePhone) and contact.address.fax %}
                                                    {% set contactInfos = contactInfos|merge(['F:' ~ contact.address.fax]) %}
                                                {% endif %}
                                            {% endif %}
                                            {% if contact.address.email %}
                                                {% set contactInfos = contactInfos|merge(['<a href="mailto:' ~ contact.address.email ~ '">' ~ contact.address.email ~ '</a>']) %}
                                            {% endif %}
                                            {% if contact.address and contact.address.website %}
                                                {% set contactInfos =  contactInfos|merge(['<a href="http://' ~ contact.address.website ~ '" target="_blank">' ~ contact.address.website ~ '</a>']) %}
                                            {% endif %}

                                            {% if contact.person %}
                                                {% set contactInfos =  contactInfos|merge([contact.person.firstname ~ ' ' ~ contact.person.lastname]) %}
                                                {% set contactInfoKey = contactInfos|length %}
                                            {% endif %}

                                            {% if contact.person and contact.person.email %}
                                                {% set contactInfos = contactInfos|merge(['<a href="mailto:' ~ contact.person.email ~ '">' ~ contact.person.email ~ '</a>']) %}
                                            {% endif %}
                                            {% if contactInfos|length > 0 %}
                                                {% for contactInfo in contactInfos %}
                                                    {% if loop.index0 != 0 and loop.index != contactInfoKey %}
                                                        -
                                                    {% endif %}
                                                    {% if loop.index == contactInfoKey %}
                                                        <br/>
                                                    {% endif %}
                                                    {{ contactInfo|raw }}
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <h3>{{ 'movie.contact.title.contacts'|trans }}</h3>
                            {% set hasProd = false %}
                            {% for contact in movie.contacts %}
                                {% if
                                contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_PRODUCTION_COMPANY') or
                                contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_MINOR_PRODUCTION_COMPANY') %}
                                    {% set hasProd = true %}
                                {% endif %}
                            {% endfor %}
                            {% if hasProd == true %}
                                <div class="prod">
                                    {% set first = true %}
                                    {% for contact in movie.contacts %}
                                        {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_PRODUCTION_COMPANY') %}
                                            {% if first %}
                                                {% set first = false %}
                                                <p class="sub">{{ 'movie.contact.label.production'|trans }}</p>
                                            {% endif %}
                                            <div class="contact-reduce-line-height contact-increase-padding-bottom">
                                                <p>
                                                    {% set displayContact = [] %}
                                                    {% if contact.companyName %}
                                                        {% set displayContact = displayContact|merge([contact.companyName]) %}
                                                    {% endif %}
                                                    {% if contact.address %}
                                                        {% set displayAddress = contact.address.street ~ ' ' ~ contact.address.postalCode ~ ' ' ~ contact.address.city %}
                                                        {% if contact.address.country %}
                                                            {% set displayAddress = displayAddress ~ ' ' ~ contact.address.country|trans_fallback('name') %}
                                                        {% endif %}
                                                        {% set displayContact = displayContact|merge([displayAddress]) %}
                                                        {% if (contact.address.phone or contact.address.mobilePhone) %}
                                                            {% if contact.address.phone?:contact.address.mobilePhone %}
                                                                {% set displayContact = displayContact|merge(['T: ' ~ (contact.address.phone?:contact.address.mobilePhone)]) %}
                                                            {% endif %}
                                                            {% if contact.address.fax %}
                                                                {% set displayContact = displayContact|merge(['F: ' ~ contact.address.fax]) %}
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if contact.address.email %}
                                                            {% set displayEmail = '<a href="mailto:' ~ contact.address.email ~ '">' %}
                                                            {% set displayEmail =  displayEmail ~ contact.address.email ~ '</a>' %}
                                                            {% set displayContact = displayContact|merge([displayEmail]) %}
                                                        {% endif %}
                                                        {% if contact.address.website %}
                                                            {% set displayWebsite = '<a href="http://' ~ contact.address.website ~ '" target="_blank">' %}
                                                            {% set displayWebsite = displayWebsite ~ contact.address.website ~ '</a>' %}
                                                            {% set displayContact = displayContact|merge([displayWebsite]) %}
                                                        {% endif %}
                                                    {% endif %}
                                                    {{ displayContact|join(' - ')|raw }}
                                                </p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% for contact in movie.contacts %}
                                        {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_MINOR_PRODUCTION_COMPANY') %}
                                            {% if first %}
                                                {% set first = false %}
                                                <p class="sub">{{ 'movie.contact.label.minor_production_company'|trans }}</p>
                                            {% endif %}
                                            <div class="contact-reduce-line-height">
                                                <p>
                                                    {% set displayContact = [] %}
                                                    {% if contact.companyName %}
                                                        {% set displayContact = displayContact|merge([contact.companyName]) %}
                                                    {% endif %}
                                                    {% if contact.address and contact.address.country %}
                                                        {% set displayContact = displayContact|merge([contact.address.country|trans_fallback('name')]) %}
                                                    {% endif %}
                                                    {{ displayContact|join(' - ')|raw }}
                                                </p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% set first = true %}
                            {% for contact in movie.contacts %}
                                {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_FRENCH_DISTRIBUTION') %}
                                    {% if first %}
                                        {% set first = false %}
                                        <p class="sub">{{ 'movie.contact.label.distribution'|trans }}</p>
                                    {% endif %}
                                    <div>
                                        <p>
                                            {% set displayContact = [] %}
                                            {% if contact.companyName %}
                                                {% set displayContact = displayContact|merge([contact.companyName]) %}
                                            {% endif %}
                                            {% if contact.address %}
                                                {% if (contact.address.phone or contact.address.mobilePhone) %}
                                                    {% set displayContact = displayContact|merge(['T: ' ~ contact.address.phone?:contact.address.mobilePhone]) %}
                                                {% endif %}
                                                {% if contact.address.website %}
                                                    {% set displayWebsite = '<a href="http://' ~ contact.address.website ~ '" target="_blank">' %}
                                                    {% set displayWebsite = displayWebsite ~ contact.address.website ~ '</a>' %}
                                                    {% set displayContact = displayContact|merge([displayWebsite]) %}
                                                {% endif %}
                                                {% if contact.person and contact.person.email %}
                                                    {% set displayEmail = '<a href="mailto:' ~ contact.person.email ~ '">' %}
                                                    {% set displayEmail =  displayEmail ~ contact.person.email ~ '</a>' %}
                                                    {% set displayContact = displayContact|merge([displayEmail]) %}
                                                {% endif %}
                                            {% endif %}
                                            {{ displayContact|join(' - ')|raw }}
                                        </p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% set first = true %}
                            {% for contact in movie.contacts %}
                                {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_FRENCH_PRESS_COMPANY') %}
                                    {% if first %}
                                        {% set first = false %}
                                        <p class="sub">{{ 'movie.contact.label.pressefrancaise'|trans }}</p>
                                    {% endif %}
                                    <div>
                                        <p>
                                            {% set displayContact = [] %}
                                            {% if contact.companyName %}
                                                {% set displayContact = displayContact|merge([contact.companyName]) %}
                                            {% endif %}
                                            {% if contact.address %}
                                                {% if (contact.address.phone or contact.address.mobilePhone) %}
                                                    {% set displayContact = displayContact|merge(['T: ' ~ contact.address.phone?:contact.address.mobilePhone]) %}
                                                {% endif %}
                                                {% if contact.address.website %}
                                                    {% set displayWebsite = '<a href="http://' ~ contact.address.website ~ '" target="_blank">' %}
                                                    {% set displayWebsite = displayWebsite ~ contact.address.website ~ '</a>' %}
                                                    {% set displayContact = displayContact|merge([displayWebsite]) %}
                                                {% endif %}
                                                {% if contact.person %}
                                                    {% set displayContact = displayContact|merge([contact.person.firstname ~ ' ' ~ contact.person.lastname]) %}
                                                {% endif %}
                                                {% if contact.person and contact.person.email %}
                                                    {% set displayEmail = '<a href="mailto:' ~ contact.person.email ~ '">' %}
                                                    {% set displayEmail =  displayEmail ~ contact.person.email ~ '</a>' %}
                                                    {% set displayContact = displayContact|merge([displayEmail]) %}
                                                {% endif %}
                                            {% endif %}
                                            {{ displayContact|join(' - ')|raw }}
                                            {% if contact.person and contact.person.subordinates|length %}
                                                <br/>
                                                {% for subordinate in contact.person.subordinates %}
                                                    {{ subordinate.person.firstname }} {{ subordinate.person.lastname }}{% if loop.last == false %} - {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% set first = true %}
                            {% for contact in movie.contacts %}
                                {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_INTERNATIONAL_PRESS_COMPANY') %}
                                    {% if first %}
                                        {% set first = false %}
                                        <p class="sub">{{ 'movie.contact.label.presseinternational'|trans }}</p>
                                    {% endif %}
                                    <div>
                                        <p>
                                            {% set displayContact = [] %}
                                            {% if contact.companyName %}
                                                {% set displayContact = displayContact|merge([contact.companyName]) %}
                                            {% endif %}
                                            {% if contact.address %}
                                                {% if (contact.address.phone or contact.address.mobilePhone) %}
                                                    {% set displayContact = displayContact|merge(['T: ' ~ contact.address.phone?:contact.address.mobilePhone]) %}
                                                {% endif %}
                                                {% if contact.address.website %}
                                                    {% set displayWebsite = '<a href="http://' ~ contact.address.website ~ '" target="_blank">' %}
                                                    {% set displayWebsite = displayWebsite ~ contact.address.website ~ '</a>' %}
                                                    {% set displayContact = displayContact|merge([displayWebsite]) %}
                                                {% endif %}
                                                {% if contact.person %}
                                                    {% set displayContact = displayContact|merge([contact.person.firstname ~ ' ' ~ contact.person.lastname]) %}
                                                {% endif %}
                                                {% if contact.person and contact.person.email %}
                                                    {% set displayEmail = '<a href="mailto:' ~ contact.person.email ~ '">' %}
                                                    {% set displayEmail =  displayEmail ~ contact.person.email ~ '</a>' %}
                                                    {% set displayContact = displayContact|merge([displayEmail]) %}
                                                {% endif %}
                                            {% endif %}
                                            {{ displayContact|join(' - ')|raw }}
                                            {% if contact.person and contact.person.subordinates|length %}
                                                <br/>
                                                {% for subordinate in contact.person.subordinates %}
                                                    {{ subordinate.person.firstname }} {{ subordinate.person.lastname }}{% if loop.last == false %} - {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% set first = true %}
                            {% for contact in movie.contacts %}
                                {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_INTERNATIONAL_SELLING') %}
                                    {% if first %}
                                        {% set first = false %}
                                        <p class="sub">{{ 'movie.contact.label.international_selling'|trans }}</p>
                                    {% endif %}
                                    <div>
                                        <p>
                                            {% set displayContact = [] %}
                                            {% if contact.companyName %}
                                                {% set displayContact = displayContact|merge([contact.companyName]) %}
                                            {% endif %}
                                            {% if contact.address %}
                                                {% if (contact.address.phone or contact.address.mobilePhone) %}
                                                    {% set displayContact = displayContact|merge(['T: ' ~ contact.address.phone?:contact.address.mobilePhone]) %}
                                                {% endif %}
                                                {% if contact.address.website %}
                                                    {% set displayWebsite = '<a href="http://' ~ contact.address.website ~ '" target="_blank">' %}
                                                    {% set displayWebsite = displayWebsite ~ contact.address.website ~ '</a>' %}
                                                    {% set displayContact = displayContact|merge([displayWebsite]) %}
                                                {% endif %}
                                                {% if contact.address.email %}
                                                    {% set displayEmail = '<a href="mailto:' ~ contact.address.email ~ '">' %}
                                                    {% set displayEmail =  displayEmail ~ contact.address.email ~ '</a>' %}
                                                    {% set displayContact = displayContact|merge([displayEmail]) %}
                                                {% endif %}
                                            {% endif %}
                                            {{ displayContact|join(' - ')|raw }}
                                        </p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>