<div class="press" data-section="press">
    <div class="info-press">
        <div class="wrapper">
            <div class="vCenter">
                <div class="vCenterKidTop">
                    <h3 class="gold">{{ 'movie.presse.title.infospresse'|trans }}</h3>
                    <div class="folder">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                <img src="{{ movie.image.cover }}" alt="" />
                                <h3>{{ 'movie.presse.title.dossierdepresse'|trans }}</h3>
                                <a href="#">{{ 'movie.presse.btn.francaispdf'|trans }}</a>
                                <a href="#">{{ 'movie.presse.btn.englishpdf'|trans }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="links">
                        <p class="sub">{{ 'movie.presse.label.liens'|trans }}</p>
                        {% for link in movie.press.links %}
                            <a href="{{ link.href }}" target="_blank">{{ link.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="buttons">
                        <p class="sub">{{ 'movie.presse.label.plusdinformations'|trans }}</p>
                        <a href="#" class="button">{{ 'movie.presse.btn.espacepresse'|trans }}</a>
                        <a href="#" class="button">{{ 'movie.presse.btn.voirlaprogrammation'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contacts">
        <div class="wrapper">
            <div class="vCenter">
                <div class="vCenterKidTop">
                    <h3>{{ 'movie.contact.title.contacts'|trans }}</h3>
                    <div class="prod">
                        <p class="sub">{{ 'movie.contact.label.production'|trans }}</p>
                        <p>CG CINÉMA - 54 rue du Faubourg-Saint-Honoré 75008 Paris FRANCET: 0184173508 - <a href="#">production@cgcinema.eu</a></p>
                    </div>
                    <div>
                        <p class="sub">{{ 'movie.contact.label.distribution'|trans }}</p>
                        <p>LES FILMS DU LOSANGE - T: 01 44 43 87 10<br />
                            <a href="#">r.vial@filmsdulosange.fr</a>  <a href="#">www.filmsdulosange.fr</a></p>
                    </div>
                    <div>
                        <p class="sub">{{ 'movie.contact.label.pressefrancaise'|trans }}</p>
                        <p>MONICA DONATI - T: +33 (0)1 43 07 55 22<br />
                            <a href="#">monica.donati@mk2.com</a></p>
                    </div>
                    <div>
                        <p class="sub">{{ 'movie.contact.label.presseinternationale'|trans }}</p>
                        <p>MANLIN STERNER - <a href="#">manlin@manlin.se</a></p>
                    </div>
                    <div>
                        <p class="sub">{{ 'movie.contact.label.ventealetranger'|trans }}</p>
                        <p>MK2 - T: +33 (0)1 44 67 30 30</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>