{% trans_default_domain 'FDCEventBundle' %}

<div class="press" data-section="press">
    <div class="info-press">
        <div class="wrapper">
            <div class="vCenter">
                <div class="vCenterKidTop">
                    <h3 class="gold">{{ 'movie.presse.title.infospresse'|trans }}</h3>
                    <div class="folder">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                <img src="" alt="" />
                                <h3>{{ 'movie.presse.title.dossierdepresse'|trans }}</h3>
                                <a href="#">{{ 'movie.presse.btn.francaispdf'|trans }}</a>
                                <a href="#">{{ 'movie.presse.btn.englishpdf'|trans }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="links">
                        <p class="sub">{{ 'movie.presse.label.liens'|trans }}</p>
                        {#{% for link in movie.press.links %}
                            <a href="{{ link.href }}" target="_blank">{{ link.name }}</a>
                        {% endfor %}#}
                    </div>
                    <div class="buttons">
                        <p class="sub">{{ 'movie.presse.label.plusdinformations'|trans }}</p>
                        <a href="#" class="button">{{ 'movie.presse.btn.espacepresse'|trans }}</a>
                        <a href="#" class="button">{{ 'movie.presse.btn.voirlaprogrammation'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contacts">
        <div class="wrapper">
            <div class="vCenter">
                <div class="vCenterKidTop">
                    {% if movie.contacts|length > 0 %}
                        <h3>{{ 'movie.contact.title.contacts'|trans }}</h3>
                        {% for contact in movie.contacts %}
                            <div{% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_PRODUCTION_COMPANY') %} class="prod"{% endif %}>
                                {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_PERSON') %}
                                    <p class="sub">{{ 'movie.contact.label.person'|trans }}</p>
                                {% elseif contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_PRODUCTION_COMPANY') %}
                                    <p class="sub">{{ 'movie.contact.label.production'|trans }}</p>
                                {% elseif contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_INTERNATIONAL_SELLING') %}
                                    <p class="sub">{{ 'movie.contact.label.ventealetranger'|trans }}</p>
                                {% elseif contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_FRENCH_DISTRIBUTION') %}
                                    <p class="sub">{{ 'movie.contact.label.distribution'|trans }}</p>
                                {% elseif contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_SCHOOL') %}
                                    <p class="sub">{{ 'movie.contact.label.school'|trans }}</p>
                                {% elseif contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_MINOR_PRODUCTION_COMPANY') %}
                                    <p class="sub">{{ 'movie.contact.label.minor_production_company'|trans }}</p>
                                {% elseif contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_FRENCH_PRESS_COMPANY') %}
                                    <p class="sub">{{ 'movie.contact.label.pressefrancaise'|trans }}</p>
                                {% elseif contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_INTERNATIONAL_PRESS_COMPANY') %}
                                    <p class="sub">{{ 'movie.contact.label.presseinternationale'|trans }}</p>
                                {% endif %}
                                <p>
                                    {% if contact.companyName %}{{ contact.companyName }}{% if contact.address %} - {% endif %}{% endif %}
                                    {% if contact.address %}{{ contact.address.street }} {{ contact.address.postalCode }} {{ contact.address.city }} {% if contact.address.country %} {{ contact.address.country|trans_fallback('name') }}{% endif %}{% endif %}
                                    {% if contact.address.phone or contact.address.mobilePhone %}{% if contact.address %} - {% endif %}T: {{ contact.address.phone?:contact.address.mobilePhone  }}{% endif %}
                                    {% if contact.address.email %}<a href="#">{{ contact.address.email }}</a>{% endif %}
                                    {% if contact.address.website %}<a href="#">{{ contact.address.website }}</a>{% endif %}
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
    </div>
</div>