{% trans_default_domain 'FDCEventBundle' %}

<div class="press" data-section="press">
    <div class="info-press">
        <div class="wrapper">
            <div class="vCenter">
                <div class="vCenterKidTop">
                    <h3 class="gold">{{ 'movie.presse.title.infospresse'|trans }}</h3>
                    {% set medias = movie|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PRESS_PDF'), true) %}
                    {% if medias|length > 0 %}
                    <div class="folder">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                {% set mainImg = movie|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_MAIN'))|first %}
                                {% set filmImg = movie|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_FILM'))|first %}
                                {% set media = '' %}
                                {% set format =  '300x400' %}
                                {% if mainImg %}
                                    {% set media = mainImg %}
                                    {% if media is not empty %}
                                        <img src="{% path media, '300x400' %}" id="infosPressImageFilmPoster">
                                    {% endif %}
                                {% elseif filmImg %}
                                    {% set media = filmImg %}
                                    {% if media is not empty %}
                                        <img src="{% path media, '300x400' %}">
                                    {% endif %}
                                {% else %}
                                    <img src="{{ asset('bundles/fdcevent/img/palmares/film420x560.jpg') }}" alt="" width="300" height="400">
                                {% endif %}

                                <h3>{{ 'movie.presse.title.dossierdepresse'|trans }}</h3>
                                {% for media in medias %}
                                    <a download href="{% path media.file, 'reference' %}">{% if app.request.locale == 'fr' %}{{ media.titleVf }}{% else %}{{ media.titleVa }}{% endif %}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if movie.website or movie.facebook or movie.twitter %}
                    <div class="links">
                        <p class="sub">{{ 'movie.presse.label.liens'|trans }}</p>
                        {% if movie.website %}
                            <a href="{{ movie.website }}" target="_blank">{{ 'movie.presse.liens.website'|trans }}</a>
                        {% endif %}
                        {% if movie.facebook %}
                            <a href="{{ movie.facebook }}" target="_blank">{{ 'movie.presse.liens.facebook'|trans }}</a>
                        {% endif %}
                        {% if movie.twitter %}
                            <a href="{{ movie.twitter }}" target="_blank">{{ 'movie.presse.liens.twitter'|trans }}</a>
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="buttons">
                        <p class="sub">{{ 'movie.presse.label.plusdinformations'|trans }}</p>
                        <a href="{{ path('fdc_press_news_home') }}" class="button">{{ 'movie.presse.btn.espacepresse'|trans }}</a>
                        <a href="{{ path('fdc_press_agenda_scheduling') }}" class="button">{{ 'movie.presse.btn.voirlaprogrammation'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contacts">
        <div class="wrapper">
            <div class="vCenter">
                <div class="vCenterKidTop">
                    {% if movie.contacts|length > 0 %}
                        <h3>{{ 'movie.contact.title.contacts'|trans }}</h3>
                        {% for contact in movie.contacts %}
                            {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_PRODUCTION_COMPANY') %}
                                <div class="prod">
                                    <p class="sub">{{ 'movie.contact.label.production'|trans }}</p>
                                    <p>
                                        {% if contact.companyName %}{{ contact.companyName }}{% endif %}
                                        {% if contact.address %}
                                            {% if contact.companyName %} - {% endif %}
                                            {{ contact.address.street }} {{ contact.address.postalCode }} {{ contact.address.city }}
                                            {% if contact.address.country %}
                                                {{ contact.address.country|trans_fallback('name') }}
                                            {% endif %}
                                        {% endif %}
                                        {% if contact.address and (contact.address.phone or contact.address.mobilePhone) %}
                                            {% if contact.address %} - {% endif %}
                                            T: {{ contact.address.phone?:contact.address.mobilePhone }}{% if (contact.address.phone or contact.address.mobilePhone) and contact.address.fax %} - F: {{ contact.address.fax }} {% endif %}
                                        {% endif %}
                                        {% if contact.address.email %}
                                            {% if contact.address and contact.address.fax %} - {% endif %}
                                            <a href="mailto:{{ contact.address.email }}">{{ contact.address.email }}</a>
                                        {% endif %}
                                        {% if contact.address and contact.address.website %}
                                            {% if contact.address and contact.address.email %} - {% endif %}
                                            <a href="{{ contact.address.website }}" target="_blank">{{ contact.address.website }}</a>
                                        {% endif %}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for contact in movie.contacts %}
                            {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_MINOR_PRODUCTION_COMPANY') %}
                                <div>
                                    <p class="sub">{{ 'movie.contact.label.minor_production_company'|trans }}</p>
                                    <p>
                                        {% if contact.companyName %}{{ contact.companyName }}{% endif %}
                                        {% if contact.address and contact.address.country %}
                                            {% if contact.companyName  %} - {% endif %}
                                            {{ contact.address.country|trans_fallback('name') }}
                                        {% endif %}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for contact in movie.contacts %}
                            {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_FRENCH_DISTRIBUTION') %}
                                <div>
                                    <p class="sub">{{ 'movie.contact.label.distribution'|trans }}</p>
                                    <p>
                                        {% if contact.companyName %}{{ contact.companyName }}{% endif %}
                                        {% if contact.address %}
                                            {% if (contact.address.phone or contact.address.mobilePhone) %}
                                                {% if contact.companyName %} - {% endif %}
                                                T: {{ contact.address.phone?:contact.address.mobilePhone }}
                                            {% endif %}
                                            {% if contact.address.email %}
                                                {% if (contact.address.phone or contact.address.mobilePhone) %} - {% endif %}
                                                <a href="mailto:{{ contact.address.email }}">{{ contact.address.email }}</a>
                                            {% endif %}
                                            {% if contact.address and contact.address.website %}
                                                {% if contact.address and contact.address.email %} - {% endif %}
                                                <a href="{{ contact.address.website }}" target="_blank">{{ contact.address.website }}</a>
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for contact in movie.contacts %}
                            {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_FRENCH_PRESS_COMPANY') %}
                                <div>
                                    <p class="sub">{{ 'movie.contact.label.pressefrancaise'|trans }}</p>
                                    <p>
                                        {% if contact.companyName %}{{ contact.companyName }} {% endif %}
                                        {% if contact.address %}
                                            {% if (contact.address.phone or contact.address.mobilePhone) %}
                                                {% if contact.companyName %} - {% endif %}
                                                T: {{ contact.address.phone?:contact.address.mobilePhone }}
                                            {% endif %}

                                            {% if contact.address and contact.address.website %}
                                                {% if (contact.address.phone or contact.address.mobilePhone) %} - {% endif %}
                                                <a href="{{ contact.address.website }}" target="_blank">
                                                    {{ contact.address.website }}
                                                </a>
                                            {% endif %}
                                            {% if contact.address and contact.address.person %}
                                                {% if contact.address and contact.address.website %} - {% endif %}
                                                {{ contact.address.person.firstname }} {{ contact.address.person.lastname }}
                                            {% endif %}

                                            {% if contact.address and contact.address.email %}
                                                {% if contact.address.person %} - {% endif %}
                                                <a href="mailto:{{ contact.address.email }}">{{ contact.address.email }}</a>
                                            {% endif %}
                                            {% if contact.address and contact.address.person %}
                                                <br/>
                                                {% for subordinate in contact.address.person.subordinates %}
                                                    {{ subordinate.firstname }} {{ subordinate.lastname }}
                                                    {% if loop.index != contact.address.person.subordinates|length %}
                                                        ,
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for contact in movie.contacts %}
                            {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_INTERNATIONAL_SELLING') %}
                                <div>
                                    <p class="sub">{{ 'movie.contact.label.minor_production_company'|trans }}</p>
                                    <p>
                                        {% if contact.companyName %}{{ contact.companyName }}{% endif %}
                                        {% if contact.address %}
                                            {% if (contact.address.phone or contact.address.mobilePhone) %}
                                                {% if contact.companyName %} - {% endif %}
                                                T: {{ contact.address.phone?:contact.address.mobilePhone }}
                                            {% endif %}
                                            {% if contact.address and contact.address.website %}
                                                {% if (contact.address.phone or contact.address.mobilePhone) %} - {% endif %}
                                                <a href="{{ contact.address.website }}" target="_blank">{{ contact.address.website }}</a>
                                            {% endif %}
                                            {% if contact.address.email %}
                                                {% if contact.address and contact.address.website %} - {% endif %}
                                                <a href="mailto:{{ contact.address.email }}">{{ contact.address.email }}</a>
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}



                               {# {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_PERSON') %}
                                    <p class="sub">{{ 'movie.contact.label.person'|trans }}</p>
                                {% elseif contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_PRODUCTION_COMPANY') %}
                                    <p class="sub">{{ 'movie.contact.label.production'|trans }}</p>
                                {% elseif contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_INTERNATIONAL_SELLING') %}
                                    <p class="sub">{{ 'movie.contact.label.ventealetranger'|trans }}</p>
                                {% elseif contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_FRENCH_DISTRIBUTION') %}
                                    <p class="sub">{{ 'movie.contact.label.distribution'|trans }}</p>
                                {% elseif contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_SCHOOL') %}
                                    <p class="sub">{{ 'movie.contact.label.school'|trans }}</p>
                                {% elseif contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_MINOR_PRODUCTION_COMPANY') %}
                                    <p class="sub">{{ 'movie.contact.label.minor_production_company'|trans }}</p>
                                {% elseif contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_FRENCH_PRESS_COMPANY') %}
                                    <p class="sub">{{ 'movie.contact.label.pressefrancaise'|trans }}</p>
                                {% elseif contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_INTERNATIONAL_PRESS_COMPANY') %}
                                    <p class="sub">{{ 'movie.contact.label.presseinternationale'|trans }}</p>
                                {% endif %}
                                <p>
                                    {% if contact.companyName %}{{ contact.companyName }}{% if contact.address %} - {% endif %}{% endif %}
                                    {% if contact.address %}{{ contact.address.street }} {{ contact.address.postalCode }} {{ contact.address.city }} {% if contact.address.country %} {{ contact.address.country|trans_fallback('name') }}{% endif %}{% endif %}
                                    {% if contact.address.phone or contact.address.mobilePhone %}{% if contact.address %} - {% endif %}T: {{ contact.address.phone?:contact.address.mobilePhone  }}{% endif %}
                                    {% if contact.address.email %}<a href="mailto:{{ contact.address.email }}">{{ contact.address.email }}</a>{% endif %}
                                    {% if contact.address.website %}<a href="{{ contact.address.website }}" target="_blank">{{ contact.address.website }}</a>{% endif %}
                                </p>#}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>