{% trans_default_domain 'FDCEventBundle' %}

<ul class="sub-nav-list nav-list">
    {% for selectionTab in selectionTabs %}
    {% set selectionSlug = selectionTab|trans_fallback('slug')?:selectionTab.selectionSection|trans_fallback('slug') %}
    {% set selectionName = selectionTab|trans_fallback('overrideName')?:selectionTab.selectionSection|trans_fallback('name') %}
    <li>
        <a href="{{ path('fdc_event_movie_selection', {'slug': selectionSlug}) }}"
               class="{% if app.request.attributes.get('slug') == selectionSlug %}active{% endif %} ajax">
            {{ selectionName }}
        </a>
    </li>
    {% endfor %}

    {% if cannesClassics is defined and cannesClassics|length > 0 %}
        {% set transClassics = cannesClassics[0].findTranslationByLocale(app.request.locale) %}
        {% if transClassics is not empty %}
            <li>

                <a href="{{ path('fdc_event_movie_classics', {'slug': transClassics.slug}) }}"
                   class="{% if app.request.attributes.get('_route') == 'fdc_event_movie_classics' %}active{% endif %} ajax">
                    {{ 'selection.nav.cannes-classics'|trans }}
                </a>
            </li>
        {% endif %}
    {% endif %}
    <li>
        <a href="{{ path('fdc_event_movie_selection', {'slug': 'cinema-de-la-plage'}) }}"
           class="{% if app.request.attributes.get('slug') == 'cinema-de-la-plage' %}active{% endif %} ajax">
            {{ 'selection.nav.cinema-la-plage'|trans }}
        </a>
    </li>
</ul>