{% extends 'FDCMarcheDuFilmBundle::base.html.twig' %}

{% block main %}
    <div id="main" class="home loading">
        {% include 'FDCMarcheDuFilmBundle::shared/pressSubHeader.html.twig' %}
        <div class="text-presentation galeriePresentation">
            <div class="bigContainer">
                <h3>{{ pressGraphicalCharterContent.title }}</h3>
                <h5 class="customClass1">{{ pressGraphicalCharterContent.description|raw }}</h5>
            </div>
        </div>
        <div class="bigContainer">
            <div class="our-news infosPage galeriePhotos graphical-charter">
                <div class="innerWrapper">
                    {% for pressGraphicalCharterWidget in pressGraphicalCharterWidgets %}
                        {% if pressGraphicalCharterWidget.translatable.epsFile %}
                            {% set epsInfo = pressGraphicalCharterWidget.translatable.epsFile.findTranslationByLocale(app.request.locale) %}
                            {% set  file = pressGraphicalCharterWidget.translatable.epsFile|trans_fallback('file') %}
                            {% set url%}{%path pressGraphicalCharterWidget.translatable.epsFile|trans_fallback('file'), 'reference'%}{% endset%}
                            <div class="articles">
                                <a class="link" href="{{path('fdc_marche_du_film_amazon', {'url':url|url_encode, 'name':file.providermetadata['filename']})}}">
                                    <div class="articles-content">
                                        <div class="photoWrapper">
                                            {% if pressGraphicalCharterWidget.translatable.image %}
                                                <img src="{% path pressGraphicalCharterWidget.translatable.image|trans_fallback('file'), 'reference' %}" style="width: 341px; height: 217px;">
                                            {% else %}
                                                <img src="{{ asset('bundles/fdcmarchedufilm/img/no-image.png') }}" style="width: 341px; height: 217px;">
                                            {% endif %}
                                        </div>
                                        <div class="textWrapper">
                                            <h6>{{ pressGraphicalCharterWidget.title|truncate(28, true, "...") }}</h6>
                                            <span>{{ epsInfo.name }}</span>
                                            <span class="upSpan">{{ (pressGraphicalCharterWidget.translatable.epsFile|trans_fallback('file').size / (1024 * 1024))|round(2)  }} {{ 'image_size_mo'|trans }} - {{ pressGraphicalCharterWidget.translatable.epsFile|trans_fallback('file')|split('.')|last }}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% else %}
                            {% set imageInfo = pressGraphicalCharterWidget.translatable.image.findTranslationByLocale(app.request.locale) %}
                            <div class="articles">
                                <a href="{% path pressGraphicalCharterWidget.translatable.image|trans_fallback('file'), 'reference' %}" target="_blank" download>
                                    <div class="articles-content">
                                        <div class="photoWrapper">
                                            <img src="{% path pressGraphicalCharterWidget.translatable.image|trans_fallback('file'), 'reference' %}" style="width: 341px; height: 217px;">
                                        </div>
                                        <div class="textWrapper">
                                            <h6>{{ pressGraphicalCharterWidget.title|truncate(28, true, "...") }}</h6>
                                            <span>{{ imageInfo.legend ~ ' © ' ~  imageInfo.copyright }}</span>
                                            <span class="upSpan">{{ (pressGraphicalCharterWidget.translatable.image|trans_fallback('file').size / (1024 * 1024))|round(2)  }} {{ 'image_size_mo'|trans }} - {{ pressGraphicalCharterWidget.translatable.image|trans_fallback('file')|split('.')|last }}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'FDCMarcheDuFilmBundle::contentTemplate/partials/contentTemplateFloatingButtons.html.twig' with {
    backRoute: 'fdc_marche_du_film_press_gallery',
    backRouteLabel: 'galerie photos',
    nextRoute:'',
    nextRouteLabel: ''
    } %}
{% endblock main %}
