{% trans_default_domain 'FDCEventBundle' %}
{% set file = widget.file %}
{% if file %}
    {% set trans = file.findTranslationByLocale(app.request.locale) %}

    {% if trans is null or trans.mp3Url is null or trans.jobMp3State != 3 %}
        {% set trans = file.findTranslationByLocale('fr') %}
    {% endif %}
    {% set file = trans.file %}

    {% set header = widget.file.image %}
    {% if header is not null %}
        {% set imageTrans = header.findTranslationByLocale(app.request.locale) %}
        {% if imageTrans is null or imageTrans.file is null %}
            {% set imageTrans = header.findTranslationByLocale('fr') %}
        {% endif %}
    {% endif %}
    {% if imageTrans is defined %}
        {% set image = imageTrans.file %}
    {% endif %}
    {% if image is not defined and trans.imageAmazonUrl %}
        {% set image_s3 = s3_server_video ~ trans.imageAmazonUrl %}
    {% endif %}
{% endif %}
{% if (image is defined or image_s3 is defined) and trans.jobMp3State == 3 and trans.mp3Url %}
    <div class="audio-container"
         data-file='[{"file":"{{ s3_server_audio ~ trans.mp3Url }}"}]'
         data-aid="{{ widget.id }}">
        <div class="audio-player2">
            <div id="audio-player-{{ widget.id }}" class="audio-player-container"></div>
            <div class="image" {% if image is defined %} style="background-image: url({% path image, '1950x1232' %});"{% elseif image_s3 is defined %} style="background-image: url({{ image_s3 }});"{% endif %}></div>
            <button class="play-btn play"><i class="icon icon_audio"></i></button>
            <div class="off">
                <div class="vCenter">
                    <div class="vCenterKid">
                        <div class="info">
                            <span class="category">{{ widget.file.theme|trans_fallback('name') }}</span><span class="date">{{ widget.file.publishedAt|date('d.m.y') }}</span> . <span class="hour">{{ agenda_leftbar_translate_hour(widget.file.publishedAt|date('H:i'), true, true) }}</span>
                            <p>{{ trans.title }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="on"></div>
        </div>
    </div>
{% endif %}