<div class="item">
    <div class="image-wrapper">
        {% if homepage.pushsMainImage1 is not null %}
            {% set trans = homepage.pushsMainImage1.findTranslationByLocale(app.request.locale) %}
            {% if trans is null or trans.file is null %}
                {% set trans = homepage.pushsMainImage1.findTranslationByLocale('fr') %}
            {% endif %}
            <img class="img" src="{% path trans.file, '650x410' %}" alt="{{ trans.alt }}" />
        {% endif %}
    </div>
    <a class="linkVid" href="{{ homepage|trans_fallback('primaryPushUrl1') }}"></a>
    <div class="info">
        <h3 class="category">{{ homepage|trans_fallback('primaryPushTitle1') }}</h3>
    </div>
</div>

<div class="item">
    <div class="image-wrapper">
        {% if homepage.pushsMainImage2 is not null %}
            {% set trans = homepage.pushsMainImage2.findTranslationByLocale(app.request.locale) %}
            {% if trans is null or trans.file is null %}
                {% set trans = homepage.pushsMainImage2.findTranslationByLocale('fr') %}
            {% endif %}
            <img class="img" src="{% path trans.file, '650x410' %}" alt="{{ trans.alt }}" />
        {% endif %}
    </div>
    <a class="linkVid" href="{{ homepage|trans_fallback('primaryPushUrl2') }}"></a>
    <div class="vCenter">
        <div class="vCenterKid">
            <h3 class="category">{{ homepage|trans_fallback('primaryPushTitle2') }}</h3>
        </div>
    </div>
</div>

<div class="item">
    <div class="image-wrapper">
        {% if homepage.pushsMainImage3 is not null %}
            {% set trans = homepage.pushsMainImage3.findTranslationByLocale(app.request.locale) %}
            {% if trans is null or trans.file is null %}
                {% set trans = homepage.pushsMainImage3.findTranslationByLocale('fr') %}
            {% endif %}
                <img class="img" src="{% path trans.file, '650x410' %}" alt="{{ trans.alt }}" />
        {% endif %}
    </div>
    <a class="linkVid" href="{{ homepage|trans_fallback('primaryPushUrl3') }}"></a>
    <div class="vCenter">
        <div class="vCenterKid">
            <h3 class="category">{{ homepage|trans_fallback('primaryPushTitle3') }}</h3>
        </div>
    </div>
</div>