{% trans_default_domain 'FDCEventBundle' %}

{% set file = news.audio %}
{% set trans = file.findTranslationByLocale(app.request.locale) %}

    {% if trans is null or trans.file is null or trans.mp3Url is null or trans.jobMp3State != 3 %}
        {% set trans = file.findTranslationByLocale('fr') %}
    {% endif %}

    {% set header = news.header %}
    {% if header is not null %}
        {% set imageTrans = header.findTranslationByLocale(app.request.locale) %}
        {% if imageTrans is null or imageTrans.file is null %}
            {% set imageTrans = header.findTranslationByLocale('fr') %}
        {% endif %}
    {% endif %}
    {% if imageTrans is defined %}
        {% set image = imageTrans.file %}
    {% else %}
        {% set header = news.audio.image %}
        {% set imageTrans = header.findTranslationByLocale(app.request.locale) %}
        {% if imageTrans is null or imageTrans.file is null %}
            {% set imageTrans = header.findTranslationByLocale('fr') %}
        {% endif %}

        {% set image = imageTrans.file %}
    {% endif %}

    <div class="main-audio-player" style="background-image:url({% if image is defined and image is not null %}{% path image, '1950x1232' %}{% endif %})">
        <div class="audio-player" data-sound="{{ s3_server_audio ~ trans.mp3Url }}">
            <div class="picto playpause">
                <i class="icon icon_audio"></i>
            </div>
            <div class="player-off">
                <a href="#" class="category">{{ news.audio.theme|trans_fallback('name') }}</a>
                <span class="date">{{ news.audio.publishedAt|date('d.m.y') }}</span> . <span
                        class="hour">{{ news.audio.publishedAt|date('H:i') }}</span>
                <p>{{ trans.title }}</p>
            </div>

            <div class="player-on">
                <div class="duration">
                    <span class="curr">0:00</span>/<span class="total">0:00</span>
                </div>
                <div class="wave-container" id="wave-0"></div>
            </div>
        </div>
    </div>
