{% trans_default_domain 'FDCEventBundle' %}

{% set file = news.audio %}
{% set trans = file.findTranslationByLocale(app.request.locale) %}

    {% if trans is null or trans.mp3Url is null or trans.jobMp3State != 3 %}
        {% set trans = file.findTranslationByLocale('fr') %}
    {% endif %}

    {% set header = news.header %}
    {% if header is not null %}
        {% set imageTrans = header.findTranslationByLocale(app.request.locale) %}
        {% if imageTrans is null or imageTrans.file is null %}
            {% set imageTrans = header.findTranslationByLocale('fr') %}
        {% endif %}
    {% endif %}
    {% if imageTrans is defined %}
        {% set image = imageTrans.file %}
    {% else %}
        {% set header = news.audio.image %}
        {% set imageTrans = header.findTranslationByLocale(app.request.locale) %}
        {% if imageTrans is null or imageTrans.file is null %}
            {% set imageTrans = header.findTranslationByLocale('fr') %}
        {% endif %}

        {% set image = imageTrans.file %}
    {% endif %}

    <div class="main-audio-player" style="background-image:url({% if image is defined and image is not null %}{% path image, '1950x1232' %}{% endif %})">
        <div class="audio-container"
             data-file='[{"file":"{{ s3_server_audio ~ trans.mp3Url }}"}]'
             data-aid="{{ trans.id }}">
            <div class="audio-player2">
                <div id="audio-player-{{ trans.id }}" class="audio-player-container"></div>
                <button class="play-btn play"><i class="icon icon_audio"></i></button>
                <div class="off">
                    <div class="vCenter">
                        <div class="vCenterKid">
                            <div class="info">
                                <span class="category">{{ news.audio.theme|trans_fallback('name') }}</span>
                                <span class="date">{{ news.audio.publishedAt|date('d.m.y') }}</span> .
                                <span class="hour">{{ agenda_leftbar_translate_hour(news.audio.publishedAt|date('H:i'), true, true) }}</span>
                                <p>{{ trans.title }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="on"></div>
            </div>
        </div>
    </div>
