{% trans_default_domain 'FDCEventBundle' %}
{% set file = widget.file %}
{% set trans = get_available_video(file, false, app.request.locale) %}

{% if trans is null or trans.file is null or trans.jobMp4State != 3 or trans.mp4Url is null or trans.webmUrl is null %}
    {% set trans = file.findTranslationByLocale('fr') %}
{% endif %}

{% set header = file.image %}
{% if header is not null %}
    {% set imageTrans = header.findTranslationByLocale(app.request.locale) %}
    {% if imageTrans is null or imageTrans.file is null %}
        {% set imageTrans = header.findTranslationByLocale('fr') %}
    {% endif %}
{% endif %}
{% if imageTrans is defined %}
    {% set image = imageTrans.file %}
{% endif %}
{% if image is not defined and trans.imageAmazonUrl is not null %}
    {% set image_s3 = s3_server_video ~ trans.imageAmazonUrl %}
{% endif %}

<div class="m-video">
    <div id="players-{{ widget.id }}" class="players" {% if(trans.jobWebmState == 3) %}data-video="{{ s3_server_video ~ trans.webmUrl }}"{% else %}}data-video="{{ s3_server_video ~ trans.mp4Url }}"{% endif %} data-poster="{% if image is defined and image is not null %}{% path image, 'reference' %}{% elseif trans.imageAmazonUrl is defined and trans.imageAmazonUrl is not null %}{{ s3_server_video ~ trans.imageAmazonUrl }}{% endif %}"></div>
    <div class="legend-video">
        <div class="info">
            <p>{{ trans.title }}</p>
        </div>
    </div>
</div>