{% trans_default_domain 'FDCEventBundle' %}
<nav class="st-menu st-effect" id="menu">
    <div id="top-menu" class="owl-carousel sliderDrag">
        <div class="item">
            <a href="/" class="active" > {{ 'header.topbar.nav.festival'|trans }} </a>
        </div>
        <div class="item">
            <a href="{{ header_fdc }}" target="_blank" > {{ 'header.topbar.nav.festivalcannes'|trans }} </a>
        </div>
        <div class="item">
            <a href="{{ header_cine }}" target="_blank" > {{ 'header.topbar.nav.cinefondation'|trans }} </a>
        </div>
        <div class="item">
            <a href="{{ header_ccm }}" target="_blank" > {{ 'header.topbar.nav.courtmetrage'|trans }} </a>
        </div>
        <div class="item">
            <a href="{{ header_mdf }}" target="_blank" > {{ 'header.topbar.nav.marche'|trans }} </a>
        </div>
    </div>
   
    <div id="logo">
        <a href="/">
            {% image '@FDCEventMobileBundle/Resources/public/img/palme.svg'  %}
            <img src="{{ asset_url }}" class="palm" alt="{{ 'header.img.palme'|trans }}" />
            {% endimage %}
        </a>
        <h1>
            <a href="/">
                {% image '@FDCEventMobileBundle/Resources/public/img/logo.svg' %}
                <img width="225" src="{{ asset_url }}" alt="{{ 'header.logo.img.cannes'|trans }}" />
                {% endimage %}
            </a>
        </h1>
        <h2>
            {{ render(controller('FDCEventMobileBundle:Header:date')) }}
        </h2>
    </div>

    <div id="main-nav" class="menu-section">

        {{ render(controller('FDCEventMobileBundle:Global:menuFirst', {route : app.request.get('_route')})) }}

        <div class="small-separator"></div>
        
        {{ render(controller('FDCEventMobileBundle:Global:menuSecond', {route : app.request.get('_route')})) }}

        <div class="small-separator"></div>

        <ul class="third-nav">
            <li class="search-nav">
                <a href="">
                    <i class="icon icon_recherche"></i>
                    {{ 'header.usernav.nav.rechercher'|trans }}
                </a>
            </li>
            <li class="">
                <a href="{{ header_account }}" rel="nofollow" class="account" target="_blank">
                    <i class="icon icon_mon-compte"></i>
                    {{ 'header.usernav.nav.moncompte'|trans }}
                </a>
            </li>
            <li class="language">
                <i class="icon icon_langue"></i>
                <ul class="hide">
                    {% for locale in locales %}
                        {% if locale != app.request.locale %}
                            <li class="active-language">
                                {% set params = {'_locale' : locale} %}
                                {% if localeSlugs is defined and localeSlugs[app.request.locale] %}
                                    {% set params = params|merge({'slug': localeSlugs[locale]}) %}
                                {% endif %}
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(params)) }}">
                                    {{ locales[loop.index0]|upper }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>

    <div class="menu-section socials">
        <h3 class="menu-section-title">
            {% image '@FDCEventBundle/Resources/public/img/svg/logo-white.svg' %}
            <img width="302" src="{{ asset(asset_url) }}" alt="{{ 'footer.social.logo.festival'|trans }}" />
            {% endimage %}
        </h3>
        <ul>
            <li><a class="appli" href="{{ path('fdc_event_footer_static', {'page': social_appli}) }}" target="_blank"><i class="icon icon_appli"></i></a></li>
            <li><a class="facebook" href="{{ social_facebook }}" target="_blank"><i class="icon icon_facebook"></i></a>
            </li><li><a class="twitter" href="{{ social_twitter }}" target="_blank"><i class="icon icon_twitter"></i></a>
            </li><li><a class="instagram" href="{{ social_instagram }}" target="_blank"><i class="icon icon_instagram"></i></a>
            </li><li><a class="tumblr" href="{{ social_tumblr }}" target="_blank"><i class="icon icon_tumblr"></i></a>
            </li><li><a class="rss" href="{{ social_rss }}" target="_blank"><i class="icon icon_rss"></i></a>
            </li><li><a class="youtube" href="{{ social_youtube }}" target="_blank"><i class="icon icon_youtube"></i></a>
            </li><li><a class="dailymotion" href="{{ social_dailymotion }}" target="_blank"><i class="icon-mobile-dailymotion"></i></a>
            </li><li><a class="podcast" href="{{ social_podcast }}" target="_blank"><i class="icon icon_podcast"></i></a></li>
        </ul>
    </div>

    <div class="menu-section">
        <div id="partners">
            <a href="{{ partner_chopard }}" target="_blank">
                {% image '@FDCEventMobileBundle/Resources/public/img/menu/Logo_Chopard.svg' %}
                <img width="131" src="{{ asset_url }}" class="chopard" alt="{{ 'header.partners.img.chopard'|trans }}" />
                {% endimage %}
            </a>
            <a href="{{ partner_loreal }}" target="_blank">
                {% image '@FDCEventMobileBundle/Resources/public/img/menu/loreal.svg' %}
                <img width="98" src="{{ asset_url }}" class="oreal" alt="{{ 'header.partners.img.loreal'|trans }}" />
                {% endimage %}
            </a>
            <a href="{{ partner_hp }}" target="_blank">
                {% image '@FDCEventMobileBundle/Resources/public/img/menu/hp.svg' %}
                <img width="40" src="{{ asset_url }}" class="hp" alt="{{ 'header.partners.img.hp'|trans }}" />
                {% endimage %}
            </a>
            <a href="{{ partner_kering }}" target="_blank">
                {% image '@FDCEventMobileBundle/Resources/public/img/menu/Kering-logo.svg' %}
                <img width="131" src="{{ asset_url }}" class="kering" alt="{{ 'header.partners.img.kering'|trans }}" />
                {% endimage %}
            </a>
            <a href="{{ partner_renault }}" target="_blank">
                {% image '@FDCEventMobileBundle/Resources/public/img/menu/renault.svg' %}
                <img width="124" src="{{ asset_url }}" class="renault" alt="{{ 'header.partners.img.renault'|trans }}" />
                {% endimage %}
            </a>
            <a href="{{ partner_mastercard }}" target="_blank">
                {% image '@FDCEventMobileBundle/Resources/public/img/menu/mastercard.png' %}
                <img width="85" src="{{ asset_url }}" class="mastercard" alt="{{ 'header.partners.img.mastercard'|trans }}" />
                {% endimage %}
            </a>
        </div>

        {{ render(controller('FDCEventMobileBundle:Global:footer', {route : app.request.get('_route')})) }}

    </div>
</nav>