{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}
{% set hasNewsletter = false %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "bundles/fdceventmobile/css/search.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="searchContainer">
        <div class="container">
            {{ render(controller('FDCEventMobileBundle:Global:search', { 'searchTerm': searchTerm })) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@FDCEventMobileBundle/Resources/public/js/search.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}