{% trans_default_domain 'FDCPressBundle' %}
{% set eventDuration = 0 %}
{% for f in p.programmationFilms %}
    {% set eventDuration = eventDuration + f.film.duration %}
{% endfor %}
{% if eventDuration <= 60 %}
        {% set eventDuration = 60 %}
    {% elseif eventDuration >= 60 %}
        {% set eventDuration = 120 %}
    {% elseif eventDuration >= 120 %}
        {% set eventDuration = 180 %}
    {% elseif eventDuration >= 180 %}
        {% set eventDuration = 240 %}
{% endif %}
<div class="fc-event"
     data-url="eventPopin.html"
     data-id="{{ p.id }}"
     data-picto='.pen' data-color='#9b9b9b'
     data-start="{{ p.startsAt|date('Y-m-d') }}T{{ p.startsAt|date('H:i:s') }}"
     data-end="{{ p.endsAt|date('Y-m-d') }}T{{ p.endsAt|date('H:i:s') }}"
     data-time="{{ p.startsAt|date('H') }}"
     data-duration="{{ eventDuration }}">
    <span class="category">
        <i class="icon icon_evt-conference"></i>
        {{ p.type }}
    </span>
    <div class="info">
        {% for f in p.programmationFilms %}
            {% include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({
                film: associatedFilm,
                film_format: 'reference',
                film_image_default: 'bundles/fdcevent/img/palmares/film_w420x560.jpg'
            }) %}
        {% endfor %}
        <div class="txt">
            {% for f in p.programmationFilms %}
                <span>{{ f.film|trans_fallback('title') }}</span>
                {% for director in f.film|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                    <strong>{{ director.fullName }}</strong>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="bottom">
        <span class="duration">{{ eventDuration/60 }} H</span> - <span class="ven">{{ p.room.name }}</span>
        <span class="competition">{{ p.programmationSection }}</span>
    </div>
</div>
