{% trans_default_domain 'BaseAdminBundle' %}

<div class="fdc-list-translation-legend-info clearfix">
    <div class="fdc-list-translation-legend-info-title">FRANÇAIS MASTER</div>
    <ul>
        <li class="fdc-list-translation-type">
            <div class="fdc-list-translation-type-square fdc-status-draft-bg-color"></div>
            <div class="list-translation-legend-type-title">{{ 'form.status.draft'|trans }}</div>
        </li>
        <li class="fdc-list-translation-type">
            <div class="fdc-list-translation-type-square fdc-status-validating-bg-color"></div>
            <div class="list-translation-legend-type-title">{{ 'form.status.validating'|trans }}</div>
        </li>
        <li class="fdc-list-translation-type">
            <div class="fdc-list-translation-type-square fdc-status-published-bg-color"></div>
            <div class="list-translation-legend-type-title">{{ 'form.status.published'|trans }}</div>
        </li>
        <li class="fdc-list-translation-type">
            <div class="fdc-list-translation-type-square fdc-status-deactivated-bg-color"></div>
            <div class="list-translation-legend-type-title">{{ 'form.status.deactivated'|trans }}</div>
        </li>
        <li class="fdc-list-translation-type">
            <div class="fdc-list-translation-type-square fdc-status-locked-bg-color"></div>
            <div class="list-translation-legend-type-title">{{ 'form.status.locked'|trans }}</div>
        </li>
    </ul>
</div>
<div class="fdc-list-translation-legend-info clearfix">
    <div class="fdc-list-translation-legend-info-title">TRADUCTIONS</div>
    <ul>
        <li class="fdc-list-translation-type">
            <div class="fdc-list-translation-type-square fdc-status-draft-bg-color"></div>
            <div class="list-translation-legend-type-title">{{ 'form.status.draft'|trans }}</div>
        </li>
        <li class="fdc-list-translation-type">
            <div class="fdc-list-translation-type-square fdc-status-translation-pending-bg-color"></div>
            <div class="list-translation-legend-type-title">{{ 'form.status.translation_pending'|trans }}</div>
        </li>
        <li class="fdc-list-translation-type">
            <div class="fdc-list-translation-type-square fdc-status-translation-validating-bg-color"></div>
            <div class="list-translation-legend-type-title">{{ 'form.status.translation_validating'|trans }}</div>
        </li>
        <li class="fdc-list-translation-type">
            <div class="fdc-list-translation-type-square fdc-status-translated-bg-color"></div>
            <div class="list-translation-legend-type-title">{{ 'form.status.translated'|trans }}</div>
        </li>
        <li class="fdc-list-translation-type">
            <div class="fdc-list-translation-type-square fdc-status-locked-bg-color"></div>
            <div class="list-translation-legend-type-title">{{ 'form.status.locked'|trans }}</div>
        </li>
    </ul>
</div>
