{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "bundles/fdceventmobile/css/press.css" %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}


{% block body %}
<div id="main" class="press" data-menu="press">

    {% include 'FDCPressMobileBundle:Global:menu.html.twig' %}

    <div class="header-press">
        <div class="head">
            <span><i class="icon icon_espace-presse"></i>{{ 'press.header.label.espacepresse'|trans }}</span>
        </div>
        <div class="container">
            <h2>{{ 'press.header.title.accueil'|trans }}</h2>
            <p>
                {{- 'press.header.subtitle.lespacepressemetegalementaladisposition'|trans|raw -}}
            </p>
        </div>
    </div>

    {% include 'FDCPressMobileBundle:Global:components/login.html.twig' %}

    {% for section in pressHome.section %}
        {% if section.class == "communique" and pressHome.sectionStatementInfoDisplay == false %}
            <section>
                <div class="title-section">
                    <h3>{{ 'press.agenda.title.communiqueetinfos'|trans }}</h3>
                    <a href="{{ path('fdc_press_news_list') }}">
                        <i class="icon icon_fleche-right"></i>
                        {{ 'press.home.btn.see_all'|trans({}, 'FDCPressMobileBundle') }}
                    </a>
                </div>
                <div class="contain-section">
                    <div class="owl-carousel communiques-carousel">
                        {% for article in homeNews %}
                            {% include 'FDCPressMobileBundle:News:widgets/article.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% elseif section.class == "programmation" %} {#and pressHome.sectionSchedulingDisplay == false #}
            <section class="prog-press-home">
                <div class="title-section">
                    <h3>{{ 'press.home.title.programmedu'|trans }}
                        <span id="dateProgram">{{ date|localizeddate('long', 'none', app.request.locale) }}</span>
                    </h3>
                    <a href="{{ path('fdc_pressmobile_agenda_scheduling') }}">
                        <i class="icon icon_fleche-right"></i>
                        {{ 'press.home.btn.see_all'|trans({}, 'FDCPressMobileBundle') }}
                    </a>
                </div>
                <div class="contain-section">
                    <div class="calendar">
                        <div id="timeline-calendar">
                            <a href="#" class="prev"><i class="icon icon_flecheGauche"></i></a>
                            <div id="timeline" class="" >
                                <div class="timeline-container">
                                    {% for day in schedulingDays %}
                                        <a href="#" class="{% if day == date %}active{% endif %}"
                                           data-date="{{ day|date('Y-m-d') }}"
                                           data-day="{{ day|date('d') }}">
                                            {{ day|localizeddate('full', 'none', app.request.locale)|truncate(3, false, "") }}
                                            <span class="day">{{ day|date('d') }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <a href="#" class="next"><i class="icon icon_fleche-right"></i></a>
                        </div>
                        <div class="timeCol">
                            <div class="empty"></div>
                            <div class="time">08H</div>
                            <div class="time">09H</div>
                            <div class="time">10H</div>
                            <div class="time">11H</div>
                            <div class="time">12H</div>
                            <div class="time">13H</div>
                            <div class="time">14H</div>
                            <div class="time">15H</div>
                            <div class="time">16H</div>
                            <div class="time">17H</div>
                            <div class="time">18H</div>
                            <div class="time">19H</div>
                            <div class="time">20H</div>
                            <div class="time">21H</div>
                            <div class="time">22H</div>
                            <div class="time">23H</div>
                            <div class="time">00H</div>
                            <div class="time">01H</div>
                            <div class="time">02H</div>
                            <div class="time">03H</div>
                        </div>
                        <div class="venues">
                            <a class="agenda-access" href="{{ path('fdc_pressmobile_agenda_get') }}"><i class="icon icon_agenda-personnel"></i></a>
                            <div class="v-wrapper">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% elseif section.class == "media" and pressHome.sectionMediaDisplay == false %}
            <section>
                <div class="title-section">
                    <h3>{{ 'press.home.title.mediatheque'|trans }}</h3>
                    <a href="{{ path('fdc_press_media_main', { 'sectionId': 3 }) }}">
                        <i class="icon icon_fleche-right"></i>
                        {{ 'press.home.btn.see_all'|trans({}, 'FDCPressMobileBundle') }}
                    </a>
                </div>
                <div class="contain-section">
                    <div class="owl-carousel film-slider">
                    {% for media in pressHome.homeMedia %}
                        {% if media.film is not empty %}
                            <div data-id="{{ media.film.id }}" class="thumb active">
                                <div class="img-container" style="background-image:url({%- include 'FDCEventMobileBundle:Global:components/film.poster.html.twig' with ({
                                film: media.film,
                                film_format: '293x397',
                                film_image_default: 'bundles/fdcevent/img/palmares/film_w293.jpg',
                                display_film_path: true
                                }) -%})"></div>
                                <div class="info">
                                    <p>{{- media.film.titleVO -}}</p>
                                    {%- for director in media.film|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) -%}
                                        <a class="director" href="{{ path('fdc_event_artist_get', {slug: director.slug }) }}">{{- director.fullName -}}</a>
                                    {%- endfor -%}
                                </div>
                                {% set folderCount = 0 %}
                                {% set trailerCount = 0 %}
                                {% set photoCount = 0 %}
                                {% for video in media.film.associatedMediaVideos %}
                                    {% if video.mediaVideo.displayedTrailer == 1 %}
                                        {% if video.mediaVideo|is_available_video(true, 'fr') or video.mediaVideo|is_available_video(true, 'en') %}
                                            {% set trailerCount = trailerCount + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% for media in media.film.medias %}
                                    {% if media.type == constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PRESS_PDF') %}
                                        {% set folderCount = folderCount + 1 %}
                                    {% endif %}

                                    {% if media.type == constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_POSTER') or
                                    media.type == constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_MAIN') or
                                    media.type == constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_FILM')
                                    %}
                                        {% set photoCount = photoCount + 1 %}
                                    {% endif %}
                                {% endfor %}

                                <div class="medias">
                                    {% if folderCount > 0 %}
                                    <div class="folder media"><i class="icon icon_dossier"></i> <span>({{ folderCount }})</span></div>
                                    {% endif %}
                                    {% if trailerCount > 0 %}
                                    <div class="trailer media"><i class="icon icon_bande-annonce"></i> <span>({{ trailerCount }})</span></div>
                                    {% endif %}
                                    {% if photoCount > 0 %}
                                    <div class="photo media"><i class="icon icon_photo"></i> <span>({{ photoCount }})</span></div>
                                    {% endif %}
                                </div>
                                <a class="button discover"
                                   href="{{ path('fdc_pressmobile_media_main', {'sectionId': media.film.selectionSection.id } ) }}">
                                    {{ 'press.home.btn.decouvrir'|trans }}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </section>
        {% elseif section.class == "download" and pressHome.sectionDownloadDisplay == false %}
            <section class="downloads">
                <div class="title-section">
                    <h3>{{ 'press.home.title.atelecharger'|trans }}</h3>
                    <a href="{{ path('fdc_pressmobile_media_download') }}">
                        <i class="icon icon_fleche-right"></i>
                        {{ 'press.home.btn.see_all'|trans({}, 'FDCPressMobileBundle') }}
                    </a>
                </div>
                {%- for section in pressHome.homeDownload -%}
                <div class="contain-section container">
                    {% if section.download.widgets is defined %}
                        {% set isSignature = 0 %}
                        {% for widget in section.download.widgets %}
                            {% if class(widget) == "PressDownloadSectionWidgetArchive" %}
                                {% set isSignature = 1 %}
                            {% else %}
                                {% set isSignature = 0 %}
                            {% endif %}
                        {% endfor %}
                        <h3 class="title-press">{{ section.download|trans_fallback('title') }}</h3>
                        {% if section.download.widgets is defined %}
                            {% for key,widget in section.download.widgets %}
                                {% if class(widget) == "PressDownloadSectionWidgetDocument" %}
                                    {% include 'FDCPressMobileBundle:Media:widgets/document.html.twig' %}
                                {% elseif class(widget) == "PressDownloadSectionWidgetArchive" %}
                                    {% include 'FDCPressMobileBundle:Media:widgets/archive.html.twig' %}
                                {% elseif class(widget) == "PressDownloadSectionWidgetFile" %}
                                    {% include 'FDCPressMobileBundle:Media:widgets/file.html.twig' %}
                                {% elseif class(widget) == "PressDownloadSectionWidgetPhoto" %}
                                    {% include 'FDCPressMobileBundle:Media:widgets/photo.html.twig' %}
                                {% elseif class(widget) == "PressDownloadSectionWidgetVideo" %}
                                    {% include 'FDCPressMobileBundle:Media:widgets/video.html.twig' %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
            </section>
        {% elseif section.class == "push1" and pressHome.pushMainImage is not null %}
            {% set trans = pressHome.pushMainImage.findTranslationByLocale(app.request.locale) %}
            {% if trans is null or trans.file is null %}
                {% set trans = pressHome.pushMainImage.findTranslationByLocale('fr') %}
            {% endif %}
            <div class="banner-img vCenter" style="background-image: url({% path trans.file, '1280x808' %})">
                <div class="vCenterKid">
                    <h2 class="title">{{ pressHome|trans_fallback('pushMainTitle') }}</h2>
                    <p class="link">
                        <a href="{{ pressHome|trans_fallback('pushMainLink') }}">
                            <i class="icon icon_fleche-right"></i>
                            {{ 'press.home.btn.acceder'|trans }}
                        </a>
                    </p>
                </div>
            </div>
        {% elseif section.class == "push2" and pressHome.pushSecondaryImage is not null %}
            {% set trans = pressHome.pushSecondaryImage.findTranslationByLocale(app.request.locale) %}
            {% if trans is null or trans.file is null %}
                {% set trans = pressHome.pushSecondaryImage.findTranslationByLocale('fr') %}
            {% endif %}
            <div class="banner-img vCenter" style="background-image: url({% path trans.file, '1280x808' %})">
                <div class="vCenterKid">
                    <h2 class="title">{{ pressHome|trans_fallback('pushSecondaryTitle') }}</h2>
                    <p class="link">
                        <a href="{{ pressHome|trans_fallback('pushSecondaryLink') }}">
                            <i class="icon icon_fleche-right"></i>
                            {{ 'press.home.btn.acceder'|trans }}
                        </a>
                    </p>
                </div>
            </div>
        {% elseif section.class == "statistics" and pressHome.sectionStatisticDisplay == false %}
            <section class="statistics">
                <div class="title-section">
                    <h3>{{ pressHome|trans_fallback('sectionStatisticTitle') }}</h3>
                </div>
                <div class="contain-section container">
                    <h3>{{ pressHome|trans_fallback('sectionStatisticSubTitle') }}</h3>
                    <p>
                        {{ pressHome|trans_fallback('sectionStatisticDescription')|raw }}
                    </p>
                    {% if pressHome.statImage %}
                        {% set img = pressHome.statImage %}
                        {% set trans = img.findTranslationByLocale(app.request.locale) %}
                        {% if trans is null or trans.file is null %}
                            {% set trans = img.findTranslationByLocale('fr') %}
                        {% endif %}
                        {% set file = trans.file %}
                        {% thumbnail file, '976x535' with {'alt': img|trans_fallback('alt'), 'height': 'auto' } %}
                    {% endif %}
                    {% if pressHome.statImage2 %}
                        {% set img = pressHome.statImage2 %}
                        {% set trans = img.findTranslationByLocale(app.request.locale) %}
                        {% if trans is null or trans.file is null %}
                            {% set trans = img.findTranslationByLocale('fr') %}
                        {% endif %}
                        {% set file = trans.file %}
                        {% thumbnail file, '976x535' with {'alt': img|trans_fallback('alt'), 'height': 'auto' } %}
                    {% endif %}
                </div>
            </section>
        {% endif %}
    {% endfor %}
    {{ render(controller('FDCPressMobileBundle:Global:contact')) }}
    {% include 'FDCPressMobileBundle:Global:components/popinPress.html.twig' %}
</div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@FDCPressMobileBundle/Resources/public/js/press.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}