{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "bundles/fdcpressmobile/css/communiques.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
<div id="main" class="press" data-menu="communique">
    {%- include 'FDCPressMobileBundle:Global:menu.html.twig' -%}
    <div class="header-press">
        <div class="head">
            <span><i class="icon icon_espace-presse"></i>{{ 'press.header.label.espacepresse'|trans }}</span>
        </div>
        <div class="container">
            <h2>{{ 'press.header.title.communiqueetinfos'|trans }}</h2>
            <p>
                {{- 'press.header.subtitle.communiqueactualiteretrouveztoute'|trans -}}
            </p>
        </div>
    </div>

    {% include 'FDCPressMobileBundle:News:components/filters.html.twig' %}

    {% include 'FDCPressMobileBundle:News:list/article-list.html.twig' %}

    <div class="banner-img vCenter" style="background-image:url({{ asset('bundles/fdcevent/img/press/pushactu.jpg') }})">
        <div class="vCenterKid">
            <h2 class="title one-line">
                {{ 'press.actu.title.lactualitealaune'|trans }}
                <a href="{{ path('fdc_pressmobile_news_home') }}">
                    <i class="icon icon_fleche-right"></i>
                    {{ 'press.actu.btn.suivezlamanifestation'|trans }}
                </a>
            </h2>
        </div>
    </div>

    {{ render(controller('FDCPressMobileBundle:Global:contact')) }}

</div>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@FDCPressMobileBundle/Resources/public/js/communiques.js'
        '@FDCPressMobileBundle/Resources/public/js/communiques_custom.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}