{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/fdcpressmobile/css/article.css"
        "bundles/fdceventmobile/css/article_custom.css"
        "bundles/fdceventmobile/css/event_custom.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="main" class="article" data-menu="communique">

        {% include 'FDCPressMobileBundle:Global:menu.html.twig' %}
        <div class="container">
            <div class="article-title">
                <div><span class="category">{{ news.theme|trans_fallback('name') }}</span><span class="date">{{ news.publishedAt|date('d.m.y') }}</span> . <span class="hour">{{ agenda_leftbar_translate_hour(news.publishedAt|date('H:i'), true, true) }}</span></div>
                <div><span class="category">{{ 'article.text.miseajour'|trans }} :</span><span class="date">{{ news.updatedAt|date('d.m.y') }}</span> . <span class="hour">{{ agenda_leftbar_translate_hour(news.updatedAt|date('H:i'), true, true) }}</span></div>
                <h2>{{ news|trans_fallback('title') }}</h2>
            </div>
                {% if class(news) == "StatementArticle" or class(news) == "InfoArticle" %}
                    {% include 'FDCEventMobileBundle:News:widgets/single-photo.html.twig' with {'photo' : news.header } %}
                {% elseif class(news) == "StatementVideo" or class(news) == "InfoVideo" %}
                    {% if is_available_video(news.video) %}
                        {% include 'FDCEventMobileBundle:News:widgets/single-video.html.twig' %}
                    {% endif %}
                {% elseif class(news) == "StatementAudio" or class(news) == "InfoAudio" %}
                    {% include 'FDCEventMobileBundle:News:widgets/single-audio.html.twig' %}
                {% elseif class(news) == "StatementImage" or class(news) == "InfoImage" %}
                    {% include 'FDCEventMobileBundle:News:widgets/single-gallery.html.twig' %}
                {% endif %}
            <div class="text-content">
                <div class="chapeau">{{ news|trans_fallback('introduction')|raw }}</div>
            </div>
                {% for widget in news.widgets %}
                    {% if class(widget) == "StatementWidgetImage" and widget.gallery.medias is defined and widget.gallery.medias|length == 1
                    or class(widget) == "InfoWidgetImage" and widget.gallery.medias is defined and widget.gallery.medias|length == 1 %}
                        {% include 'FDCEventMobileBundle:News:widgets/single-photo.html.twig' with {'photo' : widget.gallery.medias[0].media } %}
                    {% elseif class(widget) == "StatementWidgetImage" and widget.gallery.medias is defined and widget.gallery.medias|length > 1
                    or class(widget) == "InfoWidgetImage" and widget.gallery.medias is defined and widget.gallery.medias|length > 1 %}
                        {% include 'FDCEventMobileBundle:News:widgets/slideshow.html.twig' %}
                    {% elseif class(widget) == "StatementWidgetText" or class(widget) == "InfoWidgetText" %}
                        {% include 'FDCEventMobileBundle:News:widgets/text.html.twig' %}
                    {% elseif class(widget) == "StatementWidgetVideo" or class(widget) == "InfoWidgetVideo" %}
                        {% if is_available_video(widget.file) %}
                            {% include 'FDCEventMobileBundle:News:widgets/video.html.twig' with {'widget': widget} %}
                        {% endif %}
                    {% elseif class(widget) == "StatementWidgetVideoYoutube" or class(widget) == "InfoWidgetVideoYoutube" %}
                        {% include 'FDCEventMobileBundle:News:widgets/video-youtube.html.twig' with {'widget': widget} %}
                    {% elseif class(widget) == "StatementWidgetAudio" or class(widget) == "InfoWidgetAudio" %}
                        {% if widget.title is defined %}
                            <h2 class="title">{{ widget.title }}</h2>
                        {% endif %}
                        {% include 'FDCEventMobileBundle:News:widgets/audio.html.twig' with {'widget': widget} %}
                    {% elseif class(widget) == "StatementWidgetQuote" or class(widget) == "InfoWidgetQuote" %}
                        {% include 'FDCEventMobileBundle:News:widgets/quote.html.twig' %}
                    {% elseif class(widget) == "StatementWidgetImageDualAlign" or class(widget) == "InfoWidgetImageDualAlign" %}
                        {% include 'FDCEventMobileBundle:News:widgets/dual-photo.html.twig' %}
                    {% endif %}
                {% endfor %}

                {% if news.signature is not null %}
                    <div class="author">{{ 'article.text.redigepar'|trans }} {{ news.signature }}</div>
                {% endif %}
            </div>

            {% if associatedFilm is not null or programmations is not empty %}
                <div class="film">
                    {% if associatedFilm is not null %}
                        <div class="info-film">
                            <div class="wrapper">
                                <div class="vCenter">
                                    <div class="vCenterKid">
                                        <div class="poster">
                                            {% include 'FDCEventMobileBundle:Global:components/film.poster.html.twig' with ({
                                            film: associatedFilm,
                                            film_format: 'small',
                                            film_image_default: 'bundles/fdcevent/img/palmares/film_w181.jpg',
                                            }) %}
                                        </div>
                                        <div class="text-container">
                                            {% if associatedFilm.selectionSection is not null %}
                                                <span class="category">
                                                    {{- associatedFilm.selectionSection|trans_fallback('name') -}}
                                                </span>
                                            {% endif %}
                                            <h3>
                                                {% set title = associatedFilm|trans_fallback('title') %}
                                                {% if title == '' %}
                                                    {% set title = associatedFilm.titleVO %}
                                                {% endif %}
                                                {{- title -}}
                                            </h3>
                                            {% if director is defined and director|length > 1 %}
                                                <p class="director">
                                                    <a href="{{ path('fdc_event_artist_get', {slug: director.slug }) }}">{{ director.fullName }}</a>
                                                <p>
                                            {% else %}
                                                <p class="director">
                                                    {% for index,director in associatedFilm|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                                                        {% if index < 4 %}
                                                            <a href="{{ path('fdc_event_artist_get', {slug: director.slug }) }}">{{ director.fullName }}</a>
                                                            {% if loop.index != director|length and index != 3 %}
                                                                ,
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if index == 4 %}...{% endif %}
                                                    {% endfor %}
                                                </p>
                                            {% endif %}
                                            <p>
                                                {% for country in associatedFilm.countries %}
                                                    {{ country.country|trans_fallback('name') }}
                                                {% endfor %}
                                                {% if associatedFilm.productionYear != 0 or associatedFilm.productionYear != null %}
                                                    - {{ associatedFilm.productionYear }}
                                                {% endif %}
                                            </p>
                                            <p>{{ associatedFilmDuration }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if programmations is not empty %}
                        <div class="programmation-film">
                            <div class="wrapper">
                                <div class="vCenter">
                                    <div class="vCenterKid">
                                        <span class="category">{{ 'article.film.label.programmation'|trans }}</span>
                                        <ul>
                                            {% for programmation in programmations|slice(-4) %}
                                                {% if programmation.type not in ['Séance de presse', 'Conférence de presse', 'Divers'] %}
                                                    <li>
                                                        <span class="type">{{ 'article.film.text.projection'|trans }}</span>
                                                        <span>{{ programmation.startsAt|date('d-m-Y') }}</span>
                                                        <span>{{ programmation.startsAt|date('H') }}h</span>
                                                        <span class="location">{{ programmation.room.name }}</span>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                        <a href="#" class="button">{{ 'article.film.btn.toutelaprojection'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="container">
                <div class="section articles">
                {% if focusArticles is not empty %}
                    <h2 class="title">{{ 'article.film.title.focus'|trans }}</h2>
                    <div class="owl-carousel articles-carousel">
                        {% for article in focusArticles %}
                            {% if article is not null %}
                                {% include 'FDCPressMobileBundle:News:widgets/widget-article.html.twig' with {type : 'focus'} %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if sameDayArticles is not empty and news.hideSameDay == false %}
                    <h2 class="title">{{ 'article.film.title.lememejour'|trans }}</h2>
                    <div class="owl-carousel articles-carousel">
                        {% for article in sameDayArticles %}
                            {% if article is not null %}
                                {% include 'FDCPressMobileBundle:News:widgets/widget-article.html.twig' with {type : 'same-day'} %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
        <span class="anim"></span>
    </div>

    {% include "FDCEventMobileBundle:Global:breadcrumb.html.twig" with {"breadcrumb": [
        {
            "name" : 'header.mainnav.nav.communiques'|trans,
            "url"  : path('fdc_press_news_list')
        },
        {
            "name" : news|trans_fallback('title') ,
            "url"  : ''
        }
    ]} %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@FDCPressMobileBundle/Resources/public/js/article.js'
        '@FDCEventMobileBundle/Resources/public/js/event_custom.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}