{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "bundles/fdceventmobile/css/jury.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="main" class="list-article jurys-list loading">

    {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
    {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}

        <div class="selection-container">

            <div class="banner-img bandeau-list-img bandeau-head vCenter"
                 style="background-image:url('{% path page.image|trans_fallback('file'), '2560x1103' %}')">
                <div class="vCenterKid">
                    <h2 class="title">{{ (page|trans_fallback('overrideName'))?:(page.juryType|trans_fallback('name')) }}</h2>
                </div>
            </div>
            <div id="horizontal-menu" class="owl-carousel sliderDrag videosSlider sub-nav-list">
                {% for tab in pages %}
                    <div class="vid">
                        <p><a href="{{ path('fdc_event_jury_get', {'slug': tab|trans_fallback('slug')}) }}"
                           class="{% if app.request.attributes.get('slug') == (tab|trans_fallback('slug')) %}active {% endif %}ajax">
                            {{ (tab|trans_fallback('overrideName'))?:(tab.juryType|trans_fallback('name')) }}
                        </a></p>
                    </div>
                {% endfor %}
            </div>
            <div class="content-selection show">
                <div class="jury-president">
                    {% if president is defined %}
                        <a href="{{ path('fdc_eventmobile_artist_get', {'slug': president['jury'].person.slug}) }}"></a>
                        {% if president['jury'].person.presidentJuryImage and president['jury'].person.presidentJuryImage|trans_fallback('file') %}
                            <div class="img photo-jury"
                                 style="background-image:url({% path president['jury'].person.presidentJuryImage|trans_fallback('file'), '640x603' %})">
                            </div>
                        {% else %}
                            {% set media = president['jury'].person|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                            {% if media is empty %}
                                {% set media = president['jury'].person|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PERSON'))|first %}
                            {% endif %}
                            {% if media is empty %}
                                {% set photo = president['jury'].person|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                            {% endif %}

                            {% if media is not empty %}
                                <div class="img photo-jury"
                                    style="background-image:url({% path media, '640x603' %})">
                                </div>
                            {% else %}
                                <div class="img photo-jury"
                                     style="background-image:url('{{ asset('bundles/fdcevent/img/jurys/president.jpg') }}');">
                                </div>
                            {% endif %}
                        {% endif %}
                        <div class="infos">
                            <p>{{ 'jury.title.president'|trans({}, 'FDCEventMobileBundle') }}</p>
                            <p class="president-name"> {{ president['jury'].person.firstname }} {{ president['jury'].person.lastname }} </p>
                            {% set profession =  president['jury'].person|trans_fallback('profession') %}
                            <p class="rank">{{ profession }} </p>
                        </div>
                    {% endif %}
                </div>

                <h1 class="title title-jury tall">
                    {% if page.id == admin_fdc_page_jury_certain_regard_id %}
                        {{ 'juries.role.title.membresdujury.regard'|trans }}
                    {%  elseif page.id == admin_fdc_page_jury_camera_dor_id %}
                        {{ 'juries.role.title.membresdujury.camera'|trans }}
                    {%  elseif page.id == admin_fdc_page_jury_long_metrages_id %}
                        {{ 'juries.role.title.membresdujury.long'|trans }}
                    {%  elseif page.id == admin_fdc_page_jury_cinefondation_courts_metrages_id %}
                        {{ 'juries.role.title.membresdujury.court'|trans }}
                    {%  endif %}
                </h1>

                {% for member in members %}
                    <div class="selection-item">
                        <a href="{{ path('fdc_eventmobile_artist_get', {'slug': member['jury'].person.slug}) }}"></a>
                        {#<div class="img" style="background-image:url(./img/jurys/jury-2.jpg)"></div>#}

                        <div class="img" style="background-image:url(
                            {% if member['jury'].person.portraitImage and member['jury'].person.portraitImage|trans_fallback('file') %}
                                {% path member['jury'].person.portraitImage|trans_fallback('file'), '384x485' %}
                            {% else %}
                                {% set media = member['jury'].person|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                                {% if media is empty %}
                                    {% set media = member['jury'].person|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PERSON'))|first %}
                                {% endif %}
                                {% if media is empty %}
                                    {% set photo = member['jury'].person|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                                {% endif %}

                                {% if media is not empty %}
                                   {% path media, '384x485' %}
                                {% else %}
                                    {{ asset('bundles/fdcevent/img/jurys/member.jpg') }}
                                {% endif %}
                            {% endif %}
                        )"></div>
                        <p class="name">{{ member['jury'].person.firstname }} {{ member['jury'].person.lastname }}</p>
                        {% set profession =  member['jury'].person|trans_fallback('profession') %}
                        {% if profession %}
                            <p class="rank" {{ member['jury'].person|content_lang('profession') }}>
                                {{ profession }}
                            </p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock body %}

{% block javascripts %}
    {% javascripts '@FDCEventMobileBundle/Resources/public/js/jury.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}