
{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% import _self as tree %}
{% macro objects(objects, admin, rootPages, depth) %}
    <ul{% if rootPages %} class="page-tree"{% endif %}>
        {% for page in objects %}
            <li class="sonata-ba-list-field" objectId="{{ page.id }}">
                <div class="page-tree__item" {% if depth < 1 %} data-treeview-toggled{% endif %}>
                    {% if page.parent %}<i class="fa fa-caret-right"></i>{% endif %}
                    <a class="page-tree__item__edit" href="{{ admin.generateObjectUrl('edit', page) }}">{{ page.name }}</a>
                    {% if page.enabled %}<span class="label label-success pull-right"><i class="fa fa-check"></i> {{ admin.trans('active', {}, admin.translationDomain) }}</span>{% endif %}
                    {% if not page.enabled %}<span class="label label-danger pull-right"><i class="fa fa-times"> {{ admin.trans('disabled', {}, admin.translationDomain) }}</i></span>{% endif %}
                </div>
                {% if page.children|length %}
                    {{ _self.objects(page.children, admin, false, depth + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/baseadmin/css/tree.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block list_table %}
    <div class="box box-primary">
        <div class="box-content">
            {{ tree.objects(objects, admin, true, 0) }}
        </div>
    </div>
{% endblock %}

{% block list_filters %}
{% endblock %}