{% trans_default_domain 'FDCPressBundle' %}
<section class="contact">
    <div class="title-section">
        <h3>
            {{ pressContact|trans_fallback('title') }}
        </h3>
    </div>
    {% if pressContact.firstColumn is not null %}
    <div class="sub-section">
        {{- pressContact|trans_fallback('firstColumn')|raw -}}
    </div>
    {% endif %}
    {% if pressContact.secondColumn is not null %}
    <div class="sub-section">
        {{- pressContact|trans_fallback('secondColumn')|raw -}}
    </div>
    {% endif %}
    {% if pressContact.thirdColumn is not null %}
    <div class="sub-section">
        {{- pressContact|trans_fallback('thirdColumn')|raw -}}
    </div>
    {% endif %}
    {% if pressContact.fourthColumn is not null %}
    <div class="sub-section">
        {{- pressContact|trans_fallback('fourthColumn')|raw -}}
    </div>
    {% endif %}
</section>