{% trans_default_domain 'FDCEventBundle' %}
    {% if movie.videoMain is not null and is_available_video(movie.videoMain) %}
        <div class="m-video">
            <div class="players2" data-ceva="" id="player3"{% if movie.videoMain is not null and is_available_video(movie.videoMain) %} {% if movie.videoMain.jobMp4State == 3 %}data-mp4url="{{ s3_server_video ~ movie.videoMain.mp4Url }}"{% endif %} {% if movie.videoMain.jobWebmState == 3 %}data-webmurl="{{ s3_server_video ~ movie.videoMain.webmUrl }}"{% endif %}{% endif %} data-poster="{% include 'FDCEventBundle:Global:components/film.cover.html.twig' with ({
                    film: movie,
                    film_format: '1600x903',
                    display_film_path: true,
                    film_image_default: '/bundles/fdccorporate/media/images/film_w256.jpg',
                })
            %}">
            </div>
        </div>
    {% else %}
        <div class="main-movie-img">
            <img src="{% include 'FDCEventBundle:Global:components/film.cover.html.twig' with ({
                    film: movie,
                    film_format: '1600x903',
                    display_film_path: true,
                    film_image_default: '/bundles/fdccorporate/media/images/film_w256.jpg',
                })
            %}">
        </div>
    {% endif %}

    <div class="pictos-nav">
        <div class="back"><i class="icon-mobile-return"></i></div>
        <div class="calendar">
            <a href="{{ path('fdc_eventmobile_agenda_scheduling') }}">
                <i class="icon icon_programmation"></i>
            </a>
        </div>
    </div>

    <div class="info-film">
        <div class="categories">
            <span>{{ movie.selectionSection|trans_fallback('name') }}{% if movie.selectionSubsection %}{{ movie.selectionSubsection|trans_fallback('name') }}{% endif %}</span>
            {% if movie.directorFirst %}
                <span>{{ 'movie.director_first'|trans }}</span>
            {% endif %}
            {% if 'Ouverture' in movie.galaName %}
                <span>{{ 'movie.fdc_open'|trans }}</span>
            {% elseif 'Fermeture' in movie.galaName or 'Clôture' in movie.galaName %}
                <span>{{ 'movie.fdc_close'|trans }}</span>
            {% endif %}
        </div>
        {% set secondTitle = null %}
        {% if movie|trans_fallback_movie('title') is not empty and movie|trans_fallback_movie('title') != movie.titleVO %}
            {% set mainTitle = movie.titleVO %}
			{% set secondTitle = movie|trans_fallback_movie('title') %}
        {% else %}
            {% set mainTitle = movie.titleVO %}
        {% endif %}
        <h2>{{ mainTitle }}</h2>
        {% if secondTitle and mainTitle != secondTitle %}
            <div class="title-original">({{ secondTitle }})</div>
        {% else %}
            <div class="title-original"></div>
        {% endif %}
        <p>
            {{ 'movie.label.realisepar'|trans }} :
            {% set directors = movie|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
            {% for director in directors %}
                {%- if director.asianName -%}
                    <a href="{{- path('fdc_eventmobile_artist_get', {slug: director.slug }) -}}" class="director">
                        {{- director.lastName ~ ' ' ~ director.firstName -}}
                    </a>
                {%- else -%}
                    <a href="{{- path('fdc_eventmobile_artist_get', {slug: director.slug }) -}}" class="director">
                        {{- director.fullName -}}
                    </a>
                {%- endif -%}
                {%- if loop.index != directors|length %}, {% endif -%}
            {% endfor %}
        </p>
        <p>
        {% if movie.productionYear is not null and movie.productionYear != 0 %}
            {{ 'movie.label.anneedeproduction'|trans }} : <span>{{ movie.productionYear }}</span>
        {% endif %}
        {% if movie.countries|length > 0 %}
            {{ 'movie.label.pays'|trans }} : {% for country in movie.countries %}{% if loop.index != movie.countries|length %}<span id="TetiereMovieCountry">{{ country.country|trans_fallback('name')|replace({' ': ""}) }}, </span>{% else %}<span>{{ country.country|trans_fallback('name')|replace({' ': ""}) }}</span>{% endif %}{% endfor %}
        {% endif %}
        </p>
        {% if movie.duration is not null and movie.duration > 0 %}
            {% set duration = movie.duration|split('.') %}
            <p>{{ 'movie.label.duree'|trans }} : {% if duration|length >= 1 %}<span>{{ duration[0] }} {{ 'movie.duration.minutes'|trans }}</span>{% endif %}</p>
        {% endif %}
        {% if movie.publishedAt is not null %}
            <p>{{ 'movie.label.datedesortie'|trans }} : <span>{{ movie.publishedAt|localizeddate('long', 'none', app.request.locale) }}</span></p>
        {% endif %}
    </div>