{% trans_default_domain 'FDCEventBundle' %}
<div class="section press">
    <h3 class="title-section">{{ 'movie.presse.title.infospresse'|trans }} <i class="icon icon_fleche-down"></i></h3>
    <div class="press-content">
        {% set medias = movie|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PRESS_PDF'), true) %}
        {% if medias|length > 0 %}
        <div class="press-folder">
            <div class="img-container">
                <div class="img" style="background-image:url({% include 'FDCEventMobileBundle:Global:components/film.poster.html.twig' with
                {
                    film: movie,
                    film_format: '300x400',
                    film_attrs: {
                        alt: movie|trans_fallback('title')?:movie.titleVO,
                        id: 'infosPressImageFilmPoster'
                    },
                    display_film_path: true,
                    film_image_default: 'bundles/fdcevent/img/palmares/film420x560.jpg',
                    film_image_default_attrs: ''
                }%})"></div>
            </div>
            <div class="folder-links">
                <h3>{{ 'movie.presse.title.dossierdepresse'|trans }}</h3>
                {% for media in medias %}
                    <a download href="{% path media.file, 'reference' %}">{% if app.request.locale == 'fr' %}{{ media.titleVf }}{% else %}{{ media.titleVa }}{% endif %}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if movie.website or movie.facebook or movie.twitter %}
        <div class="links">
            <p class="sub">{{ 'movie.presse.label.liens'|trans }}</p>
            <div>
            {% if movie.website %}
                <a href="{{ (('http' in movie.website  or 'https' in  movie.website ) ? '' : 'http://') ~ movie.website }}" target="_blank">{{ 'movie.presse.liens.website'|trans }}</a>
            {% endif %}
            {% if movie.facebook %}
                <a href="{{ (('http' in movie.facebook or 'https' in movie.facebook ) ? '' : 'http://') ~ movie.facebook }}" target="_blank">{{ 'movie.presse.liens.facebook'|trans }}</a>
            {% endif %}
            {% if movie.twitter %}
                <a href="{{ (('http' in movie.twitter or 'https' in movie.twitter ) ? '' : 'https://twitter.com/') ~  movie.twitter }}" target="_blank">{{ 'movie.presse.liens.twitter'|trans }}</a>
            {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="buttons">
            <p class="sub">{{ 'movie.presse.label.plusdinformations'|trans }}</p>
            <a href="{{ path('fdc_pressmobile_news_home') }}" class="button">{{ 'movie.presse.btn.espacepresse'|trans }}</a>
            <a href="{{ path('fdc_pressmobile_agenda_scheduling') }}" class="button">{{ 'header.mainnav.nav.programmation'|trans }}</a>
        </div>
    </div>
</div>

<div class="section contact">
    <h3 class="title-section">{{ 'movie.contact.title.contacts'|trans }} <i class="icon icon_fleche-down"></i></h3>
    <div class="contact-content">
        {% if movie.contacts|length > 0 %}
            {% if movie.selectionSection and movie.selectionSection.id == constant('Base\\CoreBundle\\Entity\\FilmSelectionSection::FILM_SELECTION_SECTION_CINEFONDATION') %}
                {% set hasProd = false %}
                {% for contact in movie.contacts %}
                    {% if
                    contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_PRODUCTION_COMPANY') or
                    contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_MINOR_PRODUCTION_COMPANY')
                    %}
                        {% set hasProd = true %}
                    {% endif %}
                {% endfor %}
                {% if hasProd == true %}
                    <div class="prod">
                        {% set first = true %}
                        {% for contact in movie.contacts %}
                            {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_PRODUCTION_COMPANY') %}
                                {% if first %}
                                    {% set first = false %}
                                    <p class="sub">{{ 'movie.contact.label.production'|trans }}</p>
                                {% endif %}
                                <div class="contact-reduce-line-height">
                                    <p>
                                        {% set displayContact = [] %}
                                        {% if contact.companyName %}
                                            {% set displayContact = displayContact|merge([contact.companyName]) %}
                                        {% endif %}
                                        {% if contact.address %}
                                            {% set displayAddress = contact.address.street ~ ' ' ~ contact.address.postalCode ~ ' ' ~ contact.address.city %}
                                            {% if contact.address.country %}
                                                {% set displayAddress = displayAddress ~ ' ' ~ contact.address.country|trans_fallback_country('name') %}
                                            {% endif %}
                                            {% if displayAddress|trim %}
                                                {% set displayContact = displayContact|merge([displayAddress]) %}
                                            {% endif %}
                                            {% if (contact.address.phone or contact.address.mobilePhone) %}
                                                {% if contact.address.phone?:contact.address.mobilePhone %}
                                                    {% set displayContact = displayContact|merge(['T: ' ~ (contact.address.phone?:contact.address.mobilePhone)]) %}
                                                {% endif %}
                                                {% if contact.address.fax %}
                                                    {% set displayContact = displayContact|merge(['F: ' ~ contact.address.fax]) %}
                                                {% endif %}
                                            {% endif %}
                                            {% if contact.address.email %}
                                                {% set displayEmail = '<a class="ajaxi" href="mailto:' ~ contact.address.email ~ '">' %}
                                                {% set displayEmail =  displayEmail ~ contact.address.email ~ '</a>' %}
                                                {% set displayContact = displayContact|merge([displayEmail]) %}
                                            {% endif %}
                                            {% if contact.address.website %}
                                                {% set displayWebsite = '<a href="' ~ (('http' in contact.address.website or 'https' in contact.address.website) ? '' : 'http://') ~ contact.address.website ~ '" target="_blank">' %}
                                                {% set displayWebsite = displayWebsite ~ contact.address.website ~ '</a>' %}
                                                {% set displayContact = displayContact|merge([displayWebsite]) %}
                                            {% endif %}
                                        {% endif %}
                                        {{ displayContact|join(' - ')|raw }}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% set first = true %}
                        {% for contact in movie.contacts %}
                            {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_MINOR_PRODUCTION_COMPANY') %}
                                {% if increasePaddingBottom is defined and increasePaddingBottom %}
                                    <div class="contact-increase-padding-bottom"></div>
                                {% endif %}
                                <div class="contact-reduce-line-height">
                                    <p>
                                        {% set displayContact = [] %}
                                        {% if contact.companyName %}
                                            {% set displayContact = displayContact|merge([contact.companyName]) %}
                                        {% endif %}
                                        {% if contact.address and contact.address.country %}
                                            {% set displayContact = displayContact|merge([contact.address.country|trans_fallback_country('name')]) %}
                                        {% endif %}
                                        {{ displayContact|join(' - ')|raw }}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% set first = true %}
                {% for contact in movie.contacts %}
                    {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_FRENCH_DISTRIBUTION') %}
                        {% if first %}
                            {% set first = false %}
                            <p class="sub">{{ 'movie.contact.label.distribution'|trans }}</p>
                        {% endif %}
                        <div>
                            <p>
                                {% set displayContact = [] %}
                                {% if contact.companyName %}
                                    {% set displayContact = displayContact|merge([contact.companyName]) %}
                                {% endif %}
                                {% if contact.address %}
                                    {% set displayAddress = contact.address.street ~ ' ' ~ contact.address.postalCode ~ ' ' ~ contact.address.city %}
                                    {% if contact.address.country %}
                                        {% set displayAddress = displayAddress ~ ' ' ~ contact.address.country|trans_fallback_country('name') %}
                                    {% endif %}
                                    {% if displayAddress|trim %}
                                        {% set displayContact = displayContact|merge([displayAddress]) %}
                                    {% endif %}
                                    {% if (contact.address.phone or contact.address.mobilePhone) %}
                                        {% if contact.address.phone?:contact.address.mobilePhone %}
                                            {% set displayContact = displayContact|merge(['T: ' ~ (contact.address.phone?:contact.address.mobilePhone)]) %}
                                        {% endif %}
                                        {% if contact.address.fax %}
                                            {% set displayContact = displayContact|merge(['F: ' ~ contact.address.fax]) %}
                                        {% endif %}
                                    {% endif %}
                                    {% if contact.person and contact.person.email %}
                                        {% set displayEmail = '<a class="ajaxi" href="mailto:' ~ contact.person.email ~ '">' %}
                                        {% set displayEmail =  displayEmail ~ contact.person.email ~ '</a>' %}
                                        {% set displayContact = displayContact|merge([displayEmail]) %}
                                    {% endif %}
                                    {% if contact.address.website %}
                                        {% set displayWebsite = '<a href="' ~ (('http' in contact.address.website or 'https' in contact.address.website) ? '' : 'http://') ~ contact.address.website ~ '" target="_blank">' %}
                                        {% set displayWebsite = displayWebsite ~ contact.address.website ~ '</a>' %}
                                        {% set displayContact = displayContact|merge([displayWebsite]) %}
                                    {% endif %}
                                {% endif %}
                                {{ displayContact|join(' - ')|raw }}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
                {% set first = true %}
                {% for contact in movie.contacts %}
                    {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_SCHOOL') %}
                        {% if first %}
                            {% set first = false %}
                            <p class="sub">{{ 'movie.contact.label.ecole'|trans }}</p>
                        {% endif %}
                        <div>
                            <p>
                                {% set contactInfos = [] %}
                                {% if contact.companyName %}
                                    {% set contactInfos = contactInfos|merge([contact.companyName]) %}
                                {% endif %}

                                {% if contact.address %}
                                    {% set displayAddress = contact.address.street ~ ' ' ~ contact.address.postalCode ~ ' ' ~ contact.address.city %}
                                    {% if contact.address.country %}
                                        {% set displayAddress = displayAddress ~ ' ' ~ contact.address.country|trans_fallback_country('name') %}
                                    {% endif %}
                                    {% if displayAddress|trim %}
                                        {% set contactInfos = contactInfos|merge([displayAddress]) %}
                                    {% endif %}
                                {% endif %}

                                {% if contact.address and (contact.address.phone or contact.address.mobilePhone) %}
                                    {% set contactInfos = contactInfos|merge(['T:' ~ contact.address.phone?:contact.address.mobilePhone]) %}
                                    {% if (contact.address.phone or contact.address.mobilePhone) and contact.address.fax %}
                                        {% set contactInfos = contactInfos|merge(['F:' ~ contact.address.fax]) %}
                                    {% endif %}
                                {% endif %}
                                {% if contact.address.email %}
                                    {% set contactInfos = contactInfos|merge(['<a class="ajaxi" href="mailto:' ~ contact.address.email ~ '">' ~ contact.address.email ~ '</a>']) %}
                                {% endif %}
                                {% if contact.address and contact.address.website %}
                                    {% set contactInfos =  contactInfos|merge(['<a href="' ~ (('http' in contact.address.website or 'https' in contact.address.website) ? '' : 'http://') ~ contact.address.website ~ '" target="_blank">' ~ contact.address.website ~ '</a>']) %}
                                {% endif %}

                                {% if contact.person %}
                                    {% set contactInfos =  contactInfos|merge([contact.person.firstname ~ ' ' ~ contact.person.lastname]) %}
                                    {% set contactInfoKey = contactInfos|length %}
                                {% endif %}

                                {% if contact.person and contact.person.email %}
                                    {% set contactInfos = contactInfos|merge(['<a class="ajaxi" href="mailto:' ~ contact.person.email ~ '">' ~ contact.person.email ~ '</a>']) %}
                                {% endif %}
                                {% if contactInfos|length > 0 %}
                                    {% for contactInfo in contactInfos %}
                                        {% if loop.index0 != 0 and loop.index != contactInfoKey %}
                                            -
                                        {% endif %}
                                        {% if loop.index == contactInfoKey %}
                                            <br/>
                                        {% endif %}
                                        {{ contactInfo|raw }}
                                    {% endfor %}
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% set hasProd = false %}
                {% for contact in movie.contacts %}
                    {% if
                    contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_PRODUCTION_COMPANY') or
                    contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_MINOR_PRODUCTION_COMPANY') %}
                        {% set hasProd = true %}
                    {% endif %}
                {% endfor %}
                {% if hasProd == true %}
                    <div class="prod">
                        {% set first = true %}
                        {% for contact in movie.contacts %}
                            {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_PRODUCTION_COMPANY') %}
                                {% if first %}
                                    {% set first = false %}
                                    <p class="sub">{{ 'movie.contact.label.production'|trans }}</p>
                                {% endif %}
                                {% set increasePaddingBottom = true %}
                                <div class="contact-reduce-line-height">
                                    <p>
                                        {% set displayContact = [] %}
                                        {% if contact.companyName %}
                                            {% set displayContact = displayContact|merge([contact.companyName]) %}
                                        {% endif %}
                                        {% if contact.address %}
                                            {% set displayAddress = contact.address.street ~ ' ' ~ contact.address.postalCode ~ ' ' ~ contact.address.city %}
                                            {% if contact.address.country %}
                                                {% set displayAddress = displayAddress ~ ' ' ~ contact.address.country|trans_fallback_country('name') %}
                                            {% endif %}
                                            {% set displayContact = displayContact|merge([displayAddress]) %}
                                            {% if (contact.address.phone or contact.address.mobilePhone) %}
                                                {% if contact.address.phone?:contact.address.mobilePhone %}
                                                    {% set displayContact = displayContact|merge(['T: ' ~ (contact.address.phone?:contact.address.mobilePhone)]) %}
                                                {% endif %}
                                                {% if contact.address.fax %}
                                                    {% set displayContact = displayContact|merge(['F: ' ~ contact.address.fax]) %}
                                                {% endif %}
                                            {% endif %}
                                            {% if contact.address.email %}
                                                {% set displayEmail = '<a class="ajaxi" href="mailto:' ~ contact.address.email ~ '">' %}
                                                {% set displayEmail =  displayEmail ~ contact.address.email ~ '</a>' %}
                                                {% set displayContact = displayContact|merge([displayEmail]) %}
                                            {% endif %}
                                            {% if contact.address.website %}
                                                {% set displayWebsite = '<a href="' ~ (('http' in contact.address.website or 'https' in contact.address.website) ? '' : 'http://') ~ contact.address.website ~ '" target="_blank">' %}
                                                {% set displayWebsite = displayWebsite ~ contact.address.website ~ '</a>' %}
                                                {% set displayContact = displayContact|merge([displayWebsite]) %}
                                            {% endif %}
                                        {% endif %}
                                        {{ displayContact|join(' - ')|raw }}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for contact in movie.contacts %}
                            {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_MINOR_PRODUCTION_COMPANY') %}
                                {% if increasePaddingBottom is defined and increasePaddingBottom %}
                                    <div class="contact-increase-padding-bottom"></div>
                                {% endif %}
                                <div class="contact-reduce-line-height">
                                    <p>
                                        {% set displayContact = [] %}
                                        {% if contact.companyName %}
                                            {% set displayContact = displayContact|merge([contact.companyName]) %}
                                        {% endif %}
                                        {% if contact.address and contact.address.country %}
                                            {% set displayContact = displayContact|merge([contact.address.country|trans_fallback_country('name')]) %}
                                        {% endif %}
                                        {{ displayContact|join(' - ')|raw }}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% set first = true %}
                {% for contact in movie.contacts %}
                    {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_FRENCH_DISTRIBUTION') %}
                        {% if first %}
                            {% set first = false %}
                            <p class="sub">{{ 'movie.contact.label.distribution'|trans }}</p>
                        {% endif %}
                        <div>
                            <p>
                                {% set displayContact = [] %}
                                {% if contact.companyName %}
                                    {% set displayContact = displayContact|merge([contact.companyName]) %}
                                {% endif %}
                                {% if contact.address %}
                                    {% if (contact.address.phone or contact.address.mobilePhone) %}
                                        {% set displayContact = displayContact|merge(['T: ' ~ contact.address.phone?:contact.address.mobilePhone]) %}
                                    {% endif %}
                                    {% if contact.address.website %}
                                        {% set displayWebsite = '<a href="' ~ (('http' in contact.address.website or 'https' in contact.address.website) ? '' : 'http://') ~ contact.address.website ~ '" target="_blank">' %}
                                        {% set displayWebsite = displayWebsite ~ contact.address.website ~ '</a>' %}
                                        {% set displayContact = displayContact|merge([displayWebsite]) %}
                                    {% endif %}
                                    {% if contact.person and contact.person.email %}
                                        {% set displayEmail = '<a class="ajaxi" href="mailto:' ~ contact.person.email ~ '">' %}
                                        {% set displayEmail =  displayEmail ~ contact.person.email ~ '</a>' %}
                                        {% set displayContact = displayContact|merge([displayEmail]) %}
                                    {% endif %}
                                {% endif %}
                                {{ displayContact|join(' - ')|raw }}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
                {% set first = true %}
                {% for contact in movie.contacts %}
                    {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_FRENCH_PRESS_COMPANY') %}
                        {% if first %}
                            {% set first = false %}
                            <p class="sub">{{ 'movie.contact.label.pressefrancaise'|trans }}</p>
                        {% endif %}
                        <div>
                            <p>
                                {% set displayContact = [] %}
                                {% if contact.companyName %}
                                    {% set displayContact = displayContact|merge([contact.companyName]) %}
                                {% endif %}
                                {% if contact.address %}
                                    {% if (contact.address.phone or contact.address.mobilePhone) %}
                                        {% set displayContact = displayContact|merge(['T: ' ~ contact.address.phone?:contact.address.mobilePhone]) %}
                                    {% endif %}
                                    {% if contact.address.website %}
                                        {% set displayWebsite = '<a href="' ~ (('http' in contact.address.website or 'https' in contact.address.website) ? '' : 'http://') ~ contact.address.website ~ '" target="_blank">' %}
                                        {% set displayWebsite = displayWebsite ~ contact.address.website ~ '</a>' %}
                                        {% set displayContact = displayContact|merge([displayWebsite]) %}
                                    {% endif %}
                                    {% if contact.person %}
                                        {% set displayContact = displayContact|merge([contact.person.firstname ~ ' ' ~ contact.person.lastname]) %}
                                    {% endif %}
                                    {% if contact.person and contact.person.email %}
                                        {% set displayEmail = '<a class="ajaxi" href="mailto:' ~ contact.person.email ~ '">' %}
                                        {% set displayEmail =  displayEmail ~ contact.person.email ~ '</a>' %}
                                        {% set displayContact = displayContact|merge([displayEmail]) %}
                                    {% endif %}
                                {% endif %}
                                {{ displayContact|join(' - ')|raw }}
                                {% if contact.person and contact.person.subordinates|length %}
                                    <br/>
                                    {% for subordinate in contact.person.subordinates %}
                                        {{ subordinate.firstname }} {{ subordinate.lastname }}{% if loop.last == false %} - {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
                {% set first = true %}
                {% for contact in movie.contacts %}
                    {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_INTERNATIONAL_PRESS_COMPANY') %}
                        {% if first %}
                            {% set first = false %}
                            <p class="sub">{{ 'movie.contact.label.presseinternational'|trans }}</p>
                        {% endif %}
                        <div>
                            <p>
                                {% set displayContact = [] %}
                                {% if contact.companyName %}
                                    {% set displayContact = displayContact|merge([contact.companyName]) %}
                                {% endif %}
                                {% if contact.address %}
                                    {% if (contact.address.phone or contact.address.mobilePhone) %}
                                        {% set displayContact = displayContact|merge(['T: ' ~ contact.address.phone?:contact.address.mobilePhone]) %}
                                    {% endif %}
                                    {% if contact.address.website %}
                                        {% set displayWebsite = '<a href="' ~ (('http' in contact.address.website or 'https' in contact.address.website) ? '' : 'http://') ~ contact.address.website ~ '" target="_blank">' %}
                                        {% set displayWebsite = displayWebsite ~ contact.address.website ~ '</a>' %}
                                        {% set displayContact = displayContact|merge([displayWebsite]) %}
                                    {% endif %}
                                    {% if contact.person %}
                                        {% set displayContact = displayContact|merge([contact.person.firstname ~ ' ' ~ contact.person.lastname]) %}
                                    {% endif %}
                                    {% if contact.person and contact.person.email %}
                                        {% set displayEmail = '<a class="ajaxi" href="mailto:' ~ contact.person.email ~ '">' %}
                                        {% set displayEmail =  displayEmail ~ contact.person.email ~ '</a>' %}
                                        {% set displayContact = displayContact|merge([displayEmail]) %}
                                    {% endif %}
                                {% endif %}
                                {{ displayContact|join(' - ')|raw }}
                                {% if contact.person and contact.person.subordinates|length %}
                                    <br/>
                                    {% for subordinate in contact.person.subordinates %}
                                        {{ subordinate.firstname }} {{ subordinate.lastname }}{% if loop.last == false %} - {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
                {% set first = true %}
                {% for contact in movie.contacts %}
                    {% if contact.type == constant('Base\\CoreBundle\\Entity\\FilmContact::TYPE_INTERNATIONAL_SELLING') %}
                        {% if first %}
                            {% set first = false %}
                            <p class="sub">{{ 'movie.contact.label.international_selling'|trans }}</p>
                        {% endif %}
                        <div>
                            <p>
                                {% set displayContact = [] %}
                                {% if contact.companyName %}
                                    {% set displayContact = displayContact|merge([contact.companyName]) %}
                                {% endif %}
                                {% if contact.address %}
                                    {% if (contact.address.phone or contact.address.mobilePhone) %}
                                        {% set displayContact = displayContact|merge(['T: ' ~ contact.address.phone?:contact.address.mobilePhone]) %}
                                    {% endif %}
                                    {% if contact.address.website %}
                                        {% set displayWebsite = '<a href="' ~ (('http' in contact.address.website or 'https' in contact.address.website) ? '' : 'http://') ~ contact.address.website ~ '" target="_blank">' %}
                                        {% set displayWebsite = displayWebsite ~ contact.address.website ~ '</a>' %}
                                        {% set displayContact = displayContact|merge([displayWebsite]) %}
                                    {% endif %}
                                    {% if contact.person and contact.person.email %}
                                        {% set displayEmail = '<a class="ajaxi" href="mailto:' ~ contact.person.email ~ '">' %}
                                        {% set displayEmail =  displayEmail ~ contact.person.email ~ '</a>' %}
                                        {% set displayContact = displayContact|merge([displayEmail]) %}
                                    {% endif %}
                                {% endif %}
                                {{ displayContact|join(' - ')|raw }}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
</div>