{% trans_default_domain 'FDCEventBundle' %}

<div id="horizontal-menu" class="owl-carousel sliderDrag videosSlider sub-nav-list nav-list">
    {% for selectionTab in selectionTabs %}
        {% set selectionSlug = selectionTab|trans_fallback('slug')?:selectionTab.selectionSection|trans_fallback('slug') %}
        {% set selectionName = selectionTab|trans_fallback('overrideName')?:selectionTab.selectionSection|trans_fallback('name') %}
        <div class="vid">
            <p>
                <a href="{{ path('fdc_eventmobile_movie_selection', {'slug': selectionSlug}) }}"
                   data-url="{{ path('fdc_eventmobile_movie_selection', {'slug': selectionSlug}) }}"
                   class="{% if app.request.attributes.get('slug') == selectionSlug %}active{% endif %} ajax">
                    {{ selectionName }}
                </a>
            </p>
        </div>
    {% endfor %}

    {% if cannesClassics is defined and cannesClassics|length > 0 %}
        {% set transClassics = cannesClassics[0].findTranslationByLocale(app.request.locale) %}
        {% if transClassics is not empty and transClassics.slug is not empty %}
            <div class="vid">
                <p>
                    <a href="{{ path('fdc_eventmobile_movie_classics', {'slug': transClassics.slug}) }}"
                       data-url="{{ path('fdc_eventmobile_movie_classics', {'slug': transClassics.slug}) }}"
                       class="{% if app.request.attributes.get('_route') == 'fdc_eventmobile_movie_classics' %}active{% endif %} ajax">
                        {{ 'selection.nav.cannes-classics'|trans }}
                    </a>
                </p>
            </div>
        {% endif %}
    {% endif %}
    <div class="vid">
        <p>
            <a href="{{ path('fdc_eventmobile_movie_selection', {'slug': 'cinema-de-la-plage'}) }}"
               data-url="{{ path('fdc_eventmobile_movie_selection', {'slug': 'cinema-de-la-plage'}) }}"
               class="{% if app.request.attributes.get('slug') == 'cinema-de-la-plage' %}active{% endif %} ajax">
                {{ 'selection.nav.cinema-la-plage'|trans }}
            </a>
        </p>
    </div>
</div>