{% trans_default_domain 'FDCCorporateBundle' %}

% extends 'FDCCorporateBundle::layout.html.twig' %}
{% block bodyClass %}retrospective selection retrospective-home restrospective-init dark{% endblock %}

{% block body %}
    <section class="s-slider-retrospective">

    {% include 'FDCCorporateBundle:Retrospective:components/years_slider_mini.html.twig' %}

    <div class="ajax-section"><div class="contain-ajax">

    {% include 'FDCCorporateBundle:Retrospective:components/menu.html.twig' %}

    <div class="all-contain">

        {% for poster in posters %}
            {% if poster.type == 13 %}
                {% set affiche = poster %}
            {% endif %}
            <div class="contain-title vFlexAlign border-bottom">
                <h1 class="title-01">{{ poster|trans_fallback('title') }}</h1>
            </div>

            <article class="block-movie-preview" style="background-image: url(&quot;media/images/retrospective-poster-01.jpg&quot;)">
                <div class="bck-hover">
                    <div class="wrapper-item">
                        <div class="poster">
                            <img src="" />
                        </div>
                        <div class="infos">
                            <p class="description">
                                {{ poster|trans_fallback('description') }}
                            </p>
                            <!--strong class="name-f">Agence it’suptoyou</strong>
                            <span class="names-a">Frédéric MENANT - Tim GARCIA</span-->
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}

        {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        <div class="black small-h">
            <strong class="title-9">Partager la page</strong>
            <div class="block-social-network block-social-network-all ">
                <a class="facebook" href="http://www.facebook.com/dialog/feed?app_id=1198653673492784&link={{ currentPath }}&picture=
http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/film_poster/0001/02/thumb_1458_film_poster_293x397.jpeg&name=Festival de Cannes {{ year }}&caption=&description={{ poster|trans_fallback('description') }}6&redirect_uri={{ currentPath }}&display=popup"><i class="icon icon-facebook"></i></a><!--
            --><a class="twitter" href="https://twitter.com/intent/tweet?text=BACALAUREAT%20{{ currentPath }}"><i class="icon icon-twitter"></i></a><!--
            --><a href="#" rel="nofollow" class="link self" data-clipboard-text="{{ currentPath }}"><i class="icon icon-link"></i></a><!--
            --><a href="#" class="popin-mail-open"><i class="icon icon-letter"></i></a><!--
            --><a href="#" class="print" onclick="javascript:window.print()"><i class="icon icon-print"></i></a>
            </div>
            <div class="texts-clipboard"></div>
        </div>
    </div> <!-- end all contain -->

    {% include 'FDCCorporateBundle:Global:breadcrumb.html.twig' with
    {"breadcrumb":
    [
    {
    "name" : 'breadcrumb.69editions.home'|trans,
    "url"  : ''
    },
    {
    "name" : 'breadcrumb.retrospective.home'|trans,
    "url"  : path('fdc_corporate_editions_retrospective')
    },
    {
    "name" : app.request.attributes.get('year'),
    "url"  : path('fdc_corporate_editions_year', {'year': app.request.attributes.get('year')})
    },
    {
    "name" : 'breadcrumb.affiche'|trans,
    "url"  : ''
    }
    ]
    } %}
{% endblock %}