{% trans_default_domain 'BaseAdminBundle' %}
{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block infinite_form_polycollection_widget %}
{% spaceless %}
    {% set attr = attr|merge({
        'data-form-widget': 'collection',
    }) %}
    {% if disabled %}
        {% set attr = attr|merge({
            'data-disabled': 1
        }) %}
    {% endif %}
    {{ block('form_widget') }}
{% endspaceless %}
{% endblock %}

{# set the default locale to locale_default_translation to handle the language used when adding new text widget #}
{# render only the content block and the other values #}
{% block news_widget_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="base-widget">
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale).children.content) }}
    </div>
{% endblock %}

{% block news_widget_audio_type_row %}
    <div class="base-widget">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block news_widget_image_type_row %}
    <div class="base-widget">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block news_widget_video_type_row %}
    <div class="base-widget">
        {{ form_widget(form) }}
    </div>
{% endblock %}