{% trans_default_domain 'BaseAdminBundle' %}
{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block infinite_form_polycollection_widget %}
    {% spaceless %}
        {% set attr = attr|merge({
        'data-form-widget': 'collection',
        }) %}
        {% if disabled %}
            {% set attr = attr|merge({
            'data-disabled': 1
            }) %}
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock %}

{# set the default locale to locale_default_translation to handle the language used when adding new text widget #}
{# render only the content block and the other values #}
{% block info_widget_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# set the default locale to locale_default_translation to handle the language used when adding new text widget #}
{# render only the content block and the other values #}
{% block info_widget_quote_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.quote'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block info_widget_audio_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.audio'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block info_widget_image_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block info_widget_image_dual_align_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image_dual_align'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block info_widget_video_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block info_widget_video_youtube_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video_youtube'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# set the default locale to locale_default_translation to handle the language used when adding new text widget #}
{# render only the content block and the other values #}
{% block statement_widget_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# set the default locale to locale_default_translation to handle the language used when adding new text widget #}
{# render only the content block and the other values #}
{% block statement_widget_quote_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.quote'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block statement_widget_audio_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.audio'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block statement_widget_image_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block statement_widget_image_dual_align_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image_dual_align'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block statement_widget_video_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block statement_widget_video_youtube_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video_youtube'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# set the default locale to locale_default_translation to handle the language used when adding new text widget #}
{# render only the content block and the other values #}
{% block news_widget_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block event_widget_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_cannes_classics_widget_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# set the default locale to locale_default_translation to handle the language used when adding new text widget #}
{# render only the content block and the other values #}
{% block news_widget_quote_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.quote'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# render only the content block and the other values #}
{% block event_widget_quote_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.quote'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# render only the content block and the other values #}
{% block fdc_cannes_classics_widget_quote_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.quote'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block event_widget_subtitle_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.subtitle'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block news_widget_audio_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.audio'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block event_widget_audio_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.audio'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_cannes_classics_widget_audio_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.audio'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block news_widget_image_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block event_widget_image_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_cannes_classics_widget_image_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block news_widget_image_dual_align_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image_dual_align'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block event_widget_image_dual_align_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image_dual_align'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_cannes_classics_widget_image_dual_align_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image_dual_align'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block news_widget_video_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block event_widget_video_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_cannes_classics_widget_video_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block news_widget_video_youtube_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video_youtube'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block event_widget_video_youtube_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video_youtube'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_cannes_classics_widget_video_youtube_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video_youtube'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_download_section_widget_document_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module document</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_row(form.children.file) }}
        {{ form_row(form.children.secondFile) }}
        {{ form_row(form.children.thirdFile) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.lockedContent) }}

        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_download_section_widget_archive_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Signatures</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_row(form.children.file) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.lockedContent) }}

        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block press_download_section_widget_file_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module dossier de presse</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.file) }}
        {{ form_row(form.children.secondFile) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.lockedContent) }}

        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_download_section_widget_photo_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module photo</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.gallery) }}
        {{ form_row(form.children.lockedContent) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_download_section_widget_video_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module vidéo</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_label(form.children.image) }}
        <span class="help-block sonata-ba-field-help">Dimensions attendues : 976*535.  Format attendu : .jpg, .png.</span>
        {{ form_widget(form.children.image) }}
        {{ form_row(form.children.video) }}
        {{ form_row(form.children.file) }}
        {{ form_row(form.children.secondFile) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.lockedContent) }}

        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_participate_section_widget_typeone_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Type 1</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block fdc_page_participate_section_widget_typetwo_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Type 2</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.sponsorImage) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block fdc_page_participate_section_widget_typethree_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Type 3</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block fdc_page_participate_section_widget_typefour_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Type 4</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block fdc_page_participate_section_widget_typefive_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Type 5</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(attribute(form.children.translations, locale).children.title) }}

        <h5>Bloc 1</h5>
        {{ form_row(attribute(form.children.translations, locale).children.oneTitle) }}
        {{ form_row(attribute(form.children.translations, locale).children.oneIcon) }}
        {{ form_row(attribute(form.children.translations, locale).children.oneDescription) }}

        <h5>Bloc 2</h5>
        {{ form_row(attribute(form.children.translations, locale).children.twoTitle) }}
        {{ form_row(attribute(form.children.translations, locale).children.twoIcon) }}
        {{ form_row(attribute(form.children.translations, locale).children.twoDescription) }}

        <h5>Bloc 3</h5>
        {{ form_row(attribute(form.children.translations, locale).children.threeTitle) }}
        {{ form_row(attribute(form.children.translations, locale).children.threeIcon) }}
        {{ form_row(attribute(form.children.translations, locale).children.threeDescription) }}

        <h5>Bloc 4</h5>
        {{ form_row(attribute(form.children.translations, locale).children.fourTitle) }}
        {{ form_row(attribute(form.children.translations, locale).children.fourIcon) }}
        {{ form_row(attribute(form.children.translations, locale).children.fourDescription) }}


        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_prepare_section_widget_archive_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Signatures</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_row(form.children.file) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.lockedContent) }}

        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_prepare_widget_image_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module image / texte</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.gallery) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_prepare_widget_column_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module document</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        {{ form_row(form.children.file) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_prepare_widget_picto_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Picto</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.picto) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_guide_widget_image_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module image / texte</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.gallery) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_guide_widget_column_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Colonne</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.gallery) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_guide_widget_picto_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Picto</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.picto) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}