{% trans_default_domain 'BaseAdminBundle' %}
{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block infinite_form_polycollection_widget %}
    {% spaceless %}
        {% set attr = attr|merge({
        'data-form-widget': 'collection',
        }) %}
        {% if disabled %}
            {% set attr = attr|merge({
            'data-disabled': 1
            }) %}
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock %}

{# set the default locale to locale_default_translation to handle the language used when adding new text widget #}
{# render only the content block and the other values #}
{% block info_widget_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# set the default locale to locale_default_translation to handle the language used when adding new text widget #}
{# render only the content block and the other values #}
{% block info_widget_quote_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.quote'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block info_widget_audio_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.audio'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block info_widget_image_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block info_widget_image_dual_align_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image_dual_align'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block info_widget_video_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block info_widget_video_youtube_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video_youtube'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# set the default locale to locale_default_translation to handle the language used when adding new text widget #}
{# render only the content block and the other values #}
{% block statement_widget_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# set the default locale to locale_default_translation to handle the language used when adding new text widget #}
{# render only the content block and the other values #}
{% block statement_widget_quote_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.quote'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block statement_widget_audio_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.audio'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block statement_widget_image_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block statement_widget_image_dual_align_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image_dual_align'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block statement_widget_video_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block statement_widget_video_youtube_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video_youtube'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# set the default locale to locale_default_translation to handle the language used when adding new text widget #}
{# render only the content block and the other values #}
{% block news_widget_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_news_widget_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_sfc_widget_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_sfc_widget_subtitle_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.subtitle'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_news_widget_description_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.description'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block event_widget_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block event_widget_mosaic_movie_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.mosaic_movie'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(form.widgetMosaicMovie) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_la_selection_cannes_classics_widget_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_la_selection_cannes_classics_widget_intro_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.intro'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}


{% block fdc_page_la_selection_cannes_classics_widget_subtitle_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.subtitle'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}


{% block fdc_page_la_selection_cannes_classics_widget_movie_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4><strong>{{ 'form.widget.movie'|trans }}</strong></h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(form.children.widgetMovie) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_la_selection_cannes_classics_widget_video_youtube_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video_youtube'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_la_selection_cannes_classics_widget_video_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_la_selection_cannes_classics_widget_audio_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.audio'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_la_selection_cannes_classics_widget_image_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_la_selection_cannes_classics_widget_image_dual_align_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image_dual_align'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_la_selection_cannes_classics_widget_typeone_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Image + texte</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}

        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_label(form.children.image) }}
        <span class="help-block sonata-ba-field-help">Dimensions attendues : 726x518 - ratio paysage. Format attendu : .jpg, .png, .gif</span>
        {{ form_widget(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_la_selection_cannes_classics_widget_quote_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.quote'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# set the default locale to locale_default_translation to handle the language used when adding new text widget #}
{# render only the content block and the other values #}
{% block news_widget_quote_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.quote'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_news_widget_quote_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.quote'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_sfc_widget_quote_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.quote'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_news_widget_signature_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.signature'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# render only the content block and the other values #}
{% block event_widget_quote_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.quote'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{# render only the content block and the other values #}

{% block event_widget_subtitle_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.subtitle'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block news_widget_audio_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.audio'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_news_widget_audio_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.audio'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_sfc_widget_audio_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.audio'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block event_widget_audio_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.audio'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block news_widget_image_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_news_widget_image_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_sfc_widget_image_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block event_widget_image_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block news_widget_image_dual_align_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image_dual_align'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_news_widget_image_dual_align_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image_dual_align'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_sfc_widget_image_dual_align_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image_dual_align'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_news_widget_gallery_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.gallery'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.gallery) }}
        {{ form_widget(form.children.position) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block event_widget_image_dual_align_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.image_dual_align'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block news_widget_video_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_news_widget_video_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_sfc_widget_video_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block event_widget_video_type_widget %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video'|trans }}</h4>
        {{ form_widget(form) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block news_widget_video_youtube_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video_youtube'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_news_widget_video_youtube_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video_youtube'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_sfc_widget_video_youtube_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video_youtube'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block event_widget_video_youtube_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video_youtube'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}


{% block press_download_section_widget_document_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module document</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_row(form.children.file) }}
        {{ form_row(form.children.secondFile) }}
        {{ form_row(form.children.thirdFile) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.lockedContent) }}

        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_download_section_widget_archive_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Signatures</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_row(form.children.file) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.lockedContent) }}

        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block press_download_section_widget_file_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module dossier de presse</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.file) }}
        {{ form_row(form.children.secondFile) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.lockedContent) }}

        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_download_section_widget_photo_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module photo</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.gallery) }}
        {{ form_row(form.children.lockedContent) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_download_section_widget_video_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module vidéo</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_label(form.children.image) }}
        <span class="help-block sonata-ba-field-help">Dimensions attendues : 976*535.  Format attendu : .jpg, .png, .gif.</span>
        {{ form_widget(form.children.image) }}
        {{ form_row(form.children.video) }}
        {{ form_row(form.children.file) }}
        {{ form_row(form.children.secondFile) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.lockedContent) }}

        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_participate_section_widget_typeone_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Image + texte</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}

        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_label(form.children.image) }}
        <span class="help-block sonata-ba-field-help">Dimensions attendues : 726x518 - ratio paysage. Format attendu : .jpg, .png, .gif</span>
        {{ form_widget(form.children.image) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block fdc_page_participate_section_widget_typetwo_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Partenaires / Fournisseurs</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}

        {{ form_label(form.children.image) }}
        <span class="help-block sonata-ba-field-help">Dimensions attendues : 800x270 - ratio paysage. Format attendu : .jpg, .png, .gif</span>
        {{ form_widget(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_label(form.children.sponsorImage) }}
        <span class="help-block sonata-ba-field-help">Dimensions attendues : 120x162 - ratio paysage. Format attendu : .jpg, .png, .gif</span>
        {{ form_widget(form.children.sponsorImage) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block fdc_page_participate_section_widget_typethree_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Pictos</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}

        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block fdc_page_participate_section_widget_typefour_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>3 colonnes</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}

        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        {{ form_row(form.children.pdf) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block fdc_page_participate_section_widget_typefive_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>4 colonnes</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}

        <h5>Bloc 1</h5>
        {{ form_row(attribute(form.children.translations, locale).children.oneIcon) }}
        {{ form_row(attribute(form.children.translations, locale).children.oneDescription) }}

        <h5>Bloc 2</h5>
        {{ form_row(attribute(form.children.translations, locale).children.twoIcon) }}
        {{ form_row(attribute(form.children.translations, locale).children.twoDescription) }}

        <h5>Bloc 3</h5>
        {{ form_row(attribute(form.children.translations, locale).children.threeIcon) }}
        {{ form_row(attribute(form.children.translations, locale).children.threeDescription) }}

        <h5>Bloc 4</h5>
        {{ form_row(attribute(form.children.translations, locale).children.fourIcon) }}
        {{ form_row(attribute(form.children.translations, locale).children.fourDescription) }}


        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block fdc_page_participate_section_widget_subtitle_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Sous titre</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}

        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block fdc_page_prepare_section_widget_archive_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Signatures</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_row(form.children.file) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.lockedContent) }}

        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_prepare_widget_image_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module image / texte</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.gallery) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_prepare_widget_column_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module document</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.image) }}
        <span class="help-block sonata-ba-field-help">Format attendu : .pdf</span>
        {{ form_row(form.children.pdf) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block fdc_page_prepare_widget_picto_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Picto</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.picto) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_guide_widget_image_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module image / texte</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.gallery) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_guide_widget_column_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Colonne</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.gallery) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block corpo_team_members_widget_type %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Colonne</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.gallery) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_guide_widget_picto_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>Module Picto</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.picto) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block orange_widget_movie_youtube_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.video_youtube'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.url) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block orange_widget_film_studio_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.film_studio'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.producer) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block orange_widget_film_ocs_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.film_studio'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.name) }}
        {{ form_row(form.children.producer) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block orange_widget_film_vod_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.film_studio'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.section) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        {{ form_row(form.children.copy) }}
        {{ form_row(form.children.producer) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block service_widget_product_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.service_product'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.gallery) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block contact_block_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.label.contact_block_conf'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block speaker_details_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.widget.speaker_details'|trans }}</h4>
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block home_slider_top_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.home_slider_top'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block home_slider_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.home_slider'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block home_service_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.home_service'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_template_widget_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.content_template.widget.text'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_template_widget_image_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.content_template.widget.image'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(form.children.position) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block dispatch_de_service_widget_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.label.dispatch_de_service_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block conference_info_and_contact_widget_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.label.conference_info_and_contact_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block accreditation_widget_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.accreditation.widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_coverage_widget_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.label.press_coverage.widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        <label>{{ 'form.mdf.label.press_coverage.widget_published_at'|trans }}</label>
        {{ form_widget(form.children.publishedAt) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_gallery_widget_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.press_gallery.widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_graphical_charter_widget_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.press_graphical_charter.widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block who_are_we_team_widget_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.label.who_are_we_team.widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block who_are_we_team_contact_widget_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.label.who_are_we_team.contact_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_template_widget_gallery_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.content_template.widget.gallery'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.gallery) }}
        {{ form_widget(form.children.position) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_template_widget_file_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.content_template.widget.file'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.file) }}
        {{ form_widget(form.children.position) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block program_file_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.conference_program.file_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.file) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_template_widget_video_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.content_template.widget.video'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.image) }}
        {{ form_row(form.children.theme) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block press_release_file_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.press.file_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.file) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block slider_accreditation_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.mdf.label.slider_accreditation_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block film_register_procedure_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.film_register.procedure_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.procedure) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_homepage_slider_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget" data-itemtype="slider">
        <h4>{{ 'form.ccm.label.homepage_slider'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_homepage_push_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget" data-itemtype="push">
        <h4>{{ 'form.ccm.label.homepage_push'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_catalog_push_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget" data-itemtype="catalog">
        <h4>{{ 'form.ccm.label.catalog.homepage'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block single_description_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.label.pros.description_1_column_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block double_description_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.label.pros.description_2_column_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_label_section_content_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.graphical_charter.content.text'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_label_section_position_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.graphical_charter.label_section'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.labelSection) }}
        {{ form_row(form.children.position) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.label.footer.content_text_type_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_label_section_content_one_column_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.graphical_charter.content.one_column'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_label_section_content_two_columns_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.graphical_charter.content.two_columns'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_row(form.children.image2) }}
        {{ form_row(form.children.image2) }}
        {{ form_row(form.children.labelContentFiles) }}
        {{ form_row(form.children.labelContentFiles2) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ccm_label_section_content_three_columns_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.graphical_charter.content.three_columns'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_row(form.children.image2) }}
        {{ form_row(form.children.image3) }}
        {{ form_row(form.children.labelContentFiles) }}
        {{ form_row(form.children.labelContentFiles2) }}
        {{ form_row(form.children.labelContentFiles3) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block ccm_homepage_actualite_type_widget %}#}
    {#{% set locale = locale_default_translation %}#}
    {#<div class="item base-widget" data-itemtype="actualite">#}
        {#{{ form_widget(form.children._type) }}#}
        {#{{ form_row(form.children.image) }}#}
        {#{{ form_row(form.children.theme) }}#}
        {#{{ form_row(form.children.date) }}#}
        {#{{ form_row(form.children.isActive) }}#}
        {#{{ form_widget(attribute(form.children.translations, locale)) }}#}
        {#<div class="clearfix">#}
            {#<div class="fdc-widget-remove-btn">#}
                {#<a class="btn btn-danger btn-sm btn-outline remove_item">#}
                    {#<i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}#}
                {#</a>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}

{% block ccm_homepage_sejour_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget" data-itemtype="sejour">
        {{ form_widget(form.children._type) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block module_image_text_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.label.layer.module_image_text_type_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block module_partenaires_fournisseur_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.label.layer.module_partenaires_fournisseur_type_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.logo) }}
        {{ form_row(form.children.photo) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block module_pictos_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.label.layer.module_pictos_type_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block module_three_columns_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.label.layer.module_three_columns_type_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_row(form.children.image1) }}
        {{ form_row(form.children.pdf1) }}
        {{ form_row(form.children.image2) }}
        {{ form_row(form.children.pdf2) }}
        {{ form_row(form.children.image3) }}
        {{ form_row(form.children.pdf3) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block module_four_columns_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.label.layer.module_four_columns_type_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block module_subtitle_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.label.layer.module_subtitle_type_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block module_transport_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.label.layer.module_transport_type_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block module_google_maps_type_widget %}
    {% set locale = locale_default_translation %}
    <div class="item base-widget">
        <h4>{{ 'form.ccm.label.layer.module_google_maps_type_widget'|trans }}</h4>
        {{ form_widget(form.children._type) }}
        {{ form_widget(form.children.position) }}
        {{ form_widget(attribute(form.children.translations, locale)) }}
        <div class="clearfix">
            <div class="fdc-widget-remove-btn">
                <a class="btn btn-danger btn-sm btn-outline remove_item">
                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

