{% trans_default_domain 'BaseAdminBundle' %}
{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block infinite_form_polycollection_widget %}
{% spaceless %}
    {% set attr = attr|merge({
        'data-form-widget': 'collection',
    }) %}
    {% if disabled %}
        {% set attr = attr|merge({
            'data-disabled': 1
        }) %}
    {% endif %}

    {{ block('form_widget') }}
{% endspaceless %}
{% endblock %}

{% block news_widget_text_type_row %}
    <div class="base-widget">
        {{ form_row(form.children._type) }}
        {{ form_row(form.children.position) }}
        {{ form_row(form.children.translations.fr.children.content) }}
    </div>
{% endblock %}

{% block news_widget_audio_type_row %}
    <div class="base-widget">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block news_widget_image_type_row %}
    <div class="base-widget">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block news_widget_video_type_row %}
    <div class="base-widget">
        {{ form_widget(form) }}
    </div>
{% endblock %}