{% set routeName = app.request.get('_route') %}
<div class="text-presentation producersWorkshop mdf customClass1Bckg">
    {% set conferenceTitle = '' %}
    {% if slug == 'producers-workshop' %}
        {% set conferenceTitle = 'conference_title.producers_workshop'|trans %}
    {% elseif slug == 'producers-network' %}
        {% set conferenceTitle = 'conference_title.producers_network'|trans %}
    {% elseif slug == 'doc-corner' %}
        {% set conferenceTitle = 'conference_title.doc_corner'|trans %}
    {% elseif slug == 'next' %}
        {% set conferenceTitle = 'conference_title.next'|trans %}
    {% elseif slug == 'mixers' %}
        {% set conferenceTitle = 'conference_title.mixers'|trans %}
    {% elseif slug == 'goes-to-cannes' %}
        {% set conferenceTitle = 'conference_title.goes_to_cannes'|trans %}
    {% endif %}
    <h3>{{ conferenceTitle }}</h3>
    <div class="subNavigation">
        <nav>
            <ul class="main">
                <li>
                    <a href="{{ path('fdc_marche_du_film_conference_home', {'slug': slug}) }}" class="{{ routeName == 'fdc_marche_du_film_conference_home' ? 'active customClass1' : 'conferenceColor1' }}">{{ 'conference.menu.home'|trans }}</a>
                </li>
                {% if programIsActive %}
                    <li>
                        <a href="{{ path('fdc_marche_du_film_conference_program', {'slug': slug}) }}" class="{{ routeName == 'fdc_marche_du_film_conference_program' ? 'active customClass1' : 'conferenceColor1' }}">{{ 'conference.menu.conferences'|trans }}</a>
                    </li>
                {% endif %}
                {% if speakersIsActive %}
                    <li>
                        <a href="{{ path('fdc_marche_du_film_conference_speakers', {'slug': slug}) }}" class="{{ routeName == 'fdc_marche_du_film_conference_speakers' ? 'active customClass1' : 'conferenceColor1' }}">{{ 'conference.menu.speakers'|trans }}</a>
                    </li>
                {% endif %}
                {% if newsIsActive %}
                    <li>
                        <a href="{{ path('fdc_marche_du_film_conference_news', {'slug': slug}) }}" class="{{ routeName == 'fdc_marche_du_film_conference_news' ? 'active customClass1' : 'conferenceColor1' }}">{{ 'conference.menu.news'|trans }}</a>
                    </li>
                {% endif %}
                {% if partnersIsActive %}
                    <li>
                        <a href="{{ path('fdc_marche_du_film_conference_partners', {'slug': slug}) }}" class="{{ routeName == 'fdc_marche_du_film_conference_partners' ? 'active customClass1' : 'conferenceColor1' }}">{{ 'conference.menu.partners'|trans }}</a>
                    </li>
                {% endif %}
                {% if infoAndContactIsActive %}
                    <li>
                        <a href="{{ path('fdc_marche_du_film_conference_infos_and_contacts', {'slug': slug}) }}" class="{{ routeName == 'fdc_marche_du_film_conference_infos_and_contacts' ? 'active customClass1' : 'conferenceColor1' }}">{{ 'conference.menu.contact'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
