<footer class="loading">
    <div class="container">
        <div class="social">
            <p><img width="100%" src="{{ asset('bundles/fdcmarchedufilm/img/logo-marche-film-bas.png') }}" alt="Marché du film" /></p>
            <ul>
                {% if footerUrls %}
                    <li><a class="facebook" href="{{ footerUrls.footerFacebookUrl }}" target="_blank"><i class="icon icon_facebook"></i></a></li>
                    <li><a class="twitter" href="{{ footerUrls.footerTwitterUrl }}" target="_blank"><i class="icon icon_twitter"></i></a></li>
                    <li><a class="youtube" href="{{ footerUrls.footerYoutubeUrl }}" target="_blank"><i class="icon icon_youtube"></i></a></li>
                {% endif %}
            </ul>
        </div>

        <div class="footer-menu">
            <ul>
                <li class="copyright">{{ 'footer.copyright'|trans }} {{ "now"|date('Y') }}</li>
                <li><a href="{{ path('fdc_marche_du_film_contact_us') }}">{{ 'footer.contact'|trans }}</a></li>
                <li><a href="{{ path('fdc_marche_du_film_infos_utiles') }}">{{ 'footer.faq'|trans }}</a></li>
                <li><a href="{{ path('fdc_marche_du_film_legal_mentions') }}">{{ 'footer.legal_mentions'|trans }}</a></li>
                <li><a href="{{ path('fdc_marche_du_film_site_plan') }}">{{ 'footer.site_map'|trans }}</a></li>
                <li><a href="{{ path('fdc_marche_du_film_general_conditions') }}">{{ 'footer.general_conditions'|trans }}</a></li>
            </ul>
        </div>
    </div>
</footer>
<div id="siteLoader" class="canvasloader"></div>
