<header>
    <div id="top-bar">
        <ul class="main-nav">
            <li>
                <a href={{ header_fdc_com }}>Festival 2017</a>
            </li>
            <li>
                <a href="{{ header_fdc_fr }}" target="_blank">Festival de Cannes</a>
            </li>
            <li>
                <a href="{{ header_cine_fr }}" target="_blank">Cinéfondation</a>
            </li>
            <li>
                <a href="{{ header_ccm_fr }}" target="_blank">Cannes Court Métrage</a>
            </li>
            <li>
                <a href="{{ header_mdf_fr }}" target="_blank" class="active">Marché du film</a>
            </li>
        </ul>
        <ul class="user-nav">
            <li>
                <a href="{{ header_account }}" class="account" target="_blank"><i class="icon icon_mon-compte"></i> Mon compte</a>
            </li>
            <li class="lang">
                <a href="#" class="language"><i class="icon icon_langue"></i> {{ app.request.locale == 'zh' ? 'CHN' : app.request.locale|upper }}</a>
                <ul class="sub-languages">
                    {% for locale in locales if locale != app.request.locale and locale != 'es' %}
                        <li>
                            <a href="{{ path(routeName, routeParams|merge({ _locale: locale })) }}">{{ locale == 'zh' ? 'CHN' : locale|upper }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div id="logo-wrapper">
        <div class="container">
            <div id="logo">
                <a href="/"><img src="{{ asset('bundles/fdcmarchedufilm/img/palme.svg') }}" alt="Festival de Cannes" class="palm" /></a>
                <h1><a href="/"><img width="100%" src="{{ asset('bundles/fdcmarchedufilm/img/logo-marche-du-film.png') }}" alt="Festival de Cannes" /></a></h1>
                <p class="stick"><a href="/"><img width="100%" src="{{ asset('bundles/fdcmarchedufilm/img/logo-marche-film.png') }}" alt="Festival de Cannes" /></a></p>
            </div>
            <div id="leaderBoard">
                {% if banner %}
                    <a href="{{ banner.headerBannerUrl }}" target="_blank">
                        <img src="{% path banner.translatable.headerBanner|trans_fallback('file'), 'reference' %}" alt="" class="palm" />
                    </a>
                {% endif %}
            </div>
            <div id="sticky-user">
                <ul class="user-nav">
                    <li>
                        <a href="http://sub.festival-cannes.fr/" class="account" target="_blank"><i class="icon icon_mon-compte"></i> Mon compte</a>
                    </li>
                    <li class="lang">
                        <a href="#" class="language"><i class="icon icon_langue"></i> {{ app.request.locale == 'zh' ? 'CHN' : app.request.locale|upper }} </a>
                        <ul class="sub-languages">
                            {% for locale in locales if locale != app.request.locale and locale != 'es' %}
                                <li>
                                    <a href="{{ path(routeName, routeParams|merge({ _locale: locale })) }}">{{ locale == 'zh' ? 'CHN' : locale|upper }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="navigation">
        <div class="bigContainer">
            <nav>
                <ul class="main">
                    <li id="edition">
                        <a href="/"
                                {% if routeName == 'fdc_marchedufilm_default_index'
                                or routeName == 'fdc_marche_du_film_edition_presentation'
                                or routeName =='fdc_marche_du_film_edition_projections' %} class="active"{% endif %}>Édition 2017
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fdc_marche_du_film_accreditations') }}" {% if routeName == 'fdc_marche_du_film_accreditations' %} class="active" {% endif %}>ACCRÉDITATIONS</a>
                    </li>
                    <li>
                        <a href="{{ path('fdc_marche_du_film_services') }}" {% if routeName == 'fdc_marche_du_film_services' %} class="active" {% endif %}>SERVICES</a>
                    </li>
                    <li>
                        <a href="{{ path('fdc_marche_du_film_who_are_we_history') }}" {% if routeName == 'fdc_marche_du_film_who_are_we_history' %} class="active" {% endif %}>QUI SOMMES-NOUS ?</a>
                    </li>
                    <li>
                        <a href="#">PRESSE</a>
                    </li>
                    <li>
                        <a href="#">INFORMATIONS UTILES</a>
                    </li>
                    <li class="liSearchBox">
                        <div class="searchBox">
                            <form action="action.php">
                                <input type="text" name="name" id="searchInput" placeholder="Recherchez"/>
                            </form>
                        </div>
                    </li>
                    <li id="searchBar">
                        <div>
                            <a href="#" id=""><i class="icon icon_recherche"></i></a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="subMenu" id="subMenu">
            <div class="bigContainer">
                <ul class="tleft">
                    <li><a href="{{ path('fdc_marche_du_film_edition_presentation') }}">présentation</a></li>
                    <li><a href="#">Actualités</a></li>
                    <li class="seeSub">
                        <div class="rotateArrow"><i class='icon icon_flecheGauche reverse rotateArrow'></div></i>
                        <div class="prog">Programme</div>
                        <ul class="subsubMenu">
                            <li><a href="{{ path('fdc_marche_du_film_edition_projections') }}">Projections</a></li>
                            <li><a href="#">Événements</a></li>
                        </ul>
                    </li>
                    <li class="liMargin"><a href="#">producers workshop</a></li>
                    <li><a href="#">producers network</a></li>
                </ul>
                <ul class="tright">
                    <li><a href="#">Doc corner</a></li>
                    <li><a href="#">Next</a></li>
                    <li><a href="#">Mixers</a></li>
                    <li><a href="#">Goes to Cannes</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="blackBckg"></div>