{% set routeName = app.request.get('_route') %}
<div class="text-presentation producersWorkshop presses mdf customClass3Bckg">
    <h3>{{ 'press.title'|trans }}</h3>
    <div class="subNavigation">
        <nav>
            <ul class="main">
                <li>
                    <a href="{{ path('fdc_marche_du_film_press_releases') }}" class="{{ routeName == 'fdc_marche_du_film_press_releases' ? 'active' : 'whoAreWeColor4' }}">{{ 'press.menu.releases'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('fdc_marche_du_film_press_coverage') }}" class="{{ routeName == 'fdc_marche_du_film_press_coverage' ? 'active' : 'whoAreWeColor4' }}">{{ 'press.menu.coverage'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('fdc_marche_du_film_press_gallery') }}" class="{{ routeName == 'fdc_marche_du_film_press_gallery' ? 'active' : 'whoAreWeColor4' }}">{{ 'press.menu.gallery'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('fdc_marche_du_film_press_graphical_charter') }}" class="{{ routeName == 'fdc_marche_du_film_press_graphical_charter' ? 'active' : 'whoAreWeColor4' }}">{{ 'press.menu.graphical_charter'|trans }}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
