{% set routeName = app.request.attributes.get('_route') %}
<div class="text-presentation producersWorkshop presses mdf customClass3Bckg">
    <h3>{{ 'who_are_we.title'|trans }}</h3>
    <div class="subNavigation">
        <nav>
            <ul class="main">
                <li>
                    <a href="{{ path('fdc_marche_du_film_who_are_we_history') }}" class="{% if routeName == 'fdc_marche_du_film_who_are_we_history' %} active {% endif %}">{{ 'who_are_we.menu.history'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('fdc_marche_du_film_who_are_we_team') }}" class="{% if routeName == 'fdc_marche_du_film_who_are_we_team' %} active {% endif %}">{{ 'who_are_we.menu.team'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('fdc_marche_du_film_infos_utiles') }}">{{ 'who_are_we.menu.faq'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('fdc_marche_du_film_who_are_we_key_figures') }}" class="{% if routeName == 'fdc_marche_du_film_who_are_we_key_figures' %} active {% endif %}">{{ 'who_are_we.menu.key_figures'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('fdc_marche_du_film_who_are_we_environmental_approaches') }}" class="{% if routeName == 'fdc_marche_du_film_who_are_we_environmental_approaches' %} active {% endif %}">{{ 'who_are_we.menu.environmental_approaches'|trans }}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
