<div id="our-services">
    <div class="container">
        {% if content %}
            <span class="customClass2">{{ content.servicesCategory }}</span>
            <h3>{{ content.servicesTitle }}</h3>
        {% endif %}
        <div class="services-container">
            <div class="services-mid">
                {% for service in services %}
                <a href="{{ service.url }}">
                    <div class="services-boxes" data-rel="{{ 'pic' ~ loop.index }}">
                        <div class="customClass2">{{ service.title }}</div>
                        <div>{{ service.description|length > 95 ? service.description|slice(0, 95) ~ '...' : service.description  }}</div>
                        <div>{{ 'see_the_detail'|trans }}</div>
                        <span class="glyphicon glyphicon-menu-right"><i class="icon icon_flecheGauche reverse"></i></span>
                    </div>
                </a>
                {% endfor %}
            </div>

            <div class="services-mid hideOverflow services-pictures">
                {% for service in services %}
                    <div id="{{ 'pic' ~ loop.index }}"><img src="{% path service.translatable.image|trans_fallback('file'), 'reference' %}"/></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
