<div id="owl-top" class="owl-carousel owl-theme">

    {% for slider in slidersTop %}
        <div class="item">
            <img src="{{ slider.translatable.image }}" alt="">
            <div class="owl-Title">
                <h2>{{ slider.title }}</h2>
                <p>{{ slider.subTitle }}</p>
                <span>{{ slider.dateText }}</span>
            </div>
        </div>
    {% endfor %}
</div>

<div id="owl-second" class="owl-carousel owl-theme">
    {% for slider in sliders %}
        <div class="item">
            <div class="owl-Title">
                <a href="{{ slider.url }}"><h2>{{ slider.title|raw }}</h2></a>
                <a href="{{ slider.url }}"><img src="{{ asset('bundles/fdcmarchedufilm/img/plus.png') }}" alt=""></a>
            </div>
            <img class="fitImg" src="{{ slider.translatable.image }}" alt="">
        </div>
    {% endfor %}
</div>
