{% trans_default_domain 'FDCEventBundle' %}

{% extends 'FDCCourtMetrageBundle::base.html.twig' %}

{% block main %}

    <div id="main" class="loading">
        <div class="faq">
            <h2 class="title">{{ 'menu.faq'|trans }}</h2>
            <inside class="faq-menu">
                <ul>
                    {% if faqRubriques is defined and faqRubriques is not null %}
                        {% for rubrique in faqRubriques %}
                            <li
                                class="{% if (faqRubriques|first).id == rubrique.id %}active{% endif %}"
                                data-name="rubrique-{{ rubrique.id }}">
                                {{ rubrique.name}}
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </inside>

            {% if faqRubriques is defined and faqRubriques is not null%}
                {% for rubrique in faqRubriques %}
                    {% if faqQuestionsAnswers[rubrique.translatable.id] is defined and faqQuestionsAnswers[rubrique.translatable.id] is not null %}
                    <section 
                        class="faq-container {% if (faqRubriques|first).id == rubrique.id %}faq-active{% endif %}" 
                        data-name="rubrique-{{ rubrique.id }}">
                        {% for questionAnswer in faqQuestionsAnswers[rubrique.translatable.id] %}
                            <article>
                                <div class="faq-question">
                                    <h3 class="faq-title">{{ questionAnswer.questionText }}</h3><i class="icon icon_case-plus"></i>
                                </div>
                                <p class="faq-description">{{ questionAnswer.answerText|raw }}</p>
                            </article>
                        {% endfor %}
                    </section>
                    {% endif %}
                {% endfor %}
            {% endif %}

{% endblock main %}
