{% extends 'FDCMarcheDuFilmBundle::base.html.twig' %}

{% block main %}
    <div id="main" class="home loading">
        <div class="bigContainer">

            <div class="text-presentation projection siteMap">

                <h3>{{ sitePlanPage ? sitePlanPage.title : '' }}</h3>
                <div>
                    <div class="thirdSection">
                        <a href="{{ path('fdc_marche_du_film_edition_presentation') }}"><h4 class="customClass1">{{ 'site_plan.edition'|trans }}</h4></a>
                        <hr>
                        <ul>
                            <li><a href="{{ path('fdc_marche_du_film_edition_presentation') }}">{{ 'site_plan.presentation'|trans }}</a></li>
                            <li><a href="{{ path('fdc_marche_du_film_news') }}">{{ 'site_plan.news'|trans }}</a></li>
                        </ul>
                        <ul>
                            <li><a href="{{ path('fdc_marche_du_film_edition_projections') }}">{{ 'site_plan.projections'|trans }}</a></li>
                            <li><a href="{{ path('fdc_marche_du_film_global_events') }}">{{ 'site_plan.events'|trans }}</a></li>
                        </ul>
                        <ul>
                            <li><a href="{{ path('fdc_marche_du_film_conference_home', {'slug': 'producers-workshop'}) }}">{{ 'site_plan.producers_workshop'|trans }}</a></li>
                            <li><a href="{{ path('fdc_marche_du_film_conference_home', {'slug': 'producers-network'}) }}">{{ 'site_plan.producers_network'|trans }}</a></li>
                            <li><a href="{{ path('fdc_marche_du_film_conference_home', {'slug': 'doc-corner'}) }}">{{ 'site_plan.doc_corner'|trans }}</a></li>
                            <li><a href="{{ path('fdc_marche_du_film_conference_home', {'slug': 'next'}) }}">{{ 'site_plan.next'|trans }}</a></li>
                            <li><a href="{{ path('fdc_marche_du_film_conference_home', {'slug': 'mixers'}) }}">{{ 'site_plan.mixers'|trans }}</a></li>
                            <li><a href="{{ path('fdc_marche_du_film_conference_home', {'slug': 'goes-to-cannes'}) }}">{{ 'site_plan.goes_to_cannes'|trans }}</a></li>
                        </ul>
                    </div>
                    <div class="thirdSection">
                        <h4 class="greenColor"><a href="{{ path('fdc_marche_du_film_accreditations') }}">{{ 'site_plan.accreditation'|trans }}</a></h4>
                        <hr class="greenHr">
                    </div>
                    <div class="thirdSection">
                        <h4 class="goldColor customClass3"><a href="{{ path('fdc_marche_du_film_who_are_we_history') }}">{{ 'site_plan.who_are_we'|trans }}</a></h4>
                        <hr class="goldHr">
                        <ul>
                            <li><a href="{{ path('fdc_marche_du_film_who_are_we_history') }}">{{ 'site_plan.history'|trans }}</a></li>
                            <li><a href="#">{{ 'site_plan.team'|trans }}</a></li>
                            <li><a href="{{ path('fdc_marche_du_film_who_are_we_key_figures') }}">{{ 'site_plan.key_figures'|trans }}</a></li>
                            <li><a href="{{ path('fdc_marche_du_film_who_are_we_environmental_approaches') }}">{{ 'site_plan.environmental_approaches'|trans }}</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="thirdSection">
                        <h4 class="greenColor"><a href="{{ path('fdc_marche_du_film_services') }}">{{ 'site_plan.services'|trans }}</a></h4>
                        <hr class="greenHr">
                        <ul>
                            {% for item in servicesPages %}
                                <li><a href="{{ path('fdc_marche_du_film_services_widgets', {'slug': item.url}) }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="thirdSection">
                        <h4 class="goldColor customClass3"><a href="{{ path('fdc_marche_du_film_press_releases') }}">{{ 'site_plan.press'|trans }}</a></h4>
                        <hr class="goldHr">
                        <ul>
                            <li><a href="{{ path('fdc_marche_du_film_press_releases') }}">{{ 'site_plan.releases'|trans }}</a></li>
                            <li><a href="#">{{ 'site_plan.coverage'|trans }}</a></li>
                            <li><a href="#">{{ 'site_plan.gallery'|trans }}</a></li>
                            <li><a href="#">{{ 'site_plan.graphical_charter'|trans }}</a></li>
                        </ul>
                    </div>
                    <div class="thirdSection">
                        <h4 class="goldColor customClass3">{{ 'site_plan.faq'|trans }}</h4>
                        <hr class="goldHr">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
