{% trans_default_domain 'FDCEventBundle' %}

<div class="fc-event" data-category="{{ p.projection.type|lower }}"
     data-type="{{ p.projection.type|lower }}" data-url="eventPopin.html"
     data-id="{{ p.projection.id }}" data-picto='.pen' data-color='#000'
     data-start="{{ p.projection.startAt|date('Y-m-d') }}T{{ p.projection.startAt|date('H:i:s') }}"
     data-end="{{ p.projection.endAt|date('Y-m-d') }}T{{ p.projection.endAt|date('H:i:s') }}"
     data-time="{{ p.projection.startAt|date('H') }}" data-duration="">

    <span class="category"><i class="icon icon_espace-press"></i>{{ p.projection.type }}</span>
    <div class="info">
        {% for f in p.projection.programmationFilms %}
            {% media f.film|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_MAIN'))|first, 'film_poster_small' %}
        {% endfor %}
        <div class="txt">
            {% for f in p.projection.programmationFilms %}
                <span>{{ f.film|trans_fallback('title') }}</span>
                {% for director in f.film|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                    <strong>{{ director.fullName }}</strong>
                {% endfor %}
            {% endfor %}

        </div>
    </div>
    <div class="bottom">
        {% for f in p.projection.programmationFilms %}
            <span class="duration">{{ f.film.duration }}min</span> - <span class="ven">{{ p.projection.room.name }}</span>
        {% endfor %}
        <span class="competition">{{ p.projection.programmationSection }}</span>
    </div>
</div>
