{%- spaceless -%}
{%- trans_default_domain 'FDCEventBundle' -%}

{%- set isConferencePress = (event.type == 'Conférence de presse') ? true : false -%}
{%- set isSeancePress = (event.type == 'Séance de presse') ? true : false -%}
{%- set difference = date(event.endsAt).diff(date(event.startsAt)) -%}
{%- set minutes = difference.i -%}

{%- if difference.h > 0 -%}
    {%- set minutes = minutes + (difference.h * 60) -%}
{%- endif -%}

{%- if event.programmationFilms|length > 0 -%}
    {%- set film = event.programmationFilms[0].film -%}
    <div class="fc-event" data-category="{{ film.selectionSection|trans_fallback('slug') }}"{{- ' ' -}}
         data-type="{{ event.type|lower|replace(' ', '-') }}" data-url="{{ path('fdc_event_agenda_getprojection', {id: event.id}) }}"{{- ' ' -}}
         data-id="{{ event.id }}" data-picto=".pen" data-color="#000"{{- ' ' -}}
         data-start="{{ event.startsAt|date('Y-m-d') }}T{{ event.startsAt|date('H:i:s') }}"{{- ' ' -}}
         data-end="{{ event.endsAt|date('Y-m-d') }}T{{ event.endsAt|date('H:i:s') }}"{{- ' ' -}}
         data-time="{{ event.startsAt|date('H') }}" data-duration="{{ minutes }}">
        <span class="category">
            <i class="icon {% if isSeancePress -%}icon_espace-presse{%- elseif isConferencePress -%}icon_evt-conference{%- else -%}icon_evt-seance{%- endif -%}"></i>
            {{- event.type -}}
        </span>
        <div class="info">
            {%- if event.medias|length > 0 -%}
                {%- media event.medias[0].file, '90x120' with { width: '45', height: '60'} -%}
            {%- else -%}
                {%- include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({
                    film: film,
                    film_format: '90x120',
                    film_attrs: {
                        alt: film|trans_fallback('title')?:film.titleVO,
                        width: '45',
                        height: '60'
                    },
                    film_image_default: 'bundles/fdcevent/img/palmares/film_w181.jpg',
                    film_image_default_attrs: 'width="45"'
                }) -%}
            {%- endif -%}
            <div class="txt">
                {%- if event.programmationFilms|length == 1 -%}
                    <span>{{ film|trans_fallback('title')?:film.titleVO }}</span>
                    {%- set directors = film|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) -%}
                    <strong>
                    {%- for director in directors -%}
                        {%- include 'FDCEventBundle:Movie:widgets/check_asian_name.html.twig' with {'person': director, 'link': false} -%}
                        {%- if loop.index != directors|length -%}, {%- endif -%}
                    {%- endfor -%}
                    </strong>
                {%- else -%}
                    <span> {{ event.programmationSection }}</span>
                {%- endif -%}
            </div>
        </div>
        <div class="bottom">
            <span class="duration">
                {%- if difference.h > 0 -%}{{ difference.h }}H{%- endif -%}
                {%- if difference.i|length == 1 -%}0{%- endif -%}{{ difference.i -}}
            </span> - {{- ' ' -}}
            <span class="ven">
                {%- if event.room -%}
                    {{- event.room.name -}}
                {%- endif -%}
            </span>
            <span class="competition">
                {{- film.selectionSection|trans_fallback('name') -}}
            </span>
        </div>
    </div>
{%- elseif event.programmationDynamics|length > 0 -%}
    <div class="fc-event" data-category=""{{- ' ' -}}
         data-type="{{ event.type|lower|replace(' ', '-') }}"{{- ' ' -}}
         data-id="{{ event.id }}" data-picto=".pen" data-color="#000"{{- ' ' -}}
         data-start="{{ event.startsAt|date('Y-m-d') }}T{{ event.startsAt|date('H:i:s') }}"{{- ' ' -}}
         data-end="{{ event.endsAt|date('Y-m-d') }}T{{ event.endsAt|date('H:i:s') }}"{{- ' ' -}}
         data-time="{{ event.startsAt|date('H') }}" data-duration="{{ minutes }}">
        <span class="category">
            <i class="icon {% if isSeancePress -%}icon_espace-presse{%- elseif isConferencePress -%}icon_evt-conference{%- else -%}icon_evt-seance{%- endif -%}"></i>
            {{- event.type -}}
        </span>
        <div class="info">
            <div class="txt">
                <span> {{ event.name }}</span>
            </div>
        </div>
        <div class="bottom">
            <span class="duration">
                {%- if difference.h > 0 -%}{{ difference.h }}H{%- endif -%}
                {%- if difference.i|length == 1 -%}0{%- endif -%}{{ difference.i }}
            </span> -{{- ' ' -}}
            <span class="ven">
                {%- if event.room -%}
                    {{ event.room.name }}
                {%- endif -%}
            </span>
        </div>
    </div>
{%- endif -%}
{%- endspaceless -%}