{%- spaceless -%}
{%- trans_default_domain 'FDCEventBundle' -%}

{%- set isConferencePress = (event.type == 'Conférence de presse') ? true : false -%}
{%- set isSeancePress = (event.type == 'Séance de presse') ? true : false -%}
{%- set isSeanceDuJour = (event.type == 'Séance du jour') ? true : false -%}
{%- set isSeanceDuLendemain = (event.type == 'Séance du lendemain') ? true : false -%}
{%- set isEvenement = (event.type|remove_accents|sonata_slugify|lower == 'evenement') ? true : false -%}

{%- set difference = date(event.endsAt).diff(date(event.startsAt)) -%}
{%- set minutes = difference.i -%}

{% if isConferencePress %}
    {% set dataColor = '#a68851' %}
{% elseif isSeancePress %}
    {% set dataColor = '#000' %}
{% elseif isSeanceDuJour %}
    {% set dataColor = '#5b5b5b' %}
{% elseif isSeanceDuLendemain %}
    {% set dataColor = '#9b9b9b' %}
{% else %}
    {% set dataColor = '#9b9b9b' %}
{% endif %}

{%- if difference.h > 0 -%}
    {%- set minutes = minutes + (difference.h * 60) -%}
{%- endif -%}

{%- if event.programmationFilms|length > 0 -%}
    {%- set film = event.programmationFilms[0].film -%}
    <div class="fc-event" data-category="{{ film.selectionSection|trans_fallback('slug') }}"{{- ' ' -}}
         data-type="{{ event.type|lower|replace(' ', '-') }}" data-url="{{ path('fdc_event_agenda_getprojection', {id: event.id}) }}"{{- ' ' -}}
         data-id="{{ event.id }}" data-picto=".pen" data-color="{{ dataColor }}"{{- ' ' -}}
         data-start="{{ (event.startsAt)|date('Y-m-d') }}T{{ event.startsAt|date('H') < 4 ? '23:59:59' : event.startsAt|date('H:i:s') }}"{{- ' ' -}}
         data-end="{{ event.endsAt|date('Y-m-d') }}T{{ event.endsAt|date('H:i:s') }}"{{- ' ' -}}
         data-time="{% if event.startsAt|date('H') >= 0 and event.startsAt|date('H') <= 3 %}{{ 24 + event.startsAt|date('H') }}{% else %}{{ event.startsAt|date('H') }}{% endif %}" data-duration="{{ minutes }}">
        <span class="category">
            <i class="icon {% if isSeancePress -%}icon_espace-presse{%- elseif isConferencePress -%}icon_evt-conference{%- elseif isEvenement -%}icon_speacker{%- else -%}icon_evt-seance{%- endif -%}"></i>
            {%- set trans_slug = 'programmation.type.' ~ event.type|remove_accents|sonata_slugify|lower -%}
            {%- set trans = trans_slug|trans -%}
            {%- if trans_slug != trans -%}
                {{- trans -}}
            {%- else -%}
                {{- event.type -}}
            {%- endif -%}
        </span>
        <div class="info clearfix">
            {%- if event.programmationDynamics|length > 0 and event.programmationDynamics[0].type is not empty -%}
                <div class="info-dynamic-prog">
                    {%- set trans_slug = 'programmation.objet.' ~ event.programmationDynamics[0].type.name|remove_accents|sonata_slugify|lower -%}
                    {%- set trans = trans_slug|trans -%}
                    {%- if trans_slug != trans -%}
                        {{- trans|upper -}}
                    {%- else -%}
                        {{- event.programmationDynamics[0].type.name|upper -}}
                    {%- endif -%}
                </div>
            {%- endif -%}
            {%- if event.medias|length > 0 -%}
                {% set picture = null %}
                {% for media in event.medias %}
                    {% if media.file is not empty and media.file.context != 'pdf' %}
                        {% set picture = media.file %}
                    {% endif %}
                {% endfor %}
                {% if picture is not empty %}
                    <img src="{% path picture, '45x60' %}" width="45" height="auto" />
                {% endif %}
            {%- else -%}
                {%- include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({
                    film: film,
                    film_format: '45x60',
                    film_attrs: {
                        alt: film|trans_fallback('title')?:film.titleVO,
                        width: 45,
                        height: 'auto',
                    },
                    film_image_default: 'bundles/fdcevent/img/palmares/film_w181.jpg',
                    film_image_default_attrs: 'width="45"'
                }) -%}
            {%- endif -%}
            <div class="txt{%- if event.medias|length == 0 and event.programmationFilms[0].film == null -%} txt-padding{%- endif -%}">
                {%- if event.programmationFilms|length == 1 -%}
                    <span>{{ film.titleVO|truncate(38) }}</span>
                    {%- set directors = film.getDirectors() -%}
                    <strong>{%- for director in directors -%}{%- include 'FDCEventBundle:Movie:widgets/check_asian_name.html.twig' with {'person': director.person, 'link': false} -%}{%- if loop.index != directors|length -%},&nbsp;{%- endif -%}{%- endfor -%}</strong>
                {%- else -%}
                    <span> {{ event.name }}</span>
                {%- endif -%}
            </div>
        </div>
        <div class="bottom">
            <span class="duration">
                {%- if difference.h > 0 -%}{{ difference.h }}{%- endif -%}
                {%- if app.request.locale == 'en' -%}:{%- elseif app.request.locale == 'zh' -%}点{% else %}H{%- endif -%}
                {%- if difference.i|length == 1 -%}0{%- endif -%}{{ difference.i -}}
            </span> - {{- ' ' -}}
            <span class="ven">
                {%- if event.room -%}
                    {% set trans_slug = 'programmation.salle.' ~ event.room.name|remove_accents|sonata_slugify|lower %}
                    {% set trans = trans_slug|trans %}
                    {% if trans_slug != trans %}
                        {{- trans|upper -}}
                    {% else %}
                        {{- event.room.name|upper -}}
                    {% endif %}
                {%- endif -%}
            </span>
            <span class="competition">
                {{- film.selectionSection|trans_fallback('name') -}}
            </span>
        </div>
    </div>
{%- else -%}
    <div class="fc-event cursor-default" data-category=""{{- ' ' -}}
         data-type="{{ event.type|lower|replace(' ', '-') }}"{{- ' ' -}}
         data-id="{{ event.id }}" data-picto=".pen" data-color="{{ dataColor }}"{{- ' ' -}}
         data-start="{{ (event.startsAt|date('H') < 4 ? event.startsAt.timestamp - 86400 : event.startsAt)|date('Y-m-d') }}T{{ event.startsAt|date('H') < 4 ? '23:59:59' : event.startsAt|date('H:i:s') }}"{{- ' ' -}}
         data-end="{{ event.endsAt|date('Y-m-d') }}T{{ event.endsAt|date('H:i:s') }}"{{- ' ' -}}
         data-time="{{ event.startsAt|date('H') }}" data-duration="{{ minutes }}">
        <span class="category">
            <i class="icon {% if isSeancePress -%}icon_espace-presse{%- elseif isConferencePress -%}icon_evt-conference{%- elseif isEvenement -%}icon_speacker{%- else -%}icon_evt-seance{%- endif -%}"></i>
            {%- set trans_slug = 'programmation.type.' ~ event.type|remove_accents|sonata_slugify|lower -%}
            {%- set trans = trans_slug|trans -%}
            {%- if trans_slug != trans -%}
                {{- trans -}}
            {%- else -%}
                {{- event.type -}}
            {%- endif -%}
        </span>
        <div class="info">
            {%- if event.programmationDynamics|length > 0 and event.programmationDynamics[0].type is not empty -%}
                <div class="info-dynamic-prog">
                    {%- set trans_slug = 'programmation.objet.' ~ event.programmationDynamics[0].type.name|remove_accents|sonata_slugify|lower -%}
                    {%- set trans = trans_slug|trans -%}
                    {%- if trans_slug != trans -%}
                        {{- trans|upper -}}
                    {%- else -%}
                        {{- event.programmationDynamics[0].type.name|upper -}}
                    {%- endif -%}
                </div>
            {%- endif -%}
            <div class="txt txt-padding">
                <span> {{ event.name }}</span>
            </div>
        </div>
        <div class="bottom">
            <span class="duration">
                {%- if difference.h > 0 -%}{{ difference.h }}{%- endif -%}
                {%- if app.request.locale == 'en' -%}:{%- elseif app.request.locale == 'zh' -%}点{% else %}H{%- endif -%}
                {%- if difference.i|length == 1 -%}0{%- endif -%}{{ difference.i }}
            </span> -{{- ' ' -}}
            <span class="ven">
                {%- if event.room -%}
                    {% set trans_slug = 'programmation.salle.' ~ event.room.name|remove_accents|sonata_slugify|lower %}
                    {% set trans = trans_slug|trans %}
                    {% if trans_slug != trans %}
                        {{- trans|upper -}}
                    {% else %}
                        {{- event.room.name|upper -}}
                    {% endif %}
                {%- endif -%}
            </span>
        </div>
    </div>
{%- endif -%}
{%- endspaceless -%}