{% trans_default_domain 'FDCEventBundle' %}
{% set festival_date = festival_date() %}
<!DOCTYPE html>
<html {{- sonata_seo_html_attributes() -}}>
	<head {{- sonata_seo_head_attributes() -}}>
		{{- sonata_seo_title() -}}
		<meta name="viewport" content="user-scalable=no, width=640">
		<meta name="apple-itunes-app" content="app-id=431842884" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		{{- sonata_seo_metadatas() -}}
		{{- sonata_seo_link_canonical() -}}
		{{- sonata_seo_lang_alternates() -}}
		{%- block stylesheets -%}
			{%- include 'FDCEventMobileBundle:Base:stylesheet.html.twig' -%}
		{% endblock -%}
		{% stylesheets 'bundles/fdceventmobile/css/custom.css' %}
			<link rel="stylesheet" href="{{ asset_url }}">
		{% endstylesheets %}
		{% include 'FDCEventMobileBundle:Base:javascript_head.html.twig' -%}
	</head>
	<body>
		{%- block pre_home -%}
		{%- endblock -%}
		{%- include 'FDCEventMobileBundle::header.html.twig' -%}
		{%- block body -%}
		{%- endblock -%}
		{%- include 'FDCEventMobileBundle::footer.html.twig' -%}
		{%- include 'FDCEventMobileBundle:Base:javascript_footer.html.twig' -%}
		{%- block javascripts -%}
			{%- include 'FDCEventMobileBundle:Base:javascript.html.twig' -%}
		{%- endblock -%}
	</body>
</html>