{% trans_default_domain 'FDCEventBundle' %}
{% set festival_date = festival_date() %}
<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        {{ sonata_seo_title() }}
		<meta name="viewport" content="user-scalable=no, width=640">
		<meta name="apple-itunes-app" content="app-id=431842884" />
		<meta name="apple-mobile-web-app-capable" content="yes">
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}
        {% include 'FDCEventMobileBundle:Base:stylesheet.html.twig' %}
        {% include 'FDCEventMobileBundle:Base:javascript_head.html.twig' %}
    </head>
    <body>
        {% block pre_home %}
        {% endblock %}
		<div id="main" class="legals" data-menu="privacy_policy">
			<div class="dark-container" id="header">
				<div class="header-container">
					<div id="logo">
				        <a href="/"><img src="img/palme.svg" alt="Festival de Cannes" class="palm"></a>
				        <h1><a href="/"><img width="225" src="img/logo.svg" alt="Festival de Cannes"></a></h1>
				        <h2> {% include 'FDCEventMobileBundle:Base:javascript_head.html.twig' %}</h2>
				    </div>
				</div>
			</div>
		    <div class="container">
		        <h2 class="title tall">Festival de Cannes 2016</h2>
		    <section class="legal-notice-container">
		       <div class="legal-notice-responsable" style="text-align:center">
				   <h3 class="legal-notice-description">Le site Internet en version mobile sera bientôt disponible.</h3>
				   <p>En attendant, téléchargez l'application officielle :</p>
				   <p>&nbsp;</p>
		           <p> <a href="{{ fdc_app_ios_download_url }}">
                {% image '@FDCEventBundle/Resources/public/img/appstore.png' %}
                <img src="{{ asset_url }}" alt="apple" />
                {% endimage %}
            </a>
            <a href="{{ fdc_app_android_download_url }}">
                {% image '@FDCEventBundle/Resources/public/img/appgoogle.png' %}
                <img src="{{ asset_url }}" alt="android" />
                {% endimage %}
            </a></p>
		       </div>
		    </section>
		    </div>
		</div>
		<footer class="dark-container">
		   </footer>
		    <div id="landscape">
		      <div class="content vCenter">
		        <div class="vCenterKid">
		          <img src="img/MobileTurn.svg" alt="">
		          <p>Tournez votre smartphone pour accéder au site</p>
		        </div>
		      </div>
		    </div>
        {% block body %}
        {% endblock %}
        {% include 'FDCEventMobileBundle:Base:javascript_footer.html.twig' %}
        {% include 'FDCEventMobileBundle:Base:javascript.html.twig' %}
    </body>
</html>