{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="all-photos" data-menu="actu">

        {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
        {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}

        <div class="container">
            <h2 class="title one-line">{{ 'article.photos.title.touteslesphotos'|trans }}</h2>
            {% include 'FDCEventBundle:News:components/filters.html.twig' %}
        </div>

        <div class="grid list">
            {% for photo in photos %}
                {% set trans = photo.findTranslationByLocale(app.request.locale) %}
                {% if trans is null or trans.file is null %}
                    {% set trans = photo.findTranslationByLocale('fr') %}
                {% endif %}
                {% set format = trans.file.width > trans.file.height ? '' : 'grid-item--height2' %}
                {% if format == '' %}
                    {% set rand = random(5) %}
                {% endif %}
                <div class="grid-item {% if rand == 3 %}grid-item--width2{% endif %} item {{ photo.theme|trans_fallback('slug') }} {{ format }}">
                    <a id="photo{{ photo.id }}"
                       class="ajachocolat-image ajax"
                       href="{% path trans.file , 'reference' %}"
                       title='<span class="category">{{ photo.theme|trans_fallback('name') }}</span><span class="date">{{ photo.publishedAt|date('d.m.y') }} . {{ photo.publishedAt|date('H:i') }}</span><h2>{{ trans.legend }}</h2><span class="credit">{{ photo.credit }}</span>'></a>
                    {% set resolution =  trans.file.width > trans.file.height ? '640x404' : '320x404' %}
                    <div class="img-container">
                        <div class="infos">
                            <div class="picto"><i class="icon icon_photo"></i></div>
                            <div class="right">
                                <p class="category">{{ photo.theme|trans_fallback('name')|truncate(22) }}</p>
                                <p>{{ photo|trans_fallback('legend') }}</p>
                            </div>
                        </div>
                        <div class="img" style="background-image:url({% path trans.file , resolution %})"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



