{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="all-videos" data-menu="actu">

        {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
        {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}

        <div class="container">
            <h2 class="title">{{ 'article.photos.title.touteslesvideos'|trans }}</h2>
            {% include 'FDCEventBundle:News:components/filters.html.twig' %}
        </div>

        <div class="list" id="list-videos">
            {% for video in videos %}
                {% set trans = video.findTranslationByLocale(app.request.locale) %}
                {% set transImage = null %}
                {% set amazonImage = null %}
                {% if trans is null or trans.file is null %}
                    {% set trans = video.findTranslationByLocale('fr') %}
                {% endif %}
                {% if video.header is not null %}
                    {% set transImage = video.header.findTranslationByLocale(app.request.locale) %}
                    {% if transImage is null %}
                        {% set transImage = video.header.findTranslationByLocale('fr') %}
                    {% endif %}
                {% elseif video.image %}
                    {% set transImage = video.image.findTranslationByLocale(app.request.locale) %}
                    {% if transImage is null or transImage.file is null %}
                        {% set transImage = video.image.findTranslationByLocale('fr') %}
                    {% endif %}
                {%- elseif video|trans_fallback('imageAmazonUrl') -%}
                    {% set amazonImage = s3_server_video ~ video|trans_fallback('imageAmazonUrl') %}
                {%- endif -%}
                {% if transImage is defined or amazonImage is defined %}
                    <div class="item item-video"
                         data-video='[{"file":"{{ s3_server_video ~ trans.webmUrl }}"},{"file":"{{ s3_server_video ~ trans.mp4Url }}"}]'
                         data-poster="{% if transImage is not null %}{% path transImage.file, '1144x724' %}{% endif %}">
                        {% if transImage is not null %}
                            {% set resolution =  transImage.file.width > transImage.file.height ? '640x404' : '320x404' %}
                        {% endif %}
                        <div class="img-container">
                            <div class="infos">
                                <div class="picto"><i class="icon icon_video"></i></div>
                                <div class="right">
                                    <span class="category">{{ video.theme|trans_fallback('name') }}</span>
                                    <p class="titlelink">{{ video|trans_fallback('title') }}</p>
                                </div>
                            </div>
                            {% if transImage is not null %}
                                <div class="img" style="background-image:url({% path transImage.file , resolution %})"></div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- <div class="popin-video video loading">
            <div class="video-container state-init video"
                 data-link="//www.example.com"
                 data-email="//www.gmail.com"
                 data-file=''
                 data-img="">
                <div id="video-player-popin" class="">
                </div>
                <div class="video-overlay"></div>
                <div class="infos-bar">
                    <div class="picto"><i class="icon icon_video"></i></div>
                    <div class="info">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                <a href="#" class="category"></a><span class="date"></span> . <span
                                        class="hour"></span>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popin-info info">
                <a href="#" class="category"></a><span class="date"></span> . <span class="hour"></span>
                <p></p>
            </div>
            <div class="popin-buttons buttons square">
                <a href="#" rel="nofollow" class="button facebook ajax"><i class="icon icon_facebook"></i></a>
                <a href="#" rel="nofollow" class="button twitter"><i class="icon icon_twitter"></i></a>
                <a href="#" rel="nofollow" class="button link"><i class="icon icon_link"></i></a>
                <a href="#" rel="nofollow" class="button email"><i class="icon icon_lettre"></i></a>
            </div>
        </div> -->
    </div>
{% endblock %}
