{% trans_default_domain 'FDCCorporateBundle' %}

{% extends 'FDCCorporateBundle::layout.html.twig' %}
{% block bodyClass %}article-single dark retrospective retrospective-home restrospective-init not-mobile{% endblock %}

{% block body %}
    <section class="s-slider-retrospective">

        <div class="ajax-section">
            <div class="contain-ajax bright artist-page" id="main">
                <!-- class wysiwyg-article voir la page _test_article_wysiwyg -->

                <div class="block-01 padding-bottom">
                    <div class="contain-titles brigth">

                        {% set profession = artist|trans_fallback('profession') %}
                        {% if profession %}
                            <strong class="title-14">{{ artist|profession_gender('profession') }}</strong>
                        {% endif %}
                        {#{% if artist.nationality %}#}
                        {#<span class="city" {{ artist.nationality|content_lang('name') }}>#}
                        {#{{ artist.nationality|trans_fallback('name') }}#}
                        {#{% if artist.nationality2 %}, {{ artist.nationality2|trans_fallback('name') }}{% endif %}#}
                        {#</span>#}
                        {#{% endif %}#}

                        <h1 class="title-15">{{ artist.fullName }}</h1>
                    </div>

                    <div class="buttons buttons-01">
                        <a id="share-article" href="#" class="button"><i
                                    class="icon icon-share"></i>{{ 'juries.artist.btn.partager'|trans }}</a>
                        <a href="#" class="button" onclick="window.print()"><i
                                    class="icon icon-print"></i>{{ 'juries.artiste.btn.imprimer'|trans }}</a>
                    </div>

                    {% set artistImage = artist_page_media(artist, app.request.locale) %}
                    {% set artistCredits = artist_page_credits(artist, app.request.locale) %}
                    {% if artistImage %}
                        {% if artistImage.width > artistImage.height %}
                            <img src="{% path artistImage.file, 'mobile' %}" height="485" alt="{{ artist.fullName }}"/>
                        {% else %}
                            <img src="{% path artistImage, '384x485' %}" alt="{{ artist.fullName }}"/>
                        {% endif %}
                        {% if artistCredits %}
                            <p class="caption" id="captionCopyright">© {{ artistCredits }}</p>
                        {% endif %}
                    {% endif %}

                    {% set biography = artist|trans_fallback('biography') %}
                    {% if biography %}
                        <div class="block-01-xs">
                            <strong class="title-16">{{ 'juries.artiste.title.biographie'|trans }}</strong>

                            <p class="texte-01">{{ biography|raw }}</p>

                        </div> <!-- fin block 01 xs -->
                    {% endif %}
                    <div class="block-01-xs">
                        <strong class="title-16">{{ 'juries.artiste.title.filmspresentes'|trans }}</strong>
                    </div>
                    <div class="block-poster-01">
                        {% if artist.films|length > 0 %}
                            {% set countera = 0 %}
                            {% for filmPerson in artist.getFilmPersonOrderedByFilmFestivalYearAsc() %}
                                {#{% if countera == 0 %}#}
                                {#<strong class="title-16">{{ 'juries.artiste.title.filmspresentes'|trans }}</strong>#}
                                {#{% set countera = countera+1 %}#}
                                {#{% endif %}#}
                                <div class="item"
                                     style="line-height: 18px;display: inline-block;min-height: 418px;vertical-align: bottom;width: 181px;">
                                    {% if filmPerson.film.festival.id == festival %}
                                    <a href="{{ path('fdc_event_movie_get', {'slug': filmPerson.film.slug}) }}">
                                        {% endif %}

                                        {% include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({
                                        film: filmPerson.film,
                                        film_format: '366x488',
                                        film_attrs: {
                                        alt: filmPerson.film|trans_fallback('title')?:filmPerson.film.titleVO,
                                        'data-object-fit': 'cover'
                                        },
                                        film_image_default: 'bundles/fdccorporate/media/images/film_w181.jpg',
                                        corpo: 'true'
                                        }) %}
                                    </a>
                                    <div class="contain-txt">
                                        {% set secondTitle = null %}
                                        {% if filmPerson.film|trans_fallback_movie('title') is not empty and filmPerson.film|trans_fallback_movie('title') != filmPerson.film.titleVO %}
                                            {% set mainTitle = filmPerson.film.titleVO %}
                                            {% set secondTitle = filmPerson.film|trans_fallback_movie('title') %}
                                        {% else %}
                                            {% set mainTitle = filmPerson.film.titleVO %}
                                        {% endif %}
                                        <strong><a href="#" class="title-7">{{ mainTitle }}</a></strong>
                                        <strong><a href="#"
                                                   class="title-12">{{ filmPerson.film.selectionSection|trans_fallback('name') }}</a></strong>
                                        <strong class="title-17">{{ filmPerson.film.festival.year }}</strong>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div> <!-- fin block poster 01 -->

                    {% if artist.juries|length > 0 %}
                        <strong class="title-16">{{ 'juries.artiste.title.presences'|trans }}</strong>

                        <div class="jury">
                            {% for jury in artist.juries %}
                                {% if jury.function %}
                                    <span class="rank">{{ jury.function|trans_fallback('name') }}</span>
                                {% endif %}
                                {% if jury.type %}
                                    {% if jury.function %}
                                        <span class="item-separate">-</span>
                                    {% endif %}
                                    <span class="role">{{ jury.type|trans_fallback('name') }}</span>
                                {% endif %}
                                {% if jury.festival %}
                                    {% if jury.function or jury.type %}
                                        <span class="item-separate">-</span>
                                    {% endif %}
                                    <span class="date">{{ jury.festival.year }}</span>
                                {% endif %}
                                {{ loop.last == false ? '<br>':'' }}
                            {% endfor %}
                        </div>
                    {% endif %}

                </div> <!-- fin block 01-->

                <div class="border-top">
                    <strong class="title-9">{{ 'juries.artiste.title.share'|trans }}</strong>
                    {% set currentUrl = app.request.schemeAndHttpHost ~ app.request.requestUri %}
                    <div class="relative">
                        <div class="block-social-network block-social-network-all">
                            <a class="facebook"
                               href="http://www.facebook.com/dialog/feed?app_id=1198653673492784&link={{ currentUrl|url_encode(true) }}&picture={% spaceless -%}{% if shareMedia is defined %}{% path shareMedia.file, '384x485' -%}{% endif %}{% endspaceless -%}&name={{ artist.fullName|url_encode(true) }}&caption={{ artist|profession_gender('profession') }}&description={% if biography is not null %}{{ biography|raw|url_encode(true) }}{% else %}Festival%20de%20Cannes{% endif %}&redirect_uri=http://www.festival-cannes.com/fr/sharing&display=popup"><i
                                        class="icon icon-facebook"></i></a><!--
                --><a class="twitter"
                      href="https://twitter.com/intent/tweet?text={{ artist.fullName|url_encode(true) }} {{ currentUrl|url_encode(true) }}"><i
                                        class="icon icon-twitter"></i></a><!--
                --><a href="#" rel="nofollow" class="link self" data-clipboard-text="{{ currentUrl }}"><i
                                        class="icon icon-link"></i></a><!--
                --><a href="#" class="popin-mail-open"><i class="icon icon-letter"></i></a><!--
                --><a href="#" onclick="window.print()" class="print"><i class="icon icon-print"></i></a>
                        </div>
                        <div class="texts-clipboard"></div>
                    </div>
                </div>
                <div class="real block-02">
                    <h2 class="title">Réalisateur</h2>
                    <div id="slider-real" class="slider-03">
                        {% for director in directors %}
                            <div class="slide item">
                                {% set directorImage = director|person_image_portait %}
                                {% if directorImage %}
                                    <img src="{% path directorImage, '210x284' %}" alt="{{ director.fullName }}"
                                         data-object-fit="cover">
                                {% else %}
                                    {% set media = director|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PERSON'))|first %}
                                    {% if media is empty %}
                                        {% set media = director|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                                    {% endif %}
                                    {% if media is empty %}
                                        {% set photo = director|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                                    {% endif %}
                                    {% if media is not empty %}
                                        <img src="{% path media, '210x284' %}" alt="{{ director.fullName }}"
                                             data-object-fit="cover">
                                    {% endif %}
                                {% endif %}
                                <a class="linkVid"
                                   href="{{ path('fdc_event_artist_get', {'slug': director.slug }) }}"></a>
                                <div class="info-movie">
                                    <p>{% include 'FDCEventBundle:Movie:widgets/check_asian_name.html.twig' with {'person': director, 'link': false} %}</p>
                                    <a class="director" href="#">{{ director|profession_gender('profession') }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ render(controller('FDCCorporateBundle:Global:shareEmail',
    {'section': '',
        'detail' : '',
        'title'  : '',
        'description': '',
        'url': url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))
    })) }}

    {{ render(controller('FDCCorporateBundle:Global:shareEmail',
    {'section': '',
        'detail' : '',
        'title'  : '',
        'description': '',
        'url': url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))
    })) }}

    {% include "FDCCorporateBundle:Global:breadcrumb.html.twig" with
    {"breadcrumb": [
    { "name" : 'breadcrumb.69editions.home'|trans,
    "url"  : ''
    },
    {
    "name" : 'breadcrumb.retrospective.home'|trans,
    "url"  : path('fdc_corporate_editions_retrospective')
    },
    {
    "name" : 'breadcrumb.la_selection'|trans,
    "url"  : path('fdc_event_movie_selection')
    },
    ]
    } %}
{% endblock %}
