{% trans_default_domain 'FDCCorporateBundle' %}

{% extends 'FDCCorporateBundle::layout.html.twig' %}
{% block bodyClass %}loading article-single dark retrospective retrospective-home restrospective-init{% endblock %}

{% block body %}
<section class="s-slider-retrospective">

<div class="ajax-section">
    <div class="contain-ajax bright artist-page" id="main"> <!-- class wysiwyg-article voir la page _test_article_wysiwyg -->

        <div class="block-01 padding-bottom">
            <div class="contain-titles brigth">

                {% set profession = artist|trans_fallback('profession') %}
                {% if profession %}
                    <strong class="title-14">{{ artist|profession_gender('profession') }}</strong>
                {% endif %}
                {% if artist.nationality %}
                    <span class="city" {{ artist.nationality|content_lang('name') }}>
                        {{ artist.nationality|trans_fallback('name') }}
                        {% if artist.nationality2 %}, {{ artist.nationality2|trans_fallback('name') }}{% endif %}
                    </span>
                {% endif %}

                <h1 class="title-15">{{ artist.fullName }}</h1>
            </div>

            <div class="buttons buttons-01">
                <a id="share-article" href="#" class="button"><i class="icon icon-share"></i>{{ 'juries.artist.btn.partager'|trans }}</a>
                <a href="#" class="button" onclick="window.print()"><i class="icon icon-print"></i>{{ 'juries.artiste.btn.imprimer'|trans }}</a>
            </div>

            {% set artistImage = artist|person_image(true) %}
            {% set legend = null %}
            {% set copyright = null %}
            {% if artistImage %}
                {% if artistImage %}
                    <img src="{% path artistImage.file, '384x485' %}" alt="{{ artist.fullName }}"/>
                    {%  set shareMedia = artistImage %}
                    {% if copyright is not empty %}
                        <p class="caption" id="captionCopyright">
                            {{- '© ' ~  copyright -}}
                        </p>
                    {% endif %}
                {%- elseif artist.presidentJuryImage and artist.presidentJuryImage|trans_fallback('file') -%}
                    <img src="{% path artist.presidentJuryImage|trans_fallback('file'), '384x485' %}"
                         alt="{{ artist.fullName }}"/>
                    {%  set shareMedia = artist.presidentJuryImage|trans_fallback('file') %}
                    {%- if artist.presidentJuryCredits is not empty or artistImage.copyright is not empty -%}
                        <p class="caption" id="captionCopyright">
                            {{- '© ' ~  ((artist.presidentJuryCredits)?:artistImage.copyright) -}}
                        </p>
                    {%- endif -%}
                {%- elseif artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                    {% set artistMedia = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'),true)|first %}
                    <img src="{% path artistMedia.file, '384x485' %}"
                         alt="{{ artist.fullName }}"/>
                    {%  set shareMedia = artistMedia.file %}
                    {%- if artistMedia.copyright is not empty -%}
                        <p class="caption" id="captionCopyright">
                            {{- '© ' ~ artistMedia.copyright  -}}
                        </p>
                    {% endif %}
                {%- elseif artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                    {% set artistMedia = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'),true)|first %}
                    <img src="{% path artistMedia.file, '384x485' %}"
                         alt="{{ artist.fullName }}"/>
                    {%  set shareMedia = artistMedia.file %}
                    {%- if artistMedia.copyright is not empty -%}
                        <p class="caption" id="captionCopyright">
                            {{- '© ' ~ artistMedia.copyright  -}}
                        </p>
                    {%- endif -%}
                {%- elseif class(artistImage) == 'FilmMedia' -%}
                    <img src="{% path artistImage.file, '384x485' %}" alt="{{ artist.fullName }}"/>
                    {%  set shareMedia = artistImage.file %}
                    {% set legend = artistImage.credits %}
                    {% set copyright = artistImage.copyright %}
                    <p class="caption"
                       id="captionCopyright">{{ legend }}{% if copyright is not empty %} © {{ copyright }}{% endif %}</p>
                {% else %}
                    <img src="{% path artistImage, '384x485 ' %}" alt="{{ artist.fullName }}"/>
                    {%  set shareMedia = artistImage %}
                {%- endif -%}
            {% else %}
                {% set media = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PERSON'))|first %}
                {% if media is empty %}
                    {% set media = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                {% endif %}
                {% if media is empty %}
                    {% set media = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                {% endif %}
                {% if media is not empty %}
                    {%  set shareMedia = media %}
                    <img src="{% path media, '976x535' %}" alt="{{ artist.fullName }}"/>
                {% endif %}
            {% endif %}

            {% set biography = artist|trans_fallback('biography') %}
            {% if biography %}
            <div class="block-01-xs">
                <strong class="title-16">{{ 'juries.artiste.title.biographie'|trans }}</strong>

                <p class="texte-01">{{ biography|raw }}</p>

                <strong class="title-16">Principaux films</strong>
            </div> <!-- fin block 01 xs -->
            {% endif %}
            <div class="block-poster-01">
                {% if artist.films|length > 0 %}
                    {% set countera = 0 %}
                    {% for filmPerson in artist.getFilmPersonOrderedByFilmFestivalYearAsc() %}
                        {% if countera == 0 %}
                            <strong class="title-16">{{ 'juries.artiste.title.filmspresentes'|trans }}</strong>
                            {% set countera = countera+1 %}
                        {% endif %}
                        <div class="item">
                            {% if filmPerson.film.festival.id == festival %}
                            <a href="{{ path('fdc_event_movie_get', {'slug': filmPerson.film.slug}) }}">
                            {% endif %}
                                {% set legacy = get_legacy_film_image(filmPerson.film) %}
                                {% if legacy %}
                                    <img src="http://www.festival-cannes.fr/thumb.php?sourceDirectory=/assets/Image/Direct/&sourceFile={{ legacy['FICHIER'] }}&predefinedSize=fiche_film_header"
                                         alt="{{ legacy['TITRE']?:'Affiche du film' }}" data-object-fit="cover">
                                {% else %}
                                    {% include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({
                                    film: filmPerson.film,
                                    film_format: '366x488',
                                    film_attrs: {
                                    alt: filmPerson.film|trans_fallback('title')?:filmPerson.film.titleVO,
                                    'data-object-fit': 'cover'
                                    },
                                    film_image_default: 'bundles/fdcevent/img/palmares/film_w181.jpg'
                                    }) %}
                                {% endif %}
                            </a>
                            <div class="contain-txt">
                                {% set secondTitle = null %}
                                {% if filmPerson.film|trans_fallback_movie('title') is not empty and filmPerson.film|trans_fallback_movie('title') != filmPerson.film.titleVO %}
                                    {% set mainTitle = filmPerson.film.titleVO %}
                                    {% set secondTitle = filmPerson.film|trans_fallback_movie('title') %}
                                {% else %}
                                    {% set mainTitle = filmPerson.film.titleVO %}
                                {% endif %}
                                <strong><a href="#" class="title-7">{{ mainTitle }}</a></strong>
                                <strong><a href="#" class="title-12">{{ filmPerson.film.selectionSection|trans_fallback('name') }}</a></strong>
                                <strong class="title-17">{{ filmPerson.film.festival.year }}</strong>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div> <!-- fin block poster 01 -->

            {% if artist.juries|length > 0 %}
            <strong class="title-16">{{ 'juries.artiste.title.presences'|trans }}</strong>

            <div class="jury">
            {% for jury in artist.juries %}
                {% if jury.function %}
                <span class="rank">{{ jury.function|trans_fallback('name') }}</span>
                {% endif %}
                {% if jury.type %}
                    {% if jury.function %}
                        <span class="item-separate">-</span>
                    {% endif %}
                    <span class="role">{{ jury.type|trans_fallback('name') }}</span>
                {% endif %}
                {% if jury.festival %}
                    {% if jury.function or jury.type %}
                    <span class="item-separate">-</span>
                    {% endif %}
                    <span class="date">{{ jury.festival.year }}</span>
                {% endif %}
                {{ loop.last == false ? '<br>':'' }}
            {% endfor %}
            </div>
            {% endif %}

        </div> <!-- fin block 01-->

        <div class="border-top">
            <strong class="title-9">{{ 'juries.artiste.title.share'|trans }}</strong>
            {% set currentUrl = app.request.schemeAndHttpHost ~ app.request.requestUri %}
            <div class="relative">
                <div class="block-social-network block-social-network-all">
                    <a class="facebook" href="http://www.facebook.com/dialog/feed?app_id=1198653673492784&link={{ currentUrl }}&picture={% spaceless -%}{% if shareMedia is defined %}{% path shareMedia.file, '384x485' -%}{% endif %}{% endspaceless -%}&name={{ artist.fullName|url_encode(true) }}&caption={{ artist|profession_gender('profession') }}&description={% if biography is not null %}{{ biography|raw|url_encode(true) }}{% else %}Festival%20de%20Cannes{% endif %}&redirect_uri=http://www.festival-cannes.com/fr/sharing&display=popup"><i class="icon icon-facebook"></i></a><!--
                --><a class="twitter" href="https://twitter.com/intent/tweet?text={{ artist.fullName|url_encode(true) }} {{ currentUrl }}"><i class="icon icon-twitter"></i></a><!--
                --><a href="#" rel="nofollow" class="link self" data-clipboard-text="{{ currentUrl }}"><i class="icon icon-link"></i></a><!--
                --><a href="#" class="popin-mail-open"><i class="icon icon-letter"></i></a><!--
                --><a href="#" onclick="window.print()" class="print"><i class="icon icon-print"></i></a>
                </div>
                <div class="texts-clipboard"></div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}