{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "bundles/fdceventmobile/css/sitemap.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
<div id="main" class="sitemap loading">
    {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
    {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}
    <h2 class="title">{{ 'sitemap.title.plandusite'|trans }}</h2>
    <section class="sitemap-container">
        {% for route in routes %}
            {% if route.route == 'fdc_event_movie_selection' and route.enabled == true %}
                <article class="sitemap-item">
                    <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                    <ul>
                        {% for selectionTab in selectionTabs %}
                            {% set selectionSlug = selectionTab|trans_fallback('slug')?:selectionTab.selectionSection|trans_fallback('slug') %}
                            {% set selectionName = selectionTab|trans_fallback('overrideName')?:selectionTab.selectionSection|trans_fallback('name') %}
                            <li><a href="{{ path('fdc_eventmobile_movie_selection', {'slug': selectionSlug}) }}">{{ selectionName }}</a></li>
                        {% endfor %}
                        {% if cannesClassics is defined and cannesClassics|length > 0 %}
                            {% set transClassics = cannesClassics[0].findTranslationByLocale(app.request.locale) %}
                            {% if transClassics is not empty and transClassics.slug is not empty %}
                                <li><a href="{{ path('fdc_eventmobile_movie_classics', {'slug': transClassics.slug}) }}">{{ 'selection.nav.cannes-classics'|trans }}</a></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="{{ path('fdc_eventmobile_movie_selection', {'slug': 'cinema-de-la-plage'}) }}">{{ 'selection.nav.cinema-la-plage'|trans }}</a></li>
                    </ul>
                </article>
            {% elseif route.route == 'fdc_event_jury_get' and route.enabled == true %}
                <article class="sitemap-item">
                    <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                    <ul>
                        {% for tab in jury %}
                            <li>
                                <a href="{{ path('fdc_eventmobile_jury_get', {'slug': tab|trans_fallback('slug')}) }}">
                                    {{ (tab|trans_fallback('overrideName'))?:(tab.juryType|trans_fallback('name')) }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </article>
            {% elseif route.route == 'fdc_event_event_getevents' and route.enabled == true %}
                <article class="sitemap-item">
                    <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                    <ul>

                        {% for event in events %}
                            <li>
                                <a href="{{ path('fdc_eventmobile_event_get', {'slug': event|trans_fallback('slug') }) }}">
                                    {{ event|trans_fallback('title') }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </article>
            {% elseif route.route == 'fdc_event_participate_prepare' and route.enabled == true %}
                <article class="sitemap-item">
                    <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                    <ul>
                        {% for k,child in participate %}
                            {% if k == 0 %}
                                <li><a href="{{ path('fdc_eventmobile_participate_prepare') }}"> {{ child|trans_fallback('title') }}</a></li>
                            {% else %}
                                <li><a href="{{ path('fdc_eventmobile_participate_getpage', {'slug': child|trans_fallback('slug') }) }}"> {{ child|trans_fallback('title') }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
            {% elseif route.route == 'fdc_event_palmares_get' and route.enabled == true %}
                <article class="sitemap-item">
                    <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                    <ul>
                        {% for tab in award %}
                            {% set tabPath = path('fdc_eventmobile_palmares_get', {'slug': tab|trans_fallback('slug') }) %}
                            <li>
                                <a href="{{ tabPath }}">
                                    {{ tab|trans_fallback('name') }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </article>
            {% elseif route.route == 'fdc_event_news_index' and route.enabled == true %}
                <article class="sitemap-item">
                    <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                    <ul>
                        {% for child in route.__children %}
                            {% set childPath = null %}
                            {% if child.route == 'fdc_event_news_index' %}
                                {% set childPath = path('fdc_eventmobile_news_index') %}
                            {% elseif child.route == 'fdc_event_news_getarticles' %}
                                {% set childPath = path('fdc_eventmobile_news_getarticles') %}
                            {% elseif child.route == 'fdc_event_news_getphotos' %}
                                {% set childPath = path('fdc_eventmobile_news_getphotos') %}
                            {% elseif child.route == 'fdc_event_news_getvideos' %}
                                {% set childPath = path('fdc_eventmobile_news_getvideos') %}
                            {% elseif child.route == 'fdc_event_news_getaudios' %}
                                {% set childPath = path('fdc_eventmobile_news_getaudios') %}
                            {% endif %}
                            {% if childPath is not null %}
                                <li>
                                    <a href="{{ childPath }}">
                                        {{ child.transName|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
            {% elseif route.route == 'fdc_event_television_live' and route.enabled == true %}
                <article class="sitemap-item">
                    <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                    <ul>
                        {% for child in route.__children %}
                            {% set childPath = null %}
                            {% if child.route == 'fdc_event_television_live' %}
                                {% set childPath = path('fdc_eventmobile_television_live') %}
                            {% elseif child.route == 'fdc_event_television_channels' %}
                                {% set childPath = path('fdc_eventmobile_television_channels') %}
                            {% elseif child.route == 'fdc_event_television_trailers' %}
                                {% set childPath = path('fdc_eventmobile_television_trailers') %}
                            {% endif %}
                            {% if childPath is not null %}
                                <li>
                                    <a href="{{ childPath }}">
                                        {{ child.transName|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
            {% elseif route.route == 'fdc_event_agenda_scheduling' and route.enabled == true %}
                <article class="sitemap-item">
                    <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                    <ul>
                        {% for child in route.__children %}
                            {% set childPath = null %}
                            {% if child.route == 'fdc_event_agenda_scheduling' %}
                                {% set childPath = path('fdc_eventmobile_agenda_scheduling') %}
                            {% elseif child.route == 'fdc_event_agenda_get' %}
                                {% set childPath = path('fdc_eventmobile_agenda_get') %}
                            {% elseif child.route == 'fdc_event_agenda_room' %}
                                {% set childPath = path('fdc_eventmobile_agenda_room') %}
                            {% endif %}
                            {% if childPath is not null %}
                                <li>
                                    <a href="{{ childPath }}">
                                        {{ child.transName|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
            {% elseif route.route == 'fdc_press_news_home' and route.enabled == true %}
                <article class="sitemap-item">
                    <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                    <ul>
                        {% for menu in press %}
                            {% if menu.route == 'fdc_press_news_home' and menu.enabled == true %}
                                <li>
                                    <a href="{{ path('fdc_press_news_home') }}">
                                        {{ 'header.mainnav.nav.accueil'|trans({}, 'FDCPressBundle') }}
                                    </a>
                                </li>
                            {% elseif menu.route == 'fdc_press_news_list' and menu.enabled == true %}
                                <li>
                                    <a href="{{ path('fdc_press_news_list') }}">
                                        {{ 'header.mainnav.nav.communiques'|trans({}, 'FDCPressBundle') }}
                                    </a>
                                </li>
                            {% elseif menu.route == 'fdc_press_accredit_main' and menu.enabled == true %}
                                <li>
                                    <a href="{{ path('fdc_press_accredit_main') }}">
                                        {{ 'header.mainnav.nav.accrediter'|trans({}, 'FDCPressBundle') }}
                                    </a>
                                </li>
                            {% elseif menu.route == 'fdc_press_guide_main' and menu.enabled == true %}
                                <li>
                                    <a href="{{ path('fdc_press_guide_main') }}">
                                        {{ 'header.mainnav.nav.guide'|trans({}, 'FDCPressBundle') }}
                                    </a>
                                </li>
                            {% elseif menu.route == 'fdc_press_agenda_scheduling' and menu.enabled == true %}
                                <li>
                                    <a href="{{ path('fdc_press_agenda_scheduling') }}">
                                        {{ 'header.mainnav.nav.programmation'|trans({}, 'FDCPressBundle') }}
                                    </a>
                                </li>
                            {% elseif menu.route == 'fdc_press_media_main' and menu.enabled == true %}
                                <li>
                                    <a href="{{ path('fdc_press_media_main', { 'sectionId': 3 }) }}">
                                        {{ 'header.mainnav.nav.mediatheque'|trans({}, 'FDCPressBundle') }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if menu.route == 'fdc_press_media_download' and menu.enabled == true %}
                                <li>
                                    <a href="{{ path('fdc_press_media_download') }}">
                                        {{ 'header.mainnav.nav.telecharger'|trans({}, 'FDCPressBundle') }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
            {% elseif  route.route == 'fdc_event_footer_contact' or
            route.transName == 'footer.nav.faq' or
            route.transName == 'footer.nav.credit' or
            route.transName == 'footer.nav.mentionslegales' or
            route.transName == 'footer.nav.nousrejoindre' or
            route.transName == 'footer.nav.plandusite' or
            route.transName == 'footer.nav.politiqueconfidentialite' or
            route.transName == 'footer.nav.boutique' %}
            {% else %}
                <article class="sitemap-item">
                    <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                    <ul>
                        {% for child in route['__children'] %}
                            {% if child.enabled %}
                                <li><a href="{{ path(child.route, {locale: app.request.get('locale')}) }}">{{ child.transName|trans }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </article>
            {% endif %}
        {% endfor %}
        <article class="sitemap-item">
            <h3 class="title sitemap-item-title">{{ 'Footer' }}</h3>
            <ul>
                {% for route in footer %}
                    {% if route.route == 'fdc_event_footer_contact' and route.enabled == true %}
                        <li>
                            <a href="{{ path('fdc_eventmobile_footer_contact') }}">
                                {{ 'footer.nav.contact'|trans }}
                            </a>
                        </li>
                    {% elseif route.transName == 'footer.nav.faq' and route.enabled == true %}
                        <li>
                            <a href="{{ path('fdc_eventmobile_footer_faq') }}">
                                {{ 'footer.nav.faq'|trans }}
                            </a>
                        </li>
                    {% elseif route.transName == 'footer.nav.credit' and route.enabled == true %}
                        <li>
                            <a href="{{ path('fdc_eventmobile_footer_credits') }}">
                                {{ 'footer.nav.credit'|trans }}
                            </a>
                        </li>
                    {% elseif route.transName == 'footer.nav.mentionslegales' and route.enabled == true %}
                        <li>
                            <a href="{{ path('fdc_eventmobile_footer_mentionslegales') }}">
                                {{ 'footer.nav.mentionslegales'|trans }}
                            </a>
                        </li>
                    {% elseif route.transName == 'footer.nav.plandusite' and route.enabled == true %}
                        <li>
                            <a href="{{ path('fdc_eventmobile_footer_sitemap') }}">
                                {{ 'footer.nav.plandusite'|trans }}
                            </a>
                        </li>
                    {% elseif route.transName == 'footer.nav.politiqueconfidentialite' and route.enabled == true %}
                        <li>
                            <a href="{{ path('fdc_eventmobile_footer_privacy') }}">
                                {{ 'footer.nav.politiqueconfidentialite'|trans }}
                            </a>
                        </li>
                    {% elseif route.transName == 'footer.nav.boutique' and route.enabled == true  %}
                        <li>
                            <a href="{{ footer_boutique }}">
                                {{ 'footer.nav.boutique'|trans }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </article>
    </section>
</div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@FDCEventMobileBundle/Resources/public/js/sitemap.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}