{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="legals" data-menu="privacy_policy">

        {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
        {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}
        
        <div class="contain">
            <h2 class="title one-line">{{ 'politiqueconfidentialite.title.politiqueconfidentialite'|trans }}</h2>
            <section class="legal-notice-container">
                <h3 class="legal-notice-description">{{ 'politiqueconfidentialite.text.cesite'|trans }}</h3>
                <div class="legal-notice-responsable">
                    <p><strong>{{ 'politiqueconfidentialite.libelle.responsable'|trans }} :</strong> {{ 'politiqueconfidentialite.responsable.vincavaneecke' }}</p>
                    <p><strong>{{ 'politiqueconfidentialite.libelle.hebergement'|trans }} :</strong> {{ 'politiqueconfidentialite.hebergement.amazon'|trans }}</p>
                </div>
                {% for article in content %}
                    <article class="legal-notice-art">
                        <h4 class="legal-notice-art-title">{{ article.title }}</h4>
                        <p>{{ article.content }}</p>
                    </article>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}