{% trans_default_domain 'FDCCorporateBundle' %}
{% extends 'FDCCorporateBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="sitemap">
        <h2 class="title">{{ 'sitemap.title.plandusite'|trans }}</h2>
        <section class="sitemap-container">
            {% for route in routes %}
                {% if route.route == 'fdc_corporate_movie_selection' and route.enabled == true %}
                    <article class="sitemap-item">
                        <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                        <ul>
                            <li><a href="{{ path('fdc_corporate_movie_selection', {'slug': selectionSlug}) }}">{{ selectionName }}</a></li>
                        </ul>
                    </article>
                {% elseif route.route == 'fdc_corporate_default_home' and route.enabled == true %}
                    <article class="sitemap-item">
                        <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                        <ul>
                            {% for child in route['__children'] %}
                                {% if child.enabled %}
                                    <li>
                                        {% if child.route != '#' %}
                                            <a href="{{ path(child.route) }}">
                                                {{ child.transName|trans }}
                                            </a>
                                        {% elseif child.route == '#' %}
                                            <a href="#">
                                                {{ child.transName|trans }}
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </article>
                {% elseif route.route == 'fdc_corporate_whoarewe_show' and route.enabled == true %}
                    <article class="sitemap-item">
                        <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                        <ul>
                            {% for page in aboutUs %}
                                <li>
                                    <a href="{{ path('fdc_corporate_whoarewe_show', {'slug': page|trans_fallback('slug')}) }}">
                                        {{ page|trans_fallback('title') }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li>
                                <a href="{{ path('fdc_corporate_whoarewe_equipe') }}">
                                    {{ 'aboutus.team'|trans }}
                                </a>
                            </li>
                        </ul>
                    </article>
                {% elseif route.route == 'fdc_press_news_home' and route.enabled == true %}
                    <article class="sitemap-item">
                        <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                        <ul>
                            {% for menu in press %}
                                {% if menu.route == 'fdc_press_news_home' and menu.enabled == true %}
                                    <li>
                                        <a href="{{ path('fdc_press_news_home') }}">
                                            {{ 'header.mainnav.nav.accueil'|trans({}, 'FDCPressBundle') }}
                                        </a>
                                    </li>
                                {% elseif menu.route == 'fdc_press_news_list' and menu.enabled == true %}
                                    <li>
                                        <a href="{{ path('fdc_press_news_list') }}">
                                            {{ 'header.mainnav.nav.communiques'|trans({}, 'FDCPressBundle') }}
                                        </a>
                                    </li>
                                {% elseif menu.route == 'fdc_press_accredit_main' and menu.enabled == true %}
                                    <li>
                                        <a href="{{ path('fdc_press_accredit_main') }}">
                                            {{ 'header.mainnav.nav.accrediter'|trans({}, 'FDCPressBundle') }}
                                        </a>
                                    </li>
                                {% elseif menu.route == 'fdc_press_guide_main' and menu.enabled == true %}
                                    <li>
                                        <a href="{{ path('fdc_press_guide_main') }}">
                                            {{ 'header.mainnav.nav.guide'|trans({}, 'FDCPressBundle') }}
                                        </a>
                                    </li>
                                {% elseif menu.route == 'fdc_press_agenda_scheduling' and menu.enabled == true %}
                                    <li>
                                        <a href="{{ path('fdc_press_agenda_scheduling') }}">
                                            {{ 'header.mainnav.nav.programmation'|trans({}, 'FDCPressBundle') }}
                                        </a>
                                    </li>
                                {% elseif menu.route == 'fdc_press_media_main' and menu.enabled == true %}
                                    <li>
                                        <a href="{{ path('fdc_press_media_main', { 'sectionId': 3 }) }}">
                                            {{ 'header.mainnav.nav.mediatheque'|trans({}, 'FDCPressBundle') }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if menu.route == 'fdc_press_media_download' and menu.enabled == true %}
                                    <li>
                                        <a href="{{ path('fdc_press_media_download') }}">
                                            {{ 'header.mainnav.nav.telecharger'|trans({}, 'FDCPressBundle') }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </article>
                {% elseif route.route == 'fdc_corporate_participate_inscription' and route.enabled == true %}
                    <article class="sitemap-item">
                        <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                            {% if route['__children'] is defined and route['__children']|length > 0  %}
                                <ul>
                                    {% for child in route['__children'] %}
                                        {% if child.enabled %}
                                            {% if loop.index0 == 0 %}
                                                <li><a href="{{ path('fdc_corporate_participate_inscription') }}">{{ 'header.nav.inscription'|trans }}</a></li>
                                            {% elseif loop.index0 == 2 %}
                                                <li><a href="{{ path('fdc_corporate_participate_guide') }}">{{ 'header.nav.guide'|trans }}</a></li>
                                            {% elseif loop.index0 == 1 %}
                                                <li><a href="{{ path('fdc_corporate_participate_accredit') }}">{{ 'header.nav.accredit'|trans }}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% for k,child in participateMenu %}
                                        {% if child.level2 %}
                                            <li><a href="{{ path('fdc_corporate_participate_getpage', {'slug': child|trans_fallback('slug') }) }}"> {{ child|trans_fallback('title') }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                    </article>
                {% elseif route.route == 'fdc_corporate_editions_retrospective' and route.enabled == true %}
                <article class="sitemap-item">
                    <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                    {% if route['__children'] is defined and route['__children']|length > 0  %}
                        <ul class="tcenter">
                            {% for child in route['__children'] %}
                                {% if child.enabled %}
                                    <li>
                                        {% if child.route != '#' %}
                                            <a href="{{ path(child.route) }}">
                                                {{ child.transName|trans }}
                                            </a>
                                        {% elseif child.route == '#' %}
                                            <a href="#">
                                                {{ child.transName|trans }}
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </article>
                {% else %}
                    <article class="sitemap-item">
                        <h3 class="title sitemap-item-title">{{ route.transName|trans }}</h3>
                        <ul>
                            {% if route.route == '#' %}
                                <li><a href="#">{{ route.transName|trans }}</a></li>
                            {% else %}
                                <li><a href="{{ path(route.route) }}">{{ route.transName|trans }}</a></li>
                            {% endif %}
                            {% for child in route['__children'] %}
                                {% if child.enabled %}
                                    {% if child.route == '#' %}
                                        <li><a href="#">{{ child.transName|trans }}</a></li>
                                    {% else %}
                                        <li><a href="{{ path(child.route, {locale: app.request.get('locale')}) }}">{{ child.transName|trans }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </article>
                {% endif %}
            {% endfor %}
            <article class="sitemap-item">
                <h3 class="title sitemap-item-title">{{ 'Footer' }}</h3>
                <ul>
                    {% for route in footer %}
                        {% if route.route == 'fdc_corporate_footer_contact' and route.enabled == true %}
                            <li>
                                <a href="{{ path('fdc_corporate_footer_contact') }}">
                                    {{ 'footer.nav.contact'|trans }}
                                </a>
                            </li>
                        {% elseif route.transName == 'footer.nav.faq' and route.enabled == true %}
                            <li>
                                <a href="{{ path('fdc_corporate_footer_faq') }}">
                                    {{ 'footer.nav.faq'|trans }}
                                </a>
                            </li>
                        {% elseif route.transName == 'footer.nav.credit' and route.enabled == true %}
                            <li>
                                <a href="{{ path('fdc_corporate_footer_credits') }}">
                                    {{ 'footer.nav.credit'|trans }}
                                </a>
                            </li>
                        {% elseif route.transName == 'footer.nav.mentionslegales' and route.enabled == true %}
                            <li>
                                <a href="{{ path('fdc_corporate_footer_mentionslegales') }}">
                                    {{ 'footer.nav.mentionslegales'|trans }}
                                </a>
                            </li>
                        {% elseif route.transName == 'footer.nav.plandusite' and route.enabled == true %}
                            <li>
                                <a href="{{ path('fdc_corporate_footer_sitemap') }}">
                                    {{ 'footer.nav.plandusite'|trans }}
                                </a>
                            </li>
                        {% elseif route.transName == 'footer.nav.politiqueconfidentialite' and route.enabled == true %}
                            <li>
                                <a href="{{ path('fdc_corporate_footer_privacy') }}">
                                    {{ 'footer.nav.politiqueconfidentialite'|trans }}
                                </a>
                            </li>
                        {% elseif route.transName == 'footer.nav.boutique' and route.enabled == true  %}
                            <li>
                                <a href="{{ footer_boutique }}">
                                    {{ 'footer.nav.boutique'|trans }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </article>
        </section>
    </div>
{% endblock %}