{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    <ul class="a2lix_translationsLocales nav nav-tabs">
        {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}
            <li data-locale="{{ locale }}" {% if currentLocale == locale %}class="nav-tab-active active"{% endif %}>
                <a {% if translationsFields.vars.value is not null %}class="{{ translationsFields.vars.value.status|translate_status_to_admin_class }}"{% endif %} href="#" data-toggle="tab" data-target=".a2lix_translationsFields-{{ locale }}">
                    {{ ('lang.' ~ locale)|trans() }}
                    {% if form.vars.default_locale == locale %}[MASTER]{% endif %}
                    {% if translationsFields.vars.required %}*{% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div class="a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">
                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ 'group.main_infos'|trans }}
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    Titre
                                    {{ form_row(translationsFields.title) }}
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    Première colonne
                                    {{ form_row(translationsFields.firstColumn) }}
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    Deuxième colonne
                                    {{ form_row(translationsFields.secondColumn) }}
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    Troisième colonne
                                    {{ form_row(translationsFields.thirdColumn) }}
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    Quatrième colonne
                                    {{ form_row(translationsFields.fourthColumn) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% if form.vars.default_locale == locale %}
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.press.publish_parameters'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(form.parent.children.publishedAt) }}
                                        {{ form_row(form.parent.children.publishEndedAt) }}
                                        {{ form_row(translationsFields.status) }}
                                        <div class="form-group fdc-input-border">
                                            {{ form_widget(form.parent.children.translate) }}
                                            {{ form_label(form.parent.children.translate) }}
                                            {{ form_widget(form.parent.children.translateOptions) }}
                                            {{ form_row(form.parent.children.priorityStatus) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Titre
                                            </label>
                                            {% if form.children.fr.vars.value is not null %}
                                                <div>
                                                    {{ form.children.fr.vars.value.title }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if form.vars.default_locale != locale %}
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form_row(translationsFields.status) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
</div>
