{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% include 'BaseAdminBundle:Block:languages.tabs.html.twig' %}

    <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {{ form_row(translationsFields.applyChanges) }}
            {% set locale = translationsFields.vars.name %}
            {% if is_granted('ROLE_TRANSLATOR_FR') %}
                {% set currentLocale = 'fr' %}
            {% elseif is_granted('ROLE_TRANSLATOR_EN') %}
                {% set currentLocale = 'en' %}
            {% elseif is_granted('ROLE_TRANSLATOR_ES') %}
                {% set currentLocale = 'es' %}
            {% elseif is_granted('ROLE_TRANSLATOR_ZH') %}
                {% set currentLocale = 'zh' %}
            {% endif %}
            <div class="{% if app.request.get('code') is not null %}popin-a2lix-{{ locale }}{% else %}main-a2lix-{{ locale }}{% endif %} a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">
                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    Informations de base
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {{ form_row(translationsFields.title) }}
                                    {{ form_row(translationsFields.procedureContent) }}
                                </div>
                            </div>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    Règlement de la procédure
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {{ form_row(translationsFields.pushTitle) }}
                                    {{ form_row(translationsFields.pushSubTitle) }}
                                    <div class="row">
                                        <div class="col-md-5">
                                            {{ form_row(translationsFields.btnSelectionLabel) }}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5">
                                            {{ form_row(translationsFields.btnSelectionLink) }}
                                        </div>
                                    </div>
                                    {{ form_row(form.parent.children.mainImage) }}
                                    {{ form_row(translationsFields.rulesContent) }}
                                    {{ form_row(form.parent.children.pdf) }}
                                    {{ form_row(form.parent.children.displayReglement) }}
                                </div>
                            </div>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    Strate Formulaire d'inscription
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields" id="sonata-btn-procedure-collection">
                                    <style>
                                        #sonata-btn-procedure-collection .btn.btn-danger.btn-sm.btn-outline.sonata-ba-action {
                                            display: none;
                                        }
                                    </style>
                                    {{ form_row(translationsFields.btnText) }}
                                    <div class="row">
                                        <div class="col-md-5">
                                            {{ form_row(translationsFields.btnLabel) }}
                                            {{ form_row(form.parent.children.displayInscription) }}
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5">
                                            {{ form_row(translationsFields.btnLink) }}
                                        </div>
                                    </div>
                                    {{ form_row(form.parent.children.backgroundImage) }}
                                    {{ form_row(translationsFields.inscriptionContent) }}
                                </div>
                            </div>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    Contact
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields" id="sonata-btn-procedure-collection">
                                    <style>
                                        #sonata-btn-procedure-collection .btn.btn-danger.btn-sm.btn-outline.sonata-ba-action {
                                            display: none;
                                        }
                                    </style>
                                    {{ form_row(translationsFields.contactTitle) }}
                                    {{ form_row(translationsFields.firstColumnContact) }}
                                    {{ form_row(translationsFields.secondColumnContact) }}
                                    {{ form_row(form.parent.children.displayContact) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% if form.vars.default_locale == locale %}
                            {% include 'BaseAdminBundle:TranslationFormBundle:components/publish_parameters.html.twig' with {status: false} %}
                        {% else %}
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans|nl2br }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <h4 class="box-title">
                                        Informations de base
                                    </h4>
                                    <div>
                                        <label>
                                            Nom du média
                                        </label>
                                            <span>
                                            {% if form.children.fr.vars.value is not null %}
                                                <div>
                                                    {{ form.children.fr.vars.value.title }}
                                                </div>
                                            {% endif %}
                                            </span>
                                    </div>
                                    <div>
                                        <label>
                                            Procédures
                                        </label>
                                            <span>
                                            {% if form.children.fr.vars.value is not null %}
                                                <div>
                                                    {{ form.children.fr.vars.value.procedureContent|raw }}
                                                </div>
                                            {% endif %}
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="box box-success">
                                <div class="box-body">
                                    <h4 class="box-title">
                                        Règlement de la procédure
                                    </h4>
                                    <div>
                                        <label>
                                            Titre du push
                                        </label>
                                            <span>
                                            {% if form.children.fr.vars.value is not null %}
                                                <div>
                                                    {{ form.children.fr.vars.value.pushTitle }}
                                                </div>
                                            {% endif %}
                                            </span>
                                    </div>
                                    <div>
                                        <label>
                                            Sous-titre du push
                                        </label>
                                            <span>
                                            {% if form.children.fr.vars.value is not null %}
                                                <div>
                                                    {{ form.children.fr.vars.value.pushSubTitle }}
                                                </div>
                                            {% endif %}
                                            </span>
                                    </div>
                                    <div>
                                        <label>
                                            Règlement contenu
                                        </label>
                                            <span>
                                            {% if form.children.fr.vars.value is not null %}
                                                <div>
                                                    {{ form.children.fr.vars.value.rulesContent|raw }}
                                                </div>
                                            {% endif %}
                                            </span>
                                    </div>
                                    <div>
                                        <label>
                                            Bouton 1 Label
                                        </label>
                                            <span>
                                            {% if form.children.fr.vars.value is not null %}
                                                <div>
                                                    {{ form.children.fr.vars.value.btnSelectionLabel|raw }}
                                                </div>
                                            {% endif %}
                                            </span>
                                    </div>
                                    <div>
                                        <label>
                                            Bouton 1 Lien
                                        </label>
                                            <span>
                                            {% if form.children.fr.vars.value is not null %}
                                                <div>
                                                    {{ form.children.fr.vars.value.btnSelectionLink|raw }}
                                                </div>
                                            {% endif %}
                                            </span>
                                    </div>
                                    <div class="box box-success">
                                        <div class="box-body">
                                            <h4 class="box-title">
                                                Contenu bloc inscription
                                            </h4>
                                            <div>
                                                <label>
                                                    Contenu
                                                </label>
                                    <span>
                                    {% if form.children.fr.vars.value is not null %}
                                        <div>
                                            {{ form.children.fr.vars.value.inscriptionContent|raw }}
                                        </div>
                                    {% endif %}
                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <h4 class="box-title">
                                            Informations bloc formulaire
                                        </h4>
                                        <div class="box-body">
                                            <h4 class="box-title">
                                                Contact
                                            </h4>
                                            <div>
                                                <label>
                                                    Titre
                                                </label>
                                    <span>
                                    {% if form.children.fr.vars.value is not null %}
                                        <div>
                                            {{ form.children.fr.vars.value.contactTitle|raw }}
                                        </div>
                                    {% endif %}
                                    </span>
                                            </div>

                                            <div>
                                                <label>
                                                    -> Première colonne <-
                                                </label>
                                    <span>
                                    {% if form.children.fr.vars.value is not null %}
                                        <div>
                                            {{ form.children.fr.vars.value.firstColumnContact|raw }}
                                        </div>
                                    {% endif %}
                                    </span>
                                            </div>

                                            <div>
                                                <label>
                                                    -> Deuxième colonne <-
                                                </label>
                                    <span>
                                    {% if form.children.fr.vars.value is not null %}
                                        <div>
                                            {{ form.children.fr.vars.value.secondColumnContact|raw }}
                                        </div>
                                    {% endif %}
                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.news.publish_parameters'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {% if is_granted('ROLE_TRANSLATOR_FR') or is_granted('ROLE_TRANSLATOR_EN') or is_granted('ROLE_TRANSLATOR_ES') or is_granted('ROLE_TRANSLATOR_ZH') %}
                                            {{ form_row(translationsFields.status, {'attr': {'class': 'translator'}}) }}
                                        {% elseif is_granted('ROLE_JOURNALIST') %}
                                            {{ form_row(translationsFields.status, {'attr': {'class': 'journalist'}}) }}
                                        {% elseif is_granted('ROLE_TRANSLATOR_MASTER') %}
                                            {{ form_row(translationsFields.status, {'attr': {'class': 'master_translator'}}) }}
                                        {% else %}
                                            {{ form_row(translationsFields.status) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>