{# added translations custom display #}

{% block base_admin_statement_audio_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:statement.audio.html.twig' %}
{% endblock %}

{% block base_admin_statement_video_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:statement.video.html.twig' %}
{% endblock %}

{% block base_admin_statement_image_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:statement.image.html.twig' %}
{% endblock %}

{% block base_admin_statement_article_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:statement.html.twig' %}
{% endblock %}

{% block base_admin_info_audio_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:info.audio.html.twig' %}
{% endblock %}

{% block base_admin_info_image_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:info.image.html.twig' %}
{% endblock %}

{% block base_admin_info_video_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:info.video.html.twig' %}
{% endblock %}

{% block base_admin_info_article_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:info.html.twig' %}
{% endblock %}

{% block base_admin_news_article_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:article.html.twig' %}
{% endblock %}

{% block base_admin_news_audio_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:article.html.twig' %}
{% endblock %}

{% block base_admin_news_image_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:article_image.html.twig' %}
{% endblock %}

{% block base_admin_web_tv_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:web_tv.html.twig' %}
{% endblock %}

{% block base_admin_media_video_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:media_video.html.twig' %}
{% endblock %}

{% block base_admin_event_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:event.html.twig' %}
{% endblock %}

{% block base_admin_event_theme_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:theme.html.twig' with { 'admin_edit_theme_route' : 'admin_base_event_theme_edit'} %}
{% endblock %}

{% block base_admin_media_theme_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:theme.html.twig' %}
{% endblock %}

{% block base_admin_media_image_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:media_image.html.twig' %}
{% endblock %}

{% block base_admin_media_audio_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:media_audio.html.twig' %}
{% endblock %}

{% block base_admin_news_tag_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:news_tag.html.twig' %}
{% endblock %}

{% block base_admin_theme_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:theme.html.twig' %}
{% endblock %}

{%  block base_admin_homepage_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:homepage.html.twig' %}
{% endblock %}

{% block base_admin_contact_theme_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:contact_theme.html.twig' %}
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}

{# added image preview #}
{% block base_admin_news_article_header_sonata_type_model_list_widget %}
    <div class="Base-sonata-media-ajax-display">
    {% if form.parent.vars.value.header is not null and 
        form.parent.vars.value.header.file is not null %}
        {% media form.parent.vars.value.header.file, 'small' %} 
    {% endif %}
    </div>
    {{ block('sonata_type_model_list_widget') }}
{% endblock %}

{# added clearfix #}
{% block sonata_media_type_widget %}
    <div class="clearfix">
        <div class="span3 pull-left">
            {% if value is not empty and value.providerReference %}
                {% if value.providerName == 'sonata.media.provider.video'  %}
                    <div class="pull-left" style="margin-right: 5px">
                    </div>
                    {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                        <a href="{{ url('admin_sonata_media_media_edit', {id: value.id}) }}"><strong>{{ value.name }}</strong></a>
                    {% else %}
                        <strong>{{ value.name }}</strong>
                    {% endif %}
                    <br />
                {% else %}
                    <div class="pull-left" style="margin-right: 5px">
                        {% thumbnail value, 'admin' with {'class': 'img-polaroid media-object'} %}
                    </div>
                {% endif %}
                {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                    <a href="{{ url('admin_sonata_media_media_edit', {id: value.id}) }}"><strong>{{ value.name }}</strong></a>
                {% else %}
                    <strong>{{ value.name }}</strong>
                {% endif %}
                 <br />
            {% else %}
                <div class="pull-left" style="margin-right: 5px">
                    <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="img-polaroid media-object" style="width: 85px; height: 85px"/>
                </div>
                <strong>{{ 'no_linked_media'|trans({}, 'SonataMediaBundle') }}</strong> <br />
            {% endif %}
        </div>
    
        <div class="span3 pull-left">
            {{ 'link_media'|trans({}, 'SonataMediaBundle') }}
            {{ block('form_widget') }}
        </div>
    </div>
{% endblock %}