{# added translations custom display #}

{# {% block base_admin_widget_mosaic_movie_film_film_a2lix_translations_widget %}
    {{ form_widget(form.children.fr) }}
{% endblock %}
#}

{% block base_admin_mdf_site_plan_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_site_plan.html.twig' %}
{% endblock %}

{% block base_admin_mdf_press_release_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_press_release.html.twig' %}
{% endblock %}

{% block base_admin_mdf_404_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_404.html.twig' %}
{% endblock %}

{% block base_admin_mdf_industry_program_home_goes_to_cannes_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_industry_program_home.html.twig' %}
{% endblock %}

{% block base_admin_mdf_industry_program_home_mixers_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_industry_program_home.html.twig' %}
{% endblock %}

{% block base_admin_mdf_industry_program_home_next_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_industry_program_home.html.twig' %}
{% endblock %}

{% block base_admin_mdf_industry_program_home_doc_corner_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_industry_program_home.html.twig' %}
{% endblock %}

{% block base_admin_mdf_industry_program_home_producers_network_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_industry_program_home.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_partner_goes_to_cannes_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_partner.html.twig' %}
{% endblock %}

{% block base_admin_mdf_speakers_goes_to_cannes_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_speakers.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_program_goes_to_cannes_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_program.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_partner_mixers_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_partner.html.twig' %}
{% endblock %}

{% block base_admin_mdf_speakers_mixers_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_speakers.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_program_mixers_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_program.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_partner_next_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_partner.html.twig' %}
{% endblock %}

{% block base_admin_mdf_speakers_next_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_speakers.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_program_next_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_program.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_partner_doc_corner_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_partner.html.twig' %}
{% endblock %}

{% block base_admin_mdf_speakers_doc_corner_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_speakers.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_program_doc_corner_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_program.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_partner_producers_network_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_partner.html.twig' %}
{% endblock %}

{% block base_admin_mdf_speakers_producers_network_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_speakers.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_program_producers_network_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_program.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_partner_logo_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_partner_logo.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_partner_tab_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_partner_tab.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_partner_producers_workshop_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_partner.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_news_page_producers_workshop_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_news_page.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_news_page_producers_network_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_news_page.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_news_page_doc_corner_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_news_page.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_news_page_next_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_news_page.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_news_page_mixers_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_news_page.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_news_page_goes_to_cannes_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_news_page.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_info_and_contact_producers_workshop_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_info_and_contact.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_info_and_contact_producers_network_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_info_and_contact.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_info_and_contact_doc_corner_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_info_and_contact.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_info_and_contact_next_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_info_and_contact.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_info_and_contact_mixers_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_info_and_contact.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_info_and_contact_goes_to_cannes_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_info_and_contact.html.twig' %}
{% endblock %}

{% block base_admin_mdf_program_speaker_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_program_speakers.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_program_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_program.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_program_day_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_program_day.html.twig' %}
{% endblock %}

{% block base_admin_mdf_conference_program_event_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_conference_program_event.html.twig' %}
{% endblock %}

{% block base_admin_mdf_general_conditions_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_general_conditions.html.twig' %}
{% endblock %}

{% block base_admin_mdf_legal_mentions_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_legal_mentions.html.twig' %}
{% endblock %}

{% block base_admin_mdf_who_are_we_environmental_approaches_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_who_are_we_environmental_approaches.html.twig' %}
{% endblock %}

{% block base_admin_mdf_who_are_we_key_figures_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_who_are_we_key_figures.html.twig' %}
{% endblock %}

{% block base_admin_mdf_who_are_we_history_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_who_are_we_history.html.twig' %}
{% endblock %}

{% block base_admin_mdf_theme_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_theme.html.twig' %}
{% endblock %}

{% block base_admin_mdf_news_page_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_news_page.html.twig' %}
{% endblock %}

{% block base_admin_mdf_news_details_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_news_details.html.twig' %}
{% endblock %}

{% block base_admin_mdf_industry_program_home_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_industry_program_home.html.twig' %}
{% endblock %}

{% block base_admin_mdf_edition_projections_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_edition_projections.html.twig' %}
{% endblock %}

{% block base_admin_mdf_homepage_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_homepage.html.twig' %}
{% endblock %}

{% block base_admin_mdf_edition_presentation_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_edition_presentation.html.twig' %}
{% endblock %}

{% block base_admin_mdf_header_footer_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_header_footer.html.twig' %}
{% endblock %}

{% block base_admin_mdf_contact_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_contact.html.twig' %}
{% endblock %}

{% block base_admin_mdf_dispatch_de_service_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_dispatch_de_service.html.twig' %}
{% endblock %}

{% block base_admin_mdf_gallery_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_gallery.html.twig' %}
{% endblock %}

{% block base_admin_mdf_service_gallery_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_service_gallery.html.twig' %}
{% endblock %}

{% block base_admin_mdf_media_audio_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_media_audio.html.twig' %}
{% endblock %}

{% block base_admin_mdf_media_image_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_media_image.html.twig' %}
{% endblock %}

{% block base_admin_mdf_media_image_simple_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_media_image_simple.html.twig' %}
{% endblock %}

{% block base_admin_mdf_media_pdf_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_media_pdf.html.twig' %}
{% endblock %}

{% block base_admin_mdf_media_video_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_media_video.html.twig' %}
{% endblock %}

{% block base_admin_mdf_accreditation_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_accreditation.html.twig' %}
{% endblock %}

{% block base_admin_mdf_press_coverage_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_press_coverage.html.twig' %}
{% endblock %}

{% block base_admin_mdf_press_gallery_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_press_gallery.html.twig' %}
{% endblock %}

{% block base_admin_mdf_press_graphical_charter_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_press_graphical_charter.html.twig' %}
{% endblock %}

{% block base_admin_mdf_who_are_we_team_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_who_are_we_team.html.twig' %}
{% endblock %}

{% block base_admin_mdf_service_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_service.html.twig' %}
{% endblock %}

{% block base_admin_mdf_service_widget_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_service_widget.html.twig' %}
{% endblock %}

{% block base_admin_mdf_service_widget_product_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_service_widget_product.html.twig' %}
{% endblock %}

{% block base_admin_mdf_speakers_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_speakers.html.twig' %}
{% endblock %}

{% block base_admin_mdf_speakers_choices_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_speakers_choices.html.twig' %}
{% endblock %}

{% block base_admin_mdf_speakers_details_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_speakers_details.html.twig' %}
{% endblock %}

{% block base_admin_mdf_global_events_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_global_events.html.twig' %}
{% endblock %}

{% block base_admin_mdf_global_events_day_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_global_events_day.html.twig' %}
{% endblock %}

{% block base_admin_mdf_global_events_schedule_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mdf_global_events_schedule.html.twig' %}
{% endblock %}

{% block base_admin_press_statement_info_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_statement_info.html.twig' %}
{% endblock %}

{% block base_admin_press_cinema_room_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_cinema_room.html.twig' %}
{% endblock %}

{% block base_admin_press_cinema_map_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_cinema_map.html.twig' %}
{% endblock %}

{% block base_admin_press_projection_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_projection.html.twig' %}
{% endblock %}

{% block base_admin_press_download_section_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_download_section.html.twig' %}
{% endblock %}

{% block base_admin_corpo_team_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:corpo_team.html.twig' %}
{% endblock %}

{% block base_admin_corpo_palme_or_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:corpo_palme_or.html.twig' %}
{% endblock %}

{% block base_admin_corpo_team_members_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:corpo_team_members.html.twig' %}
{% endblock %}

{% block base_admin_corpo_festival_history_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:corpo_festival_history.html.twig' %}
{% endblock %}

{% block base_admin_corpo_team_departements_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:corpo_team_departements.html.twig' %}
{% endblock %}

{% block base_admin_homepage_corporate_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:homepage_corporate.html.twig' %}
{% endblock %}

{% block base_admin_corpo_search_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:corpo_search.html.twig' %}
{% endblock %}

{% block base_admin_gallery_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:gallery.html.twig' %}
{% endblock %}

{% block base_admin_press_download_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_download.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_participate_section_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_participate_section.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_participate_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_participate.html.twig' %}
{% endblock %}

{% block base_admin_corpo_team_teams_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:corpo_team_teams.html.twig' %}
{% endblock %}

{% block base_admin_press_media_library_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_media_library.html.twig' %}
{% endblock %}

{% block base_admin_press_guide_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_guide.html.twig' %}
{% endblock %}

{% block base_admin_corpo_movie_inscription_procedure_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:corpo_movie_inscription_procedure.html.twig' %}
{% endblock %}

{% block base_admin_corpo_movie_inscription_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:corpo_movie_inscription.html.twig' %}
{% endblock %}

{% block base_admin_press_accredit_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_accredit.html.twig' %}
{% endblock %}

{% block base_admin_press_accredit_procedure_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_accredit_procedure.html.twig' %}
{% endblock %}

{% block base_admin_corpo_accredit_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:corpo_accredit.html.twig' %}
{% endblock %}

{% block base_admin_corpo_accredit_procedure_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:corpo_accredit_procedure.html.twig' %}
{% endblock %}

{% block base_admin_press_homepage_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_homepage.html.twig' %}
{% endblock %}

{% block base_admin_contact_page_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:contact_page.html.twig' %}
{% endblock %}

{% block base_admin_statement_audio_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:statement.audio.html.twig' %}
{% endblock %}

{% block base_admin_statement_video_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:statement.video.html.twig' %}
{% endblock %}

{% block base_admin_statement_image_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:statement.image.html.twig' %}
{% endblock %}

{% block base_admin_statement_article_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:statement.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_footer_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_footer.html.twig' %}
{% endblock %}

{% block base_admin_info_audio_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:info.audio.html.twig' %}
{% endblock %}

{% block base_admin_info_image_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:info.image.html.twig' %}
{% endblock %}

{% block base_admin_info_video_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:info.video.html.twig' %}
{% endblock %}

{% block base_admin_info_article_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:info.html.twig' %}
{% endblock %}

{% block base_admin_news_article_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:article.html.twig' %}
{% endblock %}

{% block base_admin_news_video_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:article_video.html.twig' %}
{% endblock %}

{% block base_admin_news_audio_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:article_audio.html.twig' %}
{% endblock %}

{% block base_admin_news_image_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:article_image.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_prepare_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_prepare.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_news_articles_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_news.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_news_audios_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_news.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_news_images_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_news.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_news_videos_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_news.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_web_tv_channels_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_web_tv_channels.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_web_tv_live_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_web_tv_live.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_web_tv_trailers_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_web_tv_trailers.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_la_selection_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_la_selection.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_la_selection_cannes_classics_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_la_selection_cannes_classics.html.twig' %}
{% endblock %}

{% block base_admin_corpo_who_are_we_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:corpo_who_are_we.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_la_selection_cinema_plage_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_la_selection_cinema_plage.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_jury_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_jury.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_award_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_award.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_event_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_event.html.twig' %}
{% endblock %}

{% block base_admin_corpo_mediatheque_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:corpo_mediatheque.html.twig' %}
{% endblock %}

{% block base_admin_web_tv_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:web_tv.html.twig' %}
{% endblock %}

{% block base_admin_media_video_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:media_video.html.twig' %}
{% endblock %}

{% block base_admin_event_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:event.html.twig' %}
{% endblock %}

{% block base_admin_event_theme_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:theme.html.twig' with { 'admin_edit_theme_route' : 'admin_base_event_theme_edit'} %}
{% endblock %}

{% block base_admin_media_theme_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:theme.html.twig' %}
{% endblock %}

{% block base_admin_faq_theme_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:theme.html.twig' %}
{% endblock %}

{% block base_admin_media_image_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:media_image.html.twig' %}
{% endblock %}

{% block base_admin_media_pdf_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:media_pdf.html.twig' %}
{% endblock %}

{% block base_admin_faq_page_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:faq_page.html.twig' %}
{% endblock %}

{% block base_admin_media_image_simple_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:media_image_simple.html.twig' %}
{% endblock %}

{% block base_admin_media_audio_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:media_audio.html.twig' %}
{% endblock %}

{% block base_admin_tag_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:tag.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_waiting_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_waiting.html.twig' %}
{% endblock %}

{% block base_admin_theme_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:theme.html.twig' %}
{% endblock %}

{%  block base_admin_fdc_cannes_classics_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_cannes_classics.html.twig' %}
{% endblock %}

{%  block base_admin_homepage_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:homepage.html.twig' %}
{% endblock %}

{% block base_admin_contact_theme_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:contact_theme.html.twig' %}
{% endblock %}

{% block base_admin_orange_series_and_cie_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:orange_series_and_cie.html.twig' %}
{% endblock %}

{% block base_admin_orange_programmation_ocs_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:orange_programmation_ocs.html.twig' %}
{% endblock %}

{% block base_admin_orange_vod_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:orange_vod.html.twig' %}
{% endblock %}

{% block base_admin_orange_studio_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:orange_studio.html.twig' %}
{% endblock %}

{% block base_admin_mobile_notification_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:mobile_notification.html.twig' %}
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}

{# added image preview #}
{% block base_admin_news_article_header_sonata_type_model_list_widget %}
    <div class="Base-sonata-media-ajax-display">
    {% if form.parent.vars.value.header is not null and 
        form.parent.vars.value.header.file is not null %}
        {% media form.parent.vars.value.header.file, '586x370' %}
    {% endif %}
    </div>
    {{ block('sonata_type_model_list_widget') }}
{% endblock %}

{# added clearfix #}
{% block sonata_media_type_widget %}
    <div class="clearfix">
        <div class="span3">
            {% if value is not empty and value.providerReference %}
                {% if value.providerName == 'sonata.media.provider.video'%}
                    <div class="pull-left" style="margin-right: 5px">
                    </div>
                    {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                        <a href="{{ url('admin_sonata_media_media_edit', {id: value.id}) }}"><strong>{{ value.name }}</strong></a>
                    {% else %}
                        <strong>{{ value.name }}</strong>
                    {% endif %}
                {% elseif value.providerName == 'sonata.media.provider.audio' %}
                    <div class="pull-left" style="margin-right: 5px">
                    </div>
                    {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                        <a href="{{ url('admin_sonata_media_media_edit', {id: value.id}) }}"><strong>{{ value.name }}</strong></a>
                    {% else %}
                        <strong>{{ value.name }}</strong>
                    {% endif %}
                {% elseif value.providerName == 'sonata.media.provider.pdf' %}
                    <div class="pull-left" style="margin-right: 5px">
                    </div>
                    {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                        <a href="{{ url('admin_sonata_media_media_edit', {id: value.id}) }}"><strong>{{ value.name }}</strong></a>
                    {% else %}
                        <strong>{{ value.name }}</strong>
                    {% endif %}
                {% elseif not value.thumbsGenerated %}
                    <div class="pull-left" style="margin-right: 5px">
                        <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="img-polaroid media-object" style="width: 85px; height: 85px"/>
                    </div>
                    <strong>Miniature en cours de création.</strong> <br />
                {% else %}
                    <div class="pull-left" style="margin-right: 5px">
                        {% thumbnail value, 'admin' with {'class': 'img-polaroid media-object'} %}
                    </div>
                {% endif %}
            {% else %}
                <div class="pull-left" style="margin-right: 5px">
                    <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="img-polaroid media-object" style="width: 85px; height: 85px"/>
                </div>
                <strong>{{ 'no_linked_media'|trans({}, 'SonataMediaBundle') }}</strong> <br />
            {% endif %}
        </div>

        <div class="span3 pull-left">
            {{ 'link_media'|trans({}, 'SonataMediaBundle') }}
            {{ block('form_widget') }}
        </div>
    </div>
{% endblock %}