{# added translations custom display #}
{% block base_admin_press_statement_info_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_statement_info.html.twig' %}
{% endblock %}

{% block base_admin_press_cinema_room_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_cinema_room.html.twig' %}
{% endblock %}

{% block base_admin_press_cinema_map_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_cinema_map.html.twig' %}
{% endblock %}

{% block base_admin_press_projection_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_projection.html.twig' %}
{% endblock %}

{% block base_admin_press_download_section_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_download_section.html.twig' %}
{% endblock %}

{% block base_admin_press_download_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_download.html.twig' %}
{% endblock %}

{% block base_admin_press_media_library_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_media_library.html.twig' %}
{% endblock %}

{% block base_admin_press_guide_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_guide.html.twig' %}
{% endblock %}

{% block base_admin_press_accredit_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_accredit.html.twig' %}
{% endblock %}

{% block base_admin_press_accredit_procedure_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_accredit_procedure.html.twig' %}
{% endblock %}

{% block base_admin_press_homepage_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:press_homepage.html.twig' %}
{% endblock %}

{% block base_admin_contact_page_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:contact_page.html.twig' %}
{% endblock %}

{% block base_admin_statement_audio_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:statement.audio.html.twig' %}
{% endblock %}

{% block base_admin_statement_video_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:statement.video.html.twig' %}
{% endblock %}

{% block base_admin_statement_image_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:statement.image.html.twig' %}
{% endblock %}

{% block base_admin_statement_article_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:statement.html.twig' %}
{% endblock %}

{% block base_admin_info_audio_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:info.audio.html.twig' %}
{% endblock %}

{% block base_admin_info_image_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:info.image.html.twig' %}
{% endblock %}

{% block base_admin_info_video_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:info.video.html.twig' %}
{% endblock %}

{% block base_admin_info_article_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:info.html.twig' %}
{% endblock %}

{% block base_admin_news_article_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:article.html.twig' %}
{% endblock %}

{% block base_admin_news_video_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:article_video.html.twig' %}
{% endblock %}

{% block base_admin_news_audio_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:article_audio.html.twig' %}
{% endblock %}

{% block base_admin_news_image_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:article_image.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_news_articles_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_news.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_news_audios_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_news.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_news_images_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_news.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_news_videos_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_news.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_web_tv_channels_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_web_tv_channels.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_web_tv_live_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_web_tv_live.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_web_tv_trailers_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_web_tv_trailers.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_la_selection_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_la_selection.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_jury_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_jury.html.twig' %}
{% endblock %}

{% block base_admin_web_tv_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:web_tv.html.twig' %}
{% endblock %}

{% block base_admin_media_video_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:media_video.html.twig' %}
{% endblock %}

{% block base_admin_event_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:event.html.twig' %}
{% endblock %}

{% block base_admin_event_theme_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:theme.html.twig' with { 'admin_edit_theme_route' : 'admin_base_event_theme_edit'} %}
{% endblock %}

{% block base_admin_media_theme_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:theme.html.twig' %}
{% endblock %}

{% block base_admin_media_image_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:media_image.html.twig' %}
{% endblock %}

{% block base_admin_media_image_simple_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:media_image_simple.html.twig' %}
{% endblock %}

{% block base_admin_media_audio_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:media_audio.html.twig' %}
{% endblock %}

{% block base_admin_tag_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:tag.html.twig' %}
{% endblock %}

{% block base_admin_fdc_page_waiting_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:fdc_page_waiting.html.twig' %}
{% endblock %}

{% block base_admin_theme_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:theme.html.twig' %}
{% endblock %}

{%  block base_admin_homepage_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:homepage.html.twig' %}
{% endblock %}

{% block base_admin_contact_theme_translations_a2lix_translations_widget %}
    {% include 'BaseAdminBundle:TranslationFormBundle:contact_theme.html.twig' %}
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}

{# added image preview #}
{% block base_admin_news_article_header_sonata_type_model_list_widget %}
    <div class="Base-sonata-media-ajax-display">
    {% if form.parent.vars.value.header is not null and 
        form.parent.vars.value.header.file is not null %}
        {% media form.parent.vars.value.header.file, '586x370' %}
    {% endif %}
    </div>
    {{ block('sonata_type_model_list_widget') }}
{% endblock %}

{# added clearfix #}
{% block sonata_media_type_widget %}
    <div class="clearfix">
        <div class="span3">
            {% if value is not empty and value.providerReference %}
                {% if value.providerName == 'sonata.media.provider.video'  %}
                    <div class="pull-left" style="margin-right: 5px">
                    </div>
                    {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                        <a href="{{ url('admin_sonata_media_media_edit', {id: value.id}) }}"><strong>{{ value.name }}</strong></a>
                    {% else %}
                        <strong>{{ value.name }}</strong>
                    {% endif %}
                {% elseif value.providerName == 'sonata.media.provider.audio'%}
                    <div class="pull-left" style="margin-right: 5px">
                    </div>
                    {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                        <a href="{{ url('admin_sonata_media_media_edit', {id: value.id}) }}"><strong>{{ value.name }}</strong></a>
                    {% endif %}
                {% else %}
                    <div class="pull-left" style="margin-right: 5px">
                        {% thumbnail value, 'admin' with {'class': 'img-polaroid media-object'} %}
                    </div>
                {% endif %}
            {% else %}
                <div class="pull-left" style="margin-right: 5px">
                    <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="img-polaroid media-object" style="width: 85px; height: 85px"/>
                </div>
                <strong>{{ 'no_linked_media'|trans({}, 'SonataMediaBundle') }}</strong> <br />
            {% endif %}
        </div>

        <div class="span3 pull-left">
            {{ 'link_media'|trans({}, 'SonataMediaBundle') }}
            {{ block('form_widget') }}
        </div>
    </div>
{% endblock %}