{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% include 'BaseAdminBundle:Block:languages.tabs.html.twig' %}

    <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {{ form_row(translationsFields.applyChanges) }}
            {% set locale = translationsFields.vars.name %}
            {% if is_granted('ROLE_TRANSLATOR_FR') %}
                {% set currentLocale = 'fr' %}
            {% elseif is_granted('ROLE_TRANSLATOR_EN') %}
                {% set currentLocale = 'en' %}
            {% elseif is_granted('ROLE_TRANSLATOR_ES') %}
                {% set currentLocale = 'es' %}
            {% elseif is_granted('ROLE_TRANSLATOR_ZH') %}
                {% set currentLocale = 'zh' %}
            {% endif %}
            <div class="{% if app.request.get('code') is not null %}popin-a2lix-{{ locale }}{% else %}main-a2lix-{{ locale }}{% endif %} a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">

                {% if form.vars.default_locale == locale %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-body">
                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h4 class="box-title">
                                                {{ 'form.fdc_page_prepare.general'|trans }}
                                            </h4>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            {{ form_row(form.parent.children.mainImage) }}
                                            {{ form_row(translationsFields.title) }}
                                            {{ form_row(form.parent.children.mainIcon) }}
                                            {{ form_row(translationsFields.mainDescription) }}
                                            <span class="help-block sonata-ba-field-help">Dimensions attendues : 2560x1103. Format attendu : .jpg, .png, .gif</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-body">
                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h4 class="box-title">
                                                {{ 'form.fdc_page_prepare.arrivee'|trans }}
                                            </h4>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            {{ form_row(translationsFields.arriveTitle) }}
                                            {{ form_row(form.parent.children.arriveIcon) }}
                                            {{ form_row(form.parent.children.arriveDisplayInstit) }}
                                            <div id="fdc-arrive-widget" class="fdc-widgets"
                                                 data-form-widget="collection">
                                                {% for widget in form.parent.children.arriveWidgets.children %}
                                                    <div class="item base-widget">
                                                        {% if widget.children._type.vars.value == 'fdc_page_prepare_widget_picto_type' %}
                                                            <h4><strong>Picto widget</strong></h4>
                                                            {{ form_row(widget.picto) }}
                                                            {{ form_widget(attribute(widget.children.translations, locale)) }}

                                                        {% endif %}
                                                        {{ form_row(widget._type) }}

                                                        <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                            <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <a class="btn btn-primary btn-add-base-widget"
                                               data-prototype="{{ form_widget(form.parent.children.arriveWidgets.vars.prototypes.fdc_page_prepare_widget_picto_type)| escape }}"><i
                                                        class="icon-plus"></i>Module picto / texte</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h4 class="box-title">
                                                {{ 'form.fdc_page_prepare.plans'|trans }}
                                            </h4>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            {{ form_row(translationsFields.informationTitle) }}
                                            {{ form_row(translationsFields.informationDescription) }}
                                            {{ form_row(form.parent.children.informationIcon) }}
                                            {{ form_row(form.parent.children.informationDisplayInstit) }}
                                            <div id="fdc-information-widget" class="fdc-widgets"
                                                 data-form-widget="collection">
                                                {% for widget in form.parent.children.informationWidgets.children %}
                                                    <div class="item base-widget">
                                                        {% if widget.children._type.vars.value == 'fdc_page_prepare_widget_column_type' %}
                                                            <h4><strong>Colonne widget</strong></h4>
                                                            {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                            {{ form_row(widget.image) }}
                                                            {{ form_row(widget.pdf) }}
                                                        {% endif %}
                                                        {{ form_row(widget._type) }}

                                                        <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                            <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <a class="btn btn-primary btn-add-base-widget"
                                               data-prototype="{{ form_widget(form.parent.children.informationWidgets.vars.prototypes.fdc_page_prepare_widget_column_type)| escape }}"><i
                                                        class="icon-plus"></i>Module colonne</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h4 class="box-title">
                                                {{ 'form.fdc_page_prepare.housing'|trans }}
                                            </h4>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            {{ form_row(translationsFields.meetingTitle) }}
                                            {{ form_row(translationsFields.meetingDescription) }}
                                            {{ form_row(translationsFields.meetingLabel) }}
                                            {{ form_row(translationsFields.meetingUrl) }}
                                            {{ form_row(form.parent.children.meetingIcon) }}
                                            {{ form_row(form.parent.children.meetingPdf) }}
                                            {{ form_row(form.parent.children.meetingDisplayInstit) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h4 class="box-title">
                                                Pour plus d'informations
                                            </h4>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            {{ form_row(translationsFields.serviceTitle) }}
                                            {{ form_row(translationsFields.serviceDescription) }}
                                            {{ form_row(form.parent.children.serviceIcon) }}
                                            {{ form_row(form.parent.children.serviceDisplayInstit) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="box box-success">
                                <div class="box-body">
                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h4 class="box-title">
                                                {{ 'form.fdc_page_prepare.general'|trans }}
                                            </h4>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            <div id="{{ locale }}-translation-general-title">
                                                {{ form_row(translationsFields.title) }}
                                            </div>
                                            <div id="{{ locale }}-translation-general-main-description">
                                                {{ form_row(translationsFields.mainDescription) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans|nl2br }}
                                    </h4>
                                </div>
                                <div class="box-body widgets-translations">
                                    {% if form.parent.children.translations.children.fr.vars.value %}
                                        <div class="sonata-ba-collapsed-fields">
                                            <div data-translation="{{ locale }}-translation-general-title">
                                                <div class="form-group">
                                                    <label>
                                                        {{ 'form.fdc_page_prepare.general_title'|trans }}
                                                    </label>
                                                    <div>
                                                        {{ form.parent.children.translations.children.fr.vars.value.title|raw }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="{{ locale }}-translation-general-main-description">
                                                <div class="form-group">
                                                    <label>
                                                        {{ 'form.fdc_page_prepare.general_content'|trans }}
                                                    </label>
                                                    <div>
                                                        {{ form.parent.children.translations.children.fr.vars.value.mainDescription|raw }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="box box-success">
                                <div class="box-body">
                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h4 class="box-title">
                                                {{ 'form.fdc_page_prepare.arrivee'|trans }}
                                            </h4>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            <div id="{{ locale }}-translation-arrivee-title">
                                                {{ form_row(translationsFields.arriveTitle) }}
                                            </div>
                                            {{ form_row(form.parent.children.arriveIcon) }}
                                            <div id="fdc-arrive-widget" class="fdc-widgets"
                                                 data-form-widget="collection">
                                                {% for widget in form.parent.children.arriveWidgets.children %}
                                                    <div class="item base-widget"
                                                         id="{{ locale }}-translation-arrivee-widget-{{ loop.index }}">
                                                        {% if widget.children._type.vars.value == 'fdc_page_prepare_widget_picto_type' %}
                                                            <h4><strong>Picto widget</strong></h4>
                                                            {{ form_row(widget.picto) }}
                                                            {{ form_widget(attribute(widget.children.translations, locale)) }}

                                                        {% endif %}
                                                        {{ form_row(widget._type) }}

                                                        <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                            <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <a class="btn btn-primary btn-add-base-widget"
                                               data-prototype="{{ form_widget(form.parent.children.arriveWidgets.vars.prototypes.fdc_page_prepare_widget_picto_type)| escape }}"><i
                                                        class="icon-plus"></i>Module picto / texte</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans|nl2br }}
                                    </h4>
                                </div>
                                <div class="box-body widgets-translations">
                                    {% if form.parent.children.translations.children.fr.vars.value %}
                                        <div class="sonata-ba-collapsed-fields">
                                            <div class="form-group"
                                                 data-translation="{{ locale }}-translation-arrivee-title">
                                                <label>
                                                    {{ 'form.press_guide.title'|trans }}
                                                </label>
                                                <div>
                                                    {{ form.parent.children.translations.children.fr.vars.value.arriveTitle }}
                                                </div>
                                            </div>
                                            {% for widget in form.parent.children.arriveWidgets.children %}
                                                <div class="item base-widget"
                                                     data-translation="{{ locale }}-translation-arrivee-widget-{{ loop.index }}">
                                                    {% if widget.children._type.vars.value == 'fdc_page_prepare_widget_picto_type' %}
                                                        <div class="form-group">
                                                            <h4>{{ 'form.press_guide.picto_widget'|trans }}</h4>
                                                            <label>
                                                                {{ 'form.press_guide.picto_widget_title'|trans }}
                                                            </label>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.title|raw }}
                                                            </div>
                                                            <label>
                                                                {{ 'form.press_guide.picto_widget_content'|trans }}
                                                            </label>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.content|raw }}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="box box-success">
                                <div class="box-body">
                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h4 class="box-title">
                                                {{ 'form.fdc_page_prepare.plans'|trans }}
                                            </h4>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            <div id="{{ locale }}-translation-information-title">
                                                {{ form_row(translationsFields.informationTitle) }}
                                            </div>
                                            <div id="{{ locale }}-translation-information-description">
                                                {{ form_row(translationsFields.informationDescription) }}
                                            </div>
                                            {{ form_row(form.parent.children.informationIcon) }}
                                            <div id="fdc-information-widget" class="fdc-widgets"
                                                 data-form-widget="collection">
                                                {% for widget in form.parent.children.informationWidgets.children %}
                                                    <div class="item base-widget"
                                                         id="{{ locale }}-translation-information-widget-{{ loop.index }}">
                                                        {% if widget.children._type.vars.value == 'fdc_page_prepare_widget_column_type' %}
                                                            <h4><strong>Colonne widget</strong></h4>
                                                            {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                            {{ form_row(widget.image) }}
                                                            {{ form_row(widget.pdf) }}
                                                        {% endif %}
                                                        {{ form_row(widget._type) }}

                                                        <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                            <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <a class="btn btn-primary btn-add-base-widget"
                                               data-prototype="{{ form_widget(form.parent.children.informationWidgets.vars.prototypes.fdc_page_prepare_widget_column_type)| escape }}"><i
                                                        class="icon-plus"></i>Module colonne</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans|nl2br }}
                                    </h4>
                                </div>
                                <div class="box-body widgets-translations">
                                    {% if form.parent.children.translations.children.fr.vars.value %}
                                        <div class="sonata-ba-collapsed-fields">
                                            <div class="form-group"
                                                 data-translation="{{ locale }}-translation-information-title">
                                                <label>
                                                    {{ 'form.fdc_page_prepare.plans_title'|trans }}
                                                </label>
                                                <div>
                                                    {{ form.parent.children.translations.children.fr.vars.value.informationTitle|raw }}
                                                </div>
                                            </div>
                                            <div class="form-group"
                                                 data-translation="{{ locale }}-translation-information-description">
                                                <label>
                                                    {{ 'form.fdc_page_prepare.plans_description'|trans }}
                                                </label>
                                                <div>
                                                    {{ form.parent.children.translations.children.fr.vars.value.informationDescription|raw }}
                                                </div>
                                            </div>
                                            {% for widget in form.parent.children.informationWidgets.children %}
                                                <div class="item base-widget"
                                                     data-translation="{{ locale }}-translation-information-widget-{{ loop.index }}">
                                                    {% if widget.children._type.vars.value == 'fdc_page_prepare_widget_column_type' %}
                                                        <div class="form-group">
                                                            <h4>{{ 'form.press_guide.column_widget'|trans }}</h4>
                                                            <label>
                                                                {{ 'form.fdc_page_prepare.picto_plans_title'|trans }}
                                                            </label>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.title|raw }}
                                                            </div>
                                                            <label>
                                                                {{ 'form.fdc_page_prepare.picto_plans_btn_label'|trans }}
                                                            </label>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.btnLabel|raw }}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="box box-success">
                                <div class="box-body">
                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h4 class="box-title">
                                                {{ 'form.fdc_page_prepare.housing'|trans }}
                                            </h4>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            <div id="{{ locale }}-translation-housing-title">
                                                {{ form_row(translationsFields.meetingTitle) }}
                                            </div>
                                            <div id="{{ locale }}-translation-housing-description">
                                                {{ form_row(translationsFields.meetingDescription) }}
                                            </div>
                                            <div id="{{ locale }}-translation-housing-label">
                                                {{ form_row(translationsFields.meetingLabel) }}
                                            </div>
                                            <div id="{{ locale }}-translation-housing-url">
                                                {{ form_row(translationsFields.meetingUrl) }}
                                            </div>
                                            {{ form_row(form.parent.children.meetingIcon) }}
                                            {{ form_row(form.parent.children.meetingPdf) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans|nl2br }}
                                    </h4>
                                </div>
                                <div class="box-body widgets-translations">
                                    {% if form.parent.children.translations.children.fr.vars.value %}
                                        <div class="sonata-ba-collapsed-fields">
                                            <div class="form-group"
                                                 data-translation="{{ locale }}-translation-housing-title">
                                                <label>
                                                    {{ 'form.fdc_page_prepare.housing_title'|trans }}
                                                </label>
                                                <div>
                                                    {{ form.parent.children.translations.children.fr.vars.value.meetingTitle|raw }}
                                                </div>
                                            </div>
                                            <div class="form-group"
                                                 data-translation="{{ locale }}-translation-housing-description">
                                                <label>
                                                    {{ 'form.fdc_page_prepare.housing_description'|trans }}
                                                </label>
                                                <div>
                                                    {{ form.parent.children.translations.children.fr.vars.value.meetingDescription|raw }}
                                                </div>
                                            </div>
                                            <div class="form-group"
                                                 data-translation="{{ locale }}-translation-housing-label">
                                                <label>
                                                    {{ 'form.fdc_page_prepare.housing_label'|trans }}
                                                </label>
                                                <div>
                                                    {{ form.parent.children.translations.children.fr.vars.value.meetingLabel|raw }}
                                                </div>
                                            </div>
                                            <div class="form-group"
                                                 data-translation="{{ locale }}-translation-housing-url">
                                                <label>
                                                    {{ 'form.fdc_page_prepare.housing_url'|trans }}
                                                </label>
                                                <div>
                                                    {{ form.parent.children.translations.children.fr.vars.value.meetingUrl|raw }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="box box-success">
                                <div class="box-body">
                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h4 class="box-title">
                                                {{ 'form.fdc_page_prepare.more'|trans }}
                                            </h4>
                                        </div>
                                        <div class="sonata-ba-collapsed-fields">
                                            <div id="{{ locale }}-translation-more-title">
                                            {{ form_row(translationsFields.serviceTitle) }}
                                                </div>
                                            <div id="{{ locale }}-translation-more-description">
                                            {{ form_row(translationsFields.serviceDescription) }}
                                                </div>
                                            {{ form_row(form.parent.children.serviceIcon) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans|nl2br }}
                                    </h4>
                                </div>
                                <div class="box-body widgets-translations">
                                    {% if form.parent.children.translations.children.fr.vars.value %}
                                        <div class="sonata-ba-collapsed-fields">
                                            <div class="form-group"
                                                 data-translation="{{ locale }}-translation-more-title">
                                                <label>
                                                    {{ 'form.fdc_page_prepare.more_title'|trans }}
                                                </label>
                                                <div>
                                                    {{ form.parent.children.translations.children.fr.vars.value.serviceTitle|raw }}
                                                </div>
                                            </div>
                                            <div class="form-group"
                                                 data-translation="{{ locale }}-translation-more-description">
                                                <label>
                                                    {{ 'form.fdc_page_prepare.more_description'|trans }}
                                                </label>
                                                <div>
                                                    {{ form.parent.children.translations.children.fr.vars.value.serviceDescription|raw }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    {% if form.vars.default_locale == locale %}
                        <div class="col-md-8">
                            <div class="box box-success">
                                <div class="box-header">
                                    <div class="clearfix">
                                        <h4 class="box-title">
                                            {{ 'group.seo'|trans }}
                                        </h4>
                                    </div>
                                    <div class="base-admin-padding-helper help-block sonata-ba-field-widget-help">
                                        {{ 'group.helper_seo'|trans|nl2br }}
                                    </div>
                                </div>
                                <div class="box-body">
                                    {{ form_row(translationsFields.seoTitle) }}
                                    {{ form_row(translationsFields.seoDescription) }}
                                    {{ form_row(form.parent.children.seoFile) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p>
                                {{ 'group.helper_seo_example'|trans|nl2br }}
                            </p>
                        </div>
                    {% else %}
                        <div class="col-md-8">
                            <div class="box box-success">
                                <div class="box-header">
                                    <div class="clearfix">
                                        <h4 class="box-title">
                                            {{ 'group.seo'|trans }}
                                        </h4>
                                    </div>
                                    <div class="base-admin-padding-helper help-block sonata-ba-field-widget-help">
                                        {{ 'group.helper_seo'|trans|nl2br }}
                                    </div>
                                </div>
                                <div class="box-body">
                                    {{ form_row(translationsFields.seoTitle) }}
                                    {{ form_row(translationsFields.seoDescription) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans|nl2br }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_seo_title'|trans }}
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.children.seoTitle.vars.value }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_seo_description'|trans }}
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.children.seoDescription.vars.value|raw }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-md-8">
                        {% if form.vars.default_locale == locale %}
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group fdc-input-border">
                                        {{ form_widget(form.parent.children.translate) }}
                                        {{ form_label(form.parent.children.translate) }}
                                        {{ form_widget(form.parent.children.translateOptions) }}
                                        {{ form_row(form.parent.children.priorityStatus) }}
                                    </div>
                                    {{ form_row(form.parent.children.priorityStatus) }}
                                    <div class="status-hidden">
                                        {% if is_granted('ROLE_TRANSLATOR_FR') or is_granted('ROLE_TRANSLATOR_EN') or is_granted('ROLE_TRANSLATOR_ES') or is_granted('ROLE_TRANSLATOR_ZH') %}
                                            {{ form_row(translationsFields.status, {'attr': {'class': 'translator'}}) }}
                                        {% elseif is_granted('ROLE_JOURNALIST') %}
                                            {{ form_row(translationsFields.status, {'attr': {'class': 'journalist'}}) }}
                                        {% elseif is_granted('ROLE_TRANSLATOR_MASTER') %}
                                            {{ form_row(translationsFields.status, {'attr': {'class': 'master_translator'}}) }}
                                        {% else %}
                                            {{ form_row(translationsFields.status) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {% if is_granted('ROLE_TRANSLATOR_FR') or is_granted('ROLE_TRANSLATOR_EN') or is_granted('ROLE_TRANSLATOR_ES') or is_granted('ROLE_TRANSLATOR_ZH') %}
                                        {{ form_row(translationsFields.status, {'attr': {'class': 'translator'}}) }}
                                    {% elseif is_granted('ROLE_JOURNALIST') %}
                                        {{ form_row(translationsFields.status, {'attr': {'class': 'journalist'}}) }}
                                    {% elseif is_granted('ROLE_TRANSLATOR_MASTER') %}
                                        {{ form_row(translationsFields.status, {'attr': {'class': 'master_translator'}}) }}
                                    {% else %}
                                        {{ form_row(translationsFields.status) }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>