{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% include 'BaseAdminBundle:Block:languages.tabs.html.twig' %}

    <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div class="a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">
                {% if form.vars.default_locale == locale %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'homepage.group.slider'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {{  form_row(form.parent.children.homepageSlide) }}
                                        {{  form_row(form.parent.children.displayedSlider) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'homepage.group.top_news'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    {{  form_row(form.parent.children.topNewsType) }}
                                    {{  form_row(form.parent.children.displayedTopNews) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'homepage.group.social_wall'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    {{  form_row(form.parent.children.socialGraphHashtagTwitter) }}
                                    {{  form_row(form.parent.children.socialWallHashtags) }}
                                    {{  form_row(form.parent.children.displayedSocialWall) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'homepage.group.web_tv'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    {{  form_row(form.parent.children.topVideosAssociated) }}
                                    {{  form_row(form.parent.children.topWebTvsAssociated) }}
                                    {{  form_row(form.parent.children.displayedTopWebTv) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'homepage.group.film'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    {{  form_row(form.parent.children.filmsAssociated) }}
                                    {{  form_row(form.parent.children.displayedFilms) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'homepage.group.push_main'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.primaryPushTitle1) }}
                                        {{  form_row(form.parent.children.pushsMainImage1) }}
                                        {{  form_row(translationsFields.primaryPushUrl1) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.primaryPushTitle2) }}
                                        {{  form_row(form.parent.children.pushsMainImage2) }}
                                        {{  form_row(translationsFields.primaryPushUrl2) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.primaryPushTitle3) }}
                                        {{  form_row(form.parent.children.pushsMainImage3) }}
                                        {{  form_row(translationsFields.primaryPushUrl3) }}
                                    </div>
                                    <div class="col-md-12">
                                        {{  form_row(form.parent.children.displayedPushsMain) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'homepage.group.push_secondary'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle1) }}
                                        {{  form_row(form.parent.children.pushsSecondaryImage1) }}
                                        {{  form_row(translationsFields.secondaryPushUrl1) }}
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle2) }}
                                        {{  form_row(form.parent.children.pushsSecondaryImage2) }}
                                        {{  form_row(translationsFields.secondaryPushUrl2) }}
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle3) }}
                                        {{  form_row(form.parent.children.pushsSecondaryImage3) }}
                                        {{  form_row(translationsFields.secondaryPushUrl3) }}
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle4) }}
                                        {{  form_row(form.parent.children.pushsSecondaryImage4) }}
                                        {{  form_row(translationsFields.secondaryPushUrl4) }}
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle5) }}
                                        {{  form_row(form.parent.children.pushsSecondaryImage5) }}
                                        {{  form_row(translationsFields.secondaryPushUrl5) }}
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle6) }}
                                        {{  form_row(form.parent.children.pushsSecondaryImage6) }}
                                        {{  form_row(translationsFields.secondaryPushUrl6) }}
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle7) }}
                                        {{  form_row(form.parent.children.pushsSecondaryImage7) }}
                                        {{  form_row(translationsFields.secondaryPushUrl7) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle8) }}
                                        {{  form_row(form.parent.children.pushsSecondaryImage8) }}
                                        {{  form_row(translationsFields.secondaryPushUrl8) }}
                                    </div>
                                    <div class="col-md-12">
                                        {{  form_row(form.parent.children.displayedPushsSecondary) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'homepage.group.prefooter'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="col-md-6">
                                        {{  form_row(translationsFields.prefooterTitle1) }}
                                        {{  form_row(form.parent.children.prefooterImage1) }}
                                        {{  form_row(translationsFields.prefooterUrl1) }}
                                        <hr>
                                    </div>
                                    <div class="col-md-6">
                                        {{  form_row(translationsFields.prefooterTitle2) }}
                                        {{  form_row(form.parent.children.prefooterImage2) }}
                                        {{  form_row(translationsFields.prefooterUrl2) }}
                                        <hr>
                                    </div>
                                    <div class="col-md-6">
                                        {{  form_row(translationsFields.prefooterTitle3) }}
                                        {{  form_row(form.parent.children.prefooterImage3) }}
                                        {{  form_row(translationsFields.prefooterUrl3) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{  form_row(translationsFields.prefooterTitle4) }}
                                        {{  form_row(form.parent.children.prefooterImage4) }}
                                        {{  form_row(translationsFields.prefooterUrl4) }}
                                    </div>
                                    <div class="col-md-12">
                                        {{  form_row(form.parent.children.displayedPrefooters) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-header">
                                <div class="clearfix">
                                    <h4 class="box-title">
                                        {{ 'group.seo'|trans }}
                                    </h4>
                                </div>
                                <div class="base-admin-padding-helper help-block sonata-ba-field-widget-help">
                                    {{ 'group.helper_seo'|trans|nl2br }}
                                </div>
                            </div>
                            <div class="box-body">
                                {{ form_row(translationsFields.seoTitle) }}
                                {{ form_row(translationsFields.seoDescription) }}
                                {{ form_row(form.parent.children.seoFile) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>
                            {{ 'group.helper_seo_example'|trans|nl2br }}
                        </p>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'homepage.group.push_main'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.primaryPushTitle1) }}
                                        {{  form_row(translationsFields.primaryPushUrl1) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.primaryPushTitle2) }}
                                        {{  form_row(translationsFields.primaryPushUrl2) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.primaryPushTitle3) }}
                                        {{  form_row(translationsFields.primaryPushUrl3) }}
                                    </div>
                                </div>
                            </div>
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'homepage.group.push_secondary'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle1) }}
                                        {{  form_row(translationsFields.secondaryPushUrl1) }}
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle2) }}
                                        {{  form_row(translationsFields.secondaryPushUrl2) }}
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle3) }}
                                        {{  form_row(translationsFields.secondaryPushUrl3) }}
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle4) }}
                                        {{  form_row(translationsFields.secondaryPushUrl4) }}
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle5) }}
                                        {{  form_row(translationsFields.secondaryPushUrl5) }}
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle6) }}
                                        {{  form_row(translationsFields.secondaryPushUrl6) }}
                                        <hr>
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle7) }}
                                        {{  form_row(translationsFields.secondaryPushUrl7) }}
                                    </div>
                                    <div class="col-md-4">
                                        {{  form_row(translationsFields.secondaryPushTitle8) }}
                                        {{  form_row(translationsFields.secondaryPushUrl8) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans|nl2br }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_primary_push_title'|trans }}1
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.primaryPushTitle1 }}
                                            </div>
                                            <label>
                                                {{ 'form.label_primary_push_url'|trans }}1
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.primaryPushUrl1 }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_primary_push_title'|trans }}2
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.primaryPushTitle2 }}
                                            </div>
                                            <label>
                                                {{ 'form.label_primary_push_url'|trans }}2
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.primaryPushUrl2 }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_primary_push_title'|trans }}3
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.primaryPushTitle3 }}
                                            </div>
                                            <label>
                                                {{ 'form.label_primary_push_url'|trans }}3
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.primaryPushUrl3 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans|nl2br }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">

                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_secondary_push_title'|trans }}1
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushTitle1 }}
                                            </div>
                                            <label>
                                                {{ 'form.label_secondary_push_url'|trans }}1
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushUrl1 }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_secondary_push_title'|trans }}2
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushTitle2 }}
                                            </div>
                                            <label>
                                                {{ 'form.label_secondary_push_url'|trans }}2
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushUrl2 }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_secondary_push_title'|trans }}3
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushTitle3 }}
                                            </div>
                                            <label>
                                                {{ 'form.label_secondary_push_url'|trans }}3
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushUrl3 }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_secondary_push_title'|trans }}
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushTitle4 }}
                                            </div>
                                            <label>
                                                {{ 'form.label_secondary_push_url'|trans }}4
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushUrl4 }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_secondary_push_title'|trans }}5
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushTitle5 }}
                                            </div>
                                            <label>
                                                {{ 'form.label_secondary_push_url'|trans }}5
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushUrl5 }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_secondary_push_title'|trans }}6
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushTitle6 }}
                                            </div>
                                            <label>
                                                {{ 'form.label_secondary_push_url'|trans }}6
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushUrl6 }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_secondary_push_title'|trans }}7
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushTitle7 }}
                                            </div>
                                            <label>
                                                {{ 'form.label_secondary_push_url'|trans }}7
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushUrl7 }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_secondary_push_title'|trans }}8
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushTitle8 }}
                                            </div>
                                            <label>
                                                {{ 'form.label_secondary_push_url'|trans }}8
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.secondaryPushUrl8 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="box box-success">
                                <div class="box-header">
                                    <div class="clearfix">
                                        <h4 class="box-title">
                                            {{ 'group.seo'|trans }}
                                        </h4>
                                    </div>
                                    <div class="base-admin-padding-helper help-block sonata-ba-field-widget-help">
                                        {{ 'group.helper_seo'|trans|nl2br }}
                                    </div>
                                </div>
                                <div class="box-body">
                                    {{ form_row(translationsFields.seoTitle) }}
                                    {{ form_row(translationsFields.seoDescription) }}
                                    {{ form_row(form.parent.children.seoFile) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans|nl2br }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_seo_title'|trans }}
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.children.seoTitle.vars.value }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_seo_description'|trans }}
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.children.seoDescription.vars.value }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>