{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% include 'BaseAdminBundle:Block:mdf_languages.tabs.html.twig' %}

    <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {{ form_row(translationsFields.applyChanges) }}
            {% set locale = translationsFields.vars.name %}
            {#{% if app.request.locale == locale %}#}
            {% if is_granted('ROLE_TRANSLATOR_FR') %}
                {% set currentLocale = 'fr' %}
            {% elseif is_granted('ROLE_TRANSLATOR_EN') %}
                {% set currentLocale = 'en' %}
            {% elseif is_granted('ROLE_TRANSLATOR_ZH') %}
                {% set currentLocale = 'zh' %}
            {% endif %}
            <div class="{% if app.request.get('code') is not null %}popin-a2lix-{{ locale }}{% else %}main-a2lix-{{ locale }}{% endif %} a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            Galerie photos
                                        </h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            {{ form_row(translationsFields.name) }}
                                            {{ form_row(form.parent.children.medias) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{  form_row(form.parent.children.displayedHomeCorpo) }}
                            </div>
                        </div>
                        <div id="level-nav" class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                {{ form_row(form.parent.children.dateHomeCorpo) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.parent.children.themeHomeCorpo) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(translationsFields.titleHomeCorpo) }}
                                    {{ form_row(translationsFields.introductionHomeCorpo) }}
                                </div>
                                <div class="form-group fdc-input-border">
                                    {{ form_widget(form.parent.children.translate) }}
                                    {{ form_label(form.parent.children.translate) }}
                                    {{ form_widget(form.parent.children.translateOptions) }}
                                    {{ form_row(form.parent.children.priorityStatus) }}
                                </div>
                                <div class="status-hidden">
                                    {{ form_row(translationsFields.status) }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        {% if form.vars.default_locale == locale %}

                        {% else %}
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="form-group">
                                            <label class="control-label">
                                                {{ 'form.label_title'|trans }}
                                            </label>
                                            {% if form.children.fr.vars.value is not null %}
                                                <div>
                                                    {{ form.children.fr.vars.value.titleHomeCorpo }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                {{ 'form.label_alt_img'|trans }}
                                            </label>
                                            {% if form.children.fr.vars.value is not null %}
                                                <div>
                                                    {{ form.children.fr.vars.value.introductionHomeCorpo }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
</div>