{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% include 'BaseAdminBundle:Block:languages.tabs.html.twig' %}

    <div class="a2lix_translationsFields tab-content">
    {% for translationsFields in form %}
        {% set locale = translationsFields.vars.name %}
        {#{% if app.request.locale == locale %}#}
        {% if is_granted('ROLE_TRANSLATOR_FR') %}
            {% set currentLocale = 'fr' %}
        {% elseif is_granted('ROLE_TRANSLATOR_EN') %}
            {% set currentLocale = 'en' %}
        {% elseif is_granted('ROLE_TRANSLATOR_ES') %}
            {% set currentLocale = 'es' %}
        {% elseif is_granted('ROLE_TRANSLATOR_ZH') %}
            {% set currentLocale = 'zh' %}
        {% endif %}
        <div class="{% if app.request.get('code') is not null %}popin-a2lix-{{ locale }}{% else %}main-a2lix-{{ locale }}{% endif %} a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">
            <div class="row">
                <div class="col-md-8">
                    <div class="box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                Informations de base
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                {% if form.vars.default_locale == locale %}
                                    {{ form_row(form.parent.children.name) }}
                                {% endif %}
                                {{ form_row(translationsFields.file) }}
                                {{ form_row(translationsFields.alt) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    {% if form.vars.default_locale == locale %}
                        {% include 'BaseAdminBundle:TranslationFormBundle:components/publish_parameters.html.twig' %}
                    {% else %}
                    <div class="box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                {{ 'group.french_version'|trans }}
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="form-group">
                                    <label class="control-label">
                                        {{ 'form.label_alt_img'|trans }}
                                    </label>
                                    {% if form.children.fr.vars.value is not null %}
                                        <div>
                                            {{ form.children.fr.vars.value.alt }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if form.vars.default_locale != locale %}
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(translationsFields.status) }}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>