{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% include 'BaseAdminBundle:Block:languages.tabs.html.twig' %}

    <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}
            {% if is_granted('ROLE_TRANSLATOR_FR') %}
                {% set currentLocale = 'fr' %}
            {% elseif is_granted('ROLE_TRANSLATOR_EN') %}
                {% set currentLocale = 'en' %}
            {% elseif is_granted('ROLE_TRANSLATOR_ES') %}
                {% set currentLocale = 'es' %}
            {% elseif is_granted('ROLE_TRANSLATOR_ZH') %}
                {% set currentLocale = 'zh' %}
            {% endif %}
            <div class="{% if app.request.get('code') is not null %}popin-a2lix-{{ locale }}{% else %}main-a2lix-{{ locale }}{% endif %} a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">
                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ 'group.main_infos'|trans }}
                                </h4>
                            </div>
                            {% if form.vars.default_locale == locale %}
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(translationsFields.title) }}
                                        {{ form_row(translationsFields.introduction) }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(translationsFields.title) }}
                                        {{ form_row(translationsFields.introduction) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% if form.vars.default_locale == locale %}
                            {% include 'BaseAdminBundle:TranslationFormBundle:components/publish_parameters.html.twig' with {orange: true} %}
                        {% else %}
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="form-group">
                                            <label class="control-label">
                                                {{ 'form.orange_series.label_title'|trans }}
                                            </label>
                                            {% if form.children.fr.vars.value is not null %}
                                                <div>
                                                    {{ form.children.fr.vars.value.title }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="control-label">
                                                {{ 'form.orange_series.label_introduction'|trans }}
                                            </label>
                                            {% if form.children.fr.vars.value is not null %}
                                                <div>
                                                    {{ form.children.fr.vars.value.introduction|raw|striptags|truncate(300)|nl2br }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
           
                <div class="row">
                    {% if form.vars.default_locale == locale %}
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.orange_ocs.widgets'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="fdc-widgets" data-form-widget="collection">
                                        {% for widget in form.parent.children.widgets.children %}
                                            <div class="item base-widget">
                                                <h4><strong>{{ 'form.widget.film_ocs'|trans }}</strong></h4>
                                                {{ form_row(widget._type) }}
                                                {{ form_row(widget.position) }}
                                                {{ form_row(widget.image) }}
                                                {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                {{ form_row(widget.name) }}
                                                {{ form_row(widget.producer) }}
                                                <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {{ 'form.orange_ocs.helper_widgets'|trans }}<br/>
                                    <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.orange_widget_film_ocs_type) | escape }}"><i class="icon-plus"></i>{{ 'form.widget.film_studio'|trans }}</a>
                                    </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-8">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.orange_ocs.widgets'|trans }}
                                    </h4>
                                </div>

                                <div class="box-body">
                                    <div class="fdc-widgets" data-form-widget="collection">
                                        {% for widget in form.parent.children.widgets.children %}
                                            <div class="item base-widget">
                                                <h4><strong>{{ 'form.widget.film_ocs'|trans }}</strong></h4>
                                                {{ form_row(widget._type) }}
                                                {{ form_row(widget.position) }}
                                                
                                                {% set imageTranslations = (widget.children.image.vars.data is not null) ? widget.children.image.vars.data.translations : null %}
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        {{ 'form.label_image'|trans }}
                                                    </label>
                                                    <div>
                                                        <div class="form-group">
                                                            <div>
                                                                <b>{{ 'form.label_alt_img'|trans }}:</b>
                                                                {% if imageTranslations is not null and imageTranslations.get(locale) is not null %}
                                                                    {{ imageTranslations.get(locale).alt }}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        {% if widget.children.image.vars.value is not null %}
                                                            <a target="_blank" href="{{ path('admin_base_core_mediaimagesimple_edit', {'id': widget.children.image.vars.value}) }}">
                                                                modifier les traductions
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                
                                                {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                {% set name_label = '' %}
                                                {% for choice in widget.children.name.vars.choices %}
                                                    {% if choice.value == widget.children.name.vars.value %}
                                                        {% set name_label = choice.label %}
                                                    {% endif %}
                                                {% endfor %}
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        {{ 'form.label_orange_widget_film_ocs_name'|trans }}
                                                    </label>
                                                    <div>
                                                        <div class="form-group">
                                                            <div>
                                                                {{ name_label }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{ form_row(widget.producer) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {% for widget in form.parent.children.widgets.children %}
                                            <div class="item base-widget">
                                                
                                                    <h4><strong>{{ 'form.widget.film_ocs'|trans }}</strong></h4>
                                                    <div class="form-group">
                                                        {% set imageTranslations = (widget.vars.data.image is not null) ? widget.vars.data.image.translations : null %}
                                                        <label>
                                                            Informations image
                                                        </label>
                                                        <div>
                                                            <b>{{ 'form.label_alt_img'|trans }}:</b>
                                                            {% if imageTranslations is not null and imageTranslations.get('fr') is not null %}
                                                                {{ imageTranslations.get('fr').alt }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>
                                                            {{ 'form.label_orange_widget_film_ocs_title'|trans }}
                                                        </label>
                                                        <div>
                                                            {% if widget.children.translations.fr.vars.value is not null %}
                                                                {{ widget.children.translations.fr.vars.value.title }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>
                                                            {{ 'form.label_orange_widget_film_ocs_description'|trans }}
                                                        </label>
                                                        <div>
                                                            {% if widget.children.translations.fr.vars.value is not null %}
                                                                {{ widget.children.translations.fr.vars.value.description }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    {% set name_label = '' %}
                                                    {% for choice in widget.children.name.vars.choices %}
                                                        {% if choice.value == widget.children.name.vars.value %}
                                                            {% set name_label = choice.label %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <div class="form-group">
                                                        <label>
                                                            {{ 'form.label_orange_widget_film_ocs_name'|trans }}
                                                        </label>
                                                        <div>
                                                            {{ name_label }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>
                                                            {{ 'form.label_orange_widget_film_ocs_producer'|trans }}
                                                        </label>
                                                        <div>
                                                            {% if widget.children.translations.fr.vars.value is not null %}
                                                                {{ widget.children.producer.vars.value }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                
                {% if form.vars.default_locale != locale %}
                <div class="row">
                    <div class="col-md-4">
                        {% if is_granted('ROLE_TRANSLATOR_FR') or is_granted('ROLE_TRANSLATOR_EN') or is_granted('ROLE_TRANSLATOR_ES') or is_granted('ROLE_TRANSLATOR_ZH') %}
                            {{ form_row(translationsFields.status, {'attr': {'class': 'translator'}}) }}
                        {% elseif is_granted('ROLE_JOURNALIST') %}
                            {{ form_row(translationsFields.status, {'attr': {'class': 'journalist'}}) }}
                        {% elseif is_granted('ROLE_TRANSLATOR_MASTER') %}
                            {{ form_row(translationsFields.status, {'attr': {'class': 'master_translator'}}) }}
                        {% elseif is_granted('ROLE_ORANGE') %}
                            {{ form_row(translationsFields.status, {'attr': {'class': 'orange'}}) }}
                        {% else %}
                            {{ form_row(translationsFields.status) }}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>