{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% include 'BaseAdminBundle:Block:languages.tabs.html.twig' %}

    <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div class="{% if app.request.get('code') is not null %}popin-a2lix-{{ locale }}{% else %}main-a2lix-{{ locale }}{% endif %} a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">
                <div class="row">
                    {% if form.vars.default_locale == locale %}
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-header">
                                <div class="clearfix">
                                    <h4 class="box-title">
                                        {{ 'group.main_infos'|trans }}
                                    </h4>
                                </div>
                            </div>
                            <div class="box-body">
                                {{ form_row(translationsFields.title) }}
                            </div>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <div class="clearfix">
                                    <h4 class="box-title">
                                        Modules éditoriaux
                                    </h4>
                                </div>
                                <div class="fdc-widgets" data-form-widget="collection">

                                    {% for widget in form.parent.children.widgets.children %}

                                        <div class="item base-widget">
                                            {% if widget.children._type.vars.value == 'press_download_section_widget_photo_type' %}
                                                <h4><strong>Module photo</strong></h4>
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_video_type' %}
                                                <h4><strong>Module vidéo</strong></h4>
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_file_type' %}
                                                <h4><strong>Module dossier</strong></h4>
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_document_type' %}
                                                <h4><strong>Module document</strong></h4>
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_archive_type' %}
                                                <h4><strong>Module Signatures</strong></h4>
                                            {% endif %}
                                            {{ form_row(widget._type) }}
                                            {{ form_row(widget.position) }}
                                            {% if widget.children._type.vars.value == 'press_download_section_widget_file_type' %}
                                                {{ form_row(widget.file)}}
                                                {{ form_row(widget.secondFile)}}

                                                {{ form_row(attribute(widget.children.translations, locale)) }}
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_document_type' %}
                                                {{ form_row(widget.image)}}
                                                {{ form_row(widget.file)}}
                                                {{ form_row(widget.secondFile) }}
                                                {{ form_row(widget.thirdFile) }}
                                                {{ form_row(attribute(widget.children.translations, locale)) }}
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_archive_type' %}
                                                {{ form_row(widget.image)}}
                                                {{ form_row(widget.file)}}
                                                {{ form_row(attribute(widget.children.translations, locale)) }}
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_photo_type' %}
                                                {{ form_row(widget.gallery)}}
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_video_type' %}
                                                {{ form_row(widget.image)}}
                                                {{ form_row(widget.video)}}
                                                {{ form_row(widget.file)}}
                                                {{ form_row(widget.secondFile)}}
                                                {{ form_row(attribute(widget.children.translations, locale)) }}

                                            {% endif %}
                                            {{ form_row(widget.lockedContent) }}
                                            <div class="clearfix">
                                                <div class="fdc-widget-remove-btn">
                                                    <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                        <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.press_download_section_widget_file_type)| escape }}"><i class="icon-plus"></i>Module Dossier</a>
                                <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.press_download_section_widget_document_type)| escape }}"><i class="icon-plus"></i>Module Document</a>
                                <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.press_download_section_widget_archive_type)| escape }}"><i class="icon-plus"></i>Module Signatures</a>
                                <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.press_download_section_widget_video_type)| escape }}"><i class="icon-plus"></i>Module Vidéo</a>
                                <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.press_download_section_widget_photo_type)| escape }}"><i class="icon-plus"></i>Module photo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ 'group.news.publish_parameters'|trans }}
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group fdc-input-border">
                                        {{ form_widget(form.parent.children.translate) }}
                                        {{ form_label(form.parent.children.translate) }}
                                        {{ form_widget(form.parent.children.translateOptions) }}
                                        {{ form_row(form.parent.children.priorityStatus) }}
                                    </div>
                                </div>
                                <div class="status-hidden">
                                    {{ form_row(translationsFields.status) }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-header">
                                <div class="clearfix">
                                    <h4 class="box-title">
                                        {{ 'group.main_infos'|trans }}
                                    </h4>
                                </div>
                            </div>
                            <div class="box-body">
                                {{ form_row(translationsFields.title) }}
                            </div>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <div class="clearfix">
                                    <h4 class="box-title">
                                        Modules éditoriaux
                                    </h4>
                                </div>
                                <div class="fdc-widgets" data-form-widget="collection">

                                    {% for widget in form.parent.children.widgets.children %}

                                        <div class="item base-widget">
                                            {% if widget.children._type.vars.value == 'press_download_section_widget_photo_type' %}
                                                <h4><strong>Module photo</strong></h4>
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_video_type' %}
                                                <h4><strong>Module vidéo</strong></h4>
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_file_type' %}
                                                <h4><strong>Module dossier</strong></h4>
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_document_type' %}
                                                <h4><strong>Module document</strong></h4>
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_archive_type' %}
                                                <h4><strong>Module Signatures</strong></h4>
                                            {% endif %}
                                            {% if widget.children._type.vars.value == 'press_download_section_widget_file_type' %}
                                                {{ form_row(attribute(widget.children.translations, locale)) }}
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_document_type' %}
                                                {{ form_row(attribute(widget.children.translations, locale)) }}
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_archive_type' %}
                                                {{ form_row(attribute(widget.children.translations, locale)) }}
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_photo_type' %}
                                                {{ form_row(widget.gallery)}}
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_video_type' %}
                                                {{ form_row(attribute(widget.children.translations, locale)) }}

                                            {% endif %}
                                            <div class="clearfix">
                                                <div class="fdc-widget-remove-btn">
                                                    <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                        <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.press_download_section_widget_file_type)| escape }}"><i class="icon-plus"></i>Module Dossier</a>
                                <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.press_download_section_widget_document_type)| escape }}"><i class="icon-plus"></i>Module Document</a>
                                <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.press_download_section_widget_archive_type)| escape }}"><i class="icon-plus"></i>Module Signatures</a>
                                <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.press_download_section_widget_video_type)| escape }}"><i class="icon-plus"></i>Module Vidéo</a>
                                <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.press_download_section_widget_photo_type)| escape }}"><i class="icon-plus"></i>Module photo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    Version Française
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <label>
                                            Informatiosn générales
                                        </label>
                                        <div>
                                            {{ form.parent.children.translations.children.fr.children.title.vars.value }}
                                        </div>
                                    </div>
                                </div>
                                <div class="sonata-ba-collapsed-fields">
                                    {% for widget in form.parent.children.widgets.children %}
                                        <div class="item base-widget">
                                            {% if widget.children._type.vars.value == 'press_download_section_widget_file_type'%}
                                                <h4><strong>Module dossier</strong></h4>
                                                <div class="form-group">
                                                    <label>
                                                        Copyright
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.copyright|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Btn label
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.btnLabel|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Second Btn label
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.secondBtnLabel|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Date de mise à jour
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.updateDate|date('Ymd') }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_video_type' %}
                                                <h4><strong>Module vidéo</strong></h4>
                                                <div class="form-group">
                                                    <label>
                                                        Label
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.label|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Copyright
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.copyright|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Btn label
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.btnLabel|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Second btn label
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.secondBtnLabel|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_photo_type' %}
                                                <h4><strong>Module Photo</strong></h4>
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_document_type' %}
                                                <h4><strong>Module document</strong></h4>
                                                <div class="form-group">
                                                    <label>
                                                        Label
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.label|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Copyright
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.copyright|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Content
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.content|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Btn label
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.btnLabel|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Second btn label
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.secondBtnLabel|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Third btn label
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.thirdBtnLabel|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% elseif widget.children._type.vars.value == 'press_download_section_widget_archive_type' %}
                                                <h4><strong>Module signature</strong></h4>
                                                <div class="form-group">
                                                    <label>
                                                        Label
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.label|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Copyright
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.copyright|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Content
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.content|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Btn label
                                                    </label>
                                                    <div>
                                                        {% if widget.children.translations.fr.vars.value is not null %}
                                                            {{ widget.children.translations.fr.vars.value.btnLabel|raw }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
