{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% include 'BaseAdminBundle:Block:languages.tabs.html.twig' %}

    <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div class="{% if app.request.get('code') is not null %}popin-a2lix-{{ locale }}{% else %}main-a2lix-{{ locale }}{% endif %} a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">
                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    Salles
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {{ form_row(form.parent.children.mapRoom) }}
                                </div>
                            </div>
                        </div>
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    Zone festival
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {{ form_row(translationsFields.mapZone) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% if form.vars.default_locale == locale %}
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.press.publish_parameters'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(translationsFields.status) }}
                                        <div class="form-group fdc-input-border">
                                            {{ form_widget(form.parent.children.translate) }}
                                            {{ form_label(form.parent.children.translate) }}
                                        </div>
                                        {{ form_row(form.parent.children.priorityStatus) }}
                                    </div>
                                    {% if app.request.get('id') is not null %}
                                        <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save"></i> Mettre à jour</button>
                                        <button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Mettre à jour et fermer</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-success" name="btn_create_and_edit"><i class="fa fa-save"></i> Créer</button>
                                        <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Créer et retourner à la liste</button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        Festival
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_widget(form.parent.children.festival) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="form-group">
                                            {{ form_row(translationsFields.status) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header">
                        <div class="clearfix">
                            <h4 class="box-title">
                                {{ 'group.seo'|trans }}
                            </h4>
                        </div>
                        <div class="base-admin-padding-helper help-block sonata-ba-field-widget-help">
                            {{ 'group.helper_seo'|trans|nl2br }}
                        </div>
                    </div>
                    <div class="box-body">
                        {{ form_row(translationsFields.seoTitle) }}
                        {{ form_row(translationsFields.seoDescription) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
