{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% include 'BaseAdminBundle:Block:languages.tabs.html.twig' %}

    <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div class="{% if app.request.get('code') is not null %}popin-a2lix-{{ locale }}{% else %}main-a2lix-{{ locale }}{% endif %} a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">
                <div class="row">
                    {% if form.vars.default_locale == locale %}
                    <div class="col-md-12">
                        <div class="box box-success">
                            <div class="box-body">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            A votre arrivée
                                        </h4>
                                    </div>
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(translationsFields.arriveTitle) }}
                                        {{ form_row(form.parent.children.arriveIcon) }}
                                        <div id="fdc-arrive-widget" data-form-widget="collection">
                                            {% for widget in form.parent.children.arriveWidgets.children %}
                                                <div class="item base-widget">
                                                    {% if widget.children._type.vars.value == 'press_guide_widget_image_type' %}
                                                        <h4><strong>Module image / texte</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_column_type' %}
                                                        <h4><strong>Module colonne</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_picto_type' %}
                                                        <h4><strong>Module picto / texte</strong></h4>
                                                        {{ form_row(widget.picto) }}
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}

                                                    {% endif %}
                                                    {{ form_row(widget._type) }}

                                                    <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                        <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.arriveWidgets.vars.prototypes.press_guide_widget_image_type)| escape }}"><i class="icon-plus"></i>Module image / texte</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.arriveWidgets.vars.prototypes.press_guide_widget_column_type)| escape }}"><i class="icon-plus"></i>Module colonne</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.arriveWidgets.vars.prototypes.press_guide_widget_picto_type)| escape }}"><i class="icon-plus"></i>Module picto / texte</a>

                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            Information
                                        </h4>
                                    </div>
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(translationsFields.informationTitle) }}
                                        {{ form_row(form.parent.children.informationIcon) }}
                                        <div id="fdc-information-widget" data-form-widget="collection">
                                            {% for widget in form.parent.children.informationWidgets.children %}
                                                <div class="item base-widget">
                                                    {% if widget.children._type.vars.value == 'press_guide_widget_image_type' %}
                                                        <h4><strong>Module image / texte</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_column_type' %}
                                                        <h4><strong>Module colonne</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_picto_type' %}
                                                        <h4><strong>Module picto / texte</strong></h4>
                                                        {{ form_row(widget.picto) }}
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}

                                                    {% endif %}
                                                    {{ form_row(widget._type) }}

                                                    <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                        <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.informationWidgets.vars.prototypes.press_guide_widget_image_type)| escape }}"><i class="icon-plus"></i>Module image / texte</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.informationWidgets.vars.prototypes.press_guide_widget_column_type)| escape }}"><i class="icon-plus"></i>Module colonne</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.informationWidgets.vars.prototypes.press_guide_widget_picto_type)| escape }}"><i class="icon-plus"></i>Module picto</a>

                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            Rendez vous des médias
                                        </h4>
                                    </div>
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(translationsFields.meetingTitle) }}
                                        {{ form_row(form.parent.children.meetingIcon) }}
                                        <div id="fdc-meeting-widget" data-form-widget="collection">
                                            {% for widget in form.parent.children.meetingWidgets.children %}
                                                <div class="item base-widget">
                                                    {% if widget.children._type.vars.value == 'press_guide_widget_image_type' %}
                                                        <h4><strong>Module image / texte</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_column_type' %}
                                                        <h4><strong>Module colonne</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_picto_type' %}
                                                        <h4><strong>Module picto / texte</strong></h4>
                                                        {{ form_row(widget.picto) }}
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}

                                                    {% endif %}
                                                    {{ form_row(widget._type) }}

                                                    <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                        <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.meetingWidgets.vars.prototypes.press_guide_widget_image_type)| escape }}"><i class="icon-plus"></i>Module image / texte</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.meetingWidgets.vars.prototypes.press_guide_widget_column_type)| escape }}"><i class="icon-plus"></i>Module colonne</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.meetingWidgets.vars.prototypes.press_guide_widget_picto_type)| escape }}"><i class="icon-plus"></i>Module picto</a>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            Services
                                        </h4>
                                    </div>
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(translationsFields.serviceTitle) }}
                                        {{ form_row(form.parent.children.serviceIcon) }}
                                        <div id="fdc-service-widget" data-form-widget="collection">
                                            {% for widget in form.parent.children.serviceWidgets.children %}
                                                <div class="item base-widget">
                                                    {% if widget.children._type.vars.value == 'press_guide_widget_image_type' %}
                                                        <h4><strong>Module image / texte</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_column_type' %}
                                                        <h4><strong>Module colonne</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_picto_type' %}
                                                        <h4><strong>Module picto / texte</strong></h4>
                                                        {{ form_row(widget.picto) }}
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}

                                                    {% endif %}
                                                    {{ form_row(widget._type) }}

                                                    <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                        <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.serviceWidgets.vars.prototypes.press_guide_widget_image_type)| escape }}"><i class="icon-plus"></i>Module image / texte</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.serviceWidgets.vars.prototypes.press_guide_widget_column_type)| escape }}"><i class="icon-plus"></i>Module colonne</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.serviceWidgets.vars.prototypes.press_guide_widget_picto_type)| escape }}"><i class="icon-plus"></i>Module picto</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-body">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            A votre arrivée
                                        </h4>
                                    </div>
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(translationsFields.arriveTitle) }}
                                        {{ form_row(form.parent.children.arriveIcon) }}
                                        <div id="fdc-arrive-widget" data-form-widget="collection">
                                            {% for widget in form.parent.children.arriveWidgets.children %}
                                                <div class="item base-widget">
                                                    {% if widget.children._type.vars.value == 'press_guide_widget_image_type' %}
                                                        <h4><strong>Module image / texte</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_column_type' %}
                                                        <h4><strong>Module colonne</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_picto_type' %}
                                                        <h4><strong>Module picto / texte</strong></h4>
                                                        {{ form_row(widget.picto) }}
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}

                                                    {% endif %}
                                                    {{ form_row(widget._type) }}

                                                    <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                        <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.arriveWidgets.vars.prototypes.press_guide_widget_image_type)| escape }}"><i class="icon-plus"></i>Module image / texte</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.arriveWidgets.vars.prototypes.press_guide_widget_column_type)| escape }}"><i class="icon-plus"></i>Module colonne</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.arriveWidgets.vars.prototypes.press_guide_widget_picto_type)| escape }}"><i class="icon-plus"></i>Module picto / texte</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ 'group.french_version'|trans }}
                                </h4>
                            </div>
                            <div class="box-body">
                                {% if form.parent.children.translations.children.fr.vars.value %}
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <label>
                                            A votre arrivée - Titre
                                        </label>
                                        <div>
                                            {{ form.parent.children.translations.children.fr.vars.value.arriveTitle }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {% for widget in form.parent.children.arriveWidgets.children %}
                                        <div class="item base-widget">
                                            {% if widget.children._type.vars.value == 'press_guide_widget_image_type' %}
                                                <h4><strong>Module Image / texte</strong></h4>
                                                <div class="form-group">
                                                    <div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Titre</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.title }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elseif widget.children._type.vars.value == 'press_guide_widget_column_type' %}
                                                <h4><strong>Module colonne</strong></h4>
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Version française
                                                    </label>
                                                    <div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Première colonne</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.firstColumn }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Deuxième colonne</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.secondColumn }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Troisième colonne</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.thirdColumn }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elseif widget.children._type.vars.value == 'press_guide_widget_picto_type' %}
                                                <h4><strong>Module picto / texte</strong></h4>
                                                <div class="form-group">
                                                    <div>
                                                        <label>Titre</label>
                                                    </div>
                                                    <div>
                                                        {{ widget.children.translations.fr.vars.value.title }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div>
                                                        <label>Contenu</label>
                                                    </div>
                                                    <div>
                                                        {{ widget.children.translations.fr.vars.value.content }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-body">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            Information
                                        </h4>
                                    </div>
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(translationsFields.informationTitle) }}
                                        {{ form_row(form.parent.children.informationIcon) }}
                                        <div id="fdc-information-widget" data-form-widget="collection">
                                            {% for widget in form.parent.children.informationWidgets.children %}
                                                <div class="item base-widget">
                                                    {% if widget.children._type.vars.value == 'press_guide_widget_image_type' %}
                                                        <h4><strong>Module image / texte</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_column_type' %}
                                                        <h4><strong>Module colonne</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_picto_type' %}
                                                        <h4><strong>Module picto / texte</strong></h4>
                                                        {{ form_row(widget.picto) }}
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}

                                                    {% endif %}
                                                    {{ form_row(widget._type) }}

                                                    <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                        <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.informationWidgets.vars.prototypes.press_guide_widget_image_type)| escape }}"><i class="icon-plus"></i>Module image / texte</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.informationWidgets.vars.prototypes.press_guide_widget_column_type)| escape }}"><i class="icon-plus"></i>Module colonne</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.informationWidgets.vars.prototypes.press_guide_widget_picto_type)| escape }}"><i class="icon-plus"></i>Module picto</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ 'group.french_version'|trans }}
                                </h4>
                            </div>
                            <div class="box-body">
                                {% if form.parent.children.translations.children.fr.vars.value %}
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <label>
                                            Information - Titre
                                        </label>
                                        <div>
                                            {{ form.parent.children.translations.children.fr.vars.value.meetingTitle }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {% for widget in form.parent.children.meetingWidgets.children %}
                                        <div class="item base-widget">
                                            {% if widget.children._type.vars.value == 'press_guide_widget_image_type' %}
                                                <h4><strong>Module Image / texte</strong></h4>
                                                <div class="form-group">
                                                    <div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Titre</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.title }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elseif widget.children._type.vars.value == 'press_guide_widget_column_type' %}
                                                <h4><strong>Module colonne</strong></h4>
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Version française
                                                    </label>
                                                    <div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Première colonne</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.firstColumn }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Deuxième colonne</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.secondColumn }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Troisième colonne</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.thirdColumn }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elseif widget.children._type.vars.value == 'press_guide_widget_picto_type' %}
                                                <h4><strong>Module picto / texte</strong></h4>
                                                <div class="form-group">
                                                    <div>
                                                        <label>Titre</label>
                                                    </div>
                                                    <div>
                                                        {{ widget.children.translations.fr.vars.value.title }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div>
                                                        <label>Contenu</label>
                                                    </div>
                                                    <div>
                                                        {{ widget.children.translations.fr.vars.value.content }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-body">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            Rendez vous des médias
                                        </h4>
                                    </div>
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(translationsFields.meetingTitle) }}
                                        {{ form_row(form.parent.children.meetingIcon) }}
                                        <div id="fdc-meeting-widget" data-form-widget="collection">
                                            {% for widget in form.parent.children.meetingWidgets.children %}
                                                <div class="item base-widget">
                                                    {% if widget.children._type.vars.value == 'press_guide_widget_image_type' %}
                                                        <h4><strong>Module image / texte</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_column_type' %}
                                                        <h4><strong>Module colonne</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_picto_type' %}
                                                        <h4><strong>Module picto / texte</strong></h4>
                                                        {{ form_row(widget.picto) }}
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}

                                                    {% endif %}
                                                    {{ form_row(widget._type) }}

                                                    <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                        <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.meetingWidgets.vars.prototypes.press_guide_widget_image_type)| escape }}"><i class="icon-plus"></i>Module image / texte</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.meetingWidgets.vars.prototypes.press_guide_widget_column_type)| escape }}"><i class="icon-plus"></i>Module colonne</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.meetingWidgets.vars.prototypes.press_guide_widget_picto_type)| escape }}"><i class="icon-plus"></i>Module picto</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ 'group.french_version'|trans }}
                                </h4>
                            </div>
                            <div class="box-body">
                                {% if form.parent.children.translations.children.fr.vars.value %}
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="form-group">
                                            <label>
                                                Rendez vous des médias - Titre
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.meetingTitle }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {% for widget in form.parent.children.meetingWidgets.children %}
                                        <div class="item base-widget">
                                            {% if widget.children._type.vars.value == 'press_guide_widget_image_type' %}
                                                <h4><strong>Module Image / texte</strong></h4>
                                                <div class="form-group">
                                                    <div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Titre</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.title }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elseif widget.children._type.vars.value == 'press_guide_widget_column_type' %}
                                                <h4><strong>Module colonne</strong></h4>
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Version française
                                                    </label>
                                                    <div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Première colonne</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.firstColumn }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Deuxième colonne</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.secondColumn }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Troisième colonne</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.thirdColumn }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elseif widget.children._type.vars.value == 'press_guide_widget_picto_type' %}
                                                <h4><strong>Module picto / texte</strong></h4>
                                                <div class="form-group">
                                                    <div>
                                                        <label>Titre</label>
                                                    </div>
                                                    <div>
                                                        {{ widget.children.translations.fr.vars.value.title }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div>
                                                        <label>Contenu</label>
                                                    </div>
                                                    <div>
                                                        {{ widget.children.translations.fr.vars.value.content }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-body">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            Services
                                        </h4>
                                    </div>
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(translationsFields.serviceTitle) }}
                                        {{ form_row(form.parent.children.serviceIcon) }}
                                        <div id="fdc-service-widget" data-form-widget="collection">
                                            {% for widget in form.parent.children.serviceWidgets.children %}
                                                <div class="item base-widget">
                                                    {% if widget.children._type.vars.value == 'press_guide_widget_image_type' %}
                                                        <h4><strong>Module image / texte</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_column_type' %}
                                                        <h4><strong>Module colonne</strong></h4>
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                        {{ form_row(widget.gallery) }}
                                                    {% elseif widget.children._type.vars.value == 'press_guide_widget_picto_type' %}
                                                        <h4><strong>Module picto / texte</strong></h4>
                                                        {{ form_row(widget.picto) }}
                                                        {{ form_widget(attribute(widget.children.translations, locale)) }}

                                                    {% endif %}
                                                    {{ form_row(widget._type) }}

                                                    <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                        <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.serviceWidgets.vars.prototypes.press_guide_widget_image_type)| escape }}"><i class="icon-plus"></i>Module image / texte</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.serviceWidgets.vars.prototypes.press_guide_widget_column_type)| escape }}"><i class="icon-plus"></i>Module colonne</a>
                                        <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.serviceWidgets.vars.prototypes.press_guide_widget_picto_type)| escape }}"><i class="icon-plus"></i>Module picto</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ 'group.french_version'|trans }}
                                </h4>
                            </div>
                            <div class="box-body">
                                {% if form.parent.children.translations.children.fr.vars.value %}
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="form-group">
                                            <label>
                                                Services - Titre
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.vars.value.serviceTitle }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {% for widget in form.parent.children.serviceWidgets.children %}
                                        <div class="item base-widget">
                                            {% if widget.children._type.vars.value == 'press_guide_widget_image_type' %}
                                                <h4><strong>Module Image / texte</strong></h4>
                                                <div class="form-group">
                                                    <div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Titre</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.title }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elseif widget.children._type.vars.value == 'press_guide_widget_column_type' %}
                                                <h4><strong>Module colonne</strong></h4>
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Version française
                                                    </label>
                                                    <div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Première colonne</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.firstColumn }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Deuxième colonne</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.secondColumn }}
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div>
                                                                <label>Troisième colonne</label>
                                                            </div>
                                                            <div>
                                                                {{ widget.children.translations.fr.vars.value.thirdColumn }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elseif widget.children._type.vars.value == 'press_guide_widget_picto_type' %}
                                                <h4><strong>Module picto / texte</strong></h4>
                                                <div class="form-group">
                                                    <div>
                                                        <label>Titre</label>
                                                    </div>
                                                    <div>
                                                        {{ widget.children.translations.fr.vars.value.title }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div>
                                                        <label>Contenu</label>
                                                    </div>
                                                    <div>
                                                        {{ widget.children.translations.fr.vars.value.content }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
                <div class="row">
                    {% if form.vars.default_locale == locale %}
                        <div class="col-md-8">
                            <div class="box box-success">
                                <div class="box-header">
                                    <div class="clearfix">
                                        <h4 class="box-title">
                                            {{ 'group.seo'|trans }}
                                        </h4>
                                    </div>
                                    <div class="base-admin-padding-helper help-block sonata-ba-field-widget-help">
                                        {{ 'group.helper_seo'|trans|nl2br }}
                                    </div>
                                </div>
                                <div class="box-body">
                                    {{ form_row(translationsFields.seoTitle) }}
                                    {{ form_row(translationsFields.seoDescription) }}
                                    {{ form_row(form.parent.children.seoFile) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p>
                                {{ 'group.helper_seo_example'|trans|nl2br }}
                            </p>
                        </div>
                    {% else %}
                        <div class="col-md-8">
                            <div class="box box-success">
                                <div class="box-header">
                                    <div class="clearfix">
                                        <h4 class="box-title">
                                            {{ 'group.seo'|trans }}
                                        </h4>
                                    </div>
                                    <div class="base-admin-padding-helper help-block sonata-ba-field-widget-help">
                                        {{ 'group.helper_seo'|trans|nl2br }}
                                    </div>
                                </div>
                                <div class="box-body">
                                    {{ form_row(translationsFields.seoTitle) }}
                                    {{ form_row(translationsFields.seoDescription) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans|nl2br }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_seo_title'|trans }}
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.children.seoTitle.vars.value }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_seo_description'|trans }}
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.children.seoDescription.vars.value }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-md-8">
                        {% if form.vars.default_locale == locale %}
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group fdc-input-border">
                                        {{ form_widget(form.parent.children.translate) }}
                                        {{ form_label(form.parent.children.translate) }}
                                        {{ form_widget(form.parent.children.translateOptions) }}
                                        {{ form_row(form.parent.children.priorityStatus) }}
                                    </div>
                                    {{ form_row(form.parent.children.priorityStatus) }}
                                    <div class="status-hidden">
                                        {{ form_row(translationsFields.status) }}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {{ form_row(translationsFields.status) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>