{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% include 'BaseAdminBundle:Block:languages.tabs.html.twig' %}

    <div class="a2lix_translationsFields tab-content">
        {% set themeTranslations = (form.parent.children.theme.vars.data is not null) ? form.parent.children.theme.vars.data.translations : null %}
        {% set headerTranslations = (form.parent.children.header.vars.data is not null) ? form.parent.children.header.vars.data.translations : null %}
        {% set statementStatementTag = (form.parent.children.tags.vars.data|length > 0) ? form.parent.children.tags.vars.data : null %}
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}
            {% if is_granted('ROLE_TRANSLATOR_FR') %}
                {% set currentLocale = 'fr' %}
            {% elseif is_granted('ROLE_TRANSLATOR_EN') %}
                {% set currentLocale = 'en' %}
            {% elseif is_granted('ROLE_TRANSLATOR_ES') %}
                {% set currentLocale = 'es' %}
            {% elseif is_granted('ROLE_TRANSLATOR_ZH') %}
                {% set currentLocale = 'zh' %}
            {% endif %}
            <div class="{% if app.request.get('code') is not null %}popin-a2lix-{{ locale }}{% else %}main-a2lix-{{ locale }}{% endif %} a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">
                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ 'group.main_infos'|trans }}
                                </h4>
                            </div>
                            {% if form.vars.default_locale == locale %}
                                {% if translationsFields.vars.value.slug is defined %}
                                    <div id="btn-preview" data-preview="{{ translationsFields.vars.value.slug }}"></div>
                                {% endif %}
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {% if is_granted('ROLE_TRANSLATOR') or is_granted('ROLE_TRANSLATOR_MASTER') %}
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Identifiant
                                                </label>
                                                <div>
                                                    {% if translationsFields.vars.value is not empty and
                                                    translationsFields.vars.value.translatable is not empty
                                                    %}
                                                        {{ translationsFields.vars.value.translatable.id }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {{ form_row(translationsFields.title) }}
                                        {{ form_row(form.parent.children.theme) }}
                                        {{ form_row(form.parent.children.header) }}
                                        {{ form_row(form.parent.children.gallery) }}
                                        {{ form_row(translationsFields.introduction) }}
                                        {{ form_row(form.parent.children.signature) }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {% if is_granted('ROLE_TRANSLATOR') or is_granted('ROLE_TRANSLATOR_MASTER') %}
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Identifiant
                                                </label>
                                                <div>
                                                    {% if translationsFields.vars.value is not empty and
                                                    translationsFields.vars.value.translatable is not empty
                                                    %}
                                                        {{ translationsFields.vars.value.translatable.id }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {{ form_row(translationsFields.title) }}
                                        <div class="form-group">
                                            <label class="control-label">
                                                Theme
                                            </label>
                                            <div>
                                                {% if themeTranslations is not null and
                                                themeTranslations.get(locale) is not null %}
                                                    {{ themeTranslations.get(locale).name }}
                                                {% endif %}
                                                {% if form.parent.children.theme.vars.value is not null %}
                                                    <a target="_blank" href="{{ path('admin_base_core_theme_edit', {'id': form.parent.children.theme.vars.value}) }}">
                                                        modifier la traduction
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                Tags de recherche
                                            </label>
                                            <div>
                                                {% if statementStatementTag is not null %}
                                                    {% for tmp in statementStatementTag %}
                                                        {% set tagTranslation = tmp.tag.translations %}
                                                        {% if tagTranslation.get(locale) is not null %}
                                                            <div>
                                                                {{ tagTranslation.get(locale).name }}
                                                                <a target="_blank" href="{{ path('admin_base_core_statementtag_edit', {'id': tmp.tag.id}) }}">modifier la traduction</a>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <header>
                                                Image principale
                                            </header>
                                            <div>
                                                <label>
                                                    Légende
                                                </label>
                                                <span>
                                                {% if headerTranslations is not null and
                                                headerTranslations.get(locale) is not null %}
                                                    {{ headerTranslations.get(locale).legend }}
                                                {% endif %}
                                                </span>
                                            </div>
                                            <div>
                                                <label>
                                                    Alt
                                                </label>
                                                <span>
                                                {% if headerTranslations is not null and
                                                headerTranslations.get(locale) is not null %}
                                                    {{ headerTranslations.get(locale).alt }}
                                                {% endif %}
                                                </span>
                                            </div>
                                            <div>
                                                <label>
                                                    Copyright
                                                </label>
                                                <span>
                                                    {% if headerTranslations is not null and
                                                    headerTranslations.get(locale) is not null %}
                                                        {{ headerTranslations.get(locale).copyright }}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            {% if form.parent.children.header.vars.value is not null %}
                                                <a target="_blank" href="{{ path('admin_base_core_mediaimage_edit', {'id': form.parent.children.header.vars.value}) }}">modifier les traductions</a>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                {{ 'form.label_header_gallery'|trans }}
                                            </label>
                                            {% if form.parent.children.gallery.vars.data %}
                                                <div>
                                                    {% for media in form.parent.children.gallery.vars.data.medias %}
                                                        <div class="form-group">
                                                            <label>Media {{ loop.index }}</label>
                                                            {% set mediaTranslations = (media.media.translations is not null) ? media.media.translations : null %}
                                                            <div>
                                                                <b>{{ 'form.label_legend_img'|trans }}:</b>
                                                                {% if mediaTranslations.get(locale) is not null %}
                                                                    {{ mediaTranslations.get(locale).legend }}
                                                                {% endif %}
                                                            </div>
                                                            <div>
                                                                <b>{{ 'form.label_alt_img'|trans }}:</b>
                                                                {% if mediaTranslations.get(locale) is not null %}
                                                                    {{ mediaTranslations.get(locale).alt }}
                                                                {% endif %}
                                                            </div>
                                                            <div>
                                                                <b>{{ 'form.label_copyright'|trans }}:</b>
                                                                {% if mediaTranslations.get(locale) is not null %}
                                                                    {{ mediaTranslations.get(locale).copyright }}
                                                                {% endif %}
                                                            </div>
                                                            <a target="_blank" href="{{ path('admin_base_core_mediaimage_edit', {'id': media.media.id }) }}">
                                                                modifier les traductions
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        {{ form_row(translationsFields.introduction) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% if form.vars.default_locale == locale %}
                            {% include 'BaseAdminBundle:TranslationFormBundle:components/publish_parameters.html.twig' %}
                        {% else %}
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Titre
                                            </label>
                                            {% if form.children.fr.vars.value is not null %}
                                                <div>
                                                    {{ form.children.fr.vars.value.title }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                Theme
                                            </label>
                                            <div>
                                                {% if themeTranslations is not null and
                                                themeTranslations.get('fr') is not null %}
                                                    {{ themeTranslations.get('fr').name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                Tags de recherche
                                            </label>
                                            <div>
                                                {% for tmp in statementStatementTag %}
                                                    {% set tagTranslation = tmp.tag.translations %}
                                                    {% if tagTranslation.get('fr') is not null %}
                                                        <div>
                                                            {{ tagTranslation.get('fr').name }}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <header>
                                                Informations Image principale
                                            </header>
                                            <div>
                                                <label>
                                                    Légende
                                                </label>
                                                <span>
                                                {% if headerTranslations is not null and
                                                headerTranslations.get(locale) is not null %}
                                                    {{ headerTranslations.get(locale).legend }}
                                                {% endif %}
                                                </span>
                                            </div>
                                            <div>
                                                <label>
                                                    Alt
                                                </label>
                                                <span>
                                                {% if headerTranslations is not null and
                                                headerTranslations.get(locale) is not null %}
                                                    {{ headerTranslations.get(locale).alt }}
                                                {% endif %}
                                                </span>
                                            </div>
                                            <div>
                                                <label>
                                                    Copyright
                                                </label>
                                                <span>
                                                    {% if headerTranslations is not null and
                                                    headerTranslations.get(locale) is not null %}
                                                        {{ headerTranslations.get(locale).copyright }}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            {% if form.parent.children.header.vars.value is not null %}
                                                <a target="_blank" href="{{ path('admin_base_core_mediaimage_edit', {'id': form.parent.children.header.vars.value}) }}">modifier les traductions</a>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                Informations diaporama
                                            </label>
                                            {% if form.parent.children.gallery.vars.data %}
                                                <div>
                                                    {% for media in form.parent.children.gallery.vars.data.medias %}
                                                        <div class="form-group">
                                                            <label>Media {{ loop.index }}</label>
                                                            {% set mediaTranslations = (media.media.translations is not null) ? media.media.translations : null %}
                                                            <div>
                                                                <b>{{ 'form.label_legend_img'|trans }}:</b>
                                                                {% if mediaTranslations.get('fr') is not null %}
                                                                    {{ mediaTranslations.get('fr').legend }}
                                                                {% endif %}
                                                            </div>
                                                            <div>
                                                                <b>{{ 'form.label_alt_img'|trans }}:</b>
                                                                {% if mediaTranslations.get('fr') is not null %}
                                                                    {{ mediaTranslations.get('fr').alt }}
                                                                {% endif %}
                                                            </div>
                                                            <div>
                                                                <b>{{ 'form.label_copyright'|trans }}:</b>
                                                                {% if mediaTranslations.get('fr') is not null %}
                                                                    {{ mediaTranslations.get('fr').copyright }}
                                                                {% endif %}
                                                            </div>
                                                            <a target="_blank" href="{{ path('admin_base_core_mediaimage_edit', {'id': media.media.id }) }}">
                                                                modifier les traductions
                                                            </a>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% if form.vars.default_locale == locale %}
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.news.widgets'|trans }}
                                    </h4>
                                </div>

                                <div class="box-body">
                                    <div class="fdc-widgets" data-form-widget="collection">
                                        {% for widget in form.parent.children.widgets.children %}
                                            <div class="item base-widget">
                                                {% if widget.children._type.vars.value == 'statement_widget_text_type' %}
                                                    <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_video_type' %}
                                                    <h4><strong>{{ 'form.widget.video'|trans }}</strong></h4>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_video_youtube_type' %}
                                                    <h4><strong>{{ 'form.widget.video_youtube'|trans }}</strong></h4>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_audio_type' %}
                                                    <h4><strong>{{ 'form.widget.audio'|trans }}</strong></h4>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_image_type' %}
                                                    <h4><strong>{{ 'form.widget.image'|trans }}</strong></h4>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_image_dual_align_type' %}
                                                    <h4><strong>{{ 'form.widget.image_dual_align'|trans }}</strong></h4>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_quote_type' %}
                                                    <h4><strong>{{ 'form.widget.quote'|trans }}</strong></h4>
                                                {% endif %}
                                                {{ form_row(widget._type) }}
                                                {{ form_row(widget.position) }}
                                                {% if widget.children._type.vars.value == 'statement_widget_text_type' or
                                                widget.children._type.vars.value == 'statement_widget_video_youtube_type' or
                                                widget.children._type.vars.value == 'statement_widget_quote_type'
                                                %}
                                                    {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                {% endif %}
                                                {% if widget.children._type.vars.value == 'statement_widget_video_type' or
                                                widget.children._type.vars.value == 'statement_widget_audio_type'
                                                %}
                                                    {{ form_row(widget.file) }}
                                                {% endif %}
                                                {% if widget.children._type.vars.value == 'statement_widget_video_youtube_type' %}
                                                    {{ form_row(widget.image) }}
                                                {% endif %}
                                                {% if widget.children._type.vars.value == 'statement_widget_image_type' or
                                                widget.children._type.vars.value == 'statement_widget_image_dual_align_type'
                                                %}
                                                    {{ form_row(widget.gallery) }}
                                                {% endif %}
                                                <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {{ 'form.news.helper_widgets'|trans }}<br/>
                                    <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.statement_widget_text_type) | escape }}"><i class="icon-plus"></i>{{ 'form.widget.text'|trans }}</a>
                                    <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.statement_widget_video_type) | escape }}"><i class="icon-plus"></i>{{ 'form.widget.video'|trans }}</a>
                                    <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.statement_widget_video_youtube_type) | escape }}"><i class="icon-plus"></i>{{ 'form.widget.video_youtube'|trans }}</a>
                                    <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.statement_widget_audio_type) | escape }}"><i class="icon-plus"></i>{{ 'form.widget.audio'|trans }}</a>
                                    <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.statement_widget_image_type) | escape }}"><i class="icon-plus"></i>{{ 'form.widget.image'|trans }}</a>
                                    <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.statement_widget_image_dual_align_type) | escape }}"><i class="icon-plus"></i>{{ 'form.widget.image_dual_align'|trans }}</a>
                                    <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.statement_widget_quote_type) | escape }}"><i class="icon-plus"></i>{{ 'form.widget.quote'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-8">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.news.widgets'|trans }}
                                    </h4>
                                </div>

                                <div class="box-body">
                                    <div class="fdc-widgets" data-form-widget="collection">
                                        {% for widget in form.parent.children.widgets.children %}
                                            <div class="item base-widget">
                                                {% if widget.children._type.vars.value == 'statement_widget_text_type' %}
                                                    <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_video_type' %}
                                                    <h4><strong>{{ 'form.widget.video'|trans }}</strong></h4>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_video_youtube_type' %}
                                                    <h4><strong>{{ 'form.widget.video_youtube'|trans }}</strong></h4>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_audio_type' %}
                                                    <h4><strong>{{ 'form.widget.audio'|trans }}</strong></h4>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_image_type' %}
                                                    <h4><strong>{{ 'form.widget.image'|trans }}</strong></h4>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_image_dual_align_type' %}
                                                    <h4><strong>{{ 'form.widget.image_dual_align'|trans }}</strong></h4>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_quote_type' %}
                                                    <h4><strong>{{ 'form.widget.quote'|trans }}</strong></h4>
                                                {% endif %}
                                                {{ form_row(widget._type) }}
                                                {{ form_row(widget.position) }}
                                                {% if widget.children._type.vars.value == 'statement_widget_text_type' or
                                                widget.children._type.vars.value == 'statement_widget_video_youtube_type' or
                                                widget.children._type.vars.value == 'statement_widget_quote_type'
                                                %}
                                                    {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                {% endif %}

                                                {% if widget.children._type.vars.value == 'statement_widget_video_type' %}
                                                    {% set fileTranslations = (widget.children.file.vars.data is not null) ? widget.children.file.vars.data.translations : null %}
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            {{ 'form.label_file'|trans }}
                                                        </label>
                                                        <div>
                                                            <div class="form-group">
                                                                <div>
                                                                    <b>{{ 'form.label_title'|trans }}:</b>
                                                                    {% if fileTranslations and fileTranslations.get(locale) is not null %}
                                                                        {{ fileTranslations.get(locale).title }}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            {% if widget.children.file.vars.value is not null %}
                                                                <a target="_blank" href="{{ path('admin_base_core_mediavideo_edit', {'id': widget.children.file.vars.value}) }}">
                                                                    modifier les traductions
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_video_youtube_type' %}
                                                    {% set imageTranslations = (widget.children.image.vars.data is not null) ? widget.children.image.vars.data.translations : null %}
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            {{ 'form.label_image'|trans }}
                                                        </label>
                                                        <div>
                                                            <div class="form-group">
                                                                <div>
                                                                    <b>{{ 'form.label_alt_img'|trans }}:</b>
                                                                    {% if imageTranslations and imageTranslations.get(locale) is not null %}
                                                                        {{ imageTranslations.get(locale).alt }}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            {% if widget.children.image.vars.value is not null %}
                                                                <a target="_blank" href="{{ path('admin_base_core_mediaimagesimple_edit', {'id': widget.children.image.vars.value}) }}">
                                                                    modifier les traductions
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_audio_type' %}
                                                    {% set fileTranslations = (widget.children.file.vars.data is not null) ? widget.children.file.vars.data.translations : null %}
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            {{ 'form.label_file'|trans }}
                                                        </label>
                                                        <div>
                                                            <div class="form-group">
                                                                <div>
                                                                    <b>{{ 'form.label_title'|trans }}:</b>
                                                                    {% if fileTranslations and fileTranslations.get(locale) is not null %}
                                                                        {{ fileTranslations.get(locale).title }}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            {% if widget.children.file.vars.value is not null %}
                                                                <a target="_blank" href="{{ path('admin_base_core_mediaaudio_edit', {'id': widget.children.file.vars.value}) }}">
                                                                    modifier les traductions
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% elseif
                                                widget.children._type.vars.value == 'statement_widget_image_type' or
                                                widget.children._type.vars.value == 'statement_widget_image_dual_align_type'
                                                %}
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            {{ 'form.label_header_gallery'|trans }}
                                                        </label>
                                                        <div>
                                                            {% for media in widget.children.gallery.vars.data.medias %}
                                                                <div class="form-group">
                                                                    <label>Media {{ loop.index }}</label>
                                                                    {% set mediaTranslations = (media.media.translations is not null) ? media.media.translations : null %}
                                                                    <div>
                                                                        <b>{{ 'form.label_legend_img'|trans }}:</b>
                                                                        {% if mediaTranslations.get(locale) is not null %}
                                                                            {{ mediaTranslations.get(locale).legend }}
                                                                        {% endif %}
                                                                    </div>
                                                                    <div>
                                                                        <b>{{ 'form.label_alt_img'|trans }}:</b>
                                                                        {% if mediaTranslations.get(locale) is not null %}
                                                                            {{ mediaTranslations.get(locale).alt }}
                                                                        {% endif %}
                                                                    </div>
                                                                    <div>
                                                                        <b>{{ 'form.label_copyright'|trans }}:</b>
                                                                        {% if mediaTranslations.get(locale) is not null %}
                                                                            {{ mediaTranslations.get(locale).copyright }}
                                                                        {% endif %}
                                                                    </div>
                                                                    <a target="_blank" href="{{ path('admin_base_core_mediaimage_edit', {'id': media.media.id }) }}">
                                                                        modifier les traductions
                                                                    </a>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {% for widget in form.parent.children.widgets.children %}
                                            <div class="item base-widget">
                                                {% if
                                                widget.children._type.vars.value == 'statement_widget_text_type' or
                                                widget.children._type.vars.value == 'statement_widget_quote_type'
                                                %}
                                                    {% if widget.children._type.vars.value == 'statement_widget_text_type' %}
                                                        <h4><strong>{{ 'form.widget.text'|trans }}</strong></h4>
                                                    {% elseif widget.children._type.vars.value == 'statement_widget_quote_type' %}
                                                        <h4><strong>{{ 'form.widget.quote'|trans }}</strong></h4>
                                                    {% endif %}
                                                    <div class="form-group">
                                                        <label>
                                                            Texte
                                                        </label>
                                                        <div>
                                                            {% if widget.children.translations.fr.vars.value is not null %}
                                                                {{ widget.children.translations.fr.vars.value.content|raw }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_video_type' %}
                                                    <h4><strong>{{ 'form.widget.video'|trans }}</strong></h4>
                                                    {% set fileTranslations = (widget.children.file.vars.data is not null) ? widget.children.file.vars.data.translations : null %}
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            {{ 'form.label_file'|trans }}
                                                        </label>
                                                        <div>
                                                            <div class="form-group">
                                                                <div>
                                                                    <b>{{ 'form.label_title'|trans }}:</b>
                                                                    {% if fileTranslations and fileTranslations.get('fr') is not null %}
                                                                        {{ fileTranslations.get('fr').title }}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_video_youtube_type' %}
                                                    <h4><strong>{{ 'form.widget.video_youtube'|trans }}</strong></h4>
                                                    <div class="form-group">
                                                        <label>
                                                            {{ 'form.label_news_widget_video_youtube_url'|trans }}
                                                        </label>
                                                        <div>
                                                            {% if widget.children.translations.fr.vars.value is not null %}
                                                                {{ widget.children.translations.fr.vars.value.url }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>
                                                            {{ 'form.label_news_widget_video_youtube_title'|trans }}
                                                        </label>
                                                        <div>
                                                            {% if widget.children.translations.fr.vars.value is not null %}
                                                                {{ widget.children.translations.fr.vars.value.title }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">


                                                        {% set imageTranslations = (widget.vars.data.image is not null) ? widget.vars.data.image.translations : null %}
                                                        <label>
                                                            Informations image
                                                        </label>
                                                        <div>
                                                            <b>{{ 'form.label_alt_img'|trans }}:</b>
                                                            {% if imageTranslations and imageTranslations.get('fr') is not null %}
                                                                {{ imageTranslations.get('fr').alt }}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_audio_type' %}
                                                    <h4><strong>{{ 'form.widget.audio'|trans }}</strong></h4>
                                                    {% set fileTranslations = (widget.children.file.vars.data is not null) ? widget.children.file.vars.data.translations : null %}
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            {{ 'form.label_file'|trans }}
                                                        </label>
                                                        <div>
                                                            <div class="form-group">
                                                                <div>
                                                                    <b>{{ 'form.label_title'|trans }}:</b>
                                                                    {% if fileTranslations and fileTranslations.get('fr') is not null %}
                                                                        {{ fileTranslations.get('fr').title }}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_image_type' %}
                                                    <h4><strong>{{ 'form.widget.image'|trans }}</strong></h4>
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            {{ 'form.label_header_gallery'|trans }}
                                                        </label>
                                                        <div>
                                                            {% for media in widget.children.gallery.vars.data.medias %}
                                                                <div class="form-group">
                                                                    <label>Media {{ loop.index }}</label>
                                                                    {% set mediaTranslations = (media.media.translations is not null) ? media.media.translations : null %}
                                                                    <div>
                                                                        <b>{{ 'form.label_legend_img'|trans }}:</b>
                                                                        {% if mediaTranslations.get('fr') is not null %}
                                                                            {{ mediaTranslations.get('fr').legend }}
                                                                        {% endif %}
                                                                    </div>
                                                                    <div>
                                                                        <b>{{ 'form.label_alt_img'|trans }}:</b>
                                                                        {% if mediaTranslations.get('fr') is not null %}
                                                                            {{ mediaTranslations.get('fr').alt }}
                                                                        {% endif %}
                                                                    </div>
                                                                    <div>
                                                                        <b>{{ 'form.label_copyright'|trans }}:</b>
                                                                        {% if mediaTranslations.get('fr') is not null %}
                                                                            {{ mediaTranslations.get('fr').copyright }}
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% elseif widget.children._type.vars.value == 'statement_widget_image_dual_align_type' %}
                                                    <h4><strong>{{ 'form.widget.image_dual_align'|trans }}</strong></h4>
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            {{ 'form.label_header_gallery'|trans }}
                                                        </label>
                                                        <div>
                                                            {% for media in widget.children.gallery.vars.data.medias %}
                                                                <div class="form-group">
                                                                    <label>Media {{ loop.index }}</label>
                                                                    {% set mediaTranslations = (media.media.translations is not null) ? media.media.translations : null %}
                                                                    <div>
                                                                        <b>{{ 'form.label_legend_img'|trans }}:</b>
                                                                        {% if mediaTranslations.get('fr') is not null %}
                                                                            {{ mediaTranslations.get('fr').legend }}
                                                                        {% endif %}
                                                                    </div>
                                                                    <div>
                                                                        <b>{{ 'form.label_alt_img'|trans }}:</b>
                                                                        {% if mediaTranslations.get('fr') is not null %}
                                                                            {{ mediaTranslations.get('fr').alt }}
                                                                        {% endif %}
                                                                    </div>
                                                                    <div>
                                                                        <b>{{ 'form.label_copyright'|trans }}:</b>
                                                                        {% if mediaTranslations.get('fr') is not null %}
                                                                            {{ mediaTranslations.get('fr').copyright }}
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if form.vars.default_locale == locale %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.news.associations'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    {{ form_row(form.parent.children.associatedFilm) }}
                                    {{ form_row(form.parent.children.associatedEvent) }}
                                    {{ form_row(form.parent.children.associatedProjections) }}
                                    {{ form_row(form.parent.children.associatedFilms) }}
                                    <div id="associatedStatement">
                                        {{ form_row(form.parent.children.associatedStatement) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.parent.children.hideSameDay) }}
                                        {{ form_label(form.parent.children.hideSameDay) }}
                                    </div>
                                    {{ form_row(form.parent.children.tags) }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-header">
                                <div class="clearfix">
                                    <h4 class="box-title">
                                        {{ 'group.seo'|trans }}
                                    </h4>
                                </div>
                                <div class="base-admin-padding-helper help-block sonata-ba-field-widget-help">
                                    {{ 'group.helper_seo'|trans|nl2br }}
                                </div>
                            </div>
                            <div class="box-body">
                                {{ form_row(translationsFields.seoTitle) }}
                                {{ form_row(translationsFields.seoDescription) }}
                                {{ form_row(form.parent.children.seoFile) }}
                            </div>
                        </div>
                    </div>
                    {% if form.vars.default_locale == locale %}
                        <div class="col-md-4">
                            <p>
                                {{ 'group.helper_seo_example'|trans|nl2br }}
                            </p>
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans|nl2br }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_seo_title'|trans }}
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.children.seoTitle.vars.value }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_seo_description'|trans }}
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.children.seoDescription.vars.value }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if form.vars.default_locale != locale %}
                    <div class="row">
                        <div class="col-md-4">
                            {% if is_granted('ROLE_TRANSLATOR_FR') or is_granted('ROLE_TRANSLATOR_EN') or is_granted('ROLE_TRANSLATOR_ES') or is_granted('ROLE_TRANSLATOR_ZH') %}
                                {{ form_row(translationsFields.status, {'attr': {'class': 'translator'}}) }}
                            {% elseif is_granted('ROLE_JOURNALIST') %}
                                {{ form_row(translationsFields.status, {'attr': {'class': 'journalist'}}) }}
                            {% elseif is_granted('ROLE_TRANSLATOR_MASTER') %}
                                {{ form_row(translationsFields.status, {'attr': {'class': 'master_translator'}}) }}
                            {% else %}
                                {{ form_row(translationsFields.status) }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>