{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% include 'BaseAdminBundle:Block:languages.tabs.html.twig' %}

    <div class="a2lix_translationsFields tab-content">
        {% set themeTranslations = (form.parent.children.theme.vars.data is not null) ? form.parent.children.theme.vars.data.translations : null %}
        {% set headerTranslations = (form.parent.children.header.vars.data is not null) ? form.parent.children.header.vars.data.translations : null %}
        {% set statementStatementTag = (form.parent.children.tags.vars.data|length > 0) ? form.parent.children.tags.vars.data : null %}
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div class="{% if app.request.get('code') is not null %}popin-a2lix-{{ locale }}{% else %}main-a2lix-{{ locale }}{% endif %} a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">
                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ 'group.main_infos'|trans }}
                                </h4>
                            </div>
                            {% if form.vars.default_locale == locale %}
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(translationsFields.title) }}
                                        {{ form_row(form.parent.children.theme) }}
                                        {{ form_row(form.parent.children.header) }}
                                        {{ form_row(translationsFields.introduction) }}
                                        {{ form_row(form.parent.children.signature) }}
                                    </div>
                                </div>
                            {% else %}
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(translationsFields.title) }}
                                        <div class="form-group">
                                            <label class="control-label">
                                                Theme
                                            </label>
                                            <div>
                                                {% if themeTranslations is not null and
                                                themeTranslations.get(locale) is not null %}
                                                    {{ themeTranslations.get(locale).name }}
                                                {% endif %}
                                                {% if form.parent.children.theme.vars.value is not null %}
                                                    <a target="_blank" href="{{ path('admin_base_core_theme_edit', {'id': form.parent.children.theme.vars.value}) }}">
                                                        modifier la traduction
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                Tags de recherche
                                            </label>
                                            <div>
                                                {% if statementStatementTag is not null %}
                                                    {% for tmp in statementStatementTag %}
                                                        {% set tagTranslation = tmp.tag.translations %}
                                                        {% if tagTranslation.get(locale) is not null %}
                                                            <div>
                                                                {{ tagTranslation.get(locale).name }}
                                                                <a target="_blank" href="{{ path('admin_base_core_statementtag_edit', {'id': tmp.tag.id}) }}">modifier la traduction</a>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <header>
                                                Image principale
                                            </header>
                                            <div>
                                                <label>
                                                    Légende
                                                </label>
                                        <span>
                                        {% if headerTranslations is not null and
                                        headerTranslations.get(locale) is not null %}
                                            {{ headerTranslations.get(locale).legend }}
                                        {% endif %}
                                        </span>
                                            </div>
                                            <div>
                                                <label>
                                                    Alt
                                                </label>
                                        <span>
                                        {% if headerTranslations is not null and
                                        headerTranslations.get(locale) is not null %}
                                            {{ headerTranslations.get(locale).alt }}
                                        {% endif %}
                                        </span>
                                            </div>
                                            <div>
                                                <label>
                                                    Copyright
                                                </label>
                                        <span>
                                        {% if headerTranslations is not null and
                                        headerTranslations.get(locale) is not null %}
                                            {{ headerTranslations.get(locale).copyright }}
                                        {% endif %}
                                        </span>
                                            </div>
                                            {% if form.parent.children.header.vars.value is not null %}
                                                <a target="_blank" href="{{ path('admin_base_core_mediaimage_edit', {'id': form.parent.children.header.vars.value}) }}">modifier les traductions</a>
                                            {% endif %}
                                        </div>
                                        {{ form_row(translationsFields.introduction) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% if form.vars.default_locale == locale %}
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.news.publish_parameters'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    {% if form.parent.children.createdAt.vars.data and form.parent.children.createdBy.vars.data %}
                                        <div>
                                            {{ 'entity.created_infos'|trans(
                                            {
                                                'date': form.parent.children.createdAt.vars.data|date('d/m/Y H:i'),
                                                'user':  form.parent.children.createdBy.vars.data.fullName
                                            }
                                            ) }}
                                        </div>
                                    {% endif %}
                                    {#{% if form.parent.children.updatedAt.vars.data and form.parent.children.updatedBy %}#}
                                    {#<div>#}
                                    {#{{ 'entity.updated_infos'|trans(#}
                                    {#{#}
                                    {#'date': form.parent.children.updatedAt.vars.data|date('d/m/Y H:i'),#}
                                    {#'user':  form.parent.children.updatedBy.vars.data.fullName#}
                                    {#}#}
                                    {#) }}#}
                                    {#</div>#}
                                    {#{% endif %}#}
                                    <div class="sonata-ba-collapsed-fields">
                                        {{ form_row(form.parent.children.sites) }}
                                        <div class="form-group">
                                            {{ form_widget(form.parent.children.displayedHome) }}
                                            {{ form_label(form.parent.children.displayedHome) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_widget(form.parent.children.displayedMobile) }}
                                            {{ form_label(form.parent.children.displayedMobile) }}
                                        </div>
                                        {{ form_row(form.parent.children.publishedAt) }}
                                        {{ form_row(form.parent.children.publishEndedAt) }}
                                        {{ form_row(translationsFields.status) }}
                                        <div class="form-group fdc-input-border">
                                            {{ form_widget(form.parent.children.translate) }}
                                            {{ form_label(form.parent.children.translate) }}
                                            {{ form_widget(form.parent.children.translateOptions) }}
                                            {{ form_row(form.parent.children.priorityStatus) }}
                                        </div>
                                    </div>
                                    {% if app.request.get('id') is not null %}
                                        <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save"></i> Mettre à jour</button>
                                        <button type="submit" class="btn btn-success" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Mettre à jour et fermer</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-success" name="btn_create_and_edit"><i class="fa fa-save"></i> Créer</button>
                                        <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Créer et retourner à la liste</button>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Titre
                                            </label>
                                            {% if form.children.fr.vars.value is not null %}
                                                <div>
                                                    {{ form.children.fr.vars.value.title }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                Theme
                                            </label>
                                            <div>
                                                {% if themeTranslations is not null and
                                                themeTranslations.get('fr') is not null %}
                                                    {{ themeTranslations.get('fr').name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                Tags de recherche
                                            </label>
                                            <div>
                                                {% for tmp in statementStatementTag %}
                                                    {% set tagTranslation = tmp.tag.translations %}
                                                    {% if tagTranslation.get('fr') is not null %}
                                                        <div>
                                                            {{ tagTranslation.get('fr').name }}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <header>
                                                Informations image principale
                                            </header>
                                            <div>
                                                <label>
                                                    Légende
                                                </label>
                                        <span>
                                        {% if headerTranslations is not null and
                                        headerTranslations.get('fr') is not null %}
                                            {{ headerTranslations.get('fr').legend }}
                                        {% endif %}
                                        </span>
                                            </div>
                                            <div>
                                                <label>
                                                    Alt
                                                </label>
                                        <span>
                                        {% if headerTranslations is not null and
                                        headerTranslations.get('fr') is not null %}
                                            {{ headerTranslations.get('fr').alt }}
                                        {% endif %}
                                        </span>
                                            </div>
                                            <div>
                                                <label>
                                                    Copyright
                                                </label>
                                        <span>
                                        {% if headerTranslations is not null and
                                        headerTranslations.get('fr') is not null %}
                                            {{ headerTranslations.get('fr').copyright }}
                                        {% endif %}
                                        </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <header>
                                                Chapeau
                                            </header>
                                            <div>
                                                {% if form.children.fr.vars.value is not null %}
                                                    {{ form.children.fr.vars.value.introduction|raw }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ 'group.news.widgets'|trans }}
                                </h4>
                            </div>

                            <div class="box-body">
                                {% if form.vars.default_locale == locale %}
                                    <div id="fdc-widgets" data-form-widget="collection">
                                        {% for widget in form.parent.children.widgets.children %}
                                            <div class="item base-widget">
                                                {% if widget.children._type.vars.value == 'statement_widget_text_type' %}
                                                    <h4><strong>Module texte</strong></h4>
                                                    {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                {% elseif widget.children._type.vars.value == 'statement_widget_video_youtube_type' %}
                                                    <h4><strong>{{ 'form.widget.video_youtube'|trans }}</strong></h4>
                                                    {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                {% elseif widget.children._type.vars.value == 'statement_widget_quote_type' %}
                                                    <h4><strong>{{ 'form.widget.quote'|trans }}</strong></h4>
                                                    {{ form_widget(attribute(widget.children.translations, locale)) }}
                                                {% elseif widget.children._type.vars.value == 'statement_widget_audio_type' %}
                                                    <h4><strong>{{ 'news.widget.audio'|trans }}</strong></h4>
                                                    {{ form_widget(widget.file) }}
                                                {% elseif widget.children._type.vars.value == 'statement_widget_image_type' %}
                                                    <h4><strong>Module gallery</strong></h4>
                                                    {{ form_widget(widget.gallery) }}
                                                {% endif %}
                                                {{ form_row(widget._type) }}
                                                {{ form_row(widget.position) }}
                                                <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                    <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {{ 'form.news.helper_widgets'|trans }}<br/>
                                    <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.statement_widget_text_type) | escape }}"><i class="icon-plus"></i>{{ 'form.widget.text'|trans }}</a>
                                    <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.statement_widget_video_type) | escape }}"><i class="icon-plus"></i>{{ 'form.widget.video'|trans }}</a>
                                    <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.statement_widget_video_youtube_type) | escape }}"><i class="icon-plus"></i>{{ 'form.widget.video_youtube'|trans }}</a>
                                    <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.statement_widget_audio_type) | escape }}"><i class="icon-plus"></i>{{ 'form.widget.audio'|trans }}</a>
                                    <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.statement_widget_image_type) | escape }}"><i class="icon-plus"></i>{{ 'form.widget.image'|trans }}</a>
                                    <a class="btn btn-primary btn-add-base-widget" data-prototype="{{ form_widget(form.parent.children.widgets.vars.prototypes.statement_widget_quote_type) | escape }}"><i class="icon-plus"></i>{{ 'form.widget.quote'|trans }}</a>
                                {% else %}
                                    {% for widget in form.parent.children.widgets.children %}
                                        <div class="item base-widget">
                                            {% if widget.children._type.vars.value == 'statement_widget_text_type' %}
                                                <h4><strong>{{ 'news.widget.text'|trans }}</strong></h4>
                                            {% elseif widget.children._type.vars.value == 'statement_widget_video_youtube_type' %}
                                                <h4><strong>{{ 'news.widget.video_youtube'|trans }}</strong></h4>
                                            {% elseif widget.children._type.vars.value == 'statement_widget_audio_type' %}
                                                <h4><strong>{{ 'news.widget.audio'|trans }}</strong></h4>
                                            {% elseif widget.children._type.vars.value == 'statement_widget_quote_type' %}
                                                <h4><strong>{{ 'news.widget.quote'|trans }}</strong></h4>
                                            {% endif %}
                                            {{ form_row(widget._type) }}
                                            {{ form_row(widget.position) }}
                                            {% if widget.children._type.vars.value == 'statement_widget_text_type' or
                                            widget.children._type.vars.value == 'statement_widget_video_youtube_type' or
                                            widget.children._type.vars.value == 'statement_widget_quote_type'
                                            %}
                                                {{ form_widget(attribute(widget.children.translations, locale)) }}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if form.vars.default_locale == locale %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.news.associations'|trans }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    {{ form_row(form.parent.children.associatedFilm) }}
                                    {{ form_row(form.parent.children.associatedEvent) }}
                                    {{ form_row(form.parent.children.associatedProjections) }}
                                    {{ form_row(form.parent.children.associatedFilms) }}
                                    <div id="associatedNews">
                                    {{ form_row(form.parent.children.associatedStatement) }}
                                    </div>
                                    {{ form_row(form.parent.children.tags) }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-header">
                                <div class="clearfix">
                                    <h4 class="box-title">
                                        {{ 'group.seo'|trans }}
                                    </h4>
                                </div>
                                <div class="base-admin-padding-helper help-block sonata-ba-field-widget-help">
                                    {{ 'group.helper_seo'|trans|nl2br }}
                                </div>
                            </div>
                            <div class="box-body">
                                {{ form_row(translationsFields.seoTitle) }}
                                {{ form_row(translationsFields.seoDescription) }}
                                {{ form_row(form.parent.children.seoFile) }}
                            </div>
                        </div>
                    </div>
                    {% if form.vars.default_locale == locale %}
                        <div class="col-md-4">
                            <p>
                                {{ 'group.helper_seo_example'|trans|nl2br }}
                            </p>
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            <div class="box box-success">
                                <div class="box-header">
                                    <h4 class="box-title">
                                        {{ 'group.french_version'|trans|nl2br }}
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_seo_title'|trans }}
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.children.seoTitle.vars.value }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                {{ 'form.label_seo_description'|trans }}
                                            </label>
                                            <div>
                                                {{ form.parent.children.translations.children.fr.children.seoDescription.vars.value }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if form.vars.default_locale != locale %}
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(translationsFields.status) }}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>