{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    <ul class="a2lix_translationsLocales nav nav-tabs">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% for translationsFields in form %}
        {% set locale = translationsFields.vars.name %}
        <li {% if currentLocale == locale %}class="active"{% endif %}>
            <a href="#" data-toggle="tab" data-target=".a2lix_translationsFields-{{ locale }}">
                {{ ('lang.' ~ locale)|trans() }}
                {% if form.vars.default_locale == locale %}[MASTER]{% endif %}
                {% if translationsFields.vars.required %}*{% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>

    <div class="a2lix_translationsFields tab-content">
    {% for translationsFields in form %}
        {% set locale = translationsFields.vars.name %}

        <div class="a2lix_translationsFields-{{ locale }} tab-pane {% if form.vars.default_locale == locale %}active{% endif %}">
            <div class="row">
                <div class="col-md-8">
                    <div class="box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                Informations de base
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                {{ form_row(translationsFields.name) }}
                                {% if form.vars.default_locale != locale %}
                                    {{ form_row(translationsFields.status) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    {% if form.vars.default_locale == locale %}
                    <div class="box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                {{ 'group.news.publish_parameters'|trans }}
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                {{ form_widget(translationsFields.status, { 'value' : '1', 'attr': { 'class': 'hidden' } }) }}
                                <div class="form-group fdc-input-border">
                                {{ form_widget(form.parent.children.translate) }}
                                {{ form_label(form.parent.children.translate) }}
                                </div>
                                {{ form_row(form.parent.children.priorityStatus) }}
                            </div>
                            <div>
                                <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save"></i> Créer</button>
                                <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Créer et retourner à la liste</button>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                {{ 'group.french_version'|trans }}
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="form-group">
                                    <label class="control-label">
                                        {{ 'form.label_theme_name'|trans }}
                                    </label>
                                    {% if form.children.fr.vars.value is not null %}
                                        <div>
                                            {{ form.children.fr.vars.value.name }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>