{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% include 'BaseAdminBundle:Block:languages.tabs.html.twig' %}

    <div class="a2lix_translationsFields tab-content">
    {% for translationsFields in form %}
        {% set locale = translationsFields.vars.name %}

        <div class="a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">
            <div class="row">
                <div class="col-md-8">
                    <div class="box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                Informations de base
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                {{ form_row(translationsFields.name) }}
                                {% if form.vars.default_locale != locale %}
                                    {{ form_row(translationsFields.status) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    {% if form.vars.default_locale == locale %}
                    <div class="box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                {{ 'group.news.publish_parameters'|trans }}
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="form-group fdc-input-border">
                                    {{ form_widget(form.parent.children.translate) }}
                                    {{ form_label(form.parent.children.translate) }}
                                    {{ form_widget(form.parent.children.translateOptions) }}
                                    {{ form_row(form.parent.children.priorityStatus) }}
                                </div>
                                <div class="status-hidden">
                                    {{ form_row(translationsFields.status) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="box box-success">
                        <div class="box-header">
                            <h4 class="box-title">
                                {{ 'group.french_version'|trans }}
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="sonata-ba-collapsed-fields">
                                <div class="form-group">
                                    <label class="control-label">
                                        {{ 'form.label_theme_name'|trans }}
                                    </label>
                                    {% if form.children.fr.vars.value is not null %}
                                        <div>
                                            {{ form.children.fr.vars.value.name }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>