{% trans_default_domain 'FDCPressBundle' %}
<nav>
    <ul class="main">
        {% for menu in menus %}
            {% if menu.route == 'fdc_press_news_home' and menu.enabled == true %}
                <li>
                    <a href="{{ path('fdc_press_news_home') }}"
                       class="{% if app.request.attributes.get('_route') == 'fdc_press_news_home' %}active{% endif %}">
                        {{ 'header.mainnav.nav.accueil'|trans }}
                    </a>
                </li>
            {% elseif menu.route == 'fdc_press_news_list' and menu.enabled == true %}
                <li>
                    <a href="{{ path('fdc_press_news_list') }}"
                       class="{% if app.request.attributes.get('_route') == 'fdc_press_news_list'
                       or app.request.attributes.get('_route') == 'fdc_press_news_get' %}active{% endif %}">
                        {{ 'header.mainnav.nav.communiques'|trans }}
                    </a>
                </li>
            {% elseif menu.route == 'fdc_press_accredit_main' and menu.enabled == true %}
                <li>
                    <a href="{{ path('fdc_press_accredit_main') }}"
                       class="{% if app.request.attributes.get('_route') == 'fdc_press_accredit_main' %}active{% endif %}">
                        {{ 'header.mainnav.nav.accrediter'|trans }}
                    </a>
                </li>
            {% elseif menu.route == 'fdc_press_guide_main' and menu.enabled == true %}
                <li>
                    <a href="{{ path('fdc_press_guide_main') }}"
                       class="{% if app.request.attributes.get('_route') == 'fdc_press_guide_main' %}active{% endif %}">
                        {{ 'header.mainnav.nav.guide'|trans }}
                    </a>
                </li>
            {% elseif menu.route == 'fdc_press_agenda_scheduling' and menu.enabled == true %}
                <li>
                    <a href="{{ path('fdc_press_agenda_scheduling') }}"
                       class="{% if app.request.attributes.get('_route') == 'fdc_press_agenda_scheduling'
                       or app.request.attributes.get('_route') == 'fdc_press_agenda_get'
                       or app.request.attributes.get('_route') == 'fdc_press_agenda_room' %}active{% endif %}">
                        {{ 'header.mainnav.nav.programmation'|trans }}
                    </a>
                    <ul class="tcenter">
                        {% if menu['__children'] is defined %}
                            {% for child in menu['__children'] %}
                                {% if child.enabled %}
                                    <li>
                                        <a href="{{ path(child.route) }}">
                                            {{ child.transName|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
            {% elseif menu.route == 'fdc_press_media_main' and menu.enabled == true %}
                <li>
                    <a href="{{ path('fdc_press_media_main') }}"
                       class="{% if app.request.attributes.get('_route') == 'fdc_press_media_main' %}active{% endif %}">
                        {{ 'header.mainnav.nav.mediatheque'|trans }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul class="user">
        <li>
            {% for menu in menus %}
                {% if menu.route == 'fdc_press_news_home' and menu.enabled == true %}
                <a href="{{ path('fdc_press_media_download') }}"
                   class="download {% if app.request.attributes.get('_route') == 'fdc_press_media_download' %}active{% endif %}">
                    <i class="icon icon_telecharger"></i>
                    {{ 'header.mainnav.nav.telecharger'|trans }}
                </a>
                {% endif %}
            {% endfor %}
        </li>
    </ul>
</nav>