{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/fdcpressmobile/css/press_maps.css"
        "bundles/fdcpressmobile/css/press_maps_custom.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="main" class="press press_maps" data-menu="prog">
        {% include 'FDCPressMobileBundle:Global:menu.html.twig' %}
        <div class="header-press">
            <div class="container">
                <h2>{{ 'plandessalles.title.plandessalles'|trans }}</h2>
            </div>
        </div>
        <div id="horizontal-menu" class="owl-carousel sliderDrag videosSlider">
            {%- for r in rooms.mapRoom -%}
            <div class="vid">
                <p>
                    <a href="#" data-map="{{ r.room|trans_fallback('title')|remove_accents|sonata_slugify }}"{% if loop.index == 1 %} class="active"{% endif %}>
                        {{- r.room|trans_fallback('title') -}}
                    </a>
                </p>
            </div>
            {%- endfor -%}
        </div>
        <div class="maps">
            {%- for key,r in rooms.mapRoom -%}
            <div id="{{ r.room|trans_fallback('title')|remove_accents|sonata_slugify }}"{% if loop.index == 1 %} class="active"{% endif %}>
                {% set img = r.room.image %}
                {% set trans = img.findTranslationByLocale(app.request.locale) %}
                {% if trans is null or trans.file is null %}
                    {% set trans = img.findTranslationByLocale('fr') %}
                {% endif %}
                {% set file = trans.file %}
                {%- thumbnail file, '646x567' with {'title': '', 'alt': img|trans_fallback('alt'), 'class': 'map' } -%}
                <h3>{{ 'plandessalles.label.lazonedufestival'|trans({},'FDCEventBundle') }}</h3>
                {% set roomActive = "room"~r.room.id %}
                {% set active = "" %}
                {% set img = r.room.zoneImage %}
                {% set trans = img.findTranslationByLocale(app.request.locale) %}
                {% if trans is null or trans.file is null %}
                    {% set trans = img.findTranslationByLocale('fr') %}
                {% endif %}
                {% set file = trans.file %}
                <a href="#" class="popin-plan" data-id="{{ r.room.id }}">{%- thumbnail file, '543x326' with {'title':'', 'alt': img|trans_fallback('alt'), 'data-image': roomActive, 'class': 'zone' } -%}</a>
            </div>
            {%- endfor -%}
        </div>


        {#<div id="seatingchart">
            <div class="nav-map">
                <ul>
                    {% for r in rooms.mapRoom %}
                        <li data-maps="room{{ r.room.id }}"{% if loop.index == 0 %} class="active"{% endif %}>
                            {{ r.room|trans_fallback('title') }}</li>
                    {% endfor %}

                    <li data-maps="zone-festival" id='more-map'>
                        <strong>{{ 'plandessalles.label.lazonedufestival'|trans }}</strong>
                        {% for key,r in rooms.mapRoom %}
                            {% if key == 0 %}
                                {% set img = rooms.defaultZoneImage %}
                                {% set trans = img.findTranslationByLocale(app.request.locale) %}
                                {% if trans is null or trans.file is null %}
                                    {% set trans = img.findTranslationByLocale('fr') %}
                                {% endif %}
                                {% set file = trans.file %}
                                {% thumbnail file, '197x142' with {'alt': img|trans_fallback('alt'), 'class': "visible first" ,'data-image': 'default' } %}
                            {% endif %}


                            {% set roomActive = "room"~r.room.id %}
                            {% set active = "" %}

                            {% set img = r.room.zoneImage %}
                            {% set trans = img.findTranslationByLocale(app.request.locale) %}
                            {% if trans is null or trans.file is null %}
                                {% set trans = img.findTranslationByLocale('fr') %}
                            {% endif %}
                            {% set file = trans.file %}
                            {% thumbnail file, '197x142' with {'alt': img|trans_fallback('alt'), 'data-image': roomActive } %}
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>#}
    </div>
    {% for key,r in rooms.mapRoom %}
        {% set roomActive = "room"~r.room.id %}
        {% set active = "" %}
        {% set img = r.room.zoneImage %}
        {% set trans = img.findTranslationByLocale(app.request.locale) %}
        {% if trans is null or trans.file is null %}
            {% set trans = img.findTranslationByLocale('fr') %}
        {% endif %}
        {% set file = trans.file %}
        <div id="popin-participate-{{  r.room.id }}" class="popin-plan-div"><img src="{% path file, '420x560' %}" alt="" /></div>
    {% endfor %}
    <div class="ov"></div>
{% endblock body %}

{% block javascripts %}
    {% javascripts
        '@FDCPressMobileBundle/Resources/public/js/press_maps.js'
        '@FDCPressMobileBundle/Resources/public/js/press_maps_custom.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}