{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/fdceventmobile/css/selection.css"
        "bundles/fdceventmobile/css/selection_custom.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="main" class="articles selection dark-background" data-menu="selection">

    {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
    {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}

        <div id="banner-top">
            <div class="banner-img vCenter" style="background-image:url('{% path page.image|trans_fallback('file'), '2560x1103' %}')">
                <div class="vCenterKid">
                    <h2 class="title">{{ 'selection.title.selectionofficielle'|trans }}</h2>
                </div>
            </div>
        </div>
        {% include 'FDCEventMobileBundle:Movie:components/filters.html.twig' %}

        <div class="content-selection">
            <div class="selection dark-background">
                <section>
                    <div class="title-list-cat">
                        <p class="subtitle alone">{{ page|trans_fallback('subtitle') }}</p>
                    </div>
                    <div class="owl-carousel film-slider">
                        {% for projection in projections %}
                            {%  if projection.programmationFilms|length > 0 %}
                                {% set film = projection.programmationFilms[0].film %}
                                {% include 'FDCEventMobileBundle:Movie:widgets/movie_cinema_plage.html.twig' with {'film': film, 'projection': projection, 'restauration': true} %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
        <div id="banner-bottom">
            <div class="banner-img vCenter" style="{% if next is not empty %}background-image:url('{% path next.image|trans_fallback('file'), '976x535' %}{% endif %}')">
                <div class="vCenterKid">
                    <h2 class="title">
                        {{- 'selection.cinemaplage.title.competition'|trans -}}
                    </h2>
                    <a href="{{ path('fdc_eventmobile_movie_selection', {'slug': next|trans_fallback('slug')?:next.selectionSection|trans_fallback('slug')} ) }}">
                        <i class="icon icon_fleche-right"></i> {{ 'selection.cinemaplage.btn.decouvrirlarubrique'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascripts %}
    {% javascripts '@FDCEventMobileBundle/Resources/public/js/selection.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}