{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/fdceventmobile/css/movie.css"
        "bundles/fdceventmobile/css/movie_custom.css"
        "bundles/fdceventmobile/css/article_custom.css"
        "bundles/fdceventmobile/css/event_custom.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
<div id="main" data-menu="selection" class="movie-page ba">

    {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
    {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}
    {% include 'FDCEventMobileBundle:Movie:components/banner.html.twig' %}

    <div class="container movie">
        {% if movie.awards|length > 0 %}
            <div class="section prize">
                {% set awardsUnique = [] %}
                {% for movieAward in movie.awards %}
                    {% if movieAward.award and movieAward.award.prize %}
                        {% if movieAward.award.id not in awardsUnique %}
                            {% set awardsUnique = awardsUnique|merge([movieAward.award.id]) %}
                            <div class="palmares-item"><i class="icon icon_palme"></i><p class="prize-name">{{ movieAward.award.prize|trans_fallback('title')|trim }}{%- if movieAward.award.exAequo == 1 -%}{{ ' ' }}({{ 'award.ex_aequo'|trans }}){% endif %}, {{  movieAward.award.festival.year }}</p></div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="section synopsis">
            <h3 class="title-section">{{ 'movie.title.synopsis'|trans }}</h3>
            <p>{{ movie|trans_fallback('synopsis')|nl2br|raw }}</p>
        </div>
        {% include 'FDCEventMobileBundle:Movie:widgets/video.html.twig' with { videos: movie.associatedMediaVideos } %}
        {% include 'FDCEventMobileBundle:Movie:widgets/casting.html.twig' %}
        {% include 'FDCEventMobileBundle:Movie:widgets/image.html.twig' with {'photos': movie.medias} %}
        {% if articles|length %}
        <div class="section articles">
            <h3 class="title-section">{{ 'movie.middlenav.actualites'|trans }}</h3>
            <div class="owl-carousel articles-carousel">
                {% for article in articles %}
                    {% include 'FDCEventMobileBundle:News:widgets/article-film.html.twig' with { 'index': loop.index} %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if movie.associatedMediaAudios|length > 0 %}
        <div class="section audio">
            <h3 class="title-section">{{ 'movie.middlenav.audios'|trans }}</h3>
            {% for associatedMediaAudio in movie.associatedMediaAudios %}
                {% include 'FDCEventMobileBundle:Movie:widgets/audio.html.twig' with { 'mediaAudio': associatedMediaAudio.mediaAudio } %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% include 'FDCEventMobileBundle:Movie:components/contact.html.twig' %}
    {% include 'FDCEventMobileBundle:Movie:widgets/competition.html.twig' %}
</div>
{% endblock body %}

{% block javascripts %}
    {% javascripts
        '@FDCEventMobileBundle/Resources/public/js/movie.js'
        '@FDCEventMobileBundle/Resources/public/js/article_custom.js'
        '@FDCEventMobileBundle/Resources/public/js/trailer_custom.js'
        '@FDCEventMobileBundle/Resources/public/js/movie_custom.js'
        '@FDCEventMobileBundle/Resources/public/js/event_custom.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}