{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "bundles/fdceventmobile/css/movie.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <div id="main" class="movie-page single-movie loading">

    {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
    {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}


    {#<div id="player" data-video="{{ s3_server_video ~ movie.webmUrl }}" data-poster=""></div>#}

    <div class="pictos-nav">
        <div class="back"><i class="icon-mobile-return"></i></div>
        <div class="calendar"><i class="icon icon_programmation"></i></div>
    </div>
        <div class="content-movie">

            {% include 'FDCEventMobileBundle:Movie:components/banner.html.twig' %}

            {% include 'FDCEventMobileBundle:Movie:widgets/video.html.twig' with { videos: movie.associatedMediaVideos } %}

            <div class="container movie">

                {% include 'FDCEventMobileBundle:Movie:widgets/casting.html.twig' %}

                {% include 'FDCEventMobileBundle:Movie:widgets/image.html.twig' with {'photos': movie.medias} %}

                {% if articles|length %}
                <div class="news" data-section="news">
                    <div class="section articles center">

                    {#<div class="section articles">#}
                        <h3 class="title-section">{{ 'movie.middlenav.actualites'|trans }}</h3>
                        <div class="owl-carousel articles-carousel">
                            {% for article in articles %}
                                {% include 'FDCEventMobileBundle:News:widgets/article.html.twig' with { 'index': loop.index} %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if movie.associatedMediaAudios|length > 0 %}
                    <div class="audios" data-section="audios">
                        <div class="section audios">
                            <h3 class="title-section">{{ 'movie.middlenav.audios'|trans }}</h3>
                            {% for associatedMediaAudio in movie.associatedMediaAudios %}
                                {% include 'FDCEventMobileBundle:Movie:widgets/audio.html.twig' with { 'mediaAudio': associatedMediaAudio.mediaAudio } %}
                            {% endfor %}
                        </div>
                    </div>
    			{% endif %}

            </div>

            {% include 'FDCEventMobileBundle:Movie:components/contact.html.twig' %}

            {% include 'FDCEventMobileBundle:Movie:widgets/competition.html.twig' %}

        </div>
        <span class="anim"></span>
    </div>
    {% if movie|trans_fallback('title') is not empty %}
        {% set mainTitle = movie|trans_fallback('title') %}
    {% else %}
        {% set mainTitle = movie.titleVO %}
    {% endif %}
{% endblock body %}

{% block javascripts %}
    {% javascripts '@FDCEventMobileBundle/Resources/public/js/movie.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}s