{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "bundles/fdceventmobile/css/selection.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="main" class="list-article films-list selection-officielle loading">

    {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
    {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}

        <div id="banner-top" class="show">
            <div class="banner-img vCenter"
                 style="background-image:url('{% path page.image|trans_fallback('file'), '2560x1103' %}')">
                <div class="vCenterKid">
                    <h2 class="title title-list-header">{{ 'selection.title.selectionofficielle'|trans }}</h2>
                </div>
            </div>

            {% include 'FDCEventMobileBundle:Movie:components/filters.html.twig' %}
        </div>

        <div class="dark-container content-selection show">
            {% for movie in movies %}
                {% if movie.imageCover and movie.imageCover|trans_fallback('file') %}
                    {% set videoImage = media_public_url(movie.imageCover|trans_fallback('file'), '293x185') %}
                    {% set alt = movie.imageCover|trans_fallback('alt') %}
                {% elseif movie.imageCover|trans_fallback('imageAmazonUrl') %}
                    {% set videoImage = s3_server_video ~ movie.imageCover|trans_fallback('imageAmazonUrl') %}
                    {% if movie.imageCover %}
                        {% set alt = movie.imageCover|trans_fallback('alt') %}
                    {% else %}
                        {% set alt = '' %}
                    {% endif %}
                {% else %}
                    {% set videoImage = asset('bundles/fdcevent/img/palmares/film_w256.jpg') %}
                {% endif %}

                <div class="selection-item">
                    <a href="{{ path('fdc_eventmobile_movie_get', {'slug': movie.slug}) }}"></a>
                    <div class="img" style="background-image:url('{{ videoImage }}')"></div>

                    {% if movie|trans_fallback_movie('title') != null and movie.titleVo != null and movie|trans_fallback_movie('title')|lower != movie.titleVo|lower %}
                        <p class="name">{{ movie.titleVo }}</p>
                        <p class="sub-name">({{ movie|trans_fallback_movie('title') }})</p>
                    {% else %}
                        <p class="name">{{ movie|trans_fallback('title')?:movie.titleVo }}</p>
                    {% endif %}
                    {% for director in movie|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                        {#<a href="{{ path('fdc_eventmobile_artist_get', {'slug': director.slug}) }}">#}
                            <p class="author">{{ loop.first == false ? ', ': '' }}{{ director.fullName }}</p>
                        {#</a>#}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        {% if next %}
            <div id="banner-bottom" class="show">
                <div class="banner-img vCenter" style="background-image:url('{% path next.image|trans_fallback('file'), '976x535' %}');">
                    <div class="vCenterKid">
                        <h2 class="title">{{ next|trans_fallback('overrideName')?:next.selectionSection|trans_fallback('name') }}</h2>
                        <a href="{{ path('fdc_eventmobile_movie_selection', {'slug': next|trans_fallback('slug')?:next.selectionSection|trans_fallback('slug')} ) }}"><i class="icon icon_fleche-right"></i> {{ 'selection.btn.decouvrirrubrique'|trans }}</a>
                    </div>
                </div>
            </div>


        {% endif %}
    </div>
{% endblock body %}

{% block javascripts %}
    {% javascripts '@FDCEventMobileBundle/Resources/public/js/selection.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}s