{% trans_default_domain 'FDCEventBundle' %}

<div class="filters">
    <div id="theme" class="filter">
        <span class="label">{{ 'article.filter.label.date'|trans }} :</span>
          <span class="select">
              {% for key, date in filters.dates %}
              <span class="{% if key == 0 %}active{% endif %}" data-filter="{% if key != 0 %} {{ date|date('d.m.y') }} {% else %} all {% endif %}">
                  {% if key != 0 %}
                      {% if app.request.locale != 'cn' %}
                          {{ date|localizeddate('full', 'none')  }}
                      {% else %}
                          {{ date|localizeddate('none', 'none', 'zh', null, 'MM月dd日, eee') }}
                      {% endif %}
                  {% else  %}
                      {{ 'article.filter.select.date.all'|trans }}
                  {% endif %}
                  </span>
              {% endfor %}
          </span>
    </div>
    <div id="format" class="filter">
        <span class="label">{{ 'article.filter.label.theme'|trans }} :</span>
          <span class="select">
              {% for key, theme in filters.themes.content %}
              <span class="{% if key == 0 %}active{% endif %}" data-filter="{% if key != 0 %} {{ filters.themes.slug[key] }} {% else %} all {% endif %}">
                  {% if key != 0 %}
                      {{ theme|trans_fallback('name') }}
                  {% else  %}
                      {{ 'article.filter.select.date.all'|trans }}
                  {% endif %}
              </span>
              {% endfor %}
          </span>
    </div>
</div>