{% trans_default_domain 'FDCEventBundle' %}

<div class="filters">
    {% if filters.dates is defined %}
    <div id="dates" class="filter">
        <span class="label">{{ 'article.filter.label.date'|trans }} :</span>
        <span class="select">
            {% for key, date in filters.dates %}
            <span class="{% if key == 0 %}active{% endif %}" data-filter="{% if key != 0 %}{{ date|date('d-m-y') }}{% else %}all{% endif %}">
                {% if key != 0 %}
                    {% if app.request.locale != 'cn' %}
                        {{ date|localizeddate('full', 'none')  }}
                    {% else %}
                        {{ date|localizeddate('none', 'none', 'zh', null, 'MM月dd日, eee') }}
                    {% endif %}
                {% else  %}
                    [ {{ 'search.result.filter.tous'|trans }} ]
                {% endif %}
            </span>
            {% endfor %}
            <i class="icon icon_fleche-down"></i>
          </span>
    </div>
    {% endif %}
    <div id="theme" class="filter">
        <span class="label">{{ 'article.filter.label.theme'|trans }} :</span>
        <span class="select">
            {% for key, theme in filters.themes.content %}
            <span class="{% if key == 0 %}active{% endif %}" data-filter="{% if key != 0 %}{{ theme|trans_fallback('slug') }}{% else %}all{% endif %}">
                {% if key != 0 %}
                    {{ theme|trans_fallback('name') }}
                {% else  %}
                    [ {{ 'search.result.filter.tous'|trans }} ]
                {% endif %}
            </span>
            {% endfor %}
            <i class="icon icon_fleche-down"></i>
        </span>
    </div>
    {% if filters.format is defined %}
    <div id="format" class="filter">
        <span class="label">{{ 'article.filter.label.format'|trans }} :</span>
        <span class="select">
            {% for key, format in filters.format %}
            <span class="{% if key == 0 %}active{% endif %}" data-filter="{% if key != 0 %}{{ format }}{% else %}all{% endif %}">
                {% if key != 0 %}
                    {{ format }}
                {% else  %}
                    [ {{ 'search.result.filter.tous'|trans }} ]
                {% endif %}
            </span>
            {% endfor %}
            <i class="icon icon_fleche-down"></i>
        </span>
    </div>
    {% endif %}
</div>