<div id="prefooter">
    <div class="container">
        <div class="textTop">
            <h2>{{ 'home.prefooter.title.vivezlefestivaldecannes'|trans }}</h2>
            <h3 class="subtitle">{{ 'home.prefooter.subtitle.suivezlefestival'|trans }}</h3>
            <ul>
                <li><a href="{{ social_youtube }}" class="active" target="_blank">TV Festival de Cannes</a></li>
                <li><a href="#">Applications Mobiles</a></li>
                <li><a href="{{ footer_boutique }}" target="_blank">Boutique officielle</a></li>
                <li><a href="#">Publications</a></li>
            </ul>
        </div>
        <div id="slider-prefooter" class="owl-carousel">
            <div class="imgSlide active bottom">
                <div class="vCenter">
                    <div class="vCenterKidBottom">
                        <a href='{{ social_youtube }}' target="_blank"><img src="http://html.festival-cannes-2016.com.ohwee.fr/img/prefooter/001.png" alt="" /></a>
                    </div>
                </div>
            </div>
            <div class="imgSlide bottom">
                <div class="vCenter">
                    <div class="vCenterKidBottom">
                        <a href='#'><img src="http://html.festival-cannes-2016.com.ohwee.fr/img/prefooter/002.png" alt="" /></a>
                    </div>
                </div>
            </div>
            <div class="imgSlide">
                <div class="vCenter">
                    <div class="vCenterKidBottom">
                        <a href='{{ footer_boutique }}' target="_blank"><img src="http://html.festival-cannes-2016.com.ohwee.fr/img/prefooter/003.png" alt="" /></a>
                    </div>
                </div>
            </div>
            <div class="imgSlide top">
                <div class="vCenter">
                    <div class="vCenterKidBottom">
                        <a href='#'><img src="http://html.festival-cannes-2016.com.ohwee.fr/img/prefooter/004.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>