<div id="networks">
    <p>{{ 'home.socials.text.suivezlefestivaldecannes'|trans }}</p>
    <ul>
        <li><a class="facebook" href="{{ social_facebook }}" target="_blank">Facebook</a></li>
        <li><a class="twitter" href="{{ social_twitter }}" target="_blank">Twitter</a></li>
        <li><a class="instagram" href="{{ social_instagram }}" target="_blank">Instagram</a></li>
        <li><a class="tumblr" href="{{ social_tumblr }}" target="_blank">Tumblr</a></li>
        <li><a class="youtube" href="{{ social_youtube }}" target="_blank">Youtube</a></li>
        <li><a class="dailymotion" href="{{ social_dailymotion }}" target="_blank">Dailymotion</a></li>
    </ul>
</div>