<div id="networks">
    <p>{{ 'home.socials.text.suivezlefestivaldecannes'|trans }}</p>
    <ul>
        <li><a class="facebook" href="{{ social_facebook }}" target="_blank">Facebook<i class="icon icon_facebook"></i></a></li>
        <li><a class="twitter" href="{{ social_twitter }}" target="_blank">Twitter<i class="icon icon_twitter"></i></a></li>
        <li><a class="instagram" href="{{ social_instagram }}" target="_blank">Instagram<i class="icon icon_instagram"></i></a></li>
        <li><a class="tumblr" href="{{ social_tumblr }}" target="_blank">Tumblr<i class="icon icon_tumblr"></i></a></li>
        <li><a class="youtube" href="{{ social_youtube }}" target="_blank">Youtube<i class="icon icon_youtube"></i></a></li>
        <li><a class="dailymotion" href="{{ social_dailymotion }}" target="_blank">Dailymotion<i class="icon icon_dailymotion"></i></a></li>
    </ul>
</div>