<div class="aboutVideos" style="display:block;!important">
    {% if widget|length > 1 %}
        <div id="slider-aboutVideos" class="owl-carousel">
    {% endif %}
    {% for key, video in widget  %}
        <div class="item">
            <div class="video-container state-init video"
                 data-name="{{ video.title }}"
                 data-file='[{"file":"{{ video.url }}"}]'>
                <div id="v_{{ key }}" class="video-player">
                </div>
                <div class="video-overlay"></div>
                <div class="infos-bar">
                    <div class="picto"><i class="icon icon_video"></i></div>
                    <div class="info">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                {% if video.translatable.theme.translations[app.request.getLocale()] is defined and video.translatable.theme.translations[app.request.getLocale()] is not null %}
                                    {% set theme = video.translatable.theme.translations[app.request.getLocale()] %}
                                {% endif %}
                                <a href="#" class="category">{{ theme.name }}</a><span class="date">{{ video.updatedAt|date("d.m.Y") }}</span> . <span class="hour">{{ video.updatedAt|date("g:i") }}</span>
                                <p>{{ video.title }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if widget|length > 1 %}
        </div>
    {% endif %}
</div>