{% trans_default_domain 'FDCCorporateBundle' %}
{{ form_errors(form) }}
{{ form_start(form) }}
<div class="vFlexAlign">
    <label for="{{ form.search.vars.id }}" class="search-txt vFlexAlign"><i
                class="icon icon-search"></i>
        {{ form_widget(form.search, { 'attr': {'class': 'searchBar'} }) }}
        <span class="close-suggest">✕</span>
        <div>
            <ul class="suggest" style="line-height:normal;">
            </ul>
        </div>
    </label>
    <label for="{{ form.news.vars.id }}" class="icon-s vFlexAlign "><i class="icon icon-article"></i><span
                class="text">{{ form_label(form.news) }}</span>{{ form_widget(form.news) }}</label>
    <label for="{{ form.photos.vars.id }}" class="icon-s vFlexAlign"><i class="icon icon-photo"></i><span
                class="text">{{ form_label(form.photos) }}</span>{{ form_widget(form.photos) }}</label>
    <label for="{{ form.videos.vars.id }}" class="icon-s vFlexAlign"><i class="icon icon-video"></i><span
                class="text">{{ form_label(form.videos) }}</span>{{ form_widget(form.videos) }}</label>
    <label for="{{ form.audios.vars.id }}" class="icon-s vFlexAlign"><i class="icon icon-audio"></i><span
                class="text">{{ form_label(form.audios) }}</span>{{ form_widget(form.audios) }}</label>
    <label for="{{ form.events.vars.id }}" class="icon-s vFlexAlign last"><i class="icon icon-event"></i><span
                class="text">{{ form_label(form.events) }}</span>{{ form_widget(form.events) }}</label>
</div>
<div class="slider-selection">
    <span id="slider-snap-value-lower" class="number"></span>
    <div class="container-timelapse">
        <div class="timelapse" id="timelapse"></div>
    </div>
    <span id="slider-snap-value-upper" class="number"></span>
</div>
{{ form_widget(form.yearStart,{ 'attr': {'class': 's-yearstart'} }) }}
{{ form_widget(form.yearEnd, { 'attr': {'class': 's-yearend'} }) }}
<div class="tabs-two vFlexAlign">
    <label for="{{ form.artists.vars.id }}" class="icon-s tab-s vFlexAlign"><i class="icon icon-user-round"></i><span
                class="text">{{ form_label(form.artists) }}</span>{{ form_widget(form.artists) }}</label>
    <label for="{{ form.movies.vars.id }}" class="icon-s tab-s vFlexAlign last"><i
                class="icon icon-movie-clap"></i><span
                class="text">{{ form_label(form.movies) }}</span>{{ form_widget(form.movies) }}</label>
</div>

<table class="more-search">
    <tr>
        <td>
            <div class="tab-1 tab">

                <div class="tab-selection" id='tab1'>
                    {{ form_widget(form.artistCountry) }}
                    <span class="close-suggest">✕</span>
                    <div>
                        <ul class="suggest">
                        </ul>
                    </div>
                </div>

                <div class="sub-tab">
                    <div class="jobs">
                        <div class="title-cont">{{ 'search.form.label.profession'|trans }} <i
                                    class="icon icon-create"></i></div>
                        {% for profession in form.professions %}
                            {% set temp = form_widget(profession) %}
                            <input type="checkbox" id="professions_{{ profession.vars.value }}"
                                   name="{{ profession.vars.full_name }}" value="{{ profession.vars.value }}"
                                   {% if profession.vars.data %}checked="checked"{% endif %}/>
                            <label for="professions_{{ profession.vars.value }}">{{ profession.vars.label }}</label>
                        {% endfor %}
                    </div>
                </div>

                <div class="sub-tab">
                    <div class="type">
                        <div class="title-cont">{{ 'search.form.label.genre'|trans }} <i class="icon icon-create"></i>
                        </div>
                        {% for genre in form.genres %}
                            {% set temp = form_widget(genre) %}
                            <input type="checkbox" id="genres_{{ genre.vars.value }}"
                                   name="{{ genre.vars.full_name }}" value="{{ genre.vars.value }}"
                                   {% if genre.vars.data %}checked="checked"{% endif %}/>
                            <label for="genres_{{ genre.vars.value }}">{{ genre.vars.label }}</label>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </td>
        <td>
            <div class="tab-2 tab">

                <div class="tab-selection" id="tab2">
                    {{ form_widget(form.movieCountry) }}
                    <span class="close-suggest">✕</span>
                    <div>
                        <ul class="suggest">
                        </ul>
                    </div>
                </div>

                <div class="sub-tab">
                    <div class="price">
                        <div class="title-cont">prix <i class="icon icon-create"></i></div>
                        {% for prize in form.prizes %}
                            {% set temp = form_widget(prize) %}
                            <input type="checkbox" id="prizes_{{ prize.vars.value }}"
                                   name="{{ prize.vars.full_name }}" value="{{ prize.vars.value }}"
                                   {% if prize.vars.data %}checked="checked"{% endif %}/>
                            <label for="prizes_{{ prize.vars.value }}">{{ prize.vars.label }}</label>
                        {% endfor %}
                    </div>
                </div>

                <div class="sub-tab active">
                    <div class="format">
                        <div class="title-cont">{{ 'search.form.label.format'|trans }} <i class="icon icon-minus"></i>
                        </div>
                        {% for format in form.formats %}
                            {% set temp = form_widget(format) %}
                            <input type="checkbox" id="formats_{{ format.vars.value }}"
                                   name="{{ format.vars.full_name }}" value="{{ format.vars.value }}"
                                   {% if format.vars.data %}checked="checked"{% endif %}/>
                            <label for="formats_{{ format.vars.value }}">{{ format.vars.label }}</label>
                        {% endfor %}
                    </div>
                </div>

                <div class="sub-tab active">
                    <div class="selection-type">
                        <div class="title-cont">{{ 'search.form.label.selection'|trans }} <i
                                    class="icon icon-minus"></i></div>
                        {% for selection in form.selections %}
                            {% set temp = form_widget(selection) %}
                            <input type="checkbox" id="selections_{{ selection.vars.value }}"
                                   name="{{ selection.vars.full_name }}" value="{{ selection.vars.value }}"
                                   {% if selection.vars.data %}checked="checked"{% endif %}/>
                            <label for="selections_{{ selection.vars.value }}">{{ selection.vars.label }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

<div class="buttons-02">
    <button type="submit" class="button button-submit-02" data-reset-url="{{ path('fdc_corporate_search_searchsubmit') }}">
        <i class="icon icon-search"></i>{{ 'search.form.label.submitsearch'|trans }}
    </button>
</div>

{{ form_end(form) }}