{% trans_default_domain "FDCCorporateBundle" %}
<p style="margin-bottom:10.0pt">
    <span style="font-size:8.0pt;font-family:'Arial','sans-serif';color:#c8a461">
        {% if artist is defined and artist is not null %}{{ artist|profession_gender('profession') }} - {{ artist.nationality|trans_fallback('name') }} {% if artist.nationality2 %}, {{ artist.nationality2|trans_fallback('name') }}{% endif %}{% else %}{{ section|upper }} - {{ detail }}{% endif %}
    </span>
</p>

{#<h1><span style="font-size:22.0pt;color:#c8a461;font-weight:normal;" >{{ 'QUI SOMMES-NOUS ?'|trans }}</span></h1>#}
<h1><span style="font-size:22.0pt;color:#c8a461;font-weight:normal;" >QUI SOMMES-NOUS ? </span></h1>


<h2><span style="font-size:22.0pt;color:#262626;font-weight:normal;" >{{ title }}</span></h2>
<div style="font-size:11.0pt;font-family:'Arial','sans-serif';color:#404040">{{ description|raw }}</div>
<p style="margin-bottom:12.0pt">
    <span style="font-size:11.0pt;font-family:'Arial','sans-serif';color:#404040">{{ 'Retrouvez cette affiche sur le site du Festival de Cannes'|trans ~ ' :' }}  </span>
    <span style="font-size:11.0pt;font-family:'Arial','sans-serif';>{{ url }}</span>
</p>

<hr size="1px" width="100%" noshade="" style="color:#bfbfbf; margin: 15px;" align="center">

<p style="margin-bottom:12.0pt">
    <span style="font-size:10.0pt;font-family:'Arial','sans-serif';">{{ 'MESSAGE DE L’EXPÉDITEUR'|trans }}</span>
</p>

<p style="font-size:11.0pt;font-family:'Arial','sans-serif';color:#404040">{{ message }}</p>



