{% trans_default_domain 'FDCCorporateBundle' %}
{% if class(article) starts with 'S' %}
    {% set type = 'communique' %}
{% else %}
    {% set type = 'info' %}
{% endif %}
{% if article is news_article or article is statement_article or article is info_article %}
    {% set contentType = 'article' %}
    {% set img = article.header %}
    {% set trans = img.findTranslationByLocale(app.request.locale) %}
    {% if trans is null or trans.file is null %}
        {% set trans = img.findTranslationByLocale('fr') %}
    {% endif %}
    {% set file = trans.file %}
{% elseif article is news_video or article is statement_video or article is info_video %}
    {% set contentType = 'video' %}
    {% set header = article.header %}
    {% if header is not null %}
        {% set trans = header.findTranslationByLocale(app.request.locale) %}
        {% if trans is not null and trans.file is not null %}
            {% set imageTrans = trans %}
        {% else %}
            {% set trans = article.header.findTranslationByLocale('fr') %}
            {% if trans is not null and trans.file is not null %}
                {% set imageTrans = trans %}
            {% endif %}
        {% endif %}
    {% endif %}
    {% if imageTrans is defined and imageTrans is not null %}
        {% set file = imageTrans.file %}
        {% set img = article.header %}
    {% else %}
        {% set img = article.video.image %}
        {% set trans = img.findTranslationByLocale(app.request.locale) %}
        {% if trans is null or trans.file is null %}
            {% set trans = img.findTranslationByLocale('fr') %}
        {% endif %}
        {% set file = trans.file %}
    {% endif %}
{% elseif article is news_audio or article is info_audio or article is statement_audio %}
    {% set contentType = 'audio' %}
    {% set header = article.header %}
    {% if header is not null %}
        {% set trans = header.findTranslationByLocale(app.request.locale) %}
        {% if trans is not null and trans.file is not null %}
            {% set imageTrans = trans %}
        {% else %}
            {% set trans = article.header.findTranslationByLocale('fr') %}
            {% if trans is not null and trans.file is not null %}
                {% set imageTrans = trans %}
            {% endif %}
        {% endif %}
    {% endif %}
    {% if imageTrans is defined and imageTrans is not null %}
        {% set file = imageTrans.file %}
        {% set img = article.header %}
    {% else %}
        {% set img = article.audio.image %}
        {% set trans = img.findTranslationByLocale(app.request.locale) %}
        {% if trans is null or trans.file is null %}
            {% set trans = img.findTranslationByLocale('fr') %}
        {% endif %}
        {% set file = trans.file %}
    {% endif %}
{% elseif article is news_image or article is statement_image or article is info_image %}
    {% set contentType = 'photo' %}
    {% set header = article.header %}
    {% if header is not null %}
        {% set trans = header.findTranslationByLocale(app.request.locale) %}
        {% if trans is not null and trans.file is not null %}
            {% set imageTrans = article.header.findTranslationByLocale(app.request.locale) %}
        {% else %}
            {% set trans = article.header.findTranslationByLocale('fr') %}
            {% if trans is not null and trans.file is not null %}
                {% set imageTrans = trans %}
            {% endif %}
        {% endif %}
    {% endif %}
    {% if imageTrans is defined and imageTrans is not null %}
        {% set img = article.header %}
        {% set file = imageTrans.file %}
    {% else %}
        {% set img = article.gallery.medias[0].media %}
        {% set trans = img.findTranslationByLocale(app.request.locale) %}
        {% if trans is null or trans.file is null %}
            {% set trans = img.findTranslationByLocale('fr') %}
        {% endif %}
        {% set file = trans.file %}
    {% endif %}
{% endif %}
<article
        class="card item all {{ article.theme|trans_fallback('slug') }} {{ contentType }}{{ articleClass is defined ? ' ' ~ articleClass : '' }} {{ type }}"
        data-format="{{ contentType }}"
        data-theme="{{ article.theme|trans_fallback('slug') }}" data-time="1455909420"
        data-end="false">
    <div class="image">
        <div class="image-wrapper">
            <img src="{% path file , '926x584' %}" alt=""/>
        </div>

        {% set trans = article.findTranslationByLocale(app.request.locale) %}
        {% if trans == null %}
            {% set trans = article.findTranslationByLocale('fr') %}
        {% endif %}
        {% set sliderUrl = path('fdc_corporate_news_presssingle', {type: type, format: get_news_format_slug(article), 'slug': article|trans_fallback('slug')}) %}
        <a href="{{ sliderUrl }}"
           class="linkImage"></a>
        <span class="picto"><i class="icon icon-{{ contentType }}"></i></span>
    </div>
    <div class="info">
        <a href="#"
           class="category">{{ article.theme|trans_fallback('name') }}</a><span
                class="date">{{ article.publishedAt|date('d.m.y') }}</span> . <span
                class="hour">{{ article.publishedAt|date('H:i') }}</span>
        <strong><a href="{{ sliderUrl }}">{{ article|trans_fallback('title') }}</a></strong>
    </div>
</article>