{% trans_default_domain 'FDCCorporateBundle' %}
{% extends 'FDCCorporateBundle::layout.html.twig' %}
{% block bodyClass %}
    who who-fdc who-staff bright article-single
{% endblock bodyClass %}
{% block body %}
    <section id="main">
        {% set mainTrans = datas.mainImage.findTranslationByLocale(app.request.locale) %}
        {% if mainTrans is null or mainTrans.file is null %}
            {% set mainTrans = datas.mainImage.findTranslationByLocale('fr') %}
        {% endif %}
        {% set mainImage = mainTrans.file %}
        <div class="block-push block-push-top"
             style="background-image: url({% path mainImage, 'reference' %});">
            <div class="vFlexAlign">
                <div class="txts">
                    <h1 class="title-3">qui sommes nous ?</h1>
                </div>
            </div>
        </div> <!-- end block push -->

        <div class="ajax-section">
            <div class="contain-ajax">
                {{ render(controller('FDCCorporateBundle:WhoAreWe:nav', {'slug' : 'equipe'})) }}


                <div class="all-contain who-staff">

                    <div class="contain-title vFlexAlign block-01-s">
                        <h2 class="title-02">{{ datas|trans_fallback('content')|raw }}</h2>
                    </div>

                    <div class="filters who-filter">
                        <div id="staff" class="filter">
                            <span class="label">l'équipe :</span>
                              <span class="select">
                                {% for team in datas.teams %}
                                    <span data-filter="{{ team.teams|trans_fallback('teamName')|replace({' ':'-'})|replace({',':'-'})|lower }}"
                                      {% if loop.index0 == 0 %}class="active"{% endif %}>{{ team.teams|trans_fallback('teamName') }}</span>
                                {% endfor %}
                                  <i class="icon icon-arrow-down"></i>
                              </span>
                        </div>
                    </div> <!-- end filters -->

                    {% for teamAssociation in datas.teams %}
                    <div class="pages {{ teamAssociation.teams|trans_fallback('teamName')|replace({' ':'-'})|replace({',':'-'})|lower }}" data-filter="{{ teamAssociation.teams|trans_fallback('teamName')|replace({' ':'-'})|replace({',':'-'})|lower }}">
                        {% for departementAssociation in teamAssociation.teams.departement %}
                        <div class="block-01 border-bottom{% if loop.first %}{% else %} padding-top{% endif %}">
                            <strong class="title-22">{{ departementAssociation.departement|trans_fallback('departementName') }}</strong>
                            <div class="container-items">
                                <div class="grid-sizer"></div>
                                {% for membersAssociation in departementAssociation.departement.members if membersAssociation.members is not null %}
                                <div class="item block-poster festival-de-cannes">
                                    <a>
                                        <div class="contain-img">
                                            {% set mainImage = null %}
                                            {% if  membersAssociation.members is not null and membersAssociation.members.mainImage is not null %}
                                                {% set mainTrans = membersAssociation.members.mainImage.findTranslationByLocale(app.request.locale) %}
                                                {% if mainTrans is null or mainTrans.file is null %}
                                                    {% set mainTrans = membersAssociation.members.mainImage.findTranslationByLocale('fr') %}
                                                {% endif %}
                                                {% set mainImage = mainTrans.file %}
                                            {% endif %}
                                            {% if mainImage is not null %}
                                                <img src="{% path mainImage, '256x348' %}" alt=""  >
                                            {% else %}
                                                <img src="{{ asset('bundles/fdccorporate/media/images/who-staff-01.jpg') }}" alt=""  >
                                            {% endif %}
                                        </div>
                                        <div class="contain-txts vFlexAlign">
                                            <span class="title-11">{{ membersAssociation.members|trans_fallback('firstname') }}
                                                <br>{{ membersAssociation.members|trans_fallback('lastname') }}
                                            </span>
                                            <span class="title-12">{{ membersAssociation.members|trans_fallback('function')|truncate(69,false,'') }}</span>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>

                        </div> <!-- fin block 01 -->
                        {% endfor %}    <!-- fin isotope-02 -->
                    </div>
                    {% endfor %}    <!-- fin isotope-02 -->
                </div> <!-- end all contain -->
            </div>
        </div>
    </section>
    {% include "FDCCorporateBundle:Global:breadcrumb.html.twig" with
    {"breadcrumb":
    [
    {
    "name" : 'header.nav.qui'|trans,
    "url"  : path('fdc_corporate_default_home')
    },
    {
    "name" : 'aboutus.team'|trans,
    "url"  : path('fdc_corporate_whoarewe_equipe')
    },
    ]
    } %}
{% endblock %}