{% extends 'FDCCorporateBundle::layout.html.twig' %}
{% trans_default_domain 'FDCCorporateBundle' %}

{% import 'FDCCorporateBundle:WhoAreWe/Macros:graphical-charter-widgets.html.twig' as widgetsMacro %}

{% block bodyClass %}
    who who-identity-guidelines bright
{% endblock bodyClass %}


{% block body %}
    <section id="main">
        {% set mainTrans = corpoTeam.mainImage.findTranslationByLocale(app.request.locale) %}
        {% if mainTrans is null or mainTrans.file is null %}
            {% set mainTrans = corpoTeam.mainImage.findTranslationByLocale('fr') %}
        {% endif %}
        {% set mainImage = mainTrans.file %}
        <div class="block-push block-push-top" style="background-image: url({% if mainImage %}{% path mainImage, '2560x1103' %}{% endif %})">
            <div class="vFlexAlign">
                <div class="txts">
                    <h1 class="title-3">{{ 'header.nav.whoweare'|trans }}</h1>
                </div>
            </div>
        </div> <!-- end block push -->

        <div class="ajax-section">
            <div class="contain-ajax">
                {{ render(controller('FDCCorporateBundle:WhoAreWe:nav', {'slug' : 'charte-graphique'})) }}

                <div class="all-contain">

                    <div class="contain-title vFlexAlign block-01-s">
                        <h2 class="title-02">{{ graphicalCharter|trans_fallback('header')|raw }}</h2>
                    </div>

                    <div class="block-01">

                        <div class="block-01-xs">

                            <strong class="title-22">{{ graphicalCharter|trans_fallback('title')|raw }}</strong>

                            <div class="texte-01">
                                {{ graphicalCharter|trans_fallback('text')|raw }}
                            </div>
                        </div>

                        <div class="block-accordion">
                            {% for section in sections %}
                                <div class="item{% if loop.first %} active{% endif %}">
                                    <div class="title-contain border-top ">
                                        <strong class="title-22">
                                            {{ loop.index }}. {{ section.name }}
                                        </strong>
                                        <i class="icon icon-nav-accordion icon-minus"></i>
                                    </div>
                                    {% for widget in section.widgets %}
                                        {% if widget.type == 'text' %}
                                            <div class="description">
                                                {{ widget.text|raw }}
                                            </div>
                                        {% elseif widget.type == 'one-column' %}
                                            {{ widgetsMacro.oneColumn(widget) }}
                                        {% elseif widget.type == 'two-columns' %}
                                            {{ widgetsMacro.twoColumns(widget) }}
                                        {% elseif widget.type == 'three-columns' %}
                                            {{ widgetsMacro.threeColumns(widget) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div> <!-- fin block 01 -->
                </div> <!-- end all contain -->
            </div>
        </div>
    </section>
    {{ render(controller('FDCCorporateBundle:Global:shareEmail',
    {'section':{{ 'header.nav.whoweare'|trans }},
        'detail' : '',
        'title'  : currentPage|trans_fallback('title'),
        'description': currentPage|trans_fallback('chapo')|striptags|truncate(250),
        'url': url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))
    })) }}
    {% include "FDCCorporateBundle:Global:breadcrumb.html.twig" with
    {"breadcrumb":
    [
    {
    "name" : 'header.nav.qui'|trans,
    "url"  : path('fdc_corporate_default_home')
    },
    {
    "name" : 'aboutus.graphical_charter'|trans,
    "url"  : path('fdc_corporate_whoarewe_graphicalcharter', {'slug': app.request.attributes.get('slug')})
    }
    ]
    } %}
{% endblock %}
