{% trans_default_domain 'FDCCorporateBundle' %}

{% if filters.themes.content is defined and filters.themes.content|length %}
    <div class="compute-filters">
        {% for theme in filters.themes.content if theme|trans_fallback('name') and theme|trans_fallback('slug') %}
            <span class="" data-filter="{{ theme|trans_fallback('slug') }}">{{ theme|trans_fallback('name') }}</span>
        {% endfor %}
    </div>
{% endif %}


{% if homeArticles|length %}
    <div class="articles" style="opacity:0">
        <div class="cards grid-01 isotope-01 to-init">
            <div class="grid-sizer"></div>
            {% for article in homeArticles|slice(0, 3) %}
                {% include 'FDCCorporateBundle:Home/contents:info-statement.html.twig' with({'articleClass': ''}) %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if homeArticles|length > 3 %}
    <div class="articles article-inverse" style="opacity:0">
        <div class="cards grid-01 isotope-01 to-init">
            <div class="grid-sizer"></div>
            {% for article in homeArticles|slice(3) %}
                {% include 'FDCCorporateBundle:Home/contents:info-statement.html.twig' with({'articleClass': ''}) %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if not last %}
    <a id="home-news-statements-more"
       href="{{ path('fdc_corporate_default_getarticlesfrom') }}?timestamp={{ lastPublishedAt }}"
       data-reverse=""
       class="read-more ajax-request">{{ 'home.coporate.statements.and.infos.more.button'|trans|raw }}</a>
{% else %}
    <a id="home-news-statements-more-end"
       href="{{ path('fdc_corporate_news_infosandstatements') }}"
       class="read-more">{{ "home.coporate.statements.and.infos.all.button"|trans|raw }}</a>
{% endif %}