{% trans_default_domain 'FDCCorporateBundle' %}

{% if homeArticles|length %}
    <div class="articles">
        <div class="cards grid-01 isotope-01 to-init">
            <div class="grid-sizer"></div>
            {% for article in homeArticles|slice(0, 3) %}
                {% include 'FDCCorporateBundle:Home/contents:info-statement.html.twig' with({'articleClass': loop.first ? 'double w2' : ''}) %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if homeArticles|length > 3 %}
    <div class="articles article-inverse">
        <div class="cards grid-01 isotope-01 to-init">
            <div class="grid-sizer"></div>
            {% for article in homeArticles|slice(3) %}
                {% include 'FDCCorporateBundle:Home/contents:info-statement.html.twig' with({'articleClass': loop.last ? 'double w2' : ''}) %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if not last %}
    <a id="home-news-statements-more"
       href="{{ path('fdc_corporate_default_getarticlesfrom') }}?timestamp={{ lastPublishedAt }}"
       data-reverse=""
       class="read-more ajax-request">{{ 'home.coporate.statements.and.infos.more.button'|trans|raw }}</a>
{% else %}
    <a id="home-news-statements-more-end"
       href="{{ path('fdc_corporate_news_infosandstatements') }}"
       class="read-more">{{ "home.coporate.statements.and.infos.all.button"|trans|raw }}</a>
{% endif %}