{% trans_default_domain 'FDCCorporateBundle' %}

{% if homeArticles|length %}
    <div class="articles right pad">
        {% for article in homeArticles|slice(0, 3) %}
            {% include 'FDCCorporateBundle:Home/contents:info-statement.html.twig' with({'articleClass': loop.first ? 'double w2' : ''}) %}
        {% endfor %}
    </div>
{% endif %}

{% if homeArticles|length > 3 %}
    <div class="articles left">
        {% for article in homeArticles|slice(3) %}
            {% include 'FDCCorporateBundle:Home/contents:info-statement.html.twig' with({'articleClass': loop.index == 2 ? 'double w2' : ''}) %}
        {% endfor %}
    </div>
{% endif %}

{% if not last %}
    <a id="home-news-statements-more"
       href="{{ path('fdc_corporate_default_getarticlesfrom') }}?timestamp={{ lastPublishedAt }}"
       data-reverse=""
       class="read-more ajax-request">{{ 'home.coporate.statements.and.infos.more.button'|trans|raw }}</a>
{% else %}
    <a id="home-news-statements-more"
       href="{{ path('fdc_corporate_news_infosandstatements', {'year': festivalYear}) }}"
       class="read-more">{{ "home.coporate.statements.and.infos.all.button"|trans|raw }}</a>
{% endif %}