<div class="contenu contents">
    <div class="resultsTitle">
        <h6>{{ 'search.content_section'|trans }}</h6>
        <div class="seeAll customClass4" rel="contenu">{{ 'search.see_all'|trans }}</div>
    </div>

    {% for rowContent in items.contentResults | batch(3) %}
        {% for content in rowContent %}
            <a href="{{ content.url }}" target="_blank">
                <div class="articles result" {% if loop.parent.loop.index > 1  %} hidden {% endif %}>
                    <div class="articles-content">
                        <div class="photoWrapper">
                            <img class="floatingIcon" src="{{ asset('bundles/fdcmarchedufilm/img/icon-' ~ content.icon ~ '.png') }}" alt="icon">
                            <img class="mainPic"
                                 src="{% if content.image %}{% path content.image|trans_fallback('file'), 'reference' %}{% else %}{{ asset('bundles/fdcmarchedufilm/img/no-image.png') }}{% endif %}"
                                 alt="{% if content.image %}{{ content.image|trans_fallback('alt') }}{% else %}default-image{% endif %}">
                        </div>
                        <div class="textWrapper">
                            <h6 class="{% if loop.index %2 == 0 %}redtitle customClass1{% else %}customClass4{% endif %}">
                                {{ content.theme|title }}
                                <span>{{ content.date|date("d M Y")|default() }}</span>
                            </h6>
                            <p>{{ content.title|length > 81 ? content.title|slice(0, 81) ~ '...' : content.title }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% endfor %}

    <hr>
</div>
