<div class="results-sections">
    <div class="results-boxes firstBox resultClick seeallResults">
        <h6 class="active">{{ 'search.all'|trans }}</h6>
        <span class="active">{{ total }}</span>
    </div>
    <div class="results-boxes resultClick" rel="contenu">
        <h6>{{ 'search.content_section'|trans }}</h6>
        <span>{{ totalContentResults }}</span>
    </div>
    <div class="results-boxes resultClick" rel="medias">
        <h6>{{ 'search.media_section'|trans }}</h6>
        <span>{{ totalMediaResults }}</span>
    </div>
    <div class="results-boxes resultClick" rel="documents">
        <h6>{{ 'search.document_section'|trans }}</h6>
        <span>{{ totalDocumentResults }}</span>
    </div>
</div>