<div class="medias contents">

    <div class="resultsTitle">
        <h6>{{ 'search.media_section'|trans }}</h6>
        <div class="seeAll customClass4" rel="medias">{{ 'search.see_all'|trans }}</div>
    </div>

    {% set icons = { 'image': 'icon-photo.png', 'video': 'icon-play.png', 'gallery': 'icon-photo.png'} %}

    {% for media in items.mediaResults%}

        <div class="articles result" {% if loop.index > 3  %} hidden {% endif %}>
            <div class="articles-content">
                <a href="{{ path('fdc_marche_du_film_get_media_source', {'id': media.id, 'type': media.type }) }}" target="_blank">
                    <div class="photoWrapper">
                        <img class="floatingIcon" src="{{ asset('bundles/fdcmarchedufilm/img/' ~ icons[media.type] ) }}" alt="alt-{{ media.type }}">
                        <img class="mainPic"
                             src="{% if media.image %}{% path media.image|trans_fallback('file'), 'reference' %}{% else %}{{ asset('bundles/fdcmarchedufilm/img/no-image.png') }}{% endif %}"
                             alt="{{ media.alt|default('default-image') }}">
                    </div>
                    <div class="textWrapper">
                        <h6 class="blackTitle">{{ media.title|slice(0, 20) }}</h6>
                    </div>
                </a>
            </div>
        </div>

    {% endfor %}

    <hr>
</div>
