{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% include 'BaseAdminBundle:Block:mdf_languages.tabs.html.twig' %}

    <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {{ form_row(translationsFields.applyChanges) }}
            {% set locale = translationsFields.vars.name %}
            {% if is_granted('ROLE_TRANSLATOR_FR') %}
                {% set currentLocale = 'fr' %}
            {% elseif is_granted('ROLE_TRANSLATOR_EN') %}
                {% set currentLocale = 'en' %}
            {% elseif is_granted('ROLE_TRANSLATOR_ZH') %}
                {% set currentLocale = 'zh' %}
            {% endif %}
            <div class="{% if app.request.get('code') is not null %}popin-a2lix-{{ locale }}{% else %}main-a2lix-{{ locale }}{% endif %} a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">
                <div class="row">
                    {% if form.vars.default_locale == locale %}
                        <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ 'form.ccm.label.participer.page_config'|trans }}
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="col-md-12">
                                    {{ form_row(translationsFields.title) }}
                                    {{ form_row(translationsFields.name) }}
                                    {{ form_row(translationsFields.slug) }}
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="fdc-widgets" data-form-widget="collection">
                                <div class="item base-widget">
                                    <h4><strong>{{ 'form.ccm.label.participer.layers_widget'|trans }}</strong></h4>
                                    {{ form_row(form.parent.children.pageLayersCollection) }}
                                </div>
                            </div>
                            {% if is_granted('ROLE_TRANSLATOR_FR') or is_granted('ROLE_TRANSLATOR_EN') or is_granted('ROLE_TRANSLATOR_ES') or is_granted('ROLE_TRANSLATOR_ZH') %}
                                {{ form_row(translationsFields.status, {'attr': {'class': 'translator'}}) }}
                            {% elseif is_granted('ROLE_JOURNALIST') %}
                                {{ form_row(translationsFields.status, {'attr': {'class': 'journalist'}}) }}
                            {% elseif is_granted('ROLE_TRANSLATOR_MASTER') %}
                                {{ form_row(translationsFields.status, {'attr': {'class': 'master_translator'}}) }}
                            {% else %}
                                {{ form_row(translationsFields.status) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    {{ form_label(form.parent.children.image) }}
                                    {{ form_widget(form.parent.children.image) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-md-8">
                        <div class="box-body">
                            <div class="fdc-widgets" data-form-widget="collection">
                                <div class="item base-widget">
                                    <h4><strong>{{ 'form.ccm.label.participer.layers_widget'|trans }}</strong></h4>
                                    {{ form_row(form.parent.children.pageLayersCollection) }}
                                </div>
                            </div>
                            {% if is_granted('ROLE_TRANSLATOR_FR') or is_granted('ROLE_TRANSLATOR_EN') or is_granted('ROLE_TRANSLATOR_ES') or is_granted('ROLE_TRANSLATOR_ZH') %}
                                {{ form_row(translationsFields.status, {'attr': {'class': 'translator'}}) }}
                            {% elseif is_granted('ROLE_JOURNALIST') %}
                                {{ form_row(translationsFields.status, {'attr': {'class': 'journalist'}}) }}
                            {% elseif is_granted('ROLE_TRANSLATOR_MASTER') %}
                                {{ form_row(translationsFields.status, {'attr': {'class': 'master_translator'}}) }}
                            {% else %}
                                {{ form_row(translationsFields.status) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ 'group.french_version'|trans }}
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ 'form.ccm.label.pros.page_title'|trans }}
                                        </label>
                                        {% if form.children.fr.vars.value is not null %}
                                            <div>
                                                {{ form.children.fr.vars.value.title }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ 'form.ccm.label.pros.page_name'|trans }}
                                        </label>
                                        {% if form.children.fr.vars.value is not null %}
                                            <div>
                                                {{ form.children.fr.vars.value.name }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ 'form.ccm.label.pros.page_slug'|trans }}
                                        </label>
                                        {% if form.children.fr.vars.value is not null %}
                                            <div>
                                                {{ form.children.fr.vars.value.slug }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>