{% trans_default_domain 'BaseAdminBundle' %}
{{ form_errors(form) }}
<div class="a2lix_translations tabbable">
    {% set currentLocale = (app.request.get('locale')) ? app.request.get('locale') : form.vars.default_locale %}
    {% include 'BaseAdminBundle:Block:mdf_languages.tabs.html.twig' %}

    <div class="a2lix_translationsFields tab-content">
        {% for translationsFields in form %}
            {{ form_row(translationsFields.applyChanges) }}
            {% set locale = translationsFields.vars.name %}
            {% if is_granted('ROLE_TRANSLATOR_FR') %}
                {% set currentLocale = 'fr' %}
            {% elseif is_granted('ROLE_TRANSLATOR_EN') %}
                {% set currentLocale = 'en' %}
            {% elseif is_granted('ROLE_TRANSLATOR_ZH') %}
                {% set currentLocale = 'zh' %}
            {% endif %}
            <div class="{% if app.request.get('code') is not null %}popin-a2lix-{{ locale }}{% else %}main-a2lix-{{ locale }}{% endif %} a2lix_translationsFields-{{ locale }} tab-pane {% if currentLocale == locale %}active{% endif %}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h4 class="box-title">
                                            {{ 'form.ccm.label.pros.page_config'|trans }}
                                        </h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            {{ form_row(form.parent.children.image) }}
                                            {{ form_row(translationsFields.title) }}
                                            {{ form_row(translationsFields.description) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if form.vars.default_locale == locale %}
                    <div class="col-md-12">
                        <div class="box-body">
                            <div class="fdc-widgets" data-form-widget="collection">
                                <div class="item base-widget">
                                    <h4><strong>{{ 'form.ccm.label.pros.domains_collection'|trans }}</strong></h4>
                                    {{ form_row(form.parent.children.domainsCollection) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box box-success">
                            <h4> {{'form.ccm.label.sejour.title'|trans}}</h4>
                        </div>
                    </div></br>
                        <div class="col-md-12">
                            <div class="box-body">
                                <div class="fdc-widgets" data-form-widget="collection">
                                    {{ form_label(form.parent.sejourIsActive) }}
                                    {{ form_widget(form.parent.sejourIsActive) }}
                                    </br>
                                    {{ form_label(form.parent.positionSejour) }}
                                    {{ form_widget(form.parent.positionSejour) }}
                                    </br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="box-body">
                                <div class="fdc-widgets" data-form-widget="collection">
                                    {% for widget in form.parent.children.sejoures.children %}
                                        <div class="item base-widget" data-itemtype="sejour">
                                            {{ form_row(widget._type) }}
                                            {{ form_row(widget.image) }}
                                            {{ form_widget(attribute(widget.children.translations, locale)) }}

                                            <a class="btn btn-danger btn-sm btn-outline remove_item">
                                                <i class="fa fa-minus-circle"></i> {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>

                                <a class="btn btn-primary btn-add-base-widget"
                                   data-prototype="{{ form_widget(form.parent.children.sejoures.vars.prototypes.ccm_homepage_sejour_type)|escape }}"><i
                                            class="icon-plus"></i>{{ 'form.ccm.label.homepage_sejour_type'|trans }}</a>
                            </div>
                        </div>
                    {% else %}
                    <div class="col-md-8">
                        <div class="box-body">
                            <div class="fdc-widgets" data-form-widget="collection">
                                <div class="box box-success">
                                    <h4> {{ 'form.ccm.label.sejour.title'|trans}}</h4>
                                </div>
                                <div class="fdc-widgets" data-form-widget="collection">
                                    {% for widget in form.parent.children.sejoures.children %}
                                        <div class="item base-widget" data-itemtype="sejour">
                                            {{ form_row(widget._type) }}
                                            {{ form_row(widget.image) }}
                                            {{ form_widget(attribute(widget.children.translations, locale)) }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="item base-widget">
                                    <h4><strong>{{ 'form.ccm.label.pros.domains_collection'|trans }}</strong></h4>
                                    {{ form_row(form.parent.children.domainsCollection) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box-success">
                            <div class="box-header">
                                <h4 class="box-title">
                                    {{ 'group.french_version'|trans }}
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ 'form.ccm.label.pros.page_title'|trans }}
                                        </label>
                                        {% if form.children.fr.vars.value is not null %}
                                            <div>
                                                {{ form.children.fr.vars.value.title }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ 'form.ccm.label.pros.page_description'|trans }}
                                        </label>
                                        {% if form.children.fr.vars.value is not null %}
                                            <div>
                                                {{ form.children.fr.vars.value.description }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-12">
                        <div class="box box-success">
                            <h4> {{ 'form.ccm.label.catalog.pushes'|trans}}</h4>
                        </div>
                    </div>
                    <br/>
                    <div class="box-body">
                        <div class="fdc-widgets" data-form-widget="collection">
                            {{ form_label(form.parent.catalogIsActive) }}
                            {{ form_widget(form.parent.catalogIsActive) }}
                            </br>
                            {{ form_label(form.parent.positionCatalog) }}
                            {{ form_widget(form.parent.positionCatalog) }}
                            </br>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box box-success">
                            <h4> {{'form.ccm.label.social.title'|trans}}</h4>
                        </div>
                    </div>
                    </br>
                    <div class="box-body">
                        <div class="fdc-widgets" data-form-widget="collection">
                            {{ form_label(form.parent.socialIsActive) }}
                            {{ form_widget(form.parent.socialIsActive) }}
                            </br>
                            {{ form_label(form.parent.positionSocial) }}
                            {{ form_widget(form.parent.positionSocial) }}
                            </br>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box box-success">
                            <h4> {{'form.ccm.label.actualite.title'|trans}}</h4>
                        </div>
                    </div>
                    </br>
                    <div class="box-body">
                        <div class="fdc-widgets" data-form-widget="collection">
                            {{ form_label(form.parent.actualiteIsActive) }}
                            {{ form_widget(form.parent.actualiteIsActive) }}
                            </br>
                            {{ form_label(form.parent.positionActualites) }}
                            {{ form_widget(form.parent.positionActualites) }}
                            </br>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>