{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressBundle::layout.html.twig' %}

{% block body %}
<div id="main" class="press loading seatingchart lock">
    <div class="header-press">
        <div class="head">
            <span><i class="icon icon_espace-presse"></i>{{ 'press.header.label.espacepresse'|trans }}</span>
        </div>
        <div class="container">
            <h2>{{ 'plandessalles.title.plandessalles'|trans }}</h2>
        </div>
    </div>
    <div id="seatingchart">
        <div class="nav-map">
            <ul>
                {% for r in rooms.mapRoom %}
                    <li data-maps="room{{ r.room.id }}">
                        {{ r.room|trans_fallback('title') }}</li>
                {% endfor %}
                <li data-maps="zone-festival" id='more-map'>
                    <strong>{{ rooms|trans_fallback('mapZone') }}</strong>
                    {% for key,r in rooms.mapRoom %}
                        {% set roomActive = "room"~r.room.id %}
                        {% set active = "" %}
                        {% if key == 0 %}
                        {% set active = "visible first" %}
                        {% endif %}
                        {% set img = r.room.image %}
                        {% set trans = img.findTranslationByLocale(app.request.locale) %}
                        {% if trans is null or trans.file is null %}
                            {% set trans = img.findTranslationByLocale('fr') %}
                        {% endif %}
                        {% set file = trans.file %}
                        {% thumbnail file, '197x142' with {'alt': img|trans_fallback('alt'), 'class': active ,'data-image': roomActive } %}
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div class="maps">
            {% for key,r in rooms.mapRoom %}
                <span id="room{{ r.room.id }}" class="{% if key == 0 %}first active{% endif %}">
                    {% set img = r.room.image %}
                    {% set trans = img.findTranslationByLocale(app.request.locale) %}
                    {% if trans is null or trans.file is null %}
                        {% set trans = img.findTranslationByLocale('fr') %}
                    {% endif %}
                    {% set file = trans.file %}
                    {% thumbnail file, '646x567' with {'alt': img|trans_fallback('alt') } %}
                </span>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}