{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="press press-programmation loading calendar-open lock">
        <div class="header-press">
            <div class="head">
                <span>{{ 'press.header.label.espacepresse'|trans }}</span>
            </div>
            <div class="container">
                <h2>{{ 'programmation.title.programmation'|trans }}</h2>
                <div class="buttons">
                    <a href="#" class="button subnav">{{ 'programmation.btn.telechargerhoraireprojectionpresse'|trans }}</a>
                    <a href="#" class="button list">{{ 'programmation.btn.telechargerformatpdf'|trans }}</a>
                    <a href="#" class="button list">{{ 'programmation.btn.telechargerformatics'|trans }}</a>
                </div>
            </div>
        </div>

        <div class="locked">
            <div class="vCenter">
                <div class="vCenterKid">
                    <h3 class="title-press">{{ 'programmation.title.contenusverrouilles'|trans }}</h3>
                    <p>{{ 'programmation.text.journalisteveuillezvousrendredanslespacepresse'|trans }}</p>
                </div>
            </div>
            <div class="buttons">
                <a href="{{ path('fdc_press_news_home') }}">{{ 'programmation.btn.allerdanslespacepresse'|trans }}</a>
            </div>
        </div>
        <div class="wrapper">
            {% include 'FDCPressBundle:Agenda:components/calendar.html.twig' %}
            <div class="programmation">
                <div id="calendar-programmation">

                    {% include 'FDCEventBundle:Agenda:components/filters.html.twig' %}

                    <div id="timeline">
                        {% set festivalStarted = 0 %}
                        {% for key, day in schedulingDays %}
                            <a href="#" class="{% if day|date('Ymd') == "now"|date('Ymd') %}{% set festivalStarted = 1 %}active
                                {% elseif festivalStarted == 0 and key == 0 %}active{% endif %}" data-date="{{ day|date('Ymd') }}">
                                {{ day|localizeddate('full', 'none', app.request.locale)|truncate(3, false, "") }}
                                <span class="day">{{ day|date('d') }}</span>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="calendar">
                        <div class="timeCol">
                            {% set currentHour = "now"|date('H') %}
                            <div class="empty"></div>
                            <div class="time">{{ currentHour }}</div>
                            <div class="time">{{ currentHour + 1}}</div>
                            <div class="time">{{ currentHour + 2}}</div>
                            <div class="time">{{ currentHour + 3}}</div>
                            <div class="time">{{ currentHour + 4}}</div>
                            <div class="time">{{ currentHour + 5}}</div>
                        </div>
                        <div class="venues">
                            <a href="#" class="nav prev"></a>
                            <a href="#" class="nav next"></a>
                            <div class="v-wrapper">
                                {% include 'FDCEventBundle:Agenda:widgets/grid.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ render(controller('FDCPressBundle:Global:contact')) }}

    </div>
{% endblock body %}