{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="press press-programmation loading calendar-open {{ is_granted("ROLE_FDC_PRESS_REPORTER") ? 'conected' : 'lock' }}">
        {% if is_granted("ROLE_FDC_PRESS_REPORTER") == true %}
            {% set file = pressProjection.pressScheduling %}
        {% else %}
            {% set file = pressProjection.scheduling %}
        {% endif %}
        <div class="header-press">
            <div class="head">
                <span><i class="icon icon_espace-presse"></i>{{ 'press.header.label.espacepresse'|trans }}</span>
            </div>
            <div class="container">
                <h2>{{ 'programmation.title.programmation'|trans }}</h2>
                <div class="buttons">
                    <a href="#" class="button subnav"><i class="icon icon_telecharger"></i>{{ 'programmation.btn.telechargerhoraireprojectionpresse'|trans }}</a>
                    <a href="{% path file, 'reference' %}" class="button list" download><i class="icon icon_telecharger"></i>{{ 'programmation.btn.telechargerformatpdf'|trans }}</a>
                    {#<a href="#" class="button list" download><i class="icon icon_telecharger"></i>{{ 'programmation.btn.telechargerformatics'|trans }}</a>#}
                </div>
            </div>
        </div>

        {{ render(controller('FDCPressBundle:Security:login')) }}

        <div class="wrapper">
            {% include 'FDCPressBundle:Agenda:components/calendar.html.twig' %}
            <div class="programmation">
                <div id="calendar-programmation">

                    {% include 'FDCEventBundle:Agenda:components/filters.html.twig' %}

                    <div id="timeline">
                        {% set festivalStarted = 0 %}
                        {% for key, day in schedulingDays %}
                            <a href="#" class="{% if day|date('Ymd') == "now"|date('Ymd') %}{% set festivalStarted = 1 %}active
                                {% elseif festivalStarted == 0 and key == 0 %}active{% endif %}" data-date="{{ day|date('Ymd') }}">
                                {{ day|localizeddate('full', 'none', app.request.locale)|truncate(3, false, "") }}
                                <span class="day">{{ day|date('d') }}</span>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="calendar">
                        <div class="timeCol">
                            <div class="empty"></div>
                            <div class="time">08H</div>
                            <div class="time">09H</div>
                            <div class="time">10H</div>
                            <div class="time">11H</div>
                            <div class="time">12H</div>
                            <div class="time">13H</div>
                            <div class="time">14H</div>
                            <div class="time">15H</div>
                            <div class="time">16H</div>
                            <div class="time">17H</div>
                            <div class="time">18H</div>
                            <div class="time">19H</div>
                            <div class="time">20H</div>
                            <div class="time">21H</div>
                            <div class="time">22H</div>
                            <div class="time">23H</div>
                            <div class="time">00H</div>
                            <div class="time">01H</div>
                            <div class="time">02H</div>
                            <div class="time">03H</div>
                        </div>
                        <div class="venues">
                            <a href="#" class="nav prev"><i class="icon icon_flecheGauche"></i></a>
                            <a href="#" class="nav next"><i class="icon icon_fleche-right"></i></a>
                            <div class="v-wrapper">
                                {% include 'FDCEventBundle:Agenda:components/grid.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ render(controller('FDCPressBundle:Global:contact')) }}

    </div>
{% endblock body %}