{% trans_default_domain 'FDCEventBundle' %}

{#<footer class="loading">#}
<footer>
    <div class="container">
        <h2 class="title">{{ 'footer.newsletter.title'|trans }}</h2>
        <h3 class="subtitle">{{ 'footer.newsletter.info'|trans }}</h3>

        {{ render(controller('FDCEventBundle:Footer:newsletter')) }}

        <div class="social">
            <p>
                {% image '@FDCEventBundle/Resources/public/img/svg/logo-white.svg' %}
                <img width="230" src="{{ asset_url }}" alt="{{ 'footer.social.title'|trans }}" />
                {% endimage %}
            </p>
            <ul>
                <li><a class="appli" href="app.php" target="_blank"></a></li>
                <li><a class="facebook" href="http://www.facebook.com/pages/Festival-de-Cannes-PageOfficielle/197710070249937" target="_blank"></a></li>
                <li><a class="twitter" href="https://twitter.com/Festival_Cannes" target="_blank"></a></li>
                <li><a class="instagram" href="https://instagram.com/festivaldecannes" target="_blank"></a></li>
                <li><a class="tumblr" href="http://festivaldecannesofficiel.tumblr.com/" target="_blank"></a></li>
                <li><a class="rss" href="#" target="_blank"></a></li>
                <li><a class="youtube" href="https://www.youtube.com/user/TVFestivaldeCannes" target="_blank"></a></li>
                <li><a class="dailymotion" href="http://www.dailymotion.com/CannesFestTV" target="_blank"></a></li>
                <li><a class="podcast" href="#" target="_blank"></a></li>
            </ul>
        </div>

        <div class="footer-menu">
            <ul>
                <li class="copyright">{{ 'footer.copyright'|trans }} {{ 'now'|date('Y') }}</li>
                <li>
                    <a href="{{ path('fdc_event_footer_contact') }}">
                        {{ 'footer.contact'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('fdc_event_footer_static', {'page': 'faq'}) }}">
                        {{ 'footer.faq'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('fdc_event_footer_static', {'page': 'credit'}) }}">
                        {{ 'footer.credit'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('fdc_event_footer_static', {'page': 'mention'}) }}">
                        {{ 'footer.mention-legale'|trans }}
                    </a>
                </li>
                <li><a href="#">{{ 'footer.rejoindre'|trans }}</a></li>
                <li><a href="#">{{ 'footer.boutique'|trans }}</a></li>
                <li>
                    <a href="{{ path('fdc_event_footer_static', {'page': 'sitemap'}) }}">
                        {{ 'footer.sitemap'|trans }}
                    </a>
                </li>
                <li><a href="#">{{ 'footer.confidentialite'|trans }}</a></li>
            </ul>
        </div>

    </div>
</footer>
<div id="siteLoader" class="canvasloader"></div>