{% trans_default_domain 'FDCEventBundle' %}
<header>
    <div id="top-bar">
        <ul class="main-nav">
            <li>
                <a href="/" class="active" > {{ 'header.topbar.nav.festival'|trans }} </a>
            </li>
            <li>
                <a href="{{ header_fdc }}" target="_blank" > {{ 'header.topbar.nav.festivalcannes'|trans }} </a>
            </li>
            <li>
                <a href="{{ header_cine }}" target="_blank" > {{ 'header.topbar.nav.cinefondation'|trans }} </a>
            </li>
            <li>
                <a href="{{ header_ccm }}" target="_blank" > {{ 'header.topbar.nav.courtmetrage'|trans }} </a>
            </li>
            <li>
                <a href="{{ header_mdf }}" target="_blank" > {{ 'header.topbar.nav.marche'|trans }} </a>
            </li>
        </ul>
        <ul class="user-nav">

            <li>
                <a href="#" class="selection">
                    <i class="icon icon_ma-selection"></i>
                    {{ 'header.usernav.nav.maselection'|trans }}
                </a>
            </li>

            <li>
                <a href="{{ header_account }}" class="account" target="_blank" >
                    <i class="icon icon_mon-compte"></i>
                    {{ 'header.usernav.nav.moncompte'|trans }}
                </a>
            </li>
            <li class="lang">
                <a href="#" class="language">
                    <i class="icon icon_langue"></i>
                    {{ app.request.locale|upper }}
                </a>
                <ul class="sub-languages">
                    {% for locale in locales %}
                        {% if locale != app.request.locale %}
                            <li>
                                {% set params = {'_locale' : locale} %}
                                {% if localeSlugs is defined and localeSlugs[app.request.locale] %}
                                    {% set params = params|merge({'slug': localeSlugs[locale]}) %}
                                {% endif %}
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(params)) }}">
                                    {{ locales[loop.index0]|upper }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div id="logo-wrapper">
        <div class="container">
            <div id="logo">
                <a href="/">
                    {% image '@FDCEventBundle/Resources/public/img/svg/palme.svg'  %}
                    <img src="{{ asset_url }}" class="palm" alt="{{ 'header.img.palme'|trans }}" />
                    {% endimage %}
                </a>
                <h1>
                    <a href="/">
                        {% image '@FDCEventBundle/Resources/public/img/svg/logo.svg' %}
                        <img width="200" src="{{ asset_url }}" alt="{{ 'header.logo.img.cannes'|trans }}" />
                        {% endimage %}
                    </a>
                </h1>
                <h2>
                    {{ render(controller('FDCEventBundle:Header:date')) }}
                </h2>
                <p class="stick">
                    <a href="/">
                        {% image '@FDCEventBundle/Resources/public/img/svg/logo.svg' %}
                        <img width="178" src="{{ asset_url }}" alt="{{ 'header.logo.img.cannes'|trans }}" />
                        {% endimage %}
                    </a>
                </p>
            </div>
            <div id="partners">
                <a href="{{ partner_chopard }}" target="_blank">
                    {% image '@FDCEventBundle/Resources/public/img/header/Logo_Chopard.svg' %}
                    <img width="84" src="{{ asset_url }}" class="chopard" alt="{{ 'header.partners.img.chopard'|trans }}" />
                    {% endimage %}
                </a>
                <a href="{{ partner_loreal }}" target="_blank">
                    {% image '@FDCEventBundle/Resources/public/img/header/loreal.svg' %}
                    <img width="75" src="{{ asset_url }}" class="oreal" alt="{{ 'header.partners.img.loreal'|trans }}" />
                    {% endimage %}
                </a>
                <a href="{{ partner_hp }}" target="_blank">
                    {% image '@FDCEventBundle/Resources/public/img/header/hp.svg' %}
                    <img width="28" src="{{ asset_url }}" class="hp" alt="{{ 'header.partners.img.hp'|trans }}" />
                    {% endimage %}
                </a>
                <a href="{{ partner_kering }}" target="_blank">
                    {% image '@FDCEventBundle/Resources/public/img/header/Kering-logo.svg' %}
                    <img width="82" src="{{ asset_url }}" class="kering" alt="{{ 'header.partners.img.kering'|trans }}" />
                    {% endimage %}
                </a>
                <a href="{{ partner_renault }}" target="_blank">
                    {% image '@FDCEventBundle/Resources/public/img/header/renault.svg' %}
                    <img width="95" src="{{ asset_url }}" class="renault" alt="{{ 'header.partners.img.renault'|trans }}" />
                    {% endimage %}
                </a>
                <a href="{{ partner_mastercard }}" target="_blank">
                    {% image '@FDCEventBundle/Resources/public/img/header/mastercard.png' %}
                    <img width="57" src="{{ asset_url }}" class="mastercard" alt="{{ 'header.partners.img.mastercard'|trans }}" />
                    {% endimage %}
                </a>
            </div>
            <div id="search">
                <a href="#" class="search">
                    <i class="icon icon_recherche"></i>
                </a>
            </div>
            <div id="sticky-user">
                <ul class="user-nav">
                    <li>
                        <a href="#" class="selection">
                            <i class="icon icon_ma-selection"></i>
                            {{ 'header.usernav.nav.maselection'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="http://sub.festival-cannes.fr/" class="account" target="_blank" >
                            <i class="icon icon_mon-compte"></i>
                            {{ 'header.usernav.nav.moncompte'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#" class="search">
                            <i class="icon icon_recherche"></i>
                            {{ 'header.usernav.nav.rechercher'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="navigation">
        <div class="container">
            {{ render(controller('FDCEventBundle:Global:menu', {route : app.request.get('_route')})) }}
        </div>
    </div>
    <div id="selection">
        <h2 class="title">{{ 'header.maselection.title.maselection'|trans }}<strong>(<span id="nbarticle"></span>)</strong></h2>
        <ul class="filters-selection">
            <li><a href="#" data-selection='all'>{{ 'header.maselection.nav.tous'|trans }}</a></li>
            <li><a href="#" data-selection='article'>{{ 'header.maselection.nav.articles'|trans }}</a></li>
            <li><a href="#" data-selection='video'>{{ 'header.maselection.nav.videos'|trans }}</a></li>
            <li><a href="#" data-selection='audio'>{{ 'header.maselection.nav.audios'|trans }}</a></li>
            <li><a href="#" data-selection='suggestion' class="active">{{ 'header.maselection.nav.suggestions'|trans }}</a></li>
        </ul>
        <div id="slider-selection" class="owl-carousel"></div>
        <div id="slider-suggestion" class="owl-carousel"></div>
        <div id="toClone" class="article">
            {#{ render(controller('FDCEventBundle:Global:suggestion')) }#}
            <article class="" data-format="" data-theme="">
                <div class="image">
                    <div class="image-wrapper">
                        <img src="" alt="" />
                    </div>
                    <a href="" class="linkImage"></a>
                    <span class="picto"></span>
                </div>
                <div class="info">
                    <a href="#" class="category"></a><span class="date"></span> . <span class="hour"></span>
                    <h2><a href=""></a></h2>
                </div>
            </article>
            <a href="#" class="delete"></a>
        </div>
    </div>
    <div id="searchContainer">
        <div class="container">
            {{ render(controller('FDCEventBundle:Global:search')) }}
            <ul id="suggest"></ul>
        </div>
    </div>
    <div style="display: none;"></div>
</header>