{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block body %}
<div id="main" class="contact loading">
    <h2 class="title">{{ 'contact.title.contact'|trans }}</h2>
    <div class="coords">
        <h3>{{ 'contact.title.festival'|trans }}</h3>
        <p>{{ 'contact.text.adresse'|trans }}</p>
        <p>{{ 'contact.text.contact'|trans }}</p>
    </div>

    <div class="container">
        {% for label, flashes in app.session.flashbag.all %}
            {% if label == "success" %}
                {#<div class="{{ label }}"> |!| JS |!|#}
                <div class="boxvalid">
                    {% for flash in flashes %}
                        <p>{{ 'contact.sucess.title.votremessage'|trans }}<br>
                        {{ 'contact.sucess.text.lequipeconcerne'|trans }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        <p>{{ 'contact.form.text.precisezvotredemande'|trans|raw }}</p>
        <div id="form">
            {{ form_start(form) }}
            <div class="select{% if form_errors(form.select) %} invalid{% endif %}">
                {{ form_label(form.select) }}
                {{ form_widget(form.select) }}
                <span id="triggerSelect"></span>
            </div>
            {% if form_errors(form.name) %}
                {{ form_widget(form.name, {'attr': {'class': 'invalid'}}) }}
            {% else %}
                {{ form_widget(form.name) }}
            {% endif %}
            {% if form_errors(form.email) %}
                {{ form_widget(form.email, {'attr': {'class': 'invalid'}}) }}
            {% else %}
                {{ form_widget(form.email) }}
            {% endif %}
            {% if form_errors(form.subject) %}
                {{ form_widget(form.subject, {'attr': {'class': 'invalid'}}) }}
            {% else %}
                {{ form_widget(form.subject) }}
            {% endif %}
            {% if form_errors(form.message) %}
                {{ form_widget(form.message, {'attr': {'class': 'invalid'}}) }}
            {% else %}
                {{ form_widget(form.message) }}
            {% endif %}

            <span class="required">{{ 'contact.form.text.champsobligatoires'|trans }}</span>
            <input type="submit" value="{{ 'contact.form.btn.envoyer'|trans }}">

            {{ form_end(form) }}

            {% if hasErrors %}
                <div class="errors show">
                    <ul>
                        {{ form_errors(form.select) }}
                        {{ form_errors(form.name) }}
                        {{ form_errors(form.email) }}
                        {{ form_errors(form.subject) }}
                        {{ form_errors(form.message) }}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}