{% trans_default_domain 'FDCEventBundle' %}
<nav class="navigation-sticky">
    <ul>
        <li{% if app.request.attributes.get('_route') == 'fdc_corporate_editions_affiche' %} class="active"{% endif %}><a href="{{ path('fdc_corporate_editions_affiche', {year: app.request.attributes.get('year')}) }}">L'affiche</a></li>
        <li{% if app.request.attributes.get('_route') == 'fdc_corporate_movie_selection' %} class="active"{% endif %}><a href="{{ path('fdc_corporate_movie_selection', {year: app.request.attributes.get('year')}) }}">La sélection</a></li>
        <li{% if app.request.attributes.get('_route') == 'fdc_corporate_jury_juries' %} class="active"{% endif %}><a href="{{ path('fdc_corporate_jury_juries', {year: app.request.attributes.get('year')}) }}">Les jurys</a></li>
        <li{% if app.request.attributes.get('_route') == 'fdc_corporate_palmares_get' %} class="active"{% endif %}><a href="{{ path('fdc_corporate_palmares_get', {year: app.request.attributes.get('year')}) }}">Le palmarès</a></li>
        <li{% if 'fdc_corporate_event' in app.request.attributes.get('_route') %} class="active"{% endif %}><a href="{{ path('fdc_corporate_event_getevents', {year: app.request.attributes.get('year')}) }}">Les évènements</a></li>
        <li{% if app.request.attributes.get('_route') == 'fdc_corporate_news_getphotos' %} class="active"{% endif %}><a href="{{ path('fdc_corporate_news_getphotos', {year: app.request.attributes.get('year')}) }}">Les médias</a></li>
        <li{% if app.request.attributes.get('_route') == 'fdc_corporate_news_getarticles' %} class="active"{% endif %}><a href="{{ path('fdc_corporate_news_getarticles', {year: app.request.attributes.get('year')}) }}">L'actualité</a></li>
    </ul>
</nav>