{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="webtv list-channels loading">
        <div id="live">
            <div class="vCenter">
                <div class="vCenterKid">
                    <h2>{{ 'webtv.channel.title.leschaines'|trans }}</h2>
                </div>
            </div>
            {% if FDCPageWebTvChannels.image %}
                {% if FDCPageWebTvChannels.image|trans_fallback('status') == 5 %}
                    <div class="img"
                         style="background-image:url('{% path FDCPageWebTvChannels.image|trans_fallback('file'), '1920x450' %}')"></div>
                {% else %}
                    <div class="img"
                         style="background-image:url('{% path FDCPageWebTvChannels.image|trans_fallback('file', 'fr'), '1920x450' %}')"></div>
                {% endif %}
            {% else %}
                <div class="img" style="background-image:url({{ asset('bundles/fdcevent/img/webtv/002.jpg') }})"></div>
            {% endif %}
        </div>
        <div id="gridAudios" class="grid grid-wrapper">
            <div class="grid-sizer"></div>

            {% for channel in channels %}
                <div class="item {{ channel|trans_fallback('publishAt')|date('d-m-Y') }} {{ channel.theme }} shadow-bottom playlist">
                    {% if channel.image %}
                        {% if channel.image|trans_fallback('file') %}
                            <img src="{% path channel.image|trans_fallback('file'), '640x404' %}"
                                 srcset="{% path channel.image|trans_fallback('file'), '640x404' %} 1x, {% path channel.image|trans_fallback('file'), '1280x808' %} 2x"
                                 alt="">
                        {% else %}
                            <img src="{% path channel.image|trans_fallback('file', 'fr'), '640x404' %}"
                                 srcset="{% path channel.image|trans_fallback('file', 'fr'), '640x404' %} 1x, {% path channel.image|trans_fallback('file', 'fr'), '1280x808' %} 2x"
                                 alt="">
                        {% endif %}
                    {% elseif channel.mediaVideos|length and channel.mediaVideos|last.image %}{# If channel image does not exist #}
                        {% if channel.mediaVideos|last.image|trans_fallback('file') %}
                            <img src="{% path channel.mediaVideos|last.image|trans_fallback('file'), '640x404' %}"
                                 srcset="{% path channel.mediaVideos|last.image|trans_fallback('file'), '640x404' %} 1x, {% path channel.mediaVideos|last.image|trans_fallback('file'), '1280x808' %} 2x"
                                 alt="">
                        {% else %}
                            <img src="{% path channel.mediaVideos|last.image|trans_fallback('file', 'fr'), '640x404' %}"
                                 srcset="{% path channel.mediaVideos|last.image|trans_fallback('file', 'fr'), '640x404' %} 1x, {% path channel.mediaVideos|last.image|trans_fallback('file', 'fr'), '1280x808' %} 2x"
                                 alt="">
                        {% endif %}
                    {% endif %}
                    <div class="picto"><i class="icon icon_playlist"></i></div>
                    <div class="info">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                <a href="{{ path('fdc_event_television_getchannel', {'slug': channel|trans_fallback('slug') }) }}"
                                   class="category">{% if loop.first %}{{ 'webtv.channel.most_viewed'|trans }}{% else %}{{ channel|trans_fallback('name') }}{% endif %}</a>
                                <p>{{ channel.mediaVideos|length }} {{ 'webtv.channel.text.videos'|trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}