{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
<div id="main" class="webtv list-channels loading">
    <div id="live">
        <div class="vCenter">
            <div class="vCenterKid">
                <h2>{{ 'webtv.channel.title.leschaines'|trans }}</h2>
            </div>
        </div>
        <div class="img" style="background-image:url({{ asset('bundles/fdcevent/img/webtv/002.jpg') }})"></div>
    </div>
    <div id="gridAudios" class="grid grid-wrapper">
        <div class="grid-sizer"></div>

        {% for channel in channels %}
            <div class="item {{ channel.filter.date }} {{ channel.filter.theme }} shadow-bottom playlist">
                <img src="{{ channel.image.src }}" srcset="{{ channel.image.srcset }}" alt="">
                <div class="picto"></div>
                <div class="info">
                    <div class="vCenter">
                        <div class="vCenterKid">
                            <a href="{{ path('fdc_event_television_getchannel', {'id': channel.id }) }}" class="category">{{ channel.title }}</a>
                            <p>{{ channel.nbVideos }} {{ 'webtv.channel.text.videos'|trans }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock body %}