{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
<div id="main" class="webtv webtv-ba loading">
    <div class="bandeau">
        <div id="live" style="background-image:url(http://dummyimage.com/1920x450/cfcfcf/fff&text=+)">
            <div class="vCenter">
                <div class="vCenterKid">
                    <a href="#" class="play-live"><i class="icon icon_video"></i></a>
                    <h2>{{ 'bandeannonce.title.lesbandesannoncesetextraits'|trans|raw }}</h2>
                </div>
            </div>
        </div>
        {% include 'FDCEventBundle:Television:components/filters.html.twig' %}
    </div>
    <div class="content-webtv">
        <div class="listtrailer grid all-videos">
            <div id="gridWebtv" class="grid-wrapper">
                <div class="grid-sizer"></div>

                {% for trailer in trailers %}
                    <div class="item {{ trailer.filter.date }} {{ trailer.filter.theme }} shadow-bottom video">

                        <img src="{{ trailer.image.src }}" srcset="{{ trailer.image.src }} 1x, {{ trailer.image.large }} 2x" alt="">
                        <div class="info">
                            <div class="picto"><i class="icon icon_playlist"></i></div>
                            <div class="info-container">
                                <div class="vCenter">
                                    <div class="vCenterKid">
                                        <a href="{{ path('fdc_event_television_gettrailer', {'id': trailer.id }) }}" class="category">{{ trailer.title }}</a>
                                        <span>{{ trailer.author }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    </div>
</div>
{% endblock body %}