{% trans_default_domain 'BaseAdminBundle' %}
<div class="dashboard-search-results bg-white">
    <header>
        Audios -
        {% if params.status == constant('Base\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_TRANSLATION_PENDING') %}
            En attente de traduction
        {% else %}
            Traduction à valider
        {% endif %}
        ({{ entities|length }})
    </header>
    <div id="dashboard-search-container">
        <table class="table table-bordered table-striped">
            <thead>
            <tr class="sonata-ba-list-field-header">

                <th class="sonata-ba-list-field-header-integer  sonata-ba-list-field-header-order-asc sonata-ba-list-field-order-active">
                    Id
                </th>
                <th class="sonata-ba-list-field-header-text ">
                    Titre de l'audio
                </th>
                <th class="sonata-ba-list-field-header-text ">
                    Thème
                </th>
                <th class="sonata-ba-list-field-header-choice  sonata-ba-list-field-header-order-asc ">
                    Priorité
                </th>
                <th class="sonata-ba-list-field-header-text ">
                    Libellés
                </th>
            </tr>
            </thead>

            <tbody>
            {% for entity in entities %}
                {% set object = entity %}
                {% set transFr = entity.findTranslationByLocale('fr') %}
                <tr>
                    <td class="sonata-ba-list-field sonata-ba-list-field-integer">
                        {{ entity.id }}
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-text">
                        <div>
                            {{ transFr.title }}
                        </div>
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-orm_many_to_one">
                        {% if entity.theme is not empty and entity.theme.findTranslationByLocale('fr') is not empty %}
                            {{ entity.theme.findTranslationByLocale('fr').name }}
                        {% endif %}
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-choice">
                        {% if entity.priorityStatus in priorityStatuses|keys %}
                            {{ priorityStatuses[entity.priorityStatus]|trans }}
                        {% endif %}
                    </td>
                    {% include 'BaseAdminBundle:Block:components/edit.html.twig' %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>