{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}

{#<div id="main" class="single-article artist loading">#}
<div id="main" class="single-article artist">
    <div class="content-article">
        <div class="container">
            <a href="{{ path('fdc_event_jury_getartist', {'id': pagination.prev}) }}" class="nav prev"></a>
            <a href="{{ path('fdc_event_jury_getartist', {'id': pagination.next}) }}" class="nav next"></a>
            {% if artist %}
                <div class="info">
                    <span href="#" class="category">{{ artist.functions }} -</span>
                    <span class="city">{{ artist.from }}</span>
                </div>
                <h2 class="title-article">{{ artist.name }}</h2>
                <div class="buttons">
                    <a id="share-article" href="#" class="button">{{ 'juries.artist.btn.partager'|trans }}</a>
                    <a href="#" class="button print">{{ 'juries.artiste.btn.imprimer'|trans }}</a>
                </div>
                <div class="single-photo">
                    <div class="photo-container">
                        <img src="{{ artist.img }}" alt="{{ artist.name }}" />
                    </div>
                </div>
                <div class="small-container">
                    <div class="biographie">
                        <h2 class="title title-cat-artist">{{ 'juries.artiste.title.biographie'|trans }}</h2>
                        <p class="paragraph">
                            {{ artist.bio }}
                        </p>
                    </div>
            {% endif %}
                    <h2  class="title title-art-artist">{{ 'juries.artiste.title.filmspresentes'|trans }}</h2>
                    <div class="contain-films-list">
                    {% for film in films %}
                        <div class="item">
                            <img src="{{ film.img }}" alt="">
                            <div class="content-text">
                                <span class="item-title">{{ film.title }}</span>
                                <span class="item-date">{{ film.date }}</span>
                                <span class="item-categ">{{ film.category }}</span>
                                <span class="item-details">{{ film.functions }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <h2  class="title title-art-artist">{{ 'juries.artiste.title.palmares'|trans }}</h2>
                <div class="contain-films-list">
                    {% for palm in palmares %}
                        <div class="item">
                            <img src="{{ palm.img }}" alt="">
                            <div class="content-text">
                                <span class="item-title">{{ palm.title }}</span>
                                <span class="item-date">{{ palm.date }}</span>
                                <span class="item-categ">{{ palm.palmares }}</span>
                                <span class="item-details">{{ palm.functions }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <h2  class="title title-art-artist">{{ 'juries.artiste.title.presences'|trans }}</h2>
                    {% for role in roles %}
                        <div class="jury">
                            <span class="rank">{{ role.title }}</span>
                            <span class="item-separate">-</span>
                            <span class="role">{{ role.role }}</span>
                            <span class="item-separate">-</span>
                            <span class="date">{{ role.date }}</span>
                        </div>
                    {% endfor %}
            </div>
        </div>
        <div class="share">
            <p>{{ 'juries.artiste.title.share'|trans }}</p>
            <div class="buttons square">
                <a href="#" class="button facebook"></a>
                <a href="#" class="button twitter"></a>
                <a href="#" class="button link"></a>
                <a href="#" class="button email"></a>
                <a href="#" class="button print"></a>
            </div>
        </div>
        <div class="realisateurs">
            <h1 class="title">{{ 'juries.artiste.title.realisateurs'|trans }}</h1>
            <div id="slide-artist">
                {% for realisateur in realisateurs %}
                    <div class="item first">
                        <figure>
                            <img src="{{ realisateur.img }}" alt="{{ realisateur.name }}">
                            <figcaption>
                                <span class="name">{{ realisateur.name }}</span>
                                <span class="rank">{{ realisateur.functions }}</span>
                            </figcaption>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <span class="anim"></span>
</div>

<!-- POPIN MAIL SHARE ---->
    {{ render(controller('FDCEventBundle:Global:shareEmail',
       {'section': artist.functions,
        'detail': artist.from,
        'title':artist.name,
        'description': artist.bio
       }))
    }}
<!-- END POPIN MAIL SHARE -->

{% endblock body %}