{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}

    <div id="main" class="single-article artist loading">
        <div class="content-article">
            <div class="container">
                <div class="info">
                    {% set profession = artist|trans_fallback('profession') %}
                    {% if profession %}
                        <span href="#" class="category" {{ artist|content_lang('profession') }}>
                            {{ profession }}
                        </span>
                    {% endif %}
                    {% if artist.nationality %}
                        <span class="city" {{ artist.nationality|content_lang('name') }}>
                        {{ artist.nationality|trans_fallback('name') }}
                            {% if artist.nationality2 %}, {{ artist.nationality2|trans_fallback('name') }}{% endif %}
                        </span>
                    {% endif %}
                </div>
                <h2 class="title-article">{{ artist.fullName }}</h2>
                <div class="buttons">
                    <a id="share-article" href="#" class="button">
                        <i class="icon icon_share"></i>
                        {{ 'juries.artist.btn.partager'|trans }}
                    </a>
                    <a href="#" onclick="javascript:window.print()" class="button print">
                        <i class="icon icon_print"></i>
                        {{ 'juries.artiste.btn.imprimer'|trans }}
                    </a>
                </div>
                <div class="single-photo">
                    <div class="photo-container">
                        {% set artistImage = artist|person_image %}
                        {% if artistImage %}
                            <img src="{% path artistImage, '976x535' %}" alt="{{ artist.fullName }}"/>
                        {% else %}
                            {% set media = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PERSON'))|first %}
                            {% if media is empty %}
                                {% set media = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                            {% endif %}
                            {% if media is empty %}
                                {% set photo = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                            {% endif %}
                            {% if media is not empty %}
                                <img src="{% path media, '976x535' %}" alt="{{ artist.fullName }}"/>
                            {% endif %}

                        {% endif %}
                    </div>
                </div>
                <div class="small-container">
                    {% set biography = artist|trans_fallback('biography') %}
                    {% if biography %}
                        <div class="biographie">
                            <h2 class="title title-cat-artist">{{ 'juries.artiste.title.biographie'|trans }}</h2>
                            <p class="paragraph" {{ artist|content_lang('biography') }}>
                                {{ biography|raw }}
                            </p>
                        </div>
                    {% endif %}
                    {% if artist.films|length > 0 %}
                    <h2 class="title title-art-artist">{{ 'juries.artiste.title.filmspresentes'|trans }}</h2>
                    <div class="contain-films-list">
                        {% for filmPerson in artist.films %}
                            <div class="item">
                                {% if filmPerson.film.festival.id == festival %}
                                <a href="{{ path('fdc_event_movie_get', {'slug': filmPerson.film.slug}) }}">
                                    {% endif %}
                                    <div class="image">
                                        {% include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({
                                        film: filmPerson.film,
                                        film_format: '366x488',
                                        film_attrs: {
                                        alt: filmPerson.film|trans_fallback('title')?:filmPerson.film.titleVO,
                                        'data-object-fit': 'cover'
                                        },
                                        film_image_default: 'bundles/fdcevent/img/palmares/film_w181.jpg'
                                        }) %}

                                    </div>
                                    <div class="content-text">
                                        <span class="item-title">{{ filmPerson.film.titleVO }}</span>
                                        {% if filmPerson.film|trans_fallback('title') %}
                                            <span class="item-sub-title">{{ filmPerson.film|trans_fallback('title') }}</span>
                                        {% endif %}
                                        {% if filmPerson.film.festival %}
                                            <span class="item-date">{{ filmPerson.film.festival.year }}</span>
                                        {% endif %}
                                        {% if filmPerson.film.selectionSection %}
                                            <span class="item-categ" {{ filmPerson.film.selectionSection|content_lang('name') }}>{{ filmPerson.film.selectionSection|trans_fallback('name') }}</span>
                                        {% endif %}
                                        {% if filmPerson.functions|length > 0 %}
                                            {% spaceless -%}
                                                <span class="item-details" {{ filmPerson.functions[0].function|content_lang('name') }}>
                                            {% for filmPersonFunction in filmPerson.functions -%}
                                                {{ loop.first == false ? ',' : '' }} {{ filmPersonFunction.function|trans_fallback('name') }}
                                            {%- endfor %}
                                                </span>
                                            {%- endspaceless %}
                                        {% endif %}
                                    </div>
                                    {% if filmPerson.film.festival.id == festival %}
                                </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    {% set awardsCount = 0 %}
                    {% for filmPerson in artist.films %}
                        {% for awardAssociation in filmPerson.film.awards %}
                            {% if awardAssociation.award.prize.type == constant('Base\\CoreBundle\\Entity\\FilmPrizeInterface::TYPE_FILM') or
                            (awardAssociation.award.prize.type == constant('Base\\CoreBundle\\Entity\\FilmPrizeInterface::TYPE_PERSON') and
                            awardAssociation.person.id == artist.id) %}
                                {% set awardsCount = awardsCount + 1 %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% if awardsCount > 0 %}
                        <h2 class="title title-art-artist">{{ 'juries.artiste.title.palmares'|trans }}</h2>
                        <div class="contain-films-list">
                            {% for filmPerson in artist.films %}
                                {% for awardAssociation in filmPerson.film.awards %}
                                    {% if awardAssociation.award.prize.type == constant('Base\\CoreBundle\\Entity\\FilmPrizeInterface::TYPE_FILM') or
                                    (awardAssociation.award.prize.type == constant('Base\\CoreBundle\\Entity\\FilmPrizeInterface::TYPE_PERSON') and
                                    awardAssociation.person.id == artist.id) %}
                                        <div class="item">
                                            {% if filmPerson.film.festival.id == festival %}
                                            <a href="{{ path('fdc_event_movie_get', {'slug': filmPerson.film.slug}) }}">
                                                {% endif %}
                                                <div class="image">
                                                    {% include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({
                                                    film: filmPerson.film,
                                                    film_format: '366x488',
                                                    film_attrs: {
                                                    alt: filmPerson.film|trans_fallback('title')?:filmPerson.film.titleVO,
                                                    'data-object-fit': 'cover'
                                                    },
                                                    film_image_default: 'bundles/fdcevent/img/palmares/film_w181.jpg'
                                                    }) %}
                                                </div>
                                                <div class="content-text">
                                                    <span class="item-title">{{ filmPerson.film.titleVO }}</span>
                                                    {% if awardAssociation.award.festival %}
                                                        <span class="item-date">{{ awardAssociation.award.festival.year }}</span>
                                                    {% endif %}
                                                    <span class="item-categ" {{ awardAssociation.award.prize|content_lang('title') }}>
                                                    {{ awardAssociation.award.prize|trans_fallback('title') }}
                                                    </span>
                                                    {% if filmPerson.functions|length > 0 %}
                                                        {% spaceless -%}
                                                            <span class="item-details" {{ filmPerson.functions[0].function|content_lang('name') }}>
                                                        {% for filmPersonFunction in filmPerson.functions -%}
                                                            {{ loop.first == false ? ',' : '' }} {{ filmPersonFunction.function|trans_fallback('name') }}
                                                        {%- endfor %}
                                                        </span>
                                                        {%- endspaceless %}
                                                    {% endif %}
                                                </div>
                                                {% if filmPerson.film.festival.id == festival %}
                                            </a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if artist.juries|length > 0 %}
                        <h2 class="title title-art-artist">{{ 'juries.artiste.title.presences'|trans }}</h2>
                        <div class="jury">
                            {% for jury in artist.juries %}
                                {% if jury.function %}
                                    <span class="rank" {{ jury.function|content_lang('name') }}>{{ jury.function|trans_fallback('name') }}</span>
                                {% endif %}
                                {% if jury.type %}
                                    {% if jury.function %}
                                        <span class="item-separate">-</span>
                                    {% endif %}
                                    <span class="role" {{ jury.type|content_lang('name') }}>{{ jury.type|trans_fallback('name') }}</span>
                                {% endif %}
                                {% if jury.festival %}
                                    {% if jury.function or jury.type %}
                                        <span class="item-separate">-</span>
                                    {% endif %}
                                    <span class="date">{{ jury.festival.year }}</span>
                                {% endif %}
                                {{ loop.last == false ? '<br>':'' }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="share">
                <p>{{ 'juries.artiste.title.share'|trans }}</p>
                {% set currentUrl = app.request.schemeAndHttpHost ~ app.request.requestUri %}
                <div class="buttons square">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ currentUrl }}

"
                       rel="nofollow" class="button facebook">
                        <i class="icon icon_facebook"></i>
                    </a>
                    <a href="https://twitter.com/intent/tweet?url={{ currentUrl }}" rel="nofollow"
                       class="button twitter">
                        <i class="icon icon_twitter"></i>
                    </a>
                    <a href="#" rel="nofollow" class="button link self"><i class="icon icon_link"></i></a>
                    <a href="#" rel="nofollow" class="button email self"><i class="icon icon_lettre"></i></a>
                    <a href="#" rel="nofollow" onclick="javascript:window.print()" class="button print"><i
                                class="icon icon_print"></i></a>
                </div>
            </div>
            <div class="realisateurs">
                <h1 class="title">{{ 'juries.artiste.title.realisateurs'|trans }}</h1>
                <div id="slide-artist">
                    {% for director in directors %}
                        <div class="item first">
                            <figure>
                                <a href="{{ path('fdc_event_artist_get', {'slug': director.slug }) }}">
                                    <div class="image">
                                        {% set directorImage = director|person_image_portait %}
                                        {% if directorImage %}
                                            <img src="{% path directorImage, '210x284' %}" alt="{{ director.fullName }}"
                                                 data-object-fit="cover">
                                        {% else %}
                                            {% set media = director|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PERSON'))|first %}
                                            {% if media is empty %}
                                                {% set media = director|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                                            {% endif %}
                                            {% if media is empty %}
                                                {% set photo = director|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                                            {% endif %}
                                            {% if media is not empty %}
                                                <img src="{% path media, '210x284' %}" alt="{{ director.fullName }}"
                                                     data-object-fit="cover">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <figcaption>
                                        <span class="name">{% include 'FDCEventBundle:Movie:widgets/check_asian_name.html.twig' with {'person': director} %}</span>
                                        <span class="rank" {{ director|content_lang('profession') }}>{{ director|trans_fallback('profession') }}</span>
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <span class="anim"></span>
    </div>

    {% include "FDCEventBundle:Global:breadcrumb.html.twig" with {"breadcrumb": [
    {
    "name" : 'breadcrumb.webtv.home'|trans,
    "url"  : path('fdc_event_news_index')
    },
    {
    "name" : artist.fullName,
    "url"  : ''
    }
    ]} %}
{% endblock body %}