
<article class="{{ article.newsType|get_news_type  }} {{isDouble}} {% if article.double is defined and article.double %}double{% endif %}" data-format="{{ article.newsType|get_news_type }}" data-time="{{ article.publishedAt|date('U') }}" data-theme="{{ article.theme|trans_fallback('slug') }}" data-end="{{ endOfArticles }}">
    <div class="image">
        <div class="image-wrapper">
            {% if article is news_article %}
                {% set img = article.header %}
                {% set trans = img.findTranslationByLocale(app.request.locale) %}
                {% if trans is null or trans.file is null %}
                    {% set trans = img.findTranslationByLocale('fr') %}
                {% endif %}
                {% set file = trans.file %}
                {% thumbnail file, '1144x724' with {'alt': img|trans_fallback('alt') } %}
            {% elseif article is news_video %}
                {% set header = article.header %}
                {% if header is not null and header.file is not null %}
                    {% set imageTrans = article.header.findTranslationByLocale(app.request.locale) %}
                    {% if imageTrans is null or imageTrans.file is null %}
                        {% set imageTrans = article.header.findTranslationByLocale('fr') %}
                    {% endif %}
                {% endif %}
                {% if imageTrans is defined and imageTrans is not null %}
                    {% set file = imageTrans.file %}
                    {% set img = article.header %}
                {% else %}
                    {% set img = article.video.image %}
                    {% set trans = img.findTranslationByLocale(app.request.locale) %}
                    {% if trans is null or trans.file is null %}
                        {% set trans = img.findTranslationByLocale('fr') %}
                    {% endif %}
                    {% set file = trans.file %}
                {% endif %}

                {% thumbnail file, '1144x724' with {'alt': img|trans_fallback('alt') } %}
            {% elseif article is news_audio %}
                {% set header = article.header %}
                {% if header is not null and header.file is not null %}
                    {% set imageTrans = article.header.findTranslationByLocale(app.request.locale) %}
                    {% if imageTrans is null or imageTrans.file is null %}
                        {% set imageTrans = article.header.findTranslationByLocale('fr') %}
                    {% endif %}
                {% endif %}
                {% if imageTrans is defined and imageTrans is not null %}
                    {% set file = imageTrans.file %}
                    {% set img = imageTrans %}
                {% else %}
                    {% set img = article.audio.image %}
                    {% set trans = img.findTranslationByLocale(app.request.locale) %}
                    {% if trans is null or trans.file is null %}
                        {% set trans = img.findTranslationByLocale('fr') %}
                    {% endif %}
                    {% set file = trans.file %}
                {% endif %}

                {% thumbnail file, '1144x724' with {'alt': img|trans_fallback('alt') } %}
            {% elseif article is news_image %}
                {% set header = article.header %}
                {% if header is not null and header.file is not null %}
                    {% set imageTrans = article.header.findTranslationByLocale(app.request.locale) %}
                    {% if imageTrans is null or imageTrans.file is null %}
                        {% set imageTrans = article.header.findTranslationByLocale('fr') %}
                    {% endif %}
                {% endif %}
                {% if imageTrans is defined and imageTrans is not null %}
                    {% set img = article.header %}
                    {% set file = imageTrans.file %}
                {% else %}
                    {% set img = article.gallery.medias[0].media %}
                    {% set trans = img.findTranslationByLocale(app.request.locale) %}
                    {% if trans is null or trans.file is null %}
                        {% set trans = img.findTranslationByLocale('fr') %}
                    {% endif %}
                    {% set file = trans.file %}
                {% endif %}

                {% thumbnail file, '1144x724' with {'alt': img|trans_fallback('alt') } %}
            {% endif %}
        </div>
        <a href="{{ path('fdc_event_news_get', {'format': article.newsFormat, 'slug': article|trans_fallback('slug')}) }}" class="linkImage"></a>
        <a href="#" class="read-later">
            <i class="icon icon_lire-plus-tard"></i><span>{{ 'home.article.btn.ajouteramaselection'|trans }}</span>
        </a>
        <span class="picto"><i class="icon icon_{{ article.newsType|get_news_type  }}"></i></span>
    </div>
    <div class="info">
        <a href="#" class="category">{{ article.theme|trans_fallback('name') }}</a>
        <span class="date">{{ article.publishedAt|date('d.m.y') }}</span> . <span class="hour">{{ article.publishedAt|date('H:i') }}</span>
        <h2><a href="{{ path('fdc_event_news_get', {'format': article.newsFormat, 'slug': article|trans_fallback('slug') }) }}">{{ article|trans_fallback('title')|truncate(55) }}</a></h2>
    </div>
</article>