{% trans_default_domain 'FDCEventBundle' %}

{% set file = news.video %}
{% set trans = file.findTranslationByLocale(app.request.locale) %}
{% if trans.jobWebmState == 3 and trans.jobMp4State ==3 %}
    {% if trans is null or trans.file is null %}
        {% set trans = file.findTranslationByLocale('fr') %}
    {% endif %}

    {% set header = news.header %}
    {% if header is not null %}
        {% set imageTrans = news.header.findTranslationByLocale(app.request.locale) %}
        {% if imageTrans is null or imageTrans.file is null %}
            {% set imageTrans = news.header.findTranslationByLocale('fr') %}
        {% endif %}
    {% endif %}
    {% if imageTrans is defined %}
        {% set image = imageTrans.file %}
    {% else %}
        {% set header = news.video.image %}
        {% set imageTrans = header.findTranslationByLocale(app.request.locale) %}
        {% if imageTrans is null or imageTrans.file is null %}
            {% set imageTrans = header.findTranslationByLocale('fr') %}
        {% endif %}

        {% set image = imageTrans.file %}
    {% endif %}

    <div class="video-container video-single state-init video"
        data-link="//www.example.com"
        data-email="//www.gmail.com"
        {% if playlist is defined %}
        data-playlist='{{ playlist }}'
        {% else %}
        data-file='[{"file":"{{ s3_server_video ~ trans.webmUrl }}"},{"file":"{{ s3_server_video ~ trans.mp4Url }}"}]'
        {% endif %}
        data-img="{% if image is defined and image is not null %}{% path image, 'reference' %}{% endif %}"
        data-name="{{ trans.title }}">
        <div id="video-player-{{ trans.id }}" class="video-player">
        </div>
        <div class="video-overlay"></div>
        <div class="infos-bar">
            <div class="picto"><i class="icon icon_video"></i></div>
            <div class="info">
                <div class="vCenter">
                    <div class="vCenterKid">
                        <span class="category">{{ news.video.theme|trans_fallback('name') }}</span>
                        <span class="date">{{ news.video.publishedAt|date('d.m.Y') }}</span> . <span
                                class="hour">{{ news.video.publishedAt|date('H:i') }}</span>
                        <p>{{ trans.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
