{% trans_default_domain 'FDCEventBundle' %}

<div class="{% if class(widget) starts with 'StatementW' or class(widget) starts with 'InfoW' %}slideshow{% else %}slideshow{% endif %}">
    {% set file = "" %}
    <div class="slideshow-img">
        <div class="images">
            {% for key, gallery in widget.gallery.medias %}

            {% set trans = gallery.media.findTranslationByLocale(app.request.locale) %}
            {% if trans is null or trans.file is null %}
                {% set trans = gallery.media.file.findTranslationByLocale('fr') %}
            {% endif %}
            {% set file = trans.file %}
            <div class="img {% if key == 0 %}active{% endif %}">
                <a id="photo{{ key+1 }}" class="chocolat-image ajax" href="{% path file, '2560x1620' %}" title="<span class='category'>{{ gallery.media.theme|trans_fallback('name') }}</span><h2>{{ trans.legend }}</h2>" data-credit="{{ trans.copyright }}">
                    <img src="{% path file, '1266x798' %}" alt="{{ trans.alt }}">
                </a>
            </div>
            {% endfor %}

        </div>
        <div class="owl-carousel thumbnails">
            {% for key, gallery in widget.gallery.medias %}
                {% set trans = gallery.media.findTranslationByLocale(app.request.locale) %}
                {% if trans is null or trans.file is null %}
                    {% set trans = gallery.media.file.findTranslationByLocale('fr') %}
                {% endif %}
                {% set file = trans.file %}
                <div data-id="photo{{ key+1 }}" class="thumb {% if key == 0 %}active{% endif %}">
                    {% thumbnail file, '97x61' %}
                </div>
            {% endfor %}
        </div>
    </div>
    {#<p class="caption">{{ widget.gallery.copyright|raw }}</p>#}

</div>