{% trans_default_domain 'FDCEventBundle' %}

<div class="{% if class(widget) starts with 'StatementW' or class(widget) starts with 'InfoW' %}slideshow{% else %}slideshow{% endif %}">
    {% set file = "" %}
    <div class="slideshow-img">
        <div class="images">
            {% for key, gallery in widget.gallery.medias %}

            {% set trans = gallery.media.findTranslationByLocale(app.request.locale) %}
            {% if trans is null or trans.file is null %}
                {% set trans = gallery.media.findTranslationByLocale('fr') %}
            {% endif %}
            {% set file = trans.file %}
                {% set copyright = gallery.media|trans_fallback('copyright') %}
            <div class="img {% if key == 0 %}active{% endif %}">
                <a id="photo{{ key+1 }}" data-pid="{{ gallery.media.id }}" class="chocolat-image ajax" href="{% path file, '2560x1620' %}" title="<span class='category'>{{ gallery.media.theme|trans_fallback('name') }}</span><span class='date'>{{ gallery.media.createdAt|date('d.m.y H:i') }}</span><h2>{{ trans.legend }}</h2>" data-credit="{% if copyright is not empty %}{{ 'slider.credit_image'|trans }} : {{ copyright }}{% endif %}">
                    <img src="{% path file, '1266x798' %}" alt="{{ trans.alt }}" title="{{ trans.legend }}">
                </a>
            </div>
            {% endfor %}

        </div>
        {% set firstLegend = '' %}
        {% set firstCopyright = '' %}
        <div class="owl-carousel thumbnails">
            {% for key, gallery in widget.gallery.medias %}
                {% set trans = gallery.media.findTranslationByLocale(app.request.locale) %}
                {% if trans is null or trans.file is null %}
                    {% set trans = gallery.media.findTranslationByLocale('fr') %}
                {% endif %}
                {% set photo = gallery.media %}
                {% if loop.index == 1 %}
                    {% set firstLegend = photo|trans_fallback('legend') %}
                    {% set firstCopyright = photo|trans_fallback('copyright') %}
                {% endif %}
                {% set file = trans.file %}
                {% set copyright = photo|trans_fallback('copyright') %}
                <div data-id="photo{{ key+1 }}" data-caption="<strong>{{ photo|trans_fallback('legend') }}</strong>{% if copyright is not empty %} © {% endif %}{{ copyright }}" class="thumb {% if key == 0 %}active{% endif %}">
                    {% thumbnail file, '97x61' %}
                </div>
            {% endfor %}
        </div>
    </div>
    <p class="caption">
        <strong>{{ firstLegend }}</strong>
        {% if firstCopyright is not empty %} © {{ firstCopyright }}{% endif %}
    </p>

</div>