{% set file = widget.file %}
{% set trans = file.findTranslationByLocale(app.request.locale) %}
{% if trans is null or trans.file is null %}
    {% set trans = file.findTranslationByLocale('fr') %}
{% endif %}

<div class="video-container state-init video"
     data-facebook="//www.facebook.com/sharer.php?u=html.festival-cannes-2016.com.ohwee.fr&t=le%20titre"
     data-twitter="//www.twitter.com"
     data-link="//www.example.com"
     data-email="//www.gmail.com"
     {% if playlist is defined %}
     data-playlist='{{ playlist }}'
     {% else %}
     data-file='[{"file":""}]'
     {% endif %}
     data-img="{% path trans.image, 'reference' %}"
>

    <div id="video-player-{{ trans.id }}" class="video-player">
    </div>
    <div class="video-overlay"></div>
    <div class="infos-bar">
        <div class="picto"><i class="icon icon_video"></i></div>
        <div class="info">
            <div class="vCenter">
                <div class="vCenterKid">
                    <a href="{% path trans.file, 'reference' %}" class="category">{{ trans.theme|trans_fallback('name') }}</a>
                    <span class="date">{{ news|trans_fallback('createdAt')|date('d.m.Y') }}</span> . <span class="hour">{{ news|trans_fallback('createdAt')|date('H:i') }}</span>
                    <p>{{ trans.title }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
