{% trans_default_domain 'FDCEventBundle' %}

{% set transVideo = film.video.findTranslationByLocale(app.request.locale) %}
{% if transVideo is null %}
    {% set transVideo = film.video.findTranslationByLocale('fr') %}
{% endif %}

{% set transImage = film.video.image.findTranslationByLocale(app.request.locale) %}
{% if transImage is null %}
    {% set transImage = film.video.image.findTranslationByLocale('fr') %}
{% endif %}

<div>
    <div class="video">
        <video preload muted>
            <source src="{% path transVideo.file , 'reference' %}" type="video/webm">
        </video>
        <div class="img" style="background-image:url({% path transImage.file, '212x134' %})"></div>
    </div>
    <div class="textVideo">
        <div class="info">
            <div class="vCenter">
                <div class="vCenterKid">
                    <span class="category">{{ film.association.selectionSection|trans_fallback('name') }}</span>
                    <h2>{{ film.association|trans_fallback('title')  }}</h2>
                    <p class="director">
                        {{ 'home.video.text.de'|trans }}
                        {% for director in film.association|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                        <a href="#">{{ director.fullName }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="links">
            <a href="#" class="seances"><i class="icon icon_programmation"></i>{{ 'home.video.btn.voirlesseances'|trans }}</a>
            <a href="#" class="all"><i class="icon icon_fleche-right"></i>{{ 'home.video.btn.touslesfilms'|trans }}</a>
        </div>
    </div>

</div>

