<div id="breadcrumb">
    <div class="container">
        <ul>
            <li>
                <a href="#">L'actualité</a>
                <i class="icon icon_fleche-right"></i>
            </li>
            <li>
                <a href="#">Jour après jour</a>
                <i class="icon icon_fleche-right"></i>
            </li>
            <li>
                <a href="#">Jour après jour</a>
                <i class="icon icon_fleche-right"></i>
            </li>
            <li>
                <a href="#" class="active">Enragés, polar hybride d'éric han ...</a>
            </li>
        <span class="goTop">
          Haut de la page
          <i class="icon icon_fleche-top"></i>
        </span>
        </ul>

    </div>
</div>
<footer class="loading">
    <div class="container">
        <div class="social">
            <a href="{{ path('fdc_ccm_homepage') }}"><img width="250" src="{{ asset('bundles/fdccourtmetrage/img/Cannes-Court-blanc.png') }}" alt="Festival de Cannes"></a>
            <ul>
                <li><a class="facebook" href="//www.facebook.com/pages/Festival-de-Cannes-PageOfficielle/197710070249937" target="_blank"><i class="icon icon_facebook"></i></a></li>
                <li><a class="twitter" href="//twitter.com/Festival_Cannes" target="_blank"><i class="icon icon_twitter"></i></a></li>
            </ul>
        </div>

        <div class="footer-menu">
            <ul>
                <li class="copyright">{{ 'footer.copyright'|trans }} {{ "now"|date('Y') }}</li>
                <li><a href="#">{{ 'footer.contact'|trans }}</a></li>
                <li><a href="{{ path('fdc_courtmetrage_faq') }}">{{ 'footer.faq'|trans }}</a></li>
                <li><a href="{{ path('fdc_ccm_footer_credits') }}">{{ 'footer.credits'|trans }}</a></li>
                <li><a href="{{ path('fdc_ccm_footer_mentions_legales') }}">{{ 'footer.legal_mentions'|trans }}</a></li>
                <li><a href="#">{{ 'footer.site_map'|trans }}</a></li>
                <li><a href="{{ path('fdc_ccm_footer_politique_de_confidentialite') }}">{{ 'footer.general_conditions'|trans }}</a></li>
            </ul>
        </div>

    </div>
</footer>
<div id="siteLoader" class="canvasloader"></div>
