<header>
    <div id="top-bar">
        <ul class="main-nav">
            <li>
                <a href="{{ header_fdc_com }}" target="_blank">{{ 'header.festival'|trans }}</a>
            </li>
            <li>
                <a href="{{ attribute(_context, 'header_fdc_'~ app.request.locale) }}" target="_blank">{{ 'header.fdc'|trans }}</a>
            </li>
            <li>
                <a href="{{ attribute(_context, 'header_cine_'~ app.request.locale) }}" target="_blank">{{ 'header.cine'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('fdc_court_metrage_homepage') }}" class="active">{{ 'header.ccm'|trans }}</a>
            </li>
            <li>
                <a href="{{ attribute(_context, 'header_mdf_'~ app.request.locale) }}" target="_blank">{{ 'header.mdf'|trans }}</a>
            </li>
        </ul>
        <ul class="user-nav">
            {#<li>#}
                {#<a href="{{ attribute(_context, 'header_account_'~ app.request.locale) }}" class="account" target="_blank"><i class="icon icon_mon-compte"></i>{{ 'header.my_account'|trans }}</a>#}
            {#</li>#}
            <li class="lang">
                <a href="#" class="language"><i class="icon icon_langue"></i> {{ app.request.locale|upper }}</a>
                <ul class="sub-languages">
                    {% for locale in ccm_locales if locale != app.request.locale %}
                        <li>
                            <a href="{{ path(routeName, routeParams|merge({ _locale: locale })) }}">{{ locale|upper }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div id="logo-wrapper">
        <div class="container">
            <div id="logo">
                <a href="/"><img src="{{ asset('bundles/fdccourtmetrage/img/palme.svg') }}" alt="Festival de Cannes" class="palm" /></a>
                <h1><a href="/"><img width="250" src="{{ asset('bundles/fdccourtmetrage/img/logo-ccm.png') }}" alt="Festival de Cannes" /></a></h1>
                <h2><a href="/"><img width="110" src="{{ asset('bundles/fdccourtmetrage/img/logo-festival.png') }}" alt="Festival de Cannes" /></a></h2>
                <p class="stick"><a href="/"><img width="215" src="{{ asset('bundles/fdccourtmetrage/img/logo-ccm.png') }}" alt="Festival de Cannes" /></a></p>
            </div>
            {% if menuPage is defined and menuPage is not null %}
                <div class="topiconsContainer">
                    {% if menuPage.programPicIsActive %}
                        <div class="topIcons first{% if not menuPage.catalogPicIsActive %} icon-border-right{% endif %}">
                            <a href="#"><img src="{{ asset('bundles/fdccourtmetrage/img/01-calendar.svg') }}"></a>
                        </div>
                    {% endif %}
                    {% if menuPage.catalogPicIsActive %}
                        <div class="topIcons second">
                            <a href="#"><img src="{{ asset('bundles/fdccourtmetrage/img/05-open-book.svg') }}"></i></a>
                        </div>
                    {% endif %}
                    {% if menuPage.registerPicIsActive %}
                        <div class="topIcons third{% if not menuPage.programPicIsActive and not menuPage.catalogPicIsActive %} icon-border-left{% endif %}">
                            <a href="#"><img src="{{ asset('bundles/fdccourtmetrage/img/04-note.svg') }}"></i></a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div id="sticky-user">
                <ul class="user-nav">
                    <li>
                        <a href="{{ attribute(_context, 'header_account_'~ app.request.locale) }}" class="account" target="_blank"><i class="icon icon_mon-compte"></i>{{ 'header.my_account'|trans }}</a>
                    </li>
                    <li class="lang">
                        <a href="#" class="language"><i class="icon icon_langue"></i> {{ app.request.locale|upper }} </a>
                        <ul class="sub-languages">
                            {% for locale in ccm_locales if locale != app.request.locale %}
                                <li>
                                    <a href="{{ path(routeName, routeParams|merge({ _locale: locale })) }}">{{ locale|upper }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="navigation">
        <div class="container">
            <nav>
                <ul class="main">
                    {% if mainNavs is defined and mainNavs is not null %}
                        {% for key, mainTab in mainNavs %}
                            {% if mainTab.translatable.isActive and isValidMenuElement(mainTab.route, app.request.locale) %}
                                <li>
                                    {% set menuURL = ('http' in mainTab.route or 'https' in mainTab.route ? mainTab.route : url(mainTab.route)) %}
                                    {% set menuIsExtern = (fdc_court_metrage_domain in menuURL ? false : true) %}
                                    {% set menuIsActive = ((mainTab.route == routeName)
                                    or (mainTab.route == 'fdc_court_metrage_competition_selection' and routeName == 'fdc_court_metrage_competition_jury')
                                    or (mainTab.route == 'fdc_court_metrage_competition_selection' and routeName == 'fdc_court_metrage_competition_palmares') ? true : false) %}
                                    {% if subNavs[key] is defined and subNavs[key] is not null %}
                                        {% for subTab in subNavs[key] %}
                                            {% if subTab.translatable.isActive and subTab.route == routeName %}
                                                {% set menuIsActive = true %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if 'inscrire-un-film' in menuURL %}
                                        {% if participatePages is defined and participatePages is not null %}
                                            {% for page in participatePages %}
                                                {% if routeName == 'fdc_court_metrage_participer_page' and routeParams['slug'] == page.slug %}
                                                    {% set menuIsActive = true %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                    <a href="{{ menuURL }}" {% if menuIsActive %}class="active"{% endif %} {% if menuIsExtern %}target="_blank"{% endif %}>{{ mainTab.name }}</a>
                                    {% if subNavs[key] is defined and subNavs[key] is not null %}
                                        <ul class="tcenter">
                                            {% for subTab in subNavs[key] %}
                                                {% if subTab.translatable.isActive and isValidMenuElement(subTab.route, app.request.locale)%}
                                                    {% set submenuURL = ('http' in subTab.route or 'https' in subTab.route ? subTab.route : url(subTab.route)) %}
                                                    {% set submenuIsExtern = (fdc_court_metrage_domain in submenuURL ? false : true) %}
                                                    <li><a {% if subTab.route == routeName %}class="active"{% endif %} href="{{ submenuURL }}" {% if submenuIsExtern %}target="_blank"{% endif %}>{{ subTab.name }}</a></li>
                                                {% endif %}
                                            {% endfor %}

                                            {% if 'inscrire-un-film' in menuURL %}
                                                {% if participatePages is defined and participatePages is not null %}
                                                    {% for page in participatePages %}
                                                        <li><a href="{{ path('fdc_court_metrage_participer_page', {'slug' : page.slug}) }}" {% if routeName == 'fdc_court_metrage_participer_page' and routeParams['slug'] == page.slug %}class="active"{% endif %}>{{ page.name }}</a></li>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                            </ul>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <div id="selection">
        <h2 class="title">{{ 'header.my_selection'|trans }}<strong>(<span></span>)</strong></h2>
        <ul class="filters-selection">
            <li><a href="#" data-selection='all' class="active">{{ 'header.all'|trans }}</a></li>
            <li><a href="#" data-selection='article'>{{ 'header.articles'|trans }}</a></li>
            <li><a href="#" data-selection='video'>{{ 'header.videos'|trans }}</a></li>
            <li><a href="#" data-selection='audio'>{{ 'header.audios'|trans }}</a></li>
            <li><a href="#" data-selection='suggestion'>{{ 'header.suggestions'|trans }}</a></li>
        </ul>
        <div id="slider-selection" class="owl-carousel"></div>
        <div id="slider-suggestion" class="owl-carousel"></div>
        <div id="toClone" class="article">
            <article class="" data-format="" data-theme="">
                <div class="image">
                    <div class="image-wrapper">
                        <img src="" alt="" />
                    </div>
                    <a href="" class="linkImage"></a>
                    <span class="picto"></span>
                </div>
                <div class="info">
                    <a href="#" class="category"></a><span class="date"></span> . <span class="hour"></span>
                    <h2><a href="#"></a></h2>
                </div>
            </article>
            <a href="#" class="delete"></a>
        </div>
    </div>
    <div id="searchContainer">
        <div class="container">
            <form action="#">
                <input id="inputSearch" class="suggestSearch" type="text" name="name" placeholder="{{ 'header.search.placeholder'|trans }}..." autocomplete="off" />
                <i class="icon icon_recherche"></i><input id="submitSearch" type="submit" value="" /> <!-- todo -->
            </form>
            <ul id="suggest"></ul>
        </div>
    </div>
</header>
