<header>
    <div id="top-bar">
        <ul class="main-nav">
            <li>
                <a href="{{ header_fdc_com }}" target="_blank">{{ 'header.festival'|trans }}</a>
            </li>
            <li>
                <a href="{{ attribute(_context, 'header_fdc_'~ app.request.locale) }}" target="_blank">{{ 'header.fdc'|trans }}</a>
            </li>
            <li>
                <a href="{{ attribute(_context, 'header_cine_'~ app.request.locale) }}" target="_blank">{{ 'header.cine'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('fdc_ccm_homepage') }}" class="active">{{ 'header.ccm'|trans }}</a>
            </li>
            <li>
                <a href="{{ attribute(_context, 'header_mdf_'~ app.request.locale) }}" target="_blank">{{ 'header.mdf'|trans }}</a>
            </li>
        </ul>
        <ul class="user-nav">
            <li>
                <a href="{{ attribute(_context, 'header_account_'~ app.request.locale) }}" class="account" target="_blank"><i class="icon icon_mon-compte"></i>{{ 'header.my_account'|trans }}</a>
            </li>
            <li class="lang">
                <a href="#" class="language"><i class="icon icon_langue"></i> {{ app.request.locale|upper }}</a>
                <ul class="sub-languages">
                    {% for locale in ccm_locales if locale != app.request.locale %}
                        <li>
                            <a href="{{ path(routeName, routeParams|merge({ _locale: locale })) }}">{{ locale|upper }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div id="logo-wrapper">
        <div class="container">
            <div id="logo">
                <a href="/"><img src="{{ asset('bundles/fdccourtmetrage/img/palme.svg') }}" alt="Festival de Cannes" class="palm" /></a>
                <h1><a href="/"><img width="250" src="{{ asset('bundles/fdccourtmetrage/img/logo-ccm.png') }}" alt="Festival de Cannes" /></a></h1>
                <h2><a href="/"><img width="110" src="{{ asset('bundles/fdccourtmetrage/img/logo-festival.png') }}" alt="Festival de Cannes" /></a></h2>
                <p class="stick"><a href="/"><img width="215" src="{{ asset('bundles/fdccourtmetrage/img/logo-ccm.png') }}" alt="Festival de Cannes" /></a></p>
            </div>
            <!--<div id="partners">
              <a href="//www.chopard.fr/" target="_blank"><img width="84" src="img/header/Logo_Chopard.svg" alt="Chopard" class="chopard" /></a>
              <a href="//www.loreal-paris.fr/index.aspx" target="_blank"><img width="75" src="img/header/loreal.svg" alt="L'Oréal" class="oreal" /></a>
              <a href="//www8.hp.com/fr/fr/home.html" target="_blank"><img width="28" src="img/header/hp.svg" alt="HP" class="hp" /></a>
              <a href="//www.kering.com/fr" target="_blank"><img width="82" src="img/header/Kering-logo.svg" alt="Kering" class="kering" /></a>
              <a href="//group.renault.com/" target="_blank"><img width="95" src="img/header/renault.svg" alt="Renault" class="renault" /></a>
              <a href="//www.mastercard.com/fr/particuliers/index.html" target="_blank"><img width="73" src="img/header/mastercard.png" alt="Mastercard" class="mastercard" /></a>
            </div>-->
            {% if menuPage is defined and menuPage is not null %}
                <div class="topiconsContainer">
                    {% if menuPage.programPicIsActive %}
                        <div class="topIcons first{% if not menuPage.catalogPicIsActive %} icon-border-right{% endif %}">
                            <a href="#"><img src="{{ asset('bundles/fdccourtmetrage/img/01-calendar.svg') }}"></a>
                        </div>
                    {% endif %}
                    {% if menuPage.catalogPicIsActive %}
                        <div class="topIcons second">
                            <a href="#"><img src="{{ asset('bundles/fdccourtmetrage/img/05-open-book.svg') }}"></i></a>
                        </div>
                    {% endif %}
                    {% if menuPage.registerPicIsActive %}
                        <div class="topIcons third{% if not menuPage.programPicIsActive and not menuPage.catalogPicIsActive %} icon-border-left{% endif %}">
                            <a href="#"><img src="{{ asset('bundles/fdccourtmetrage/img/04-note.svg') }}"></i></a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div id="sticky-user">
                <ul class="user-nav">
                    <li>
                        <a href="{{ attribute(_context, 'header_account_'~ app.request.locale) }}" class="account" target="_blank"><i class="icon icon_mon-compte"></i>{{ 'header.my_account'|trans }}</a>
                    </li>
                    <li class="lang">
                        <a href="#" class="language"><i class="icon icon_langue"></i> {{ app.request.locale|upper }} </a>
                        <ul class="sub-languages">
                            {% for locale in ccm_locales if locale != app.request.locale %}
                                <li>
                                    <a href="{{ path(routeName, routeParams|merge({ _locale: locale })) }}">{{ locale|upper }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="navigation">
        <div class="container">
            <nav>
                <ul class="main">
                    {% if mainNavs is defined and mainNavs is not null %}
                        {% for key, mainTab in mainNavs %}
                            {% if mainTab.translatable.isActive %}
                                <li>
                                    {# TODO: IMPLEMENT DYNAMIC ACTIVE CLASS AFTER ROUTE NAMES ARE IMPLEMENTED #}
                                    <a href="{{ path(mainTab.route) }}" {% if loop.first %}class="active"{% endif %}>{{ mainTab.name }}</a>
                                    {% if subNavs[key] is defined and subNavs[key] is not null %}
                                        <ul class="tcenter">
                                            {% for subTab in subNavs[key] %}
                                                {% if subTab.translatable.isActive %}
                                                    <li><a href="{{ path(subTab.route) }}">{{ subTab.name }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
                <!--<ul class="user">
                  <li  class="programmation-wrapper">
                    <a href="programmation-evenementiel.php" class="programmation"><i class="icon icon_programmation"></i> Programmation</a>
                    <ul>
                      <li><a href="programmation-evenementiel.php">Programmation</a></li>
                      <li><a href="calendar-evenementiel.php">Agenda</a></li>
                      <li><a href="seating-chart-evenementiel.php">Plan des salles</a></li>
                    </ul>
                  </li>
                  <li class="participate-wrapper">
                    <a href="participer_sejour.php" class="participate"><i class="icon icon_participer"></i>Participer</a>
                    <ul>
                      <li><a href="participer_sejour.php">Préparer son séjour</a></li>
                      <li><a href="participer_modeemploi.php">Festival mode d'emploi</a></li>
                      <li><a href="participer_preparer.php">Accès aux projections</a></li>
                      <li><a href="service_partenaires.php">Partenaires</a></li>
                      <li><a href="service_fournisseurs.php">Fournisseurs</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="press.php" class="press"><i class="icon icon_espace-presse"></i>Espace presse</a>
                  </li>
                </ul>-->
            </nav>
        </div>
    </div>
    <div id="selection">
        <h2 class="title">Ma sélection <strong>(<span></span>)</strong></h2>
        <ul class="filters-selection">
            <li><a href="#" data-selection='all' class="active">Tous</a></li>
            <li><a href="#" data-selection='article'>Articles</a></li>
            <li><a href="#" data-selection='video'>Vidéos</a></li>
            <li><a href="#" data-selection='audio'>Audios</a></li>
            <li><a href="#" data-selection='suggestion'>Suggestions</a></li>
        </ul>
        <div id="slider-selection" class="owl-carousel"></div>
        <div id="slider-suggestion" class="owl-carousel"></div>
        <div id="toClone" class="article">
            <article class="" data-format="" data-theme="">
                <div class="image">
                    <div class="image-wrapper">
                        <img src="" alt="" />
                    </div>
                    <a href="" class="linkImage"></a>
                    <span class="picto"></span>
                </div>
                <div class="info">
                    <a href="#" class="category"></a><span class="date"></span> . <span class="hour"></span>
                    <h2><a href="#"></a></h2>
                </div>
            </article>
            <a href="#" class="delete"></a>
        </div>
    </div>
    <div id="searchContainer">
        <div class="container">
            <form action="#">
                <input id="inputSearch" class="suggestSearch" type="text" name="name" placeholder="Entrez votre recherche..." autocomplete="off" />
                <i class="icon icon_recherche"></i><input id="submitSearch" type="submit" value="" /> <!-- todo -->
            </form>
            <ul id="suggest"></ul>
        </div>
    </div>
</header>
