<!-- POPIN MAIL MEDIA SHARE -->
<div class="popin-mail media popin">
    <div class="contain-popin popin">
        <div id="msg"></div>
        <strong class="theme-article popin">{{ share_email_media.section }}</strong>
        <span class="date-article popin">{{ share_email_media.detail }}</span>
        <h2 class="title-article popin">{{ share_email_media.title }}</h2>
        <div class="chap-article popin">{{ share_email_media.description|raw }}</div>
    </div>

    {{ form_start(form, {'action': path('fdc_court_metrage_shareemail_media'),attr: {class:'popin', id:'form'}}) }}
        {% if form_errors(form.email) %}
            {{ form_widget(form.email, {'attr': {'class': 'invalid'}}) }}
        {% else %}
            {{ form_widget(form.email) }}
        {% endif %}
        <span class="complet-infos popin">Séparez les adresses par des virgules</span>

        {% if form_errors(form.user) %}
            {{ form_widget(form.user, {'attr': {'class': 'invalid'}}) }}
        {% else %}
            {{ form_widget(form.user) }}
        {% endif %}

        <span class="complet-infos popin">
            {{ form_widget(form.copy) }}
            {{ form_label(form.copy) }}
        </span>

        {% if form_errors(form.message) %}
            {{ form_widget(form.message, {'attr': {'class': 'invalid'}}) }}
        {% else %}
            {{ form_widget(form.message) }}
        {% endif %}

        {{ form_widget(form.section, {'value' : share_email_media.section}) }}
        {{ form_widget(form.detail, {'value' : share_email_media.detail}) }}
        {{ form_widget(form.title, {'value' : share_email_media.title}) }}
        {{ form_widget(form.description, {'value' : share_email_media.description}) }}
        {{ form_widget(form.url, {'value' : share_email_media.url}) }}
        <span class="complet-infos newsletter popin">
            {{ form_widget(form.newsletter) }}
            {{ form_label(form.newsletter) }}
        </span>

        <span class="detail popin">* Champs obligatoires</span>
        <div id="errorMsg"></div>
        <input type="submit" value='ENVOYER' class='popin' id="share_mail">
        {{ form_rest(form) }}
    {{ form_end(form) }}

    <div class="info-popin popin">
        <p class="popin">
            En application de la loi n° 78-17 du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers et aux libertés, l’internaute dispose des droits d'opposition (art. 38 de la loi), d'accès (art. 39 de la loi), de rectification et de suppression (art. 40 de la loi) des données le concernant. Pour exercer ces droits, l’internaute doit s’adresser à : Direction juridique OGF, 31 rue de Cambrai 75946 PARIS cedex 19, ou à l’adresse électronique suivante informatiqueetlibertes.dj@ogf.fr, accompagné d’une copie d’un titre d’identité.
            <br> OGF a déclaré les fichiers décrits ci-dessus à la CNIL et enregistrée sous le n° 1607719.
        </p>
    </div>
</div>
<!-- END POPIN MAIL MEDIA SHARE -->
