{% extends 'FDCCourtMetrageBundle::base.html.twig' %}

{% block main %}
    <div id="main" class="list-article landing-page loading">
        <div class="bandeau-list">
            <div class="bandeau-list-img bandeau-head vCenter subHeader" style="background-image:url({% path waitingPage.translatable.image|trans_fallback('file'), '976x535' %}" alt="">
                <div class="vCenterKid">
                    <h3>{{ 'ccm.competition.page_title'|trans }}</h3>
                </div>
            </div>
            <ul class="sub-nav-list nav-list">
                <li>
                    <a href="{{ path('fdc_court_metrage_competition_selection') }}" class='{{ isSelection ? 'active ' : ' ' }}'>{{ selectionTab.name }}</a>
                </li>
                <li>
                    <a href="{{ path('fdc_court_metrage_competition_jury') }}" class="{{ isJury ? 'active ' : ' ' }}">{{ juryTab.name }}</a>
                </li>
                <li>
                    <a href="{{ path('fdc_court_metrage_competition_palmares') }}" class="{{ isPalmares ? 'active ' : ' ' }}">{{ palmaresTab.name }}</a>
                </li>
            </ul>
        </div>
        <div class="container">
            {{ waitingPage.content|raw }}
        </div>
        {% include 'FDCCourtMetrageBundle:Competition/partials:retrospective.html.twig' %}
    </div>
{% endblock %}
