{% if films|length > 0 %}
    <div class="section competition">
        {#TODO translate title #}
        <h2 class="title one-line">principaux films</h2>

        <div class="owl-carousel competition-carousel">
            {% for film in films %}
                <div class="film{{ loop.index }}" class="thumb {% if loop.first %}active{% endif %}">
                    {#<a href="{{ path('fdc_eventmobile_movie_get', {'slug': film.slug}) }}"></a>#}
                    {% if film.image %}
                        {% set media = film.image.findTranslationByLocale(app.request.locale) %}
                        {% if media is empty or media.file is empty %}
                            {% set media = film.image.findTranslationByLocale('fr') %}
                        {% endif %}
                        {% if media is not empty and media.file is not empty %}
                            <div class="img-container" style="background-image:url({% path media.file, '180x240' %})"></div>
                        {% endif %}
                    {% endif %}
                    <div class="info">
                        {% if film.titleOriginal is not empty %}
                            <p>{{ film.titleOriginal }}</p>
                        {% endif %}
                        {% set titleTrans = film|trans_fallback('title') %}
                        {% if titleTrans is not empty %}
                            <p class="subtitle">({{ titleTrans }})</p>
                        {% endif %}
                        {% if film.year %}
                            <span class="date">{{ film.year }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

