{% extends "@FDCCourtMetrage/base.html.twig" %}

{% block main %}
    <div id="main" class="sitemap loading">
        <h2 class="title">{{ 'site_plan.title'|trans }}</h2>
        <section class="sitemap-container">

            {% for key, mainNav in mainNavs %}
                <article class="sitemap-item">
                    {% if mainNav.translatable.isActive %}
                        <h3 class="title sitemap-item-title">
                            <a href="{{ path(mainNav.route) }}">
                                {{ mainNav.name }}
                            </a>
                        </h3>

                        {% if mainNav.route == 'fdc_court_metrage_competition_selection' or mainNav.route == 'fdc_court_metrage_competition_jury' or mainNav.route == 'fdc_court_metrage_competition_palmares' %}
                            <ul>
                                <li>
                                    <a class="sub-cat" href="{{ path('fdc_court_metrage_competition_selection') }}">
                                        {{ 'site_plan.competition_selection'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="sub-cat" href="{{ path('fdc_court_metrage_competition_jury') }}">
                                        {{ 'site_plan.competition_jury'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="sub-cat" href="{{ path('fdc_court_metrage_competition_palmares') }}">
                                        {{ 'site_plan.competition_palmares'|trans }}
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                        {% if subNavs[key] is defined %}
                            <ul>
                            {% for subNav in subNavs[key] %}
                                {% if subNav.translatable.isActive %}
                                    <li>
                                        <a class="sub-cat" href="{{ path(subNav.route) }}">
                                            {{ subNav.name }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if mainNav.route == 'fdc_court_metrage_register_movie' %}
                                    {% if loop.last %}
                                        {% if participatePages is defined and participatePages is not null %}
                                            {% for page in participatePages %}
                                                <li>
                                                    <a class="sub-cat" href="{{ path('fdc_court_metrage_participer_page', {'slug' : page.slug}) }}">
                                                        {{ page.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </article>
            {% endfor %}
            <article class="sitemap-item">
                <h3 class="title sitemap-item-title">
                    <a href="#">
                        {{ 'site_plan.footer'|trans }}
                    </a>
                </h3>
                <ul>
                    <li>
                        <a class="sub-cat" href="{{ path('ccm_contact') }}">
                            {{ 'site_plan.contact'|trans }}
                        </a>
                    </li>
                    <li>
                        <a class="sub-cat" href="{{ path('fdc_courtmetrage_faq') }}">
                            {{ 'site_plan.faq'|trans }}
                        </a>
                    </li>
                    <li>
                        <a class="sub-cat" href="{{ path('fdc_ccm_footer_credits') }}">
                            {{ 'site_plan.credits'|trans }}
                        </a>
                    </li>
                    <li>
                        <a class="sub-cat" href="{{ path('fdc_ccm_footer_mentions_legales') }}">
                            {{ 'site_plan.legal_mentions'|trans }}
                        </a>
                    </li>
                    <li>
                        <a class="sub-cat" href="{{ path('fdc_ccm_footer_politique_de_confidentialite') }}">
                            {{ 'site_plan.politique_de_confidentialite'|trans }}
                        </a>
                    </li>
                </ul>
            </article>
        </section>
    </div>
{% endblock %}
