{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="list-article participate prepare partners manual loading">
        <div class="bandeau-list vCenter">
            {% set mainTrans = participatePage.image.findTranslationByLocale(app.request.locale) %}
            {% if mainTrans is null or mainTrans.file is null %}
                {% set mainTrans = participatePage.image.findTranslationByLocale('fr') %}
            {% endif %}
            {% set mainImage = mainTrans.file %}
            <div class="bandeau-list-img vCenterKid"
                 style="background-image:url({% path mainImage, '1280x808' %})">
                <h2 class="title title-list-header">
                    {% if participatePage|trans_fallback('icon') is not null %}
                        <i class="icon {{ participatePage|trans_fallback('icon') }}"></i>
                        <br>
                    {% endif %}
                    {{ participatePage|trans_fallback('title') }}
                </h2>
            </div>
        </div>

        {#                  #}
        {#     SECTIONS     #}
        {#                  #}
        <div class="contain-participate">
            {% for s in participatePage.downloadSection %}
                <section class="content-manual content-partners item-manual">
                    <div class="contain-section contain-cinema contain-infos">
                        <h3 class="title-participate">
                            <i class="icon {{ s.section|trans_fallback('icon') }}"></i>
                            {{ s.section|trans_fallback('title') }}
                        </h3>
                        <i class="icon accordion icon_plus"></i>
                        {% if s.section|trans_fallback('description') %}
                            <div class="descrip-section">
                                {{ s.section|trans_fallback('description')|raw }}
                            </div>
                        {% endif %}

                        {#                  #}
                        {#     WIDGETS      #}
                        {#                  #}
                        {% for widget in s.section.widgets %}
                            {% if class(widget) == "FDCPageParticipateSectionWidgetTypeone" %}
                                {% include 'FDCEventMobileBundle:Participate:widgets/participate-one.html.twig' %}
                            {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypetwo" %}
                                {% include 'FDCEventMobileBundle:Participate:widgets/participate-two.html.twig' %}
                            {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypethree" %}
                                {% include 'FDCEventMobileBundle:Participate:widgets/participate-three.html.twig' %}
                            {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypefour" %}
                                {% include 'FDCEventMobileBundle:Participate:widgets/participate-four.html.twig' %}
                            {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypefive" %}
                                {% include 'FDCEventMobileBundle:Participate:widgets/participate-five.html.twig' %}
                            {% elseif class(widget) == "FDCPageParticipateSectionWidgetSubTitle" %}
                                {% include 'FDCEventMobileBundle:Participate:widgets/participate-subtitle.html.twig' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
            {% endfor %}
        </div>



</div>
{% endblock body %}