{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/fdceventmobile/css/participate.css"
        "bundles/fdceventmobile/css/participate_custom.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="main" class="participate-page" data-menu="participate">
        {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
        {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}
    
        {% if participatePage.image is defined and participatePage.image is not null %}
            {% set mainTrans = participatePage.image.findTranslationByLocale(app.request.locale) %}
            {% if mainTrans is null or mainTrans.file is null %}
                {% set mainTrans = participatePage.image.findTranslationByLocale('fr') %}
            {% endif %}
            {% set mainImage = mainTrans.file %}
        {% endif %}
        <div class="banner-img vCenter"
             style="background-image:url({% if mainImage is defined and mainImage is not null %}{% path mainImage, '1280x808' %}{% endif %})">
            <div class="vCenterKid">
                <h2 class="title tall tallIcon">
                    {% if participatePage|trans_fallback('icon') is not null %}
                        <i class="icon {{ participatePage|trans_fallback('icon') }}"></i>
                        <br>
                    {% endif %}
                    {{ participatePage|trans_fallback('title') }}
                </h2>
            </div>
        </div>

        {#                  #}
        {#     SECTIONS     #}
        {#                  #}
        <div class="{% if localeSlugs.fr == 'festival-mode-d-emploi' %}instructions{% elseif localeSlugs.fr == 'acces-aux-projections' %}access{% elseif localeSlugs.fr == 'partenaires' or localeSlugs.fr == 'fournisseurs' %}partners{% endif %}-container">

            {% if localeSlugs.fr == 'festival-mode-d-emploi' %}
                <section class="accordeon">
                    <div class="description center">
                        {{ participatePage|trans_fallback('content')|raw }}
                    </div>
                </section>
            {% endif %}

            {% for s in participatePage.downloadSection %}
                {% if ( s.section.findTranslationByLocale('fr').status == constant('Base\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_PUBLISHED') ) or 
                    ( s.section.findTranslationByLocale('fr').status == constant('Base\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_PUBLISHED') and app.request.locale != 'fr' and s.section.findTranslationByLocale('fr').status == constant('Base\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_TRANSLATED'))
                %}

                    {% if localeSlugs.fr == 'fournisseurs' %}
                    <section class="accordeon open">

                        <h3 class="title-participate">{{ s.section|trans_fallback('title') }}</h3>
                        <div class="section-contain description" >
                            {% for widget in s.section.widgets %}
                                {% include 'FDCEventMobileBundle:Participate:widgets/participate-two.html.twig' %}
                            {% endfor %}
                        </div>
                    </section>
                    {% else %}
                    <section class="accordeon">
                        <div class="section-title">
                            <i class="icon {{ s.section|trans_fallback('icon') }}"></i>
                            <h3 class="title-participate">{{ s.section|trans_fallback('title') }}</h3>
                            <i class="icon accordion icon_case-plus"></i>
                        </div>

                        <div class="section-contain">
                            <div class="description">
                            {% if s.section|trans_fallback('description') %}
                                {{ s.section|trans_fallback('description')|raw }}
                            {% endif %}
                            </div>

                            {#                  #}
                            {#     WIDGETS      #}
                            {#                  #}
                            <div class="description">
                            {% for widget in s.section.widgets %}
                                {% if class(widget) == "FDCPageParticipateSectionWidgetTypeone" %}
                                    {% include 'FDCEventMobileBundle:Participate:widgets/participate-one.html.twig' %}
                                {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypetwo" %}
                                    {% include 'FDCEventMobileBundle:Participate:widgets/participate-two.html.twig' %}
                                {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypethree" %}
                                    {% include 'FDCEventMobileBundle:Participate:widgets/participate-three.html.twig' %}
                                {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypefour" %}
                                    {% include 'FDCEventMobileBundle:Participate:widgets/participate-four.html.twig' %}
                                {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypefive" %}
                                    {% include 'FDCEventMobileBundle:Participate:widgets/participate-five.html.twig' %}
                                {% elseif class(widget) == "FDCPageParticipateSectionWidgetSubTitle" %}
                                    {% include 'FDCEventMobileBundle:Participate:widgets/participate-subtitle.html.twig' %}
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </section>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {% javascripts '@FDCEventMobileBundle/Resources/public/js/participate.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}
