{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "bundles/fdceventmobile/css/participate.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="main" class="participate-page" data-menu="participate">

        {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
        {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}

        {% set mainTrans = content.mainImage.findTranslationByLocale(app.request.locale) %}
        {% if mainTrans is null or mainTrans.file is null %}
            {% set mainTrans = content.mainImage.findTranslationByLocale('fr') %}
        {% endif %}
        {% set mainImage = mainTrans.file %}
        <div class="banner-img vCenter"
             style="background-image:url({% path mainImage, '1280x808' %})">
            <div class="vCenterKid">
                <h2 class="title tall tallIcon">
                    <i class="icon {{ content.mainIcon }}"></i>
                    <br> {{ content|trans_fallback('title') }}
                </h2>
            </div>
        </div>

        <div class="instructions-container">
            <section class="accordeon">
                <div class="description center">
                    {{ content|trans_fallback('mainDescription')|raw }}
                </div>
            </section>

            {# SECTION - SE RENDRE A CANNES #}
            <section class="accordeon">
                <div class="section-title">
                    <i class="icon {{ content.arriveIcon }}"></i>
                    <h3 class="title-participate">{{ content|trans_fallback('arriveTitle') }}</h3>
                    <i class="icon accordion icon_case-plus"></i>
                </div>
                <div class="section-contain contain-transport">
                    {% for widget in content.arriveWidgets %}
                        {% if class(widget) == "FDCPagePrepareWidgetPicto" %}
                            {% include 'FDCEventMobileBundle:Participate:widgets/picto.html.twig' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </section>

            {# SECTION - PLANS #}
            <section class="accordeon">
                <div class="section-title">
                    <i class="icon {{ content.informationIcon }}"></i>
                    <h3 class="title-participate">{{ content|trans_fallback('informationTitle') }}</h3>
                    <i class="icon accordion icon_case-plus"></i>
                </div>
                <div class="section-contain">
                    <div class="description center">
                        {{ content|trans_fallback('informationDescription')|raw }}
                    </div>
                    {% for widget in content.informationWidgets %}
                        {% if class(widget) == "FDCPagePrepareWidgetColumn" %}
                            {% include 'FDCEventMobileBundle:Participate:widgets/column.html.twig' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </section>

            {# SECTION - HEBERGEMENT #}
            <section class="accordeon">
                <div class="section-title">
                    <i class="icon {{ content.meetingIcon }}"></i>
                    <h3 class="title-participate">{{ content|trans_fallback('meetingTitle') }}</h3>
                    <i class="icon accordion icon_case-plus"></i>
                </div>
                <div class="section-contain">
                    <div class="description">
                    {{ content|trans_fallback('meetingDescription')|raw }}
                    {% if content.meetingPdf is not null %}
                        <a href="{% path content.meetingPdf|trans_fallback('file'), 'reference'%}">
                            {{ content|trans_fallback('meetingLabel') }}
                        </a>
                    {% endif %}
                    </div>
                    <div id="google-map"></div>
                </div>
            </section>

            {# SECTION - INFORMATIONS #}
            {% if content|trans_fallback('serviceTitle') != "" or content|trans_fallback('serviceDescription')|raw != "" %}
                <section class="accordeon">
                    <div class="section-title">
                        <i class="icon {{ content.serviceIcon }}"></i>
                        <h3 class="title-participate">{{ content|trans_fallback('serviceTitle') }}</h3>
                        <i class="icon accordion icon_case-plus"></i>
                    </div>
                    <div class="section-contain">
                        <div class="description">
                            {{ content|trans_fallback('serviceDescription')|raw }}
                        </div>
                    </div>
                </section>
            {% endif %}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {% javascripts '@FDCEventMobileBundle/Resources/public/js/participate.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}