{% trans_default_domain 'FDCCorporateBundle' %}
<header>
    <div id="top-bar">
        <ul class="main-nav">
            <li>
                <a href="{{ path('fdc_event_news_index') }}">{{ 'header.topbar.nav.festival'|trans }}</a>
            </li>
            <li>
                <a href="/{{app.request.locale}}/" target="_blank" class="active">{{ 'header.topbar.nav.festivalcannes'|trans }}</a>
            </li>
            <li>
                <a href="{{ attribute(_context, 'header_cine_'~ app.request.locale) }}" target="_blank">{{ 'header.topbar.nav.cinefondation'|trans }}</a>
            </li>
            <li>
                <a href="{{ attribute(_context, 'header_ccm_'~ app.request.locale) }}" target="_blank">{{ 'header.topbar.nav.courtmetrage'|trans }}</a>
            </li>
            <li>
                <a href="{{ attribute(_context, 'header_mdf_'~ app.request.locale) }}" target="_blank">{{ 'header.topbar.nav.marche'|trans }}</a>
            </li>
        </ul>
        <ul class="user-nav">
            <!-- <li>
              <a href="#" class="selection"><i class="icon icon-hours-black"></i> Ma Sélection</a>
            </li> -->
            <li>
                <a href="http://sub.festival-cannes.fr/" class="account" target="_blank"><i class="icon icon-user-round"></i> {{ 'header.usernav.nav.moncompte'|trans }}</a>
            </li>
            <li class="lang">
                <a href="#" class="language"><i class="icon icon-language"></i> {{ app.request.locale|upper }}</a>
                <ul class="sub-languages">
                {% for locale in locales %}
                    {% if locale != app.request.locale %}
                        <li>
                            {% set params = {'_locale' : locale} %}
                            {% if localeSlugs is defined and localeSlugs[app.request.locale] %}
                                {% if localeSlugs[locale] is defined and localeSlugs[locale] %}
                                    {% set params = params|merge({'slug': localeSlugs[locale]}) %}
                                {% endif %}
                            {% endif %}
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(params)) }}">{{ locales[loop.index0]|upper }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div id="logo-wrapper">
        <div class="block-01 container">
            <div id="logo">
                <a href="{{ path('fdc_corporate_default_home') }}"><img src="{{ asset('bundles/fdccorporate/img/header/palme.svg') }}" alt="Festival de Cannes" class="palm" /></a>
                <h1><a href="{{ path('fdc_corporate_default_home') }}"><img width="200" src="{{ asset('bundles/fdccorporate/img/header/logo.svg') }}" alt="Festival de Cannes" /></a></h1>
                <h2><a href="{{ path('fdc_corporate_default_home') }}">
                        {% set myDatetimeString = '2017-05-18 00:00' %}
                        {% if app.request.locale == 'zh' %}
                            2017年5月17至28日
                        {% else  %}
                            17-28 {{ myDatetimeString|localizeddate('medium', 'none', app.request.locale, null, 'LLLL') }} 2017
                        {% endif  %}
                    </a></h2>
                <p class="stick"><a href="{{ path('fdc_corporate_default_home') }}"><img width="178" src="{{ asset('bundles/fdccorporate/img/header/logo178.svg') }}" alt="Festival de Cannes" /></a></p>
            </div>
            <div id="partners">
                <a href="{{ attribute(_context, 'partner_chopard_'~ app.request.locale) }}" target="_blank"><img width="84" src="{{ asset('bundles/fdccorporate/img/header/Logo_Chopard.svg') }}" alt="Chopard" class="chopard" /></a>
                <a href="{{ attribute(_context, 'partner_loreal_'~ app.request.locale) }}" target="_blank"><img width="75" src="{{ asset('bundles/fdccorporate/img/header/loreal.svg') }}" alt="L'Oréal" class="oreal" /></a>
                <a href="{{ attribute(_context, 'partner_hp_'~ app.request.locale) }}" target="_blank"><img width="28" src="{{ asset('bundles/fdccorporate/img/header/hp.svg') }}" alt="HP" class="hp" /></a>
                <a href="{{ attribute(_context, 'partner_kering_'~ app.request.locale) }}" target="_blank"><img width="82" src="{{ asset('bundles/fdccorporate/img/header/Kering-logo.svg') }}" alt="Kering" class="kering" /></a>
                <a href="{{ attribute(_context, 'partner_renault_'~ app.request.locale) }}" target="_blank"><img width="95" src="{{ asset('bundles/fdccorporate/img/header/renault.svg') }}" alt="Renault" class="renault" /></a>
                <a href={{ attribute(_context, 'partner_mastercard_'~ app.request.locale) }}" target="_blank"><img width="73" src="{{ asset('bundles/fdccorporate/img/header/mastercard.png') }}" alt="Mastercard" class="mastercard" /></a>
            </div>
            <div id="search">
                <a href="{{ path('fdc_corporate_search_searchsubmit') }}" class="search"><i class="icon icon-search"></i></a>
            </div>
            <div id="sticky-user">
                <ul class="user-nav">
                    <!-- <li>
                      <a href="#" class="selection"><i class="icon icon-hours-black"></i>Ma Sélection</a>
                    </li> -->
                    <li>
                        <a href="http://sub.festival-cannes.fr/" class="account" target="_blank"><i class="icon icon-user-round"></i> {{ 'header.usernav.nav.moncompte'|trans }}</a>
                    </li>
                    <li>
                        <a href="search.html" class="search"><i class="icon icon-search"></i>{{ 'header.usernav.nav.rechercher'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="navigation">
        <div class="block-01">
            {{ render(controller('FDCCorporateBundle:Global:menu', {route : app.request.get('_route')})) }}
        </div>
    </div>
</header>
<!-- <div class="overlay"></div> iif add JS for anime url -->