{% trans_default_domain 'FDCCorporateBundle' %}
<header>
    <div id="top-bar">
        <ul class="main-nav">
            <li>
                <a href="{{ path('fdc_event_news_index') }}">{{ 'header.topbar.nav.festival'|trans }}</a>
            </li>
            <li>
                <a href="/{{app.request.locale}}/" target="_blank" class="active">{{ 'header.topbar.nav.festivalcannes'|trans }}</a>
            </li>
            <li>
                <a href="{{ attribute(_context, 'header_cine_'~ app.request.locale) }}" target="_blank">{{ 'header.topbar.nav.cinefondation'|trans }}</a>
            </li>
            <li>
                <a href="{{ attribute(_context, 'header_ccm_'~ app.request.locale) }}" target="_blank">{{ 'header.topbar.nav.courtmetrage'|trans }}</a>
            </li>
            <li>
                <a href="{{ attribute(_context, 'header_mdf_'~ app.request.locale) }}" target="_blank">{{ 'header.topbar.nav.marche'|trans }}</a>
            </li>
        </ul>
        <ul class="user-nav">
            <!-- <li>
              <a href="#" class="selection"><i class="icon icon-hours-black"></i> Ma Sélection</a>
            </li> -->
            <li>
                <a href="http://sub.festival-cannes.fr/" class="account" target="_blank"><i class="icon icon-user-round"></i> {{ 'header.usernav.nav.moncompte'|trans }}</a>
            </li>
            <li class="lang">
                <a href="#" class="language"><i class="icon icon-language"></i> {{ app.request.locale|upper }}</a>
                <ul class="sub-languages">
                {% for locale in locales %}
                    {% if locale != app.request.locale %}
                        <li>
                            {% set params = {'_locale' : locale} %}
                            {% if localeSlugs is defined and localeSlugs[app.request.locale] %}
                                {% if localeSlugs[locale] is defined and localeSlugs[locale] %}
                                    {% set params = params|merge({'slug': localeSlugs[locale]}) %}
                                {% endif %}
                            {% endif %}
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(params)) }}">{{ locales[loop.index0]|upper }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div id="logo-wrapper">
        <div class="block-01 container">
            <div id="logo">
                <a href="{{ path('fdc_corporate_default_home') }}"><img src="{{ asset('bundles/fdccorporate/img/header/palme.svg') }}" alt="Festival de Cannes" class="palm" /></a>
                <h1><a href="{{ path('fdc_corporate_default_home') }}"><img width="200" src="{{ asset('bundles/fdccorporate/img/header/logo.svg') }}" alt="Festival de Cannes" /></a></h1>
                <h2><a href="{{ path('fdc_corporate_default_home') }}">
                        {% if app.request.locale == 'zh' %}
                            2017年5月17至28日
                        {% else  %}
                            17-28 {{ settings.festivalEndsAt|localizeddate('medium', 'none', app.request.locale, null, 'LLLL') }} 2017
                        {% endif  %}
                    </a></h2>
                <p class="stick"><a href="{{ path('fdc_corporate_default_home') }}"><img width="178" src="{{ asset('bundles/fdccorporate/img/header/logo178.svg') }}" alt="Festival de Cannes" /></a></p>
            </div>
            <div id="partners">
                <a href="//www.chopard.fr/" target="_blank"><img width="84" src="{{ asset('bundles/fdccorporate/img/header/Logo_Chopard.svg') }}" alt="Chopard" class="chopard" /></a>
                <a href="//www.loreal-paris.fr/index.aspx" target="_blank"><img width="75" src="{{ asset('bundles/fdccorporate/img/header/loreal.svg') }}" alt="L'Oréal" class="oreal" /></a>
                <a href="//www8.hp.com/fr/fr/home.html" target="_blank"><img width="28" src="{{ asset('bundles/fdccorporate/img/header/hp.svg') }}" alt="HP" class="hp" /></a>
                <a href="//www.kering.com/fr" target="_blank"><img width="82" src="{{ asset('bundles/fdccorporate/img/header/Kering-logo.svg') }}" alt="Kering" class="kering" /></a>
                <a href="//group.renault.com/" target="_blank"><img width="95" src="{{ asset('bundles/fdccorporate/img/header/renault.svg') }}" alt="Renault" class="renault" /></a>
                <a href="//www.mastercard.com/fr/particuliers/index.html" target="_blank"><img width="73" src="{{ asset('bundles/fdccorporate/img/header/mastercard.png') }}" alt="Mastercard" class="mastercard" /></a>
            </div>
            <div id="search">
                <a href="{{ path('fdc_corporate_search_searchsubmit') }}" class="search"><i class="icon icon-search"></i></a>
            </div>
            <div id="sticky-user">
                <ul class="user-nav">
                    <!-- <li>
                      <a href="#" class="selection"><i class="icon icon-hours-black"></i>Ma Sélection</a>
                    </li> -->
                    <li>
                        <a href="http://sub.festival-cannes.fr/" class="account" target="_blank"><i class="icon icon-user-round"></i> {{ 'header.usernav.nav.moncompte'|trans }}</a>
                    </li>
                    <li>
                        <a href="search.html" class="search"><i class="icon icon-search"></i>{{ 'header.usernav.nav.rechercher'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="navigation">
        <div class="block-01">
            {{ render(controller('FDCCorporateBundle:Global:menu', {route : app.request.get('_route')})) }}

            {#<nav>#}
                {#<ul class="main">#}
                    {#<li>#}
                        {#<a href="/"{% if 'fdc_corporate_news_home' == app.request.attributes.get("_route") %} class="active"{% endif %}>{{ 'header.nav.accueil'|trans }}</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="who-fdc.html">{{ 'header.nav.qui'|trans }}</a>#}
                    {#</li>#}
                    {#<li class="hasSubNav">#}
                        {#<a href="#" class="noLink{% if 'fdc_corporate_editions' in app.request.attributes.get("_route") %} active{% endif %}">{{ 'header.nav.69editions'|trans }}</a>#}
                        {#<ul class="tcenter">#}
                            {#<li><a href="{{ path('fdc_corporate_editions_retrospective') }}"{% if 'fdc_corporate_editions' in app.request.attributes.get("_route") %} class="active"{% endif %}>{{ 'header.nav.69editions.retrospective'|trans }}</a></li>#}
                            {#<li><a href="story-movie.html">{{ 'header.nav.69editions.histoire'|trans }}</a></li>#}
                            {#<li><a href="palm-gold.html">{{ 'header.nav.69editions.palme'|trans }}</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="media-library.html">{{ 'header.nav.mediatheque'|trans }}</a>#}
                    {#</li>#}
                {#</ul>#}
                {#<ul class="user"> <!-- todo -->#}
                    {#<!-- <li  class="programmation-wrapper">#}
                      {#<a href="programmation-evenementiel.php" class="programmation"><i class="icon icon-programmation"></i> Programmation</a>#}
                      {#<ul>#}
                        {#<li><a href="programmation-evenementiel.php">Programmation</a></li>#}
                        {#<li><a href="calendar-evenementiel.php">Agenda</a></li>#}
                        {#<li><a href="seating-chart-evenementiel.php">Plan des salles</a></li>#}
                      {#</ul>#}
                    {#</li> -->#}
                    {#<li class="participate-wrapper hasSubNav">#}
                        {#<a href="" class="participate noLink"><i class="icon icon-marker-black"></i>Participer</a>#}
                        {#<ul>#}
                            {#<li><a href="{{ path('fdc_corporate_participate_inscription') }}">inscrire un film</a></li>#}
                            {#<li><a href="{{ path('fdc_corporate_participate_accredit') }}">s'accréditer</a></li>#}
                            {#<li><a href="{{ path('fdc_corporate_participate_guide') }}">guide pratique</a></li>#}
                            {#<li><a href="participate_template.html">Partenaires</a></li>#}
                            {#<li><a href="participate_template.html">Fournisseurs</a></li>#}
                            {#<li><a href="participate_template.html">Remerciement</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="press.php" class="press"><i class="icon icon-pencil"></i>Espace presse</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</nav>#}
        </div>
    </div>
    <!-- <div id="selection">
      <h2 class="title">Ma sélection <strong>(<span></span>)</strong></h2>
      <ul class="filters-selection">
        <li><a href="#" data-selection='all' class="active">Tous</a></li>
        <li><a href="#" data-selection='article'>Articles</a></li>
        <li><a href="#" data-selection='video'>Vidéos</a></li>
        <li><a href="#" data-selection='audio'>Audios</a></li>
        <li><a href="#" data-selection='suggestion'>Suggestions</a></li>
      </ul>
      <div id="slider-selection" class="owl-carousel"></div>
      <div id="slider-suggestion" class="owl-carousel"></div>
      <div id="toClone" class="article">
        <article class="" data-format="" data-theme="">
          <div class="image">
            <div class="image-wrapper">
              <img src="" alt="" />
            </div>
            <a href="" class="linkImage"></a>
            <span class="picto"></span>
          </div>
          <div class="info">
            <a href="#" class="category"></a><span class="date"></span> . <span class="hour"></span>
            <h2><a href="article.html"></a></h2>
          </div>
        </article>
        <a href="#" class="delete"></a>
      </div>
    </div> -->
</header>
<!-- <div class="overlay"></div> iif add JS for anime url -->