{% trans_default_domain 'FDCCorporateBundle' %}
{% set festival_date = festival_date() %}
<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }} lang="{{ app.request.locale }}">
<head {{ sonata_seo_head_attributes() }}>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0 ,user-scalable=no">


    {{ sonata_seo_title() }}

    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/fdccorporate/img/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/fdccorporate/img/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/fdccorporate/img/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/fdccorporate/img/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/fdccorporate/img/favicon//apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/fdccorporate/img/favicon//apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/fdccorporate/img/favicon//apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/fdccorporate/img/favicon//apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/fdccorporate/img/favicon//apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('bundles/fdccorporate/img/favicon//android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/fdccorporate/img/favicon//favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/fdccorporate/img/favicon//favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/fdccorporate/img/favicon//favicon-16x16.png') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('bundles/fdccorporate/img/favicon//ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    {% include 'FDCCorporateBundle:Base:stylesheet.html.twig' %}
    {% include 'FDCCorporateBundle:Base:javascript_head.html.twig' %}
</head>
<body id="{% block bodyId %}{% endblock %}" class="{% block bodyClass %}{% endblock %}">
    {% include 'FDCCorporateBundle::header.html.twig' %}

    {{ render(controller('FDCCorporateBundle:Global:timer')) }}

    {% block body %}

    {% endblock %}
    <div class="popin-video video loading">
        <div class="video-container state-init video"
             data-facebook="//www.facebook.com"
             data-twitter="//www.twitter.com"
             data-link="//www.example.com"
             data-email="//www.gmail.com"
             data-file=''
             data-img="">
            <div id="video-player-popin" class="">
            </div>
            <div class="video-overlay"></div>
            <div class="infos-bar hide-info">
                <div class="picto"><i class="icon icon-video"></i></div>
                <div class="info">
                    <div class="vCenter">
                        <div class="vCenterKid">
                            <a href="#" class="category"></a><span class="date"></span> . <span class="hour"></span>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popin-info info">
            <a href="#" class="category"></a><span class="date"></span> . <span class="hour"></span>
            <p></p>
        </div>

        <div class="popin-buttons buttons square relative">
            <a href="//www.facebook.com/sharer.php?u=html.festival-cannes-2016.com.ohwee.fr&t=le%20titre"  class="button facebook"><i class="icon icon-facebook"></i></a>
            <a href="//twitter.com/intent/tweet?text=Enrages%20Polar%20Hybride" class="button twitter"><i class="icon icon-twitter"></i></a>
            <a href="#" rel="nofollow" class="button link self" data-clipboard-text="http://www.festival-cannes.com/fr/films/bacalaureat"><i class="icon icon-link"></i></a>
            <a href="#" class="button email popin-mail-open"><i class="icon icon-letter"></i></a>
            <div class="texts-clipboard"></div>
        </div>
    </div>

    <div class="audio-container state-init popin-audio"
         data-file=''
         data-img="">
        <div class="audio-player">
            <div id="audio-player-popin" class="audio-player-container"></div>
            <div class="image"></div>
            <button class="play-btn play"><i class="icon icon-play"></i></button>
            <div class="on"></div>
        </div>
        <div class="popin-info info">
            <a href="#" class="category"></a><span class="date"></span> . <span class="hour"></span>
            <p></p>
        </div>
        <div class="popin-buttons buttons square relative">
            <a href="//www.facebook.com/sharer.php?u=html.festival-cannes-2016.com.ohwee.fr&t=le%20titre"  class="button facebook"><i class="icon icon-facebook"></i></a>
            <a href="//twitter.com/intent/tweet?text=Enrages%20Polar%20Hybride" class="button twitter"><i class="icon icon-twitter"></i></a>
            <a href="#" rel="nofollow" class="button link self" data-clipboard-text="http://www.festival-cannes.com/fr/films/bacalaureat"><i class="icon icon-link"></i></a>
            <a href="#" class="button email popin-mail-open"><i class="icon icon-letter"></i></a>
            <div class="texts-clipboard"></div>
        </div>
    </div>

    <div id="cookies-banner">
        <p>{{ 'cookie.text.enpoursuivantvotrenaviguationsurnossites'|trans|raw }}
            <span class="cookie-accept" title="Okay, close"><i class="icon icon-close-big-square"></i></span>
        </p>
    </div>

    {{ render(controller('FDCCorporateBundle:Global:landing')) }}

    {% include 'FDCCorporateBundle::footer.html.twig' %}
    {% include 'FDCCorporateBundle:Base:javascript_footer.html.twig' %}
    {% include 'FDCCorporateBundle:Base:javascript.html.twig' %}
    {% block js_end %}{% endblock %}
</body>
</html>
