{% if module.translations[app.request.getLocale()] is defined and module.translations[app.request.getLocale()] is not null %}
    {% set translation = module.translations[app.request.getLocale()] %}
    {% if translation.picto1 or translation.title1 or translation.description1 %}
        <div class="item-infos">
            {% if translation.picto1 is not null %}
                <i class="icon {{ translation.picto1 }}"></i>
            {% endif %}
            <strong class="title-infos">{{ translation.title1 }}</strong>
            <div class="descrip">{{ translation.description1|raw }}</div>
        </div>
    {% endif %}
    {% if translation.picto2 or translation.title2 or translation.description2 %}
        <div class="item-infos">
            {% if translation.picto2 is not null %}
                <i class="icon {{ translation.picto2 }}"></i>
            {% endif %}
            <strong class="title-infos">{{ translation.title2 }}</strong>
            <div class="descrip">{{ translation.description2|raw }}</div>
        </div>
    {% endif %}
    {% if translation.picto3 or translation.title3 or translation.description3 %}
        <div class="item-infos">
            {% if translation.picto3 is not null %}
                <i class="icon {{ translation.picto3 }}"></i>
            {% endif %}
            <strong class="title-infos">{{ translation.title3 }}</strong>
            <div class="descrip">{{ translation.description3|raw }}</div>
        </div>
    {% endif %}
    {% if translation.picto4 or translation.title4 or translation.description4 %}
        <div class="item-infos">
            {% if translation.picto4 is not null %}
                <i class="icon {{ translation.picto4 }}"></i>
            {% endif %}
            <strong class="title-infos">{{ translation.title4 }}</strong>
            <div class="descrip">{{ translation.description4|raw }}</div>
        </div>
    {% endif %}
{% endif %}