<div class="three-images vFlexAlign">
    <div class="item-img">
        <span class="title-img">{{ widget.title }}</span>
        <div class="contain-img vFlexAlign">
            <img src="{% path widget.translatable.image|trans_fallback('file'), 'reference' %}" alt="image">
        </div>
        <p class="caption">{{ widget.legend|raw }}</p>
        {% if threeColumnsTabs[widget.translatable.id][1] is defined %}
            {% include 'FDCCourtMetrageBundle:Participate:partials/downloadZip.html.twig' with {
                'widget': widget,
                'tabs': threeColumnsTabs,
                'files': threeColumnsFiles,
                'column': 1
            } %}
        {% endif %}
    </div>

    <div class="item-img">
        <span class="title-img">{{ widget.title2 }}</span>
        <div class="contain-img vFlexAlign">
            <img src="{% path widget.translatable.image2|trans_fallback('file'), 'reference' %}" alt="image">
        </div>
        <p class="caption">{{ widget.legend2|raw }}</p>
        {% if threeColumnsTabs[widget.translatable.id][2] is defined %}
            {% include 'FDCCourtMetrageBundle:Participate:partials/downloadZip.html.twig' with {
                'widget': widget,
                'tabs': threeColumnsTabs,
                'files': threeColumnsFiles,
                'column': 2
            } %}
        {% endif %}
    </div>

    <div class="item-img">
        <span class="title-img">{{ widget.title3 }}</span>
        <div class="contain-img vFlexAlign">
            <img src="{% path widget.translatable.image3|trans_fallback('file'), 'reference' %}" alt="image">
        </div>
        <p class="caption">{{ widget.legend3|raw }}</p>

        {% if threeColumnsTabs[widget.translatable.id][3] is defined %}
            {% include 'FDCCourtMetrageBundle:Participate:partials/downloadZip.html.twig' with {
                'widget': widget,
                'tabs': threeColumnsTabs,
                'files': threeColumnsFiles,
                'column': 3
            } %}
        {% endif %}
    </div>
</div>
