{% trans_default_domain 'FDCEventBundle' %}

<div class="filters">
    <div id="category" class="filter">
        <span class="label">{{ 'programmation.filters.label.selections'|trans }} :</span>
        <span class="select">
            <span class="active" data-filter="all">[ {{ 'search.result.filter.toutes'|trans }} ]</span>
            {% for key, selection in selections %}
                <span data-filter="{{ selection|trans_fallback('slug') }}">{{ selection|trans_fallback('name') }}</span>
            {% endfor %}
            <i class="icon icon_fleche-down"></i>
        </span>
    </div>
    <div id="type" class="filter">
        <span class="label">{{ 'programmation.filters.label.types'|trans }} :</span>
        <span class="select">
            <span class="active" data-filter="all">[ {{ 'search.result.filter.tous'|trans }} ]</span>
            {% for type in types %}
                <span data-filter="{{ type|lower|replace(' ', '-') }}">
                    {{ type }}
                </span>
            {% endfor %}
            <i class="icon icon_fleche-down"></i>
        </span>
    </div>
</div>