{% if movie.persons|length > 0 %}
    <div class="casting" data-section="casting">
        {% set medias = director_film_media_all(movie, app.request.locale) %}
        {% if medias|length > 0 %}
            <div class="gallery">
                <div class="img shadow-bottom">
                    {% for media in medias %}
                        {% if media.file is not empty %}
                            {% if loop.index0 == 0 %}
                                {% media media.file, media.file.context ~ '_292x397' with {'class': 'active', title: '', width: '', height: ''} %}
                            {% else %}
                                {% media media.file, media.file.context ~ '_292x397' with {title: '', width: '', height: ''} %}
                            {% endif %}
                            <span class="caption">
                                {% if media.copyright %}
                                    © {{ media.copyright }}
                                {% endif %}
                                {% if app.request.locale == 'fr' and media.titleVf %}
                                    {% if media.copyright %} / {% endif %}
                                    {{ media.titleVf }}
                                {% elseif app.request.locale != 'fr' and media.titleVa %}
                                    {% if media.copyright %} / {% endif %}
                                    {{ media.titleVa }}
                                {% endif %}
                            </span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="thumbs">
                    {% if medias|length > 1 %}
                        <div class="thumbs">
                            {% for media in medias %}
                                <a href="#"
                                {% if loop.index0 == 0 %}
                                    class="active"
                                {% endif %}
                                   data-caption="
                                {% if media.copyright %}
                                    © {{ media.copyright }}
                                {% endif %}
                                {% if app.request.locale == 'fr' and media.titleVf %}
                                    {% if media.copyright %} / {% endif %}
                                    {{ media.titleVf }}
                                {% elseif app.request.locale != 'fr' and media.titleVa %}
                                    {% if media.copyright %} / {% endif %}
                                    {{ media.titleVa }}
                                {% endif %}
                                ">
                                    <img src="{% path media.file, media.file.context ~ '_38x46'  %}" alt="{{ media|trans_fallback('title')?:media.titleVO }}">
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="content">
            <div class="vCenter">
                <div class="vCenterKid">
                    {% if movie.getCredits()|length > 0 %}
                        <h3 class="title-section">{{ 'ccm.credits'|trans }}</h3>
                        {% for filmPerson in movie.getCredits(true) if filmPerson.person and not filmPerson.person.duplicate %}
                            {% if filmPerson.person is not empty %}
                                {% for personFunction in filmPerson.functions %}
                                    {% if personFunction.function.id not in [65, 30, 4]  %}
                                        <p>
                                            {% set person = filmPerson.person %}
                                            <a href="{{ path('fdc_court_metrage_artist', {'slug' : person.slug}) }}">{{person.lastName ~ ' ' ~ person.firstName|upper }}</a> - {{ filmPerson.person|person_function_gender(personFunction.function, 'name') }}
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <div class="actors">
                        <h3 class="title-section">{{ 'ccm.casting'|trans }}</h3>
                        {% for filmPerson in movie.getActors() %}
                            {% if filmPerson.person is not empty %}
                                {% set person = filmPerson.person %}
                                <p><a href="{{ path('fdc_court_metrage_artist', {'slug' : person.slug}) }}">{{person.lastName ~ ' ' ~ person.firstName|upper }}</a> - {{ filmPerson|trans_fallback('role') }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}