{% trans_default_domain 'FDCPressBundle' %}
<div class="venue">
    <div class="v-head">{{ 'press.home.salle.grandtheatrelumière'|trans }}</div>
    <div class="v-container">
        {% if dayProjection is defined %}
            {% for p in dayProjection %}
                {% if p.projection.room.name == "Grand Théatre Lumière" %}
                    {% include 'FDCPressBundle:Agenda:widgets/event.html.twig' %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="venue">
    <div class="v-head">{{ 'press.home.salle.salledebussy'|trans }}</div>
    <div class="v-container">
        {% if dayProjection is defined %}
            {% for p in dayProjection %}
                {% if p.projection.room.name == "Salle Debussy" %}
                    {% include 'FDCPressBundle:Agenda:widgets/event.html.twig' %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="venue">
    <div class="v-head">{{ 'press.home.salle.salledu60e'|trans }}</div>
    <div class="v-container">
        {% if dayProjection is defined %}
            {% for p in dayProjection %}
                {% if p.projection.room.name == "Salle du Soixantième" %}
                    {% include 'FDCPressBundle:Agenda:widgets/event.html.twig' %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="venue">
    <div class="v-head">{{ 'press.home.salle.sallebunuel'|trans }}</div>
    <div class="v-container">
        {% if dayProjection is defined %}
            {% for p in dayProjection %}
                {% if p.projection.room.name == "Salle Buñuel" %}
                    {% include 'FDCPressBundle:Agenda:widgets/event.html.twig' %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="venue">
    <div class="v-head">{{ 'press.home.salle.sallebunuel'|trans }}</div>
    <div class="v-container">
        {% if dayProjection is defined %}
            {% for p in dayProjection %}
                {% if p.projection.room.name == "Salle Buñuel" %}
                    {% include 'FDCPressBundle:Agenda:widgets/event.html.twig' %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="venue">
    <div class="v-head">{{ 'press.home.salle.sallebunuel'|trans }}</div>
    <div class="v-container">
        {% if dayProjection is defined %}
            {% for p in dayProjection %}
                {% if p.projection.room.name == "Salle Buñuel" %}
                    {% include 'FDCPressBundle:Agenda:widgets/event.html.twig' %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="venue">
    <div class="v-head">{{ 'press.home.salle.sallebunuel'|trans }}</div>
    <div class="v-container">
        {% if dayProjection is defined %}
            {% for p in dayProjection %}
                {% if p.projection.room.name == "Salle Buñuel" %}
                    {% include 'FDCPressBundle:Agenda:widgets/event.html.twig' %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
