{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressBundle::layout.html.twig' %}

{% block body %}

    <div id="main" class="press loading downloading-press lock ">

        {% include 'FDCPressBundle:Global:components/headerPress.html.twig' %}

        <div class="downloading-nav">
            <ul>
                {% for key,section in pressDownloads.section %}
                    <!-- Don't change ID value -->
                    <li><a href="#{{ section.slug }}" class="ajax {% if key == 0 %}active{% endif %}">{{ section.title }}</a></li>
                {% endfor %}

            </ul>
        </div>

        <div class="wrapper">
            {% for section in pressDownloads.section %}

                <!-- AFFICHE OFFICIELLE -->
                {% if section.slug == "affiche-officielle" %}
                    <div class="affiche" id="{{ section.slug }}">
                        <div class="container">
                            <h3 class="title-press">{{ section.title }}</h3>

                            {% for poster in section.poster %}
                                <div class="{{ poster.format.slug }}">
                                    <img src="{{ poster.image.path }}" alt="" />
                                    <span class="caption">{{ poster.image.caption }}</span>
                                    <p>Format portrait</p>
                                    <div class="buttons active-btn"> <!-- TODO enlever le active-btn, juste test -->
                                        {% for info in poster.format.info %}
                                            <a href="{{ info.link }}" class="button">{{ info.title }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                <!-- SIGNATURES -->
                {% elseif section.slug == "signature" %}
                    <div class="signature block" id="{{ section.slug }}">
                        <div class="container">
                            <h3 class="title-press">{{ section.title }}</h3>

                            {% for signature in section.signature %}
                                <div class="imgs-container first">
                                    <div class="container-img">
                                        <img src="{{ signature.image.path }}" alt="">
                                    </div>
                                    <span class="caption">{{ signature.image.caption }}</span>
                                    <div class="infos">
                                        <h4>{{ signature.title }}</h4>
                                        <ul>
                                            {% for info in signature.info %}
                                                <li>{{ info.content }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="buttons">
                                        <a href="{{ signature.link }}" class=" button">{{ 'download.btn.touttelecharger'|trans }}</a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                <!-- ANIMATIONS -->
                {% elseif section.slug == "animation" %}
                    <div class="animation block" id='{{ section.slug }}'>
                        <div class="container">
                            <h3 class="title-press">{{ section.title }}</h3>
                            <div class="contain-player">
                                <div class="player">
                                    <img src="{{ section.video.path }}" alt="{{ section.title }}">
                                </div>
                                <span class="caption">
                                    {{ section.video.caption }}
                                </span>
                                <div class="buttons">
                                    {% for format in section.video.format %}
                                        <a href="{{ format.link }}" class="{{ format.slug }} extention button">{{ format.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- PHOTOS INSTITUTIONNELLES -->
                {% elseif section.slug == "photos-institutionnelles" %}
                    <div class="photos block slideshow"  id='{{ section.slug }}'>
                        <div class="container">
                            <div class="container-title">
                                <h3 class="title-press">{{ section.title }} <span class="number">({{ section.photo|length }})</span></h3>
                                <div class="right-btn buttons">
                                    <a href="{{ section.link }}" class="alldl button">{{ 'download.btn.touttelecharger'|trans }}</a>
                                </div>
                            </div>
                            <div class="gridPressDownload grid-wrapper images">
                                <div class="grid-sizer"></div>

                                {% for photo in section.photo %}
                                    <div class="item">
                                        <a href="{{ photo.large }}" class="chocolat-image ajax" title='<h2>{{ photo.title }}</h2>' data-credit="{{ photo.credit }}">
                                            <img src="{{ photo.path }}"  title='<h2>{{ photo.title }}</h2>' data-credit="{{ photo.credit }}" alt="" class="chocolat-image ajax">
                                        </a>
                                    </div>
                                {% endfor %}

                                <div class="owl-carousel thumbnails">
                                    {% for key,photo in section.photo %}
                                        <div data-id="photo1" class="thumb {% if key == 0 %}active{% endif %}" data-caption="<strong>{{ photo.title }}</strong>">
                                            <img src="{{ photo.thumb }}" />
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>

                <!-- DOSSIER DE PRESSE -->
                {% elseif section.slug == "dossier-presse" %}
                    <div class="dossier block" id='{{ section.slug }}'>
                        <div class="container">
                            <h3 class="title-press">{{ section.title }}</h3>
                            {% for category in section.category %}
                                <div class="contain-dp">

                                    <div class="buttons">
                                        {% for file in category.file %}
                                            <div class="button {% if category.file|length > 1 %}large{% endif %}">
                                                <a href="{{ file.link }}" class="download ">{{ file.title }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <p class="infos"><strong>{{ 'download.label.misajour'|trans }} :</strong>
                                        {{ category.updatedAt|date('d.m.y') }} . {{ category.updatedAt|date('H:i') }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

           {{ render(controller('FDCPressBundle:Global:contact')) }}
    </div>

    {% include 'FDCPressBundle:Global:components/popinPress.html.twig' %}

    {% include 'FDCPressBundle:Global:components/popinDownload.html.twig' %}

    </div>

{% endblock body %}
