{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressBundle::layout.html.twig' %}

{% block body %}

    <div id="main" class="press loading downloading-press {{ is_granted("ROLE_FDC_PRESS_REPORTER") ? 'conected' : 'lock' }} ">

        {% include 'FDCPressBundle:Global:components/headerPress.html.twig' %}

        <div class="downloading-nav">
            <ul>
                {% for key,s in pressDownloads %}
                    <!-- Don't change ID value -->
                    <li><a href="#{{ s.section|trans_fallback('slug') }}" class="ajax {% if key == 0 %}active{% endif %}">{{ s.section|trans_fallback('title') }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="wrapper">
            {% for k,s in pressDownloads %}
                {% set slugSplit = s.section|trans_fallback('slug')|split('-', 2) %}
                <div class="{{ attribute(slugSplit, 0) }} {% if k == 0 %} {% elseif k == 3 %} block slideshow {% else %} block {% endif %}" id="{{ s.section|trans_fallback('slug') }}">
                    <div class="container">
                        {% if attribute(slugSplit, 0) != "photos" %}
                            <h3 class="title-press">{{ s.section|trans_fallback('title') }}</h3>
                        {% endif %}

                        {% for key,widget in s.section.widgets %}
                            {% if class(widget) == "PressDownloadSectionWidgetDocument" %}
                                {% if widget.file.contentType == "application/zip" or
                                widget.secondFile.contentType == "application/zip"
                                %}
                                    {% include 'FDCPressBundle:Media:widgets/archive.html.twig' %}
                                {% else %}
                                    {% include 'FDCPressBundle:Media:widgets/document.html.twig' %}
                                {% endif %}
                            {% elseif class(widget) == "PressDownloadSectionWidgetFile" %}
                                {% include 'FDCPressBundle:Media:widgets/file.html.twig' %}
                            {% elseif class(widget) == "PressDownloadSectionWidgetPhoto" %}
                                {% include 'FDCPressBundle:Media:widgets/photo.html.twig' %}
                            {% elseif class(widget) == "PressDownloadSectionWidgetVideo" %}
                                {% include 'FDCPressBundle:Media:widgets/video.html.twig' %}
                            {% endif %}
                        {% endfor %}


                    </div>
                </div>

            {% endfor %}

           {{ render(controller('FDCPressBundle:Global:contact')) }}
    </div>

    {% include 'FDCPressBundle:Global:components/popinPress.html.twig' %}

    </div>

{% endblock body %}
