{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressBundle::layout.html.twig' %}

{% block body %}

<div id="main" class="press loading press-media {{ is_granted("ROLE_FDC_PRESS_REPORTER") ? 'conected' : 'lock' }}">

    <div class="header-press">
        <div class="head">
            <span><i class="icon icon_espace-presse"></i>{{ 'press.header.label.espacepresse'|trans }}</span>
        </div>
        <div class="container">
            <h2>{{ 'press.header.title.mediathequefilms'|trans }}</h2>
            <p>
            <span class="vCenter">
              <span class="vCenterKid">
                  {{ 'press.header.subtitle.voustrouverezcidessouslesdossiers'|trans }}
              </span>
            </span>
            </p>
        </div>
    </div>

    {{ render(controller('FDCPressBundle:Security:login')) }}

    <div class="container-mediapress">
        <div class="nav-mediapress">

            <div class="wrapper">
                <h2>{{ 'mediatheque.title.choixdelaselection'|trans }}</h2>

                <table>
                    <tr>
                        {% for key,filter in filmSection %}
                        <td data-cat="{{ filter.slug }}" class="{% if key == 0 %}active{% endif %}">{{ filter.name }}</td>
                        {% if  loop.index % 3 == 0 %}
                    </tr>
                    <tr>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </table>

            </div>
        </div>


        {% for section in filmSection %}
            {% include 'FDCPressBundle:Media:components/content.html.twig' %}
        {% endfor %}

        {{ render(controller('FDCPressBundle:Global:contact')) }}
    </div>

    {% include 'FDCPressBundle:Global:components/popinPress.html.twig' %}

</div>

{% endblock body %}