{% extends 'FDCCorporateBundle::layout.html.twig' %}
{% trans_default_domain 'FDCCorporateBundle' %}

{% block bodyClass %}home{% endblock %}
{% block bodyId %}home{% endblock %}

{% block body %}
    <section id="main" class="home">

        {% if homepage.displayedSlider == false %}
            <div class="">
                <div class="slider-home block-scale">
                    <div class="container-images">
                        {% set sliderItems = {} %}
                        {% set dataItem = 1 %}
                        {% for homeSlide in homeSlider %}
                            {% set img = homeSlide.header %}
                            {% set trans = img.findTranslationByLocale(app.request.locale) %}
                            {% if trans is null or trans.file is null %}
                                {% set trans = img.findTranslationByLocale('fr') %}
                            {% endif %}
                            {% set file = '' %}
                            {% if trans.status == 1 and img.publishedAt and img.publishedAt.getTimestamp() <= "now"|date('U') %}
                                {% set file = trans.file %}
                            {% endif %}

                            <div class="item animated active" data-item="{{ dataItem }}"
                                 style="background-image:url('{% path file , '1280x808' %}')"></div>
                            {% if class is defined and attribute(homeSlide, class) is defined and class(homeSlide) starts with 'S' %}
                                {% set type = 'communique' %}
                            {% else %}
                                {% set type = 'info' %}
                            {% endif %}
                            {% set trans = homeSlide.findTranslationByLocale(app.request.locale) %}
                            {% if trans == null %}
                                {% set trans = homeSlide.findTranslationByLocale('fr') %}
                            {% endif %}
                            {% if class is defined and attribute(homeSlide, class) is defined and class(homeSlide) starts with 'Statement' %}
                                {% set sliderUrl = url('fdc_corporate_news_presssingle', { year: homeSlide.festival.year, type: 'communique', format: homeSlide.newsFormat, slug: trans.slug }) %}
                            {% else %}
                                {% set sliderUrl = url('fdc_corporate_news_presssingle', { year: homeSlide.festival.year, type: 'info', format: homeSlide.newsFormat, slug: trans.slug }) %}
                            {% endif %}

                            {% set sliderItem = {(dataItem):{'item':dataItem,'title':homeSlide|trans_fallback('title'), 'theme':homeSlide.theme|trans_fallback('name'), 'introduction':homeSlide|trans_fallback('introduction'), 'url':sliderUrl}} %}
                            {% set sliderItems = sliderItems|merge(sliderItem) %}
                            {% set dataItem = dataItem + 1 %}
                        {% endfor %}
                    </div>
                    <div class="block-01 container-txts">
                        <div class="texts ">
                            <div class="slider-carousel">
                                {% for sliderItem in sliderItems %}
                                    <div class="item vFlexAlign" data-item='{{ sliderItem.item }}'>
                                        <a href="{{ sliderItem.url }}" class="coverLink"></a>
                                        <a href="{{ sliderItem.url }}">
                                            <strong class="title-4a">{{ sliderItem.title }}</strong>
                                        </a>
                                        <a href="{{ sliderItem.url }}">
                                            <strong class="title-2a">{{ sliderItem.theme }}</strong>
                                        </a>
                                        <span class="text-trunc">
                                    {{ sliderItem.introduction|raw }}
                                </span>
                                    </div>
                                {% endfor %}
                            </div> <!-- end slider carousel -->
                        </div> <!-- end texts -->
                    </div> <!-- end block 01 -->


                </div> <!-- end slider home -->
            </div> <!-- end padding-bottom -->
        {% endif %}

        {% if homepage.displayedFeaturedContents == false %}
            <div class="padding-top">
                <h2 class="title title-01">{{ 'home.coporate.statements.and.infos.block.title'|trans|raw }}</h2>

                {% if homepage.displayedFeaturedContentsFilters == false %}
                    {% include 'FDCCorporateBundle:News:components/filters.html.twig' with({'removePaddingSmallTop': true}) %}
                {% endif %}
            </div>
        {% endif %}

        <div class="content">
            <div class="block-01 padding-bottom block-scale">
                {% if homepage.displayedFeaturedContents == false %}
                    <div class="contain-card">
                        <div class="cards grid-01 isotope-01">
                            <div class="grid-sizer"></div>
                            {% for i in 0..2 if homeContents|length %}
                                {% set article = homeContents[i] %}
                                {% if class is defined and attribute(article, class) is defined and class(article) starts with 'S' %}
                                    {% set type = 'communique' %}
                                {% else %}
                                    {% set type = 'info' %}
                                {% endif %}
                                {% if article is news_article or article is statement_article or article is info_article %}
                                    {% set contentType = 'article' %}
                                    {% set img = article.header %}
                                    {% set trans = img.findTranslationByLocale(app.request.locale) %}
                                    {% if trans is null or trans.file is null %}
                                        {% set trans = img.findTranslationByLocale('fr') %}
                                    {% endif %}
                                    {% set file = trans.file %}
                                {% elseif article is news_video or article is statement_video or article is info_video %}
                                    {% set contentType = 'video' %}
                                    {% set header = article.header %}
                                    {% if header is not null %}
                                        {% set trans = header.findTranslationByLocale(app.request.locale) %}
                                        {% if trans is not null and trans.file is not null %}
                                            {% set imageTrans = trans %}
                                        {% else %}
                                            {% set trans = article.header.findTranslationByLocale('fr') %}
                                            {% if trans is not null and trans.file is not null %}
                                                {% set imageTrans = trans %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {% if imageTrans is defined and imageTrans is not null %}
                                        {% set file = imageTrans.file %}
                                        {% set img = article.header %}
                                    {% else %}
                                        {% set img = article.video.image %}
                                        {% set trans = img.findTranslationByLocale(app.request.locale) %}
                                        {% if trans is null or trans.file is null %}
                                            {% set trans = img.findTranslationByLocale('fr') %}
                                        {% endif %}
                                        {% set file = trans.file %}
                                    {% endif %}
                                {% elseif article is news_audio or article is info_audio or article is statement_audio %}
                                    {% set contentType = 'audio' %}
                                    {% set header = article.header %}
                                    {% if header is not null %}
                                        {% set trans = header.findTranslationByLocale(app.request.locale) %}
                                        {% if trans is not null and trans.file is not null %}
                                            {% set imageTrans = trans %}
                                        {% else %}
                                            {% set trans = article.header.findTranslationByLocale('fr') %}
                                            {% if trans is not null and trans.file is not null %}
                                                {% set imageTrans = trans %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {% if imageTrans is defined and imageTrans is not null %}
                                        {% set file = imageTrans.file %}
                                        {% set img = article.header %}
                                    {% else %}
                                        {% set img = article.audio.image %}
                                        {% set trans = img.findTranslationByLocale(app.request.locale) %}
                                        {% if trans is null or trans.file is null %}
                                            {% set trans = img.findTranslationByLocale('fr') %}
                                        {% endif %}
                                        {% set file = trans.file %}
                                    {% endif %}
                                {% elseif article is news_image or article is statement_image or article is info_image %}
                                    {% set contentType = 'photo' %}
                                    {% set header = article.header %}
                                    {% if header is not null %}
                                        {% set trans = header.findTranslationByLocale(app.request.locale) %}
                                        {% if trans is not null and trans.file is not null %}
                                            {% set imageTrans = article.header.findTranslationByLocale(app.request.locale) %}
                                        {% else %}
                                            {% set trans = article.header.findTranslationByLocale('fr') %}
                                            {% if trans is not null and trans.file is not null %}
                                                {% set imageTrans = trans %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {% if imageTrans is defined and imageTrans is not null %}
                                        {% set img = article.header %}
                                        {% set file = imageTrans.file %}
                                    {% else %}
                                        {% set img = article.gallery.medias[0].media %}
                                        {% set trans = img.findTranslationByLocale(app.request.locale) %}
                                        {% if trans is null or trans.file is null %}
                                            {% set trans = img.findTranslationByLocale('fr') %}
                                        {% endif %}
                                        {% set file = trans.file %}
                                    {% endif %}
                                {% endif %}
                                <article
                                        class="card item all {{ article.theme|trans_fallback('slug') }} {{ contentType }}{% if i == 0 %} double w2{% endif %}"
                                        data-format="{{ contentType }}"
                                        data-theme="{{ article.theme|trans_fallback('slug') }}" data-time="1455909420"
                                        data-end="false">
                                    <div class="image">
                                        <div class="image-wrapper">
                                            <img src="{% path file , '926x584' %}" alt=""/>
                                        </div>

                                        {% set trans = article.findTranslationByLocale(app.request.locale) %}
                                        {% if trans == null %}
                                            {% set trans = article.findTranslationByLocale('fr') %}
                                        {% endif %}
                                        <a href="{{ url('fdc_press_news_get', { _locale: app.request.locale, type: type, format: trans.translatable.newsFormat, slug: trans.slug }) }}"
                                           class="linkImage"></a>
                                        <!--<a href="#" class="read-later"><i class="icon icon-read-latter"></i><span>Ajouter à ma sélection</span></a>-->
                                        <span class="picto"><i class="icon icon-{{ contentType }}"></i></span>
                                    </div>
                                    <div class="info">
                                        <a href="{{ url('fdc_press_news_get', { _locale: app.request.locale, type: type, format: trans.translatable.newsFormat, slug: trans.slug }) }}"
                                           class="category">{{ article.theme|trans_fallback('name') }}</a><span
                                                class="date">{{ article.publishedAt|date('d.m.y') }}</span> . <span
                                                class="hour">{{ article.publishedAt|date('H:i') }}</span>
                                        <strong><a href="{{ url('fdc_press_news_get', { _locale: app.request.locale, type: type, format: trans.translatable.newsFormat, slug: trans.slug }) }}">{{ article|trans_fallback('title') }}</a></strong>
                                    </div>
                                </article>
                            {% endfor %}
                        </div> <!-- end articles-->
                    </div> <!-- end article wrapper-->
                {% endif %}

                {% if homepage.displayedGallery == false and gallery is not null and glry is not null and glry.medias is defined and glry.medias|length > 0 %}
                    <div class="block-diaporama">

                        <div class="slider-01">
                            {% for image in glry.medias %}
                                {% if image.media is defined and image.media is not null %}
                                    {% set photo = image.media %}
                                    {% set trans = photo.findTranslationByLocale(app.request.locale) %}
                                    {% if trans is null or trans.file is null %}
                                        {% set trans = photo.findTranslationByLocale('fr') %}
                                    {% endif %}
                                    {% set file = trans.file %}
                                    {% set copyright = photo|trans_fallback('copyright') %}
                                    {% set alt = (photo|trans_fallback('alt') == '') ? photo|trans_fallback('legend') : photo|trans_fallback('alt') %}

                                    <div class="item">
                                        <figure>
                                            <img src="{% path file, '640x404' %}" alt="image"
                                                 data-id="pid={{ photo.id }}"
                                                 data-credit="{{ photo|trans_fallback('legend') }}"
                                                 data-title="{{ photo|trans_fallback('legend') }}"
                                                 data-label="{{ photo.theme|trans_fallback('slug') }}"
                                                 data-date="{{ photo.publishedAt|date('d.m.y') }} {{ agenda_leftbar_translate_hour(photo.publishedAt|date('H:i'), true, true) }}"
                                                 data-facebookurl="http://www.facebook.com/dialog/feed?app_id=1198653673492784&link=http://www.festival-cannes.com/fr/films/bacalaureat&picture=http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/film_poster/0001/02/thumb_1458_film_poster_293x397.jpeg&name=BACALAUREAT%20-%20Festival%20de%20Cannes&caption=&description=Romeo%2C%20m%C3%A9decin%20dans%20une%20petite%20ville%20de%20Transylvanie%2C%20a%20tout%20mis%20en%20%C5%93uvre%20pour%20que%20sa%20fille%2C%20Eliza%2C%20soit%20accept%C3%A9e%20dans%20une%20universit%C3%A9%20anglaise.%20%0D%0AIl%20ne%20reste%20plus%20%C3%A0%20la%20jeune%20fille%2C%20tr%C3%A8s%20bonne%20%C3%A9l%C3%A8ve%2C%20qu%E2%80%99une%20formalit%C3%A9%20qui%20ne%20devrait%20pas%20poser%20de%20probl%C3%A8me%20%3A%20obtenir%20son%20baccalaur%C3%A9at.%20%0D%0AMais%20Eliza%20se%20fait%20agresser%20et%20le%20pr%C3%A9cieux%20s%C3%A9same%20semble%20brutalement%20hors%20de%20port%C3%A9e.%20Avec%20lui%2C%20c%E2%80%99est%20toute%20la%20vie%20de%20Romeo%20qui%20est%20remise%20en%20question%20quand%20il%20oublie%20alors%20tous%20les%20principes%20qu%E2%80%99il%20a%20inculqu%C3%A9s%20%C3%A0%20sa%20fille%2C%20entre%20%20compromis%20et%20compromissions%E2%80%A6&redirect_uri=http://www.festival-cannes.com/fr/sharing&display=popup"
                                                 data-twitterurl="https://twitter.com/intent/tweet?text=BACALAUREAT%20http://www.festival-cannes.com/fr/films/bacalaureat"
                                                 data-url="http://localhost:3000/#pid=1889">
                                            <figcaption>{% if copyright is not empty %} © {{ copyright }}{% endif %}</figcaption>
                                        </figure>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="block-legend">
                            <div class="info">

                                <span class="category">{{ gallery.themeHomeCorpo|trans_fallback('name') }} </span><span
                                        class="date">{{ gallery.dateHomeCorpo|date('d.m.y') }}</span> . <span
                                        class="hour">{{ gallery.dateHomeCorpo|date('H:i') }}</span>

                                <div class="texts">
                                    <h2><a>{{ gallery|trans_fallback('titleHomeCorpo') }}</a></h2>
                                    <div class="text-01">
                                        {{ gallery|trans_fallback('introductionHomeCorpo')|raw }}
                                    </div>
                                </div> <!-- end block texts-->

                            </div> <!-- end block info -->
                        </div> <!-- end block legend-->

                    </div> <!-- end diaporama-->
                {% endif %}

                {% if homepage.displayedFeaturedContents == false %}
                    <div class="articles-wrapper add-ajax-request">
                        <div class="articles article-inverse">
                            <div class="cards grid-01 isotope-01">
                                <div class="grid-sizer"></div>

                                {% if homeContents|length > 3 %}
                                    {% for i in 3..(homeContents|length)-1 %}
                                        {% set article = homeContents[i] %}
                                        {% if class is defined and attribute(article, class) is defined and class(article) starts with 'S' %}
                                            {% set type = 'communique' %}
                                        {% else %}
                                            {% set type = 'info' %}
                                        {% endif %}
                                        {% if article is news_article or article is statement_article or article is info_article %}
                                            {% set contentType = 'article' %}
                                            {% set img = article.header %}
                                            {% set trans = img.findTranslationByLocale(app.request.locale) %}
                                            {% if trans is null or trans.file is null %}
                                                {% set trans = img.findTranslationByLocale('fr') %}
                                            {% endif %}
                                            {% set file = trans.file %}
                                        {% elseif article is news_video or article is statement_video or article is info_video %}
                                            {% set contentType = 'video' %}
                                            {% set header = article.header %}
                                            {% if header is not null %}
                                                {% set trans = header.findTranslationByLocale(app.request.locale) %}
                                                {% if trans is not null and trans.file is not null %}
                                                    {% set imageTrans = trans %}
                                                {% else %}
                                                    {% set trans = article.header.findTranslationByLocale('fr') %}
                                                    {% if trans is not null and trans.file is not null %}
                                                        {% set imageTrans = trans %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            {% if imageTrans is defined and imageTrans is not null %}
                                                {% set file = imageTrans.file %}
                                                {% set img = article.header %}
                                            {% else %}
                                                {% set img = article.video.image %}
                                                {% set trans = img.findTranslationByLocale(app.request.locale) %}
                                                {% if trans is null or trans.file is null %}
                                                    {% set trans = img.findTranslationByLocale('fr') %}
                                                {% endif %}
                                                {% set file = trans.file %}
                                            {% endif %}
                                        {% elseif article is news_audio or article is info_audio or article is statement_audio %}
                                            {% set contentType = 'audio' %}
                                            {% set header = article.header %}
                                            {% if header is not null %}
                                                {% set trans = header.findTranslationByLocale(app.request.locale) %}
                                                {% if trans is not null and trans.file is not null %}
                                                    {% set imageTrans = trans %}
                                                {% else %}
                                                    {% set trans = article.header.findTranslationByLocale('fr') %}
                                                    {% if trans is not null and trans.file is not null %}
                                                        {% set imageTrans = trans %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            {% if imageTrans is defined and imageTrans is not null %}
                                                {% set file = imageTrans.file %}
                                                {% set img = article.header %}
                                            {% else %}
                                                {% set img = article.audio.image %}
                                                {% set trans = img.findTranslationByLocale(app.request.locale) %}
                                                {% if trans is null or trans.file is null %}
                                                    {% set trans = img.findTranslationByLocale('fr') %}
                                                {% endif %}
                                                {% set file = trans.file %}
                                            {% endif %}
                                        {% elseif article is news_image or article is statement_image or article is info_image %}
                                            {% set contentType = 'photo' %}
                                            {% set header = article.header %}
                                            {% if header is not null %}
                                                {% set trans = header.findTranslationByLocale(app.request.locale) %}
                                                {% if trans is not null and trans.file is not null %}
                                                    {% set imageTrans = article.header.findTranslationByLocale(app.request.locale) %}
                                                {% else %}
                                                    {% set trans = article.header.findTranslationByLocale('fr') %}
                                                    {% if trans is not null and trans.file is not null %}
                                                        {% set imageTrans = trans %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            {% if imageTrans is defined and imageTrans is not null %}
                                                {% set img = article.header %}
                                                {% set file = imageTrans.file %}
                                            {% else %}
                                                {% set img = article.gallery.medias[0].media %}
                                                {% set trans = img.findTranslationByLocale(app.request.locale) %}
                                                {% if trans is null or trans.file is null %}
                                                    {% set trans = img.findTranslationByLocale('fr') %}
                                                {% endif %}
                                                {% set file = trans.file %}
                                            {% endif %}
                                        {% endif %}

                                        <article
                                                class="card item all {{ contentType }} {{ article.theme|trans_fallback('slug') }} {% if i == 4 %}double w2{% else %}{% endif %}"
                                                data-format="{{ contentType }}"
                                                data-theme="{{ article.theme|trans_fallback('slug') }}"
                                                data-time="1455909420" data-end="false">
                                            <div class="image">
                                                <div class="image-wrapper">
                                                    <img src="{% path file , '926x584' %}" alt=""/>
                                                </div>
                                                {% set trans = article.findTranslationByLocale(app.request.locale) %}
                                                {% if trans == null %}
                                                    {% set trans = article.findTranslationByLocale('fr') %}
                                                {% endif %}
                                                {% if type == 'news' %}
                                                    {% set sliderUrl = url('fdc_corporate_news_get', { _locale: app.request.locale, format: trans.translatable.newsFormat, slug: trans.slug }) %}
                                                {% else %}
                                                    {% set sliderUrl = url('fdc_press_news_get', { _locale: app.request.locale, type: type, format: trans.translatable.newsFormat, slug: trans.slug }) %}
                                                {% endif %}

                                                <a href="{{ sliderUrl }}" class="linkImage"></a>

                                                <!--<a href="#" class="read-later"><i class="icon icon-read-latter"></i><span>Ajouter à ma sélection</span></a>-->
                                                <span class="picto"><i class="icon icon-{{ contentType }}"></i></span>
                                            </div>
                                            <div class="info">
                                                <a href="#"
                                                   class="category">{{ article.theme|trans_fallback('name') }}</a><span
                                                        class="date">{{ article.publishedAt|date('d.m.y') }}</span> .
                                                <span class="hour">{{ article.publishedAt|date('H:i') }}</span>
                                                <strong><a href="{{ sliderUrl }}">{{ article|trans_fallback('title') }}</a></strong>
                                            </div>
                                        </article>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div> <!-- end articles -->
                    </div> <!-- end article wrapper-->

                    <a href="{{ path('fdc_corporate_default_getarticlesfrom') }}" data-reverse=""
                       class="read-more ajax-request">{{ 'home.coporate.statements.and.infos.more.button'|trans|raw }}</a>
                {% endif %}
            </div>

            {% if homepage.displayedVideo == false %}
                {% if featuredVideo is defined and featuredVideo != null %}
                    <div class="block-02">
                        <div class="block-01">
                            <h2 class="title title-01">Vidéo à la une</h2>

                            <div class="center block-videos">
                                <article class="video">
                                    <div class="video-container state-init video video-player"
                                         data-link="{{ featuredVideo.id }}"
                                         data-email='[{"file":"{{ s3_server_video ~ featuredVideo|trans_fallback('webmUrl') }}"},{"file":"{{ s3_server_video ~ featuredVideo|trans_fallback('mp4Url') }}"}]'
                                         data-file='[{"file":"{{ s3_server_video ~ featuredVideo|trans_fallback('webmUrl') }}"},{"file":"{{ s3_server_video ~ featuredVideo|trans_fallback('mp4Url') }}"}]'
                                            {% if featuredVideo.image|trans_fallback('file') %}
                                                data-img="{% path featuredVideo.image|trans_fallback('file'), '926x584' %}"
                                            {% elseif featuredVideo|trans_fallback('imageAmazonUrl') %}
                                                data-img="{{ s3_server_video ~ featuredVideo|trans_fallback('imageAmazonUrl') }}"
                                            {% else %}
                                                data-img="{% path featuredVideo.image|trans_fallback('file', 'fr'), '926x584' %}"
                                            {% endif %}
                                         data-name="{{ featuredVideo|trans_fallback('title') }}">
                                        <div id="video-player" class="jwplayer jw-reset">
                                        </div>
                                        <div class="video-overlay"></div>
                                        <div class="infos-bar hide-info">
                                            <div class="picto"><i class="icon icon-video"></i></div>
                                            <div class="info ">
                                                <div class="vCenter">
                                                    <div class="vCenterKid">
                                                        <span class="category">{{ featuredVideo.theme|trans_fallback('name') }}</span><span
                                                                class="date">{{ featuredVideo.publishedAt|date('d.m.y') }}</span>
                                                        .
                                                        <span class="hour">{{ agenda_leftbar_translate_hour(featuredVideo.publishedAt|date('H:i'), true, true) }}</span>
                                                        <p>{{ featuredVideo|trans_fallback('title') }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="block-legend">
                                <div class="info">

                                    <span class="category">{{ featuredVideo.themeHomeCorpo|trans_fallback('name') }}</span><span
                                            class="date">{{ featuredVideo.dateHomeCorpo|date('d.m.y') }}</span> . <span
                                            class="hour">{{ agenda_leftbar_translate_hour(featuredVideo.dateHomeCorpo|date('H:i'), true, true) }}</span>

                                    <div class="texts">
                                        <h2><a>{{ featuredVideo|trans_fallback('titleHomeCorpo') }}</a></h2>
                                        <div class="text-01">
                                            {{ featuredVideo|trans_fallback('introductionHomeCorpo')|raw }}
                                        </div>
                                    </div> <!-- end block texts-->

                                </div> <!-- end block info -->
                            </div> <!-- end block legend-->

                        </div> <!-- end block 01 -->

                    </div> <!-- end block 02 -->
                    {# endif #}
                {% endif %}
            {% endif %}

            {% if homepage.displayedPushEdition == false %}
                {% if homepage.pushEditionImage is not null %}
                    {% set trans = homepage.pushEditionImage.findTranslationByLocale(app.request.locale) %}
                    {% if trans is null or trans.file is null %}
                        {% set trans = homepage.pushEditionImage.findTranslationByLocale('fr') %}
                    {% endif %}
                    <div class="block-push block-03 block-scale"
                         style="background-image: url('{% path trans.file , '1954x1200' %}')">
                        <a href="{{ homepage|trans_fallback('pushEditionUrl') }}" class="coverLink"></a>
                        <div class="vFlexAlign">
                            <div>
                                <strong class="title-2">{{ homepage|trans_fallback('pushEditionTitle')|raw }}</strong>
                                <a class="link" href="{{ homepage|trans_fallback('pushEditionUrl') }}"><i
                                            class="icon icon-arrow-right"></i> {{ 'home.coporate.discover'|trans|raw }}</a>
                            </div>
                        </div>
                    </div> <!-- end block push -->
                {% endif %}
            {% endif %}

            {% if homepage.displayedCannesReleases == false %}
                <div class="block-02" id="sortiecanne">
                    <div class="block-01">
                        <h2 class="title title-01">{{ 'home.coporate.sorties.de.cannes'|trans|raw }}</h2>

                        <div class="block-films">
                            <div class="left">
                                <article class="video">
                                    <div class="video-container state-init video video-playlist"
                                         data-link="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_video_encoded/direct_encoded/2016/Videos-Web/BEST-OF_2016_2.mp4"
                                         data-email="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_video_encoded/direct_encoded/2016/Videos-Web/BEST-OF_2016_2.mp4"
                                         data-file="[{&quot;file&quot;:&quot;http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_video_encoded/direct_encoded/2016/Videos-Web/BEST-OF_2016_2.webm&quot;},{&quot;file&quot;:&quot;http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_video_encoded/direct_encoded/2016/Videos-Web/BEST-OF_2016_2.mp4&quot;}]"
                                         data-img="http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/media_image/0001/07/089468a853b1a385576c6bc6c353217e6c1a0e46.jpg"
                                         data-name="Le Best-of du 69e Festival de Cannes"
                                         data-playlist='[
                  {% for movie in filmReleases %}
                    {% if movie.videoMain is not null and is_available_video(movie.videoMain) %}
                    {% set trans = get_available_video(movie.videoMain, false, app.request.locale) %}
                  {
                    "sources":[{% if trans.jobWebmState == 3 %}{"file":"{{ s3_server_video ~ trans.webmUrl }}"},{% endif %}{"file":"{{ s3_server_video ~ trans.mp4Url }}"}],
                    "vid": {{ trans.id }},
                    "image":"{% spaceless %}{% include 'FDCEventBundle:Global:components/film.cover.html.twig' with ({
                                         film: movie,
                                         film_format: '135x185',
                                         display_film_path: true,
                                         film_image_default: '/bundles/fdccorporate/media/images/film_w256.jpg',
                                         }) %}{% endspaceless %}",
                    "name":"{{ movie.titleVO }}",
                    "category":"Photocall",
                    "date":"{{ movie.publishedAt|date('d.m.y') }}",
                    "hour":"{{ movie.publishedAt|date('H:i') }}"
                  }{% if loop.last == false %},{% endif %}
                  {% endif %}
                  {% endfor %}
                  ]'>
                                        <div id="video-playlist" class="jwplayer jw-reset"></div>
                                        <div class="video-overlay"></div>
                                        <div class="infos-bar hide-info">
                                            <div class="picto"><i class="icon icon_video"></i></div>
                                            <div class="info ">
                                                <div class="vCenter">
                                                    <div class="vCenterKid">
                                                        <a href="#" class="category">Conférence presse</a><span
                                                                class="date">18.05.15</span> . <span
                                                                class="hour">09:00</span>
                                                        <p>Rencontre avec les lauréats du 68e Festival de Cannes</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div><!--
            -->
                            {% if filmReleases|length %}
                                <div class="right info-02">
                                    <div class="block-infos">
                                        <div class="text-infos vFlexAlign ">
                                            {% set movie = filmReleases|first %}
                                            <strong class="title-3">Sortie
                                                le {{ movie.publishedAt|localizeddate('long', 'none', app.request.locale) }}</strong>
                                            <strong class='title-4'>{{ movie.titleVO }}</strong>
                                            {% set directors = movie.getDirectors() %}

                                            <span>De <span class="title-5">
                                        {% set dataWho = '' %}
                                                    {% for director in directors %}
                                                        {% set dataWho = dataWho ~ '<a class="title-5" href="' ~ path('fdc_event_artist_get', {'slug': director.person.slug}) ~ '">' ~ director.person.fullName ~ '</a>' %}
                                                        {% if loop.index != directors|length %}{% set dataWho = dataWho ~ ', ' %}{% endif %}
                                                    {% endfor %}
                                                    {{ dataWho|raw }}</span>
                                    </span>
                                            <span class="title-6">{{ movie.selectionSection|trans_fallback('name') }}{% if movie.selectionSubsection %}{{ ' ' ~ '-' ~ ' ' }}{{ movie.selectionSubsection|trans_fallback('name') }}{% endif %}</span>
                                            {% set awardsUnique = [] %}
                                            {% set dataAward = '' %}
                                            {% for movieAward in movie.awards %}
                                                {% if movieAward.award and movieAward.award.prize %}
                                                    {% if movieAward.award.id not in awardsUnique %}
                                                        {% set awardsUnique = awardsUnique|merge([movieAward.award.id]) %}
                                                        {% set dataAward = movieAward.award.prize|trans_fallback('title')|trim %}
                                                        {% if movieAward.award.exAequo == 1 %}
                                                            {% set dataAward = dataAward ~ ' (' ~ 'award.ex_aequo'|trans ~ ')' %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            <i class="icon ispalme icon-palme"></i>
                                            <strong class="title-7">{{ dataAward }}</strong>
                                            <span class="date">{{ movie.productionYear }}</span>
                                        </div>
                                    </div>

                                    <div class="relative">
                                        <div class="block-social-network">
                                            <a class="facebook" href="http://www.facebook.com/dialog/feed?app_id=1198653673492784&link=http://www.festival-cannes.com/fr/films/bacalaureat&picture=
http://affif-sitepublic-media-prod.s3-website-eu-west-1.amazonaws.com/film_poster/0001/02/thumb_1458_film_poster_293x397.jpeg&name=BACALAUREAT%20-%20Festival%20de%20Cannes&caption=&description=Romeo%2C%20m%C3%A9decin%20dans%20une%20petite%20ville%20de%20Transylvanie%2C%20a%20tout%20mis%20en%20%C5%93uvre%20pour%20que%20sa%20fille%2C%20Eliza%2C%20soit%20accept%C3%A9e%20dans%20une%20universit%C3%A9%20anglaise.%20%0D%0AIl%20ne%20reste%20plus%20%C3%A0%20la%20jeune%20fille%2C%20tr%C3%A8s%20bonne%20%C3%A9l%C3%A8ve%2C%20qu%E2%80%99une%20formalit%C3%A9%20qui%20ne%20devrait%20pas%20poser%20de%20probl%C3%A8me%20%3A%20obtenir%20son%20baccalaur%C3%A9at.%20%0D%0AMais%20Eliza%20se%20fait%20agresser%20et%20le%20pr%C3%A9cieux%20s%C3%A9same%20semble%20brutalement%20hors%20de%20port%C3%A9e.%20Avec%20lui%2C%20c%E2%80%99est%20toute%20la%20vie%20de%20Romeo%20qui%20est%20remise%20en%20question%20quand%20il%20oublie%20alors%20tous%20les%20principes%20qu%E2%80%99il%20a%20inculqu%C3%A9s%20%C3%A0%20sa%20fille%2C%20entre%20%20compromis%20et%20compromissions%E2%80%A6&redirect_uri=http://www.festival-cannes.com/fr/sharing&display=popup"><i
                                                        class="icon icon-facebook"></i></a><!--
                --><a class="twitter"
                      href="https://twitter.com/intent/tweet?text=BACALAUREAT%20http://www.festival-cannes.com/fr/films/bacalaureat"><i
                                                        class="icon icon-twitter"></i></a><!--
                --><a href="#" rel="nofollow" class="link self"
                      data-clipboard-text="http://www.festival-cannes.com/fr/films/bacalaureat"><i
                                                        class="icon icon-link"></i></a><!--
                --><a href="#" class="popin-mail-open"><i class="icon icon-letter"></i></a>
                                        </div>
                                        <div class="texts-clipboard"></div>
                                    </div>

                                </div> <!-- end info 02 -->
                            {% endif %}
                        </div> <!-- end block film -->

                        <div class="block-list-img slider-02 s-video-playlist">
                            {% for movie in filmReleases %}
                                {% set trans = get_available_video(movie.videoMain, false, app.request.locale) %}
                                {% set directors = movie.getDirectors() %}
                                {% set dataWho = '' %}
                                {% for director in directors %}
                                    {% set dataWho = dataWho ~ '<a class="title-5" href="' ~ path('fdc_event_artist_get', {'slug': director.person.slug}) ~ '">' ~ director.person.fullName ~ '</a>' %}
                                    {% if loop.index != directors|length %}{% set dataWho = dataWho ~ ', ' %}{% endif %}
                                {% endfor %}
                                {% set awardsUnique = [] %}
                                {% set dataAward = '' %}
                                {% for movieAward in movie.awards %}
                                    {% if movieAward.award and movieAward.award.prize %}
                                        {% if movieAward.award.id not in awardsUnique %}
                                            {% set awardsUnique = awardsUnique|merge([movieAward.award.id]) %}
                                            {% set dataAward = movieAward.award.prize|trans_fallback('title')|trim %}
                                            {% if movieAward.award.exAequo == 1 %}
                                                {% set dataAward = dataAward ~ ' (' ~ 'award.ex_aequo'|trans ~ ')' %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <div class="item" data-vid="{{ trans.id }}"
                                     data-ispalm="{% if dataAward != '' %}1{% else %}0{% endif %}"
                                     data-date="{{ movie.publishedAt|localizeddate('long', 'none', app.request.locale) }}"
                                     data-title="{{ movie.titleVO }}" data-who="{{ dataWho }}"
                                     data-label="{{ movie.selectionSection|trans_fallback('name') }}{% if movie.selectionSubsection %}{{ ' ' ~ '-' ~ ' ' }}{{ movie.selectionSubsection|trans_fallback('name') }}{% endif %}"
                                     data-palm="{% if dataAward != '' %}{{ dataAward }}{% endif %}"
                                     data-palmdate="{{ movie.productionYear }}">
                                    <div class="wrapper">
                                        <a href="#"><img
                                                    src="{% spaceless %}{% include 'FDCEventBundle:Global:components/film.cover.html.twig' with ({
                                                    film: movie,
                                                    film_format: '135x185',
                                                    display_film_path: true,
                                                    film_image_default: '/bundles/fdccorporate/media/images/film_w256.jpg',
                                                    }) %}{% endspaceless %}" alt=""></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div> <!-- end block 01 -->
                </div> <!-- end block 02 -->
            {% endif %}
            {% if homepage.displayedPushsMain == false %}
                <div class="block-scale">
                    <div class="half-div block-push">
                        <a href="{{ homepage|trans_fallback('pushMainUrl1') }}" {{ homepage|trans_fallback('pushMainUrl1')|external_link }}
                           class="coverLink"></a>
                        <div class="vFlexAlign">
                            <div>
                                <strong class="title-2">{{ homepage|trans_fallback('pushMainTitle1') }}</strong>
                                <p>{{ homepage|trans_fallback('pushMainSubtitle1') }}</p>
                                <a class="link" {{ homepage|trans_fallback('pushMainUrl1')|external_link }}
                                   href="{{ homepage|trans_fallback('pushMainUrl1') }}"><i
                                            class="icon icon-arrow-right"></i> {{ 'home.coporate.discover'|trans|raw }}</a>
                            </div>
                        </div>
                        {% if homepage.pushMainImage1 %}
                            {% set trans = homepage.pushMainImage1.findTranslationByLocale(app.request.locale) %}
                            {% if trans is null or trans.file is null %}
                                {% set trans = homepage.pushMainImage1.findTranslationByLocale('fr') %}
                            {% endif %}
                            <img src="{% path trans.file , '650x410' %}" alt=""/>
                        {% endif %}
                    </div><!--
                    --><div class="half-div block-push">
                        <a href="{{ homepage|trans_fallback('pushMainUrl2') }}" {{ homepage|trans_fallback('pushMainUrl2')|external_link }}
                           class="coverLink"></a>
                        <div class="vFlexAlign">
                            <div>
                                <strong class="title-2">{{ homepage|trans_fallback('pushMainTitle2') }}</strong>
                                <p>{{ homepage|trans_fallback('pushMainSubtitle2') }}</p>
                                <a class="link" {{ homepage|trans_fallback('pushMainUrl2')|external_link }}
                                   href="{{ homepage|trans_fallback('pushMainUrl2') }}"><i
                                            class="icon icon-arrow-right"></i> {{ 'home.coporate.discover'|trans|raw }}</a>
                            </div>
                        </div>
                        {% if homepage.pushMainImage2 %}
                            {% set trans = homepage.pushMainImage2.findTranslationByLocale(app.request.locale) %}
                            {% if trans is null or trans.file is null %}
                                {% set trans = homepage.pushMainImage2.findTranslationByLocale('fr') %}
                            {% endif %}
                            <img src="{% path trans.file , '650x410' %}" alt=""/>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if homepage.displayedSocialWall == false %}

                <div class="block-01">
                    <div id="social-wall">
                        <div class="container">
                            <div id="wall">
                                {% for i in 0..14 %}
                                    {% include 'FDCEventBundle:News:widgets/post.html.twig' %}
                                {% endfor %}
                            </div>

                            <div id="networks">
                                <p>{{ 'home.coporate.social.follow'|trans|raw }}</p>
                                <ul>
                                    <li><a class="facebook"
                                           href="http://www.facebook.com/pages/Festival-de-Cannes-PageOfficielle/197710070249937"
                                           target="_blank">Facebook<i class="icon icon-facebook"></i></a></li>
                                    <li><a class="twitter" href="https://twitter.com/Festival_Cannes" target="_blank">Twitter<i
                                                    class="icon icon-twitter"></i></a></li>
                                    <li><a class="instagram" href="https://instagram.com/festivaldecannes"
                                           target="_blank">Instagram<i class="icon icon-instagram"></i></a></li>
                                    <li><a class="tumblr" href="http://festivaldecannesofficiel.tumblr.com/"
                                           target="_blank">Tumblr<i class="icon icon-tumblr"></i></a></li>
                                    <li><a class="youtube" href="https://www.youtube.com/user/TVFestivaldeCannes"
                                           target="_blank">Youtube<i class="icon icon-youtube"></i></a></li>
                                    <li><a class="dailymotion" href="http://www.dailymotion.com/CannesFestTV"
                                           target="_blank">Dailymotion<i class="icon icon-dailymotion"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}

            {% if homepage.displayedPushsSecondary == false %}
                <div class="block-05">
                    <div class="block-01">
                        <div class="block-push-02 clear">
                            <div class="right three-quarts-div">
                                <div class="small-push half-div">
                                    <a {{ homepage|trans_fallback('pushSecondaryUrl1')|external_link }}
                                            href="{{ homepage|trans_fallback('pushSecondaryUrl1') }}">
                                        <div class="image-wrapper">
                                            {% if homepage.pushSecondaryImage1 %}
                                                {% set trans = homepage.pushSecondaryImage1.findTranslationByLocale(app.request.locale) %}
                                                {% if trans is null or trans.file is null %}
                                                    {% set trans = homepage.pushSecondaryImage1.findTranslationByLocale('fr') %}
                                                {% endif %}

                                                <img src="{% path trans.file , '325x205' %}" alt=""/>
                                            {% endif %}
                                            <div class="vFlexAlign">
                                                <strong class="title-8">{{ homepage|trans_fallback('pushSecondaryTitle1')|raw }}</strong>
                                            </div>
                                        </div>
                                    </a>
                                </div><!--
                                --><div class="small-push half-div">
                                    <a {{ homepage|trans_fallback('pushSecondaryUrl2')|external_link }}
                                            href="{{ homepage|trans_fallback('pushSecondaryUrl2') }}">
                                        <div class="image-wrapper">
                                            {% if homepage.pushSecondaryImage2 %}
                                                {% set trans = homepage.pushSecondaryImage2.findTranslationByLocale(app.request.locale) %}
                                                {% if trans is null or trans.file is null %}
                                                    {% set trans = homepage.pushSecondaryImage2.findTranslationByLocale('fr') %}
                                                {% endif %}
                                                <img src="{% path trans.file , '325x205' %}" alt=""/>
                                            {% endif %}
                                            <div class="vFlexAlign">
                                                <strong class="title-8">{{ homepage|trans_fallback('pushSecondaryTitle2')|raw }}</strong>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div><!--
                            --><div class="left">
                                <div class="long-push three-quarts-div">
                                    <a {{ homepage|trans_fallback('pushSecondaryUrl3')|external_link }}
                                            href="{{ homepage|trans_fallback('pushSecondaryUrl3') }}">
                                        <div class="image-wrapper">
                                            {% if homepage.pushSecondaryImage3 %}
                                                {% set trans = homepage.pushSecondaryImage3.findTranslationByLocale(app.request.locale) %}
                                                {% if trans is null or trans.file is null %}
                                                    {% set trans = homepage.pushSecondaryImage3.findTranslationByLocale('fr') %}
                                                {% endif %}
                                                <img src="{% path trans.file , '325x205' %}" alt=""/>
                                            {% endif %}
                                            <div class="vFlexAlign">
                                                <strong class="title-8">{{ homepage|trans_fallback('pushSecondaryTitle3')|raw }}</strong>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div> <!-- end left -->
                        </div> <!-- end push-02 -->
                    </div> <!-- end block 01 -->
                </div> <!-- end block 05 -->
            {% endif %}


        </div> <!-- end content -->

    </section>
    {% include "FDCEventBundle:Global:breadcrumb.html.twig" with {"breadcrumb": [
    {
    "name" : 'header.mainnav.nav.jourapresjour'|trans,
    "url"  : path('fdc_event_news_index')
    }
    ]} %}
{% endblock %}