{% trans_default_domain 'FDCCorporateBundle' %}

{% extends 'FDCCorporateBundle::layout.html.twig' %}
{% block bodyClass %}loading article-single dark fs-off retrospective retrospective-home restrospective-init{% endblock %}

{% block body %}
    <section class="s-slider-retrospective">

        {#{% if not hideSliderAndMenu|default(false) %}#}
        {#{% include 'FDCCorporateBundle:Retrospective:components/years_slider.html.twig' %}#}
        {#{% endif %}#}

        <div class="ajax-section">
            <div class="contain-ajax bright" id="main">
                {#{% if not hideSliderAndMenu|default(false) %}#}
                {#{{ render(controller('FDCCorporateBundle:Editions:menu', {year:app.request.get('year'), route:app.request.get('_route')})) }}#}
                {#{% endif %}#}
                <div class="block-01 padding-bottom"> <!-- class wysiwyg-article voir la page _test_article_wysiwyg -->

                    <div class="arrows">
                        {% if prev is defined and not prev is empty %}
                            {% if class(prev) starts with 'News' %}
                                <a href="{{ path('fdc_corporate_news_get', {'format': prev.newsFormat, 'slug': prev|trans_fallback('slug'), 'year': app.request.get('year') }) }}"
                                   class="prev"><i class="icon icon-arrow-right"></i></a>
                            {% else %}
                                {% if class(prev) starts with 'S' %}
                                    {% set type = 'communique' %}
                                {% else %}
                                    {% set type = 'info' %}
                                {% endif %}
                                <a href="{{ path('fdc_corporate_news_presssingle', {type: type, format: get_news_format_slug(prev), 'slug': prev|trans_fallback('slug')}) }}"
                                   class="prev"><i class="icon icon-arrow-left"></i></a>
                            {% endif %}
                        {% endif %}
                        {% if next is defined and not next is empty %}
                            {% if class(next) starts with 'News' %}
                                <a href="{{ path('fdc_corporate_news_get', {'format': next.newsFormat, 'slug': next|trans_fallback('slug'), 'year': app.request.get('year') }) }}"
                                   class="next"><i class="icon icon-arrow-right"></i></a>
                            {% else %}
                                {% if class(next) starts with 'S' %}
                                    {% set type = 'communique' %}
                                {% else %}
                                    {% set type = 'info' %}
                                {% endif %}
                                <a href="{{ path('fdc_corporate_news_presssingle', {type: type, format: get_news_format_slug(next), 'slug': next|trans_fallback('slug')}) }}"
                                   class="next"><i class="icon icon-arrow-right"></i></a>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="contain-titles brigth">
                        <strong class="title-14">{{ news.theme|trans_fallback('name') }} <span
                                    class="date">{{ news.publishedAt|date('d.m.y') }}
                                . {{ agenda_leftbar_translate_hour(news.publishedAt|date('H:i'), true, true) }} /</span>
                            Mise à jour : <span class="date">{{ news.updatedAt|date('d.m.y') }}
                                . {{ agenda_leftbar_translate_hour(news.updatedAt|date('H:i'), true, true) }}</span></strong>
                        <h1 class="title-15">{{ news|trans_fallback('title') }}</h1>
                    </div>

                    <div class="buttons buttons-01">
                        <a id="share-article" href="#" class="button"><i
                                    class="icon icon-share"></i>{{ 'article.btn.partager'|trans }}</a>
                        <a href="#" class="button" onclick="window.print()"><i
                                    class="icon icon-print"></i>{{ 'article.btn.imprimer'|trans }}</a>
                    </div>

                    {% if class(news) == "StatementArticle" or class(news) == "InfoArticle" %}
                        {% include 'FDCEventBundle:News:widgets/single-photo.html.twig' with {'photo' : news.header } %}
                    {% elseif class(news) == "StatementAudio" or class(news) == "InfoAudio" %}
                        {% include 'FDCEventBundle:News:widgets/single-audio.html.twig' %}
                    {% elseif class(news) == "StatementVideo" or class(news) == "InfoVideo" %}
                        {% if is_available_video(news.video) %}
                            <div class="single-video">
                                {% include 'FDCEventBundle:News:widgets/single-video.html.twig' %}
                            </div>
                        {% endif %}
                    {% elseif class(news) == "StatementImage" or class(news) == "InfoImage" %}
                        <div class="single-gallery">
                            {% include 'FDCEventBundle:News:widgets/single-gallery.html.twig' %}
                        </div>
                    {% endif %}

                    <div class="contain-title vFlexAlign block-01-m">
                        <span class="title-02">{{ news|trans_fallback('introduction')|raw }}</span>
                    </div>
                    {% for widget in news.widgets %}
                        {% if class(widget) == "StatementWidgetImage" and widget.gallery.medias is defined and widget.gallery.medias|length == 1
                        or class(widget) == "InfoWidgetImage" and widget.gallery.medias is defined and widget.gallery.medias|length == 1 %}
                            {% include 'FDCEventBundle:News:widgets/single-photo.html.twig' with ({
                            'photo' : widget.gallery.medias[0].media,
                            'photo_class' : ' large-photo'
                            }) %}
                        {% elseif class(widget) == "StatementWidgetImage" and widget.gallery.medias is defined and widget.gallery.medias|length > 1
                        or class(widget) == "InfoWidgetImage" and widget.gallery.medias is defined and widget.gallery.medias|length > 1 %}
                            {% include 'FDCEventBundle:News:widgets/slideshow.html.twig' %}
                        {% elseif class(widget) == "StatementWidgetText" or class(widget) == "InfoWidgetText" %}
                            {% include 'FDCEventBundle:News:widgets/text.html.twig' %}
                        {% elseif class(widget) == "StatementWidgetVideo" or class(widget) == "InfoWidgetVideo" %}
                            {% if is_available_video(widget.file) %}
                                {% include 'FDCCorporateBundle:News:widgets/video.html.twig' with {'widget': widget} %}
                            {% endif %}
                        {% elseif class(widget) == "StatementWidgetVideoYoutube" or class(widget) == "InfoWidgetVideoYoutube" %}
                            {% include 'FDCEventBundle:News:widgets/video-youtube.html.twig' with {'widget': widget} %}
                        {% elseif class(widget) == "StatementWidgetAudio" or class(widget) == "InfoWidgetAudio" %}
                            {% if widget.title is defined %}
                                <h2 class="title">{{ widget.title }}</h2>
                            {% endif %}
                            {% include 'FDCCorporateBundle:News:widgets/audio.html.twig' with {'widget': widget} %}
                        {% elseif class(widget) == "StatementWidgetQuote" or class(widget) == "InfoWidgetQuote" %}
                            {% include 'FDCCorporateBundle:News:widgets/quote.html.twig' %}
                        {% elseif class(widget) == "StatementWidgetImageDualAlign" or class(widget) == "InfoWidgetImageDualAlign" %}
                            {% include 'FDCEventBundle:News:widgets/dual-photo.html.twig' %}
                        {% endif %}
                    {% endfor %}

                    {% if news.signature is not null %}
                        <p class="by-author">{{ 'article.text.redigepar'|trans }} <strong>{{ news.signature }}</strong>
                        </p>
                    {% endif %}
                </div>


                <div class="border-top border-bottom">
                    <strong class="title-9">{{ 'article.text.partagerarticle'|trans }}</strong>
                    <div class="relative">
                        <div class="block-social-network block-social-network-all">
                            <a class="facebook"
                               href="https://www.facebook.com/sharer/sharer.php?u={{ url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}"><i
                                        class="icon icon-facebook"></i></a><!--
                --><a class="twitter"
                      href="https://twitter.com/intent/tweet?url={{ url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}"><i
                                        class="icon icon-twitter"></i></a><!--
                --><a href="#" rel="nofollow" class="link self"
                      data-clipboard-text="{{ url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}"><i
                                        class="icon icon-link"></i></a><!--
                --><a href="#" class="popin-mail-open"><i class="icon icon-letter"></i></a><!--
                --><a href="#" onclick="window.print()" class="print"><i class="icon icon-print"></i></a>
                        </div>
                        <div class="texts-clipboard"></div>
                    </div>
                </div>

                {% if focusArticles is not empty %}
                    <div class="focus border-bottom">
                        <div class="block-01">
                            <h2 class="title">{{ 'article.film.title.focus'|trans }}</h2>
                            <div class="articles center">
                                {% for article in focusArticles %}
                                    {% if article is not null %}
                                        {% include 'FDCCorporateBundle:News/widgets:article.same.day.html.twig' with {type : 'focus'} %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if sameDayArticles is not empty and news.hideSameDay == false %}
                    <div class="same-day">
                        <div class="block-01">
                            <h2 class="title">{{ 'article.film.title.lememejour'|trans }}</h2>
                            <div class="articles center">
                                {% for article in sameDayArticles %}
                                    {% if article is not null %}
                                        {% include 'FDCCorporateBundle:News/widgets:article.same.day.html.twig' with {type : 'same-day'} %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            </div-->
            <span class="anim"></span>
        </div>

        {{ render(controller('FDCEventBundle:Global:shareEmail',
        {'section': news.theme|trans_fallback('name'),
            'detail': news.publishedAt|date('d.m.y'),
            'title': news|trans_fallback('title'),
            'description': news|trans_fallback('introduction')|raw,
            'url': url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))
        })) }}
        {{ render(controller('FDCEventBundle:Global:shareEmailMedia',
        {'section': news.theme|trans_fallback('name'),
            'detail': news.publishedAt|date('d.m.y'),
            'title': news|trans_fallback('title'),
            'description': news|trans_fallback('introduction')|raw,
            'url': url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))
        })) }}
        </div> <!-- end all contain -->
    </section>

    {% if class(news) starts with 'N' %}
        {% set parentTitle = 'corpo.infos.and.statements.page'|trans %}
        {% set parentUrl = path('fdc_corporate_news_getarticles', {'year': news.festival.year}) %}
    {% else %}
        {% set parentTitle = 'header.mainnav.nav.lactualite'|trans %}
        {% set parentUrl = path('fdc_corporate_news_infosandstatements') %}
    {% endif %}
    {% include "FDCCorporateBundle:Global:breadcrumb.html.twig" with
    {"breadcrumb":
    [
    {
    "name" : parentTitle,
    "url"  : parentUrl
    },
    {
    "name" : news|trans_fallback('title'),
    "url"  : ''
    }
    ]
    } %}
    {{ render(controller('FDCCorporateBundle:Global:shareEmail',
    {'section': '',
        'detail' : '',
        'title'  : '',
        'description' : '',
        'url': url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))
    })) }}
{% endblock %}
