{% extends "@FDCCourtMetrage/base.html.twig" %}
{% block main %}
    <div id="main" class="contact loading">
        <h2 class="title">{{ 'ccm.contact.title'|trans }}</h2>
        {% if app.session.flashBag.get('success')|length == 0 %}
            <div class="coords">
                <h3>Festival de Cannes</h3>
                <p>3, rue Amélie 75007 Paris - France</p>
                <p>Tel: +33 (0) 1 53 59 61 00  -  Fax : +33 (0)1 53 59 61 10</p>
            </div>
            <div class="container">
                <p>{{ 'ccm.contact.info'|trans }}</p>
                <div id="form">
                    {{ form_start(form) }}
                        <div class="select {{ form.vars.errors|length > 0 ? 'invalid' : '' }}">
                            <label for="select">{{ 'ccm.contact.message-theme'|trans }}:</label>
                            {{ form_widget(form.select) }}
                            <span id="triggerSelect"></span>
                        </div>
                        {{ form_widget(form.name, {'attr' : {'data-error' : 'ccm.contact.name_error'|trans }}) }}
                        {{ form_widget(form.email, {'attr' : {'data-error' : 'ccm.contact.email_error'|trans }}) }}
                        {{ form_widget(form.object, {'attr' : {'data-error' : 'ccm.contact.object_error'|trans }}) }}
                        {{ form_widget(form.message, {'attr' : {'data-error' : 'ccm.contact.message_error'|trans }}) }}
                        <span class="required">* {{ 'ccm.contact.required'|trans }}</span>

                        <input type="submit" value="{{ 'ccm.contact.submit'|trans }}">
                        {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                    <div class="errors">
                        <ul></ul>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="success show">
                <h3>{{ 'ccm.contact.success'|trans }}</h3>
                <p>{{ 'ccm.contact.success-info'|trans }}</p>
            </div><br/><br/>
        {% endif %}
    </div>
{% endblock %}