{% trans_default_domain 'FDCPressBundle' %}

<div class="contain-map">
    <strong class="name">{{ widget|trans_fallback('title') }}</strong>
    {% if widget.image is not null %}
        {% set trans = widget.image.findTranslationByLocale(app.request.locale) %}
        {% if trans is null or trans.file is null %}
            {% set trans = widget.image.findTranslationByLocale('fr') %}
        {% endif %}
        {% set image = trans.file %}

        {% set sizeClass = 'portrait' %}
        {% set format = '240x320' %}
        {% if image.width > image.height %}
            {% set sizeClass = 'landscape' %}
            {% set format = '543x326' %}
        {% endif %}

        {% if widget.pdf is not null %}
            {% set pdfFile = widget.pdf|trans_fallback('file') %}
            <a href="{% path pdfFile, 'reference' %}" target="_blank"><img src="{% path image, format %}" alt="{{ widget.image|trans_fallback('alt') }}" class="map" /></a>
            <a href="{% path pdfFile, 'reference' %}"
               class="btn telecharger" target="_blank" download>
                <i class="icon icon_telecharger"></i>
                {{ 'mediatheque.label.btn.telecharger'|trans }}
            </a>
        {% else %}
            <img src="{% path image, format %}" alt="{{ widget.image|trans_fallback('alt') }}" class="map" />
        {% endif %}
    {% endif %}
    
    {% if widget.btnLabel is not null and corpo is not defined %}
        <div class="link">
            <i class="icon icon_a-votre-service"></i>
            <a href="{{ widget.btnLabel }}" target="_blank">
                {{ 'participate.link.sereperer'|trans }}
            </a>
        </div>
    {% endif %}
</div>
