{% extends 'FDCCourtMetrageBundle::base.html.twig' %}

{% block main %}
    <div id="main" class="home loading noPadding whiteBckg custom-wysiwyg">
        <div class="list-article">
            {% include 'FDCCourtMetrageBundle:Participate:partials/registerBanner.html.twig' %}
        </div>
        <div class="wideWrapper onlineWrapper">
            {% if registerProcedure.techniqueCharacteristicsTitle %}<h1>{{ registerProcedure.techniqueCharacteristicsTitle }}</h1>{% endif %}
            {% if registerProcedure.techniqueCharacteristicsVideo or registerProcedure.techniqueCharacteristicsAudio %}
            <div class="onlinegoldBorders">
                {% if registerProcedure.techniqueCharacteristicsVideo %}
                <div class="specs">
                    <h2><img class="specsImg" src="{{ asset('bundles/fdccourtmetrage/img/camera.svg') }}">{{ 'ccm.register_movie.video_specs'|trans }}</h2>
                    {{ registerProcedure.techniqueCharacteristicsVideo|raw }}
                </div>
                {% endif %}
                {% if registerProcedure.techniqueCharacteristicsAudio %}
                <div class="specs">
                    <h2><img class="specsImg" src="{{ asset('bundles/fdccourtmetrage/img/sound.svg') }}">{{ 'ccm.register_movie.audio_specs'|trans }}</h2>
                    {{ registerProcedure.techniqueCharacteristicsAudio|raw }}
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% if registerProcedure.techniqueCharacteristicsText %}
        <div class="block-register-pop">
            <div class="block-s-info">
                <div class="block-01-ms vFlexAlign">
                    {{ registerProcedure.techniqueCharacteristicsText|raw }}
                </div>
            </div>
        </div>
        {% endif %}
        <!--<button class="modal-toggle">Update</button>-->
    </div>

    {% include "FDCCourtMetrageBundle:Shared:breadcrumb.html.twig" with
        {"breadcrumb":
            [
            {
                "name" : 'ccm.breadcrumb.home'|trans,
                "url"  : path('fdc_court_metrage_homepage')
            },
            {
                "name" : 'breadcrumb.participate'|trans,
                "url"  : path('fdc_court_metrage_register_movie')
            },
            {
                "name" : registerProcedure.techniqueCharacteristicsTitle,
                "url"  : ''
            }
            ]
        }
    %}
{% endblock %}
