{% extends 'FDCCourtMetrageBundle::base.html.twig' %}

{% block main %}
    <section id="main" class="home noPadding whiteBckg">
        <div class="list-article">
            {% include 'FDCCourtMetrageBundle:Participate:partials/registerBanner.html.twig' %}
        </div>

        <div class="all-contain block-01-ms padding-top block-rules">
            <strong class="title-23">{{ registerProcedure.name }}</strong>
            <strong class="title-24 title-rules">{{ 'ccm.register_movie.rules'|trans }} {{ "now"|date("Y") }}</strong>

            <div class="block-01-ms texte-01">
                {{ registerProcedure.regulationDetailsText|raw }}
            </div>
        </div> <!-- fin de all-contain block-01-xs padding-top -->

        <div class="border-top border-bottom block-button-bottom">
            <div class="block-01-ms">
                <div class="align-flex">
                    <a href="{% path registerProcedure.translatable.regulationDetailsFile|trans_fallback('file'), 'reference' %}" class="button button-half"><i class="icon icon_telecharger"></i>{{ 'ccm.register_movie.preselection_rules'|trans }}</a>
                    <a href="{{ registerProcedure.regulationDetailsButtonUrl }}" {% if fdc_court_metrage_domain not in registerProcedure.regulationDetailsButtonUrl %}target="_blank"{% endif %} class="button button-half">{{ registerProcedure.regulationDetailsButtonLabel }}</a>
                </div>
            </div>
        </div>
    </section>

    {% include "FDCCourtMetrageBundle:Shared:breadcrumb.html.twig" with
    {"breadcrumb":
        [
        {
            "name" : 'breadcrumb.home'|trans,
            "url"  : path('fdc_ccm_homepage')
        },
        {
            "name" : 'breadcrumb.participate'|trans,
            "url"  : path('fdc_court_metrage_register_movie')
        },
        {
            "name" : registerProcedure.name,
            "url"  : ''
        }
        ]
    }
%}
{% endblock %}
