{% trans_default_domain 'FDCEventBundle' %}
{% set searchClass = 'artist' %}
{% extends 'FDCEventBundle:Search:base.html.twig' %}
{% block content %}
    {% for artist in items %}
        <div class="person big">
            <a href="{{ path('fdc_event_artist_get', {'slug': artist.slug }) }}">
                <div class="image">
                    {% set artistImage = search_person_media(artist, app.request.locale)|first %}
                    {% if artistImage %}
                        <img width="170" height="231" src="{% path artistImage.file, 'search' %}" alt="{{ artist.fullName }}" data-object-fit="cover"/>
                    {% else %}
                        <img width="170" height="231" src="{{ asset('bundles/fdcevent/img/jurys/member.jpg') }}"
                             alt="{{ artist.fullName }}"
                             data-object-fit="cover">
                    {% endif %}
                </div>
            </a>

            <div class="info">
                <div class="vCenter">
                    <div class="vCenterKid">
                        <h2>
                            {% include 'FDCEventBundle:Movie:widgets/check_asian_name.html.twig' with {'person': artist} %}
                        </h2>
                        {% set profession = artist|trans_fallback('profession') %}
                        {% if profession %}
                            <span class="category">
                                {{ artist|profession_gender('profession') }}
                            </span>
                        {% endif %}
                        <span class="country">{{ artist.nationality|trans_fallback('name') }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}