<article class="{{ article.type }}" data-format="article" data-theme="{{ article.category.slug }}">
    <div class="image">
        <div class="image-wrapper">
            <img src="{{ article.image.path }}" alt="" />
        </div>
        <a href="{{ path('fdc_press_news_get', {'slug': article.slug}) }}" class="linkImage"></a>
        <span class="picto"></span>
    </div>
    <div class="info">
        <a href="#" class="category">{{ article.category.title }}</a>
        <span class="date">{{ article.createdAt|date('d.m.y') }}</span> . <span class="hour">{{ article.createdAt|date('H:i') }}</span>
        <h2>
            <a href="{{ path('fdc_press_news_get', {'slug': article.slug}) }}">
                {{ article.title }}
            </a>
        </h2>
    </div>
</article>