{% trans_default_domain 'FDCPressBundle' %}
{% set articleType = "article" %}
{% if class(article) starts with "I" %}
    {% set articleType = "communique" %}
{% endif %}
{% if class(article) == "StatementArticle" or class(article) == "InfoArticle" %}
    {% set trans = article.header.findTranslationByLocale(app.request.locale) %}
    {% if trans is null or trans.file is null %}
        {% set trans = article.header.findTranslationByLocale('fr') %}
    {% endif %}
    {% set file = trans.file %}
    {% set newsFormat = "article" %}
{% elseif class(article) == "StatementAudio" or class(article) == "InfoAudio" %}
    {% set trans = article.audio.image.findTranslationByLocale(app.request.locale) %}
    {% if trans is null or trans.file is null %}
        {% set trans = article.audio.findTranslationByLocale('fr') %}
    {% endif %}
    {% set file = trans.file %}
    {% set newsFormat = "audio" %}
{% elseif class(article) == "StatementVideo" or class(article) == "InfoVideo" %}
    {% set trans = article.video.findTranslationByLocale(app.request.locale) %}
    {% if trans is null or trans.file is null %}
        {% set trans = article.video.findTranslationByLocale('fr') %}
    {% endif %}
    {% set file = trans.file %}
    {% set newsFormat = "video" %}
{% elseif class(article) == "StatementImage" or class(article) == "InfoImage" %}
    {% set file = "" %}
    {% for gallery in article.gallery.medias %}
        {% if loop.first %}
            {% set trans = gallery.media.findTranslationByLocale(app.request.locale) %}
            {% if trans is null or trans.file is null %}
                {% set trans = gallery.media.file.findTranslationByLocale('fr') %}
            {% endif %}
            {% set file = trans.file %}
        {% endif %}
    {% endfor %}
    {% set newsFormat = "image" %}
{% endif %}
<div class="item all {{ articleType }} {{ article.theme.slug }}">
    <article class="article">
        <div class="img">
            <span class="picto">
                {% if class(article) matches '{^Statement*}' %}
                    <i class="icon icon_communique-presse"></i>
                {% else %}
                    <i class="icon icon_article"></i>
                {% endif %}
            </span>
            <a href="{{ path('fdc_press_news_get', {'format': article.newsFormat, 'slug': article|trans_fallback('slug'), 'type': articleType }) }}">
                {% thumbnail file, 'big' with {'alt': article|trans_fallback('title') } %}
            </a>
        </div>
        <div class="info">
            <a href="#" class="category">{{ article.theme }}</a>
            <span class="date">{{ article.createdAt|date('d.m.y') }}</span> . <span class="hour">{{ article.createdAt|date('H:i') }}</span>
            <h3>
                <a href="{{ path('fdc_press_news_get', {'format': article.newsFormat, 'slug': article|trans_fallback('slug'), 'type': articleType }) }}">
                    {{ article|trans_fallback('title')}}
                </a>
            </h3>
        </div>
    </article>
</div>