{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% trans_default_domain 'BaseAdminBundle' %}

{% block content %}
    <h3>{{ 'settings.fdc'|trans }}</h3>
    {{ form_start(formFDCYear) }}
    {{ form_errors(formFDCYear) }}

    {{ form_row(formFDCYear.festival) }}
    {{ form_row(formFDCYear.save) }}
    {{ form_end(formFDCYear) }}

    <h3>{{ 'settings.fdc_api'|trans }}</h3>
    {{ form_start(formFDCApiYear) }}
    {{ form_errors(formFDCApiYear) }}

    {{ form_row(formFDCApiYear.festival) }}
    {{ form_row(formFDCApiYear.save) }}
    {{ form_end(formFDCApiYear) }}

    <h3>{{ 'settings.fdc_press_password'|trans }}</h3>

    {{ form_start(formPressPassword) }}
    <div>
        {{ form_errors(formPressPassword.plainPassword.first) }}
        {{ form_errors(formPressPassword.plainPassword.second) }}
    </div>
    <div>
        {{ form_label(formPressPassword.plainPassword.first) }}
        {{ form_widget(formPressPassword.plainPassword.first) }}
        {{ form_label(formPressPassword.plainPassword.second) }}
        {{ form_widget(formPressPassword.plainPassword.second) }}
    </div>

    {{ form_row(formPressPassword.save) }}

    {{ form_end(formPressPassword) }}


{% endblock %}