{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% trans_default_domain 'BaseAdminBundle' %}

{% block content %}
    <h3>{{ 'settings.fdc'|trans }}</h3>
    {{ form_start(formFDCYear) }}
        {{ form_errors(formFDCYear) }}

        {{ form_row(formFDCYear.festival) }}
        {{ form_row(formFDCYear.save) }}
    {{ form_end(formFDCYear) }}

    <h3>{{ 'settings.fdc_api'|trans }}</h3>
    {{ form_start(formFDCApiYear) }}
    {{ form_errors(formFDCApiYear) }}

    {{ form_row(formFDCApiYear.festival) }}
    {{ form_row(formFDCApiYear.save) }}
    {{ form_end(formFDCApiYear) }}
{% endblock %}