<ul class="a2lix_translationsLocales nav nav-tabs">
    {% for translationsFields in form %}
        {% set locale = translationsFields.vars.name %}
        {% if is_granted('ROLE_TRANSLATOR_FR') %}
            {% set currentLocale = 'fr' %}
        {% elseif is_granted('ROLE_TRANSLATOR_EN') %}
            {% set currentLocale = 'en' %}
        {% elseif is_granted('ROLE_TRANSLATOR_ES') %}
            {% set currentLocale = 'es' %}
        {% elseif is_granted('ROLE_TRANSLATOR_ZH') %}
            {% set currentLocale = 'zh' %}
        {% endif %}
        {% if is_granted('ROLE_TRANSLATE_' ~ locale|upper) %}
        <li data-locale="{{ locale }}" {% if currentLocale == locale %}class="nav-tab-active active"{% endif %}>
            {% if app.request.get('code') is not null %}
            <a {% if translationsFields.vars.value is not null and translationsFields.vars.value.status is defined %}class="{{ translationsFields.vars.value.status|translate_status_to_admin_class }}"{% endif %} href="#" data-toggle="tab" data-target=".popin-a2lix-{{ locale }}">
                {{ ('lang.' ~ locale)|trans({}, 'BaseAdminBundle') }}<br/>
                {% if form.vars.default_locale == locale %}[MASTER]{% else %}<br/>{% endif %}
            </a>
            {% else %}
            <a {% if translationsFields.vars.value is not null and translationsFields.vars.value.status is defined %}class="{{ translationsFields.vars.value.status|translate_status_to_admin_class }}"{% endif %} href="#" data-toggle="tab" data-target=".main-a2lix-{{ locale }}">
                {{ ('lang.' ~ locale)|trans({}, 'BaseAdminBundle') }}<br/>
                {% if form.vars.default_locale == locale %}[MASTER]{% else %}<br/>{% endif %}
            </a>
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
</ul>

<script type="text/javascript">

</script>