{% trans_default_domain 'BaseAdminBundle' %}
{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    {%
        if  is_granted('ROLE_TRANSLATOR') or
            is_granted('ROLE_TRANSLATOR_MASTER')
    %}
        <form action="{{ path('sonata_admin_dashboard') }}" method="get" {{ form_enctype(form) }}>
            {% if is_granted('ROLE_TRANSLATOR_MASTER') %}

                <div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        {{ form_errors(form.status) }}
                        {{ form_label(form.status) }}
                        {{ form_widget(form.status) }}
                    </div>
                </div>
            {% endif %}
            <div id="dashboard-translator-statuses-preview" class="bg-white">
                <header>{{ statusName|trans }}</header>
                <div id="dashboard-translator-statuses-preview-container" class="row">
                    {% for name, count in counts %}
                        <div class="col-md-2">
                            <strong>{{ count }}</strong><br/>
                            {{ ('dashboard.translator.object.' ~ name)|trans }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="dashboard-search" class="bg-white">
                <header>Rechercher</header>
                <div id="dashboard-search-container">
                    <div class="row">
                        <div class="col-md-3">
                            {{ form_errors(form.type) }}
                            {{ form_label(form.type) }}
                            {{ form_widget(form.type) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_errors(form.title) }}
                            {{ form_label(form.title) }}
                            {{ form_widget(form.title) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_errors(form.id) }}
                            {{ form_label(form.id) }}
                            {{ form_widget(form.id) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_errors(form.priorityStatus) }}
                            {{ form_label(form.priorityStatus) }}
                            {{ form_widget(form.priorityStatus) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            {% if (is_granted('ROLE_TRANSLATOR')) %}
                                {{ form_errors(form.translationStatus) }}
                                {{ form_widget(form.translationStatus) }}
                                {{ form_label(form.translationStatus) }}
                            {% endif %}
                            {{ form_rest(form) }}
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="pull-right btn btn-primary">
                                <i class="fa fa-search"></i>
                                Rechercher
                            </button>
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-default">
                                Effacer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        {% if entitiesAll|length > 0 %}
            {% for type, entities in entitiesAll %}
                {% if entities|length > 0 %}
                    {% include 'BaseAdminBundle:Block:search/' ~ type ~ '.html.twig' %}
                {% endif %}
            {% endfor %}
        {% elseif params.type is defined %}
            {% include 'BaseAdminBundle:Block:search/' ~ params.type ~ '.html.twig' with {search: true, slice: true} %}
        {% endif %}
    {% endif %}
{% endblock %}