{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressBundle::layout.html.twig' %}

{% block body %}
{% if is_granted("ROLE_FDC_PRESS_REPORTER") %}
<div id="main" class="press press-home calendar-open conected">
{% else %}
<div id="main" class="press press-home calendar-open lock">
{% endif %}

    {% include 'FDCPressBundle:Global:components/headerPress.html.twig' %}

    {{ render(controller('FDCPressBundle:Security:login')) }}

    <div class="wrapper">

        {% include 'FDCPressBundle:News:components/calendar.html.twig' %}

        <div class="communiques">
            <div class="chap">
                <h3 class="title-press">{{ 'press.agenda.title.communiqueetinfos'|trans }}</h3>
                <p class="link">
                    <a href="press-actu.php">
                        <i class="icon icon_fleche-right"></i>
                        {{ 'press.home.btn.touslescommuniquesetinfos'|trans }}
                    </a>
                </p>
            </div>
            <div class="grid-container">
                <div class="grid-wrapper">
                    {#{% for article in homeNews %}#}
                        {#{% include 'FDCEventBundle:News:widgets/article.html.twig' %}#}
                    {#{% endfor %}#}
                </div>
            </div>
        </div>

        <div class="programmation">
            <div class="chap">
                <h3 class="title-press">
                    {{ 'press.home.title.programmedu'|trans }}
                    <span id="dateProgram">{{ "now"|localizeddate('long', 'none', app.request.locale)  }}</span>
                </h3>
                <p class="link">
                    <a href="programmation.php">
                        <i class="icon icon_fleche-right"></i>
                        {{ 'press.home.btn.toutelaprogrammation'|trans }}
                    </a>
                </p>
            </div>
            <div id="calendar-programmation">
                <div id="timeline">
                    {% for day in schedulingDays %}
                        <a href="#" class="" data-date="{{ day.date|date('Y-m-d') }}">{{ day.date|localizeddate('full', 'none', app.request.locale)|truncate(3, false, "") }}<span class="day">{{ day.date|date('d') }}</span></a>
                    {% endfor %}
                </div>
                <div class="calendar">
                    <div class="timeCol">
                        {% set currentHour = "now"|date('H') %}
                        <div class="empty"></div>
                        <div class="time">{{ currentHour }}</div>
                        <div class="time">{{ currentHour + 1}}</div>
                        <div class="time">{{ currentHour + 2}}</div>
                        <div class="time">{{ currentHour + 3}}</div>
                        <div class="time">{{ currentHour + 4}}</div>
                        <div class="time">{{ currentHour + 5}}</div>
                    </div>
                    <div class="venues">
                        <a href="#" class="nav prev"></a>
                        <a href="#" class="nav next"></a>
                        <div class="v-wrapper">
                            <div class="venue">
                                <div class="v-head">{{ 'press.home.salle.grandtheatrelumière'|trans }}</div>
                                <div class="v-container">
                                    {% if schedulingEvents.place.grandTheatre is defined %}
                                        {% for event in schedulingEvents.place.grandTheatre.events %}
                                            {% include 'FDCEventBundle:Agenda:widgets/event.html.twig' %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="venue">
                                <div class="v-head">{{ 'press.home.salle.salledebussy'|trans }}</div>
                                <div class="v-container">
                                    {% if schedulingEvents.place.salleDebussy is defined %}
                                        {% for event in schedulingEvents.place.salleDebussy.events %}
                                            {% include 'FDCEventBundle:Agenda:widgets/event.html.twig' %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="venue">
                                <div class="v-head">{{ 'press.home.salle.salledu60e'|trans }}</div>
                                <div class="v-container">
                                    {% if schedulingEvents.place.salle60 is defined %}
                                        {% for event in schedulingEvents.place.salle60.events %}
                                            {% include 'FDCEventBundle:Agenda:widgets/event.html.twig' %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="venue">
                                <div class="v-head">{{ 'press.home.salle.sallebunuel'|trans }}</div>
                                <div class="v-container">
                                    {% if schedulingEvents.place.salleBunuel is defined %}
                                        {% for event in schedulingEvents.place.salleBunuel.events %}
                                            {% include 'FDCEventBundle:Agenda:widgets/event.html.twig' %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="venue">
                                <div class="v-head">{{ 'press.home.salle.sallebunuel'|trans }}</div>
                                <div class="v-container">
                                    {% if schedulingEvents.place.salleBunuel is defined %}
                                        {% for event in schedulingEvents.place.salleBunuel.events %}
                                            {% include 'FDCEventBundle:Agenda:widgets/event.html.twig' %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="venue">
                                <div class="v-head">{{ 'press.home.salle.sallebunuel'|trans }}</div>
                                <div class="v-container">
                                    {% if schedulingEvents.place.salleBunuel is defined %}
                                        {% for event in schedulingEvents.place.salleBunuel.events %}
                                            {% include 'FDCEventBundle:Agenda:widgets/event.html.twig' %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="venue">
                                <div class="v-head">{{ 'press.home.salle.sallebunuel'|trans }}</div>
                                <div class="v-container">
                                    {% if schedulingEvents.place.salleBunuel is defined %}
                                        {% for event in schedulingEvents.place.salleBunuel.events %}
                                            {% include 'FDCEventBundle:Agenda:widgets/event.html.twig' %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mediatheque">
            <div class="chap">
                <h3 class="title-press">{{ 'press.home.title.mediatheque'|trans }}</h3>
                <p class="link">
                    <a href="press-media.php">
                        <i class="icon icon_fleche-right"></i>
                        {{ 'press.home.btn.toutelamediatheque'|trans }}
                    </a>
                </p>
            </div>
            <div class="table">
                {% for media in pressMedias %}
                    <div class="line">
                        <div class="container">
                            <div class="info">
                                <img src="{{ media.image.path }}" alt="" />
                                <div class="txt">
                                    <div class="vCenter">
                                        <div class="vCenterKid">
                                            <p>{{ media.title }}
                                                <a href="#" class="director">{{ media.author.fullName }}</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media folder">
                                <span>{{ 'press.home.label.dossiersdepresse'|trans }}</span> ({{ media.folder }})
                            </div>
                            <div class="media trailer"><span>{{ 'press.home.label.bandeannonces'|trans }}</span> ({{ media.trailer }})</div>
                            <div class="media photo"><span>{{ 'press.home.label.photos'|trans }}</span> ({{ media.photo }})</div>
                            <a class="button" href="press-media.php">
                                {{ 'press.home.btn.decouvrir'|trans }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="download">
            <div class="chap">
                <h3 class="title-press">{{ 'press.home.title.atelecharger'|trans }}</h3>
                <p class="link">
                    <a href="press-telecharger.php">
                        <i class="icon icon_fleche-right"></i>
                        {{ 'press.home.btn.touslestelechargements'|trans }}
                    </a>
                </p>
            </div>
        </div>
        <div class="affiche">
            <div class="container">
                <h3 class="title-press">{{ 'press.home.title.afficheofficielle'|trans }}</h3>
                {% for download in pressFestivalDownloads %}
                        <div class="portrait">
                            <img src="{{ asset('bundles/fdcevent/img/press/press-' ~ download.format ~ '.jpg') }}" alt="" />
                            <span class="caption">{{ download.caption }}</span>
                            <p>Format {{ download.format }}</p>
                            <div class="buttons">
                                {% for resolution in download.resolution %}
                                    <a href="#" class="button">{{ resolution.size }}</a>
                                {% endfor %}
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
        <div class="section participate">
            <div class="img"></div>
            <div class="txt vCenter">
                <div class="vCenterKid">
                    <h2 class="title">{{ 'press.home.title.participer'|trans }}</h2>
                    <p class="link">
                        <a href="#">
                            <i class="icon icon_fleche-right"></i>
                            {{ 'press.home.btn.acceder'|trans }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="section accrediter">
            <div class="img"></div>
            <div class="txt vCenter">
                <div class="vCenterKid">
                    <h2 class="title">{{ 'press.home.title.saccrediter'|trans }}</h2>
                    <p class="link">
                        <a href="#">
                            <i class="icon icon_fleche-right"></i>
                            {{ 'press.home.btn.acceder'|trans }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="stats">
            <div class="chap">
                <h3 class="title-press">{{ 'press.home.title.statistiques'|trans }}</h3>
            </div>
            <div class="container">
                <h3>{{ pressStats.title }}</h3>
                <p>
                    {{ pressStats.description }}
                </p>
                <p>
                    <img src="{{ pressStats.image.path }}" alt="" />
                </p>
            </div>
        </div>
    </div>

    {{ render(controller('FDCPressBundle:Global:contact')) }}

</div>

{% include 'FDCPressBundle:Global:components/popinPress.html.twig' %}

{% include 'FDCPressBundle:Global:components/popinDownload.html.twig' %}

{% endblock %}