{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressBundle::layout.html.twig' %}

{% block body %}
<div id="main" class="press press-home calendar-open {{ (app.user is not empty and is_granted("ROLE_FDC_PRESS_REPORTER")) ? 'conected' : 'lock' }}">

    <div class="header-press">
        <div class="head">
            <span><i class="icon icon_espace-presse"></i>{{ 'press.header.label.espacepresse'|trans }}</span>
        </div>
        <div class="container">
            <h2>{{ 'press.header.title.accueil'|trans }}</h2>
            <p>
            <span class="vCenter">
              <span class="vCenterKid">
                  {{ 'press.header.subtitle.lespacepressemetegalementaladisposition'|trans|raw }}
              </span>
            </span>
            </p>
        </div>
    </div>

    {% include 'FDCPressBundle:Global:components/login.html.twig' %}

    <div class="wrapper">

        {% include 'FDCPressBundle:Agenda:components/calendar.html.twig' %}

        {% for section in pressHome.section %}
        {% if section.class == "communique" %}
        {% if pressHome.sectionStatementInfoDisplay == false %}
            <div class="communiques">
                <div class="chap">
                    <h3 class="title-press">{{ 'press.agenda.title.communiqueetinfos'|trans }}</h3>
                    <p class="link">
                        <a href="{{ path('fdc_press_news_list') }}">
                            <i class="icon icon_fleche-right"></i>
                            {{ 'press.home.btn.touslescommuniquesetinfos'|trans }}
                        </a>
                    </p>
                </div>
                <div class="grid-container">
                    <div class="grid-wrapper">
                        {% for article in homeNews %}
                            {% include 'FDCPressBundle:News:widgets/article.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% elseif section.class == "programmation" %}
            <div class="programmation">
                <div class="chap">
                    <h3 class="title-press">
                        {{ 'press.home.title.programmedu'|trans }}
                        <span id="dateProgram">{{ date|localizeddate('long', 'none', app.request.locale) }}</span>
                    </h3>
                    <p class="link">
                        <a href="{{ path('fdc_press_agenda_scheduling') }}">
                            <i class="icon icon_fleche-right"></i>
                            {{ 'press.home.btn.toutelaprogrammation'|trans }}
                        </a>
                    </p>
                </div>
                <div id="calendar-programmation">
                    <div id="timeline">
                        {% set festivalStarted = 0 %}
                        {% for day in schedulingDays %}
                            <a href="#" class="ajaxi {% if day == date %}active{% endif %}" data-date="{{ day|date('Y-m-d') }}">
                                {{ day|localizeddate('full', 'none', app.request.locale)|truncate(3, false, "") }}
                                <span class="day">{{ day|date('d') }}</span>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="calendar">
                        <div class="timeCol">
                            <div class="empty"></div>
                            <div class="time">{{ agenda_leftbar_translate_hour(8) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(9) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(10) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(11) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(12) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(13) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(14) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(15) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(16) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(17) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(18) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(19) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(20) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(21) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(22) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(23) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(0) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(1) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(2) }}</div>
                            <div class="time">{{ agenda_leftbar_translate_hour(3) }}</div>
                        </div>
                        <div class="venues">
                            <a href="#" class="nav prev"><i class="icon icon_flecheGauche"></i></a>
                            <a href="#" class="nav next"><i class="icon icon_fleche-right"></i></a>
                            <div class="v-wrapper">
                                {%- for room in rooms -%}
                                    <div class="venue">
                                        <div class="v-head">
                                            {%- set trans_slug = 'programmation.salle.' ~ room.name|remove_accents|sonata_slugify -%}
                                            {%- set trans = trans_slug|trans -%}
                                            {%- if trans_slug != trans -%}
                                                {{- trans -}}
                                            {%- else -%}
                                                {{- room.name|upper -}}
                                            {%- endif -%}
                                        </div>
                                        <div class="v-container">
                                            {%- for event in projections[room.id] -%}
                                                {% include 'FDCEventBundle:Agenda:widgets/event.html.twig' %}
                                            {%- endfor -%}
                                        </div>
                                    </div>
                                {%- endfor -%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% elseif section.class == "media" %}
        {% if pressHome.sectionMediaDisplay == false %}
            <div class="mediatheque">
                <div class="chap">
                    <h3 class="title-press">{{ 'press.home.title.mediatheque'|trans }}</h3>
                    <p class="link">
                        <a href="{{ path('fdc_press_media_main', { 'sectionId': 3 }) }}">
                            <i class="icon icon_fleche-right"></i>
                            {{ 'press.home.btn.toutelamediatheque'|trans }}
                        </a>
                    </p>
                </div>
                <div class="table">
                    {% for media in pressHome.homeMedia %}
                        {% if media.film is not empty %}
                            <div class="line">
                                <div class="container">
                                    <div class="info">
                                        {% include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({
                                        film: media.film,
                                        film_format: 'tiny',
                                        film_attrs: {
                                        'class': "film_image",
                                        'alt': media.film.titleVO
                                        },
                                        film_image_default: 'bundles/fdcevent/img/palmares/film_w46.jpg',
                                        film_image_default_attrs: 'class="default_image"'
                                        }) %}
                                        <div class="txt">
                                            <div class="vCenter">
                                                <div class="vCenterKid">
                                                    <p>
                                                        {{- media.film.titleVO -}}
                                                        {%- for director in media.film.getDirectors() -%}
                                                            <a class="director"
                                                               href="{{ path('fdc_event_artist_get', {slug: director.person.slug }) }}">{{- director.person.fullName -}}</a>
                                                        {%- endfor -%}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% set folderCount = 0 %}
                                    {% set trailerCount = 0 %}
                                    {% set photoCount = 0 %}

                                    {% for video in media.film.associatedMediaVideos %}
                                        {% if video.mediaVideo.displayedTrailer == 1 %}
                                            {% if video.mediaVideo|is_available_video(true, 'fr') or video.mediaVideo|is_available_video(true, 'en') %}
                                                {% set trailerCount = trailerCount + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% for media in media.film.medias %}
                                        {% if media.type == constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PRESS_PDF') %}
                                            {% set folderCount = folderCount + 1 %}
                                        {% endif %}

                                        {% if media.type == constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_POSTER') or
                                        media.type == constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_MAIN') or
                                        media.type == constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_FILM')
                                        %}
                                            {% set photoCount = photoCount + 1 %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if folderCount != 0 %}
                                    <div class="media folder">
                                            <span>{{ 'press.home.label.dossiersdepresse'|trans }}</span> ({{ folderCount }})
                                    </div>
                                    {% endif %}
                                    {% if trailerCount != 0 %}
                                    <div class="media trailer">
                                            <span>{{ 'press.home.label.bandeannonces'|trans }}</span> ({{ trailerCount }})
                                    </div>
                                    {% endif %}
                                    {% if photoCount != 0 %}
                                    <div class="media photo">
                                            <span>{{ 'press.home.label.photos'|trans }}</span> ({{ photoCount }})
                                    </div>
                                     {% endif %}
                                    <a class="button"
                                       href="{{ path('fdc_press_media_main', {'sectionId': media.film.selectionSection.id } ) }}">
                                        {{ 'press.home.btn.decouvrir'|trans }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% elseif section.class == "download" %}
        {%- if pressHome.sectionDownloadDisplay == false -%}
            <div class="download">
                <div class="chap">
                    <h3 class="title-press">{{ 'press.home.title.atelecharger'|trans }}</h3>
                    <p class="link">
                        <a href="{{ path('fdc_press_media_download') }}">
                            <i class="icon icon_fleche-right"></i>
                            {{ 'press.home.btn.touslestelechargements'|trans }}
                        </a>
                    </p>
                </div>
            </div>
            {%- for section in pressHome.homeDownload -%}
                {% if section.download.widgets is defined %}
                    {% set isSignature = 0 %}
                    {% for widget in section.download.widgets %}
                        {% if class(widget) == "PressDownloadSectionWidgetArchive" %}
                            {% set isSignature = 1 %}
                        {% else %}
                            {% set isSignature = 0 %}
                        {% endif %}
                    {% endfor %}
                    {%- if isSignature is defined and isSignature == 1 -%}
                        <div class="downloading-press"><div class="signature block">
                    {%- else -%}
                        <div class="affiche">
                    {%- endif -%}
                    <div class="container">
                        <h3 class="title-press">{{ section.download|trans_fallback('title') }}</h3>
                        {% if section.download.widgets is defined %}
                            {% for key,widget in section.download.widgets %}
                                {% if class(widget) == "PressDownloadSectionWidgetDocument" %}
                                    {% include 'FDCPressBundle:Media:widgets/document.html.twig' %}
                                {% elseif class(widget) == "PressDownloadSectionWidgetArchive" %}
                                    {% include 'FDCPressBundle:Media:widgets/archive.html.twig' %}
                                {% elseif class(widget) == "PressDownloadSectionWidgetFile" %}
                                    {% include 'FDCPressBundle:Media:widgets/file.html.twig' %}
                                {% elseif class(widget) == "PressDownloadSectionWidgetPhoto" %}
                                    {% include 'FDCPressBundle:Media:widgets/photo.html.twig' %}
                                {% elseif class(widget) == "PressDownloadSectionWidgetVideo" %}
                                    {% include 'FDCPressBundle:Media:widgets/video.html.twig' %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    {%- if isSignature is defined and isSignature == 1 -%}
                        </div></div>
                    {%- else -%}
                        </div>
                    {%- endif -%}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% elseif section.class == "push1" %}
                {% if pressHome.pushMainImage is not null %}
                    {% set trans = pressHome.pushMainImage.findTranslationByLocale(app.request.locale) %}
                    {% if trans is null or trans.file is null %}
                        {% set trans = pressHome.pushMainImage.findTranslationByLocale('fr') %}
                    {% endif %}
                    <div class="section participate">
                        <div class="img" style="background-image: url({% path trans.file, '1280x808' %})"></div>
                        <div class="txt vCenter">
                            <div class="vCenterKid">
                                <h2 class="title">{{ pressHome|trans_fallback('pushMainTitle') }}</h2>
                                <p class="link">
                                    <a href="{{ pressHome|trans_fallback('pushMainLink') }}">
                                        <i class="icon icon_fleche-right"></i>
                                        {{ 'press.home.btn.acceder'|trans }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% elseif section.class == "push2" %}
                {% if pressHome.pushSecondaryImage is not null %}
                    {% set trans = pressHome.pushSecondaryImage.findTranslationByLocale(app.request.locale) %}
                    {% if trans is null or trans.file is null %}
                        {% set trans = pressHome.pushSecondaryImage.findTranslationByLocale('fr') %}
                    {% endif %}
                    <div class="section accrediter">
                        <div class="img" style="background-image: url({% path trans.file, '1280x808' %})"></div>
                        <div class="txt vCenter">
                            <div class="vCenterKid">
                                <h2 class="title">{{ pressHome|trans_fallback('pushSecondaryTitle') }}</h2>
                                <p class="link">
                                    <a href="{{ pressHome|trans_fallback('pushSecondaryLink') }}">
                                        <i class="icon icon_fleche-right"></i>
                                        {{ 'press.home.btn.acceder'|trans }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% elseif section.class == "statistics" %}
                {% if pressHome.sectionStatisticDisplay == false %}
                    <div class="stats">
                        <div class="chap">
                            <h3 class="title-press">{{ pressHome|trans_fallback('sectionStatisticTitle') }}</h3>
                        </div>
                        <div class="container">
                            <h3>{{ pressHome|trans_fallback('sectionStatisticSubTitle') }}</h3>
                            <p>
                                {{ pressHome|trans_fallback('sectionStatisticDescription')|raw }}
                            </p>
                            <p>
                                {% if pressHome.statImage %}
                                    {% set img = pressHome.statImage %}
                                    {% set trans = img.findTranslationByLocale(app.request.locale) %}
                                    {% if trans is null or trans.file is null %}
                                        {% set trans = img.findTranslationByLocale('fr') %}
                                    {% endif %}
                                    {% set file = trans.file %}
                                    {% thumbnail file, 'reference' with {'alt': img|trans_fallback('alt'), 'height': 'auto' } %}
                                {% endif %}
                            </p>
                            <p>
                                {% if pressHome.statImage2 %}
                                    {% set img = pressHome.statImage2 %}
                                    {% set trans = img.findTranslationByLocale(app.request.locale) %}
                                    {% if trans is null or trans.file is null %}
                                        {% set trans = img.findTranslationByLocale('fr') %}
                                    {% endif %}
                                    {% set file = trans.file %}
                                    {% thumbnail file, 'reference' with {'alt': img|trans_fallback('alt'), 'height': 'auto' } %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% endfor %}
        </div>
        {{ render(controller('FDCPressBundle:Global:contact')) }}
    </div>

    {% include 'FDCPressBundle:Global:components/popinPress.html.twig' %}
{% endblock %}