{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressBundle::layout.html.twig' %}

{% block body %}
<div id="main" class="single-article loading ">
    <span id="addtext">{{ 'article.text.ajouteramaselection'|trans }}</span>
    <div id="canvasloader" class="canvasloader"></div>
    <div class="content-article">
        <div class="container">

            <a href="article2.php" class="nav prev ajax"><i class="icon icon_flecheGauche"></i></a>
            <a href="article3.php" class="nav next ajax"><i class="icon icon_fleche-right"></i></a>

            <div class="info">
                <span class="category">{{ news.theme|trans_fallback('name') }}</span>
                <span class="date">{{ news.createdAt|date('d.m.y') }}</span> . <span class="hour">{{ news.createdAt|date('H:i') }}</span>
                <span class="update">{{ 'article.text.miseajour'|trans }} :</span><span class="date">{{ news.updatedAt|date('d.m.y') }}</span> . <span class="hour">{{ news.updatedAt|date('H:i') }}</span>
            </div>
            <h2 class="title-article">{{ news|trans_fallback('title') }}</h2>
            <div class="buttons">
                <a id="share-article" href="#" class="button">{{ 'article.btn.partager'|trans }}</a>
                <a href="#" class="button print">{{ 'article.btn.imprimer'|trans }}</a>
            </div>

            {% if class(news) == "StatementArticle" or class(news) == "InfoArticle" %}
                {% include 'FDCEventBundle:News:widgets/single-photo.html.twig' with {'photo' : news.header } %}
            {% elseif class(news) == "StatementVideo" or class(news) == "InfoVideo" %}
                {% include 'FDCEventBundle:News:widgets/single-video.html.twig' %}
            {% elseif class(news) == "StatementAudio" or class(news) == "InfoAudio" %}
                {% include 'FDCEventBundle:News:widgets/single-audio.html.twig' %}
            {% elseif class(news) == "StatementImage" or class(news) == "InfoImage" %}
                {% if news.gallery.medias|length == 2 %}
                    {% include 'FDCEventBundle:News:widgets/dual-photo.html.twig' with {'widget': news} %}
                {% else %}
                    {% include 'FDCEventBundle:News:widgets/slideshow.html.twig' with {'widget': news} %}
                {% endif %}
            {% endif %}

            <div class="chapeau">{{ news|trans_fallback('introduction')|raw }}</div>

            {% for widget in news.widgets %}

                {% if class(news) starts with 'S' %}
                    {% if widget is statement_widget_image and widget.gallery.medias|length == 1 %}
                        <!-- SINGLE PHOTO -->
                        {% include 'FDCEventBundle:News:widgets/single-photo.html.twig' %}
                    {% elseif widget is statement_widget_image and widget.gallery.medias|length == 2 %}
                        <!-- SLIDESHOW -->
                        {% include 'FDCEventBundle:News:widgets/dual-photo.html.twig' %}
                    {% elseif widget is statement_widget_image and widget.gallery.medias|length > 2 %}
                        <!-- SLIDESHOW -->
                        {% include 'FDCEventBundle:News:widgets/slideshow.html.twig' %}
                    {% elseif widget is statement_widget_text %}
                        <!-- TEXT -->
                        {% include 'FDCEventBundle:News:widgets/text.html.twig' %}
                    {% elseif  widget is statement_widget_video or widget is news_widget_video_youtube %}
                        <!-- VIDEO -->
                        {% include 'FDCEventBundle:News:widgets/video.html.twig' %}
                    {% elseif widget is statement_widget_audio %}
                        <!-- AUDIO -->
                        {% if widget.title is defined %}
                            <h2 class="title">{{ widget.title }}</h2>
                        {% endif %}
                        {% include 'FDCEventBundle:News:widgets/audio.html.twig' %}
                    {% elseif widget is statement_widget_quote %}
                        <!-- QUOTE -->
                        {% include 'FDCEventBundle:News:widgets/quote.html.twig' %}
                    {% endif %}
                {% else %}
                    {% if widget is info_widget_image and widget.gallery.medias|length == 1 %}
                        <!-- SINGLE PHOTO -->
                        {% include 'FDCEventBundle:News:widgets/single-photo.html.twig' %}
                    {% elseif widget is info_widget_image and widget.gallery.medias|length > 1 %}
                        <!-- SLIDESHOW -->
                        {% include 'FDCEventBundle:News:widgets/slideshow.html.twig' %}
                    {% elseif widget is info_widget_text %}
                        <!-- TEXT -->
                        {% include 'FDCEventBundle:News:widgets/text.html.twig' %}
                    {% elseif  widget is info_widget_video or widget is news_widget_video_youtube %}
                        <!-- VIDEO -->
                        {% include 'FDCEventBundle:News:widgets/video.html.twig' %}
                    {% elseif widget is info_widget_audio %}
                        <!-- AUDIO -->
                        {% if widget.title is defined %}
                            <h2 class="title">{{ widget.title }}</h2>
                        {% endif %}
                        {% include 'FDCEventBundle:News:widgets/audio.html.twig' %}
                    {% elseif widget is info_widget_quote %}
                        <!-- QUOTE -->
                        {% include 'FDCEventBundle:News:widgets/quote.html.twig' %}
                    {% elseif widget is info_widget_image_dual_align %}
                        <!-- DUAL PHOTO -->
                        {% include 'FDCEventBundle:News:widgets/dual-photo.html.twig' %}
                    {% endif %}
                {% endif %}

            {% endfor %}

            {% if news.signature is not null %}
                <div class="author">{{ 'article.text.redigepar'|trans }} {{ news.signature }}</div>
            {% endif %}
        </div>
        <div class="share">
            <p>{{ 'article.text.partagerarticle'|trans }}</p>
            <div class="buttons square">
                <a href="#" class="button facebook"><i class="icon icon_facebook"></i></a>
                <a href="#" class="button twitter"><i class="icon icon_twitter"></i></a>
                <a href="#" class="button link"><i class="icon icon_link"></i></a>
                <a href="#" class="button email"><i class="icon icon_lettre"></i></a>
                <a href="#" class="button print"><i class="icon icon_print"></i></a>
            </div>
        </div>

        {% if associatedFilm is not null %}
            <div class="film">
                {% if associatedFilm is not null %}
                    <div class="info-film">
                        <div class="wrapper">
                            <div class="vCenter">
                                <div class="vCenterKid">
                                    <div class="poster">
                                        {% media associatedFilm|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_MAIN'))|first, 'film_poster_small' %}
                                    </div>
                                    <div class="text-container">
                                        {% if associatedFilm.selectionSection is not null %}
                                            <span class="category">
                                            {{ associatedFilm.selectionSection|trans_fallback('name') }}
                                        </span>
                                        {% endif %}
                                        <h3>
                                            <a href="#">
                                                {{ associatedFilm|trans_fallback('title') }}
                                            </a>
                                        </h3>
                                        {% for director in associatedFilm|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                                        <p class="director"><a href="{{ path('fdc_event_artist_get', {slug: director.slug }) }}">{{ director.fullName }}</a><p>
                                            {% endfor %}
                                        <p>
                                            {% for country in associatedFilm.countries %}
                                                {{ country.country|trans_fallback('name') }}
                                            {% endfor %}
                                            {% if associatedFilm.productionYear != 0 or associatedFilm.productionYear != null %}
                                                - {{ associatedFilm.productionYear }}
                                            {% endif %}
                                        </p>
                                        <p>{{ associatedFilmDuration }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if programmations is not empty %}
                    <div class="programmation-film">
                        <div class="wrapper">
                            <div class="vCenter">
                                <div class="vCenterKid">
                                    <span class="category">{{ 'article.film.label.programmation'|trans }}</span>
                                    <ul>
                                        {% for programmation in programmations %}
                                            <li>
                                                <span class="type">{{ 'article.film.text.projection'|trans }}</span>
                                                <span>{{ programmation.startsAt|date('d-m-Y') }}</span>
                                                <span>{{ programmation.startsAt|date('H') }}h</span>
                                                <span class="location">{{ programmation.room.name }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <a href="#" class="button">{{ 'article.film.btn.toutelaprojection'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="container">
            {% if focusArticles|length > 0 %}
                <div class="focus">
                    <h2 class="title">{{ 'article.film.title.focus'|trans }}</h2>
                    <div class="articles">
                        {% for article in focusArticles %}
                            {% include 'FDCPressBundle:News:widgets/inner.article.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if sameDayArticles|length > 0 %}
            <div class="same-day">
                <h2 class="title">{{ 'article.film.title.lememejour'|trans }}</h2>
                <div class="articles center">
                    {% for article in sameDayArticles %}
                        {% include 'FDCPressBundle:News:widgets/inner.article.html.twig' %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <span class="anim"></span>
</div>

<!-- POPIN MAIL SHARE ---->
{{ render(controller('FDCEventBundle:Global:shareEmail',
   {'section': news.theme|trans_fallback('name'),
    'detail': news.createdAt|date('d.m.y'),
    'title': news.title,
    'description': news|trans_fallback('introduction')|raw
   }))
}}
<!-- END POPIN MAIL SHARE -->

{% endblock %}
