{% trans_default_domain 'FDCCorporateBundle' %}

<div class="top-texts first">
    {% if 'searchsubmit' in app.request.attributes.get("_route") and result.artist.count > 5 %}<a
        href="{{ url('fdc_corporate_search_searchfilter', {'searchFilter':'artist'}|merge(app.request.query.all)) }}"
        class="see-all">Tout voir</a>{% endif %}
    <h3>{{ 'search.result.artist.count'|transchoice(result.artist.count) }}</h3>
</div>

<section class="artist">
    {% if result.artist is not empty %}
        {% for artist in result.artist.items %}
            <article class="block-poster-search">
                <div class="item">
                    <a href="{{ path('fdc_event_artist_get', {'slug': artist.slug }) }}">
                        <div class="contain-img portrait">
                            {% set artistImage = artist|person_image(true) %}
                            {% if artist.portraitImage and artist.portraitImage|trans_fallback('file') %}
                                <img src="{% path artist.portraitImage|trans_fallback('file'), 'search' %}" alt="">
                            {% elseif artistImage %}
                                {% if artist.presidentJuryImage and artist.presidentJuryImage|trans_fallback('file') %}
                                    <img src="{% path artist.presidentJuryImage|trans_fallback('file'), 'search' %}"
                                         alt="">
                                {% elseif artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                                    <img src="{% path artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first, 'search' %}"
                                         alt="">
                                {% elseif artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                                    <img src="{% path artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first, 'search' %}"
                                         alt="">
                                {% elseif class(artistImage) == 'FilmMedia' %}
                                    <img src="{% path artistImage.file, 'search' %}" alt="">
                                {% else %}
                                    <img src="{% path artistImage, 'search' %}" alt="">
                                {% endif %}
                            {% else %}
                                {% set media = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                                {% if media is empty %}
                                    {% set media = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PERSON'))|first %}
                                {% endif %}
                                {% if media is empty %}
                                    {% set photo = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                                {% endif %}

                                {% if media is not empty %}
                                    <img src="{% path media, 'search' %}" alt="">
                                {% else %}
                                    <img src="{{ asset('bundles/fdccorporate/media/images/who-staff-01.jpg') }}" alt="">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="contain-txts">
                            <span class="title-11">{{ artist.firstName }} {{ artist.lastName }}</span>
                            <span class="title-12">{{ artist|trans_fallback('profession') }}</span>
                            {% if artist.nationality %}
                                <span class="title-13">
                                    {{ artist.nationality|trans_fallback('name') }}
                                    {% if artist.nationality2 %}, {{ artist.nationality2|trans_fallback('name') }}{% endif %}
                                </span>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </article>
        {% endfor %}
    {% endif %}
</section>