{% trans_default_domain 'FDCCorporateBundle' %}

<div class="top-texts">
    {% if 'searchsubmit' in app.request.attributes.get("_route") and result.event.count > 4 %}<a href="{{ url('fdc_corporate_search_searchfilter', {'searchFilter':'info'}|merge(app.request.query.all)) }}" class="see-all">Tout voir</a>{% endif %}
    <h3>{{ 'search.result.event.count'|transchoice(result.event.count) }}</h3>
</div>

<section class="events">
    {% for event in result.event.items %}
        <article class="block-poster-search medias landscape-more">
            <div class="item event conference-press">
                <a href="{{ path('fdc_event_event_get', {'slug': event|trans_fallback('slug') }) }}">
                    <div class="contain-img landscape">
                        <img src="{% path event.header|trans_fallback('file'), '976x615' %}" alt="{{ event.header|trans_fallback('alt') }}"/>
                        <i class="picto icon icon-speacker"></i>
                    </div>
                    <div class="contain-txts">
                        <span class="title-type-media">{{ event.theme|trans_fallback('name') }}</span>
                        <span class="title-dates">{{ event.publishedAt|date('Y') }}</span>
                        <span class="title-media">{{ event|trans_fallback('title') }}</span>
                    </div>
                </a>
            </div>
        </article>
    {% endfor %}
</section>