<div class="top-texts">
    {% if 'searchsubmit' in app.request.attributes.get("_route") and result.news.count > 4 %}<a href="{{ url('fdc_corporate_search_searchfilter', {'searchFilter':'news'}|merge(app.request.query.all)) }}" class="see-all">Tout voir</a>{% endif %}
    <h3>Actualités - {{ result.news.count }} résultats</h3>
</div>

<section class="news">
    {% for article in result.news.items %}
        <article class="block-poster-search medias landscape-more">
            <div class="item {{ article.newsType|get_news_type }} release-press">
                <a href="{{ path('fdc_event_news_get', {'format': article.newsFormat, 'slug': article|trans_fallback('slug')}) }}">
                    <div class="contain-img landscape">
                        {% if type is defined %}
                            {% if type == 'focus' %}
                                {% set gabarit = '918x580' %}
                            {% elseif type == 'same-day' %}
                                {% set gabarit = '590x370' %}
                            {% endif %}
                        {% else %}
                            {% set gabarit = '1144x724' %}
                        {% endif %}
                        {% if article is news_article and article.header %}
                            {% set img = article.header %}
                            {% set trans = img.findTranslationByLocale(app.request.locale) %}
                            {% if trans is null or trans.file is null %}
                                {% set trans = img.findTranslationByLocale('fr') %}
                            {% endif %}
                            {% set file = trans.file %}
                            {% thumbnail file, gabarit with {'alt': img|trans_fallback('alt') } %}
                        {% elseif article is news_video and article.header %}
                            {% set header = article.header %}
                            {% if header is not null %}
                                {% set imageTrans = article.header.findTranslationByLocale(app.request.locale) %}
                                {% if imageTrans is null or imageTrans.file is null %}
                                    {% set imageTrans = article.header.findTranslationByLocale('fr') %}
                                {% endif %}
                            {% endif %}
                            {% if imageTrans is defined %}
                                {% set file = imageTrans.file %}
                                {% set img = article.header %}
                            {% elseif article.video|trans_fallback('imageAmazonUrl') is not null %}
                                {% set imgamazon = s3_server_video ~ article.video|trans_fallback('imageAmazonUrl') %}
                            {% else %}
                                {% set tmp = article.video %}
                                {% if tmp is not null %}
                                    {% set trans = tmp.findTranslationByLocale(app.request.locale) %}
                                    {% if trans is null or trans.file is null %}
                                        {% set trans = tmp.findTranslationByLocale('fr') %}
                                    {% endif %}
                                    {% set img = article.video.image %}
                                    {% set file = trans.file %}
                                {% endif %}
                            {% endif %}
                            {% if file is defined and imageTrans is defined and imageTrans.file is not null %}
                                {% thumbnail file, gabarit with {'alt': img|trans_fallback('alt') } %}
                            {% elseif imgamazon is defined and imgamazon is not null %}
                                <img src="{{ imgamazon }}" alt="" />
                            {% endif %}
                        {% elseif article is news_audio and article.header %}
                            {% set header = article.header %}
                            {% if header is not null %}
                                {% set imageTrans = article.header.findTranslationByLocale(app.request.locale) %}
                                {% if imageTrans is null or imageTrans.file is null %}
                                    {% set imageTrans = article.header.findTranslationByLocale('fr') %}
                                {% endif %}
                            {% endif %}
                            {% if imageTrans is defined and imageTrans.file is not null %}
                                {% set file = imageTrans.file %}
                                {% set img = imageTrans %}
                            {% else %}
                                {% set tmp = article.audio %}
                                {% if tmp %}
                                    {% set trans = tmp.image.findTranslationByLocale(app.request.locale) %}
                                    {% if trans is null or trans.file is null %}
                                        {% set trans = tmp.image.findTranslationByLocale('fr') %}
                                    {% endif %}
                                    {% set img = trans %}
                                    {% set file = trans.file %}
                                {% endif %}
                            {% endif %}
                            {% if file is defined %}
                                {% thumbnail file, gabarit with {'alt': img|trans_fallback('alt') } %}
                            {% endif %}
                        {% elseif article is news_image and article.header %}
                            {% set header = article.header %}
                            {% if header is not null %}
                                {% set imageTrans = article.header.findTranslationByLocale(app.request.locale) %}
                                {% if imageTrans is null or imageTrans.file is null %}
                                    {% set imageTrans = article.header.findTranslationByLocale('fr') %}
                                {% endif %}
                            {% endif %}
                            {% if imageTrans is defined and imageTrans.file is not null %}
                                {% set img = article.header %}
                                {% set file = imageTrans.file %}
                            {% else %}
                                {% if article.gallery and article.gallery.medias|length > 0 %}
                                    {% set img = article.gallery.medias[0].media %}
                                    {% set trans = img.findTranslationByLocale(app.request.locale) %}
                                    {% if trans is null or trans.file is null %}
                                        {% set trans = img.findTranslationByLocale('fr') %}
                                    {% endif %}
                                    {% set file = trans.file %}
                                {% endif %}
                            {% endif %}
                            {% if file is defined %}
                                {% thumbnail file, gabarit with {'alt': img|trans_fallback('alt') } %}
                            {% endif %}
                        {% endif %}
                        <i class="picto icon icon-{{ article.newsType|get_news_type }}"></i>
                        <!--<a href="#" class="read-later"><i class="icon icon-read-latter"></i><span>Ajouter à ma sélection</span></a>-->
                    </div>
                    <div class="contain-txts">
                        <span class="title-type-media">{{ article.theme|trans_fallback('name') }}</span>
                        <span class="title-dates">{{ article.publishedAt|date('d.m.y') }}  .  {{ agenda_leftbar_translate_hour(article.publishedAt|date('H:i'), true, true) }}</span>
                        <span class="title-media">{{ article|trans_fallback('title')|truncate(40)|raw }}</span>
                    </div>
                </a>
            </div>
        </article>
    {% endfor %}
</section>