{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressBundle::layout.html.twig' %}

{% block body %}

<div id="main" class="press loading practicalguide {{ is_granted("ROLE_FDC_PRESS_REPORTER") ? 'conected' : 'lock' }}">

    <div class="header-press">
        <div class="head">
            <span><i class="icon icon_espace-presse"></i>{{ 'press.header.label.espacepresse'|trans }}</span>
        </div>
        <div class="container">
            <h2>{{ 'press.header.title.guidepratique'|trans }}</h2>
        </div>
    </div>

    <div id='praticalguide'>

        {# SECTION - A VOTRE ARRIVEE #}
        <section class="container-pguide active">
            <div class="wrapper">
                <div class="contain-title-pg">
                    <h3 class="title-pguide ">
                        <span class="logo">
                            <i class="icon {{ guideContent.arriveIcon }}"></i>
                        </span>
                        {{ guideContent|trans_fallback('arriveTitle')}}
                    </h3>
                    <i class="icon accordion icon_moins"></i>
                </div>
                {% for widget in guideContent.arriveWidgets %}
                    {% if class(widget) == "PressGuideWidgetImage" %}
                        {% include 'FDCPressBundle:Guide:widgets/image.html.twig' %}
                    {% elseif class(widget) == "PressGuideWidgetPicto" %}
                        {% include 'FDCPressBundle:Guide:widgets/picto.html.twig' %}
                    {% elseif class(widget) == "PressGuideWidgetColumn" %}
                        {% include 'FDCPressBundle:Guide:widgets/column.html.twig' %}
                    {% endif %}
                {% endfor %}
            </div>
        </section>

        {# SECTION - INFORMATION #}
        <section class="container-pguide">
            <div class="wrapper">
                <div class="contain-title-pg">
                    <h3 class="title-pguide ">
                        <span class="logo">
                            <i class="icon {{ guideContent.informationIcon }}"></i>
                        </span>
                        {{ guideContent|trans_fallback('informationTitle')}}
                    </h3>
                    <i class="icon icon_case-plus accordion"></i>
                </div>
                {% for widget in guideContent.informationWidgets %}
                    {% if class(widget) == "PressGuideWidgetImage" %}
                        {% include 'FDCPressBundle:Guide:widgets/image.html.twig' %}
                    {% elseif class(widget) == "PressGuideWidgetPicto" %}
                        {% include 'FDCPressBundle:Guide:widgets/picto.html.twig' %}
                    {% elseif class(widget) == "PressGuideWidgetColumn" %}
                        {% include 'FDCPressBundle:Guide:widgets/column.html.twig' %}
                    {% endif %}
                {% endfor %}
            </div>
        </section>

        {# SECTION - RENDEZ VOUS DES MEDIAS #}
        <section class="container-pguide">
            <div class="wrapper">
                <div class="contain-title-pg">
                    <h3 class="title-pguide ">
                        <span class="logo">
                            <i class="icon {{ guideContent.meetingIcon }}"></i>
                        </span>
                        {{ guideContent|trans_fallback('meetingTitle')}}
                    </h3>
                    <i class="icon icon_case-plus accordion"></i>
                </div>
                <div class="contain-article pictos-service">
                {% for widget in guideContent.meetingWidgets %}
                    {% if class(widget) == "PressGuideWidgetImage" %}
                        {% include 'FDCPressBundle:Guide:widgets/image.html.twig' %}
                    {% elseif class(widget) == "PressGuideWidgetPicto" %}
                        {% include 'FDCPressBundle:Guide:widgets/picto.html.twig' %}
                    {% elseif class(widget) == "PressGuideWidgetColumn" %}
                        {% include 'FDCPressBundle:Guide:widgets/column.html.twig' %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </section>

        {# SECTION - SERVICES #}
        <section class="container-pguide">
            <div class="wrapper">
                <div class="contain-title-pg">
                    <h3 class="title-pguide ">
                        <span class="logo">
                            <i class="icon {{ guideContent.serviceIcon }}"></i>
                        </span>
                        {{ guideContent|trans_fallback('serviceTitle')}}
                    </h3>
                    <i class="icon icon_case-plus accordion"></i>
                </div>
                <div class="contain-article pictos-service">
                    {% for widget in guideContent.serviceWidgets %}
                        {% if class(widget) == "PressGuideWidgetImage" %}
                            {% include 'FDCPressBundle:Guide:widgets/image.html.twig' %}
                        {% elseif class(widget) == "PressGuideWidgetPicto" %}
                            {% include 'FDCPressBundle:Guide:widgets/picto.html.twig' %}
                        {% elseif class(widget) == "PressGuideWidgetColumn" %}
                            {% include 'FDCPressBundle:Guide:widgets/column.html.twig' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

    </div>

    {{ render(controller('FDCPressBundle:Global:contact')) }}

</div>
{% endblock %}