{% trans_default_domain 'FDCEventBundle' %}

{% if movies|length %}
    <div class="competition">
        <h2 class="title">{{ movie.selectionSection|trans_fallback('name') }} {{ movie.festival.year }}</h2>
            <div id="slider-competition" class="slider-03">
            {% for movie in movies %}
                <div class="slide item">
                    {% include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({
                    film: movie,
                    film_format: '240x320',
                    film_image_default: asset(app.request.schemeAndHttpHost ~ '/bundles/fdcevent/img/palmares/film_w210.jpg')
                    }) %}
                    <a class="linkVid" href="{{ path('fdc_event_movie_get', {'slug': movie.slug}) }}"></a>
                    <div class="info-movie">
                        <p>
                            <a href="{{ path('fdc_event_movie_get', {'slug': movie.slug}) }}">
                                {{ movie.titleVO }}
                                {% set transTitle = movie|trans_fallback_movie('title') %}
                                {% if transTitle|trim and transTitle|trim != movie.titleVo|trim %}
                                    <br/><span class="translated-title">({{ transTitle }})</span>
                                {% endif %}
                            </a>
                        </p>
                        {% set directors = movie.getDirectors() %}
                        {% for director in directors %}
                            <a class="director"
                               href="{{ path('fdc_event_artist_get', {'slug': director.person.slug}) }}">{{ director.person.fullName }}{% if loop.last == false %},{% endif %}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}