{% trans_default_domain 'FDCEventBundle' %}
{% dump(selfkits) %}
{% if photos|length > 0 or selfkits|length %}
<div class="photos" data-section="photos">
    <div class="slideshow">
        <div class="slideshow-img">
            <div class="images">
                {% set firstPicture = true %}
                {% for key, photo in photos %}
                    {% if
                        photo.type != constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PRESS_PDF') and
                        photo.type != constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR')
                    %}
                        {% set title = '' %}
                        {% if app.request.locale == 'fr' and photo.media.titleVf %}
                            {% set title =  photo.media.titleVf %}
                        {% elseif app.request.locale != 'fr' and photo.media.titleVa %}
                            {% set title = photo.media.titleVa %}
                        {% endif %}

                        <div class="img {% if firstPicture == true %}active{% endif %}">
                            <a id="photo{{ photo.id }}" data-pid="{{ photo.id }}"
                               class="chocolat-image ajax"
                               href="{% if photo.media.file is not empty %}{% path photo.media.file, photo.media.file.context ~ '_big' %}{% endif %}"
                               title='<span>{{ title }}</span>'
                               data-credit="{% if photo.media.copyright is not empty %} © {{ photo.media.copyright }}{% endif %}">
                                <img src="{% if photo.media.file is not empty %}{% path photo.media.file, photo.media.file.context ~ '_big' %}{% endif %}" alt="" />
                            </a>
                        </div>
                        {% set firstPicture = false %}
                    {% endif %}
                {% endfor %}
                {% for selfkit in selfkits %}
                    <div class="img {% if firstPicture == true %}active{% endif %}">
                        <a id="photo-selfkit-{{ selfkit.idphoto }}" data-pid="selfkit-{{ selfkit.idphoto }}"
                           class="chocolat-image ajax"
                           href="{{ selfkit_amazon_url }}{{ selfkit.fichier }}"
                           title='<span>{{ selfkit.titre?:'Affiche du film' }}"</span>'
                           data-credit="{{ selfkit.credits ? ' © ' ~ selfkit.credits : '' }}">
                            <img src="{{ selfkit_amazon_url }}{{ selfkit.fichier }}" alt="" />
                        </a>
                    </div>
                    {% set firstPicture = false %}
                {% endfor %}
            </div>
            <div class="owl-carousel thumbnails">
                {% set firstPicture = true %}
                {% for key, photo in photos %}
                    {% if
                        photo.type != constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PRESS_PDF') and
                        photo.type != constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR')
                    %}
                        {% set title = '' %}
                        {% if app.request.locale == 'fr' and photo.media.titleVf %}
                            {% set title =  photo.media.titleVf %}
                        {% elseif app.request.locale != 'fr' and photo.media.titleVa %}
                            {% set title = photo.media.titleVa %}
                        {% endif %}

                        <div class="thumb {% if firstPicture == true %}active{% endif %}" data-caption="{{ title }}{% if photo.media.copyright is not empty %} © {{ photo.media.copyright }}{% endif %}">
                            <img src="{% if photo.media.file is not empty %}{% path photo.media.file, photo.media.file.context ~ '_small' %}{% endif %}" />
                        </div>
                        {% set firstPicture = false %}
                    {% endif %}
                {% endfor %}
                {% for selfkit in selfkits %}
                    <div class="thumb {% if firstPicture == true %}active{% endif %}" data-caption="{{ selfkit.titre?:'Affiche du film' }}{{ selfkit.credits ? ' © ' ~ selfkit.credits : '' }}">
                        <img src="{{ selfkit_amazon_url }}{{ selfkit.fichier }}" />
                    </div>
                    {% set firstPicture = false %}
                {% endfor %}
            </div>
        </div>
        {% set firstPicture = true %}
        {% for key, photo in photos %}
            {% if
                photo.type != constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PRESS_PDF') and
                photo.type != constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR')
            %}
                {% set title = '' %}
                {% if app.request.locale == 'fr' and photo.media.titleVf %}
                    {% set title =  photo.media.titleVf %}
                {% elseif app.request.locale != 'fr' and photo.media.titleVa %}
                    {% set title = photo.media.titleVa %}
                {% endif %}

                {% if firstPicture == true %}
                    <p class="caption">{{ title }}{% if photo.media.copyright is not empty %} © {{ photo.media.copyright }}{% endif %}</p>
                {% endif %}
                {% set firstPicture = false %}
            {% endif %}
        {% endfor %}
        {% for selfkit in selfkits %}
            {% if firstPicture == true %}
            <p class="caption">{{ selfkit.titre?:'Affiche du film' }}{{ selfkit.credits ? ' © ' ~ selfkit.credits : '' }}</p>
            {% endif %}
            {% set firstPicture = false %}
        {% endfor %}
    </div>
</div>
{% endif %}