{% trans_default_domain 'FDCEventBundle' %}

{% set media = film|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_POSTER'))|first %}
{% if media is empty %}
    {% set media = film|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_MAIN'))|first %}
{% endif %}
{% if media is empty %}
    {% set media = film|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_FILM'))|first %}
{% endif %}
<article style="background-image:url('{% if media is not empty %}{% path media, 'reference' %}{% endif %}')">
    <div class="bck-hover">
        <div class="contain_item">
            {% if media is not empty %}
                {% media media, '259x352' %}
            {% else %}
                <img src="{{ asset('bundles/fdcevent/img/palmares/film_w256.jpg') }}" alt="Affiche film"/>
            {% endif %}
            <div class="infos-item-list">
                {% if projection is defined and projection is not empty %}
                <span class="date-pres-item">{{ projection.startsAt|localizeddate('full', 'none', app.request.locale)  }} </span>
                <span class="heure-pres-item">{{ projection.startsAt|date('H:i') }}</span>
                {% endif %}
                <h3 class="title-item">{{ film.titleVO }}</h3>
                {% for director in film|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}<span class="nom-item">{{ director.fullName }}</span>{% if loop.index != director|length %}, {% endif %}{% endfor %}<br />
                    <span class="date-item">
                        {% set duration = [] %}
                        {% if film.duration is not empty %}
                            {% set duration = film.duration|split('.') %}
                        {% endif %}
                        {% if film.productionYear is not null and  film.productionYear != 0 %}{{  film.productionYear }}
                            {% if duration|length > 0 and duration[0] > 0 %}
                                -
                            {% endif %}
                        {% endif %}
                        {% if duration|length > 0 and duration[0] > 0 %}
                            {% set hours = (duration[0] / 60)|round(0, 'floor') %}
                            {% set minutes = duration[0] % 60 %}
                            {% if hours > 0 %}{{ hours }}:{% endif %}{{ minutes }}
                        {% endif %}
                    </span>
                <p class="description-item">
                    {% if restauration is defined and restauration == true %}
                        {{ film|trans_fallback('infoRestauration')|nl2br|raw }}
                    {% else %}
                        {{ film|trans_fallback('synopsis')|nl2br|raw }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</article>