{% trans_default_domain 'FDCEventBundle' %}

<div class="videos" data-section="videos">
    <div class="container">
        {% for video in videos %}
            {% if video.most_viewed %}
                <div class="video-player video">
                    <div class="image" style="background-image: url({{ video.image.path }});"></div>
                    <div class="picto"><i class="icon icon_video"></i></div>
                    <div class="info">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                <a href="#" class="category">{{ video.theme }}</a>
                                <span class="date">{{ video.createdAt|date('d.m.y') }}</span> . <span class="hour">{{ video.createdAt|date('H:i') }}</span>
                                <p>{{ video.title }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
    <div id="slider-movie-videos" class="owl-carousel sliderDrag">
        {% for video in videos %}
            {% if video.most_viewed == false %}
            <div class="slide-video shadow-bottom">
                <img src="{{ video.image.path }}" alt="" />
                <a class="linkVid" href="#"></a>
                <div class="info">
                    <div class="picto"><i class="icon icon_video"></i></div>
                    <div class="info-container">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                <a href="#" class="category">{{ video.theme }}</a>
                                <p>{{ video.title }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>