{% trans_default_domain 'FDCEventBundle' %}
{% if videos|length > 0 %}
    <div class="videos" data-section="videos">
        <div class="container">
            <div class="video"
                data-playlist='[
                {% if videos[0].mediaVideo.image %}
                    {% set videoImage = media_public_url(videos[0].mediaVideo.image|trans_fallback('file'), '586x370') %}
                {% elseif videos[0].mediaVideo.image|trans_fallback('imageAmazonUrl') %}
                    {% set videoImage = s3_server_global ~ videos[0].mediaVideo.image|trans_fallback('imageAmazonUrl') %}
                {% endif %}
                    {
                      "sources":[{"file":"{{ s3_server_video ~ videos[0].mediaVideo|trans_fallback('webmUrl') }}"},{"file":"{{ s3_server_video ~ videos[0].mediaVideo|trans_fallback('mp4Url') }}"}],
                      "vid":"{{ videos[0].mediaVideo.id }}",
                      "name":"{{ videos[0].mediaVideo|trans_fallback('title') }}",
                      "image":"{{ videoImage }}",
                      "category":"{{ videos[0].mediaVideo.theme|trans_fallback('name') }}",
                      "date":"{{ videos[0].mediaVideo.publishedAt()|date('d/m/Y') }}",
                      "hour":"{{ videos[0].mediaVideo.publishedAt()|date('H:i') }}"
                    }
                ]'>

                <div class="image" style="background-image: url({{ videoImage }});"></div>
                <div class="picto"><i class="icon icon_video"></i></div>
                <div class="info">
                    <div class="vCenter">
                        <div class="vCenterKid">
                            <span class="category">{{ videos[0].mediaVideo.theme|trans_fallback('name') }}</span>
                            <span class="date">{{ videos[0].mediaVideo.publishedAt|date('d.m.y') }}</span> . <span class="hour">{{ videos[0].mediaVideo.publishedAt|date('H:i') }}</span>
                            <p>{{ videos[0].mediaVideo|trans_fallback('title') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-movie-videos" class="owl-carousel sliderDrag">
            {% for video in videos %}
                {% set video = video.mediaVideo %}
                {% if video.image %}
                    {% set videoImage = media_public_url(video.image|trans_fallback('file'), '586x370') %}
                {% elseif video.image|trans_fallback('imageAmazonUrl') %}
                    {% set videoImage = s3_server_global ~ video.image|trans_fallback('imageAmazonUrl') %}
                {% endif %}
                <div class="slide-video shadow-bottom">
                    <img src="{{ videoImage }}" alt="" />
                    <a class="linkVid" href="#"></a>
                    <div class="info">
                        <div class="picto"><i class="icon icon_video"></i></div>
                        <div class="info-container">
                            <div class="vCenter">
                                <div class="vCenterKid">
                                    <span class="category">{{ video.theme|trans_fallback('name') }}</span>
                                    <p>{{ video|trans_fallback('title') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}