{% trans_default_domain 'FDCEventMobileBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}
{% set locales = [] %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/fdceventmobile/css/home.css"
        "bundles/fdceventmobile/css/exceptions.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="main" class="loading error-not-found">
        {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
        <div class="vCenter">
            <div class="vCenterKid">
                <div class="texts">
                    <h1>{{ 'fdc.eventmobile.404.title'|trans }}</h1>
                    <p>{{ 'fdc.eventmobile.404.text'|trans }}</p>
                    <a href="{{ path('fdc_eventmobile_news_index') }}"><i class="icon icon_fleche-right"></i> {{ 'fdc.eventmobile.404.button'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@FDCEventMobileBundle/Resources/public/js/home.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}