{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="press loading accreditation">

        <div class="header-press">
            <div class="head">
                <span><i class="icon icon_espace-presse"></i>{{ 'press.header.label.espacepresse'|trans }}</span>
            </div>
            <div class="container">
                <h2>{{ 'press.header.title.saccrediter'|trans }}</h2>
                <p>
            <span class="vCenter">
              <span class="vCenterKid">
                  {{ 'press.header.subtitle.lefestivaldecannesestreserve'|trans }}
              </span>
            </span>
                </p>
            </div>
        </div>

        <div id="accreditation">
        <div class="wrapper">
            <div class="container-small">
                {{ accredit|trans_fallback('commonContent')|raw }}
            </div>
        </div>

        <div class="nav-accre">
            <div class="wrapper">
                <h2>{{ 'press.accrediter.title.consultezlaprocedure'|trans }}</h2>
                <table>
                    <tr>
                    {% for key,sectionFilter in accredit.procedure %}
                        <td data-cat="{{ sectionFilter.procedure|trans_fallback('title')|replace({' ':'-'})|lower }}" class="{% if key == 0 %}active{% endif %}">
                            {{ sectionFilter.procedure|trans_fallback('title') }}
                        </td>
                        {% if  loop.index % 3 == 0 %}
                        </tr>
                        <tr>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        {% for key, section in accredit.procedure %}
            <div class="nav-container {% if key == 0 %}active{% endif %}" data-cat="{{ section.procedure|trans_fallback('title')|replace({' ':'-'})|lower }}">
                <div class="wrapper">
                    <div class="container-small">
                        <div class="buttons">
                            <a id="share-article" href="#" class="button  print" onclick="window.print()">
                                <i class="icon icon_print"></i>
                                {{ 'press.accrediter.btn.imprimer'|trans }}
                            </a>
                            {% if app.request.locale == "fr" and section.procedure.procedureFile is not null %}
                                <a href="{% path section.procedure.procedureFile, 'reference' %}" class="button save" target="_blank" download>
                                    <i class="icon icon_pdf"></i>
                                    {{ 'press.accrediter.btn.enregistrer'|trans }}
                                </a>
                            {% elseif section.procedure.procedureSecondFile is not null  %}
                                <a href="{% path section.procedure.procedureSecondFile, 'reference' %}" class="button save" target="_blank" download>
                                    <i class="icon icon_pdf"></i>
                                    {{ 'press.accrediter.btn.enregistrer'|trans }}
                                </a>
                            {% endif %}
                        </div>
                        <h4>{{ section.procedure|trans_fallback('title') }}</h4>
                        {{ section.procedure|trans_fallback('procedureContent')|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}


        <div class="request">
            <div class="wrapper">
                <a href="{{ accredit|trans_fallback('btnLink') }}" class="button request-btn" target="_blank">
                    <i class="icon icon_communique-presse"></i>
                    {{ accredit|trans_fallback('btnLabel') }}
                </a>
                <span class="legend">
                    {{ accredit|trans_fallback('btnText') }}
                </span>
            </div>
        </div>
    </div>

    {{ render(controller('FDCPressBundle:Global:contact')) }}

</div>
{% endblock %}