{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="press loading accreditation {{ is_granted("ROLE_FDC_PRESS_REPORTER") ? 'conected' : 'lock' }}">

        {% include 'FDCPressBundle:Global:components/headerPress.html.twig' %}

        {{ render(controller('FDCPressBundle:Security:login')) }}

        <div id="accreditation">
        <div class="wrapper">
            <div class="container-small">
                <h3>{{ accredit|trans_fallback('commonTitle') }}</h3>
                {{ accredit|trans_fallback('commonContent')|raw }}
            </div>
        </div>

        <div class="nav-accre">
            <div class="wrapper">
                <h2>{{ accredit|trans_fallback('procedureMainTitle') }}</h2>
                <table>
                    <tr>
                    {% for key,sectionFilter in accredit.procedure %}
                        <td data-cat="{{ sectionFilter.procedure|trans_fallback('procedureTitle')|replace({' ':'-'})|lower }}" class="{% if key == 0 %}active{% endif %}">
                            {{ sectionFilter.procedure|trans_fallback('procedureTitle') }}
                        </td>
                        {% if  loop.index % 3 == 0 %}
                        </tr>
                        <tr>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        {% for key, section in accredit.procedure %}
            <div class="nav-container {% if key == 0 %}active{% endif %}" data-cat="{{ section.procedure|trans_fallback('procedureTitle')|replace({' ':'-'})|lower }}">
                <div class="wrapper">
                    <div class="container-small">
                        <div class="buttons">
                            <a id="share-article" href="#" class="button  print" onclick="window.print()">
                                <i class="icon icon_print"></i>
                                {{ 'press.accrediter.btn.imprimer'|trans }}
                            </a>
                            <a href="#" class="button save">
                                <i class="icon icon_pdf"></i>
                                {{ 'press.accrediter.btn.enregistrer'|trans }}
                            </a>
                        </div>
                        <h4>{{ section.procedure|trans_fallback('procedureTitle') }}</h4>
                        {{ section.procedure|trans_fallback('procedureContent')|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}


        <div class="request">
            <div class="wrapper">
                <a href="//reg.online-festival.com/" class="button request-btn" target="_blank">
                    <i class="icon icon_communique-presse"></i>
                    {{ 'press.accrediter.btn.faireunedemandedaccreditation'|trans }}
                </a>
                <span class="legend">
                    <sup>*</sup>
                    {{ 'press.accrediter.legend.vousallezquitterlesite'|trans }}
                </span>
            </div>
        </div>
    </div>

    {{ render(controller('FDCPressBundle:Global:contact')) }}

</div>
{% endblock %}