{% trans_default_domain 'FDCEventBundle' %}
<div class="vid shadow-bottom">
    <div class="image-wrapper">
        <img src="{{ trailer.image|trans_fallback('file') }}" alt=""/>
    </div>
    <a class="linkVid" href="#"></a>
    <div class="info">
        <div class="picto"><i class="icon icon_video"></i>
        </div>
        <div class="info-container">
            <div class="vCenter">
                <div class="vCenterKid">
                    <a href="#" class="category">{{ trailer.theme }}</a><span class="date">{{ trailer.createdAt|date('d.m.Y') }}</span> . <span
                            class="hour">{{ trailer.createdAt|date('d.m.Y') }}</span>
                    <a href="#" class="titleLink">{{ trailer|trans_fallback('title') }}</a>
                </div>
            </div>
        </div>
    </div>
</div>