{% trans_default_domain 'FDCEventBundle' %}
  {% set img = null %}
  {% if video.association.image|trans_fallback('file')  %}
      {% set img =  video.association.image|trans_fallback('file') %}
  {% elseif video.association|trans_fallback('imageAmazonUrl') %}
      {% set img =  s3_server_video ~ video.association|trans_fallback('imageAmazonUrl') %}
  {% else %}
      {% set img =  video.association.image|trans_fallback('file', 'fr')%}
  {% endif %}
<div class="image-wrapper">
    <img src="{% path img, '640x404' %}" alt="" />
</div>
<a class="linkVid" href="#"></a>
<div class="info">
    <div class="picto">
        <i class="icon icon_video"></i>
    </div>
    <div class="info-container">
        <div class="vCenter">
            <div class="vCenterKid">
                <span class="category">{{ video.association.theme|trans_fallback('name') }}</span>
                <span class="date">{{ video.association.publishedAt|date('d.m.y') }}</span> . <span class="hour">{{ agenda_leftbar_translate_hour(video.association.publishedAt|date('H:i'), true, true) }}</span>
                <p class="titleLink" data-title="{{ video.association|trans_fallback('title') }}">{{ video.association|trans_fallback('title') }}</p>
            </div>
        </div>
    </div>
</div>
