{% trans_default_domain 'FDCEventBundle' %}


{% set video = video.association %}
{% set transImage = video.image.findTranslationByLocale(app.request.locale) %}
{% if transImage is null %}
    {% set transImage = video.image.findTranslationByLocale('fr') %}
{% endif %}

{% set transVideo = video.findTranslationByLocale(app.request.locale) %}
{% if transVideo is null %}
    {% set transVideo = video.findTranslationByLocale('fr') %}
{% endif %}


<div class="image-wrapper">
    <img src="{% path transImage.file, '640x404' %}" alt="{{ video.image|trans_fallback('alt') }}" />
</div>
<a class="linkVid" href="{% path transVideo.file, 'reference'%}"></a>
<div class="info">
    <div class="picto">
        <i class="icon icon_video"></i>
    </div>
    <div class="info-container">
        <div class="vCenter">
            <div class="vCenterKid">
                <a href="#" class="category">{{ video.theme|trans_fallback('name') }}</a>
                <span class="date">{{ video|trans_fallback('publishAt')|date('d.m.y') }}</span> . <span class="hour">{{ video|trans_fallback('publishAt')|date('H.i') }}</span>
                <a href="#" class="titleLink">{{ video|trans_fallback('title') }}</a>
            </div>
        </div>
    </div>
</div>
