{% trans_default_domain 'FDCEventBundle' %}

<div class="image-wrapper">
    <img src="{{ video.image.path }}" alt="" />
</div>
<a class="linkVid" href="#"></a>
<div class="info">
    <div class="picto">
        <i class="icon icon_video"></i>
    </div>
    <div class="info-container">
        <div class="vCenter">
            <div class="vCenterKid">
                <a href="#" class="category">{{ video.theme }}</a>
                <span class="date">{{ video.createdAt|date('d.m.y') }}</span> . <span class="hour">{{ video.createdAt|date('H.i') }}</span>
                <a href="#" class="titleLink">{{ video.title }}</a>
            </div>
        </div>
    </div>
</div>
