{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block pre_home %}
    <div id="prehome-container">
        <div id="prehome"></div>
    </div>
{% endblock %}

{% block body %}
    <div id="main" class="home loading">
        <span id="addtext">{{ 'home.btn.ajouteramaselection'|trans }}</span>

        {% if displayHomeSlider == false %}
            <div id="sliderWrapper">
                <div id="slider" class="owl-carousel">
                    {% for slide in homeSlider %}
                        {% if slide != null %}
                            {% if slide.header is not null %}
                                {% set trans = slide.header.findTranslationByLocale(app.request.locale) %}
                                {% if trans is null or trans.file is null %}
                                    {% set trans = slide.header.findTranslationByLocale('fr') %}
                                {% endif %}
                            {% elseif slide.audio is not null %}
                                {% set trans = slide.audio.image.findTranslationByLocale(app.request.locale) %}
                                {% if trans is null or trans.file is null %}
                                    {% set trans = slide.audio.image.findTranslationByLocale('fr') %}
                                {% endif %}
                            {% elseif slide.gallery is not null %}
                                {% set trans = slide.gallery.medias[0].media.findTranslationByLocale(app.request.locale) %}
                                {% if trans is null or trans.file is null %}
                                    {% set trans = slide.gallery.medias[0].media.findTranslationByLocale('fr') %}
                                {% endif %}
                            {% endif %}
                            <div>
                                <div class="img-container">
                                    <div class="img" style="background-image:url({% path trans.file , '1461x923' %})"></div>
                                </div>
                                <div class="info">
                                    <span class="category">{{ slide.theme|trans_fallback('name') }}</span>
                                    <h2>{{ slide|trans_fallback('title') }}</h2>
                                </div>
                                <a href="{{ path('fdc_event_news_get', {format: slide.newsFormat, 'slug': slide.id }) }}" class="linkArticle"></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if homepage.displayedTopNews == false %}
            <div id="news">
                <div id="canvasloader" class="canvasloader"></div>
                <h2 class="title">{{ 'home.title.lactualitealaune'|trans }}</h2>

                {% include 'FDCEventBundle:News:components/filters.html.twig' %}

                <div class="container">
                    <div class="content-news">
                        <div id="articles-wrapper">
                            <div class="articles left">
                                {% for article in homeArticles %}
                                    {% include 'FDCEventBundle:News:widgets/article-home.html.twig' %}
                                {% endfor %}
                             </div>

                             <!-- SLIDESHOW -->
                             {% if homeArticlesSlider is not empty %}
                                 {% include 'FDCEventBundle:News:widgets/slideshow-actu-home.html.twig' %}
                             {% endif %}


                            <div class="articles center">
                                {% for article in homeArticlesBottom %}
                                    {% include 'FDCEventBundle:News:widgets/article-home.html.twig' %}
                                {% endfor %}
                            </div>
                        </div>

                        <a href="#" class="read-more">{{ 'home.btn.afficherplusdactualite'|trans|raw }}</a>
                    </div>

                    <div id="timeline">
                        {% for key,date in festivalInterval %}
                            <a href="#" data-date="{{ date|date('d') }}" class="{% if date == "now"|date('Y-m-d') %}active{% elseif date > "now"|date('Y-m-d') %}disabled{% endif %}">
                                {{ date|localizeddate('full', 'none', app.request.locale)|truncate(3, false, "") }}
                                <span class="day">{{ date|date('d') }}</span>
                            </a>
                        {% endfor %}
                    </div>
                    <div id="shdMore" class="shadow-bottom"></div>
                    <div id="shd" class="shadow-bottom"></div>
                </div>
            </div>
        {% endif %}

        {% if homepage.displayedSocialWall == false %}
            <div id="social-wall">
                <div class="container">
                    <div id="graph">
                        <ul>
                            {% for timeline in socialGraph.timeline %}
                                <li{% if loop.last %} class="active"{% endif %}>
                                    {{ timeline.date|localizeddate('full', 'none', app.request.locale)|truncate(3, false, "") }}
                                    <span>{{ timeline.date|date('d') }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                        <div id="hashtag">
                            <div class="vCenter">
                                <div class="vCenterKid">
                                    <i class="icon icon_palme"></i>
                                    #Cannes2016
                                </div>
                            </div>
                        </div>
                        <svg id="graphSVG" width="891" height="200"></svg>
                        <div id="tipGraph"></div>
                    </div>
                    <div id="wall">
                        {% for post in wallPosts %}
                            {% include 'FDCEventBundle:News:widgets/post.html.twig' %}
                        {% endfor %}
                    </div>

                    {% include 'FDCEventBundle:News:components/socials.html.twig' %}

                </div>
            </div>
        {% endif %}

        {% if homepage.displayedTopWebTv == false %}
            <div id="featured-videos">
                <h2 class="title">{{ 'home.title.lesvideosalaune'|trans }}</h2>
                <p class="link">
                    <a href="{{ path('fdc_event_television_live') }}">
                        <i class="icon icon_fleche-right"></i>
                        {{ 'home.btn.accederalawebtv'|trans }}
                    </a>
                </p>

                <div id="slider-videos" class="owl-carousel sliderDrag">
                    {% for video in videos %}
                        {% if video.association is defined and video.association != null %}
                            <div class="vid">
                                {% include 'FDCEventBundle:Television:widgets/video.date.html.twig' %}
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div id="channels">
                <h2 class="title">{{ 'home.title.leschaines'|trans }}</h2>
                <div id="slider-channels" class="owl-carousel sliderDrag">
                    {% for channel in channels %}
                        {% if channel is defined and channel.association != null %}
                            <div class="channel">
                                {% include 'FDCEventBundle:News:widgets/home-channels.html.twig' %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if homepage.displayedFilms == false %}
            <div id="featured-movies">
                {% for film in films %}
                    {% if film is defined and film != null %}
                        {% include 'FDCEventBundle:News:widgets/videos.html.twig' %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if homepage.displayedPushsMain == false %}
            {% include 'FDCEventBundle:News:widgets/push-main.html.twig' %}
        {% endif %}

        {% if homepage.displayedPushsSecondary == false %}
            {% include 'FDCEventBundle:News:widgets/push-secondary.html.twig' %}
        {% endif %}

        {% if homepage.displayedPrefooters == false %}
            {% include 'FDCEventBundle:News:components/prefooter.html.twig' %}
        {% endif %}

    </div>

    {% include "FDCEventBundle:Global:breadcrumb.html.twig" with
    {"breadcrumb":
    [
        {
            "name" : 'header.mainnav.nav.jourapresjour'|trans ,
            "url"  : path('fdc_event_news_index')
        }
    ]
    } %}

{% endblock body %}