{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block pre_home %}
    <div id="prehome-container">
        <div id="prehome"></div>
    </div>
{% endblock %}

{% block body %}
    <div id="main" class="home loading">
        <span id="addtext">{{ 'home.btn.ajouteramaselection'|trans }}</span>
        <div id="sliderWrapper">
            <div id="slider" class="owl-carousel">

                {% for slide in homeSlider %}
                    <div>
                        <div class="img-container">
                            <div class="img" style="background-image:url({{ slide.image.path }})"></div>
                        </div>
                        <div class="info">
                            <span class="category">{{ slide.theme }}</span>
                            <h2>{{ slide.title }}</h2>
                        </div>
                        <a href="{{ path('fdc_event_news_get', {'slug': slide.id }) }}" class="linkArticle"></a>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div id="news">
            <div id="canvasloader" class="canvasloader"></div>
            <h2 class="title">{{ 'home.title.lactualitealaune'|trans }}</h2>

            {% include 'FDCEventBundle:News:components/filters.html.twig' %}

            <div class="container">
                <div class="content-news">
                    <div id="articles-wrapper">
                        <div class="articles left">

                            {% for article in homeArticles.article %}
                                {% include 'FDCEventBundle:News:widgets/article.html.twig' %}
                            {% endfor %}

                        </div>

                        <!-- SLIDESHOW -->
                        {% for widget in homeArticles.widgets %}
                            {% if widget.type == "image" and widget.photos|length > 1 %}
                                {% include 'FDCEventBundle:News:widgets/slideshow.html.twig' %}
                            {% endif %}
                        {% endfor %}

                        <div class="articles center">

                            {% for article in homeArticles.bottomArticle %}
                               {# {% include 'FDCEventBundle:News:widgets/article.html.twig' %} #}
                            {% endfor %}

                        </div>

                    </div>

                    <a href="#" class="read-more">{{ 'home.btn.afficherplusdactualite'|trans|raw }}</a>
                </div>

                <div id="timeline">
                    {% for key, date in socialGraph.timeline %}
                        <a href="#" data-date="{{ date.date|date('d') }}" class="{% if key == 0 %}active{% endif %}">
                            {{ date.date|localizeddate('full', 'none', app.request.locale)|truncate(3, false, "") }}
                            <span class="day">{{ date.date|date('d') }}</span>
                        </a>
                    {% endfor %}
                </div>
                <div id="shdMore" class="shadow-bottom"></div>
                <div id="shd" class="shadow-bottom"></div>
            </div>
        </div>

    {% if homepage.displayedSocialWall %}
        <div id="social-wall">
            <div class="container">
                <div id="graph">
                    <ul>
                        {% for timeline in socialGraph.timeline %}
                            <li class="active">
                                {{ timeline.date|localizeddate('full', 'none', app.request.locale)|truncate(3, false, "") }}
                                <span>{{ timeline.date|date('d') }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    <div id="hashtag">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                <i class="icon icon_palme"></i>
                                #Cannes2016
                            </div>
                        </div>
                    </div>
                    <svg id="graphSVG" width="891" height="200"></svg>
                    <div id="tipGraph"></div>
                </div>
                <div id="wall">
                    {% for post in wallPosts %}
                        {% include 'FDCEventBundle:News:widgets/post.html.twig' %}
                    {% endfor %}
                </div>

                {% include 'FDCEventBundle:News:components/socials.html.twig' %}

            </div>
        </div>
        {% endif %}

        <div id="featured-videos">
            <h2 class="title">{{ 'home.title.lesvideosalaune'|trans }}</h2>
            <p class="link">
                <a href="{{ path('fdc_event_television_live') }}">
                    <i class="icon icon_fleche-right"></i>
                    {{ 'home.btn.accederalawebtv'|trans }}
                </a>
            </p>

            <div id="slider-videos" class="owl-carousel sliderDrag">

                {% for video in videos %}
                    {% if video.most_viewed %}
                        <div class="vid">
                            {% include 'FDCEventBundle:Television:widgets/video.date.html.twig' %}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        <div id="channels">
            <h2 class="title">{{ 'home.title.leschaines'|trans }}</h2>
            <div id="slider-channels" class="owl-carousel sliderDrag">

                {% for video in videos %}
                    {% if video.most_viewed == false %}
                        <div class="channel">
                            {% include 'FDCEventBundle:Television:widgets/video.html.twig' %}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>

        <div id="featured-movies">
            <div id="slider-movies" class="owl-carousel">
                {% for video in featuredMovies.video %}
                    {% include 'FDCEventBundle:News:widgets/videos.html.twig' %}
                {% endfor %}
            </div>
        </div>

        <div class="push-container">
            <div class="container">

            {% for category in homeCategories %}
                {% include 'FDCEventBundle:News:widgets/push.html.twig' %}
            {% endfor %}

            </div>
        </div>
        <div class="push-container white">
            <div class="container">

                {% for category in homeCategoriesFeatured %}
                    {% if category.blank %}
                        <div class="push"></div>
                    {% else %}
                        {% include 'FDCEventBundle:News:widgets/push.html.twig' %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>

        {% include 'FDCEventBundle:News:components/prefooter.html.twig' %}

    </div>

    {% include "FDCEventBundle:Global:breadcrumb.html.twig" with
    {"breadcrumb":
    [
        {
            "name" : 'header.mainnav.nav.jourapresjour'|trans ,
            "url"  : path('fdc_event_news_index')
        }
    ]
    } %}

{% endblock body %}