{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
<div id="main" class="single-article loading ">
    <span id="addtext">{{ 'article.text.ajouteramaselection'|trans }}</span>
    <div id="canvasloader" class="canvasloader"></div>
    <div class="content-article">
        <div class="container small-container">
            <a href="article2.php" class="nav prev ajax"></a>
            <a href="article3.php" class="nav next ajax"></a>
            <div class="info">
                <a href="#" class="category">{{ news.theme|trans_fallback('name') }}</a>
                <span class="date">{{ news.createdAt|date('d.m.y') }}</span> . <span class="hour">{{ news.createdAt|date('H:i') }}</span>
                <span class="update">{{ 'article.text.miseajour'|trans }} :</span><span class="date">{{ news.updatedAt|date('d.m.y') }}</span> . <span class="hour">{{ news.updatedAt|date('H:i') }}</span>
            </div>
            <h2 class="title-article">{{ news.title }}</h2>
            <div class="buttons">
                <a id="share-article" href="#" class="button">{{ 'article.btn.partager'|trans }}</a>
                <a href="#" class="button print">{{ 'article.btn.imprimer'|trans }}</a>
            </div>

            {% if news is news_article %}
                {% include 'FDCEventBundle:News:widgets/single-photo.html.twig' with {'photo' : news.header } %}
            {% endif %}

            <div class="chapeau">{{ news|trans_fallback('introduction')|raw }}</div>

            {% for widget in news.widgets %}
                {% if widget is news_widget_image and widget.photos|length == 1 %}
                    <!-- SINGLE PHOTO -->
                    {% include 'FDCEventBundle:News:widgets/single-photo.html.twig' with {'photo' : '' } %}
                {% elseif widget is news_widget_image and widget.photos|length > 1 %}
                    <!-- SLIDESHOW -->
                    {% include 'FDCEventBundle:News:widgets/slideshow.html.twig' %}
                {% elseif widget is news_widget_text %}
                    <!-- TEXT -->
                    {% include 'FDCEventBundle:News:widgets/text.html.twig' %}
                {% elseif  widget is news_widget_video or widget is news_widget_video_youtube %}
                    <!-- VIDEO -->
                    {% include 'FDCEventBundle:News:widgets/video.html.twig' %}
                {% elseif widget is news_widget_audio %}
                    <!-- AUDIO -->
                    {% if widget.title is defined %}
                        <h2 class="title">{{ widget.title }}</h2>
                    {% endif %}
                    {% include 'FDCEventBundle:News:widgets/audio.html.twig' %}
                {% elseif widget is news_widget_quote %}
                    {% include 'FDCEventBundle:News:widgets/quote.html.twig' %}
                {% elseif widget is news_widget_image_dual_align %}
                    {% include 'FDCEventBundle:News:widgets/dual-photo.html.twig' %}
                {% endif %}
            {% endfor %}

            <div class="author">{{ 'article.text.redigepar'|trans }} {{ news.signature }}</div>
        </div>
        <div class="share">
            <p>{{ 'article.text.partagerarticle'|trans }}</p>
            <div class="buttons square">
                <a href="#" class="button facebook"></a>
                <a href="#" class="button twitter"></a>
                <a href="#" class="button link"></a>
                <a href="#" class="button email"></a>
                <a href="#" class="button print"></a>
            </div>
        </div>

        <div class="film">
            <div class="info-film">
                <div class="wrapper">
                    <div class="vCenter">
                        <div class="vCenterKid">
                            <div class="poster">
                                <img src="{{ film.image.path }}" alt="" />
                            </div>
                            <div class="text-container">
                                <span class="category">{{ film.competition }}</span>
                                <h3><a href="#">{{ film.title }}</a></h3>
                                <p class="director"><a href="#">{{ film.author.fullName }}</a><p>
                                <p>{{ film.author.from }} - {{ film.releaseDate|date('Y') }}</p>
                                <p>{{ film.duration }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="programmation-film">
                <div class="wrapper">
                    <div class="vCenter">
                        <div class="vCenterKid">
                            <span class="category">{{ 'article.film.label.programmation'|trans }}</span>
                            <ul>
                                {% for programmation in film.programmation %}
                                    <li>
                                        <span class="type">{{ 'article.film.text.projection'|trans }}</span>
                                        <span>{{ programmation.startAt|date('d-m-Y') }}</span>
                                        <span>{{ programmation.startAt|date('H') }}h</span>
                                        <span class="location">{{ programmation.room }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                            <a href="#" class="button">{{ 'article.film.btn.toutelaprojection'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="focus">
                <h2 class="title">{{ 'article.film.title.focus'|trans }}</h2>
                <div class="articles">
                    {% for article in focusArticles %}
                        {% include 'FDCEventBundle:News:widgets/article.html.twig' %}
                    {% endfor %}
                </div>
            </div>
            <div class="same-day">
                <h2 class="title">{{ 'article.film.title.lememejour'|trans }}</h2>
                <div class="articles center">
                    {% for article in dayArticles %}
                        {% include 'FDCEventBundle:News:widgets/article.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <span class="anim"></span>
</div>

<!-- POPIN MAIL SHARE ---->
{{ render(controller('FDCEventBundle:Global:shareEmail',
   {'section': news.theme|trans_fallback('name'),
    'detail': news.createdAt|date('d.m.y'),
    'title': news.title,
    'description': news|trans_fallback('introduction')|raw
   }))
}}
<!-- END POPIN MAIL SHARE -->

{% endblock %}