{% extends 'FDCEventBundle::layout_prehome.html.twig' %}

{% block body %}
<body class="prehome-01">

    <div class="content">
        <div id="logo">
            <span>
                {% image '@FDCEventBundle/Resources/public/img/palme-white.svg'  %}
                    <img src="{{ asset(asset_url) }}" class="palm" alt="Festival de Cannes" />
                {% endimage %}
            </span>
            <h1>
                {% image '@FDCEventBundle/Resources/public/img/logo-white.svg'  %}
                    <img src="{{ asset(asset_url) }}" class="palm" alt="Festival de Cannes" />
                {% endimage %}
            </h1>
            <h2>
                11-22 Mai 2016
            </h2>
        </div>

        <div class="link">
            <ul>
                <li><a href="{{ path('fdc_event_news_index',{_locale:'fr'}) }}">Entrer</a></li>
                <li><a href="{{ path('fdc_event_news_index',{_locale:'en'}) }}">Enter</a></li>
                <li><a href="{{ path('fdc_event_news_index',{_locale:'es'}) }}">Entrar</a></li>
                <li><a href="{{ path('fdc_event_news_index',{_locale:'zh'}) }}">进入</a></li>
            </ul>

        </div>
    </div>
</body>
{% endblock body %}