{% trans_default_domain 'FDCEventBundle' %}

<div class="main-image">
    <div class="img" style="background-image: url('{% spaceless %}
        {% include 'FDCEventBundle:Global:components/film.cover.html.twig' with ({
        film: movie,
        film_format: '976x535',
        display_film_path: true,
        film_image_default: '/bundles/fdccorporate/media/images/film_w256.jpg',
        }) %}
    {% endspaceless %}
            ')"></div>
    <div class="links">
        <div class="container">
            <a class="movies"
               href="{{ path('fdc_corporate_movie_selection', {'year': movie.festival.year, 'slug': movie.selectionSection|trans_fallback('slug')}) }}"><i
                        class="icon icon-arrow-left"></i>{{ 'movie.nav.btn.touslesfilms'|trans }}</a>
            <a class="programmation"></a>
        </div>
    </div>
    {% if movie.videoMain is not null and is_available_video(movie.videoMain) %}
        {% set trans = get_available_video(movie.videoMain, false, app.request.locale) %}
        <div class="trailer">
            <div class="video-container state-init"
                 data-facebook="//www.facebook.com/sharer.php?u=html.festival-cannes-2016.com.ohwee.fr&t=le%20titre"
                 data-twitter="//www.twitter.com"
                 data-link="//www.example.com"
                 data-email="//www.gmail.com"
                 data-file='[{% if trans.jobWebmState == 3 %}{"file":"{{ s3_server_video ~ trans.webmUrl }}"},{% endif %}{"file":"{{ s3_server_video ~ trans.mp4Url }}"}]'
                 data-img="{% spaceless %}{% include 'FDCEventBundle:Global:components/film.cover.html.twig' with ({
                 film: movie,
                 film_format: "976x535",
                 display_film_path: true,
                 film_image_default: "/bundles/fdccorporate/media/images/film_w256.jpg",
                 }) %}{% endspaceless %}">
                <div id="video-movie-trailer" class="video-player"></div>
                <div class="video-overlay"></div>
                <div class="infos-bar hide-info">
                    <div class="picto"><i class="icon icon_video"></i></div>
                    <div class="info">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                <a href="#" class="category">Bande-annonce</a><span
                                        class="date">18.05.15</span> . <span class="hour">09:00</span>
                                <p>The Lobster</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div class="container container-top">
    {% set hasVideo = false %}
    {% if movie.videoMain is not null and is_available_video(movie.videoMain) %}
        {% set hasVideo = true %}
    {% endif %}

    <div class="poster video">
        {% if hasVideo == true %}
            <a href="#" class="picto"><i class="icon icon-video"></i></a>
        {% endif %}
        {% include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({
        film: movie,
        film_format: '293x397',
        film_attrs: {
        alt: movie|trans_fallback('title')?:movie.titleVO,
        'data-object-fit': 'cover'
        },
        film_image_default: 'bundles/fdccorporate/media/images/film_w256.jpg',
        }) %}
    </div>
    <div class="info-film tetiere-movie">
        <div class="categories">
            <span>{{ movie.selectionSection|trans_fallback('name') }}{% if movie.selectionSubsection %}{{ ' ' ~ '-' ~ ' ' }}{{ movie.selectionSubsection|trans_fallback('name') }}{% endif %}</span>
            {% if movie.directorFirst %}
                <span>{{ 'movie.director_first'|trans }}</span>
            {% endif %}
            {% if 'Ouverture' in movie.galaName %}
                <span>{{ 'movie.fdc_open'|trans }}</span>
            {% elseif 'Fermeture' in movie.galaName or 'Clôture' in movie.galaName %}
                <span>{{ 'movie.fdc_closing'|trans }}</span>
            {% endif %}
        </div>
        {% set secondTitle = null %}
        {% if movie|trans_fallback_movie('title') is not empty and movie|trans_fallback_movie('title') != movie.titleVO %}
            {% set mainTitle = movie.titleVO %}
            {% set secondTitle = movie|trans_fallback_movie('title') %}
        {% else %}
            {% set mainTitle = movie.titleVO %}
        {% endif %}
        <h2>{{ mainTitle }}</h2>
        {% if secondTitle != '' and secondTitle != null and mainTitle != secondTitle %}
            <div class="title-original">({{ secondTitle }})</div>
        {% endif %}
        {% set directors = movie.getDirectors() %}
        {% if directors|length > 0 %}
            <p>
                {{ 'movie.label.realisepar'|trans }} :
                {% for director in directors %}
                    <a href="{{ path('fdc_event_artist_get', {'slug': director.person.slug}) }}">{{ director.person.fullName }}</a>
                    {% if loop.index != directors|length %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
        <p class="information-movie">
            {% if movie.productionYear is not null and movie.productionYear != 0 %}
                {{ 'movie.label.anneedeproduction'|trans }} : <span>{{ movie.productionYear }}</span>
            {% endif %}
            {% if movie.countries|length > 0 %}
                {{ 'movie.label.pays'|trans }} : {% for country in movie.countries %}{% if loop.index != movie.countries|length %}
                <span id="TetiereMovieCountry">{{ country.country|trans_fallback('name') ~ ',' }} </span>{% else %}
                <span>{{ country.country|trans_fallback('name') }}</span>{% endif %}
            {% endfor %}
            {% endif %}
            {% if movie.duration is not null and movie.duration > 0 %}
                {% set duration = movie.duration|split('.') %}
                {{ 'movie.label.duree'|trans }} : {% if duration|length >= 1 %}
                <span>{{ duration[0] }} {{ 'movie.duration.minutes'|trans }}</span>{% endif %}
            {% endif %}
            {% if movie.publishedAt is not null and app.request.locale == 'fr' %}
                {{ 'movie.label.datedesortie'|trans }} :
                <span>{{ movie.publishedAt|localizeddate('long', 'none', app.request.locale) }}</span>
            {% endif %}
        </p>
    </div>
    {% if movie.awards|length > 0 %}
        <div class="palmares">
            {% set awardsUnique = [] %}
            {% for movieAward in movie.awards %}
                {% if movieAward.award and movieAward.award.prize %}
                    {% if movieAward.award.id not in awardsUnique %}
                        {% set awardsUnique = awardsUnique|merge([movieAward.award.id]) %}
                        <div class="palmares-item"><i class="icon icon-palme"></i>
                            <p>{{ movieAward.award.prize|trans_fallback('title')|trim }}{%- if movieAward.award.exAequo == 1 -%}{{ ' ' }}({{ 'award.ex_aequo'|trans }}){% endif %}
                                , {{ movieAward.award.festival.year }}</p></div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="info-film">
        <div class="synopsis">
            <h3 class="title-section">{% if movie|trans_fallback('synopsis') %}{{ 'movie.title.synopsis'|trans }}{% endif %}</h3>
            <p>{{ movie|trans_fallback('synopsis')|nl2br|raw }}</p>
        </div>
    </div>
</div>