

<nav class="navigation-sticky-02">
    <ul>
        {% for selectionTab in selectionTabs %}
            {% set selectionSlug = selectionTab|trans_fallback('slug')?:selectionTab.selectionSection|trans_fallback('slug') %}
            {% set selectionName = selectionTab|trans_fallback('overrideName')?:selectionTab.selectionSection|trans_fallback('name') %}
            <li class="{% if app.request.attributes.get('slug') == selectionSlug %}active{% endif %}">
                <a href="{{ path('fdc_corporate_movie_selection', {'slug': selectionSlug, 'year':app.request.attributes.get('year')}) }}">
                    {{ selectionName }}
                </a>
            </li>
        {% endfor %}
        {% if cannesClassics is defined and cannesClassics|length > 0 %}
            {% set transClassics = cannesClassics[0].findTranslationByLocale(app.request.locale) %}
            {% if transClassics is not empty and transClassics.slug is not empty %}
                <li class="{% if app.request.attributes.get('_route') == 'fdc_corporate_movie_classics' %}active{% endif %}">
                    <a href="{{ path('fdc_corporate_movie_classics', {'slug': transClassics.slug, 'year': app.request.attributes.get('year')}) }}">
                        {{ 'selection.nav.cannes-classics'|trans }}
                    </a>
                </li>
            {% endif %}
        {% endif %}

        <li class="{% if app.request.attributes.get('slug') == 'cinema-de-la-plage' %}active{% endif %}">
            <a href="{{ path('fdc_corporate_movie_selection', {'slug': 'cinema-de-la-plage', 'year':app.request.attributes.get('year')}) }}">
                {{ 'selection.nav.cinema-la-plage'|trans }}
            </a>
        </li>
    </ul>
</nav>