{% trans_default_domain 'FDCEventBundle' %}

{% if award_association.award is defined and not palmares_award_is_mutual_done(award_association.award, award_association.film) %}
    {% if award_association.award.filmMutual %}
        {{ palmares_award_mutual_set(award_association.award, award_association.film) }}
    {% endif %}

    {% if movie is not defined %}
        {% set movie = award_association.film %}
    {% endif %}

    {% set author = '' %}
{% endif %}

{% if award_association.award is defined and movie is defined and not award_done(award_association) %}
    <article class="block-movie-preview" style='background-image: url("{% spaceless %}
        {% include 'FDCCorporateBundle:Global:components/film.cover.html.twig' with ({
        film: movie,
        film_format: '976x535',
        display_film_path: true,
        film_image_default: '/bundles/fdccorporate/media/images/film_w256.jpg'
        }) %}
    {% endspaceless %}")'>
        <div class="bck-hover">
            <div class="wrapper-item">
                <div class="poster">
                    <a href="{{ path('fdc_corporate_movie_get', {slug: movie.slug}) }}">
                        {% include 'FDCCorporateBundle:Global:components/film.poster.html.twig' with ({
                        film: movie,
                        film_format: 'mobile',
                        film_attrs: {
                        alt: movie|trans_fallback('title')?:movie.titleVO,
                        'data-object-fit': 'cover'
                        },
                        film_image_default: '/bundles/fdccorporate/media/images/film_w256.jpg',
                        }) %}
                    </a>
                </div>
                <div class="infos">
                    {% if award_association is defined and award_association %}
                        {% if hidePalme is not defined or hidePalme == false %}
                            <i class="icon icon-palme"></i>
                            <strong class="name-award line">
                                {{ award_association.award.prize|trans_fallback('title') }}
                                {% if award_association.award.exAequo %}
                                    ({{ 'award.ex_aequo'|trans }})
                                {% endif %}
                                {% if award_association.award.unanimity %}
                                    ({{ 'award.unanimity'|trans }})
                                {% endif %}
                            </strong>
                        {% endif %}
                    {% endif %}
                    {% if award_association != '' and award_association.award.prize.type == constant('Base\\CoreBundle\\Entity\\FilmPrizeInterface::TYPE_PERSON') %}
                        {% if award_association.award.filmMutual %}
                            <strong class="name-f line">
                                {% for assocationMutual in award_association.award.associations %}
                                    {% set person = assocationMutual.person %}
                                    {{ person.fullName }}{{ loop.last == true ? '' : ',' }}
                                {% endfor %}
                            </strong>
                        {% else %}
                            {% set person = award_association.person %}
                            <strong class="name-f line">
                                {{ person.fullName }}
                            </strong>
                        {% endif %}
                    {% endif %}
                    {% if camera is defined %}
                        <strong class="name-fb">{{ movie.selectionSection|trans_fallback('name') }}</strong>
                    {% endif %}
                    <br/>
                    <a href="{{ path('fdc_corporate_movie_get', {slug: movie.slug}) }}">
                        <strong class="name-f">{{ movie.titleVO }}</strong>
                        {% if movie|trans_fallback('title') != movie.titleVO and movie|trans_fallback('title') %}<strong
                                class="name-fb">({{ movie|trans_fallback('title') }})</strong>{% endif %}
                    </a>
                    <div class="wrapper-author">
                        {% spaceless %}
                            {% set author = '' %}
                            {% for director in movie.getDirectors() %}
                                {% if loop.first == false %}
                                    {% set author = author ~ ', ' %}
                                {% endif %}

                                {% set author = author ~ '<a class="names-a" href="' ~ path('fdc_corporate_artist_get', {slug: director.person.slug }) ~ '">' %}
                                {% set author = author ~ director.person.fullName %}
                                {% set author = author ~ '</a>' %}
                            {% endfor %}
                            {{ author|raw }}
                        {% endspaceless %}
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endif %}