{% extends 'FDCCourtMetrageBundle::base.html.twig' %}

{% block main %}
    <div id="main" class="list-article jurys-list loading">
        {% include 'FDCCourtMetrageBundle:Competition/partials:competitionSubHeader.html.twig' with {
                'selectionTab': selectionTab,
                'isSelection': false,
                'juryTab': juryTab,
                'isJury': true,
                'palmaresTab': palmaresTab,
                'isPalmares': false
            }
        %}
        <div class="container-jurys">
            <div class="container container-list">
                <section class="categorie-items contain-jury">
                    {% if president %}
                        <a href="{{ path('fdc_court_metrage_artist', {'slug': president['jury'].person.slug}) }}">
                            {%- if president['jury'].person.presidentJuryImage is defined and president['jury'].person.presidentJuryImage|trans_fallback('file') -%}
                                {% set media = president['jury'].person.presidentJuryImage|trans_fallback('file') %}
                            {%- else -%}
                                {% set media = jury_page_media(president['jury'], app.request.locale, festival) %}
                            {%- endif -%}
                            <div class="photo-jury" style="background-image:url('{% path media, 'reference' %}')"></div>
                        </a>
                        <div class="contain-descript">
                            <h3 class="descript-title">{{ 'jury.president'|trans }}</h3>
                            <a href="{{ path('fdc_court_metrage_artist', {'slug': president['jury'].person.slug}) }}">
                                <h2 class="descript-name">{{ president['jury'].person.firstname }} {{ president['jury'].person.lastname }}</h2>
                            </a>
                            <span class="descript-rank">{{ president['jury'].person|profession_gender('profession') }} </span>
                            <p> {{ president['jury'].person|trans_fallback('biography') }}</p>
                        </div>
                    {% endif %}
                </section>
                <section class="categorie-items contain-jurys-list grid">
                    <h1 class="title-list-cat title">{{ 'jury.members'|trans }}</h1>
                    <div id="gridJurys" class="grid-wrapper">
                        <div class="grid-sizer"></div>
                        {% for member in members %}
                            <div class="jury-box item">
                                <a href="{{ path('fdc_court_metrage_artist', {'slug': member['jury'].person.slug}) }}">
                                    <div class="image">
                                        {% set artistImage = jury_page_media(member['jury'], app.request.locale, festival) %}
                                        {% if artistImage is not empty %}
                                            <img src="{% path artistImage, '384x485' %}" alt="{{ member['jury'].person.fullName }}"/>
                                        {% else %}
                                            <img src="{{ asset('bundles/fdccourtmetrage/img/jurys/member.jpg') }}" style="width: 384px; height: 485px;">
                                        {% endif %}
                                    </div>
                                    <div class="legend">
                                        <span class="name">{{ member['jury'].person.firstname }} {{ member['jury'].person.lastname }}</span>
                                        {% set profession =  member['jury'].person|profession_gender('profession') %}
                                        {% if profession %}
                                            <span class="rank" {{ member['jury'].person|content_lang('profession') }}>
                                                {{ profession }}
                                            </span>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            {% include 'FDCCourtMetrageBundle:Competition/partials:retrospective.html.twig' with {
                'isSelection': false,
                'isJury': true,
                'isPalmares': false
            }%}
        </div>
    </div>

{% include "FDCCourtMetrageBundle:Shared:breadcrumb.html.twig" with
    {"breadcrumb":
        [
        {
            "name" : 'breadcrumb.home'|trans,
            "url"  : path('fdc_court_metrage_homepage')
        },
        {
            "name" : 'breadcrumb.competition'|trans,
            "url"  : path('fdc_court_metrage_competition_selection')
        },
        {
            "name" : juryTab.name,
            "url"  : path('fdc_court_metrage_competition_jury')
        }
        ]
    }
%}
{% endblock %}
