{% extends 'FDCMarcheDuFilmBundle::base.html.twig' %}

{% block main %}
    <div id="main" class="home loading">
        <div class="greyBckg">
            {% include 'FDCMarcheDuFilmBundle:shared:conferenceSubHeader.html.twig' %}
            <div class="bigContainer">
                <div class="text-presentation boxes boxesHeight">
                    <h3>{{ conferencePartnersPage.subtitle }}</h3>
                    <h5>{{ conferencePartnersPage.header|raw }}</h5>
                </div>
            </div>
        </div>
        <div class="greyBckg">
            <div class="bigContainer">
                <ul class="tabs tabsMargin">
                    {% if conferencePartnersTabs|length > 1 %}
                        {% for item in conferencePartnersTabs %}
                            <li class="{{ loop.index == 1 ? 'active ' : ''}}partnersTabs" rel="tab{{ loop.index }}"><h4 class="redActive{{ loop.index == 1 ? ' customClassRed' : ''}}">{{ item.title }}</h4>{{ item.subTitle }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="whiteBckg">
            <div class="tab_container">
                {% for logos in conferencePartnersLogos %}
                    <div id="tab{{ loop.index }}" class="tab_content">
                        <div class="tabbing">
                            {% for item in logos %}
                                <a href="{{ item.url ? item.url : '#' }}" target="_blank">
                                    <div class="tabpicturesBox"><img src="{% path item.translatable.image|trans_fallback('file'), 'reference' %}" style="width: 260px; height: 170px;"></div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'FDCMarcheDuFilmBundle:shared:floatingButtons.html.twig' %}
    {{ render(controller('FDCMarcheDuFilmBundle:Transverse:sliderAccreditation')) }}
    {% include 'FDCMarcheDuFilmBundle::partials/contactBlock.html.twig' with { 'contact': contact } %}
{% endblock %}
