{% extends 'FDCMarcheDuFilmBundle::base.html.twig' %}

{% block main %}
    <div id="main" class="home loading">
        <div class="text-presentation producersWorkshop opportunites mdf customClass4Bckg">
            {% if navServices[route_params["slug"]] is defined %}
                <h3>{{ navServices[route_params["slug"]] }}</h3>
            {% endif %}
            <div class="subNavigation">
                <nav>
                    <ul class="main">
                        {% if navServices is defined and navServices is not null %}
                            {% for url, service in navServices %}
                                <li>
                                    <a href="{{ url }}" {% if url == route_params["slug"] %} class="active customClass2" {% endif %}>{{ service }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    {% if serviceWidgets and serviceWidgets|length > 1 %}
        <div class="greyBckg">
    {% endif %}
            <div class="bigContainer">
                <div class="text-presentation boxes">
                    <h3>{{ service.subTitle }}</h3>
                    {# Formated in BO #}
                    <div class="customClass1">
                        {{ service.header|raw }}
                    </div>
                    {# End #}
                </div>
            </div>
    {% if serviceWidgets and serviceWidgets|length > 1 %}
        </div>
        <div class="greyBckg">
            <div class="bigContainer">
                <ul class="tabs">
                    {% set found = false %}
                    {% for widgetId, widget in serviceWidgets %}
                        <li class="{% if (serviceWidgets|first).id == widget.id and not found %} {% set found = true %}active{% endif %} quarterTab" rel="tab{{ widgetId }}"><h4>{{ widget.title }}</h4>{{ widget.subTitle }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
        <div class="whiteBckg">
            <div class="tab_container ">
                {% for widgetId, serviceProducts in serviceWidgets %}
                    <div id="tab{{ widgetId }}" class="tab_content">
                        {% set index = loop.index %}
                        {% for product in serviceWidgetProducts[widgetId] %}
                            <div class="minTab{% if not product.translatable.gallery or not product.translatable.gallery.medias.count() %} nopicTab{% endif %}">
                                {% if product.translatable.gallery and product.translatable.gallery.medias.count() > 1 %}
                                    <div class="tabPic">
                                        <div class="owl-pub owl-carousel owl-theme">
                                            {% for mediaGallery in product.translatable.gallery.medias %}
                                                <div class="item">
                                                    <img src="{% path mediaGallery.media|trans_fallback('file'), 'reference' %}" alt="Marché du film" style="width: 346px; height: 346px;">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% elseif product.translatable.gallery and product.translatable.gallery.medias.count() == 1 %}
                                    <div class="tabPic">
                                        <div class="item">
                                            <img src="{% path product.translatable.gallery.medias[0].media|trans_fallback('file'), 'reference' %}" alt="Marché du film" style="width: 346px; height: 346px;">
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="tabBox">
                                    <span class="customClass2">{{ product.title }}</span>
                                    {% if product.grayText is not null and product.colorText is not null%}
                                        <h5>{{ product.grayText }} <span class="fromPrice customClass1">{{ product.colorText }}</span></h5>
                                    {% endif %}
                                    <div class="tabContent">
                                        <p>{{ product.body }}</p>
                                    </div>
                                    {% if product.toggledBody is not null and product.toggledBody|length > 0 %}
                                        <input type="checkbox" class="read-more-state" id="post-{{ widgetId~product.id }}" style="opacity:0;"/>
                                        <div class="read-more-wrap">
                                            <div class="read-more-target">
                                                {# Formated in BO #}
                                                {{ product.toggledBody|raw }}
                                                {# End #}
                                            </div>
                                        </div>
                                        <i class='icon icon_flecheGauche opportuniteArrow customClass2'></i>
                                    {% endif %}
                                    {% if product.url is not null and product.url|length > 0 %}
                                        <label for="post-{{ widgetId~product.id }}" class="read-more-trigger"><a href="{{ product.url }}" target="_blank"><div  class="blueBtn
                                        customClass2 customClass2Border customClass2BckgColorHover">{{ 'book_service'|trans }}</div></a></label>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if service.contentBlockTitle is not null or service.contentBlockBody is not null %}
        <div class="tarifs customClass4Bckg">
            <div class="text-presentation">
                <h3>{{ service.contentBlockTitle }}</h3>
                <div class="tarifsBody customClass1 customClass7BckgColor">
                    {{ service.contentBlockBody|raw }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if navArrowsServices is defined and navArrowsServices is not null %}
        {% if navArrowsServices[0][route_params["slug"]] is defined and navArrowsServices[1][navArrowsServices[0][route_params["slug"]] - 1] is defined %}
            <div class="floatingButtonLeft">
                <div class="arrow showLeft">
                    <i class='icon icon_flecheGauche'></i>
                </div>
                <a href="{{ navArrowsServices[1][navArrowsServices[0][route_params["slug"]] - 1] }}">
                    <div class="floatingButtonText showLeft">{{ navServices[navArrowsServices[1][navArrowsServices[0][route_params["slug"]] - 1]] }}</div>
                </a>
            </div>
        {% endif %}
        {% if navArrowsServices[0][route_params["slug"]] is defined and navArrowsServices[1][navArrowsServices[0][route_params["slug"]] + 1] is defined  %}
            <div class="floatingButtonRight">
                <div class="arrow showRight">
                    <i class='icon icon_flecheGauche reverse'></i>
                </div>
                <a href="{{ navArrowsServices[1][navArrowsServices[0][route_params["slug"]] + 1] }}">
                    <div class="floatingButtonText showRight">{{ navServices[navArrowsServices[1][navArrowsServices[0][route_params["slug"]] + 1]] }}</div>
                </a>
            </div>
        {% endif %}
    {% endif %}

    {% include 'FDCMarcheDuFilmBundle::partials/newsBlock.html.twig' %}
    {% include 'FDCMarcheDuFilmBundle::partials/contactBlock.html.twig' %}

{% endblock main %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fdcmarchedufilm/js/festival-cannes/owl.carousel.min.js') }}"></script>
{% endblock %}