{% extends 'FDCCourtMetrageBundle::base.html.twig' %}

{% block main %}
    <div id="main" class="home loading eventsPage">
        <div class="list-article">
            <div class="bandeau-list">
                <div
                        class="bandeau-list-img bandeau-head vCenter subHeader eventsHeader"
                        style="background-image:url({% if program.getTranslatable().image %}{% path program.getTranslatable().image|trans_fallback('file'), 'reference' %}{% endif %})">
                    <h3>{{ program.title }}</h3>
                </div>
            </div>
        </div>


        {%  if program.body %}
            <div class="minPadding">
                <div class="container">
                    <h5 class="minMargin">{{ program.body }}</h5>
                </div>
            </div>
        {% endif %}

        <div class="bigContainer">
            <div id="accordion-conf" class="conferences">

                <div class="dropdown">
                    <span>{{ 'ccm.program.show'|trans }}</span>
                    <div id="eventSelector">
                        {% for filter in filters %}
                            <div class="selectText" id="filter-{{ filter.id }}">
                                {{ filter.title|title }}{% if loop.index < filters|length %},{% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="selector">
                    {% for filter in filters %}
                        <div class="selectbtn" id="selector-{{ filter.id }}" rel="filter-{{ filter.id }}">
                            {{ filter.title }}
                        </div>
                    {% endfor %}
                </div>
                <div class="conferencesMenu">
                    {% set beforeEvent = daysCollection|length ? ("now"|date("Y-m-d") < (daysCollection|first).day.dateEvent|date("Y-m-d")) : false %}
                    <ul>
                        {% for dayCollection in daysCollection %}
                            {% set openedDay = (("now"|date("Y-m-d") == dayCollection.day.dateEvent|date("Y-m-d")) or (beforeEvent and loop.index == 1)) %}
                            <li class="{% if openedDay %}open-selected-conf{% endif %}">
                                <div class="open">
                                    {{ dayCollection.day.dateEvent|date('d') }} {{ dayCollection.day.dateEvent|localizeddate('none', 'full', null, null, "MMMM")|slice(0, 3) }} {{ dayCollection.day.dateEvent|date('Y') }}
                                    <span class="openPlus {% if openedDay %}noDisplay{% endif %}">
                                        <i class="icon icon_creer"></i>
                                    </span>
                                    <span class="openMinus {% if openedDay %}doDisplay{% endif %}">
                                        <i class="icon icon_moins"></i>
                                    </span>
                                </div>
                                <div class="content firstContent">
                                    <div class="parent">
                                        <!-- The base class is the box. Categories are then given as accessory classes. Any div can be in more than one category -->
                                        {% for scheduleCollection in dayCollection.day.schedulesCollection %}
                                            <div class="box events selector-{{ scheduleCollection.schedule.scheduleType|trans_fallback('id') }}">
                                                <div class="conf10"><p>{{ scheduleCollection.schedule.scheduleType|trans_fallback('title') }}</p></div>
                                                <div class="conf60">
                                                    <h6 class="conf60title">{{ scheduleCollection.schedule|trans_fallback('title') }}</h6>
                                                    <span>{{ scheduleCollection.schedule|trans_fallback('title') }}</span>
                                                    {{ scheduleCollection.schedule|trans_fallback('description')|raw }}
                                                    {% if scheduleCollection.schedule|trans_fallback('url') %}
                                                        <a href="{{ scheduleCollection.schedule|trans_fallback('url') }}" target="_blank">
                                                            <div class="confButton">
                                                                <i class="icon icon_flecheGauche ensavoirplus"></i>
                                                                {{ 'ccm.program.see_more'|trans }}
                                                            </div>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                                <div class="conf30">
                                                    <div>
                                                        <span>{{ 'ccm.program.access_type'|trans }}</span>
                                                        <p>{{ scheduleCollection.schedule|trans_fallback('accessType') }}</p>
                                                    </div>
                                                    <div>
                                                        <span>{{ 'ccm.program.time'|trans }}</span>
                                                        <p>{{ scheduleCollection.schedule|trans_fallback('timeDetails') }}</p>
                                                    </div>
                                                    <div>
                                                        <span>{{ 'ccm.program.location'|trans }}</span>
                                                        <p>{{ scheduleCollection.schedule|trans_fallback('location') }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="share" id="share" >
            <p>{{ 'ccm.news.share_article'|trans }}</p>
            <div class="buttons square">
                {% set currentUrl = app.request.schemeAndHttpHost ~ app.request.requestUri %}
                {% spaceless %}
                    <a href="http://www.facebook.com/dialog/feed?app_id=1198653673492784&link={{ currentUrl }}&picture={% if program.translatable.image is not null %}{% path program.translatable.image|trans_fallback("file"), "reference" %}{% endif %}&title={{ program.title|url_encode(true) }}&description={% if program.body is not null %}{{ program.body|striptags|raw }}{% else %}Festival%20de%20Cannes{% endif %}&redirect_uri=http://www.festival-cannes.com/fr/sharing&display=popup"
                       rel="nofollow" class="button facebook news-fb-share">
                        <i class="icon icon_facebook"></i>
                    </a>
                {% endspaceless %}
                <a href="//twitter.com/intent/tweet?text={{ program.title ~ ' ' ~ currentUrl }}" class="button twitter"><i class="icon icon_twitter"></i>
                </a>
                <a href="#" class="button link self"><i class="icon icon_link"></i></a>
                <a href="#" class="button email self"><i class="icon icon_lettre"></i></a>
                <a onclick="javascript:window.print()" href="#" class="button print"><i class="icon icon_print"></i></a>
            </div>
        </div>

        {% for key, position in positions %}
            {% if key == 'catalog' %}
                {% if catalogIsActive == 1 %}
                    {{ render(controller('FDCCourtMetrageBundle:Transverse:catalog')) }}
                {% endif %}
            {% elseif key == 'actualite' %}
                {% if actualiteIsActive == 1 %}
                    {{ render(controller('FDCCourtMetrageBundle:Transverse:actualite')) }}
                {% endif %}
            {% elseif key == 'sejour' %}
                {% if sejourIsActive == 1 %}
                    <div class="list-article">
                        <div class="bandeau-list">
                            {% if sejour is defined and sejour is not null %}
                                {% include 'FDCCourtMetrageBundle::homepage/_sejour.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% elseif key == 'social'%}
                {% if socialIsActive == 1 %}
                    {{ render(controller('FDCCourtMetrageBundle:SocialWall:social')) }}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% include "FDCCourtMetrageBundle:Shared:breadcrumb.html.twig" with
            {"breadcrumb":
                [
                    {
                        "name" : 'breadcrumb.home'|trans,
                        "url"  : path('fdc_court_metrage_homepage')
                    },
                    {
                        "name" : 'breadcrumb.programe'|trans,
                        "url"  :  path('fdc_court_metrage_program')
                    }
                ]
            }
        %}

        {{ render(controller('FDCCourtMetrageBundle:Default:shareEmail',
        {'section': 'Short Film Corner',
            'detail': program.createdAt|date('d.m.y'),
            'title': program.title,
            'description': program.body is not null ? program.body|slice(0, 230) ~ '...' : '',
            'url': url(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))
        })) }}

    </div>
{% endblock %}
