{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
<div id="main" class="all-photos grid loading">
    <h2 class="title">{{ 'article.photos.title.touteslesphotos'|trans }}</h2>

    {% include 'FDCEventBundle:News:components/filters.html.twig' %}

    <div id="gridPhotos" class="grid-wrapper">
        <div class="grid-sizer"></div>

        {% for photo in photos %}
            <div class="item {{ photo.theme|trans_fallback('slug') }} {{ photo.publishedAt|date('d-m-y') }} shadow-bottom photo">
                {% set trans = photo.findTranslationByLocale(app.request.locale) %}
                {% if trans is null or trans.file is null %}
                    {% set trans = photo.findTranslationByLocale('fr') %}
                {% endif %}
                <a id="photo1" class="ajax chocolat-image" href="{% path trans.file , 'reference' %}"
                   title='<span class="category">{{ photo.theme }}</span><span class="date">{{ photo|trans_fallback('publishAt')|date('d.m.y') }}</span><h2>{{ photo|trans_fallback('legend') }}</h2>'
                   data-credit="{{ photo.copyright }}"></a>
                {% thumbnail trans.file , '1144x724' with {'alt': photo|trans_fallback('alt') } %}
                <div class="picto">
                    <i class="icon icon_photo"></i>
                </div>
                <div class="info">
                    <div class="vCenter">
                        <div class="vCenterKid">
                            <a href="#" class="category">{{ photo.theme|trans_fallback('name') }}</a>
                            <span class="date">{{ photo.publishedAt|date('d.m.y')}}</span> . <span class="hour">{{ photo.publishedAt|date('H:i') }}</span>
                            <p>{{ photo|trans_fallback('legend') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

<!-- BREADCRUMB -->
{% include "FDCEventBundle:Global:breadcrumb.html.twig" with
{"breadcrumb":
[
    {
        "name" : 'header.mainnav.nav.jourapresjour'|trans ,
        "url"  : path('fdc_event_news_index')
    },
    {
        "name" : 'header.mainnav.nav.photos'|trans ,
        "url"  : path('fdc_event_news_getphotos')
    },
]
} %}
{% endblock %}



