{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% javascripts '@FDCEventBundle/Resources/public/js/vendor.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@FDCEventBundle/Resources/public/js/app.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>jwplayer.key="{{ jwplayer_key }}";</script>
    <script type="text/javascript">
        $(document).on('click','form#newsletter #submit',function(event){
            event.preventDefault();
            event.stopPropagation();
            var input = $('.newsletter #email');

            $.ajax({
                type     : "POST",
                dataType : "json",
                cache    : false,
                url      : GLOBALS.urls.newsletterUrl,
                data     : $('form#newsletter').serialize(),
                success: function(data) {
                    if (data.success == false) {
                        input.addClass("error").val(data.object);
                    }
                    else {
                        $('.newsletter form').addClass('hide');
                        $('#confirmation span').html($('#email').val());
                        $('#confirmation').addClass('show');
                    }
                }
            });
        });
        $(document).on('click','form#form #share_mail',function(event) {
            event.preventDefault();
            event.stopPropagation();

            var $that = $(this);
                empty = false;

            if ($('select').val() == 'default') {
                $('.select').addClass('invalid');
            } else {
                $('.select').removeClass('invalid');
            }

            $that.closest('.popin-mail').find('input[type="text"], input[type="email"], textarea').each(function () {
                if ($(this).val() == '') empty = true;
            });

            if (empty) {
                $that.closest('.popin-mail').find('input[type="email"], input[type="text"], textarea').trigger('input');
            }

            if ($('.invalid').length || empty) {
                return false;
            } else {
                var u = $that.closest('.popin-mail').hasClass('media') ? GLOBALS.urls.shareEmailMediaUrl : GLOBALS.urls.shareEmailUrl;

                $.ajax({
                    type     : "POST",
                    dataType : "json",
                    cache    : false,
                    url      : u,
                    data     : $that.closest('.popin-mail').find('form#form').serialize(),
                    success: function (data) {
                        if (data.success == false) {

                        }
                        else {
                            // TODO envoie du mail //
                            $that.closest('.popin-mail').find('#form').remove();
                            $that.closest('.popin-mail').find('.info-popin').remove();
                            $that.closest('.popin-mail').find('.contain-popin').append('<div class="valid">' + GLOBALS.texts.popin.valid + '</div>');
                            $that.closest('.popin-mail').css('height', '31%');
                            return false;
                        }
                    }
                });
            }
        });

        $(document).on('click','.trailer-btn', function(event){
            event.preventDefault();
            event.stopPropagation();

            $.ajax({
                type  : "POST",
                cache : false,
                url   : GLOBALS.urls.pressDownloadTrailerUrl,
                data  : {'id': $('.trailer-btn').attr('data-film')},
                success: function(data) {
                    $('#main').append(data).addClass('overlay-popin');
                    $('#popin-download-press').addClass('visible-popin');
                }
            });

        });
        
        $(document).on('click','.press-media .nav-mediapress td', function(event) {
            event.preventDefault();
            event.stopPropagation();
        });
        $(document).on('click','.read-more', function(event){
            event.preventDefault();
            event.stopPropagation();
        });
        // Surcharge de l'AjaxEvent de press.module.js
        // A adapter
        $(document).on('click','.read-more', function(){

            var offset = $(this).attr('data-offset');
            $(this).attr('data-offset', parseInt(offset) + GLOBALS.news.count );

            $.ajax({
                type  : "POST",
                cache : false,
                url   : GLOBALS.urls.loadPressReleaseUrl,
                data  : {'offset': offset},
                success: function(data) {
                    $('#gridAudios .item:last-child').after(data);
                }
            });
        });
    </script>
{% endblock %}