{% block javascripts %}

    <!-- //// FOSJsRouting \\\\ -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <!-- //// Vendors \\\\ -->
    {% javascripts '@FDCEventBundle/Resources/public/js/vendor.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- //// Script \\\\ -->
    {% javascripts '@FDCEventBundle/Resources/public/js/app.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>jwplayer.key="{{ jwplayer_key }}";</script>

    <script type="text/javascript">

        $(document).on('click','form#newsletter #submit',function(event){

            event.preventDefault();
            event.stopPropagation();
            var input = $('.newsletter #email');

            $.ajax({
                type: "POST",
                dataType: "json",
                cache: false,
                url: GLOBALS.urls.newsletterUrl,
                data: $('form#newsletter').serialize(),
                success: function(data) {
                    if (data.success == false) {
                        input.addClass("error").val(data.object);
                    }
                    else {
                        $('.newsletter form').addClass('hide');
                        $('#confirmation span').html($('#email').val());
                        $('#confirmation').addClass('show');
                    }
                }
            });
        });

        $(document).on('click','form#form #share_mail',function(event) {

            event.preventDefault();
            event.stopPropagation();

            var empty = false;

            if ($('select').val() == 'default') {
                $('.select').addClass('invalid');
            } else {
                $('.select').removeClass('invalid');
            }

            $('.popin-mail input[type="text"], .popin-mail input[type="email"], .popin-mail textarea').each(function () {
                if ($(this).val() == '') empty = true;
            });

            if (empty) {
                $('.popin-mail input[type="email"], .popin-mail input[type="text"], textarea').trigger('input');
            }

            if ($('.invalid').length || empty) {
                return false;
            }else{
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    cache: false,
                    url: GLOBALS.urls.shareEmailUrl,
                    data: $('form#form').serialize(),
                    success: function (data) {
                        if (data.success == false) {

                        }
                        else {
                            // TODO envoie du mail //
                            $('#form').remove();
                            $('.info-popin').remove();
                            $('.contain-popin').append('<div class="valid">' + GLOBALS.texts.popin.valid + '</div>');
                            $('.popin-mail').css('height', '31%');
                            return false;
                        }
                    }
                });
            }
        });

        $('#_submit').on('click', function(e){
            e.preventDefault();
            e.stopPropagation();

            $('form#lockedForm').submit();
        });

        $(document).on('click','.trailer-btn', function(event){
            event.preventDefault();
            event.stopPropagation();

            $.ajax({
                type: "POST",
                cache: false,
                url: GLOBALS.urls.pressDownloadTrailer,
                data: {'id': $('.trailer-btn').attr('data-film')},
                success: function(data) {
                    $('#main').append(data).addClass('overlay-popin');
                    $('#popin-download-press').addClass('visible-popin');
                }
            });

        })


    </script>

{% endblock %}