{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/fdceventmobile/css/channel.css"
        "bundles/fdceventmobile/css/trailer_custom.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
<div id="main" class="channel" data-menu="webtv channels">

    {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
    {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}

    <div class="fullscreenplayer">
        <div class="close-button"><i class="icon icon_close"></i></div>
        <div class="vCenter">
            <div class="vCenterKid">
                <div id="player1"></div>
                <p class="category caption">Conférence de presse</p>
                <p class="title-video">Rencontre avec l'équipe de Carol</p>
            </div>
        </div>
    </div>
    <div class="slideshow dark-container">
        <h2 class="title">{{ channel|trans_fallback('name') }}</h2>
        <div class="images">
        {% set firstVideo = false %}
        {% set first = true %}
        {%- for video in webTvVideos %}
            {%- set trans = video.findTranslationByLocale(app.request.locale) -%}
            {% if video.image %}
                {% set videoImage = media_public_url(video.image|trans_fallback('file'), '463x292') %}
            {% elseif video|trans_fallback('imageAmazonUrl') %}
                {% set videoImage = s3_server_video ~ video|trans_fallback('imageAmazonUrl') %}
            {% endif %}
            {%- if trans is null or trans.file is null -%}
                {%- set trans = video.file.findTranslationByLocale('fr') -%}
            {%- endif -%}
            {% if videoImage is defined %}
                {% if firstVideo == false %}
                    {% set firstVideo = video %}
                    <div id="player"
                         {% if(firstVideo.jobWebmState == 3) %}data-video="{{ s3_server_video ~ firstVideo.webmUrl }}"{% else %}}data-video="{{ s3_server_video ~ firstVideo.mp4Url }}"{% endif %}
                         data-poster="{{ videoImage }}">
                    </div>
                    </div>
                    <div class="container">
                        <h3 class="title-video"></h3>
                        <span class="time"></span>
                        <p class="caption"></p>
                    </div>
                    <div class="owl-carousel thumbnails">
                {% endif %}

            <div class="thumb item {% if firstVideo != false %}active{% endif %}"
                 data-id="photo{{ loop.index }}"
                 data-time="{{ video.publishedAt|date('d.m.y') }} {{ agenda_leftbar_translate_hour(video.publishedAt|date('H:i'), true, true) }}"
                 data-video="{{ s3_server_video ~ video|trans_fallback('mp4Url') }}"
                 data-poster='{{ videoImage }}'>
                {% if videoImage %}
                    <img src="{{ videoImage }}" alt="">
                {% endif %}
                <div class="info">
                    <div class="picto">
                        <i class="icon icon_video"></i>
                    </div>
                    <div class="info-container">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                <a href="#" class="category">{{ video.theme|trans_fallback('name') }}</a>
                                <a href="#" class="titleLink">{{ video|trans_fallback('title') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%- endif -%}
        {% if loop.last %}
            </div>
        {% endif %}
    {%- endfor -%}
    </div>

    {% if otherVideos|length %}
    <div class="dark-container featured-videos" id="">
        <div class="container">
            <h2 class="title">{{ 'webtv.direct.title.lesdernieresvideos'|trans }}</h2>
        </div>
        <div id="slider-last-videos" class="owl-carousel sliderDrag videosSlider">
            {% for video in otherVideos %}
                <div class="vid item-video"
                     data-vid="{{ video.id }}"
                     data-video='{{ s3_server_video ~ video|trans_fallback('mp4Url') }}'
                     {% if video.image|trans_fallback('file') %}
                     data-poster="{% path video.image|trans_fallback('file'), '463x292' %}"
                     {% elseif video.image|trans_fallback('imageAmazonUrl') %}
                     data-poster="{{ s3_server_video ~ video.image|trans_fallback('imageAmazonUrl') }}"
                     {% else %}
                     data-poster="{% path video.image|trans_fallback('file', 'fr'), '463x292' %}"
                     {% endif %}>
                    <div class="image-wrapper">
                        {% if video.image|trans_fallback('file') %}
                            <div class="img" style="background-image:url({% path video.image|trans_fallback('file'), '463x292' %})"></div>
                        {% endif %}
                    </div>
                    <div class="info">
                        <div class="picto vCenter">
                            <div class="vCenterKid"><i class="icon icon_video"></i></div>
                        </div>
                        <div class="info-container">
                            <div class="vCenter">
                                <div class="vCenterKid">
                                    <a href="#" class="category">{{ video.theme|trans_fallback('name') }}</a>
                                    <a href="#" class="date">{{ video.publishedAt|date('d.m.y') }} {{ agenda_leftbar_translate_hour(video.publishedAt|date('H:i'), true, true) }}</a>
                                    <a href="#" class="titleLink">{{ video|trans_fallback('title')|truncate( 40, true, '...') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock body %}

{% block javascripts %}
    {% javascripts
        '@FDCEventMobileBundle/Resources/public/js/channel.js'
        '@FDCEventMobileBundle/Resources/public/js/trailer_custom.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}