{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "bundles/fdceventmobile/css/channels.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}


{% block body %}
<div id="main" class="articles" data-menu="webtv channels">
    {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
    {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}

    <div class="banner-img vCenter" style="background-image:url('{% if page.image  and page.image|trans_fallback('status') %}{% path page.image|trans_fallback('file'), '976x535' %}{% endif %}');">
        <div class="vCenterKid">
            <i class="icon-mobile-chaines"></i>
            <h2 class="title one-line">{{ 'webtv.channel.title.leschaines'|trans }}</h2>
        </div>
    </div>

    <div class="grid list">
        {% for group in channelsVideos %}
        <div class="grid-item grid-item--small {{ group.channel.publishedAt|date('d-m-Y') }} {{ group.channel.theme }}">
            <a href="{{ path('fdc_eventmobile_television_getchannel', { 'slug': group.channel|trans_fallback('slug') }) }}"></a>
            <div class="img-container">
                <div class="infos">
                    <div class="picto"><i class="icon icon_playlist"></i></div>
                    <div class="right">
                        <p class="category">{{ group.channel|trans_fallback('name') }}</p>
                        <p>{{ 'webtv.direct.nb_videos'|transchoice(group.nbVideos) }}</p>
                    </div>
                </div>
                <div class="img" style="background-image:url(
                    {% if group.channel.image|trans_fallback('file') %}
                        {% set webTvImageFile = group.channel.image|trans_fallback('file') %}
                        {% path webTvImageFile, '640x404' %}
                    {% elseif get_available_webtv_image_file(group.video.image, true) %}
                        {% set webTvImageFile = get_available_webtv_image_file(group.video.image, true) %}
                        {% path webTvImageFile, '640x404' %}
                    {% elseif group.video|trans_fallback('imageAmazonUrl') %}
                        {{ s3_server_video ~ group.video|trans_fallback('imageAmazonUrl') }}
                    {% endif %}
                    )">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}


{% block javascripts %}
    {% javascripts '@FDCEventMobileBundle/Resources/public/js/channels.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}
