{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/fdceventmobile/css/webtv.css"
        "bundles/fdceventmobile/css/webtv_custom.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}


{% block body %}
<div id="main" class="webtv" data-menu="webtv live">

    {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
    {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}

    <div class="fullscreenplayer">
        <div class="close-button"><i class="icon icon_close"></i></div>
        <div class="vCenter">
            <div class="vCenterKid m-video">
                <div id="player1"></div>
                <p class="category">Conférence de presse</p>
                <span class="date"></span>
                <span class="hour"></span>
                <p class="title-video">Rencontre avec l'équipe de Carol</p>
            </div>
        </div>
    </div>

    <div id="banner-top">
        <div class="banner-video ">
            <div class="video-container m-video" style="background-image:url({% if page.image and page.image|trans_fallback('file') %}{% path page.image|trans_fallback('file'), '1280x808' %}{% endif %});">
                {% if videoUrl %}
                <div id="player" data-video="{{ videoUrl }}" data-poster="{% if page.image and page.image|trans_fallback('file') %}{% path page.image|trans_fallback('file'), '1280x808' %}{% endif %}"></div>
                {% endif %}
            </div>
            <p class="title-video"></p>
        </div>
        <div class="banner-img vCenter active" style="background-image:url({% if page.image and page.image|trans_fallback('file') %}{% path page.image|trans_fallback('file'), '1280x808' %}{% endif %});">
            <div class="vCenterKid banner-img-text">
                <h2 class="title tall">
                    {{ page|trans_fallback('title')|raw }}
                </h2>
                {% if videoUrl %}
                <p class="off show"><i class="icon-mobile-web-tv-play"></i></p>
                {% elseif page.live == false %}
                <p class="before">
                        {{- page.firstSubHead -}}
                        <span>{{ page.secondSubHead }}</span>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% if page.doNotDisplayWebTvArea == false %}
        <div class="dark-container featured-videos" id="">
            <h2 class="title">{{ 'webtv.direct.title.leschainesdufestival'|trans }}</h2>
            <p class="link">
                <a href="{{ path('fdc_eventmobile_television_channels') }}">
                    <i class="icon icon_fleche-right"></i>
                    {{ 'webtv.direct.btn.toutesleschaines'|trans }}
                </a>
            </p>
            <div id="slider-videos" class="owl-carousel sliderDrag videosSlider">
                {% for group in sliderChosenChannels %}
                {% if group.channel.image or (group.channelVideos|length and group.channelVideos|first.image) %}
                    {% set format = '640x404' %}
                    <div class="vid">
                        {{ block('WebTvLiveChannel') }}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if page.doNotDisplayTrailerArea == false %}
    <div class="dark-container featured-videos">
        <div class="container">
            <h2 class="title tall">{{ 'webtv.direct.title.lesbandesannonces'|trans }}</h2>
        </div>
        <p class="link">
            <a href="{{ path('fdc_eventmobile_television_trailers') }}">
                <i class="icon icon_fleche-right"></i>
                {{ 'webtv.direct.btn.touteslesbandesannonces'|trans }}
            </a>
        </p>
        <div id="slider-trailer" class="owl-carousel sliderDrag videosSlider">
            {% for trailer in trailers %}
                <div class="vid">
                    <div class="image-wrapper">
                        <div class="img" style="background-image:url({% path trailer.image|trans_fallback('file'), '1950x1232' %})"></div>
                    </div>
                    <a class="linkVid"
                       href="{{ path('fdc_eventmobile_television_gettrailer', {'slug': trailer.associatedFilms|first.association.slug, 'video': trailer.id}) }}"></a>
                    <div class="info">
                        <div class="picto vCenter">
                            <div class="vCenterKid"><i class="icon icon_playlist"></i></div>
                        </div>
                        <div class="info-container">
                            <div class="vCenter">
                                <div class="vCenterKid">
                                    <a href="#" class="category">{{ trailer.theme|trans_fallback('name') }}</a>
                                    <span class="date">{{ trailer.publishedAt|date('d.m.Y') }}</span> .
                                    <span class="hour">{{ agenda_leftbar_translate_hour(trailer.publishedAt|date('H:i'), true, true) }}</span>
                                    <a href="#" class="titleLink">{{ trailer|trans_fallback('title')|truncate(85) }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if page.doNotDisplayLastVideosArea == false %}
    <div class="dark-container featured-videos">
        <div id="content-latest">
            <div class="container">
                <h2 class="title">{{ 'webtv.direct.title.lesdernieresvideos'|trans }}</h2>
            </div>
            <div id="slider-last-videos" class="owl-carousel sliderDrag videosSlider">
                {% for video in lastVideos %}
                    <div class="vid item-video"
                         {#data-vid="{{ video.id }}"#}
                        {% set transVideo = video.findTranslationByLocale(app.request.locale) %}
                        {% if transVideo is null %}
                            {% set transVideo = video.findTranslationByLocale('fr') %}
                        {% endif %}
                        {% if(transVideo.jobWebmState == 3) %}
                            data-webmurl="{{ s3_server_video ~ transVideo.webmUrl }}"
                        {% endif %}
                        {% if transVideo.jobMp4State == 3 %}
                            data-mp4url="{{ s3_server_video ~ transVideo.mp4Url }}"
                        {% endif %}
                        {% if video.image|trans_fallback('file') %}
                            data-poster="{% path video.image|trans_fallback('file'), '463x292' %}"
                        {% else %}
                            data-poster="{% path video.image|trans_fallback('file', 'fr'), '463x292' %}"
                        {% endif %}>
                        <div class="image-wrapper">
                            {% if video.image|trans_fallback('file') %}
                                <div class="img" style="background-image:url({% path video.image|trans_fallback('file'), '463x292' %})"></div>
                            {% endif %}
                        </div>
                        <a class="linkVid" href="#"></a>
                        <div class="info">
                            <div class="picto vCenter">
                                <div class="vCenterKid"><i class="icon icon_video"></i></div>
                            </div>
                            <div class="info-container">
                                <div class="vCenter">
                                    <div class="vCenterKid">
                                        <a href="#" class="category">{{ video.theme|trans_fallback('name') }}
                                        <span class="date">{{ video.publishedAt|date('d.m.Y') }}</span> .
                                        <span class="hour">{{ agenda_leftbar_translate_hour(video.publishedAt|date('H:i'), true, true) }}</span></a>
                                        <a href="#" class="titleLink">{{ video|trans_fallback('title')|truncate(50) }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock body %}

{% block WebTvLiveChannel %}
<div class="image-wrapper">
    {% set channel = group.channel %}
    {% set channelVideos = group.channelVideos %}
    {% set count = group.channelVideos|length %}
    <div class="img" style="background-image:url(
        {% if channel.image and channel.image|trans_fallback('file') %}
            {% path channel.image|trans_fallback('file'), format %}
        {% elseif channelVideos|length and channelVideos|first.image and channelVideos|first.image|trans_fallback('file') %}{# If channel image does not exist #}
            {% path channelVideos|first.image|trans_fallback('file'), format %}
        {% endif %}
    )"></div>
</div>
<a class="linkVid"
   href="{{ path('fdc_eventmobile_television_getchannel', {'slug': channel|trans_fallback('slug')}) }}"></a>
<div class="info">
    <div class="picto vCenter">
        <div class="vCenterKid"><i class="icon icon_playlist"></i></div>
    </div>
    <div class="info-container">
        <div class="vCenter">
            <div class="vCenterKid">
                <a href="{{ path('fdc_eventmobile_television_getchannel', {'slug': channel|trans_fallback('slug')}) }}"
                   class="category">
                    {% if cropTitle is defined and cropTitle %}
                        {{ (channel|trans_fallback('name'))|truncate(25) }}
                    {% else %}
                        {{ channel|trans_fallback('name') }}
                    {% endif %}
                </a>
                <a href="#" class="titleLink">{{ 'webtv.direct.nb_videos'|transchoice(count) }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock WebTvLiveChannel %}

{% block javascripts %}
    {% javascripts
        '@FDCEventMobileBundle/Resources/public/js/webtv.js'
        '@FDCEventMobileBundle/Resources/public/js/webtv_custom.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}
