{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/fdceventmobile/css/trailer.css"
        "bundles/fdceventmobile/css/article_custom.css"
        "bundles/fdceventmobile/css/trailer_custom.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="main" class="ba" data-menu="webtv trailers">

    {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
    {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}
        <div class="slideshow dark-container">
            <h2 class="title">{{ film.titleVo }}</h2>
            <div class="slideshow-img">
            {% for video in videos %}
                {%- set trans = video.findTranslationByLocale(app.request.locale) -%}
                {% if video.image %}
                    {% set videoImage = media_public_url(video.image|trans_fallback('file'), '463x292') %}
                {% elseif video|trans_fallback('imageAmazonUrl') %}
                    {% set videoImage = s3_server_video ~ video|trans_fallback('imageAmazonUrl') %}
                {% endif %}
                {%- if trans is null or trans.file is null -%}
                    {%- set trans = video.file.findTranslationByLocale('fr') -%}
                {%- endif -%}
                {% if loop.first %}
                <div class="images m-video">
                    <div id="player"
                        {% if(trans.jobWebmState == 3) %}data-video="{{ s3_server_video ~ trans.webmUrl }}"{% else %}}data-video="{{ s3_server_video ~ trans.mp4Url }}"{% endif %}
                     data-poster="{{ videoImage }}"></div>
                    <div class="container">
                        <h3 class="title-video"></h3>
                        <span class="time"></span>
                        <p class="caption"></p>
                    </div>
                </div>
                <div class="owl-carousel thumbnails">
                {% endif %}
                <div data-id="photo{{ video.id }}"class="thumb {% if loop.first %}active{% endif %}"
                 data-time="{{ video.publishedAt|date('d.m.y') }} {{ agenda_leftbar_translate_hour(video.publishedAt|date('H:i'), true, true) }}"
                 data-video="{{ s3_server_video ~ video|trans_fallback('mp4Url') }}"
                 data-poster='{{ videoImage }}'>
                    {% if video.image and video.image|trans_fallback('file') %}
                        {% set videoImage = media_public_url(video.image|trans_fallback('file'), '293x185') %}
                        {% set alt = video.image|trans_fallback('alt') %}
                    {% elseif video|trans_fallback('imageAmazonUrl') %}
                        {% set videoImage = s3_server_video ~ video|trans_fallback('imageAmazonUrl') %}
                        {% if video.image %}
                            {% set alt = video.image|trans_fallback('alt') %}
                        {% else %}
                            {% set alt = '' %}
                        {% endif %}
                    {% endif %}
                    <img src="{{ videoImage }}" alt="{{ alt }}"/>
                    <div class="info">
                        <div class="picto"><i class="icon icon_video"></i></div>
                        <div class="info-container">
                            <div class="vCenter">
                                <div class="vCenterKid">
                                    <a href="#" class="category">{{ video.theme|trans_fallback('name') }}</a>
                                    <a href="#" class="titleLink">{{ video|trans_fallback('title') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="dark-container informations-video">
        <ul class="nav">
            <li class="active infos-film-li">{{ 'trailer.nav.film'|trans }}</li>
            <li class="program-film-li">{{ 'trailer.nav.programmation'|trans }}</li>
        </ul>
        <div class="container-video">
            <div class="infos-film block">
                <a href="{{ path('fdc_eventmobile_movie_get', {'slug': film.slug}) }}">
                    {% include 'FDCEventMobileBundle:Global:components/film.poster.html.twig' with ({
                        film: film,
                        film_format: '293x397',
                        film_attrs: {
                            alt: film|trans_fallback('title')?:movie.titleVO
                        },
                        film_image_default: 'bundles/fdcevent/img/palmares/film_w293.jpg',
                    }) %}
                </a>
                <a href="{{ path('fdc_eventmobile_movie_get', {'slug': film.slug}) }}">
                    <h4 class="rubric-film">{{ film.selectionSection|trans_fallback('name') }}</h4>
                </a>
                <a href="{{ path('fdc_eventmobile_movie_get', {'slug': film.slug}) }}" class="name-video"><strong>{{ film.titleVo }}</strong></a>
                {% if film|trans_fallback('title') and film|trans_fallback('title')|trim != film.titleVo|trim %}<br /><strong class="translated-title">({{ film|trans_fallback('title') }})</strong>{% endif %}
                <span class="name-person">
                    {%- for director in film|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) -%}
                        {{ loop.index0 ? ', ': '' }}{{ director.fullName }}
                    {%- endfor -%}
                </span>
            </div>
            <div class="program-film block">
                <div class="contain-info">
                    {% for showing in filmShowings %}
                        <div class="infos">
                            <p>{{ showing.type }} <span class="date">{{ showing.date|date('d.m.y') }} {{ showing.date|date('H:i') }}</span>
                            </p>
                            <span class="where">{{ showing.place }}</span>
                            {% if loop.last == false %}
                                <hr>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ path('fdc_eventmobile_news_index') }}" class="btn">
                    {{- 'trailer.btn.toutelaprogrammation'|trans -}}
                </a>
            </div>
        </div>
    </div>
    {% if next %}
    <div class="banner-img vCenter" style="background-image:url('{% spaceless %}
        {% include 'FDCEventMobileBundle:Global:components/film.cover.html.twig' with ({
        film: next,
        film_format: '2560x1103',
        display_film_path: true,
        film_attrs: {
        alt: next|trans_fallback('title')?:movie.titleVO
        },
        film_image_default: '/bundles/fdccorporate/media/images/film_w256.jpg',
        }) %}
    {% endspaceless %}');">
        <div class="vCenterKid">
            <h2 class="title one-line">{{ next.findTranslationByLocal(app.request.locale)?:next.titleVO }}
                <a href="{{ path('fdc_eventmobile_television_gettrailer', {'slug': next.slug} ) }}">
                    <i class="icon icon_fleche-right"></i>{{ 'trailer.btn.voirlabandeannonce'|trans }}
                </a>
            </h2>
        </div>
    </div>
    {% endif %}
{% endblock body %}

{% block bandeauVideo %}
{% endblock bandeauVideo %}

{% block javascripts %}
    {% javascripts
        '@FDCEventMobileBundle/Resources/public/js/trailer.js'
        '@FDCEventMobileBundle/Resources/public/js/trailer_custom.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}
