{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "bundles/fdceventmobile/css/artist.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="main" class="artist">

    {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
    {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}

        <div class="container">
            <div class="artist-name">
                {% set profession = artist|trans_fallback('profession') %}
                {% if profession %}
                    <span class="category">
                        {{ artist|profession_gender('profession') }}
                    </span>
                {% endif %}
                {% if artist.nationality %}
                    <span class="country">
                    {{ artist.nationality|trans_fallback('name') }}
                        {% if artist.nationality2 %}, {{ artist.nationality2|trans_fallback('name') }}{% endif %}
                    </span>
                {% endif %}
                <h2>{{ artist.fullName }}</h2>
            </div>
            <div class="artist-picture">
                <div class="artiste-picture-inner">
                    {% set artistImage = artist|person_image(true) %}
                    {% set legend = null %}
                    {% set copyright = null %}
                    {% if artistImage %}
                        {%- if artist.presidentJuryImage and artist.presidentJuryImage|trans_fallback('file') -%}
                            <img src="{% path artist.presidentJuryImage|trans_fallback('file'), '613h' %}"
                                 alt="{{ artist.fullName }}"/>
                            {%  set shareMedia = artist.presidentJuryImage|trans_fallback('file') %}
                            {%- if artist.presidentJuryCredits is not empty or artistImage.copyright is not empty -%}
                                <p class="caption" id="captionCopyright">
                                    {{- '© ' ~  ((artist.presidentJuryCredits)?:artistImage.copyright) -}}
                                </p>
                            {%- endif -%}
                        {%- elseif artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                            {% set artistMedia = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'),true)|first %}
                            <img src="{% path artistMedia.file, '613h' %}"
                                 alt="{{ artist.fullName }}"/>
                            {%  set shareMedia = artistMedia.file %}
                            {%- if artistMedia.copyright is not empty -%}
                                <p class="caption" id="captionCopyright">
                                    {{- '© ' ~ artistMedia.copyright  -}}
                                </p>
                            {% endif %}
                        {%- elseif artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                            {% set artistMedia = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'),true)|first %}
                            <img src="{% path artistMedia.file, '613h' %}"
                                 alt="{{ artist.fullName }}"/>
                            {%  set shareMedia = artistMedia.file %}
                            {%- if artistMedia.copyright is not empty -%}
                                <p class="caption" id="captionCopyright">
                                    {{- '© ' ~ artistMedia.copyright  -}}
                                </p>
                            {%- endif -%}
                        {%- elseif class(artistImage) == 'FilmMedia' -%}
                            <img src="{% path artistImage.file, '613h' %}" alt="{{ artist.fullName }}"/>
                            {%  set shareMedia = artistImage.file %}
                            {% set legend = artistImage.credits %}
                            {% set copyright = artistImage.copyright %}
                            <p class="caption"
                               id="captionCopyright">{{ legend }}{% if copyright is not empty %} © {{ copyright }}{% endif %}</p>
                        {%- else -%}
                            {% if artist.credits != null %}
                                <img src="{% path artistImage, '613h' %}" alt="{{ artist.fullName }}"/>
                                {%  set shareMedia = artistImage %}
                                {% if copyright is not empty %}
                                    <p class="caption" id="captionCopyright">
                                        {{- '© ' ~  copyright -}}
                                    </p>
                                {% endif %}
                            {% else %}
                                <img src="{% path artistImage, '613h ' %}" alt="{{ artist.fullName }}"/>
                                {%  set shareMedia = artistImage %}
                            {% endif %}
                        {%- endif -%}
                    {% else %}
                        {% set media = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PERSON'))|first %}
                        {% if media is empty %}
                            {% set media = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                        {% endif %}
                        {% if media is empty %}
                            {% set media = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                        {% endif %}
                        {% if media is not empty %}
                            {%  set shareMedia = media %}
                            <img src="{% path media, '976x535' %}" alt="{{ artist.fullName }}"/>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% set biography = artist|trans_fallback('biography') %}
            {% if biography %}
                <div class="section">
                    <h3>{{ 'juries.artiste.title.biographie'|trans }}</h3>
                    <div class="text-content">
                        {{ biography|raw }}
                    </div>
                </div>
            {% endif %}
        </div>
        {% if artist.films|length > 0 %}
        <div class="section">
            <h3>{{ 'juries.artiste.title.filmspresentes'|trans }}</h3>
            <div class="owl-carousel film-slider">
                {% for filmPerson in artist.getFilmPersonOrderedByFilmFestivalYearAsc() %}
                    <div data-id="film{{ loop.index }}" class="thumb {% if loop.first %}active{% endif %}">
                        {% if filmPerson.film.festival.id == festival %}
                            <a href="{{ path('fdc_eventmobile_movie_get', {'slug': filmPerson.film.slug}) }}"></a>
                        {% endif %}
                        <div class="img-container" style="background-image:url(
                            {% include 'FDCEventMobileBundle:Global:components/film.poster.html.twig' with ({
                            film: filmPerson.film,
                            display_film_path: true,
                            film_format: '366x488',
                            film_attrs: {
                            alt: filmPerson.film|trans_fallback('title')?:filmPerson.film.titleVO,
                            'data-object-fit': 'cover'
                            },
                            film_image_default: 'bundles/fdcevent/img/palmares/film_w181.jpg'
                            }) %}
                        )"></div>
                        <div class="content-text">
                            <span class="item-title">{{ filmPerson.film.titleVO }}</span>
                            {% if filmPerson.film|trans_fallback('title') %}
                                <span class="item-sub-title">({{ filmPerson.film|trans_fallback('title')}})</span>
                            {% endif %}
                            {% if filmPerson.film.festival %}
                                <span class="item-date">{{ filmPerson.film.festival.year }}</span>
                            {% endif %}
                            {% if filmPerson.film.selectionSection %}
                                <span class="item-categ" {{ filmPerson.film.selectionSection|content_lang('name') }}>{{ filmPerson.film.selectionSection|trans_fallback('name') }}</span>
                            {% endif %}
                            {% if filmPerson.functions|length > 0 %}
                                {% spaceless -%}
                                    <span class="item-details" {{ filmPerson.functions[0].function|content_lang('name') }}>
                                    {% for filmPersonFunction in filmPerson.functions -%}
                                        {{ loop.first == false ? ',' : '' }} {{ filmPerson.person|person_function_gender(filmPersonFunction.function, 'name') }}
                                    {%- endfor %}
                                    </span>
                                {%- endspaceless %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% set awardsCount = 0 %}
        {% for filmPerson in artist.films %}
            {% for awardAssociation in filmPerson.film.awards %}
                {% if awardAssociation.award.prize.type == constant('Base\\CoreBundle\\Entity\\FilmPrizeInterface::TYPE_FILM') or
                (awardAssociation.award.prize.type == constant('Base\\CoreBundle\\Entity\\FilmPrizeInterface::TYPE_PERSON') and
                awardAssociation.person.id == artist.id) %}
                    {% set awardsCount = awardsCount + 1 %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if awardsCount > 0 %}
        <div class="section">
            <h3>{{ 'juries.artiste.title.palmares'|trans }}</h3>
            <div class="owl-carousel film-slider">
                {% for filmPerson in artist.getFilmPersonOrderedByFilmFestivalYearAsc() %}
                    {% for awardAssociation in filmPerson.film.awards %}
                        {% if awardAssociation.award.prize.type == constant('Base\\CoreBundle\\Entity\\FilmPrizeInterface::TYPE_FILM') or
                             (awardAssociation.award.prize.type == constant('Base\\CoreBundle\\Entity\\FilmPrizeInterface::TYPE_PERSON') and
                                awardAssociation.person.id == artist.id) %}
                            <div data-id="film{{ loop.index }}" class="thumb {% if loop.first %}active{% endif %}">
                                {% if filmPerson.film.festival.id == festival %}
                                    <a href="{{ path('fdc_eventmobile_movie_get', {'slug': filmPerson.film.slug}) }}"></a>
                                {% endif %}
                                <div class="img-container" style="background-image:url(
                                    {% include 'FDCEventMobileBundle:Global:components/film.poster.html.twig' with ({
                                        film: filmPerson.film,
                                        display_film_path: true,
                                        film_format: '366x488',
                                        film_attrs: {
                                            alt: filmPerson.film|trans_fallback('title')?:filmPerson.film.titleVO,
                                            'data-object-fit': 'cover'
                                        },
                                        film_image_default: 'bundles/fdcevent/img/palmares/film_w181.jpg'
                                    }) %}
                                )"></div>
                                <div class="content-text">
                                    <span class="item-title">{{ filmPerson.film.titleVO }}</span>
                                    {% if filmPerson.film|trans_fallback('title') %}
                                        <span class="item-sub-title">({{ filmPerson.film|trans_fallback('title')}})</span>
                                    {% endif %}
                                    {% if awardAssociation.award.festival %}
                                        <span class="item-date">{{ awardAssociation.award.festival.year }}</span>
                                    {% endif %}
                                    <span class="item-categ" {{ awardAssociation.award.prize|content_lang('title') }}>
                                    {{ awardAssociation.award.prize|trans_fallback('title') }}
                                    </span>
                                    {% if filmPerson.functions|length > 0 %}
                                        {% spaceless -%}
                                            <span class="item-details" {{ filmPerson.functions[0].function|content_lang('name') }}>
                                            {% for filmPersonFunction in filmPerson.functions -%}
                                                {{ loop.first == false ? ',' : '' }} {{ filmPerson.person|person_function_gender(filmPersonFunction.function, 'name') }}
                                            {%- endfor %}
                                            </span>
                                        {%- endspaceless %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if artist.juries|length > 0 %}
        <div class="section">
            <h3>{{ 'juries.artiste.title.presences'|trans }}</h3>
            <div class="jury">
                {% for jury in artist.juries %}
                    {% if jury.function %}
                        <span class="rank" {{ jury.function|content_lang('name') }}>{{ jury.function|trans_fallback('name') }}</span>
                    {% endif %}
                    {% if jury.type %}
                        {% if jury.function %}
                            <span class="item-separate">-</span>
                        {% endif %}
                        <span class="role" {{ jury.type|content_lang('name') }}>{{ jury.type|trans_fallback('name') }}</span>
                    {% endif %}
                    {% if jury.festival %}
                        {% if jury.function or jury.type %}
                            <span class="item-separate">-</span>
                        {% endif %}
                        <span class="date">{{ jury.festival.year }}</span>
                    {% endif %}
                    {{ loop.last == false ? '<br>':'' }}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="section director">
            <h3 class="title-section">{{ 'juries.artiste.title.realisateurs'|trans }}</h3>
            <div class="owl-carousel director-carousel">
                {% for director in directors %}
                    <div data-id="director{{ loop.index }}" class="thumb {% if loop.first %}active{% endif %}">
                        <a href="{{ path('fdc_eventmobile_artist_get', {'slug': director.slug }) }}"></a>
                        {% set directorImage = director|person_image_portait %}
                        {% if directorImage %}
                            <div class="img-container" style="background-image:url({% path directorImage, '210x284' %})" title="{{ director.fullName }}"></div>
                        {% else %}
                            {% set media = director|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PERSON'))|first %}
                            {% if media is empty %}
                                {% set media = director|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                            {% endif %}
                            {% if media is empty %}
                                {% set photo = director|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                            {% endif %}
                            {% if media is not empty %}
                                <div class="img-container" style="background-image:url({% path media, '210x284' %})" title="{{ director.fullName }}"></div>
                            {% endif %}
                        {% endif %}
                        <div class="info">
                            <p>
                                {%- if director.asianName -%}
                                    {{- director.lastName ~ ' ' ~ director.firstName -}}
                                {%- else -%}
                                    {{- director.fullName -}}
                                {%- endif -%}
                            </p>
                            <span {{ director|content_lang('profession') }}>{{ director|profession_gender('profession') }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock body %}

{% block javascripts %}
    {% javascripts '@FDCEventMobileBundle/Resources/public/js/artist.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}