{% trans_default_domain 'FDCPressBundle' %}
<div class="container-title">
    <h3 class="title-press">{{ s.section|trans_fallback('title') }}
        <span class="number">({{ widget.gallery.medias|length }})</span></h3>
    <div class="right-btn buttons">
        <a href="{% if is_granted("ROLE_FDC_PRESS_REPORTER") %}{{ path('fdc_press_media_galleryarchive', {'id': widget.gallery.id }) }}{% endif %}" class="alldl button">
            <i class="icon icon_telecharger"></i>
            {{ 'press.home.btn.touttelecharger'|trans }}
        </a>
    </div>
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-error">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
</div>

<div class="gridPressDownload grid-wrapper images">
    <div class="grid-sizer"></div>
    {% for image in widget.gallery.medias %}
        {% set trans = image.media.findTranslationByLocale(app.request.locale) %}
        {% if trans is null or trans.file is null %}
            {% set trans = image.media.findTranslationByLocale('fr') %}
        {% endif %}
        {% set file = trans.file %}

        <div class="item">

            <a href="{% path file, 'reference' %}" class="chocolat-image ajax"
               title='<h2>{{image.media|trans_fallback('alt')}}</h2>'
               data-credit="{{ image.media|trans_fallback('copyright')}}">
                <img src="{% path file, '146x146' %}" data-credit="{{ image.media|trans_fallback('copyright') }}" alt="{{ image.media|trans_fallback('alt') }}" class="chocolat-image ajax" data-title="<h2>{{ image.media|trans_fallback('alt') }}</h2>" title="<h2>{{ image.media|trans_fallback('alt') }}</h2>">
            </a>
        </div>
    {% endfor %}
    <div class="owl-carousel thumbnails">
        {% for key, image in widget.gallery.medias %}
            {% set trans = image.media.findTranslationByLocale(app.request.locale) %}
            {% if trans is null or trans.file is null %}
                {% set trans = image.media.findTranslationByLocale('fr') %}
            {% endif %}
            {% set file = trans.file %}
            <div data-id="photo{{ key+1 }}" class="thumb {% if key == 0 %}active{% endif %}"
                 data-caption="<strong>{{ image.media|trans_fallback('alt')}}</strong>{{ image.media|trans_fallback('copyright')}}">
                <img src="{% path file, '146x146' %}" />
            </div>
        {% endfor %}
    </div>

</div>