{% trans_default_domain 'FDCPressBundle' %}

<div class="popin-download-press" class='popin' data-popin="{{ lang }}-{{ film.id }}-{{ video.id }}">
    <div class="container-popin">
        <div class="contain-info-item">
            {% include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({
            film: film,
            film_format: '55x75',
            film_attrs: {
            class: "film_image",
            alt: film|trans_fallback('title')?:film.titleVO
            },
            film_image_default: 'bundles/fdcevent/img/palmares/film_w181.jpg',
            film_image_default_attrs: 'class="default_image" width="55"'
            }) %}

            {% set title = film.titleVO %}
            {% set authors = '' %}
            {% for director in film.getDirectors() %}
                {%- set authors = authors ~ director.person.fullName %}{% if loop.last == false %}{% set authors = authors ~ ', ' %}{% endif -%}
            {% endfor %}
            <div class="contain-text vCenter">
                <div class="vCenterKid">
                    <h3>{{ title }}</h3>
                    <span class="name">
                        {{ authors }}
                    </span>
                </div>
            </div>
        </div>

        <h4>{{ video|trans_fallback('title') }}</h4>
        <p>
            {{ 'press.mediatheque.download_text'|trans }}
        </p>
        <strong>
            {{ 'press.mediatheque.download_sub_text'|trans }}
        </strong>
        <table>
            <tbody>
            {% set title = film.titleVO %}
            {% set authors = '' %}
            {% for director in film.getDirectors() %}
                {%- set authors = authors ~ director.person.fullName %}{% if loop.last == false %}{% set authors = authors ~ ', ' %}{% endif -%}
            {% endfor %}
            {% if(video|trans_fallback('jobMp4State') == 3) %}
            <tr>
                <td>{{ 'press.mediatheque.download_film_and_authors'|trans({'%film%': film, '%authors%': authors}) }}</td>
                <td>MP4</td>
                <td>
                    <a href="{{ path('fdc_press_media_forcedownload', {'format': 'mp4', 'id': video.findTranslationByLocale(lang).id}) }}" class="button" target="_blank">
                        <i class="icon icon_telecharger"></i>{{ 'press.mediatheque.download'|trans }}
                    </a>
                </td>
            </tr>
            {% endif %}
            {% if(video|trans_fallback('jobWebmState') == 3) %}
            <tr>
                <td>{{ 'press.mediatheque.download_film_and_authors'|trans({'%film%': film, '%authors%': authors}) }}</td>
                <td>WEBM</td>
                <td>
                    <a href="{{ path('fdc_press_media_forcedownload', {'format': 'webm', 'id': video.findTranslationByLocale(lang).id}) }}" class="button" target="_blank">
                        <i class="icon icon_telecharger"></i>{{ 'press.mediatheque.download'|trans }}
                    </a>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>{{ 'press.mediatheque.download_film_and_authors'|trans({'%film%': film, '%authors%': authors}) }}</td>
                <td>{{ 'pres.mediathe.download_format_source'|trans }}</td>
                <td>
                    <a href="{{ path('fdc_press_media_forcedownload', {'format': 'source', 'id': video.findTranslationByLocale(lang).id}) }}" class="button" target="_blank">
                        <i class="icon icon_telecharger"></i>{{ 'press.mediatheque.download'|trans }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>