{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "bundles/fdcpressmobile/css/press_medias.css" %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="main" class="press press_medias {{ (app.user is not empty and is_granted("ROLE_FDC_PRESS_REPORTER")) ? '' : 'press-locked' }}" data-menu="medias">
        {% include 'FDCPressMobileBundle:Global:menu.html.twig' %}
        <div class="header-press">
            <div class="head">
                <span><i class="icon icon_espace-presse"></i>{{ 'press.header.label.espacepresse'|trans }}</span>
            </div>
            <div class="container">
                <h2>{{ 'press.header.title.mediathequefilms'|trans }}</h2>
                <p>{{ 'press.header.subtitle.voustrouverezcidessouslesdossiers'|trans }}</p>
            </div>
        </div>

        <div class="section-title-selection">
            <h2 class="tall">{{ 'mediatheque.title.choixdelaselection'|trans }}</h2>
            <div id="horizontal-menu" class="owl-carousel sliderDrag videosSlider">
                {% for key,filter in filmSection %}
                    <div class="vid">
                        <p><a href="#" data-url="{{ path('fdc_pressmobile_media_main', {'sectionId' : filter.id}) }}" class="{{ (filter.id == sectionId) ? 'active' : '' }}">{{ filter.name }}</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="selections show">
            {% for section in filmSection %}
                {% if section.id == app.request.get('sectionId') %}
                    {% include 'FDCPressMobileBundle:Media:components/content.html.twig' %}
                {% endif %}
            {% endfor %}
            {{ render(controller('FDCPressMobileBundle:Global:contact')) }}
        </div>
        {% include 'FDCPressMobileBundle:Global:components/popinPress.html.twig' %}
    </div>
{% endblock body %}

{% block javascripts %}
    {% javascripts '@FDCPressMobileBundle/Resources/public/js/press_medias.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}