{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/fdceventmobile/css/home.css"
        "bundles/fdceventmobile/css/article_custom.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="main" class="home st-container" data-menu="actu">

        {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
        {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}
    
        <div class="fullscreenplayer">
            <div class="close-button"><i class="icon icon_close"></i></div>
            <div class="vCenter">
                <div class="vCenterKid m-video">
                    <div id="player1"></div>
                    <p class="category">Conférence de presse</p><span class="date">22.05.16 . 20:42</span>
                    <p class="title-video">Rencontre avec l'équipe de Carol</p>
                </div>
            </div>
        </div>
        {% if displayHomeSlider == false %}
        <div id="sliderWrapper" class="dark-container">
            <div id="slider" class="owl-carousel">
                {% for article in homeSlider %}
                    {% if article is news_article or
                        article is news_video or
                        article is news_audio or
                        article is news_image %}
                            {% set type = 'news' %}
                        {% else %}
                            {% if class(article) starts with 'S' %}
                                {% set type = 'communique' %}
                            {% else %}
                                {% set type = 'info' %}
                            {% endif %}
                        {% endif %}

                    {% if article is news_article or article is statement_article or article is info_article %}
                        {% set img = article.header %}
                        {% set trans = img.findTranslationByLocale(app.request.locale) %}
                        {% if trans is null or trans.file is null %}
                            {% set trans = img.findTranslationByLocale('fr') %}
                        {% endif %}
                        {% set file = trans.file %}
                    {% elseif article is news_video or article is statement_video or article is info_video%}
                        {% set header = article.header %}
                        {% if header is not null %}
                            {% set trans = header.findTranslationByLocale(app.request.locale) %}
                            {% if trans is not null and trans.file is not null %}
                                {% set imageTrans = trans %}
                            {% else %}
                                {% set trans = article.header.findTranslationByLocale('fr') %}
                                {% if trans is not null and trans.file is not null %}
                                    {% set imageTrans = trans %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if imageTrans is defined and imageTrans is not null %}
                            {% set file = imageTrans.file %}
                            {% set img = article.header %}
                        {% else %}
                            {% set img = article.video.image %}
                            {% set trans = img.findTranslationByLocale(app.request.locale) %}
                            {% if trans is null or trans.file is null %}
                                {% set trans = img.findTranslationByLocale('fr') %}
                            {% endif %}
                            {% set file = trans.file %}
                        {% endif %}
                    {% elseif article is news_audio or article is info_audio or article is statement_audio %}
                        {% set header = article.header %}
                        {% if header is not null %}
                            {% set trans = header.findTranslationByLocale(app.request.locale) %}
                            {% if trans is not null and trans.file is not null %}
                                {% set imageTrans = trans %}
                            {% else %}
                                {% set trans = article.header.findTranslationByLocale('fr') %}
                                {% if trans is not null and trans.file is not null %}
                                    {% set imageTrans = trans %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if imageTrans is defined and imageTrans is not null %}
                            {% set file = imageTrans.file %}
                            {% set img = article.header %}
                        {% else %}
                            {% set img = article.audio.image %}
                            {% set trans = img.findTranslationByLocale(app.request.locale) %}
                            {% if trans is null or trans.file is null %}
                                {% set trans = img.findTranslationByLocale('fr') %}
                            {% endif %}
                            {% set file = trans.file %}
                        {% endif %}
                    {% elseif article is news_image or article is statement_image or article is info_image %}
                        {% set header = article.header %}
                        {% if header is not null %}
                            {% set trans = header.findTranslationByLocale(app.request.locale) %}
                            {% if trans is not null and trans.file is not null %}
                                {% set imageTrans = article.header.findTranslationByLocale(app.request.locale) %}
                            {% else %}
                                {% set trans = article.header.findTranslationByLocale('fr') %}
                                {% if trans is not null and trans.file is not null %}
                                    {% set imageTrans = trans %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if imageTrans is defined and imageTrans is not null %}
                            {% set img = article.header %}
                            {% set file = imageTrans.file %}
                        {% else %}
                            {% set img = article.gallery.medias[0].media %}
                            {% set trans = img.findTranslationByLocale(app.request.locale) %}
                            {% if trans is null or trans.file is null %}
                                {% set trans = img.findTranslationByLocale('fr') %}
                            {% endif %}
                            {% set file = trans.file %}
                        {% endif %}
                    {% endif %}
                        <div>
                            {% set trans = article.findTranslationByLocale(app.request.locale) %}
                            <div class="img-container">
                                <div class="img" style="background-image:url({% path file , '2560x1620' %})"></div>
                            </div>
                            <div class="info">
                                <span class="category">{{ article.theme|trans_fallback('name') }}</span>
                                <h2>{{ article|trans_fallback('title')|truncate(70) }}</h2>
                            </div>
                            {% if type == 'news' %}
                            <a href="{{ url('fdc_eventmobile_news_get', { _locale: app.request.locale, format: trans.translatable.newsFormat, slug: trans.slug }) }}" class="linkArticle"></a>
                            {% else %}
                            <a href="{{ url('fdc_pressmobile_news_get', { _locale: app.request.locale, type: type, format: trans.translatable.newsFormat, slug: trans.slug }) }}" class="linkArticle"></a>
                            {% endif %}
                        </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div id="news">
            {% if homepage.displayedTopNews == false %}
            <h2 class="title">{{ 'home.title.lactualitealaune'|trans }}</h2>
            {% if homepage.topNewsType == 0 %}
            <div id="calendar">
                <a href="#" class="prev"><i class="icon icon_flecheGauche"></i></a>
                <div id="timeline" class="" >
                    <div class="timeline-container">
                        {% set hasActive = false %}
                        {% for key,date in festivalInterval %}
                            {%  set timestamp = date ~ ' 23:59:59' %}
                            <a href="#"
                               data-timestamp="{{ timestamp|date('U') }}"
                               data-date="{{ date|date('d') }}"
                               class="{% if hasActive == false and homeArticles|length > 0 and (homeArticles[0].publishedAt|date('Y-m-d') == date|date('Y-m-d') or (homeArticles[0].publishedAt|date('Y-m-d') > date|date('Y-m-d') and date|date('Y-m-d') == festival_date.festivalEndsAt|date('Y-m-d'))) %}{% set hasActive = true %}active{% elseif homeArticles|length > 0 and homeArticles[0].publishedAt|date('Y-m-d') < date|date('Y-m-d') %}disabled{% endif %}">
                                {{- (date|localizeddate('full', 'none', app.request.locale, null, 'E'))|replace({'.': ''}) -}}
                                <span class="day">
                                    {{- date|localizeddate('full', 'none', app.request.locale, null, 'd') -}}
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <a href="#" class="next"><i class="icon icon_fleche-right"></i></a>
            </div>
            {% endif %}
            <div class="container" id="articles" >
                <div class="articles-container">
                    <div id="articles-wrapper">
                        {% for article in homeArticles %}
                            {% include 'FDCEventMobileBundle:News:widgets/article-home.html.twig' %}
                            {% if article is news_article or
                            article is news_video or
                            article is news_audio or
                            article is news_image %}
                                {% set type = 'news' %}
                            {% else %}
                                {% if class(article) starts with 'S' %}
                                    {% set type = 'communique' %}
                                {% else %}
                                    {% set type = 'info' %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if homeArticlesSlider is not empty %}
                            {% include 'FDCEventMobileBundle:News:widgets/slideshow-actu-home.html.twig' %}
                        {% endif %}
                        
                        {% for article in homeArticlesBottom %}
                            {% include 'FDCEventMobileBundle:News:widgets/article-home.html.twig' %}
                        {% endfor %}
                    </div>
                </div>

                <a href="#" class="read-more">{{ 'home.btn.afficherplusdactualite'|trans|raw }}</a>
           {% endif %}

                {% if homepage.displayedSocialWall == false %}
                <div id="socials">
                    {% image '@FDCEventMobileBundle/Resources/public/img/palme.svg' %}
                    <img src="{{ asset_url }}" alt="{{ 'header.img.palme'|trans }}" class="palm">
                    {% endimage %}
                    <h2 class="title">#Cannes2016</h2>
                    <div class="post-container">
                        {% for i in 0..6 %}
                            {% include 'FDCEventMobileBundle:News:widgets/post.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% include 'FDCEventMobileBundle:News:components/socials.html.twig' %}
            </div>
        </div>

        {% if homepage.displayedTopWebTv == false %}
        <div class="dark-container">
            <div class="featured-videos">
                {% if videos[0].id is not null %}
                    <h2 class="title">{{ 'home.title.lesvideosalaune'|trans }}</h2>
                    <div id="slider-videos" class="owl-carousel sliderDrag videosSlider">
                        {% for video in videos %}
                            {% if video.association is defined and video.association != null %}
                                {% include 'FDCEventMobileBundle:Television:widgets/video.date.html.twig' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if channels[0].id is not null %}
                    <div id="channels">
                        <h2 class="title one-line">{{ 'home.title.leschaines'|trans }}</h2>
                        <div id="slider-channels" class="owl-carousel sliderDrag">
                            {% for group in channelsVideos %}
                                {% if group.nbVideos %}
                                    <div class="channel">
                                        {% include 'FDCEventMobileBundle:News:widgets/home-channels.html.twig' %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endif %}

        <div class="dark-container" id="today">
        {% if homepage.displayedFilms == false %}
            <h2 class="title one-line">{{ 'home.title.focus'|trans({}, 'FDCEventMobileBundle') }}</h2>
            <div class="special-event">
                {% set film = homepage.filmsAssociated.0 %}
                {%  if film.mobileImage is defined and film.mobileImage is not null  %}
                    {% set transImage = film.mobileImage.findTranslationByLocale(app.request.locale) %}
                    {% if transImage is null or transImage.file is null %}
                        {% set transImage = film.mobileImage.findTranslationByLocale('fr') %}
                    {% endif %}
                {% endif %}
                {% if film.association is not empty %}
                <div class="img-container">
                    <div class="img" style="background-image:url({% if transImage is defined and transImage is not empty %}{% path transImage.file, '586x370' %}{% endif %})"></div>
                </div>
                <div class="info-container vCenter">
                    <div class="vCenterKid">
                        <div class="category">{{ film.association.selectionSection|trans_fallback('name') }}</div>
                        <h3 class="title tall">
                            <a href="{{ path('fdc_eventmobile_movie_get', {slug: film.association.slug }) }}">
                                {{- film.association|trans_fallback('title') -}}
                            </a>
                        </h3>
                        {% if film.association.titleVO != film.association|trans_fallback('title') %}
                        <div class="title-translate">
                            <a href="{{ path('fdc_eventmobile_movie_get', {slug: film.association.slug }) }}">
                                ({{ film.association.titleVO }})
                            </a>
                        </div>
                        {% else %}
                        <div class="title-translate"></div>
                        {% endif %}
                        <div class="director">
                            <span class="director-of">{{- 'home.video.text.de'|trans }} </span>
                            {%- for director in film.association|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) -%}
                            <a href="{{ path('fdc_eventmobile_artist_get', {slug: director.slug }) }}">
                                {%- include 'FDCEventMobileBundle:Movie:widgets/check_asian_name.html.twig' with {'person': director, 'link': false} -%}
                            </a>
                            {%- endfor -%}
                        </div>
                    </div>
                </div>

                <div class="links">
                    <a href="{{ path('fdc_eventmobile_agenda_scheduling') }}" class="seances">
                        <i class="icon icon_programmation"></i>{{ 'home.video.btn.voirlesseances'|trans }}
                    </a>
                </div>
                {% endif %}
            </div>

        {% endif %}
            <div class="trailer">
                <div class="img-container">
                    <div class="img" style="background-image:url('')"></div>
                    <a class="linkFull" href="{{ path('fdc_eventmobile_television_trailers') }}"></a>
                </div>
                <div class="info-container vCenter">
                    <div class="vCenterKid">
                        <div class="icon-container"><i class="icon icon_video"></i></div>
                        <h3 class="title tall">{{ 'bandeannonce.title.lesbandesannoncesetextraits'|trans }}</h3>
                    </div>
                </div>
            </div>
        </div>

        {% if homepage.displayedPushsMain == false or homepage.displayedPushsSecondary == false %}
        <div class="" id="more">
            <div id="slider-more" class="owl-carousel sliderDrag">
                {% if homepage.displayedPushsMain == false %}
                    {% include 'FDCEventMobileBundle:News:widgets/push-main.html.twig' %}
                {% endif %}
                {% if homepage.displayedPushsSecondary == false %}
                    {% include 'FDCEventMobileBundle:News:widgets/push-secondary.html.twig' %}
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock body %}

{% block javascripts %}
    {% javascripts
        '@FDCEventMobileBundle/Resources/public/js/home.js'
        '@FDCEventMobileBundle/Resources/public/js/home_custom.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}