{% trans_default_domain 'FDCPressBundle' %}

{% if app.user is empty or (app.user is not empty and is_granted("ROLE_FDC_PRESS_REPORTER") == false) %}
    <div class="locked">
        <div class="vCenter">
            <div class="vCenterKid">
                <h3 class="title-press">
                    <i class="icon icon_cadenas"></i>
                    {{ 'press.header.title.contenusverouilles'|trans }}
                </h3>
                <p>{{ 'press.header.text.journalistesveuillezsvousrendredanslespacepresse'|trans }}</p>
            </div>
        </div>
		<div class="buttons">
			<a href="/{{ app.request.locale }}/press/">{{ 'press.header.text.allerdanslespacepresse'|trans }}</a>
		</div>
    </div>
{% else %}
    <div class="locked">
        <div class="vCenter">
            <div class="vCenterKid">
                <p class="access">{{ 'press.header.success.contenusdebloques'|trans|raw }}</p>
            </div>
        </div>
    </div>
{% endif %}