{% trans_default_domain 'FDCPressBundle' %}

<div id="popin-press" class='popin'>
    <div class="container-popin">
        <strong><i class="icon icon_cadenas"></i>{{ 'press.popin.title.contenuverouille'|trans }}</strong>
        <p>{{ 'press.popin.text.cecontenuestexclusivementreservealapresse'|trans }}</p>
        {% if app.request.session.has('login_error') and app.request.session.get('login_error') %}
            {% set temp = app.request.session.remove('login_error') %}
            {% set popinPressError = true %}
        {% else %}
            {% set popinPressError = false %}
        {% endif %}
        <form action="{{ path("fdc_press_login") }}" method="post" {% if popinPressError %}class="error"{% endif %}    id="lockedForm">
            <input type="hidden" id="username" name="_username" value="press" required="required" />

            <input type="hidden" name="_target_path" value="{{ app.request.get('_route') }}" />
            <input type="hidden" name="_failure_path" value="{{ app.request.get('_route') }}" />

            <input type="password" id="password" name="_password" required="required" placeholder="{{ 'press.header.placeholder.motdepasse'|trans }}"/>

            <input type="submit" id="_submit" name="_submit" value="{{ 'press.header.btn.valider'|trans }}" />
        </form>
    </div>
</div>