{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
<div id="main" class="list-article palmares-list loading ">
    <div class="bandeau-list">
        <div class="bandeau-list-img bandeau-head vCenter" style="background-image:url({{ section.banner }})">
            <div class="vCenterKid">
                <h2 class="title title-list-header ">{{ 'palmares.title.palmares'|trans }}</h2>
            </div>
        </div>
        {% include 'FDCEventBundle:Palmares:palmares.nav.html.twig' %}
    </div>
    <div class="container container-list">
        <div class="camerador">
            <div class="title-list-cat">
                <h2 class="titre-document">
                    {{ section.description|raw }}
                </h2>
            </div>
            <div class="contain-winner container-list">
                <section class="categorie-items ">

                    {% for movie in movies %}
                        {% if movie.type == 0 %}
                            {% include 'FDCEventBundle:Palmares:palmares.movie.html.twig' %}
                        {% endif %}
                    {% endfor %}

                </section>
            </div>
            <div class="title-list-cat">
                <h2 class="title">{{ 'palmares.camerador.title.lesfilmsenlice'|trans }}</h2>
            </div>
            <section class="categorie-items">
                <h3 class="sub-cat-title">{{ 'palmares.camerador.title.encompetition'|trans }}</h3>
                {% for movie in movies %}
                    {% if movie.type == 1 %}
                        {% include 'FDCEventBundle:Palmares:palmares.movie.html.twig' %}
                    {% endif %}
                {% endfor %}
            </section>
            <section class="categorie-items">
                <h3 class="sub-cat-title">{{ 'palmares.camerador.title.uncertainregard'|trans }}</h3>
                {% for movie in movies %}
                    {% if movie.type == 2 %}
                        {% include 'FDCEventBundle:Palmares:palmares.movie.html.twig' %}
                    {% endif %}
                {% endfor %}
            </section>
            <div class="title-list-cat">
                <h2 class="title">{{ 'palmares.camerador.title.lesautresfilmsenlice'|trans|raw }}</h2>
            </div>
            <section class='categorie-items-columns'>
                <ul>
                    <li>
                        <a href="http://www.quinzaine-realisateurs.com/" target="_blank">
                            {% image '@FDCEventBundle/Resources/public/img/palmares/quinzaine.jpg' %}
                            <img src="{{ asset_url }}" alt="{{ 'palmares.camerador.alt.quinzaine'|trans }}" />
                            {% endimage %}
                        </a>
                    </li>
                    <li>
                        <a href="http://www.semainedelacritique.com/" target="_blank">
                            {% image '@FDCEventBundle/Resources/public/img/palmares/semaine-critique.jpg' %}
                            <img src="{{ asset_url }}" alt="{{ 'palmares.camerador.alt.semainecritique'|trans }}" />
                            {% endimage %}
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="bandeau-list push-footer vCenter">
        <div class="bandeau-list-img bandeau-list-footer vCenterKid" style="background-image:url({{ section.bottom_img }});">
            <h2 class="title title-list-header">{{ section.bottom_title }}</h2>
            <a href="{{ section.bottom_link }}" class="bandeau-lien">
                {% image '@FDCEventBundle/Resources/public/img/svg/arrow-right-gold.svg' %}
                <img src="{{ asset_url }}" class="svg-arrow" alt="{{ 'palmares.btn.decouvrirrubrique'|trans }}" />
                {% endimage %}
                {{ 'palmares.btn.decouvrirrubrique'|trans }}
            </a>
        </div>
    </div>
</div>
{% endblock body %}