{% trans_default_domain 'FDCEventBundle' %}

<div class="content-selection">

    {% if displayOnylCameraDorWinner is not defined or displayOnylCameraDorWinner == false %}
        <div class="prize-description">
            <h2>
                {{ page|trans_fallback('header')|raw }}
            </h2>
        </div>
    {% endif %}

    {% for award_association in award_associations['camerador'] %}
        {% include 'FDCEventMobileBundle:Palmares:widgets/movie.html.twig' %}
    {% endfor %}

    {% if displayOnylCameraDorWinner is not defined or displayOnylCameraDorWinner == false %}
        <div class="title-list-cat">
            <h2 class="title tall three-lines">{{ 'palmares.camerador.title.lesfilmsenlice'|trans }}</h2>
        </div>


        {% if award_associations['competition']|length %}
            <section>
                <h3>
                    {{ page|trans_fallback('nameEnCompetition') }}
                </h3>
                <div class="owl-carousel film-slider">
                    {% for movie in award_associations['competition'] %}
                        {% if movie.awards %}
                            {% set award_association = movie.awards|first %}
                        {% endif %}
                        {% include 'FDCEventMobileBundle:Palmares:widgets/movie_slider.html.twig' with({'displayDuration': true}) %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}
        {% if award_associations is defined and  award_associations['others'] is defined %}
            {% for key,item in award_associations['others'] %}
                <section>
                    <h3>
                        {{ item['selection']|trans_fallback('name') }}
                    </h3>
                    <div class="owl-carousel film-slider">
                        {% for movie in item['movies'] %}
                            {% if movie.awards %}
                                {% set award_association = movie.awards|first %}
                            {% endif %}
                            {% include 'FDCEventMobileBundle:Palmares:widgets/movie_slider.html.twig' with({'displayDuration': true}) %}
                        {% endfor %}
                    </div>
                </section>
            {% endfor %}
        {% endif %}

        <div class="title-list-cat">
            <h2 class="title">{{ 'palmares.camerador.title.lesautresfilmsenlice'|trans|raw }}</h2>
        </div>
        <section class="item-column">
            <a href="http://www.quinzaine-realisateurs.com/" target="_blank">
                {% image '@FDCEventMobileBundle/Resources/public/img/palmares/quinzaine.jpg' %}
                <img src="{{ asset(asset_url) }}" alt="{{ 'palmares.camerador.alt.quinzaine'|trans }}"/>
                {% endimage %}
            </a>
            <a href="http://www.semainedelacritique.com/" target="_blank">
                {% image '@FDCEventMobileBundle/Resources/public/img/palmares/semaine-critique.jpg' %}
                <img src="{{ asset(asset_url) }}" alt="{{ 'palmares.camerador.alt.semainecritique'|trans }}"/>
                {% endimage %}
            </a>
        </section>
    {% endif %}

</div>
