<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ 'site_title'|trans }}</title>

    {% stylesheets
    'bundles/fdcmarchedufilm/js/bower_components/chocolat/src/css/chocolat.css'
    'bundles/fdcmarchedufilm/js/bower_components/fullcalendar/dist/fullcalendar.min.css'
    'bundles/fdcmarchedufilm/css/styles.css'
    'bundles/fdcmarchedufilm/css/print.css'
    'bundles/fdcmarchedufilm/css/custom.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link type="text/css" rel="stylesheet" href="{{ asset('http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>

    <!-- //// FAVICON \\\\ -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/fdcmarchedufilm/img/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/fdcmarchedufilm/img/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/fdcmarchedufilm/img/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/fdcmarchedufilm/img/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/fdcmarchedufilm/img/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/fdcmarchedufilm/img/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/fdcmarchedufilm/img/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/fdcmarchedufilm/img/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/fdcmarchedufilm/img/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('bundles/fdcmarchedufilm/img/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/fdcmarchedufilm/img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/fdcmarchedufilm/img/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/fdcmarchedufilm/img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('bundles/fdcmarchedufilm/img/favicon/manifest.json') }}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicon//ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>


<body>
<div id="prehome-container">
    <div id="prehome"></div>
</div>

<header>
    <div id="top-bar">
        <ul class="main-nav">
            <li>
                <a href={{ header_fdc_com }} target="_blank">{{ 'header.festival'|trans }}</a>
            </li>
            <li>
                <a href="{{ header_fdc_fr }}" target="_blank">{{ 'header.fdc'|trans }}</a>
            </li>
            <li>
                <a href="{{ header_cine_fr }}" target="_blank">{{ 'header.cine'|trans }}</a>
            </li>
            <li>
                <a href="{{ header_ccm_fr }}" target="_blank">{{ 'header.ccm'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('fdc_marche_du_film_homepage') }}" class="active">{{ 'header.mdf'|trans }}</a>
            </li>
        </ul>
        <ul class="user-nav">
            <li>
                <a href="{{ header_account }}" class="account" target="_blank"><i class="icon icon_mon-compte"></i>{{ 'header.my_account'|trans }}</a>
            </li>
            <li class="lang">
                <a href="#" class="language"><i class="icon icon_langue"></i> {{ app.request.locale == 'zh' and not mdf_hide_ch_language ? 'CHN' : app.request.locale|upper }}</a>
                <ul class="sub-languages">
                    {% for locale in locales if locale != app.request.locale and locale != 'es' %}
                        {% if locale == 'zh' and not mdf_hide_ch_language or locale != 'zh' %}
                            <li>
                                <a href="{{ path('fdc_marche_du_film_homepage', { _locale: locale }) }}">{{ locale == 'zh' and not mdf_hide_ch_language ? 'CHN' : locale|upper }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div id="logo-wrapper">
        <div class="container">
            <div id="logo">
                <a href="{{ path('fdc_marche_du_film_homepage') }}"><img src="{{ asset('bundles/fdcmarchedufilm/img/palme.svg') }}" alt="Festival de Cannes" class="palm" /></a>
                <h1><a href="{{ path('fdc_marche_du_film_homepage') }}"><img width="100%" src="{{ asset('bundles/fdcmarchedufilm/img/logo-marche-du-film.png') }}" alt="Festival de Cannes" /></a></h1>
                <p class="stick"><a href="{{ path('fdc_marche_du_film_homepage') }}"><img width="100%" src="{{ asset('bundles/fdcmarchedufilm/img/logo-marche-film.png') }}" alt="Festival de Cannes" /></a></p>
            </div>
            <div id="leaderBoard">
                {% if banner %}
                    <a href="{{ banner.headerBannerUrl }}" target="_blank">
                        <img src="{% path banner.translatable.headerBanner|trans_fallback('file'), 'reference' %}" alt="" class="palm" />
                    </a>
                {% endif %}
            </div>
            <div id="sticky-user">
                <ul class="user-nav">
                    <li>
                        <a href="{{ header_account }}" class="account" target="_blank"><i class="icon icon_mon-compte"></i>{{ 'header.my_account'|trans }}</a>
                    </li>
                    <li class="lang">
                        <a href="#" class="language"><i class="icon icon_langue"></i> {{ app.request.locale == 'zh' ? 'CHN' : app.request.locale|upper }} </a>
                        <ul class="sub-languages">
                            {% for locale in locales if locale != app.request.locale and locale != 'es' %}
                                {% if locale == 'zh' and not mdf_hide_ch_language or locale != 'zh' %}
                                    <li>
                                        <a href="{{ path('fdc_marche_du_film_homepage', { _locale: locale }) }}">{{ locale == 'zh' and not mdf_hide_ch_language ? 'CHN' : locale|upper }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="navigation">
        <div class="bigContainer">
            <nav>
                <ul class="main">
                    <li id="edition">
                        <a href="{{ path('fdc_marche_du_film_homepage') }}" class="red">{{ 'menu.edition'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fdc_marche_du_film_accreditations') }}"  class="blue">{{ 'menu.accreditation'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('fdc_marche_du_film_services') }}" class="blue">{{ 'menu.services'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('fdc_marche_du_film_who_are_we_history') }}" class="golden">{{ 'menu.who_are_we'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fdc_marche_du_film_press_releases') }}" class="golden">{{ 'menu.press'|trans }}</a>
                    </li>
                    <li>
                        <a href="#" class="golden">{{ 'menu.faq'|trans }}</a>
                    </li>
                    <li class="liSearchBox">
                        <div class="searchBox">
                            <form action="">
                                <input type="text" name="name" id="searchInput" placeholder="{{ 'menu.search'|trans }}"/>
                            </form>
                        </div>
                    </li>
                    <li id="searchBar">
                        <div>
                            <a href="#" id=""><i class="icon icon_recherche"></i></a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="subMenu customClass1" id="subMenu">
            <div class="bigContainer">
                <ul class="tleft">
                    <li><a href="{{ path('fdc_marche_du_film_edition_presentation') }}">{{ 'menu.presentation'|trans }}</a></li>
                    <li><a href="{{ path('fdc_marche_du_film_news') }}">{{ 'menu.news'|trans }}</a></li>
                    <li class="seeSub">
                        <div class="rotateArrow"><i class='icon icon_flecheGauche reverse rotateArrow'></div></i>
                        <div class="prog">{{ 'menu.program'|trans }}</div>
                        <ul class="subsubMenu">
                            <li><a href="{{ path('fdc_marche_du_film_edition_projections') }}">{{ 'menu.projections'|trans }}</a></li>
                            <li><a href="{{ path('fdc_marche_du_film_global_events') }}">{{ 'menu.events'|trans }}</a></li>
                        </ul>
                    </li>
                    <li class="liMargin"><a href="{{ path('fdc_marche_du_film_conference_home', { 'slug': 'producers-workshop' }) }}">{{ 'menu.conference_producers_workshop'|trans }}</a></li>
                    <li><a href="{{ path('fdc_marche_du_film_conference_home', { 'slug': 'producers-network' }) }}">{{ 'menu.conference_producers_network'|trans }}</a></li>
                </ul>
                <ul class="tright">
                    <li><a href="{{ path('fdc_marche_du_film_conference_home', { 'slug': 'doc-corner' }) }}">{{ 'menu.conference_doc_corner'|trans }}</a></li>
                    <li><a href="{{ path('fdc_marche_du_film_conference_home', { 'slug': 'next' }) }}">{{ 'menu.conference_next'|trans }}</a></li>
                    <li><a href="{{ path('fdc_marche_du_film_conference_home', { 'slug': 'mixers' }) }}">{{ 'menu.conference_mixers'|trans }}</a></li>
                    <li><a href="{{ path('fdc_marche_du_film_conference_home', { 'slug': 'goes-to-cannes' }) }}">{{ 'menu.conference_goes_to_cannes'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="blackBckg"></div>

{% block main %}
<div id="main" class="home loading">
    <div class="text-presentation erreur404">
        <h3>{{ notFound404PageContent.title }}</h3>
        <h5>{{ notFound404PageContent.description }}</h5>
        <h4><i class="icon icon_flecheGauche reverse"></i><a href="{{ path('fdc_marche_du_film_homepage') }}">{{ '404.return_to_homepage'|trans }}</a></h4>
    </div>
</div>
{% endblock %}

{{ render(controller('FDCMarcheDuFilmBundle:Transverse:footer')) }}

{% block javascripts %}
    {% include 'FDCMarcheDuFilmBundle:shared:javascripts.html.twig' %}
{% endblock %}
</body>
</html>
