<ul>
    {% for day in days %}
        <li>
            <div class="open" data-date="{{ day.dateEvent|date("d-m-Y") }}">{{ day.dateEvent|date("d M Y") }}<span class="openPlus">+</span><span class="openMinus">-</span></div>
            <div class="content">
                <div class="parent">
                    <!-- The base class is the box. Categories are then given as accessory classes. Any div can be in more than one category -->
                    {% for event in events[day.id] %}
                        <div class="box {{ event.conference }} events">
                            {% set textArray = event.conference|split("-") %}
                            {% set eventTheme = null %}
                            {% if textArray is defined and textArray is not null %}
                                {% if textArray|length > 2 %}
                                    <div class="conf10">{{ textArray[0] }}<br>{{ textArray[1] }}<br>{{ textArray[2] }}</div>
                                {% elseif textArray|length == 2 %}
                                    <div class="conf10">{{ textArray[0] }}<br>{{ textArray[1] }}</div>
                                {% else %}
                                    <div class="conf10">{{ textArray[0] }}</div>
                                {% endif %}
                            {% endif %}
                            <div class="conf60">
                                <h6 class="conf60title">{{ event.conference|replace({'-': ' '}) }}</h6>
                                <span class="customClass1">{{ event.eventType }}</span>
                                <p>{{ event.eventDescription }}</p>
                                {# MISSING URL TAG. FO ISSUE #}
                                <a href="{{ event.url }}"><div class="confButton"><i class="icon icon_flecheGauche ensavoirplus"></i>{{ 'read_more'|trans }}</div></a>
                                {# END #}
                                <hr>
                            </div>
                            <div class="conf30">
                                <div>
                                    <span>{{ 'program.hour_label'|trans }}</span>
                                    <p>De {{ event.translatable.startTimeEvent|date("G\\h i")|replace({' ':''}) }} {{ 'program.hour_to'|trans }} {{ event.translatable.endTimeEvent|date("G\\h i")|replace({' ':''}) }} </p>
                                </div>
                                <div>
                                    <span>{{ 'program.place_label'|trans }}</span>
                                    <p>{{ event.location }}</p>
                                </div>
                                <div>
                                    <span>{{ 'program.access_type_label'|trans }}</span>
                                    <p>{{ event.accessType }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>