{% trans_default_domain 'FDCPressBundle' %}
{% extends 'FDCPressMobileBundle::layout.html.twig' %}

{% block body %}

    <div id="main" class="articles" data-menu="practical">
    {% include 'FDCPressMobileBundle:Global:menu.html.twig' %}
    <div class="header-press">
        <div class="head">
            <span><i class="icon icon_espace-presse"></i>{{ 'press.header.label.espacepresse'|trans }}</span>
        </div>
        <div class="container">
            <h2>{{ 'press.header.title.guidepratique'|trans }}</h2>
        </div>
    </div>

    <div class="guid-container">
        <section>
            <div class="section-title">
                <i class="{{ guideContent.arriveIcon }}"></i>
                <h3 class="title-participate">{{ guideContent|trans_fallback('arriveTitle')}}</h3>
                <i class="icon accordion icon_case-plus"></i>
            </div>

            {% for widget in guideContent.arriveWidgets %}
                {% if class(widget) == "PressGuideWidgetImage" %}
                    {% include 'FDCPressBundle:Guide:widgets/image.html.twig' %}
                {% elseif class(widget) == "PressGuideWidgetPicto" %}
                    {% include 'FDCPressBundle:Guide:widgets/picto.html.twig' %}
                {% elseif class(widget) == "PressGuideWidgetColumn" %}
                    {% include 'FDCPressBundle:Guide:widgets/column.html.twig' %}
                {% endif %}
            {% endfor %}
        </section>

        <section>
            <div class="section-title">
                <i class="{{ guideContent.informationIcon }}"></i>
                <h3 class="title-participate">{{ guideContent|trans_fallback('informationTitle')}}</h3>
                <i class="icon accordion icon_case-plus"></i>
            </div>

            {% for widget in guideContent.informationWidgets %}
                {% if class(widget) == "PressGuideWidgetImage" %}
                    {% include 'FDCPressBundle:Guide:widgets/image.html.twig' %}
                {% elseif class(widget) == "PressGuideWidgetPicto" %}
                    {% include 'FDCPressBundle:Guide:widgets/picto.html.twig' %}
                {% elseif class(widget) == "PressGuideWidgetColumn" %}
                    {% include 'FDCPressBundle:Guide:widgets/column.html.twig' %}
                {% endif %}
            {% endfor %}
        </section>

        <section>
            <div class="section-title">
                <i class="{{ guideContent.meetingIcon }}"></i>
                <h3 class="title-participate">{{ guideContent|trans_fallback('meetingTitle')}}</h3>
                <i class="icon accordion icon_case-plus"></i>
            </div>
            {% for widget in guideContent.meetingWidgets %}
                {% if class(widget) == "PressGuideWidgetImage" %}
                    {% include 'FDCPressBundle:Guide:widgets/image.html.twig' %}
                {% elseif class(widget) == "PressGuideWidgetPicto" %}
                    {% include 'FDCPressBundle:Guide:widgets/picto.html.twig' %}
                {% elseif class(widget) == "PressGuideWidgetColumn" %}
                    {% include 'FDCPressBundle:Guide:widgets/column.html.twig' %}
                {% endif %}
            {% endfor %}
        </section>

        <section>
            <div class="section-title">
                <i class="{{ guideContent.serviceIcon }}"></i>
                <h3 class="title-participate">{{ guideContent|trans_fallback('serviceTitle')}}</h3>
                <i class="icon accordion icon_case-plus"></i>
            </div>
            <div class="section-contain">
                <div class="contain-infos description">
                {% for widget in guideContent.serviceWidgets %}
                    {% if class(widget) == "PressGuideWidgetImage" %}
                        {% include 'FDCPressBundle:Guide:widgets/image.html.twig' %}
                    {% elseif class(widget) == "PressGuideWidgetPicto" %}
                        {% include 'FDCPressBundle:Guide:widgets/picto.html.twig' %}
                    {% elseif class(widget) == "PressGuideWidgetColumn" %}
                        {% include 'FDCPressBundle:Guide:widgets/column.html.twig' %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </section>

    </div>

    {{ render(controller('FDCPressMobileBundle:Global:contact')) }}

</div>
{% endblock %}