<div class="contain-good-practice description">
    <div class="item-good-practice">
        <i class="icon {{ widget|trans_fallback('oneIcon') }}"></i>
        <p>{{ widget|trans_fallback('oneDescription')|raw }}</p>
    </div>
    <div class="item-good-practice">
        <i class="icon {{ widget|trans_fallback('twoIcon') }}"></i>
        <p>{{ widget|trans_fallback('twoDescription')|raw }}</p>
    </div>
    <div class="item-good-practice">
        <i class="icon {{ widget|trans_fallback('threeIcon') }}"></i>
        <p>{{ widget|trans_fallback('threeDescription')|raw }}</p>
    </div>
    <div class="item-good-practice">
        <i class="icon {{ widget|trans_fallback('fourIcon') }}"></i>
        <p>{{ widget|trans_fallback('fourDescription')|raw }}</p>
    </div>
</div>