<div class="contain-good-practice description">
    <div class="item-good-practice">
        <i class="icon {{ widget|trans_fallback('oneIcon') }}"></i>
        {{ widget|trans_fallback('oneDescription')|raw }}
    </div>
    <div class="item-good-practice">
        <i class="icon {{ widget|trans_fallback('twoIcon') }}"></i>
        {{ widget|trans_fallback('twoDescription')|raw }}
    </div>
    <div class="item-good-practice">
        <i class="icon {{ widget|trans_fallback('threeIcon') }}"></i>
        {{ widget|trans_fallback('threeDescription')|raw }}
    </div>
    <div class="item-good-practice">
        <i class="icon {{ widget|trans_fallback('fourIcon') }}"></i>
        {{ widget|trans_fallback('fourDescription')|raw }}
    </div>
</div>