{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}

{#<div id="main" class="list-article jurys-list loading">#}
<div id="main" class="list-article jurys-list">
    <div class="bandeau-list">
        <div class="bandeau-list-img bandeau-head vCenter" style="background-image:url({{ asset('bundles/fdcevent/img/jurys/bandeau.jpg') }})">
            <div class="vCenterKid">
                <h2 class="title title-list-header">{{ 'juries.title.lesjurys'|trans }}</h2>
            </div>
        </div>
        <ul class="sub-nav-list">
            <li>
                <a href="{{ path('fdc_event_jury_get', {'section': 'longs-metrages'}) }}"
                   class="{% if app.request.attributes.get('section') == 'longs-metrages' %}active{% endif %} ajax">
                    {{ 'juries.nav.longsmetrages'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('fdc_event_jury_get', {'section': 'cinefondation'}) }}"
                   class="{% if app.request.attributes.get('section') == 'cinefondation' %}active{% endif %} ajax">
                    {{ 'juries.nav.cinefondation'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('fdc_event_jury_get', {'section': 'certain-regard'}) }}"
                   class="{% if app.request.attributes.get('section') == 'certain-regard' %}active{% endif %} ajax">
                    {{ 'juries.nav.certainregard'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('fdc_event_jury_get', {'section': 'camera-dor'}) }}"
                   class="{% if app.request.attributes.get('section') == 'camera-dor' %}active{% endif %} ajax">
                    {{ 'juries.nav.camerador'|trans }}
                </a>
            </li>
        </ul>
    </div>
    <div class="container-jurys">
        <div class="container container-list">
            <section class="categorie-items contain-jury">
                {% if president %}
                    <a href="{{ path('fdc_event_artist_get', {'slug': president.id}) }}">
                        <div class="photo-jury" style="background-image:url({{ president.img }})">
                        </div>
                    </a>
                    <div class="contain-descript">
                        <h3 class="descript-title">{{ 'juries.role.title.presidentdujury'|trans }}</h3>
                        <a href="{{ path('fdc_event_artist_get', {'slug': president.id}) }}">
                            <h2 class="descript-name">{{ president.name }}</h2>
                        </a>
                        <span class="descript-rank">{{ president.functions }}</span>
                        <p>{{ president.description|raw }}</p>
                    </div>
                {% endif %}
            </section>
            <section class="categorie-items contain-jurys-list grid">
                <h1 class="title-list-cat title">{{ 'juries.role.title.membresdujury'|trans }}</h1>
                <div id="gridJurys" class="grid-wrapper">
                    <div class="grid-sizer"></div>
                    {% for member in members %}
                        <div class="jury-box item">
                            <a href="{{ path('fdc_event_artist_get', {'slug': member.id}) }}">
                                <img src="{{ member.img }}" alt="{{ member.name }}">
                                <div class="legend">
                                    <span class="name">{{ member.name }}</span>
                                    <span class="rank">{{ member.functions }}</span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
        <div class="bandeau-list push-footer vCenter">
            <div class="bandeau-list-img  bandeau-list-footer vCenterKid" style="background-image:url({{ asset('bundles/fdcevent/img/jurys/push.jpg') }})">
                <h2 class="title title-list-header">{{ 'juries.title.retrospective'|trans }}</h2>
                <a href="#" class="bandeau-lien">
                    {% image '@FDCEventBundle/Resources/public/img/svg/arrow-right-gold.svg' %}
                    <img src="{{ asset_url }}" alt="{{ 'juries.btn.decouvrirrubrique'|trans }}" class="svg-arrow">
                    {% endimage %}
                    {{ 'juries.btn.decouvrirrubrique'|trans }}
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock body %}