<div class="innerWrapper parent">
    {% if news is not empty %}
        {% for newsItem in news %}
            {% set newsDecription = '' %}
            {% set newsDescriptionLength =  (newsItem['content'].title|length / 30)|round(0 , 'floor') %}

            {% if newsItem['content'].header is not empty %}
                {% set newsDecription = newsItem['content'].header %}
            {% elseif newsItem['text'] is not empty %}
                {% set newsDecription = newsItem['text'][0].contentText %}
            {% endif %}

            <a href="{{ path('fdc_marche_du_film_news_details', {'slug': newsItem['content'].slug}) }}">
                <div class="articles {{ newsItem['content'].translatable.theme.findTranslationByLocale(app.request.locale).slug }} events global-news" data-index="{{ loop.index0 }}">
                    <a class="color-inherit" href="{{ path('fdc_marche_du_film_news_details', {'slug': newsItem['content'].slug}) }}"><div class="readMore">...</div></a>
                    {% if newsItem['image'] is not empty %}
                    <div class="articles-img"><img src="{% path newsItem['image'][0].image|trans_fallback('file'), 'reference' %}"></div>
                    {% endif %}
                    <div class="articles-content">
                        <span class="customClass4">{{ newsItem['content'].translatable.theme.findTranslationByLocale(app.request.locale).title }} <span class="article-date">{{ newsItem['content'].translatable.publishedAt|date("d M Y") }}</span></span>
                        <h6>{{ newsItem['content'].title }}</h6>
                        {% if newsDecription|striptags|length > 210 %}
                            {% if newsItem['image'] is not empty %}
                                {% set description = newsDecription|truncate(350 - (newsDescriptionLength * 70), true, "...</p>") %}
                            {% else %}
                                {% set description = newsDecription|truncate(850 - (newsDescriptionLength * 90), true, "...</p>") %}
                            {% endif %}
                        {% else %}
                            {% set description = newsDecription %}
                        {% endif %}
                        {{ description|raw }}
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <div id="empty-news-list" class="events message">Il n'y a pas de nouvelles disponibles.</div>
    {% endif %}
</div>
