<div class="innerWrapper parent">
    {% if news is not empty %}
        {% for newsItem in news %}
            {% set newsDecription = '' %}
            {% if newsItem['image'] is not empty %}
                {% set newsTitleLength = 45 %}
                {% set newsDecriptionLength = 130 %}
            {% else %}
                {% set newsTitleLength = 75 %}
                {% set newsDecriptionLength = 400 %}
            {% endif %}

            {% if newsItem['content'].header is not empty %}
                {% set newsDecription = newsItem['content'].header %}
            {% elseif newsItem['text'] is not empty %}
                {% set newsDecription = newsItem['text'][0].contentText %}
            {% endif %}

            <a href="{{ path('fdc_marche_du_film_news_details', {'slug': newsItem['content'].slug}) }}">
                <div class="articles {{ newsItem['content'].translatable.theme.findTranslationByLocale(app.request.locale).slug }} events global-news" data-index="{{ loop.index0 }}">
                    <div class="readMore">...</div>
                    {% if newsItem['image'] is not empty %}
                    <div class="articles-img"><img src="{% path newsItem['image'][0].image|trans_fallback('file'), 'reference' %}"></div>
                    {% endif %}
                    <div class="articles-content">
                        <span class="customClass4">{{ newsItem['content'].translatable.theme.findTranslationByLocale(app.request.locale).title }} <span class="article-date">{{ newsItem['content'].translatable.publishedAt|date("d M Y") }}</span></span>
                        {% if newsItem['content'].title|length > newsTitleLength %}
                            <h6>{{ newsItem['content'].title|truncate(newsTitleLength, true, "...") }}</h6>
                        {% else %}
                            <h6>{{ newsItem['content'].title }}</h6>
                        {% endif %}
                        {% if newsDecription|striptags|length > newsDecriptionLength %}
                            {% set description = newsDecription|truncate(newsDecriptionLength, true, "...</p>") %}
                        {% else %}
                            {% set description = newsDecription %}
                        {% endif %}
                        {{ description|raw }}
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <div id="empty-news-list" class="events message">{{ 'no_news_available'|trans }}</div>
    {% endif %}
    <div id="no-filter-news" class="events message" style="display: none;">{{ 'no_news_filter_selected'|trans }}</div>
</div>
