{% trans_default_domain 'FDCCorporateBundle' %}
{% extends 'FDCCorporateBundle::layout.html.twig' %}
{% block bodyClass %}
    participate participate-accordion bright
{% endblock bodyClass %}
{% block body %}
    <section id="main">
        {% set corpo = true %}
        {% if content.mainImage is defined and content.mainImage is not null %}
            {% set mainTrans = content.mainImage.findTranslationByLocale(app.request.locale) %}
            {% if mainTrans is null or mainTrans.file is null %}
                {% set mainTrans = content.mainImage.findTranslationByLocale('fr') %}
            {% endif %}
            {% set mainImage = mainTrans.file %}
            <div class="block-push block-push-top" style="background-image: url({% path mainImage, '1280x808' %})">
                <div class="vFlexAlign">
                    <div class="txts">
                        <h1 class="title-3">{{ 'participate.guide.pratique'|trans }}</h1>
                    </div>
                </div>
            </div> <!-- end block push -->
        {% endif %}
        <div class="ajax-section">
            <div class="contain-ajax">

                <nav class="navigation-sticky">
                    <ul>
                        <li class="{% if app.request.attributes.get('slug') == 'prepare' %}active{% endif %}"><a
                                    href="{{ path('fdc_corporate_participate_guide', {'slug' : 'prepare' }) }}">{{ 'participate.prepare.sejour'|trans }}</a>
                        </li>
                        {% for data in pages %}
                            {% if data.level3 %}
                                <li class="{% if app.request.attributes.get('slug') == data|trans_fallback('slug') %}active{% endif %}">
                                    <a href="{{ path('fdc_corporate_participate_guide', {'slug' : data|trans_fallback('slug')}) }}">{{ data|trans_fallback('title') }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
                <div class="all-contain">
                    <div class="accordion">
                        <div class="block-accordion block-accordion-02">
                            {% if app.request.attributes.get('slug') == 'prepare' %}
                                {% if content.arriveDisplayInstit %}
                                    <div class="item border-top i-transport active">
                                        <div class="block-01">
                                            <div class="title-contain">
                                                <strong class="title-22">
                                                    <i class="noFloat icon {{ content.arriveIcon|icon_corpo }}"></i>{{ content|trans_fallback('arriveTitle') }}
                                                </strong>
                                                <i class="icon icon-nav-accordion icon-minus"></i>
                                            </div>
                                            {#{% if content|trans_fallback('mainDescription')|raw %}#}
                                                {#<div class="contain-infos-02">#}
                                                    {#<h3>#}
                                                        {#{{ content|trans_fallback('mainDescription')|raw }}#}
                                                    {#</h3>#}
                                                {#</div>#}
                                            {#{% endif %}#}
                                            <div class="item-manual">
                                                <div class="contain-infos">
                                                    {% for widget in content.arriveWidgets %}
                                                        {% if class(widget) == "FDCPagePrepareWidgetPicto" %}
                                                            <div class="item-infos">
                                                                {% if widget.picto is not null %}
                                                                    <i class="icon {{ widget.picto|icon_corpo }}"></i>
                                                                {% endif %}
                                                                <strong class="title-infos">{{ widget|trans_fallback('title') }}</strong>
                                                                {{ widget|trans_fallback('content')|raw }}
                                                                {% if widget|trans_fallback('btnLabel') %}
                                                                    <a href="{{ widget|trans_fallback('btnLabel') }}"
                                                                       class="btn" target="_blank">
                                                                        <i class="icon icon-create"></i>
                                                                        En savoir plus
                                                                    </a>
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if content.informationDisplayInstit %}
                                    <div class="item border-top">
                                        <div class="block-01">
                                            <div class="title-contain">
                                                <strong class="title-22">
                                                    <i class="noFloat icon {{ content.informationIcon|icon_corpo }}"></i>{{ content|trans_fallback('informationTitle') }}
                                                </strong>
                                                <i class="icon icon-nav-accordion icon-more-square"></i>
                                            </div>
                                            <div class="item-manual">
                                                <div class="contain-infos">
                                                    <div class="descrip-section">
                                                        <h4 class="descrip-participate">
                                                            {{ content|trans_fallback('informationDescription')|raw }}
                                                        </h4>
                                                    </div>
                                                    {% for widget in content.informationWidgets %}
                                                        {% if class(widget) == "FDCPagePrepareWidgetColumn" %}
                                                            {% include 'FDCEventBundle:Participate:widgets/column.html.twig' %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="item border-top">
                                    <div class="block-01">
                                        <div class="title-contain">
                                            <strong class="title-22">
                                                <i class="noFloat icon {{ content.meetingIcon|icon_corpo }}"></i>{{ content|trans_fallback('meetingTitle') }}
                                            </strong>
                                            <i class="icon icon-nav-accordion icon-more-square"></i>
                                        </div>
                                        <div class="item-manual">
                                            <div class="contain-infos">
                                                <div class="descrip-section">
                                                    {{ content|trans_fallback('meetingDescription')|raw }}
                                                </div>
                                                {% if content.meetingPdf is not null %}
                                                    {% set pdfFile = content.meetingPdf|trans_fallback('file') %}
                                                    <a href="{% path pdfFile, 'reference' %}" target="_blank" download>
                                                        {{ content|trans_fallback('meetingLabel') }}
                                                    </a>
                                                {% endif %}
                                                <div id="google-map"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if content|trans_fallback('serviceTitle') != "" or content|trans_fallback('serviceDescription')|raw != "" %}
                                    {% if content.serviceDisplayInstit %}
                                        <div class="item border-top">
                                            <div class="block-01">
                                                <div class="title-contain">
                                                    <strong class="title-22">
                                                        <i class="noFloat icon {{ content.serviceIcon|icon_corpo }}"></i>{{ content|trans_fallback('serviceTitle') }}
                                                    </strong>
                                                    <i class="icon icon-nav-accordion icon-more-square"></i>
                                                </div>
                                                <div class="item-manual">
                                                    <div class="contain-infos">
                                                        <div class="descrip-section">
                                                            {{ content|trans_fallback('serviceDescription')|raw }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% set corpo = true %}
                                {% set i = 0 %}

                                {% for s in datas.downloadSection %}
                                    {% if ( s.section.findTranslationByLocale('fr').status == constant('Base\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_PUBLISHED') ) or
                                    ( s.section.findTranslationByLocale('fr').status == constant('Base\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_PUBLISHED') and app.request.locale != 'fr' and s.section.findTranslationByLocale('fr').status == constant('Base\\CoreBundle\\Entity\\NewsArticleTranslation::STATUS_TRANSLATED')) %}
                                        {% if s.section.instit %}
                                            <div class="item border-top {% if i == 0 %}active{% endif %}">
                                                <div class="block-01">
                                                    <div class="title-contain">
                                                        <strong class="title-22">
                                                            <i class="noFloat icon {{ s.section|trans_fallback('icon')|icon_corpo }}"></i>{{ s.section|trans_fallback('title') }}
                                                        </strong>
                                                        <i class="icon icon-nav-accordion {% if i == 0 %}icon-minus{% else %}icon-more-square{% endif %}"></i>
                                                    </div>
                                                    <div class="item-manual">
                                                        <div class="contain-infos">
                                                            {% if s.section|trans_fallback('description') %}
                                                                <div class="descrip-section">
                                                                    {{ s.section|trans_fallback('description')|raw }}
                                                                </div>
                                                            {% endif %}

                                                            {#                  #}
                                                            {#     WIDGETS      #}
                                                            {#                  #}
                                                            {% for widget in s.section.widgets %}
                                                                {% if class(widget) == "FDCPageParticipateSectionWidgetTypeone" %}
                                                                    {% include 'FDCEventBundle:Participate:widgets/participate-one.html.twig' %}
                                                                {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypetwo" %}
                                                                    {% include 'FDCEventBundle:Participate:widgets/participate-two.html.twig' %}
                                                                {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypethree" %}
                                                                    {% include 'FDCEventBundle:Participate:widgets/participate-three.html.twig' %}
                                                                {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypefour" %}
                                                                    {% include 'FDCEventBundle:Participate:widgets/participate-four.html.twig' %}
                                                                {% elseif class(widget) == "FDCPageParticipateSectionWidgetTypefive" %}
                                                                    {% include 'FDCEventBundle:Participate:widgets/participate-five.html.twig' %}
                                                                {% elseif class(widget) == "FDCPageParticipateSectionWidgetSubTitle" %}
                                                                    {% include 'FDCEventBundle:Participate:widgets/participate-subtitle.html.twig' %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                        </div> <!-- fin de accordion -->
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock body %}
{% block js_end %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>{% endblock %}

