{% trans_default_domain 'FDCPressBundle' %}

<div class="nav-container active mediatheque" data-cat="{{ section.slug }}">
    <div class="wrapper">
        <div class="container-small">
            <div class="table">
                {% for film in films %}
                    {% if film.selectionSection|trans_fallback('slug') == section.slug %}
                    <div class="line">
                        <div class="container">
                            <div class="info">
                                {% media film|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_MAIN'))|first, 'film_poster_tiny' %}
                                <div class="txt">
                                    <div class="vCenter">
                                        <div class="vCenterKid">
                                            <p>
                                                {{ film|trans_fallback('title') }}
                                                {% for director in film|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                                                    <a class="director" href="{{ path('fdc_event_artist_get', {slug: director.slug }) }}">{{ director.fullName }}</a>
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% set countVideo = 0 %}
                            {% set countFolder = 0 %}
                            {% set countImage = 0 %}
                            {% for video in film.associatedMediaVideos %}
                                {% if video.mediaVideo.displayedTrailer == 1 %}
                                {% set countVideo = countVideo + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% for media in film.medias %}
                                {% if media.type == 18 %}
                                    {% set countFolder = countFolder + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% for media in film.medias %}
                                {% if media.type == 14 %}
                                    {% set countImage = countImage + 1 %}
                                {% endif %}
                            {% endfor %}
                            <div class="media folder">
                                <i class="icon icon_dossier"></i>{{ 'mediatheque.label.dossiersdepresse'|trans }} ({{ countFolder }})
                            </div>
                            <div class="media trailer">
                                <i class="icon icon_bande-annonce"></i>{{ 'mediatheque.label.bandesannonces'|trans }} ({{ countVideo }})
                            </div>
                            <div class="media photo">
                                <i class="icon icon_photo"></i>{{ 'mediatheque.label.photos'|trans }} ({{ countImage }})
                            </div>
                            <span class="plus"><i class="icon icon_case-plus"></i></span>
                            <div class="contain">
                                {% if countFolder > 0 %}
                                <div class="contain-buttons">
                                    <strong>{{ 'mediatheque.label.dossiersdepresse'|trans }}<span>({{ countFolder }})</span></strong>

                                    <div class="buttons active-btn">
                                        {% for m in film.medias %}
                                        {% if m.type == 18 %}
                                            {% if 'French' in m.media.titleVa %}
                                                <a href="{% path m.media.file, 'reference' %}" class="button"><i class="icon icon_telecharger"></i>{{ 'mediatheque.label.btn.enfrancais'|trans }}</a>
                                            {% elseif 'English' in m.media.titleVa %}
                                                <a href="{% path m.media.file, 'reference' %}" class="button"><i class="icon icon_telecharger"></i>{{ 'mediatheque.label.btn.enanglais'|trans }}</a>
                                            {% elseif 'Bilingual' in m.media.titleVa %}
                                                <a href="{% path m.media.file, 'reference' %}" class="button"><i class="icon icon_telecharger"></i>{{ 'mediatheque.label.btn.bilingue'|trans }}</a>
                                            {% else %}
                                                <a href="{% path m.media.file, 'reference' %}" class="button"><i class="icon icon_telecharger"></i>{{ 'mediatheque.label.btn.telecharger'|trans }}</a>
                                            {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </div>

                                </div>
                                {% endif %}
                                {% if countVideo %}
                                <div class="contain-buttons">
                                    <strong>{{ 'mediatheque.label.bandesannoncesetextraits'|trans }}<span>({{ countVideo }})</span></strong>

                                    <div class="buttons">
                                        {% for m in film.associatedMediaVideos %}
                                        {% if m.mediaVideo.displayedTrailer == 1 %}
                                            {% set trans = m.mediaVideo.findTranslationByLocale(app.request.locale) %}
                                            {% if trans is null or trans.file is null %}
                                                {% set trans = m.mediaVideo.findTranslationByLocale('fr') %}
                                            {% endif %}
                                                <a href="{% path trans.file, 'reference' %}" class="button"><i class="icon icon_telecharger"></i> {{ trans.title }}</a>
                                        {% endif %}
                                        {% endfor %}
                                    </div>

                                </div>
                                {% endif %}
                                {% if countImage %}
                                <div class="photos block slideshow">
                                    <div class="container">
                                        <div class="container-title">
                                            <h3 class="title-press">
                                                {{ 'mediatheque.title.photoshd'|trans }}
                                                <span class="number">({{ countImage }})</span>
                                            </h3>
                                            <div class="download-btns right-btn buttons ">
                                                <a href="{{ path('fdc_press_media_filmarchive', {'id': film.id }) }}" class="alldl button">
                                                    <i class="icon icon_telecharger"></i>
                                                    {{ 'mediatheque.btn.touttelecharger'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="grid-wrapper images">
                                            <div class="grid-sizer"></div>

                                            {% for key,m in film.medias %}
                                                {% if m.type == 14 %}
                                                    {% set imageTitle = '' %}
                                                    {% if app.request.locale == 'fr' %}
                                                        {% set imageTitle = m.media.titleVf %}
                                                    {% else %}
                                                        {% set imageTitle = m.media.titleVa %}
                                                    {% endif %}
                                                    <div class="item">
                                                        <a id='photo{{ key }}' href="{% path m.media.file, 'big' %}" class="chocolat-image ajax"
                                                           title='<h2>{{ imageTitle }}</h2>' data-credit="{{ m.media.credits }}">
                                                            {% media m.media.file, 'tiny' %}
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                            <div class="owl-carousel thumbnails">

                                                {% for key,m in film.medias %}
                                                    {% if m.type == 14 %}
                                                        {% set imageTitle = '' %}
                                                        {% if app.request.locale == 'fr' %}
                                                            {% set imageTitle = m.media.titleVf %}
                                                        {% else %}
                                                            {% set imageTitle = m.media.titleVa %}
                                                        {% endif %}
                                                        <div data-id="photo{{ key }}" class="thumb {% if key == 0 %}active{% endif %}" data-caption="{{ imageTitle }}">
                                                            {% media m.media.file, 'tiny' %}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>