{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        "bundles/fdceventmobile/css/programmation.css"
        "bundles/fdceventmobile/css/programmation_custom.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="main" class="programmation-press press-locked" data-menu="prog">
        {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
        {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}
        <div class="header-press">
            <div class="container">
                <h2>{{ 'programmation.title.programmation'|trans }}</h2>
                <div class="buttons">
                    <a href="{% path pressProjection.scheduling, 'reference' %}" class="button" download target="_blank">
                        <i class="icon icon_telecharger"></i>{{ 'programmation.btn.pdf'|trans({}, 'FDCPressMobileBundle')|upper }}
                    </a>
                </div>
            </div>
        </div>
        {% include 'FDCPressMobileBundle:Global:components/login_public.html.twig' %}

        <a class="agenda-access" href="{{ path('fdc_eventmobile_agenda_get') }}">
            <i class="icon icon_agenda-personnel"></i>
        </a>

        <section>
            <div class="contain-section">
                <div class="calendar">
                    <div id="timeline-calendar">
                        <a href="#" class="prev"><i class="icon icon_flecheGauche"></i></a>
                        <div id="timeline" class="" >
                            <div class="timeline-container">
                                {% for day in schedulingDays %}
                                    <a href="#" class="{% if day == date %}active{% endif %}"
                                       data-date="{{ day|date('Y-m-d') }}"
                                       data-day="{{ day|date('d') }}">
                                        {{ day|localizeddate('full', 'none', app.request.locale)|truncate(3, false, "") }}
                                        <span class="day">{{ day|date('d') }}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <a href="#" class="next"><i class="icon icon_fleche-right"></i></a>
                    </div>
                    {% include 'FDCEventMobileBundle:Agenda:components/filters.html.twig' %}
                    <div class="timeCol">
                        <div class="empty"></div>
                        <div class="time">08H</div>
                        <div class="time">09H</div>
                        <div class="time">10H</div>
                        <div class="time">11H</div>
                        <div class="time">12H</div>
                        <div class="time">13H</div>
                        <div class="time">14H</div>
                        <div class="time">15H</div>
                        <div class="time">16H</div>
                        <div class="time">17H</div>
                        <div class="time">18H</div>
                        <div class="time">19H</div>
                        <div class="time">20H</div>
                        <div class="time">21H</div>
                        <div class="time">22H</div>
                        <div class="time">23H</div>
                        <div class="time">00H</div>
                        <div class="time">01H</div>
                        <div class="time">02H</div>
                        <div class="time">03H</div>
                    </div>
                    <div class="venues" id="touchsurface">
                        <div class="v-wrapper">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock body %}

{% block javascripts %}
    {% javascripts
        '@FDCEventMobileBundle/Resources/public/js/programmation.js'
        '@FDCEventMobileBundle/Resources/public/js/programmation_custom.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}