{% trans_default_domain 'FDCEventBundle' %}

{% set video = video.association %}
{% set transImage = video.image.findTranslationByLocale(app.request.locale) %}
{% set transVideo = video.findTranslationByLocale(app.request.locale) %}
{% if transImage is null %}
    {% set transImage = video.image.findTranslationByLocale('fr') %}
{% endif %}

{% set transVideo = video.findTranslationByLocale(app.request.locale) %}
{% if transVideo is null %}
    {% set transVideo = video.findTranslationByLocale('fr') %}
{% endif %}
<div class="vid item-video" {% if(transVideo.jobWebmState == 3) %}data-video="{{ s3_server_video ~ transVideo.webmUrl }}"{% else %}}data-video="{{ s3_server_video ~ transVideo.mp4Url }}"{% endif %} data-poster='{% path video.image|trans_fallback('file'), '640x404' %}'>
    <div class="image-wrapper">
        <div class="img" style="background-image:url({% path video.image|trans_fallback('file'), '640x404' %})"></div>
    </div>
    <a class="linkVid" href="#"></a>
    <div class="info">
        <div class="picto vCenter">
            <div class="vCenterKid"><i class="icon icon_video"></i></div>
        </div>
        <div class="info-container">
            <div class="vCenter">
                <div class="vCenterKid">
                    <a href="#" class="category">{{ video.theme|trans_fallback('name') }}</a>
                    <a href="#" data-date="{{ video.updatedAt|date('d.m.y . h:m') }}" class="titleLink" data-title="{{ video|trans_fallback('title') }}">{{ video|trans_fallback('title')|truncate(35) }}</a>
                </div>
            </div>
        </div>
    </div>
</div>