{% trans_default_domain 'FDCPressBundle' %}
<div class="locked">
    <div class="vCenter">
        <div class="vCenterKid">
            <h3 class="title-press">
                <i class="icon icon_cadenas"></i>
                {{ 'press.header.title.contenusverouilles'|trans }}
            </h3>
            <p>{{ 'press.header.text.journalistesveuillezsaisirvotremotdepasse'|trans }}</p>
        </div>
    </div>

    <form action="{{ path("fdc_press_security_check") }}" method="post" {% if error %}class="error"{% endif %} id="lockedForm">
        <input type="hidden" id="username" name="_username" value="press" required="required" />

        <input type="password" id="password" name="_password" required="required" placeholder="{{ 'press.header.placeholder.motdepasse'|trans }}"/>

        <input type="hidden" name="_target_path" value="{{ current_route }}" />
        <input type="hidden" name="_failure_path" value="{{ current_route }}" />

        <input type="submit" id="_submit" name="_submit" value="{{ 'press.header.btn.valider'|trans }}" />
    </form>
</div>



