<article style="background-image:url({{ movie.thumbnail }})">
    <div class="bck-hover">
        <div class="contain_item">
            <img src="{{ movie.img }}" alt="{{ movie.title }}">
            <div class="infos-item-list">
                <div class="logo-palme-dor-container">
                    <i class="icon icon_palme palme-dor-img"></i>
                    <strong class="palme-dor-text verticalline">{{ 'palmares.price.palmedor'|trans }}</strong>
                </div>
                {% if movie.status is defined %}
                    <h4 class="sub-title-item">{{ movie.status }}</h4>
                {% endif %}
                <h3 class="title-item">{{ movie.title }}</h3>
                <span class="nom-item">{{ movie.author }}</span>
            </div>
        </div>
    </div>
</article>
