{% trans_default_domain 'FDCEventBundle' %}
{% set movie = award_association.film %}
{% set author = '' %}

{% set film_post_tpl = 'FDCEventBundle:Global:components/film.poster.html.twig' %}
{% set film_post_tpl_attrs = {'film': movie, 'display_film_path': true, 'film_format': 'reference' } %}

<article
        {% if movie.imageCover and movier.ImageCover.file %}
            style="background-image:url('{% path movie.imageCover.file, 'reference'  %}')"
        {% else %}
            style="background-image:url('{% include film_post_tpl with (film_post_tpl_attrs) %}')"
        {% endif %}>
    <div class="bck-hover">
        <div class="contain_item">
			<div class="image compat-object-fit-d">
            {% if movie.imageMain and movie.imageMain.file %}
                {% media movie.imageMain, '516x688' with ({'alt': (film|trans_fallback('title')?:movie.titleVO)}) %}
            {% else %}
                {% include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({'film': movie }) %}
            {% endif %}
			</div>
            <div class="infos-item-list">
                <div class="logo-palme-dor-container">
                    <i class="icon icon_palme palme-dor-img"></i>
                    <strong class="palme-dor-text verticalline">{{ award_association.award.prize|trans_fallback('title') }}</strong>
                    {% if award_association.award.prize.type == constant('Base\\CoreBundle\\Entity\\FilmPrizeInterface::TYPE_PERSON') %}
                        {% set personImage = award_association.person|film_media(constant('Base\\CoreBundle\\Entity\\FilmPersonMediaInterface::TYPE_FILM'))|first %}
                        {% if personImage %}
                            <img src="{% path personImage, 'small' %}"
                                 alt="{{ award_association.person.firstname|escape('html_attr') }} {{ award_association.person.lastname|escape('html_attr') }}"
                                 class="palme-dor-portrait">
                        {% endif %}
                    {% endif %}
                    <h3 class="title-item verticalline">{{ award_association.person.firstname }} {{ award_association.person.lastname }}</h3>
                </div>
                <h3 class="title-item">{{ movie.titleVO }}</h3>
                {% if movie.findTranslationByLocale(app.request.get('_locale')) and movie.findTranslationByLocale(app.request.get('_locale')).title %}
                    <h4 class="sub-title-item">{{ movie.findTranslationByLocale(app.request.get('_locale')).title }}</h4>
                {% endif %}
                <span class="nom-item">
                    {%- for director in movie|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) -%}
                        {% if loop.first == false %}
                            {% set author = author ~ ', ' %}
                        {% endif %}
                        {% set author = author ~ director.fullName %}
                    {%- endfor -%}
                </span>
            </div>
        </div>
    </div>
</article>
