<div class="audios" data-section="audios">
    {% for audio in movie.audios %}
        <div class="audio-player audio bigger" data-sound="{{ audio.sound }}">
            <div class="image" style="background-image: url({{ audio.image.path }});"></div>
            <a href="#" class="playpause"></a>
            <div class="off">
                <div class="vCenter">
                    <div class="vCenterKid">
                        <div class="picto"></div>
                        <div class="info">
                            <a href="#" class="category">{{ audio.theme }}</a>
                            <span class="date">{{ audio.createdAt|date('d.m.y') }}</span> . <span class="hour">{{ audio.createdAt|date('H:i') }}</span>
                            <p>{{ audio.title }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="on">
                <div class="vCenter">
                    <div class="vCenterKid">
                        <div class="duration">
                            <span class="curr">0:00</span>/<span class="total">0:00</span>
                        </div>
                        <div class="wave-container"></div>
                        <div class="volume">
                            <span></span>
                        </div>
                        <a href="#" class="fullscreen"></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>