{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="list-article films-list loading honneur-invit canne-classic selection-officielle">
        <div class="bandeau-list">
            <div class="bandeau-list-img bandeau-head vCenter" style="background-image:url('{% path page.image|trans_fallback('file'), '2560x1103' %}')">
                <div class="vCenterKid">
                    <h2 class="title title-list-header">{{ 'selection.title.selectionofficielle'|trans }}</h2>
                </div>
            </div>
            {% include 'FDCEventBundle:Movie:components/filters.html.twig' %}
        </div>
        <div class="container container-list">
            <section class="categorie-items">
                <div class="title-list-cat">
                    <h2 class="titre-document">{{ page|trans_fallback('subtitle') }}</h2>
                </div>

                {% for projection in projections %}
                    {%  if projection.programmationFilms|length > 0 %}
                        {% set film = projection.programmationFilms[0].film %}
                        {% include 'FDCEventBundle:Movie:widgets/movie.html.twig' with {'film': film, 'projection': projection} %}
                    {% endif %}
                {% endfor %}

            </section>
        </div>
        <div class="bandeau-list bandeau-list-footer push-footer vCenter">
            <div class="bandeau-list-img vCenterKid" style="{% if next is not empty %}background-image:url('{% path next.image|trans_fallback('file'), '976x535' %}{% endif %}')">
                <h2 class="title title-list-header">{{ 'selection.cinemaplage.title.competition'|trans }}</h2>
                <a href="#" class="bandeau-lien">
                    {% image '@FDCEventBundle/Resources/public/img/svg/arrow-right-gold.svg' %}
                    <img class="svg-arrow" src="{{ asset_url }}" alt="{{ 'selection.cinemaplage.btn.decouvrirlarubrique'|trans }}" />
                    {% endimage %}
                    {{ 'selection.cinemaplage.btn.decouvrirlarubrique'|trans }}
                </a>
            </div>
        </div>
    </div>

{% endblock body %}