{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="list-article films-list loading honneur-invit canne-classic selection-officielle">
        <div class="bandeau-list">
            <div class="bandeau-list-img bandeau-head vCenter" style="background-image:url('//html.festival-cannes-2016.com.ohwee.fr/img/films/selection-officielle/selection-bandeau.jpg')">
                <div class="vCenterKid">
                    <h2 class="title title-list-header">{{ 'selection.title.selectionofficielle'|trans }}</h2>
                </div>
            </div>
                {% include 'FDCEventBundle:Movie:components/filters.html.twig' %}
        </div>
        <div class="container container-list single-article">
            <div class="honneur-invit">
                <div class="bandeau-list">
                    <ul class="sub-nav-list nav-movie">
                        {% for filter in filters %}
                            <li>
                                <a href="{{ path('fdc_event_movie_classics', {'slug': filter.slug }) }}"
                                   class="{% if app.request.attributes.get('slug') == filter.slug %}active{% endif %} ajax">
                                    {{ filter.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <section class="categorie-items honneur-invit">
                    {% if content.title is defined %}
                    <div class="title-list-cat">
                        <h2 class="title-big">{{ content.title }}</h2>
                        <div class="buttons">
                            <a id="share-article" href="#" class="button">{{ 'cannesclassics.btn.partager'|trans }}</a>
                            <a href="#" class="button print">{{ 'cannesclassics.btn.imprimer'|trans }}</a>
                        </div>
                    </div>
                    {% endif %}
                    <!-- GUESTS -->
                    {% if content.guest is defined %}
                        <div class="contain-article-invit">

                        {% for guest in content.guest %}
                            <div class="title-list-cat">
                                <h2 class="title">{{ guest.fullName }}</h2>
                            </div>
                            <div class="contain-img-honneur">
                                <img src="{{ guest.image.path }}" alt="invite d honneur" class="photo-realisateur">
                                <span class="copy">{{ guest.image.copyright }}</span>
                            </div>
                            <p class="pres-honneur">
                                {{ guest.description|raw }}
                            </p>

                            <div class="small-pres">

                            {% for widget in guest.widgets %}
                                {% if widget.type == 'movie_widget_info' %}
                                    {% include 'FDCEventBundle:Movie:widgets/info.html.twig' %}

                                {% elseif widget.type == 'movie_widget_text' %}
                                    <p>
                                        {{ widget.content|raw }}
                                    </p>

                                {% elseif widget.type == 'movie_widget_trailer' %}
                                    {% include 'FDCEventBundle:Movie:widgets/trailer.html.twig' %}

                            </div>

                                {% elseif widget.type == 'movie_widget_audio' %}
                                    {% include 'FDCEventBundle:News:widgets/audio.html.twig' %}

                                {% elseif widget.type == 'movie_widget_quote' %}
                                    {% include 'FDCEventBundle:News:widgets/quote.html.twig' %}
                            <div class="small-pres container">
                                {% elseif widget.type == 'movie_widget_image' and widget.photos|length > 1 %}
                                    {% include 'FDCEventBundle:Movie:widgets/image.html.twig' with {'photos': widget.photos} %}

                                {% elseif widget.type == 'image_dual_align' %}
                                    {% include 'FDCEventBundle:Movie:widgets/dual-photo.html.twig' %}

                            </div>

                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <!-- GUESTS -->
                    <!-- SECTIONS -->
                    {% for section in content.sections %}
                    <section class="categorie-items">
                        {% if section.title is defined  %}
                            <div class="title-list-cat title-film-detail">
                                <h2 class="title">{{ section.title }}</h2>
                            {% if section.description is defined %}
                                <p class="title-item">
                                    {{ section.description }}
                                </p>
                            {% endif %}
                            </div>
                        {% endif %}

                        {% for film in section.film %}
                            <article style="background-image:url({{ film.image.path }})">
                                <div class="bck-hover">
                                    <div class="contain_item">
                                        <img src="{{ film.image.path }}" alt="images films">
                                        <div class="infos-item-list">
                                            <h3 class="title-item">{{ film.title }}</h3>
                                            <span class="nom-item">{{ film.author.fullName }}</span>
                                            <span class="date-item">{{ film.date }} - {{ film.duration }}</span>
                                            <p class="description-item">
                                                {{ film.description|raw }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </section>
                    {% endfor %}
                    {% if content.title is defined %}
                    <div class="share">
                        <p>{{ 'cannesclassics.btn.partagerlarticle'|trans }}</p>
                        <div class="buttons square">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('fdc_event_news_index') }}" class="button facebook">

							</a>
							<a href="https://twitter.com/intent/tweet?url={{ url('fdc_event_news_index') }}" class="button twitter">

							</a>
                            <a href="#" class="button link"></a>
                            <a href="#" class="button email"></a>
                            <a href="#" class="button print"></a>
                        </div>
                    </div>
                    {% endif %}
                </section>
            </div>
        </div>
        <div class="bandeau-list  bandeau-list-footer push-footer vCenter">
            <div class="bandeau-list-img vCenterKid" style="background-image:url({{ content.category.image.path }});">
                <h2 class="title title-list-header">{{ content.category.title }}</h2>
                <a href="{{ content.category.slug }}" class="bandeau-lien">
                    {% image '@FDCEventBundle/Resources/public/img/svg/arrow-right-gold.svg' %}
                    <img class="svg-arrow" src="{{ asset_url }}" alt="{{ 'cannesclassics.btn.decouvrirlarubrique'|trans }}" />
                    {% endimage %}
                    {{ 'cannesclassics.btn.decouvrirlarubrique'|trans }}
                </a>
            </div>
        </div>
    </div>
    <!-- POPIN MAIL SHARE ---->

    <!-- END POPIN MAIL SHARE -->
{% endblock body %}