{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
<div id="main" class="single-movie loading">
    <span id="addtext">{{ 'movie.btn.ajouteramaselection'|trans }}</span>
    <div id="canvasloader" class="canvasloader"></div>
    <div class="content-movie">

        {% include 'FDCEventBundle:Movie:components/pagination.html.twig' %}

        <span id="plx"></span>

        {% include 'FDCEventBundle:Movie:components/banner.html.twig' %}

        <div id="nav-movie">
            <div class="container">
                <ul>
                    <li><a href="#videos">{{ 'movie.middlenav.videos'|trans }}</a></li>
                    <li><a href="#casting">{{ 'movie.middlenav.creditcasting'|trans }}</a></li>
                    <li><a href="#photos">{{ 'movie.middlenav.photos'|trans }}</a></li>
                    <li><a href="#news">{{ 'movie.middlenav.actualites'|trans }}</a></li>
                    <li><a href="#audios">{{ 'movie.middlenav.audios'|trans }}</a></li>
                    <li><a href="#press">{{ 'movie.middlenav.infospresse'|trans }}</a></li>
                </ul>
                <div class="buttons square">
                    <a href="#" class="button facebook"><i class="icon icon_facebook"></i></a>
                    <a href="#" class="button twitter"><i class="icon icon_twitter"></i></a>
                    <a href="#" class="button link"><i class="icon icon_link"></i></a>
                    <a href="#" class="button email"><i class="icon icon_lettre"></i></a>
                    <a href="#" class="button print"><i class="icon icon_print"></i></a>
                </div>
            </div>
        </div>

        {% include 'FDCEventBundle:Movie:widgets/video.html.twig' %}

        <div class="container">

            {% include 'FDCEventBundle:Movie:widgets/casting.html.twig' %}

            {% include 'FDCEventBundle:Movie:widgets/image.html.twig' with {'photos': movie.photos} %}

            <div class="news" data-section="news">
                <div class="articles center">
                {% for article in movie.articles %}
                    {% include 'FDCEventBundle:News:widgets/article.html.twig' %}
                {% endfor %}
                </div>
            </div>

            <div class="audios" data-section="audios">
            {% for widget in movie.audios %}
                {% include 'FDCEventBundle:News:widgets/audio.html.twig' %}
            {% endfor %}
            </div>

        </div>

        {% include 'FDCEventBundle:Movie:components/contact.html.twig' %}

        {% include 'FDCEventBundle:Movie:widgets/competition.html.twig' %}

    </div>
    <span class="anim"></span>
</div>
{% endblock body %}