{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% trans_default_domain 'BaseAdminBundle' %}

{% block field %}
    {% if admin.hasRoute('edit') %}
        {% if field_description.options.locales is defined and field_description.options.locales|length %}
            {% set locales = field_description.options.locales %}
        {% endif %}
        {% for locale in locales %}
            {% if is_granted('ROLE_TRANSLATE_' ~ locale|upper) %}
                {% set trans = object.findTranslationByLocale(locale) %}
                {% if trans is not null %}
                    {% set tooltip = '' %}
                    {% set isTranslator = false %}
                    {% if
                        is_granted('ROLE_TRANSLATOR_FR') == true or
                        is_granted('ROLE_TRANSLATOR_EN') == true or
                        is_granted('ROLE_TRANSLATOR_ES') == true or
                        is_granted('ROLE_TRANSLATOR_ZH') == true
                    %}
                        {% set isTranslator = true %}
                    {% endif %}
                    {% if trans.lockedBy is not null %}
                        {% if isTranslator == false %}
                            {% set tooltip = 'list.tooltip.modified_by'|trans ~ '<b>' ~ trans.lockedBy.fullName ~ ' </b>(' ~ trans.lockedBy.groups|join(', ') ~ ') ' ~ 'list.tooltip.since'|trans ~ ' ' ~ trans.lockedAt|date('d/m/Y H:i') ~ '<div><i class="fdc-tooltip-lock-icon fa fa-lock"></i><a href="' ~ admin.generateObjectUrl('edit', object) ~ '?locale=' ~ locale  ~ '" class="fdc-translation-unlock" data-id="' ~ object.id ~ '">' ~ 'list.tooltip.unlock'|trans ~'</a></div>' %}
                        {% else %}
                            {% set tooltip = 'Ce contenu est bloqué par un autre utilisateur, vous n\'avez pas les droits pour le débloquer.' %}
                        {% endif %}
                    {% endif %}
                    <a class="fdc-check-lock-list{% if trans.lockedBy is not null %} fdc-is-locked{% endif %}" href="{% if trans.lockedBy is not null %}#{% else %}{{ admin.generateObjectUrl('edit', object) }}?locale={{ locale }}{% endif %}">
                        <div {% if trans is not null %}{% if trans.lockedBy is not null %}fdc-tooltip="{{ tooltip }}"{% endif %}{% endif %} class="fdc-list-translation-type-square{% if trans is not null %} {{ trans.status|translate_status_to_admin_class }}{% if trans.lockedBy is not null %} fdc-status-locked-bg-color{% endif %}{% endif %}">
                            {{ locale }}
                        </div>
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}