{% trans_default_domain 'FDCEventBundle' %}
<div class="footer-menu">
    <ul>
        <li class="copyright">{{ 'footer.nav.copyright'|trans }} {{ 'now'|date('Y') }}</li>
        {% for element in footer %}
            {% if element.route == 'fdc_event_footer_contact' and element.enabled == true %}
            <li>
                <a href="{{ path('fdc_event_footer_contact') }}">
                    {{ 'footer.nav.contact'|trans }}
                </a>
            </li>
            {% elseif element.transName == 'footer.nav.faq' and element.enabled == true %}
                <li>
                    <a href="{{ path('fdc_event_footer_faq') }}">
                        {{ 'footer.nav.faq'|trans }}
                    </a>
                </li>
            {% elseif element.transName == 'footer.nav.credit' and element.enabled == true %}
                <li>
                    <a href="{{ path('fdc_event_footer_credits') }}">
                        {{ 'footer.nav.credit'|trans }}
                    </a>
                </li>
            {% elseif element.transName == 'footer.nav.mentionslegales' and element.enabled == true %}
                <li>
                    <a href="{{ path('fdc_event_footer_mentionslegales') }}">
                        {{ 'footer.nav.mentionslegales'|trans }}
                    </a>
                </li>
            {% elseif element.transName == 'footer.nav.nousrejoindre' and element.enabled == true %}
                <li>
                    <a href="{{ path('fdc_event_footer_static', {'page': 'nous-rejoindre'}) }}">
                        {{ 'footer.nav.nousrejoindre'|trans }}
                    </a>
                </li>
            {% elseif element.transName == 'footer.nav.plandusite' and element.enabled == true %}
                <li>
                    <a href="{{ path('fdc_event_footer_sitemap') }}">
                        {{ 'footer.nav.plandusite'|trans }}
                    </a>
                </li>
            {% elseif element.transName == 'footer.nav.politiqueconfidentialite' and element.enabled == true %}
                <li>
                    <a href="{{ path('fdc_event_footer_privacy') }}">
                        {{ 'footer.nav.politiqueconfidentialite'|trans }}
                    </a>
                </li>
            {% elseif element.transName == 'footer.nav.boutique' and element.enabled == true  %}
                <li>
                    <a href="{{ footer_boutique }}">
                        {{ 'footer.nav.boutique'|trans }}
                    </a>
                </li>
            {% endif %}

        {% endfor %}
    </ul>
</div>