{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="searchpage loading">
        <span id="addtext">{{ 'search.btn.ajouteramaselection'|trans }}</span>

        <div class="wrapper">
            {% set nbResult =
            searchResult.count.artist +
            searchResult.count.film +
            searchResult.count.actualite +
            searchResult.count.info +
            searchResult.count.statement +
            searchResult.count.media +
            searchResult.count.event +
            searchResult.count.participate
            %}

            {% include 'FDCEventBundle:Global:components/search.categories.html.twig' %}

            <ul id="suggest"></ul>
            <div id="searchContainer">
                <div class="container">

                    <div id="count">
                        <span>{{ nbResult }}</span>
                        {{ 'search.result.label.resultats'|trans }}
                    </div>
                    {{ render(controller('FDCEventBundle:Global:search', { 'searchTerm': searchTerm })) }}
                    <div id="results">
                        <div id="filtered">

                            {% include 'FDCEventBundle:Global:components/search.filters.html.twig' %}

                            <div id="filteredContent"></div>
                        </div>
                        <div id="wide" class="resultWrapper">
                            
                            {% if searchResult.category.actualite|length %}
                            <div class="resultsContainer">
                                <h2 class="titleSection">{{ 'search.result.title.actualites'|trans }}</h2>
                                <a href="#" data-class="news" data-ajax="searchNews.html" class="view-all ajax">
                                    {{ 'search.result.btn.toutvoir'|trans }}
                                </a>

                                <div id="newsResults">
                                    {% include 'FDCEventBundle:Search:news.html.twig' with { 'items': searchResult.category.actualite } %}
                                </div>
                            </div>
                            {% elseif searchResult.category.artist|length %}
                                <div class="resultsContainer">
                                    <h2 class="titleSection">{{ 'search.result.title.artistes'|trans }}</h2>
                                    <a href="#" class="view-all ajax" data-ajax="ajax/artist/{{ searchTerm }}" data-class="artists">
                                        {{ 'search.result.btn.toutvoir'|trans }}
                                    </a>
                                    <div id="artistsResults">
                                        {% include 'FDCEventBundle:Search:artist.html.twig' with { 'items': searchResult.category.artist } %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="resultsContainer">
                                    <h2 class="titleSection">{{ 'search.result.title.artistes'|trans }}</h2>
                                    <a href="#" class="view-all ajax" data-ajax="ajax/artist/{{ searchTerm }}" data-class="artists">
                                        {{ 'search.result.btn.toutvoir'|trans }}
                                    </a>
                                    <div id="artistsResults">
                                        {% include 'FDCEventBundle:Search:artist.html.twig' with { 'items': searchResult.category.artist } %}
                                    </div>
                                </div>
                            {% endif %}
                            
                            {% if searchResult.category.info|length %}
                            <div class="resultsContainer">
                                <h2 class="titleSection">{{ 'search.result.title.infos'|trans }}</h2>
                                <a href="#" class="view-all ajax" data-ajax="searchCommuniques.html" data-class="communiques">
                                    {{ 'search.result.btn.toutvoir'|trans }}
                                </a>

                                <div id="communiquesResults">
                                    {% include 'FDCEventBundle:Search:info.html.twig' with { 'items': searchResult.category.info } %}
                                </div>
                            </div>
                            {% endif %}
                            {% if searchResult.category.statement|length %}
                            <div class="resultsContainer">
                                <h2 class="titleSection">{{ 'search.result.title.communiques'|trans }}</h2>
                                <a href="#" class="view-all ajax" data-ajax="searchCommuniques.html" data-class="communiques">
                                    {{ 'search.result.btn.toutvoir'|trans }}
                                </a>

                                <div id="communiquesResults">
                                    {% include 'FDCEventBundle:Search:statement.html.twig' with { 'items': searchResult.category.statement } %}
                                </div>
                            </div>
                            {% endif %}
                            {% if searchResult.category.media|length %}
                            <div class="resultsContainer">
                                <h2 class="titleSection">{{ 'search.result.title.medias'|trans }}</h2>
                                <a href="#" class="view-all ajax" data-ajax="searchMedias.html" data-class="medias">
                                    {{ 'search.result.btn.toutvoir'|trans }}
                                </a>
                                <div id="mediasResults">
                                    {% include 'FDCEventBundle:Search:media.html.twig' with { 'items': searchResult.category.media } %}
                                </div>
                            </div>
                            {% endif %}
                            {% if searchResult.category.event|length %}
                            <div class="resultsContainer">
                                <h2 class="titleSection">{{ 'search.result.title.evenement'|trans }}</h2>
                                <a href="#" class="view-all ajax" data-ajax="searchEvents.html" data-class="events">
                                    {{ 'search.result.btn.toutvoir'|trans }}
                                </a>
                                <div id="eventsResults">
                                    {% include 'FDCEventBundle:Search:event.html.twig' with { 'items': searchResult.category.event } %}
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if searchResult.category.participate|length %}
                            <div class="resultsContainer noBorder">
                                <h2 class="titleSection">{{ 'search.result.title.participer'|trans }}</h2>
                                <a href="#" class="view-all ajax" data-ajax="ajax/participate/{{ searchTerm }}" data-class="participate">
                                    {{ 'search.result.btn.toutvoir'|trans }}
                                </a>
                                <div id="participateResults">
                                    {% include 'FDCEventBundle:Search:participate.html.twig' with { 'items': searchResult.category.participate } %}
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <div id="short" class="resultWrapper">
                            
                            {% if searchResult.category.actualite|length and searchResult.category.artist|length %}
                            <div class="resultsContainer">
                                <h2 class="titleSection">{{ 'search.result.title.artistes'|trans }}</h2>
                                <a href="#" data-class="artists" data-ajax="searchArtists.html" class="view-all ajax">
                                    {{ 'search.result.btn.toutvoir'|trans }}
                                </a>
                                <div id="artistsResults">
                                    {% for artist in searchResult.category.artist %}
                                        <div class="person small">
                                            <a href="{{ path('fdc_event_artist_get', {'slug': artist.slug }) }}">
                                                {% if artist.portraitImage and artist.portraitImage|trans_fallback('file') %}
                                                    <img src="{% path artist.portraitImage|trans_fallback('file'), 'tiny' %}"
                                                         alt="{{ artist.firstname }} {{ artist.lastname }}">
                                                {% else %}
                                                    {% set media = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_JURY'))|first %}
                                                    {% if media is empty %}
                                                        {% set media = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_PERSON'))|first %}
                                                    {% endif %}
                                                    {% if media is empty %}
                                                        {% set photo = artist|film_media(constant('Base\\CoreBundle\\Entity\\FilmFilmMedia::TYPE_DIRECTOR'))|first %}
                                                    {% endif %}

                                                    {% if media is not empty %}
                                                        <img src="{% path media, 'tiny' %}"
                                                             alt="{{ artist.firstname }} {{ artist.lastname }}">
                                                    {% else %}
                                                        <img width="170" height="231" src="{{ asset('bundles/fdcevent/img/jurys/member.jpg') }}"
                                                            alt="{{ artist.firstname }} {{ artist.lastname }}">
                                                    {% endif %}
                                                {% endif %}
                                            </a>
                                            <div class="info">
                                                <div class="vCenter">
                                                    <div class="vCenterKid">
                                                        <h2>
                                                            <a href="{{ path('fdc_event_artist_get', {'slug': artist.slug }) }}">
                                                                {{ artist.fullName }}
                                                            </a>
                                                        </h2>
                                                        <span class="category">{{ artist.role }}</span>
                                                        <span class="country">{{ artist.from }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if (searchResult.category.actualite|length or searchResult.category.artist|length ) and searchResult.category.film|length%}
                            <div class="resultsContainer noBorder">
                                <h2 class="titleSection">{{ 'search.result.title.films'|trans }}</h2>
                                <a href="#" data-class="films" data-ajax="searchFilms.html" class="view-all ajax">
                                    {{ 'search.result.btn.toutvoir'|trans }}
                                </a>

                                <div id="filmsResults">
                                    {% for film in searchResult.category.film %}
                                        <div class="film small">
                                            <a href="{{ path('fdc_event_movie_get', {'slug': film.slug }) }}">
                                                {% include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({
                                                    film: film,
                                                    film_format: 'tiny',
                                                    film_image_default: 'bundles/fdcevent/img/palmares/film_w66.jpg'
                                                }) %}
                                            </a>
                                            <div class="info">
                                                <div class="vCenter">
                                                    <div class="vCenterKid">
                                                        <h2>
                                                            <a href="{{ path('fdc_event_movie_get', {'slug': film.slug }) }}">
                                                                {{ film|trans_fallback('title') }}
                                                            </a>
                                                        </h2>
                                                        <span class="category">
                                                            {{ 'search.result.film.text.de'|trans }}
                                                            
                                                            {% if film|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                                                            {% set directors = film|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                                                            {%- for key,director in directors -%}
                                                                {%- if director -%}
                                                                    {{ loop.first == true ? '' : ',' }}
                                                                    {% include 'FDCEventBundle:Movie:widgets/check_asian_name.html.twig' with {'person': director} %}
                                                                {%- endif -%}
                                                            {%- endfor -%}
                                                            {% endif %}
                                                            
                                                        </span>
                                                        <span class="country">{{ film.author }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div id="noResult">
                            <h3>{{ 'search.result.title.aucunresultat'|trans }}</h3>
                            <p class="link">
                                <a href="#">
                                    {% image '@FDCEventBundle/Resources/public/img/svg/arrow-right-gold.svg' %}
                                    <img src="{{ asset(asset_url) }}" alt="{{ 'search.result.btn.decouvrez68ansdarchives'|trans }}">
                                    {% endimage %}
                                    {{ 'search.result.btn.decouvrez68ansdarchives'|trans }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div id="footerSearch">
                    <div class="img"></div>
                    <div class="txtFooter vCenter">
                        <div class="vCenterKid">
                            <h3>{{ 'search.result.title.retrouvezdautresresultats'|trans }}</h3>

                            <h2 class="title">{{ 'search.result.title.lencyclopediedufestival'|trans }}</h2>

                            <p class="link">
                                <a href="#">
                                    <i class="icon icon_fleche-right"></i>
                                    {{ 'search.result.btn.rechercher'|trans }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}