{% trans_default_domain 'FDCEventBundle' %}

{% for article in articles %}
    <div class="article">
        <article class="{{ article.filter }}" data-format="{{ article.filter }}" data-theme="{{ article.category }}">
            <div class="image">
                <div class="image-wrapper">
                    <img src="{{ article.thumbnail }}" alt="{{ article.title }}">
                </div>
                <a href="{{ article.link }}" class="linkImage"></a>
                <span class="picto"></span>
            </div>
            <div class="info">
                <a href="#" class="category">{{ article.category }}</a><span class="date">{{ article.date }}</span> . <span class="hour">{{ article.time }}</span>
                <h2><a href="article.php">{{ article.title }}</a></h2>
            </div>
        </article>
    </div>
{% endfor %}