{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout_whichlist.html.twig' %}

{% block body %}
    <div id="main" class="list-article films-list selection-officielle selection-whislist">
        <div class="container container-list whishlist">
            <section class="categorie-items">
                <div class="title-list-cat">
                    <h2 class="titre-document">{{ 'header.whishlist.label'|trans }}</h2>
                </div>
                <div class="grid">
                    <div id="gridFilmSelection" class="grid-wrapper">
                        <div class="grid-sizer"></div>
                        {% for movie in movies %}
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="{{ path('fdc_event_movie_get', {'slug': movie.slug}) }}">
                                            {% include 'FDCEventBundle:Global:components/film.poster.html.twig' with ({
                                                film: movie,
                                                film_format: '240x320',
                                                film_image_default: 'bundles/fdcevent/img/palmares/film_w256.jpg',
                                            }) %}
                                        </a>
                                    </div>
                                    <figcaption>
                                        <a href="{{ path('fdc_event_movie_get', {'slug': movie.slug}) }}">
                                            {% if movie|trans_fallback_movie('title') != null and movie.titleVo != null and movie|trans_fallback_movie('title')|lower != movie.titleVo|lower %}
                                                <span class="name">{{ movie.titleVo }}</span>
                                                <span class="sub-name">({{ movie|trans_fallback_movie('title') }})</span>
                                            {% else %}
                                                <span class="name">{{ movie|trans_fallback('title')?:movie.titleVo }}</span>
                                            {% endif %}
                                        </a>
                                        {% for director in movie|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                                            <a href="{{ path('fdc_event_artist_get', {'slug': director.slug}) }}">
                                                <span class="author">{{ director.fullName|trim }}{{ loop.last == true ? '':', '}}</span>
                                            </a>
                                        {% endfor %}
                                    </figcaption>
                                </figure>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="share">
                    <div class="buttons square">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ urlshare }}"
                           class="button facebook"><i class="icon icon_facebook"></i></a>
                        <a href="https://twitter.com/intent/tweet?url={{ urlshare }}&text={{ 'header.whishlist.label'|trans }}"
                           class="button twitter"><i class="icon icon_twitter"></i></a>
                    </div>
                </div>
            </section>
        </div>
        <div id="landscape">
            <div class="content vCenter">
                <div class="vCenterKid">
                    {% image '@FDCEventBundle/Resources/public/img/MobileTurn.svg' %}
                    <img src="{{ asset_url }}" alt="">
                    {% endimage %}
                    <p>{{ 'Tournez votre smartphone pour accéder au site'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}