
{%- if link is defined and link == false -%}
    {%- if person.asianName -%}
        {{- person.lastName ~ ' ' ~ person.firstName -}}
    {%- else -%}
        {{- person.fullName -}}
    {%- endif -%}
{%- else -%}
    {%- if person.asianName -%}
    <a href="{{- path('fdc_eventmobile_artist_get', {slug: person.slug }) -}}" class="director" >
        <span class="name-item" style="font-size: 19px;">{{- person.lastName ~ ' ' ~ person.firstName -}}</span>
    </a>
    {%- else -%}
        <a href="{{- path('fdc_eventmobile_artist_get', {slug: person.slug }) -}}" class="director">
            <span class="name-item" style="font-size: 19px;">{{- person.fullName -}}</span>
        </a>
    {%- endif -%}
{%- endif -%}