{% trans_default_domain 'FDCEventBundle' %}

<div class="competition">
    <h2 class="title">{{ movie.selectionSection|trans_fallback('name') }} {{ "now"|date('Y') }}</h2>
    <div id="slider-competition" class="owl-carousel sliderDrag">
        {% for movie in movies %}
            <div class="slide">
                {% include 'FDCEventMobileBundle:Global:components/film.poster.html.twig' with ({
                    film: movie,
                    film_format: 'mobile',
                    film_image_default: 'bundles/fdcevent/img/palmares/film_w210.jpg'
                }) %}
                <a class="linkVid" href="{{ path('fdc_event_movie_get', {'slug': movie.slug}) }}"></a>
                <div class="info-movie">
                    <p>
                        <a href="{{ path('fdc_event_movie_get', {'slug': movie.slug}) }}">
                            {% if movie|trans_fallback('title') is not empty %}
                                {{ movie|trans_fallback('title') }}
                            {% else %}
                                {{ movie.titleVO }}
                            {% endif %}
                        </a>
                    </p>
                    {% set directors = movie|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                    {% for director in directors %}
                        {% include 'FDCEventMobileBundle:Movie:widgets/check_asian_name.html.twig' with {'person': director} %}
                        {% if loop.index != directors|length %}
                            ,
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>