{% trans_default_domain 'FDCEventBundle' %}

<div class="section competition">
    <h3 class="title-section">{{ movie.selectionSection|trans_fallback('name') }} {{ "now"|date('Y') }}</h3>
    <div class="owl-carousel competition-carousel">
        {% for movie in movies %}
            <div data-id="film{{ loop.index }}" class="thumb active">
                <a href="{{ path('fdc_eventmobile_movie_get', {'slug': movie.slug}) }}">
                    <div class="img-container" style="background-image:url(
                {% include 'FDCEventMobileBundle:Global:components/film.poster.html.twig' with ({
                    film: movie,
                    display_film_path: true,
                    film_format: 'mobile',
                    film_image_default: 'bundles/fdcevent/img/palmares/film_w210.jpg'
                }) %})"></div>
                </a>
                <div class="info">
                    <p>
                        <a class="film_title" href="{{ path('fdc_eventmobile_movie_get', {'slug': movie.slug}) }}">
                            <span class="item-title">{{ movie.titleVO|truncate(20) }}</span>
                            {% if movie|trans_fallback('title') is not empty and movie|trans_fallback('title') != movie.titleVO %}
                                <span class="item-sub-title">
                                    ({{ movie|trans_fallback('title')|truncate(25) }})
                                </span>
                            {% endif %}
                        </a>
                    </p>
                    {% set directors = movie|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
                    {% for director in directors %}
                        <div>
                            {% include 'FDCEventMobileBundle:Movie:widgets/check_asian_name.html.twig' with {'person': director, 'isLast': loop.last} %}
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
