{% trans_default_domain 'FDCEventBundle' %}


<div class="movie-container" data-id="film{{ film.id }}">
    <a href="{{ path('fdc_eventmobile_movie_get', { slug: film.slug }) }}">
        <div class="img" style="background-image:url('{% spaceless %}
        {% include 'FDCEventMobileBundle:Global:components/film.cover.html.twig' with ({
        film: film,
        display_film_path: true,
        film_format: '2560x1103',
        film_image_default: '/bundles/fdccorporate/media/images/film_w256.jpg',
        display_film_path: true
        }) %}
    {% endspaceless %}')">
        </div>
    </a>
    <div class="infos-item-list">
        <p class="date-pres-item">
            {%- if projection is defined and projection is not empty -%}
                {%- set substr = projection.startsAt|localizeddate('full', 'none', app.request.locale)|split(' ') -%}
                {%- for i in 0..2 -%}{{- substr[i] }} {% endfor -%}
                <span class="hour-pres-item">{{- projection.startsAt|date('H:i') -}}</span>
            {%- endif -%}
        </p>
        <h3 class="title-item">
            <a href="{{ path('fdc_eventmobile_movie_get', { slug: film.slug }) }}">
                {{- film.titleVO -}}
            </a>
            {% if film|trans_fallback_movie('title') is not empty and film|trans_fallback_movie('title') != film.titleVO %}
                {% set titleTranslated = film|trans_fallback_movie('title') %}
            {% endif %}
            {% if titleTranslated is defined %}
                <p class="subtitle">
                    <a href="{{ path('fdc_eventmobile_movie_get', { slug: film.slug }) }}">
                        ( {{ titleTranslated }} )
                    </a>
                </p>
            {% endif %}
        </h3>
            {% set directors = film|film_function(constant('Base\\CoreBundle\\Entity\\FilmFunction::FUNCTION_DIRECTOR')) %}
            {%- for director in directors -%}
                {%- include 'FDCEventMobileBundle:Movie:widgets/check_asian_name.html.twig' with {'person': director} -%}
                {%- if loop.index != directors|length %}, {% endif -%}
            {%- endfor -%}

        <p style="font-family: 'Camphor W01 Bold', Arial, Helvetica, sans-serif;color: #999999;font-size: 18px;margin-top: 8px;" >
            {% set duration = [] %}
            {% if film.duration is not empty %}
                {% set duration = film.duration|split('.') %}
            {% endif %}
            {% if film.productionYear is not null and  film.productionYear != 0 %}{{ film.productionYear }}
                {% if duration|length > 0 and duration[0] > 0 %}
                    -
                {% endif %}
            {% endif %}
            {% if duration|length > 0 and duration[0] > 0 %}
                {% set hours = (duration[0] / 60)|round(0, 'floor') %}
                {% set minutes = duration[0] % 60 %}
                {{ "%02d"|format(hours) }}:{{ "%02d"|format(minutes) }}
            {% endif %}
        </p>
        <p class="text">
            {% if restauration is defined and restauration == true and film|trans_fallback('infoRestauration')|trim %}
                {{- film|trans_fallback('infoRestauration')|truncate(220)|nl2br|raw -}}
            {% else %}
                {{- film|trans_fallback('synopsis')|truncate(220)|nl2br|raw -}}
            {% endif %}
        </p>
    </div>
</div>