
{% set image = widget.news.header|trans_fallback('file') %}
{% set video = widget.file|trans_fallback('file') %}
{% set object = widget.news %}
{% set header = object.header %}
{% if header is not null %}
    {% set imageTrans = object.header.findTranslationByLocale(app.request.locale) %}
    {% if imageTrans is null or imageTrans.file is null %}
        {% set imageTrans = object.header.findTranslationByLocale('fr') %}
    {% endif %}
{% endif %}
{% if object.video is not null %}
	{% set video = widget.video|trans_fallback('file') %}
	{% if object.video.image is not null %}
	    {% if imageTrans is defined %}
	        {% set image = imageTrans.file %}
	    {% else %}
	        {% set header = object.video.image %}
	        {% set imageTrans = header.findTranslationByLocale(app.request.locale) %}
	        {% if imageTrans is null or imageTrans.file is null %}
	            {% set imageTrans = header.findTranslationByLocale('fr') %}
	        {% endif %}

	        {% set image = imageTrans.file %}
	    {% endif %}
	{% endif %}
{% endif %}
<div id="videoplayer-{{ random() }}" class="Article-videoPlayer" 
data-poster="{% path image, 'reference' %}" 
data-file="{{ s3_server_video ~ video }}" 
data-title="{{ widget.news|trans_fallback('title') }}"
data-desc="<h4>Discours</h4> <p>{{ widget.news.updatedAt|date('d.m.y') }}&nbsp;&nbsp;.&nbsp;&nbsp;{{ widget.news.updatedAt|date('H:i') }}"
id="videoPlayer1" >
</div>