{{ widget.header|trans_fallback('title') }}
{{ widget.header|trans_fallback('description') }}
{{ widget.header|trans_fallback('createdAt') }}
<div class="Article-videoPlayer">
          <a class="Article-videoPlayer-play" href="#"></a>
          <video preload="none" style="background-image: url({{ widget.header|trans_fallback('file') }})">
            <source src="{{ asset('bundles/fdcevent/medias/placeholder.mp4') }}" type="video/mp4"/>
          </video>
          <div class="Article-videoPlayer-caption">
            <h4>Discours</h4> <p>18.05.15&nbsp;&nbsp;.&nbsp;&nbsp;09:00</p>
            <strong>Vincent Lindon - Discours</strong>
          </div>
        </div>