{% set file = widget.file %}
{% set trans = get_available_video(file, false, app.request.locale) %}

{% if trans is null or trans.file is null or trans.jobMp4State != 3 or trans.mp4Url is null or trans.webmUrl is null %}
	{% set trans = file.findTranslationByLocale('fr') %}
{% endif %}

{% if imageTrans is defined %}
	{% set image = imageTrans.file %}
{% endif %}
{% if image is not defined and trans.imageAmazonUrl is not null %}
	{% set image_s3 = s3_server_video ~ trans.imageAmazonUrl %}
{% endif %}
{{ image }}
<div id="videoplayer-{{ random() }}" class="Article-videoPlayer" 
data-poster="{% if image is defined %}{% path image, 'reference' %}{% elseif image_s3 is defined %}{{ image_s3 }}{% endif %}"
data-file="{{ s3_server_video ~ trans.mp4Url }}"
{% if redactional is defined and redactional is not null %}
data-title="<h4>Discours</h4> <p>{{ redactional.updatedAt|date('d.m.y') }}&nbsp;&nbsp;.&nbsp;&nbsp;{{ redactional.updatedAt|date('H:i') }}</p>"
data-desc="{{ redactional|trans_fallback('title') }}"
{% else %}
data-title="<h4>{{ file.theme|trans_fallback('name') }}</h4><p>&nbsp;&nbsp;.&nbsp;&nbsp;{{ file.publishedAt|date('d.m.y') }}&nbsp;&nbsp;.&nbsp;&nbsp;{{ file.publishedAt|date('H:i') }}</p><br/>{{ trans.title }}"
{% endif %}
id="videoPlayer1" >
</div><br/><br/>