{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
    <div id="main" class="home loading">
        <span id="addtext">{{ 'home.btn.ajouteramaselection'|trans }}</span>
        <div id="sliderWrapper">
            <div id="slider" class="owl-carousel">

                {% for slide in homeSlider %}
                    <div>
                        <div class="img-container">
                            <div class="img" style="background-image:url({{ slide.image.path }})"></div>
                        </div>
                        <div class="info">
                            <span class="category">{{ slide.theme }}</span>
                            <h2>{{ slide.title }}</h2>
                        </div>
                        <a href="{{ path('fdc_event_article_get', {'id': slide.id }) }}" class="linkArticle"></a>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div id="news">
            <div id="canvasloader" class="canvasloader"></div>
            <h2 class="title">{{ 'home.btn.lactualitealaune'|trans }}</h2>

            {% include 'FDCEventBundle:Article:article.filters.html.twig' %}

            <div class="container">
                <div class="content-news">
                    <div id="articles-wrapper">
                        <div class="articles left">

                            {% for article in homeArticles.article %}
                                {% include 'FDCEventBundle:Article:article.article.html.twig' %}
                            {% endfor %}

                        </div>

                        <!-- SLIDESHOW -->
                        {% for widget in homeArticles.widgets %}
                            {% if widget.type == "image" and widget.photos|length > 1 %}
                                {% include 'FDCEventBundle:Article:article.slideshow.html.twig' %}
                            {% endif %}
                        {% endfor %}

                        <div class="articles center">

                            {% for article in homeArticles.bottomArticle %}
                                {% include 'FDCEventBundle:Article:article.article.html.twig' %}
                            {% endfor %}

                        </div>

                    </div>

                    <a href="#" class="read-more">{{ 'home.btn.afficherplusdactualite'|trans }}</a>
                </div>

                <div id="timeline">
                    {% for key, date in homeArticles.timeline %}
                        <a href="#" data-date="{{ date.date|date('d') }}" class="{% if key == 0 %}active{% endif %}">
                            {{ date.date|localizeddate('none', 'none', app.request.locale)|date('D')  }}
                            <span class="day">{{ date.date|date('d') }}</span>
                        </a>
                    {% endfor %}
                </div>
                <div id="shdMore" class="shadow-bottom"></div>
                <div id="shd" class="shadow-bottom"></div>
            </div>
        </div>

        <div id="social-wall">
            <div class="container">
                <div id="graph">
                    <ul>
                        {% for key, date in homeArticles.timeline %}
                            <li class="active">
                                {{ date.date|localizeddate('none', 'none', app.request.locale)|date('D')  }}
                                <span>{{ date.date|date('d') }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    <div id="hashtag">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                {% image '@FDCEventBundle/Resources/public/img/svg/palme.svg' %}
                                <img width="70" src="{{ asset_url }}" alt="#Cannes2016" />
                                {% endimage %}
                                #Cannes2016
                            </div>
                        </div>
                    </div>
                    <svg id="graphSVG" width="891" height="200"></svg>
                    <div id="tipGraph"></div>
                </div>
                <div id="wall">
                    <div class="post big">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                    <div class="post big">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                    <div class="post">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                    <div class="post">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                    <div class="post">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                    <div class="post">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                    <div class="post">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                    <div class="post">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                    <div class="post big right">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                    <div class="post">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                    <div class="post">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                    <div class="post">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                    <div class="post">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                    <div class="post">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                    <div class="post">
                        <div class="side side-1"></div>
                        <div class="side side-2"></div>
                    </div>
                </div>
                <div id="networks">
                    <p>{{ 'home.socials.text.suivezlefestivaldecannes' }}</p>
                    <ul>
                        <li><a class="facebook" href="{{ social_facebook }}" target="_blank">Facebook</a></li>
                        <li><a class="twitter" href="{{ social_twitter }}" target="_blank">Twitter</a></li>
                        <li><a class="instagram" href="{{ social_instagram }}" target="_blank">Instagram</a></li>
                        <li><a class="tumblr" href="{{ social_tumblr }}" target="_blank">Tumblr</a></li>
                        <li><a class="youtube" href="{{ social_youtube }}" target="_blank">Youtube</a></li>
                        <li><a class="dailymotion" href="{{ social_dailymotion }}" target="_blank">Dailymotion</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="featured-videos">
            <h2 class="title">{{ 'home.title.lesvideosalaune' }}</h2>
            <p class="link">
                <a href="{{ path('fdc_event_television_live') }}">
                    {% image '@FDCEventBundle/Resources/public/img/svg/arrow-right-gold.svg' %}
                    <img src="{{ asset_url }}" alt="{{ 'home.btn.accederalawebtv'|trans }}" />
                    {% endimage %}
                    {{ 'home.btn.accederalawebtv'|trans }}
                </a>
            </p>

            <div id="slider-videos" class="owl-carousel sliderDrag">

                {% for video in videos %}
                    {% if video.most_viewed %}
                        {% include 'FDCEventBundle:Television:television.video.date.html.twig' with {'classes': 'vid'} %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        <div id="channels">
            <h2 class="title">Les chaines</h2>
            <div id="slider-channels" class="owl-carousel sliderDrag">

                {% for video in videos %}
                    {% if video.most_viewed == false %}
                        {% include 'FDCEventBundle:Television:television.video.date.html.twig' with {'classes': 'channel'} %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        {#<div id="featured-movies">#}
            {#<div id="slider-movies" class="owl-carousel">#}

                {#{% for video in videoSlider %}#}
                    {#<div>#}
                        {#<div class="video">#}
                            {#<video preload>#}
                                {#<source src="{{ video.source.mp4 }}">#}
                                {#<source src="{{ video.source.webm }}" type="video/webm">#}
                            {#</video>#}
                            {#<div class="img" style="background-image:url({{ video.image.path }})"></div>#}
                        {#</div>#}
                        {#<div class="textVideo">#}
                            {#<div class="info">#}
                                {#<div class="vCenter">#}
                                    {#<div class="vCenterKid">#}
                                        {#<span class="category">{{ video.category }}</span>#}
                                        {#<h2>{{ video.title }}</h2>#}
                                        {#<p class="director">{{ 'home.videoslider.text.de'|trans }}#}
                                            {#<a href="#">{{ video.author.fullName }}</a>#}
                                        {#</p>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="links">#}
                                {#<a href="#" class="seances">{{ 'home.videoslider.btn.voirlesseances'|trans }}</a>#}
                                {#<a href="#" class="all">{{ 'home.videoslider.btn.touslesfilms'|trans }}</a>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#{% endfor %}#}

            {#</div>#}
        {#</div>#}
        <div class="push-container">
            <div class="container">

            {% for category in homeCategories %}
                <div class="push">
                    <div class="image-wrapper">
                        <img src="{{ category.image.path }}" alt="" />
                    </div>
                    <div class="vCenter">
                        <div class="vCenterKid">
                            <h3>{{ category.title }}</h3>
                        </div>
                    </div>
                    <a href="{{ category.href }}"></a>
                </div>
            {% endfor %}

            </div>
        </div>
        <div class="push-container white">
            <div class="container">

                {% for category in homeCategoriesFeatured %}
                    {% if category.blank %}
                        <div class="push"></div>
                    {% else %}
                        <div class="push{% if category.bigger %}bigger{% endif %}">
                            <div class="image-wrapper">
                                <img src="{{ category.image.path }}" alt="" />
                            </div>
                            <div class="vCenter">
                                <div class="vCenterKid">
                                    <h3>{{ category.title }}</h3>
                                </div>
                            </div>
                            <a href="{{ category.href }}"></a>
                        </div>
                    {% endif %}

                {% endfor %}

            </div>
        </div>
        <div id="prefooter">
            <div class="container">
                <div class="textTop">
                    <h2>Vivez le festival de Cannes</h2>
                    <h3 class="subtitle">Suivez le Festival où que vous soyez</h3>
                    <ul>
                        <li><a href="https://www.youtube.com/user/TVFestivaldeCannes" class="active" target="_blank">TV Festival de Cannes</a></li>
                        <li><a href="#">Applications Mobiles</a></li>
                        <li><a href="http://www.boutiqueofficielle.festival-cannes.com/" target="_blank">Boutique officielle</a></li>
                        <li><a href="#">Publications</a></li>
                    </ul>
                </div>
                <div id="slider-prefooter" class="owl-carousel">
                    <div class="imgSlide active bottom">
                        <div class="vCenter">
                            <div class="vCenterKidBottom">
                                <a href='https://www.youtube.com/user/TVFestivaldeCannes' target="_blank"><img src="img/prefooter/001.png" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="imgSlide bottom">
                        <div class="vCenter">
                            <div class="vCenterKidBottom">
                                <a href='#'><img src="img/prefooter/002.png" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="imgSlide">
                        <div class="vCenter">
                            <div class="vCenterKidBottom">
                                <a href='http://www.boutiqueofficielle.festival-cannes.com/' target="_blank"><img src="img/prefooter/003.png" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="imgSlide top">
                        <div class="vCenter">
                            <div class="vCenterKidBottom">
                                <a href='#'><img src="img/prefooter/004.png" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}