{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventBundle::layout.html.twig' %}

{% block body %}
{#<div id="main" class="all-photos grid loading">#}
<div id="main" class="all-videos grid">
    <h2 class="title">{{ 'article.photos.title.touteslesvideos'|trans }}</h2>

    {% include 'FDCEventBundle:Article:article.filters.html.twig' %}

    <div id="gridPhotos" class="grid-wrapper">
        <div class="grid-sizer"></div>

        {% for video in videos %}
            <div class="item {{ video.filter.theme }} {{ video.filter.date }} shadow-bottom video">
                <a id="video1" class="ajax chocolat-image" href="{{ video.image.path }}"
                   title='<span class="category">{{ video.theme }}</span><span class="date">{{ video.createdAt|date('d.m.y') }}</span><h2>{{ video.title }}</h2>'
                   data-credit="{{ video.copyright }}"></a>
                <img src="{{ video.image.src }}" srcset="{{ video.image.srcset }}" alt="">
                <div class="picto"></div>
                <div class="info">
                    <div class="vCenter">
                        <div class="vCenterKid">
                            <a href="#" class="category">{{ video.theme }}</a><span class="date">{{ video.createdAt|date('d.m.y') }}</span>
                            <p>{{ video.title }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}

