{% trans_default_domain 'FDCEventBundle' %}

<h2 class="title">{{ 'selection.title'|trans }}<strong>(<span>{{ nbArticle }}</span>)</strong></h2>

<ul class="filters-selection">
    {% for filter in filters %}
        <li><a href="#" data-selection='{{ filter }}' >{{ filter }}</a></li>
    {% endfor %}
    <li><a href="#" data-selection='suggestion' class="active">{{ 'selection.suggestion'|trans }}</a></li>
</ul>

<div id="slider-selection" class="owl-carousel">
    {% for filter in filters %}
        {{ render(controller('FDCEventBundle:Article:selection',
        { 'filter': filter }
        )) }}
    {% endfor %}
</div>
<div id="slider-suggestion" class="owl-carousel">
    {{ render(controller('FDCEventBundle:Article:suggestion',{ 'max': 8 } )) }}
</div>
<div id="toClone" class="article">

</div>



