{% trans_default_domain 'FDCEventBundle' %}
{% extends 'FDCEventMobileBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    "bundles/fdceventmobile/css/event.css"
    "bundles/fdceventmobile/css/article_custom.css"
    "bundles/fdceventmobile/css/event_custom.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="main" data-menu="selection" class="detail-event">
        {% include 'FDCEventMobileBundle:Global:menu.html.twig' %}
        {% include 'FDCEventMobileBundle:Global:my_selection.html.twig' %}
        <div class="container">
            <div class="article-title">
                <span class="category">{{ event.theme|trans_fallback('name') }}</span>
                <h2>{{ event|trans_fallback('title') }}</h2>
            </div>
            {% include 'FDCEventMobileBundle:News:widgets/single-photo.html.twig' with({'photo':event.header}) only %}

            <div class="text-content">
                <div class="chapeau">
                    {{ event|trans_fallback('introduction')|raw }}
                </div>
            </div>
            {% if event.signature  is defined and event.signature != null %}
                <div class="author">{{ event.signature  }}</div>
            {% endif %}

            {% for widget in event.widgets %}
                {% if widget.widgetType == 'EventWidgetImage' and widget.gallery.medias is defined and widget.gallery.medias|length == 1 %}
                    {% include 'FDCEventMobileBundle:News:widgets/single-photo.html.twig' with {'photo' : widget.gallery.medias[0].media } %}
                {% elseif widget.widgetType == 'EventWidgetImage' and widget.gallery.medias is defined and widget.gallery.medias|length > 1 %}
                    {% include 'FDCEventMobileBundle:News:widgets/slideshow.html.twig' %}
                {% elseif widget.widgetType == 'EventWidgetText' %}
                    {% include 'FDCEventMobileBundle:News:widgets/text.html.twig' %}
                {% elseif widget.widgetType == 'EventWidgetVideo' %}
                    <div class="section video">
                        {% include 'FDCEventMobileBundle:News:widgets/video.html.twig' with {'widget': widget} %}
                    </div>
                {% elseif widget.widgetType == 'EventWidgetVideoYoutube' %}
                    {% include 'FDCEventMobileBundle:News:widgets/video-youtube.html.twig' with {'widget': widget} %}
                {% elseif widget.widgetType == 'EventWidgetAudio' %}
                    {% if widget.title is defined %}
                        <h2 class="title">{{ widget.title }}</h2>
                    {% endif %}
                    <div class="section audio">
                        {% include 'FDCEventMobileBundle:News:widgets/audio.html.twig' with {'widget': widget} %}
                    </div>
                {% elseif widget.widgetType == 'EventWidgetQuote' %}
                    {% include 'FDCEventMobileBundle:News:widgets/quote.html.twig' %}
                {% elseif widget.widgetType == 'EventWidgetImageDualAlign' %}
                    {% include 'FDCEventMobileBundle:News:widgets/dual-photo.html.twig' %}
                {% elseif widget.widgetType == 'EventWidgetSubtitle' %}
                    <h2 class="title">{{ widget.content }}</h2>
                {% elseif widget.widgetType == 'EventWidgetMosaicMovie' %}
                    {% include 'FDCEventMobileBundle:Event:widgets/mosaic-movie.html.twig' with {'films': widget.widgetMosaicMovie.films } %}
                {% endif %}
            {% endfor %}

        </div>

        {% if programmations is not empty %}
            {#TODO create movie bloc#}
            <div class="film">
                {#<div class="info-film">
                    <div class="wrapper">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                <div class="poster">
                                    <img src="./img/article/007.jpg" alt="">
                                </div>
                                <div class="text-container">
                                    <span class="category">Un certain regard</span>
                                    <h3>A CHANGER </h3>
                                    <p class="director"><a href="#">Eric HANNEZO</a></p><p>
                                    </p><p>France - 2014</p>
                                    <p>1h35</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>#}
                <div class="programmation-film">
                    <div class="wrapper">
                        <div class="vCenter">
                            <div class="vCenterKid">
                                <span class="category">{{ 'article.film.label.programmation'|trans }}</span>
                                <ul>
                                    {% for programmation in programmations %}
                                        <li>
                                            <span class="type">{{ 'article.film.text.projection'|trans }}</span>
                                            <span>{{ programmation.startsAt|date('d-m-Y') }}</span>
                                            <span>{{ programmation.startsAt|date('H') }}h</span>
                                            <span class="location">{{ programmation.room.name }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <a href="" class="button">{{ 'article.film.btn.toutelaprojection'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock body %}

{% block javascripts %}
    {% javascripts
    '@FDCEventMobileBundle/Resources/public/js/event.js'
    '@FDCEventMobileBundle/Resources/public/js/event_custom.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}