{% trans_default_domain 'FDCEventBundle' %}
{% set header = object.header %}
{% if header is not null %}
    {% set imageTrans = object.header.findTranslationByLocale(app.request.locale) %}
    {% if imageTrans is null or imageTrans.file is null %}
        {% set imageTrans = object.header.findTranslationByLocale('fr') %}
    {% endif %}
{% endif %}
{% if object.video is not null %}
  {% if object.video.image is not null %}
      {% set cover_image = object.video.image|trans_fallback('file') %}
  {% endif %}
{% endif %}
{% if (object.video != null or object.image != null or object.header != null) %}
  {% if object.image != null %}
    {% set cover_image = object.image|trans_fallback('file') %}

  {% elseif object.imageAmazonUrl != null %}
    {% set cover_image = s3_server_video ~ object|trans_fallback('imageAmazonUrl') %}
  {% endif %}
  {% if cover_image is not defined %}
    {% set cover_image = asset('bundles/fdcevent/img/article/placeholder.png') %}
  {% endif %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Festival de Canne - Page plan</title>
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/47cc6bed-5912-4140-bc5c-4caa2425b61d.css"/>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Playfair+Display:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/fdcevent/webview/css/webview.css') }}" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  </head>
  <body class="Article">
    <article class="Article-wrapper">
      <header class="Article-header">
        {% if object is news_article %}
          <img src="{% path object.header|trans_fallback('file'), 'reference' %}"/>
        {% elseif object is news_audio %}
          {% include 'FDCEventBundle:Webview:widget/audio-header.html.twig' with { 'widget':object } %}
        {% elseif object is news_video %}
          {% include 'FDCEventBundle:Webview:widget/video-header.html.twig' with { 'widget':object } %}
        {% elseif object is news_image %}
          {% include 'FDCEventBundle:Webview:widget/slideshow.html.twig' with { 'medias': object.gallery.medias } %}
        {% endif %}
        
        <div class="Article-header-meta">
          <span class="Article-header-meta-category">{{ object.theme|trans_fallback('name') }}</span>
          <span class="Article-header-meta-date">
          <strong>
            {% set postDate = object.publishedAt|date('d-m-Y') %}
            {% set today = "now"|date('d-m-Y') %}
            {% set difference = date(today).diff(date(postDate)) %}
            {% set daysElapsed = difference.days %}
            {{ postDate }}
            {{ today }}
            {{ dump(difference) }}
            {% if daysElapsed == 1 %}

              <strong>{{ 'webview.article.yesterday_at'|trans }}</strong>  {{ object.publishedAt|date('H') }}
            {% elseif daysElapsed == 0 %}
              <strong>{{ 'webview.article.hours_elapsed'|trans }}</strong> {{ agenda_leftbar_translate_hour(object.publishedAt|date('i'), true, true) }} <strong>{{ 'webview.article.hours_elapsed_suffix'|trans }}</strong>
            {% else %}
               {{ object.publishedAt|date('d.m.y') }}</strong> {{ agenda_leftbar_translate_hour(object.publishedAt|date('H:i'), true, true) }}
            {% endif %}
           
          </span>
          {% if object is news_image %}
            <span class="Article-header-meta-misc">
            {% for media in object.gallery.medias %}
              <div class="copyright{% if loop.index == 1 %} active{% endif %}">
              <strong>{{ media.media|trans_fallback('legend') }}</strong> ©{{ media.media|trans_fallback('copyright')|replace({'©': ''}) }}
              </div>
            {% endfor %}
            </span>
          {% else %}
            {% if object.header|trans_fallback('copyright') %}
            <span class="Article-header-meta-misc"><strong>{{ object.header|trans_fallback('legend') }}</strong> ©{{ object.header|trans_fallback('copyright')|replace({'©': ''}) }}</span>
            {% endif %}
          {% endif %}
        </div>
      </header>

      <div class="Article-content">
        <h1>{{ object|trans_fallback('title') }}</h1>

        <strong>{{ object|trans_fallback('introduction')|raw }}</strong>
        
        {% for widget in object.widgets %}
            {% if class(widget) ends with 'WidgetImage' and widget.gallery.medias is defined and widget.gallery.medias|length == 1 %}
                {% include 'FDCEventBundle:Webview:widget/single-photo.html.twig' with ({
                'photo' : widget.gallery.medias[0].media,
                'photo_class' : ' large-photo'
                }) %}
            {% elseif class(widget) ends with 'WidgetImage' and widget.gallery.medias is defined and widget.gallery.medias|length > 1 %}
                {% include 'FDCEventBundle:Webview:widget/slideshow.html.twig' with {'medias': widget.gallery.medias } %}
            {% elseif class(widget) ends with 'WidgetText' %}
                {% include 'FDCEventBundle:Webview:widget/text.html.twig' %}
            {% elseif class(widget) ends with 'WidgetVideo' %}
                {% include 'FDCEventBundle:Webview:widget/video.html.twig' with {'widget': widget} %}
            {% elseif class(widget) ends with 'WidgetVideoYoutube' %}
                {% include 'FDCEventBundle:Webview:widget/video-youtube.html.twig' with {'widget': widget} %}
            {% elseif class(widget) ends with 'WidgetAudio' %}
                {% if widget.title is defined %}
                    <h2 class="title">{{ widget.title }}</h2>
                {% endif %}
                {% include 'FDCEventBundle:Webview:widget/audio.html.twig' with {'widget': widget} %}
            {% elseif class(widget) ends with 'WidgetQuote' %}
                {% include 'FDCEventBundle:Webview:widget/quote.html.twig' %}
            {% elseif class(widget) ends with 'WidgetImageDualAlign' %}
                {% include 'FDCEventBundle:Webview:widget/dual-photo.html.twig' %}
            {% endif %}
        {% endfor %}
        {% if object.signature is not null %}
        <span style="font-size:0.8rem" >{{ 'webview.article.signature_prefix'|trans }} {{ object.signature }}</span>
        {% endif %}
      </div>
      <!--div class="Article-push">
        <div class="Article-push-image">
          <img src="{{ asset('bundles/fdcevent/img/article/push-cover.png') }}" class="Article-push-cover"/>
        </div><div class="Article-push-content">
          <strong>Cinéma de la plage</strong>
          <h3>Plus fort que les bombes</h3>
          <span>Eric Hannezo</span>
          <p>France - 2014<br/>
          1h35</p>
        </div>
      </div-->
    </article>

    {% if sameDayObjects != null and object.hideSameDay == false %}
    <aside class="Article-related">
      <h2>Le même jour</h2>
      <div class="Article-related-slider-wrapper">
        <div class="Article-related-slider">
        {% for associatedNews in sameDayObjects %}
          {% set file = null %}
          {% set type = 'news' %}
          {% set variant = 'article' %}
          {% if associatedNews is news_article %}
            {% set type = 'news' %}
            {% set variant = 'article' %}
          {% elseif associatedNews is news_video %}
            {% set type = 'news' %}
            {% set variant = 'video' %}
          {% elseif associatedNews is news_audio %}
            {% set type = 'news' %}
            {% set variant = 'audio' %}
          {% elseif associatedNews is news_image %}
            {% set type = 'news' %}
            {% set variant = 'image' %}
          {% endif %}
          {%  set iconClass = 'icon-article' %}
          {%  if class(associatedNews) ends with 'Article'  %}
            {%  set iconClass = 'icon-article' %}
          {% endif %}
          {%  if class(associatedNews) ends with 'Image'  %}
            {%  set iconClass = 'icon-photo' %}
          {% endif %}
          {%  if class(associatedNews) ends with 'Audio'  %}
            {%  set iconClass = 'icon-audio' %}
          {% endif %}
          {%  if class(associatedNews) ends with 'Video'  %}
            {%  set iconClass = 'icon-video' %}
          {% endif %}
          <a href="{{ path('fdc_event_webview_article' , {'type': type, 'variant': variant, 'id':associatedNews.id }) }}" class="Article-related-slider-item">
            <div class="Article-related-slider-item-pictureWrap">

            {% if associatedNews.header is not null %}1 
              {% set header = associatedNews.header %}
              {% if header is not null %}2 
                  {% set imageTrans = header.findTranslationByLocale(app.request.locale) %}
                  {% if imageTrans is null or imageTrans.file is null %}3 
                      {% set imageTrans = header.findTranslationByLocale('fr') %}
                  {% endif %}
              {% endif %}
              {% if imageTrans is defined and imageTrans.file is not null %}4 
                  {% set img = associatedNews.header %}
                  {% set file = imageTrans.file %}
              {% else %}5 
                  {% if associatedNews.gallery and associatedNews.gallery.medias|length > 0 %}
                      {% set img = associatedNews.gallery.medias[0].media %}
                      {% set trans = img.findTranslationByLocale(app.request.locale) %}
                      {% if trans is null or trans.file is null %}6 
                          {% set trans = img.findTranslationByLocale('fr') %}
                      {% endif %}
                      {% set file = trans.file %}
                  {% endif %}
              {% endif %}

              
            {% elseif associatedNews is news_audio or associatedNews is info_audio or associatedNews is statement_audio %}7 
                {% set header = associatedNews.header %}
                {% if header is not null %}8 
                    {% set file = header|trans_fallback('file') %}
                {% endif %}
                {% set tmp = associatedNews.audio %}
                {% if tmp %}9 
                  {% if associatedNews.audio.image is not null %}10 
                    {% set file = associatedNews.audio.image|trans_fallback('file') %}
                  {% endif %}
                {% endif %}
            {% endif %}
            {{ dump(associatedNews) }}
            {% if associatedNews.video is not null %}11 
              {% if associatedNews.video.image|trans_fallback('file') %}12 
                {% set finalImage = associatedNews.video.image|trans_fallback('file') %}
              {% endif %}
              {% endif %}
            {% if file is defined and file is not null %}13 
                {% set finalImage = file %}
            {% endif %}
            {% if finalImage is defined and finalImage is not null %}14 
                <img src="{% path finalImage, 'reference' %}"/>
            {% else %}
              <img src="{{ asset('bundles/fdcevent/img/article/placeholder.jpg') }}"/>
            {% endif %}
              <i class="Article-related-slider-icon {{ iconClass }}"></i>
            </div>
            <div class="Article-related-slider-caption">
              <h4>{{ associatedNews.theme|trans_fallback('name') }}</h4> <p>18.05.15&nbsp;&nbsp;.&nbsp;&nbsp;09:00</p>
              <strong>{{ associatedNews|trans_fallback('title') }}</strong>
            </div>
          </a>
          {% endfor %}
      </div>
    </aside>
    {% endif %}
    <script type="text/javascript" src="{{ asset('bundles/fdcevent/webview/js/vendors/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fdcevent/webview/js/vendors/sly.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fdcevent/webview/js/vendors/jwplayer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fdcevent/webview/js/article.js') }}"></script>
    <script>jwplayer.key="DDlGCb2Z6Hc44IZsRCireCJGh+dhUmBcgQzM1Q==";</script>
  </body>
</html>
 